Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/renderer/shared/api/translation/locales/*.json": ["pnpm lint:i18n-fix"]
}

chore: fix mocks for tests
  src/renderer/features/balances/subscription/model/__tests__/mocks/balance-sub-mock.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: correct params for multisig invite matrix event
  src/renderer/app/providers/context/MatrixContext/MatrixContext.tsx
  src/renderer/shared/api/matrix/lib/types.ts
  src/renderer/shared/api/matrix/service/matrix.ts
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: balance update
  src/renderer/app/index.tsx
  src/renderer/entities/balance/lib/balance-utils.ts
  src/renderer/entities/balance/model/balance-model.ts
  src/renderer/features/balances/subscription/model/balance-sub-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: jest types
  src/renderer/features/balances/subscription/model/balance-sub-model.ts
  tsconfig.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: Balance loading
  src/renderer/app/index.tsx
  src/renderer/entities/balance/lib/balance-utils.ts
  src/renderer/entities/balance/model/balance-model.ts
  src/renderer/features/balances/subscription/model/balance-sub-model.ts
  tsconfig.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Balance loading (#1580)
  src/renderer/app/index.tsx
  src/renderer/entities/balance/lib/balance-utils.ts
  src/renderer/entities/balance/model/balance-model.ts
  src/renderer/features/balances/subscription/model/balance-sub-model.ts
  tsconfig.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: bug fixes for evm and multisig subscription (#1579)
  src/renderer/app/providers/context/MatrixContext/MatrixContext.tsx
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/balances/subscription/lib/balance-sub-utils.ts
  src/renderer/features/balances/subscription/model/__tests__/mocks/balance-sub-mock.ts
  src/renderer/features/balances/subscription/model/balance-sub-model.ts
  src/renderer/shared/api/matrix/lib/types.ts
  src/renderer/shared/api/matrix/service/matrix.ts
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-model.ts
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/VaultWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: bug fixes for evm and multisig subscription
  src/renderer/app/providers/context/MatrixContext/MatrixContext.tsx
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/balances/subscription/lib/balance-sub-utils.ts
  src/renderer/features/balances/subscription/model/__tests__/mocks/balance-sub-mock.ts
  src/renderer/features/balances/subscription/model/balance-sub-model.ts
  src/renderer/shared/api/matrix/lib/types.ts
  src/renderer/shared/api/matrix/service/matrix.ts
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-model.ts
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/VaultWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: list of assets for dynamic derivations
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: list of assets for dynamic derivations (#1581)
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: tests
  src/renderer/features/network/AddCustomRpcForm/ui/AddCustomRpcModal.test.tsx
  src/renderer/features/network/AddCustomRpcForm/ui/AddCustomRpcModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: more tests
  src/renderer/features/network/AddCustomRpcForm/ui/AddCustomRpcModal.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: basic transfer
  src/renderer/entities/transaction/lib/common/types.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/pages/Operations/components/ActionSteps/Submit.tsx
  src/renderer/pages/Operations/components/ShortTransactionInfo.test.tsx
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
  src/renderer/pages/Staking/Operations/components/Submit/Submit.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/AddProxyModal/lib/add-proxy-utils.ts
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddProxyModal/model/submit-model.ts
  src/renderer/widgets/RemoveProxy/ui/RemoveProxy.tsx
  src/renderer/widgets/RemoveProxy/ui/Submit.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Submit.tsx
  src/renderer/widgets/Transfer/lib/transfer-utils.ts
  src/renderer/widgets/Transfer/lib/types.ts
  src/renderer/widgets/Transfer/model/confirm-model.ts
  src/renderer/widgets/Transfer/model/form-model.ts
  src/renderer/widgets/Transfer/model/submit-model.ts
  src/renderer/widgets/Transfer/model/transfer-model.ts
  src/renderer/widgets/Transfer/ui/Confirmation.tsx
  src/renderer/widgets/Transfer/ui/SubmitTransfer.tsx
  src/renderer/widgets/Transfer/ui/Transfer.tsx
  src/renderer/widgets/Transfer/ui/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: name and reshuffle
  src/renderer/features/network/AddCustomRpcForm/index.ts
  src/renderer/features/network/CustomRpcForm/index.ts
  src/renderer/features/network/CustomRpcForm/lib/types.ts
  src/renderer/features/network/CustomRpcForm/model/__test__/add-custom-rpc-model.test.ts
  src/renderer/features/network/CustomRpcForm/model/__test__/edit-custom-rpc-model.test.ts
  src/renderer/features/network/CustomRpcForm/model/add-custom-rpc-model.ts
  src/renderer/features/network/CustomRpcForm/model/edit-custom-rpc-model.ts
  src/renderer/features/network/CustomRpcForm/ui/AddCustomRpcModal.test.tsx
  src/renderer/features/network/CustomRpcForm/ui/AddCustomRpcModal.tsx
  src/renderer/features/network/CustomRpcForm/ui/EditCustomRpcModal.test.tsx
  src/renderer/features/network/CustomRpcForm/ui/EditCustomRpcModal.tsx
  src/renderer/features/network/EditCustomRpcForm/lib/types.ts
  src/renderer/features/network/index.ts
  src/renderer/pages/Settings/Networks/components/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: refactor xcm service
  src/renderer/entities/transaction/lib/callDataDecoder.ts
  src/renderer/entities/transaction/ui/XcmFee/XcmFee.tsx
  src/renderer/entities/wallet/lib/__tests__/wallet-utils.test.ts
  src/renderer/entities/xcm/model/xcm-model.ts
  src/renderer/features/balances/subscription/lib/balance-sub-utils.ts
  src/renderer/features/balances/subscription/lib/constants.ts
  src/renderer/pages/Assets/SendAsset/SendAsset.tsx
  src/renderer/pages/Settings/Networks/components/NetworkItem/NetworkItem.tsx
  src/renderer/pages/Staking/Operations/Bond/Bond.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/pages/Staking/Operations/Destination/Destination.tsx
  src/renderer/pages/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/pages/Staking/Operations/Restake/Restake.tsx
  src/renderer/pages/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/pages/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/shared/api/xcm/__tests__/xcm-service.test.ts
  src/renderer/shared/api/xcm/__tests__/xcm-utils.test.ts
  src/renderer/shared/api/xcm/__tests__/xcmService.test.ts
  src/renderer/shared/api/xcm/index.ts
  src/renderer/shared/api/xcm/lib/constants.ts
  src/renderer/shared/api/xcm/lib/utils.ts
  src/renderer/shared/api/xcm/lib/xcm-utils.ts
  src/renderer/shared/api/xcm/service/xcmService.ts
  src/renderer/shared/api/xcm/xcmService.ts
  src/renderer/widgets/SendAssetModal/model/__tests__/send-asset.test.ts
  src/renderer/widgets/SendAssetModal/model/send-asset.ts
  src/renderer/widgets/Transfer/model/form-model.ts
  src/renderer/widgets/Transfer/model/xcm-transfer-model.ts
  src/renderer/widgets/Transfer/ui/TransferForm.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/VaultWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: edition is working
  src/renderer/features/network/CustomRpcForm/lib/utils.ts
  src/renderer/features/network/CustomRpcForm/model/__test__/edit-custom-rpc-model.test.ts
  src/renderer/features/network/CustomRpcForm/model/add-custom-rpc-model.ts
  src/renderer/features/network/CustomRpcForm/model/edit-custom-rpc-model.ts
  src/renderer/features/network/CustomRpcForm/ui/EditCustomRpcModal.tsx
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Settings/Networks/components/NetworkSelector/NetworkSelector.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: add test for edition
  src/renderer/features/network/CustomRpcForm/model/__test__/add-custom-rpc-model.test.ts
  src/renderer/features/network/CustomRpcForm/model/__test__/edit-custom-rpc-model.test.ts
  src/renderer/features/network/CustomRpcForm/ui/EditCustomRpcModal.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: cleanup
  src/renderer/features/network/CustomRpcForm/model/__test__/add-custom-rpc-model.test.ts
  src/renderer/features/network/CustomRpcForm/ui/AddCustomRpcModal.tsx
  src/renderer/features/network/CustomRpcForm/ui/EditCustomRpcModal.tsx
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Settings/Networks/components/NetworkSelector/NetworkSelector.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: tests
  src/renderer/features/network/CustomRpcForm/model/__test__/add-custom-rpc-model.test.ts
  src/renderer/features/network/CustomRpcForm/model/__test__/edit-custom-rpc-model.test.ts
  src/renderer/features/network/CustomRpcForm/model/edit-custom-rpc-model.ts
  src/renderer/features/network/CustomRpcForm/ui/EditCustomRpcModal.test.tsx
  src/renderer/pages/Settings/Networks/components/NetworkSelector/NetworkSelector.test.tsx
  src/renderer/pages/Settings/Networks/components/NetworkSelector/NetworkSelector.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: tests again?
  src/renderer/features/network/CustomRpcForm/model/add-custom-rpc-model.ts
  src/renderer/features/network/CustomRpcForm/model/edit-custom-rpc-model.ts
  src/renderer/features/network/CustomRpcForm/ui/AddCustomRpcModal.test.tsx
  src/renderer/features/network/CustomRpcForm/ui/AddCustomRpcModal.tsx
  src/renderer/features/network/CustomRpcForm/ui/EditCustomRpcModal.test.tsx
  src/renderer/features/network/CustomRpcForm/ui/EditCustomRpcModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: tests bis
  src/renderer/features/network/CustomRpcForm/ui/EditCustomRpcModal.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: test on validate rather than submit
  src/renderer/features/network/CustomRpcForm/model/__test__/add-custom-rpc-model.test.ts
  src/renderer/features/network/CustomRpcForm/model/__test__/edit-custom-rpc-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: fix Networks test
  src/renderer/features/network/CustomRpcForm/ui/AddCustomRpcModal.test.tsx
  src/renderer/pages/Settings/Networks/Networks.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: add deploy to s3
  .github/workflows/deploy_to_bucket.yml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: xcm transfer model
  src/renderer/features/balances/subscription/lib/balance-sub-utils.ts
  src/renderer/features/network/NetworkList/model/active-networks-model.ts
  src/renderer/features/network/NetworkList/model/inactive-networks-model.ts
  src/renderer/shared/api/xcm/service/xcmService.ts
  src/renderer/shared/config/chains/chains_dev.json
  src/renderer/shared/lib/utils/substrate.ts
  src/renderer/widgets/SendAssetModal/model/send-asset.ts
  src/renderer/widgets/Transfer/model/form-model.ts
  src/renderer/widgets/Transfer/model/xcm-transfer-model.ts
  src/renderer/widgets/Transfer/ui/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: remove useless file
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Settings/Networks/components/CustomRpcModal/AddCustomRpcModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: address comments, hopefully all
  src/renderer/entities/network/model/__tests__/network-model.test.ts
  src/renderer/features/contacts/CreateContactForm/ui/CreateContactForm.tsx
  src/renderer/features/contacts/EditContactForm/ui/EditContactForm.tsx
  src/renderer/features/network/CustomRpcForm/lib/utils.ts
  src/renderer/features/network/ManageCustomRpcNode/index.ts
  src/renderer/features/network/ManageCustomRpcNode/lib/constants.ts
  src/renderer/features/network/ManageCustomRpcNode/lib/types.ts
  src/renderer/features/network/ManageCustomRpcNode/lib/utils.ts
  src/renderer/features/network/ManageCustomRpcNode/model/__test__/add-custom-rpc-model.test.ts
  src/renderer/features/network/ManageCustomRpcNode/model/__test__/edit-custom-rpc-model.test.ts
  src/renderer/features/network/ManageCustomRpcNode/model/add-custom-rpc-model.ts
  src/renderer/features/network/ManageCustomRpcNode/model/edit-custom-rpc-model.ts
  src/renderer/features/network/ManageCustomRpcNode/ui/AddCustomRpcModal.test.tsx
  src/renderer/features/network/ManageCustomRpcNode/ui/AddCustomRpcModal.tsx
  src/renderer/features/network/ManageCustomRpcNode/ui/EditCustomRpcModal.test.tsx
  src/renderer/features/network/ManageCustomRpcNode/ui/EditCustomRpcModal.tsx
  src/renderer/features/network/index.ts
  src/renderer/features/wallets/ImportKeys/lib/__tests__/import-keys-model.test.ts
  src/renderer/features/wallets/RenameWallet/ui/RenameWalletModal.tsx
  src/renderer/pages/Onboarding/Vault/ManageVault/ManageVault.tsx
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Settings/Networks/components/NetworkSelector/NetworkSelector.tsx
  src/renderer/pages/Settings/Networks/components/index.ts
  src/renderer/shared/lib/utils/strings.ts
  src/renderer/widgets/WalletDetails/model/__tests__/vault-details-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: xcm transaction
  src/renderer/entities/transaction/ui/XcmFee/XcmFee.tsx
  src/renderer/entities/transaction/ui/XcmFeeWithLabel/XcmFeeWithLabel.tsx
  src/renderer/entities/transaction/ui/index.ts
  src/renderer/shared/api/xcm/lib/xcm-utils.ts
  src/renderer/shared/api/xcm/service/xcmService.ts
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
  src/renderer/widgets/Transfer/lib/constants.ts
  src/renderer/widgets/Transfer/lib/xcm-transfer-utils.ts
  src/renderer/widgets/Transfer/model/form-model.ts
  src/renderer/widgets/Transfer/model/xcm-transfer-model.ts
  src/renderer/widgets/Transfer/ui/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: using pending state
  src/renderer/features/network/ManageCustomRpcNode/model/add-custom-rpc-model.ts
  src/renderer/features/network/ManageCustomRpcNode/model/edit-custom-rpc-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: enhance typing
  src/renderer/features/network/ManageCustomRpcNode/lib/types.ts
  src/renderer/features/network/ManageCustomRpcNode/model/add-custom-rpc-model.ts
  src/renderer/features/network/ManageCustomRpcNode/model/edit-custom-rpc-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: xcm validation
  src/renderer/shared/config/chains/chains_dev.json
  src/renderer/widgets/Transfer/model/form-model.ts
  src/renderer/widgets/Transfer/ui/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: no useUnit for events
  src/renderer/pages/Settings/Networks/Networks.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: renaming and use single export object
  src/renderer/features/contacts/CreateContactForm/ui/CreateContactForm.tsx
  src/renderer/features/network/ManageCustomRpcNode/lib/custom-rpc-constants.ts
  src/renderer/features/network/ManageCustomRpcNode/lib/custom-rpc-types.ts
  src/renderer/features/network/ManageCustomRpcNode/lib/custom-rpc-utils.ts
  src/renderer/features/network/ManageCustomRpcNode/model/__test__/add-custom-rpc-model.test.ts
  src/renderer/features/network/ManageCustomRpcNode/model/__test__/edit-custom-rpc-model.test.ts
  src/renderer/features/network/ManageCustomRpcNode/model/add-custom-rpc-model.ts
  src/renderer/features/network/ManageCustomRpcNode/model/edit-custom-rpc-model.ts
  src/renderer/features/network/ManageCustomRpcNode/ui/AddCustomRpcModal.test.tsx
  src/renderer/features/network/ManageCustomRpcNode/ui/EditCustomRpcModal.test.tsx
  src/renderer/features/network/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: remove FX with only event use validation on submit
  src/renderer/features/network/ManageCustomRpcNode/model/__test__/add-custom-rpc-model.test.ts
  src/renderer/features/network/ManageCustomRpcNode/model/__test__/edit-custom-rpc-model.test.ts
  src/renderer/features/network/ManageCustomRpcNode/model/add-custom-rpc-model.ts
  src/renderer/features/network/ManageCustomRpcNode/model/edit-custom-rpc-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged
