Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

fix: button active and hover srtyle fix
  src/renderer/components/ui-redesign/Buttons/Button/Button.stories.tsx
  src/renderer/components/ui-redesign/Buttons/Button/Button.tsx
  src/renderer/components/ui-redesign/Buttons/Button/style.css
  src/renderer/components/ui-redesign/Buttons/common/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: approve network fee
  src/renderer/screens/Operations/components/ApproveTx.tsx
  src/renderer/screens/Operations/components/CallDataModal.tsx
  src/renderer/screens/Operations/components/Scanning/Scanning.tsx
  src/renderer/screens/Operations/components/Submit/Submit.tsx
  src/renderer/services/matrix/common/types.ts
  src/renderer/services/multisigTx/multisigTxService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: reject tx
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Operations/components/RejectReasonModal.tsx
  src/renderer/screens/Operations/components/RejectTx.tsx
  src/renderer/screens/Operations/components/Submit/Submit.tsx
  src/renderer/services/transaction/transactionService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: linter error fix
  src/renderer/components/ui-redesign/Buttons/common/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: renamed color var
  colors.js
  src/renderer/theme/default.css
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: updated color name
  src/renderer/components/ui-redesign/Buttons/common/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: linter err fixx
  src/renderer/components/ui-redesign/Buttons/common/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: signatories order
  src/renderer/screens/Operations/components/ApproveTx.tsx
  src/renderer/screens/Operations/components/RejectTx.tsx
  src/renderer/screens/Transfer/components/TransferForm/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: final signing and reject (#595)
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/domain/transaction.ts
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Operations/components/RejectReasonModal.tsx
  src/renderer/screens/Operations/components/RejectTx.tsx
  src/renderer/screens/Operations/components/Scanning/Scanning.tsx
  src/renderer/screens/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Transfer/components/TransferForm/TransferForm.tsx
  src/renderer/services/matrix/common/types.ts
  src/renderer/services/multisigTx/multisigTxService.ts
  src/renderer/services/transaction/common/types.ts
  src/renderer/services/transaction/transactionService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: final signing and reject
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/domain/transaction.ts
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Operations/components/RejectReasonModal.tsx
  src/renderer/screens/Operations/components/RejectTx.tsx
  src/renderer/screens/Operations/components/Scanning/Scanning.tsx
  src/renderer/screens/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Transfer/components/TransferForm/TransferForm.tsx
  src/renderer/services/matrix/common/types.ts
  src/renderer/services/multisigTx/multisigTxService.ts
  src/renderer/services/transaction/common/types.ts
  src/renderer/services/transaction/transactionService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: share calldata
  src/renderer/components/ui-redesign/Typography/common/TextBase.ts
  src/renderer/screens/Operations/components/Operation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: show transfer button for multisig account
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/screens/Transfer/components/InitOperation/InitOperation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: dropdown and input style update
  colors.js
  src/renderer/components/ui-redesign/Dropdowns/Select/Select.stories.tsx
  src/renderer/components/ui-redesign/Dropdowns/Select/Select.test.tsx
  src/renderer/components/ui-redesign/Dropdowns/Select/Select.tsx
  src/renderer/components/ui-redesign/Dropdowns/common/constants.ts
  src/renderer/components/ui-redesign/Dropdowns/common/types.ts
  src/renderer/components/ui-redesign/Inputs/Input/Input.stories.tsx
  src/renderer/components/ui-redesign/Inputs/Input/Input.tsx
  src/renderer/components/ui-redesign/Inputs/common/styles.ts
  src/renderer/components/ui-redesign/Typography/components/FootnoteText.tsx
  src/renderer/theme/default.css
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

style: added invalid style
  src/renderer/components/ui-redesign/Dropdowns/Select/Select.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: renamed story
  src/renderer/components/ui-redesign/Dropdowns/Select/Select.stories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

style: changed icon size
  src/renderer/components/ui-redesign/Dropdowns/Select/Select.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: correct signatories list on transfer
  src/renderer/screens/Operations/components/ApproveTx.tsx
  src/renderer/screens/Operations/components/RejectTx.tsx
  src/renderer/screens/Transfer/components/InitOperation/InitOperation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix text for cancelling
  src/renderer/screens/Operations/components/RejectReasonModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix text for cancelling (#599)
  src/renderer/screens/Operations/components/RejectReasonModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: handle smp events
  src/renderer/context/MatrixContext/MatrixContext.test.tsx
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/domain/account.ts
  src/renderer/domain/transaction.ts
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/ChatDev/ChatDev.tsx
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/components/CallDataModal.tsx
  src/renderer/screens/Transfer/components/Submit/Submit.tsx
  src/renderer/screens/Transfer/components/TransferForm/TransferForm.tsx
  src/renderer/services/account/accountService.ts
  src/renderer/services/account/common/types.ts
  src/renderer/services/contact/common/types.ts
  src/renderer/services/contact/contactService.ts
  src/renderer/services/matrix/common/constants.ts
  src/renderer/services/matrix/common/errors.ts
  src/renderer/services/matrix/common/types.ts
  src/renderer/services/matrix/matrix.ts
  src/renderer/services/multisigTx/common/types.ts
  src/renderer/services/multisigTx/common/utils.ts
  src/renderer/services/multisigTx/multisigTxService.ts
  src/renderer/services/storage/accountStorage.ts
  src/renderer/services/storage/common/types.ts
  src/renderer/services/storage/contactStorage.ts
  src/renderer/services/storage/transactionStorage.ts
  src/renderer/services/storage/walletStorage.ts
  src/renderer/services/wallet/common/types.ts
  src/renderer/services/wallet/walletService.ts
  src/renderer/shared/utils/functions.ts
  src/renderer/shared/utils/substrate.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

refactor: changed button size class name
  src/renderer/components/ui-redesign/Buttons/Button/Button.tsx
  src/renderer/components/ui-redesign/Buttons/common/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: autosave callData
  src/renderer/context/MatrixContext/MatrixContext.test.tsx
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/screens/ChatDev/ChatDev.tsx
  src/renderer/screens/Operations/components/CallDataModal.tsx
  src/renderer/screens/Transfer/components/Submit/Submit.tsx
  src/renderer/services/matrix/common/types.ts
  src/renderer/services/matrix/matrix.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: divide fee account and sign account
  src/renderer/screens/Operations/components/ApproveTx.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Room pagination (#589)
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/ui-redesign/Popovers/InfoPopover/InfoPopover.tsx
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/ChatDev/ChatDev.tsx
  src/renderer/screens/index.ts
  src/renderer/services/matrix/common/errors.ts
  src/renderer/services/matrix/common/types.ts
  src/renderer/services/matrix/matrix.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Room pagination
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/ui-redesign/Popovers/InfoPopover/InfoPopover.tsx
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/ChatDev/ChatDev.tsx
  src/renderer/screens/index.ts
  src/renderer/services/matrix/common/errors.ts
  src/renderer/services/matrix/common/types.ts
  src/renderer/services/matrix/matrix.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: warnings
  src/renderer/components/ui-redesign/Inputs/PasswordInput/PasswordInput.tsx
  src/renderer/components/ui-redesign/Modals/common/ModalBackdrop.tsx
  src/renderer/components/ui-redesign/Typography/Typography.stories.tsx
  src/renderer/services/multisigTx/common/utils.ts
  src/renderer/services/multisigTx/multisigTxService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr review
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Settings/Matrix/LoginForm/LoginForm.tsx
  src/renderer/services/matrix/common/constants.ts
  src/renderer/services/matrix/common/types.ts
  src/renderer/services/matrix/matrix.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: SMP events (#601)
  src/renderer/components/ui-redesign/Inputs/PasswordInput/PasswordInput.tsx
  src/renderer/components/ui-redesign/Modals/common/ModalBackdrop.tsx
  src/renderer/components/ui-redesign/Typography/Typography.stories.tsx
  src/renderer/context/MatrixContext/MatrixContext.test.tsx
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/domain/account.ts
  src/renderer/domain/transaction.ts
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/ChatDev/ChatDev.tsx
  src/renderer/screens/Operations/components/ApproveTx.tsx
  src/renderer/screens/Operations/components/CallDataModal.tsx
  src/renderer/screens/Operations/components/RejectTx.tsx
  src/renderer/screens/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Settings/Matrix/LoginForm/LoginForm.tsx
  src/renderer/screens/Transfer/components/Submit/Submit.tsx
  src/renderer/services/account/accountService.ts
  src/renderer/services/account/common/types.ts
  src/renderer/services/contact/common/types.ts
  src/renderer/services/contact/contactService.ts
  src/renderer/services/matrix/common/constants.ts
  src/renderer/services/matrix/common/errors.ts
  src/renderer/services/matrix/common/types.ts
  src/renderer/services/matrix/matrix.ts
  src/renderer/services/multisigTx/common/types.ts
  src/renderer/services/multisigTx/common/utils.ts
  src/renderer/services/multisigTx/multisigTxService.ts
  src/renderer/services/storage/accountStorage.ts
  src/renderer/services/storage/common/types.ts
  src/renderer/services/storage/contactStorage.ts
  src/renderer/services/storage/transactionStorage.ts
  src/renderer/services/storage/walletStorage.ts
  src/renderer/services/wallet/common/types.ts
  src/renderer/services/wallet/walletService.ts
  src/renderer/shared/utils/functions.ts
  src/renderer/shared/utils/substrate.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: SMP events
  src/renderer/components/ui-redesign/Inputs/PasswordInput/PasswordInput.tsx
  src/renderer/components/ui-redesign/Modals/common/ModalBackdrop.tsx
  src/renderer/components/ui-redesign/Typography/Typography.stories.tsx
  src/renderer/context/MatrixContext/MatrixContext.test.tsx
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/domain/account.ts
  src/renderer/domain/transaction.ts
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/ChatDev/ChatDev.tsx
  src/renderer/screens/Operations/components/ApproveTx.tsx
  src/renderer/screens/Operations/components/CallDataModal.tsx
  src/renderer/screens/Operations/components/RejectTx.tsx
  src/renderer/screens/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Settings/Matrix/LoginForm/LoginForm.tsx
  src/renderer/screens/Transfer/components/Submit/Submit.tsx
  src/renderer/services/account/accountService.ts
  src/renderer/services/account/common/types.ts
  src/renderer/services/contact/common/types.ts
  src/renderer/services/contact/contactService.ts
  src/renderer/services/matrix/common/constants.ts
  src/renderer/services/matrix/common/errors.ts
  src/renderer/services/matrix/common/types.ts
  src/renderer/services/matrix/matrix.ts
  src/renderer/services/multisigTx/common/types.ts
  src/renderer/services/multisigTx/common/utils.ts
  src/renderer/services/multisigTx/multisigTxService.ts
  src/renderer/services/storage/accountStorage.ts
  src/renderer/services/storage/common/types.ts
  src/renderer/services/storage/contactStorage.ts
  src/renderer/services/storage/transactionStorage.ts
  src/renderer/services/storage/walletStorage.ts
  src/renderer/services/wallet/common/types.ts
  src/renderer/services/wallet/walletService.ts
  src/renderer/shared/utils/functions.ts
  src/renderer/shared/utils/substrate.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx
