Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: tests
  src/renderer/screens/Operations/Operations.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: account info in operations
  src/renderer/components/common/AddressWithExplorers/AddressWithExplorers.tsx
  src/renderer/components/common/SignatoryCard/SignatoryCard.tsx
  src/renderer/components/ui-redesign/Popovers/InfoPopover/InfoPopover.tsx
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: account info in operations (#960)
  src/renderer/components/common/AddressWithExplorers/AddressWithExplorers.tsx
  src/renderer/components/common/SignatoryCard/SignatoryCard.tsx
  src/renderer/components/ui-redesign/Popovers/InfoPopover/InfoPopover.tsx
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/components/Operation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: incorrect date for empty api (#959)
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/screens/Operations/Operations.test.tsx
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Submit.tsx
  src/renderer/services/matrix/matrix.ts
  src/renderer/services/multisigEvent/common/types.ts
  src/renderer/services/multisigEvent/multisigEventService.ts
  src/renderer/services/storage/common/types.ts
  src/renderer/services/storage/multisigEventStorage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: incorrect date for empty api
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/screens/Operations/Operations.test.tsx
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Submit.tsx
  src/renderer/services/matrix/matrix.ts
  src/renderer/services/multisigEvent/common/types.ts
  src/renderer/services/multisigEvent/multisigEventService.ts
  src/renderer/services/storage/common/types.ts
  src/renderer/services/storage/multisigEventStorage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: changed lottie lib
  package.json
  pnpm-lock.yaml
  src/renderer/components/ui-redesign/Animation/Animation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: lockfile update
  pnpm-lock.yaml
Due: none

chore: reverted package json spaces
  package.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: removed magic number
  src/renderer/services/transaction/callDataDecoder/callDataDecoder.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: use task queue for events
  src/renderer/App.tsx
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/components/ActionSteps/Submit.tsx
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
  src/renderer/screens/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Submit.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
  src/renderer/services/multisigEvent/common/types.ts
  src/renderer/services/multisigEvent/multisigEventService.ts
  src/renderer/services/multisigTx/multisigTxService.ts
  src/renderer/shared/hooks/index.ts
  src/renderer/shared/hooks/useTaskQueue.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: sort chain groups
  src/renderer/screens/Assets/Assets.test.tsx
  src/renderer/screens/Assets/Assets.tsx
  src/renderer/screens/Assets/components/NetworkAssets/NetworkAssets.tsx
  src/renderer/services/balance/common/constants.ts
  src/renderer/services/network/__tests__/chainsService.test.ts
  src/renderer/services/network/chainsService.ts
  src/renderer/services/network/common/types.ts
  src/renderer/services/network/common/utils.ts
  src/renderer/shared/utils/balance.ts
  src/renderer/shared/utils/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: simplify totalAmount
  src/renderer/screens/Assets/common/utils.ts
  src/renderer/screens/Assets/components/NetworkAssets/NetworkAssets.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: rename dotsama collection
  src/renderer/services/network/chainsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: Chains sort by groups (#962)
  src/renderer/screens/Assets/Assets.test.tsx
  src/renderer/screens/Assets/Assets.tsx
  src/renderer/screens/Assets/common/utils.ts
  src/renderer/screens/Assets/components/NetworkAssets/NetworkAssets.tsx
  src/renderer/services/balance/common/constants.ts
  src/renderer/services/network/__tests__/chainsService.test.ts
  src/renderer/services/network/chainsService.ts
  src/renderer/services/network/common/types.ts
  src/renderer/services/network/common/utils.ts
  src/renderer/shared/utils/balance.ts
  src/renderer/shared/utils/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Chains sort by groups
  src/renderer/screens/Assets/Assets.test.tsx
  src/renderer/screens/Assets/Assets.tsx
  src/renderer/screens/Assets/common/utils.ts
  src/renderer/screens/Assets/components/NetworkAssets/NetworkAssets.tsx
  src/renderer/services/balance/common/constants.ts
  src/renderer/services/network/__tests__/chainsService.test.ts
  src/renderer/services/network/chainsService.ts
  src/renderer/services/network/common/types.ts
  src/renderer/services/network/common/utils.ts
  src/renderer/shared/utils/balance.ts
  src/renderer/shared/utils/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: changed lottie lib (#961)
  package.json
  pnpm-lock.yaml
  src/renderer/components/ui-redesign/Animation/Animation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: changed lottie lib
  package.json
  pnpm-lock.yaml
  src/renderer/components/ui-redesign/Animation/Animation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: add some tests
  src/renderer/shared/hooks/__tests__/useTaskQueue.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix comments
  src/renderer/shared/hooks/useTaskQueue.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: update call data
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: update call data (#964)
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: remove DOT from Zeitgeist
  src/renderer/services/network/common/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: use task queue for events
  src/renderer/App.tsx
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/screens/Operations/Operations.test.tsx
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/components/ActionSteps/Submit.tsx
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
  src/renderer/screens/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Submit.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
  src/renderer/services/multisigEvent/common/types.ts
  src/renderer/services/multisigEvent/multisigEventService.ts
  src/renderer/services/multisigTx/multisigTxService.ts
  src/renderer/shared/hooks/__tests__/useTaskQueue.test.ts
  src/renderer/shared/hooks/index.ts
  src/renderer/shared/hooks/useTaskQueue.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: use task queue for events (#963)
  src/renderer/App.tsx
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/screens/Operations/Operations.test.tsx
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/components/ActionSteps/Submit.tsx
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
  src/renderer/screens/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Submit.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
  src/renderer/services/multisigEvent/common/types.ts
  src/renderer/services/multisigEvent/multisigEventService.ts
  src/renderer/services/multisigTx/multisigTxService.ts
  src/renderer/shared/hooks/__tests__/useTaskQueue.test.ts
  src/renderer/shared/hooks/index.ts
  src/renderer/shared/hooks/useTaskQueue.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: added onclose call after approve success
  src/renderer/screens/Operations/components/ActionSteps/Submit.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: added onclose call after approve success (#966)
  src/renderer/screens/Operations/components/ActionSteps/Submit.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: refactor callDataDecoder to functional approach
  src/renderer/components/ui-redesign/Animation/Animation.tsx
  src/renderer/domain/transaction.ts
  src/renderer/screens/Operations/common/utils.ts
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/services/transaction/callDataDecoder.ts
  src/renderer/services/transaction/callDataDecoder/__tests__/callDataDecoder.ts
  src/renderer/services/transaction/callDataDecoder/callDataDecoder.ts
  src/renderer/services/transaction/common/constants.ts
  src/renderer/services/transaction/common/types.ts
  src/renderer/services/transaction/transactionService.ts
  src/renderer/shared/utils/__tests__/strings.test.ts
  src/renderer/shared/utils/strings.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: merge dev
  package.json
  pnpm-lock.yaml
  src/renderer/App.tsx
  src/renderer/components/common/AddressWithExplorers/AddressWithExplorers.tsx
  src/renderer/components/common/SignatoryCard/SignatoryCard.tsx
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/ui-redesign/Popovers/InfoPopover/InfoPopover.tsx
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/screens/Assets/Assets.test.tsx
  src/renderer/screens/Assets/Assets.tsx
  src/renderer/screens/Assets/common/utils.ts
  src/renderer/screens/Assets/components/NetworkAssets/NetworkAssets.tsx
  src/renderer/screens/Operations/Operations.test.tsx
  src/renderer/screens/Operations/components/ActionSteps/Submit.tsx
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
  src/renderer/screens/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Submit.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
  src/renderer/services/balance/common/constants.ts
  src/renderer/services/matrix/matrix.ts
  src/renderer/services/multisigEvent/common/types.ts
  src/renderer/services/multisigTx/multisigTxService.ts
  src/renderer/services/network/__tests__/chainsService.test.ts
  src/renderer/services/network/chainsService.ts
  src/renderer/services/network/common/chains/chains.json
  src/renderer/services/network/common/chains/chains_dev.json
  src/renderer/services/network/common/types.ts
  src/renderer/services/network/common/utils.ts
  src/renderer/services/storage/common/types.ts
  src/renderer/services/storage/multisigEventStorage.ts
  src/renderer/shared/hooks/__tests__/useTaskQueue.test.ts
  src/renderer/shared/hooks/index.ts
  src/renderer/shared/hooks/useTaskQueue.ts
  src/renderer/shared/utils/balance.ts
  src/renderer/shared/utils/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: removed redundant variables
  src/renderer/screens/Operations/components/ActionSteps/Submit.tsx
  src/renderer/shared/utils/balance.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: unnecessary async
  src/renderer/services/multisigTx/multisigTxService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: simplify decode call
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: pr review
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/screens/Operations/components/modals/RejectTx.tsx
  src/renderer/services/transaction/callDataDecoder.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Use callDataDecoder
  src/renderer/domain/transaction.ts
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/common/utils.ts
  src/renderer/screens/Operations/components/ActionSteps/Submit.tsx
  src/renderer/screens/Operations/components/Filters.tsx
  src/renderer/screens/Operations/components/TransactionAmount.tsx
  src/renderer/screens/Operations/components/TransactionTitle/TransactionTitle.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/screens/Operations/components/modals/RejectTx.tsx
  src/renderer/services/multisigTx/multisigTxService.ts
  src/renderer/services/transaction/callDataDecoder.ts
  src/renderer/services/transaction/common/constants.ts
  src/renderer/services/transaction/common/types.ts
  src/renderer/services/transaction/transactionService.ts
  src/renderer/shared/utils/__tests__/strings.test.ts
  src/renderer/shared/utils/balance.ts
  src/renderer/shared/utils/strings.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Use callDataDecoder (#956)
  src/renderer/domain/transaction.ts
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/common/utils.ts
  src/renderer/screens/Operations/components/ActionSteps/Submit.tsx
  src/renderer/screens/Operations/components/Filters.tsx
  src/renderer/screens/Operations/components/TransactionAmount.tsx
  src/renderer/screens/Operations/components/TransactionTitle/TransactionTitle.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/screens/Operations/components/modals/RejectTx.tsx
  src/renderer/services/multisigTx/multisigTxService.ts
  src/renderer/services/transaction/callDataDecoder.ts
  src/renderer/services/transaction/common/constants.ts
  src/renderer/services/transaction/common/types.ts
  src/renderer/services/transaction/transactionService.ts
  src/renderer/shared/utils/__tests__/strings.test.ts
  src/renderer/shared/utils/balance.ts
  src/renderer/shared/utils/strings.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: unknown transaction parsing
  src/renderer/services/transaction/callDataDecoder.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/shared/locale/*.json
