Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

feat: fiat balance on assets&staking
  src/renderer/entities/asset/ui/AssetCard/AssetCard.tsx
  src/renderer/entities/asset/ui/AssetDetails/AssetDetails.tsx
  src/renderer/entities/price/lib/constants.ts
  src/renderer/entities/price/ui/AssetFiatBalance.tsx
  src/renderer/entities/price/ui/FiatBalance.tsx
  src/renderer/entities/price/ui/Price.tsx
  src/renderer/entities/price/ui/TokenPrice.tsx
  src/renderer/pages/Staking/Operations/components/Validators/Validators.tsx
  src/renderer/pages/Staking/Overview/components/AboutStaking/AboutStaking.tsx
  src/renderer/pages/Staking/Overview/components/NetworkInfo/NetworkInfo.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/NominatorsList.tsx
  src/renderer/pages/Staking/Overview/components/ValidatorsModal/ValidatorsModal.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fix tests
  src/renderer/pages/Staking/Overview/components/AboutStaking/AboutStaking.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: added currency form model
  src/renderer/features/currency/ChangeCurrency/index.ts
  src/renderer/features/currency/ChangeCurrency/model/currency-form.ts
  src/renderer/features/currency/index.ts
  src/renderer/shared/ui/Modals/BaseModal/BaseModal.tsx
  src/renderer/widgets/SelectCurrencyModal/ui/SelectCurrencyModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: matrix modal navigation
  src/renderer/app/index.tsx
  src/renderer/app/providers/routes/paths.ts
  src/renderer/app/providers/routes/routesConfig.tsx
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.test.tsx
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/components/modals/MatrixModal/Matrix.test.tsx
  src/renderer/components/modals/MatrixModal/MatrixModal.tsx
  src/renderer/components/modals/index.ts
  src/renderer/features/assets/index.ts
  src/renderer/features/matrix/MatrixRouteGuard/index.ts
  src/renderer/features/matrix/MatrixRouteGuard/ui/MatrixRouteGuard.tsx
  src/renderer/features/matrix/index.ts
  src/renderer/pages/Settings/Matrix/Matrix.tsx
  src/renderer/pages/Settings/Overview/components/MatrixAction/MatrixAction.test.tsx
  src/renderer/pages/Settings/Overview/components/MatrixAction/MatrixAction.tsx
  src/renderer/pages/Settings/index.ts
  src/renderer/widgets/MatrixModal/index.ts
  src/renderer/widgets/MatrixModal/ui/Credentials.tsx
  src/renderer/widgets/MatrixModal/ui/LoginForm.tsx
  src/renderer/widgets/MatrixModal/ui/MatrixInfoModal.tsx
  src/renderer/widgets/MatrixModal/ui/MatrixInfoPopover.tsx
  src/renderer/widgets/MatrixModal/ui/MatrixLoginModal.tsx
  src/renderer/widgets/MatrixModal/ui/Verification.tsx
  src/renderer/widgets/MatrixModal/ui/__tests__/Credentials.test.tsx
  src/renderer/widgets/MatrixModal/ui/__tests__/LoginForm.test.tsx
  src/renderer/widgets/MatrixModal/ui/__tests__/MatrixInfoPopover.test.tsx
  src/renderer/widgets/MatrixModal/ui/__tests__/Verification.test.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: fixed modal reload after submit
  src/renderer/widgets/SelectCurrencyModal/ui/SelectCurrencyModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: [wip] amount input currency integration
  src/renderer/shared/ui/Inputs/AmountInput/AmountInput.tsx
  src/renderer/shared/ui/Inputs/AmountInput/useCurrency.ts
  src/renderer/widgets/SelectCurrencyModal/temp/mock-currencies.json
  src/renderer/widgets/SelectCurrencyModal/ui/SelectCurrencyModal.tsx
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: removed button disabled condition
  src/renderer/widgets/SelectCurrencyModal/ui/SelectCurrencyModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: amount input with currency integration
  src/renderer/entities/price/index.ts
  src/renderer/entities/price/lib/useCurrencyRate.ts
  src/renderer/shared/ui/Inputs/AmountInput/AmountInput.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

add base working version of saving light client state
  package.json
  pnpm-lock.yaml
  src/renderer/domain/lightClientState.ts
  src/renderer/entities/network/lib/networkService.ts
  src/renderer/shared/api/storage/common/types.ts
  src/renderer/shared/api/storage/lightClientStateStorage.ts
  src/renderer/shared/api/storage/storage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: create wallets provider
  src/renderer/app/App.tsx
  src/renderer/app/index.tsx
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.test.tsx
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/components/modals/CreateMultisigAccount/components/WalletForm.tsx
  src/renderer/pages/Onboarding/Vault/Vault.tsx
  src/renderer/pages/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/shared/ui/Modals/BaseModal/BaseModal.tsx
  src/renderer/widgets/CreateWallet/index.ts
  src/renderer/widgets/CreateWallet/model/wallet-provider-model.ts
  src/renderer/widgets/CreateWallet/ui/CreateWalletProvider.tsx
  src/renderer/widgets/MatrixModal/ui/MatrixLoginModal.tsx
  tailwind.config.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: pnpm lock
  pnpm-lock.yaml
Due: none

feat: remove wow/vault from onboarding
  src/renderer/components/modals/index.ts
  src/renderer/features/matrix/MatrixRouteGuard/index.ts
  src/renderer/features/matrix/MatrixRouteGuard/ui/MatrixRouteGuard.tsx
  src/renderer/features/matrix/index.ts
  src/renderer/pages/Onboarding/Welcome/Welcome.tsx
  src/renderer/pages/Settings/Matrix/Matrix.tsx
  src/renderer/widgets/CreateWallet/ui/CreateWalletProvider.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/MultisigAccount.test.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/MultisigAccount.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/common/types.ts
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/common/utils.ts
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/ConfirmSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/SelectSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/WalletForm.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/WalletsTabItem.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: improve tests for matrix auth
  tests/system/BaseTestConfig.ts
  tests/system/matrix/authorisation/matrix.auth.system.test.tsx
  tests/system/pages/_elements/MatrixModalElements.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: show total balance for network
  src/renderer/pages/Assets/AssetsList/components/NetworkAssets/NetworkAssets.tsx
  src/renderer/pages/Assets/AssetsList/components/NetworkFiatBalance/NetworkFiatBalance.tsx
  src/renderer/shared/lib/utils/balance.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: tests
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.test.tsx
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: custom menu
  src/main/main.ts
  src/main/vectormenu.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: form model, test
  src/renderer/entities/price/model/currency-model.ts
  src/renderer/entities/price/model/price-provider-model.ts
  src/renderer/features/currency/ChangeCurrency/index.ts
  src/renderer/features/currency/ChangeCurrency/model/currency-form.ts
  src/renderer/features/currency/CurrencyForm/index.ts
  src/renderer/features/currency/CurrencyForm/model/__tests__/currency-form.test.ts
  src/renderer/features/currency/CurrencyForm/model/currency-form.ts
  src/renderer/features/currency/CurrencyForm/ui/CurrencyForm.tsx
  src/renderer/features/currency/index.ts
  src/renderer/pages/Settings/Currency/Currency.tsx
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.tsx
  src/renderer/shared/api/local-storage/service/localStorageService.ts
  src/renderer/shared/api/price-provider/service/fiatService.ts
  src/renderer/shared/ui/Dropdowns/GroupedSelect/GroupedSelect.tsx
  src/renderer/shared/ui/Dropdowns/common/types.ts
  src/renderer/widgets/CurrencyModal/index.ts
  src/renderer/widgets/CurrencyModal/ui/CurrencyModal.tsx
  src/renderer/widgets/SelectCurrencyModal/index.ts
  src/renderer/widgets/SelectCurrencyModal/ui/SelectCurrencyModal.tsx
  src/renderer/widgets/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: removed GroupedSelect
  src/renderer/features/currency/CurrencyForm/ui/CurrencyForm.tsx
  src/renderer/shared/ui/Dropdowns/GroupedSelect/GroupedSelect.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr review
  src/renderer/widgets/CreateWallet/model/wallet-provider-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: removed dev tools from stage and prod build
  src/main/vectormenu.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: fixes after review
  src/main/vectormenu.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: ui fix: correct input for priceless asset
  src/renderer/shared/ui/Inputs/AmountInput/AmountInput.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: custom menu (#1089)
  src/main/main.ts
  src/main/vectormenu.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Feat: Currency settings (#1076)
  src/renderer/app/App.tsx
  src/renderer/app/providers/routes/paths.ts
  src/renderer/app/providers/routes/routesConfig.tsx
  src/renderer/assets/images/functionals/currency.svg
  src/renderer/entities/price/model/currency-model.ts
  src/renderer/entities/price/model/price-provider-model.ts
  src/renderer/features/currency/CurrencyForm/index.ts
  src/renderer/features/currency/CurrencyForm/model/__tests__/currency-form.test.ts
  src/renderer/features/currency/CurrencyForm/model/currency-form.ts
  src/renderer/features/currency/CurrencyForm/ui/CurrencyForm.tsx
  src/renderer/features/currency/index.ts
  src/renderer/pages/Settings/Currency/Currency.tsx
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.test.tsx
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.tsx
  src/renderer/pages/Settings/index.ts
  src/renderer/shared/api/local-storage/service/localStorageService.ts
  src/renderer/shared/api/price-provider/service/fiatService.ts
  src/renderer/shared/ui/Dropdowns/common/types.ts
  src/renderer/shared/ui/Icon/data/functionals.tsx
  src/renderer/shared/ui/Modals/BaseModal/BaseModal.tsx
  src/renderer/widgets/CurrencyModal/index.ts
  src/renderer/widgets/CurrencyModal/ui/CurrencyModal.tsx
  src/renderer/widgets/index.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fix comments
  .husky/pre-push
  src/renderer/entities/asset/ui/AssetCard/AssetCard.tsx
  src/renderer/entities/price/ui/AssetFiatBalance.tsx
  src/renderer/entities/price/ui/FiatBalance.tsx
  src/renderer/entities/price/ui/TokenPrice.tsx
  src/renderer/pages/Assets/AssetsList/components/NetworkFiatBalance/NetworkFiatBalance.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/NominatorsList.tsx
  src/renderer/pages/Staking/Overview/components/ValidatorsModal/ValidatorsModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: revert commented code
  .husky/pre-push
Due: none

feat: fiat sorting
  src/renderer/entities/network/lib/chainsService.ts
  src/renderer/pages/Assets/AssetsList/AssetsList.tsx
  src/renderer/pages/Assets/AssetsList/common/utils.ts
  src/renderer/pages/Assets/AssetsList/components/NetworkAssets/NetworkAssets.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: correct sort for multishard
  src/renderer/entities/network/lib/chainsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: change path for chains file
  scripts/buildChainsJson.js
  src/renderer/assets/chains/chains.json
  src/renderer/assets/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: change path for chains file (#1091)
  scripts/buildChainsJson.js
  src/renderer/assets/chains/chains.json
  src/renderer/assets/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix comments
  src/renderer/entities/network/lib/chainsService.ts
  src/renderer/pages/Assets/AssetsList/AssetsList.tsx
  src/renderer/pages/Assets/AssetsList/common/utils.ts
  src/renderer/pages/Assets/AssetsList/components/NetworkAssets/NetworkAssets.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: menu reload
  src/main/vectormenu.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: menu reload (#1094)
  src/main/vectormenu.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: menu reload (#1095)
  src/main/vectormenu.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged
