Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: shards selector
  src/renderer/entities/wallet/ui/Cards/DerivedAccount.tsx
  src/renderer/entities/wallet/ui/SelectableShard/SelectableShard.tsx
  src/renderer/features/wallets/SelectShards/lib/types.ts
  src/renderer/features/wallets/SelectShards/lib/utils.ts
  src/renderer/features/wallets/SelectShards/model/select-shards-model.ts
  src/renderer/features/wallets/SelectShards/ui/SelectShardModal.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fix
  src/renderer/features/wallets/SelectShards/lib/types.ts
  src/renderer/features/wallets/SelectShards/lib/utils.ts
  src/renderer/features/wallets/SelectShards/model/select-shards-model.ts
  src/renderer/features/wallets/SelectShards/ui/SelectShardModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: shards address fix
  src/renderer/entities/wallet/ui/SelectableShard/SelectableShard.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: added search
  src/renderer/features/wallets/SelectShards/ui/SelectShardModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: chain selection bug fix
  src/renderer/features/wallets/SelectShards/model/select-shards-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: new shards selector
  src/renderer/app/index.tsx
  src/renderer/entities/network/lib/chainsService.ts
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/entities/wallet/ui/SelectableShard/SelectableShard.tsx
  src/renderer/features/balances/model/balance-subscription-model.ts
  src/renderer/features/wallets/ShardSelectorModal/index.ts
  src/renderer/features/wallets/ShardSelectorModal/lib/shards-utils.ts
  src/renderer/features/wallets/ShardSelectorModal/lib/types.ts
  src/renderer/features/wallets/ShardSelectorModal/model/__tests__/mocks/shards-mock.ts
  src/renderer/features/wallets/ShardSelectorModal/model/__tests__/shards-model.test.ts
  src/renderer/features/wallets/ShardSelectorModal/model/shards-model.ts
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardSearch.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardSelectorButton.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardSelectorModal.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/WalletStructure.tsx
  src/renderer/features/wallets/index.ts
  src/renderer/pages/Assets/Assets/Assets.tsx
  src/renderer/pages/Assets/Assets/common/constants.ts
  src/renderer/pages/Assets/Assets/common/utils.ts
  src/renderer/pages/Assets/Assets/components/AssetsFilter/AssetsFilters.tsx
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.test.tsx
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.tsx
  src/renderer/pages/Assets/Assets/components/NetworkAssets/NetworkAssets.test.tsx
  src/renderer/pages/Assets/Assets/components/NetworkAssets/NetworkAssets.tsx
  src/renderer/pages/Assets/Assets/components/NetworkFiatBalance/NetworkFiatBalance.tsx
  src/renderer/pages/Assets/Assets/components/index.ts
  src/renderer/pages/Assets/Assets/model/assets-model.ts
  src/renderer/pages/Assets/AssetsList/AssetsList.tsx
  src/renderer/pages/Assets/AssetsList/common/types.ts
  src/renderer/pages/Assets/AssetsList/common/utils.ts
  src/renderer/pages/Assets/AssetsList/components/SelectShardModal/SelectShardModal.tsx
  src/renderer/pages/Assets/index.ts
  src/renderer/pages/index.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/lib/utils/strings.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: moved effects
  src/renderer/features/wallets/ShardSelectorModal/model/shards-model.ts
  src/renderer/pages/Assets/Assets/Assets.tsx
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: forget wallet
  src/main/main.ts
  src/renderer/app/providers/context/ConfirmContext/ConfirmContext.tsx
  src/renderer/entities/balance/lib/balanceService.ts
  src/renderer/entities/balance/lib/common/types.ts
  src/renderer/entities/multisig/lib/index.ts
  src/renderer/entities/multisig/lib/multisigTx/useForgetMultisig.ts
  src/renderer/features/wallets/ForgetWallet/index.ts
  src/renderer/features/wallets/ForgetWallet/model/forget-wallet-model.ts
  src/renderer/features/wallets/ForgetWallet/ui/ConfirmForgetModal.tsx
  src/renderer/shared/api/storage/common/types.ts
  src/renderer/shared/api/storage/service/balanceStorage.ts
  src/renderer/shared/api/storage/service/transactionStorage.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/ui/Modals/ConfirmModal/ConfirmModal.tsx
  src/renderer/widgets/WalletDetails/lib/utils.ts
  src/renderer/widgets/WalletDetails/ui/MultishardWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/VaultWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: error fix
  src/renderer/features/wallets/ForgetWallet/model/__tests__/forget-wallet-mode.test.ts
  src/renderer/features/wallets/ForgetWallet/ui/ConfirmForgetModal.tsx
  src/renderer/shared/ui/Modals/BaseModal/BaseModal.tsx
  src/renderer/widgets/WalletDetails/ui/VaultWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: locale file sort
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

feat: toggle account & chain
  src/renderer/features/wallets/ShardSelectorModal/lib/shards-utils.ts
  src/renderer/features/wallets/ShardSelectorModal/lib/types.ts
  src/renderer/features/wallets/ShardSelectorModal/model/__tests__/shards-model.test.ts
  src/renderer/features/wallets/ShardSelectorModal/model/shards-model.ts
  src/renderer/features/wallets/ShardSelectorModal/ui/WalletStructure.tsx
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.tsx
  src/renderer/pages/Assets/Assets/components/NetworkAssets/NetworkAssets.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: toggle sharded group & shard & root
  src/renderer/features/wallets/ShardSelectorModal/model/shards-model.ts
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardedGroup.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/WalletStructure.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: toggle all
  src/renderer/entities/wallet/ui/index.ts
  src/renderer/features/wallets/ShardSelectorModal/index.ts
  src/renderer/features/wallets/ShardSelectorModal/lib/selector-utils.ts
  src/renderer/features/wallets/ShardSelectorModal/lib/shards-utils.ts
  src/renderer/features/wallets/ShardSelectorModal/lib/types.ts
  src/renderer/features/wallets/ShardSelectorModal/model/__tests__/shards-model.test.ts
  src/renderer/features/wallets/ShardSelectorModal/model/shards-model.ts
  src/renderer/features/wallets/ShardSelectorModal/ui/SelectableShard.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardSelectorModal.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardedGroup.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardsStructure.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/WalletStructure.tsx
  src/renderer/features/wallets/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: get selected shards
  src/renderer/entities/wallet/ui/ExplorersPopover/ExplorersPopover.tsx
  src/renderer/features/wallets/ShardSelectorModal/lib/shards-utils.ts
  src/renderer/features/wallets/ShardSelectorModal/model/shards-model.ts
  src/renderer/features/wallets/ShardSelectorModal/ui/SelectableShard.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardSelectorButton.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardSelectorModal.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardedGroup.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardsStructure.tsx
  src/renderer/pages/Assets/Assets/Assets.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: styles
  src/renderer/features/wallets/ShardSelectorModal/model/shards-model.ts
  src/renderer/features/wallets/ShardSelectorModal/ui/SelectableShard.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardSelectorModal.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardedGroup.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardsStructure.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Revert "fix: error fix"
  src/renderer/features/wallets/ForgetWallet/model/__tests__/forget-wallet-mode.test.ts
  src/renderer/features/wallets/ForgetWallet/ui/ConfirmForgetModal.tsx
  src/renderer/shared/ui/Modals/BaseModal/BaseModal.tsx
  src/renderer/widgets/WalletDetails/ui/VaultWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Revert "feat: forget wallet"
  src/main/main.ts
  src/renderer/app/providers/context/ConfirmContext/ConfirmContext.tsx
  src/renderer/entities/balance/lib/balanceService.ts
  src/renderer/entities/balance/lib/common/types.ts
  src/renderer/entities/multisig/lib/index.ts
  src/renderer/entities/multisig/lib/multisigTx/useForgetMultisig.ts
  src/renderer/features/wallets/ForgetWallet/index.ts
  src/renderer/features/wallets/ForgetWallet/model/forget-wallet-model.ts
  src/renderer/features/wallets/ForgetWallet/ui/ConfirmForgetModal.tsx
  src/renderer/shared/api/storage/common/types.ts
  src/renderer/shared/api/storage/service/balanceStorage.ts
  src/renderer/shared/api/storage/service/transactionStorage.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/ui/Modals/ConfirmModal/ConfirmModal.tsx
  src/renderer/widgets/WalletDetails/lib/utils.ts
  src/renderer/widgets/WalletDetails/ui/MultishardWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/VaultWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Revert "chore: locale file sort"
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

chore: tests
  src/renderer/app/index.tsx
  src/renderer/features/wallets/ShardSelectorModal/model/__tests__/mocks/shards-mock.ts
  src/renderer/features/wallets/ShardSelectorModal/model/__tests__/shards-model.test.ts
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.test.tsx
  src/renderer/pages/Assets/Assets/components/NetworkAssets/NetworkAssets.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: code style
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardedGroup.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardsStructure.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: code style
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardedGroup.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardsStructure.tsx
  src/renderer/pages/Assets/Assets/components/NetworkAssets/NetworkAssets.test.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: derivation paths
  src/renderer/features/wallets/ShardSelectorModal/ui/SelectableShard.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: New shards selector
  src/renderer/app/index.tsx
  src/renderer/entities/network/lib/chainsService.ts
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/entities/wallet/ui/ExplorersPopover/ExplorersPopover.tsx
  src/renderer/entities/wallet/ui/SelectableShard/SelectableShard.tsx
  src/renderer/entities/wallet/ui/index.ts
  src/renderer/features/balances/model/balance-subscription-model.ts
  src/renderer/features/wallets/ShardSelectorModal/index.ts
  src/renderer/features/wallets/ShardSelectorModal/lib/selector-utils.ts
  src/renderer/features/wallets/ShardSelectorModal/lib/shards-utils.ts
  src/renderer/features/wallets/ShardSelectorModal/lib/types.ts
  src/renderer/features/wallets/ShardSelectorModal/model/__tests__/mocks/shards-mock.ts
  src/renderer/features/wallets/ShardSelectorModal/model/__tests__/shards-model.test.ts
  src/renderer/features/wallets/ShardSelectorModal/model/shards-model.ts
  src/renderer/features/wallets/ShardSelectorModal/ui/SelectableShard.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardSearch.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardSelectorButton.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardSelectorModal.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardedGroup.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardsStructure.tsx
  src/renderer/features/wallets/index.ts
  src/renderer/pages/Assets/Assets/Assets.tsx
  src/renderer/pages/Assets/Assets/common/constants.ts
  src/renderer/pages/Assets/Assets/common/utils.ts
  src/renderer/pages/Assets/Assets/components/AssetsFilter/AssetsFilters.tsx
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.test.tsx
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.tsx
  src/renderer/pages/Assets/Assets/components/NetworkAssets/NetworkAssets.test.tsx
  src/renderer/pages/Assets/Assets/components/NetworkAssets/NetworkAssets.tsx
  src/renderer/pages/Assets/Assets/components/NetworkFiatBalance/NetworkFiatBalance.tsx
  src/renderer/pages/Assets/Assets/components/index.ts
  src/renderer/pages/Assets/Assets/model/assets-model.ts
  src/renderer/pages/Assets/AssetsList/AssetsList.tsx
  src/renderer/pages/Assets/AssetsList/common/types.ts
  src/renderer/pages/Assets/AssetsList/common/utils.ts
  src/renderer/pages/Assets/AssetsList/components/SelectShardModal/SelectShardModal.tsx
  src/renderer/pages/Assets/index.ts
  src/renderer/pages/index.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/lib/utils/strings.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: New shards selector (#1313)
  src/renderer/app/index.tsx
  src/renderer/entities/network/lib/chainsService.ts
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/entities/wallet/ui/ExplorersPopover/ExplorersPopover.tsx
  src/renderer/entities/wallet/ui/SelectableShard/SelectableShard.tsx
  src/renderer/entities/wallet/ui/index.ts
  src/renderer/features/balances/model/balance-subscription-model.ts
  src/renderer/features/wallets/ShardSelectorModal/index.ts
  src/renderer/features/wallets/ShardSelectorModal/lib/selector-utils.ts
  src/renderer/features/wallets/ShardSelectorModal/lib/shards-utils.ts
  src/renderer/features/wallets/ShardSelectorModal/lib/types.ts
  src/renderer/features/wallets/ShardSelectorModal/model/__tests__/mocks/shards-mock.ts
  src/renderer/features/wallets/ShardSelectorModal/model/__tests__/shards-model.test.ts
  src/renderer/features/wallets/ShardSelectorModal/model/shards-model.ts
  src/renderer/features/wallets/ShardSelectorModal/ui/SelectableShard.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardSearch.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardSelectorButton.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardSelectorModal.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardedGroup.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardsStructure.tsx
  src/renderer/features/wallets/index.ts
  src/renderer/pages/Assets/Assets/Assets.tsx
  src/renderer/pages/Assets/Assets/common/constants.ts
  src/renderer/pages/Assets/Assets/common/utils.ts
  src/renderer/pages/Assets/Assets/components/AssetsFilter/AssetsFilters.tsx
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.test.tsx
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.tsx
  src/renderer/pages/Assets/Assets/components/NetworkAssets/NetworkAssets.test.tsx
  src/renderer/pages/Assets/Assets/components/NetworkAssets/NetworkAssets.tsx
  src/renderer/pages/Assets/Assets/components/NetworkFiatBalance/NetworkFiatBalance.tsx
  src/renderer/pages/Assets/Assets/components/index.ts
  src/renderer/pages/Assets/Assets/model/assets-model.ts
  src/renderer/pages/Assets/AssetsList/AssetsList.tsx
  src/renderer/pages/Assets/AssetsList/common/types.ts
  src/renderer/pages/Assets/AssetsList/common/utils.ts
  src/renderer/pages/Assets/AssetsList/components/SelectShardModal/SelectShardModal.tsx
  src/renderer/pages/Assets/index.ts
  src/renderer/pages/index.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/lib/utils/strings.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: removed unused confirm model for wallet connect wallets
  src/renderer/features/wallets/ForgetWallet/ui/ConfirmForgetModal.tsx
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: removed commented logs
  src/main/main.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: removed if from Confirm forget modal
  src/renderer/features/wallets/ForgetWallet/model/forget-wallet-model.ts
  src/renderer/features/wallets/ForgetWallet/ui/ConfirmForgetModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: updated tests
  src/renderer/features/wallets/ForgetWallet/model/__tests__/forget-wallet-mode.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: shards text
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardSelectorButton.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardSelectorModal.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardsStructure.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: shards text (#1314)
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardSelectorButton.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardSelectorModal.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardsStructure.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: removed pv root account from staking rewards destionation options
  src/renderer/pages/Staking/Operations/common/utils.tsx
  src/renderer/pages/Staking/Operations/components/OperationForm/OperationForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: minor updates
  src/renderer/app/index.tsx
  src/renderer/entities/asset/ui/AssetCard/AssetCard.tsx
  src/renderer/entities/balance/model/balance-model.ts
  src/renderer/features/balances/model/balance-subscription-model.ts
  src/renderer/features/wallets/ShardSelectorModal/model/__tests__/shards-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: balance update
  src/renderer/entities/balance/model/balance-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: batch balance update
  src/renderer/app/index.tsx
  src/renderer/entities/balance/model/balance-model.ts
  src/renderer/features/balances/model/balance-subscription-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: update
  src/renderer/features/wallets/ShardSelectorModal/model/__tests__/shards-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: Zero balances (#1319)
  src/renderer/entities/asset/ui/AssetCard/AssetCard.tsx
  src/renderer/entities/balance/model/balance-model.ts
  src/renderer/features/balances/model/balance-subscription-model.ts
  src/renderer/features/wallets/ShardSelectorModal/model/__tests__/shards-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/renderer/shared/api/translation/locales/*.json
