Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Fix: Zero balances
  src/renderer/entities/asset/ui/AssetCard/AssetCard.tsx
  src/renderer/entities/balance/model/balance-model.ts
  src/renderer/features/balances/model/balance-subscription-model.ts
  src/renderer/features/wallets/ShardSelectorModal/model/__tests__/shards-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: UI componnet for proxy account
  .storybook/preview.js
  src/renderer/entities/proxy/index.ts
  src/renderer/entities/proxy/lib/constants.ts
  src/renderer/entities/proxy/lib/types.ts
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.stories.tsx
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.test.tsx
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: added action button for proxy account
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: updated UI tests for proxy account
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.test.tsx
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: updated dropdown button margin
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: filter outdated accounts
  src/renderer/features/wallets/ShardSelectorModal/lib/shards-utils.ts
  src/renderer/features/wallets/ShardSelectorModal/model/shards-model.ts
  src/renderer/pages/Onboarding/Vault/ManageVault/model/manage-vault-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: Zero shards (#1321)
  src/renderer/features/wallets/ShardSelectorModal/lib/shards-utils.ts
  src/renderer/features/wallets/ShardSelectorModal/model/shards-model.ts
  src/renderer/pages/Onboarding/Vault/ManageVault/model/manage-vault-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: Zero shards
  src/renderer/features/wallets/ShardSelectorModal/lib/shards-utils.ts
  src/renderer/features/wallets/ShardSelectorModal/model/shards-model.ts
  src/renderer/pages/Onboarding/Vault/ManageVault/model/manage-vault-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: number of selected for multishard
  src/renderer/features/wallets/ShardSelectorModal/lib/shards-utils.ts
  src/renderer/features/wallets/ShardSelectorModal/model/shards-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: number of selected for multishard (#1322)
  src/renderer/features/wallets/ShardSelectorModal/lib/shards-utils.ts
  src/renderer/features/wallets/ShardSelectorModal/model/shards-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: watch wallet on asset list
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr review
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Watch wallet on asset list
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Watch wallet on asset list (#1323)
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: balance buffer
  src/renderer/entities/balance/lib/common/constants.ts
  src/renderer/entities/balance/model/balance-model.ts
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.tsx
  src/renderer/pages/Assets/Assets/model/assets-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix
  src/renderer/entities/balance/lib/common/constants.ts
  src/renderer/entities/balance/model/balance-model.ts
  src/renderer/entities/network/lib/chainsService.ts
  src/renderer/features/balances/model/balance-subscription-model.ts
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.tsx
  src/renderer/shared/config/chains/chains.json
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: wallet fiat
  src/renderer/entities/network/lib/chainsService.ts
  src/renderer/features/wallets/WalletSelect/model/wallet-select-model.ts
  src/renderer/features/wallets/WalletSelect/ui/WalletFiatBalance.tsx
  src/renderer/features/wallets/WalletSelect/ui/WalletSelect.tsx
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.tsx
  src/renderer/pages/Assets/Assets/model/assets-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: wallet balance
  src/renderer/entities/balance/model/balance-model.ts
  src/renderer/features/balances/model/balance-subscription-model.ts
  src/renderer/features/wallets/WalletSelect/model/wallet-select-model.ts
  src/renderer/features/wallets/WalletSelect/ui/WalletFiatBalance.tsx
  src/renderer/features/wallets/WalletSelect/ui/WalletSelect.tsx
  src/renderer/pages/Assets/Assets/components/NetworkAssets/NetworkAssets.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: wallet balance v2
  src/renderer/features/wallets/WalletSelect/model/wallet-select-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: wallet balance v2
  src/renderer/features/wallets/WalletSelect/model/wallet-select-model.ts
  src/renderer/pages/Assets/Assets/model/assets-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: wallet balance v3
  src/renderer/entities/balance/model/balance-model.ts
  src/renderer/features/balances/model/balance-subscription-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: notifications update and proxy notifications
  src/renderer/entities/notification/model/notification.ts
  src/renderer/entities/notification/ui/NotificationRow/NotificationBody.tsx
  src/renderer/entities/notification/ui/NotificationRow/NotificationRow.tsx
  src/renderer/entities/proxy/index.ts
  src/renderer/entities/proxy/lib/constants.ts
  src/renderer/entities/wallet/ui/WalletIcon/WalletIcon.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/assets/images/walletTypes/proxy.svg
  src/renderer/shared/core/types/wallet.ts
  src/renderer/shared/ui/Icon/data/walletType.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: wallet balance v4
  src/renderer/features/balances/model/balance-subscription-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: skip root for PV
  src/renderer/entities/balance/model/balance-model.ts
  src/renderer/features/wallets/WalletSelect/model/wallet-select-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: test update
  src/renderer/pages/Assets/Assets/components/NetworkAssets/NetworkAssets.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Wallet balances (#1325)
  src/renderer/entities/balance/lib/common/constants.ts
  src/renderer/entities/balance/model/balance-model.ts
  src/renderer/features/balances/model/balance-subscription-model.ts
  src/renderer/features/wallets/WalletSelect/model/wallet-select-model.ts
  src/renderer/features/wallets/WalletSelect/ui/WalletFiatBalance.tsx
  src/renderer/features/wallets/WalletSelect/ui/WalletSelect.tsx
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.tsx
  src/renderer/pages/Assets/Assets/components/NetworkAssets/NetworkAssets.test.tsx
  src/renderer/pages/Assets/Assets/components/NetworkAssets/NetworkAssets.tsx
  src/renderer/pages/Assets/Assets/model/assets-model.ts
  src/renderer/shared/config/chains/chains.json
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Wallet balances
  src/renderer/entities/balance/lib/common/constants.ts
  src/renderer/entities/balance/model/balance-model.ts
  src/renderer/features/balances/model/balance-subscription-model.ts
  src/renderer/features/wallets/WalletSelect/model/wallet-select-model.ts
  src/renderer/features/wallets/WalletSelect/ui/WalletFiatBalance.tsx
  src/renderer/features/wallets/WalletSelect/ui/WalletSelect.tsx
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.tsx
  src/renderer/pages/Assets/Assets/components/NetworkAssets/NetworkAssets.test.tsx
  src/renderer/pages/Assets/Assets/components/NetworkAssets/NetworkAssets.tsx
  src/renderer/pages/Assets/Assets/model/assets-model.ts
  src/renderer/shared/config/chains/chains.json
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: updated wallet menu styles
  src/renderer/entities/wallet/ui/Cards/WalletCardMd.tsx
  src/renderer/features/wallets/WalletSelect/ui/WalletPanel.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix config
  src/renderer/shared/config/chains/chains.json
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: format
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix config (#1327)
  src/renderer/shared/config/chains/chains.json
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: change order for kusama asset hub
  src/renderer/shared/config/chains/chains.json
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: change for polkadot hubs
  src/renderer/shared/config/chains/chains.json
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: updated wallet menu styles (#1326)
  src/renderer/entities/wallet/ui/Cards/WalletCardMd.tsx
  src/renderer/features/wallets/WalletSelect/ui/WalletPanel.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: added token component and updated accordion
  src/renderer/entities/wallet/ui/MultishardAccountsList/MultishardAccountsList.tsx
  src/renderer/entities/wallet/ui/VaultAccountsList/VaultAccountsList.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardedGroup.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/ShardsStructure.tsx
  src/renderer/pages/Onboarding/Vault/ManageVault/ManageVault.tsx
  src/renderer/shared/assets/images/chevron/down.svg
  src/renderer/shared/assets/images/chevron/up.svg
  src/renderer/shared/ui/Token/Token.tsx
  src/renderer/shared/ui/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/renderer/shared/api/translation/locales/*.json
