Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/renderer/shared/api/translation/locales/*.json": ["pnpm lint:i18n-fix"]
}

fix: commit path
  .github/workflows/update_chains_file.yaml
Due: none

chore: move to process
  .eslintrc.js
  jest.config.ts
  src/renderer/app/index.tsx
  src/renderer/processes/multisigs/index.ts
  src/renderer/processes/multisigs/lib/__tests__/multisigs-utils.test.ts
  src/renderer/processes/multisigs/lib/mulitisigs-utils.ts
  src/renderer/processes/multisigs/model/__tests__/multisigs-model.test.ts
  src/renderer/processes/multisigs/model/multisigs-model.ts
  tsconfig.paths.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: commit path (#1767)
  .github/workflows/update_chains_file.yaml
Due: none

fix: correct create pure proxy wallet
  src/renderer/features/proxies/model/proxies-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: correct create pure proxy wallet (#1768)
  src/renderer/features/proxies/model/proxies-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix import
  src/renderer/shared/api/storage/lib/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: feature request template update
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

chore: feature request template update (#1771)
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

chore: fix populate basket
  src/renderer/app/index.tsx
  src/renderer/entities/basket/model/basket-model.ts
  src/renderer/widgets/Staking/BondExtra/model/bond-extra-model.ts
  src/renderer/widgets/Staking/BondNominate/model/bond-nominate-model.ts
  src/renderer/widgets/Staking/Nominate/model/nominate-model.ts
  src/renderer/widgets/Staking/Payee/model/payee-model.ts
  src/renderer/widgets/Staking/Restake/model/restake-model.ts
  src/renderer/widgets/Staking/Unstake/model/unstake-model.ts
  src/renderer/widgets/Staking/Withdraw/model/withdraw-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: total governance lock
  src/renderer/app/index.tsx
  src/renderer/features/assets/AssetsChainView/ui/NetworkAssets/NetworkAssets.test.tsx
  src/renderer/features/governance/Delegations/ui/Delegations.tsx
  src/renderer/features/governance/Locks/model/locks-model.ts
  src/renderer/features/governance/Locks/ui/Locks.tsx
  src/renderer/features/governance/ReferendumList/model/referendum-list-model.ts
  src/renderer/pages/Governance/model/governance-model.ts
  src/renderer/pages/Governance/ui/Governance.tsx
  src/renderer/shared/api/governance/on-chain/service/governanceService.ts
  src/renderer/shared/config/chains/chains_dev.json
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/balance.ts
  src/renderer/shared/core/types/voting.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: address some comments
  src/renderer/processes/multisigs/model/multisigs-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: update
  src/renderer/features/assets/AssetsChainView/ui/AssetsChainView.tsx
  src/renderer/features/assets/AssetsPortfolioView/index.tsx
  src/renderer/features/assets/AssetsPortfolioView/lib/tokensService.ts
  src/renderer/features/assets/AssetsPortfolioView/lib/types.ts
  src/renderer/features/assets/AssetsPortfolioView/model/portfolio-model.ts
  src/renderer/features/assets/AssetsPortfolioView/ui/AssetsPortfolioView.tsx
  src/renderer/features/assets/AssetsPortfolioView/ui/NetworkCard.tsx
  src/renderer/features/assets/AssetsPortfolioView/ui/TokenBalance.tsx
  src/renderer/features/assets/AssetsPortfolioView/ui/TokenBalanceList.tsx
  src/renderer/features/assets/AssetsSettings/model/assets-settings-modal.ts
  src/renderer/features/assets/index.ts
  src/renderer/pages/Assets/Assets/model/assets-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: tests not passing any more
  src/renderer/app/index.tsx
  src/renderer/processes/multisigs/lib/mulitisigs-utils.ts
  src/renderer/processes/multisigs/model/__tests__/multisigs-model.test.ts
  src/renderer/processes/multisigs/model/multisigs-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: fix tests
  src/renderer/app/index.tsx
  src/renderer/processes/multisigs/model/__tests__/multisigs-model.test.ts
  src/renderer/processes/multisigs/model/multisigs-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: notification was missing some fields
  src/renderer/processes/multisigs/model/multisigs-model.ts
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/notification.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: notifications
  src/renderer/entities/notification/lib/notification-utils.ts
  src/renderer/entities/notification/model/__tests__/notification-model.test.ts
  src/renderer/features/notifications/NotificationsList/ui/NotificationRow.tsx
  src/renderer/features/notifications/NotificationsList/ui/notifies/MultisigCreatedNotification.tsx
  src/renderer/features/notifications/NotificationsList/ui/notifies/MultisigInviteNotification.tsx
  src/renderer/processes/multisigs/model/multisigs-model.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/notification.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: basket transaction list
  src/renderer/entities/basket/model/basket-model.ts
  src/renderer/entities/transaction/lib/common/utils.ts
  src/renderer/entities/transaction/ui/TransactionTitle/TransactionTitle.test.tsx
  src/renderer/entities/transaction/ui/TransactionTitle/TransactionTitle.tsx
  src/renderer/entities/transaction/ui/index.ts
  src/renderer/features/navigation/ui/Navigation.tsx
  src/renderer/pages/Basket/index.ts
  src/renderer/pages/Basket/model/basket-page-model.ts
  src/renderer/pages/Basket/ui/Basket.tsx
  src/renderer/pages/Basket/ui/EmptyBasket.tsx
  src/renderer/pages/Basket/ui/Operation.tsx
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/pages/Operations/components/LogModal.tsx
  src/renderer/pages/Operations/components/Operation.tsx
  src/renderer/pages/Operations/components/TransactionAmount.tsx
  src/renderer/pages/index.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/routes/paths.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fix comments
  src/renderer/entities/basket/model/basket-model.ts
  src/renderer/features/navigation/ui/Navigation.tsx
  src/renderer/pages/Basket/model/basket-page-model.ts
  src/renderer/pages/Basket/ui/Basket.tsx
  src/renderer/pages/Basket/ui/Operation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: remove description refactor steps
  src/renderer/widgets/CreateWallet/lib/create-multisig-utils.ts
  src/renderer/widgets/CreateWallet/lib/types.ts
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-model.ts
  src/renderer/widgets/CreateWallet/ui/CreateWalletProvider.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/FlexibleMultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/MultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/MultisigWalletWizard.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/SingleChainMultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/WalletForm.tsx
  src/renderer/widgets/Transfer/ui/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: basket transaction list (#1772)
  src/renderer/entities/basket/model/basket-model.ts
  src/renderer/entities/transaction/lib/common/utils.ts
  src/renderer/entities/transaction/ui/TransactionTitle/TransactionTitle.test.tsx
  src/renderer/entities/transaction/ui/TransactionTitle/TransactionTitle.tsx
  src/renderer/entities/transaction/ui/index.ts
  src/renderer/features/navigation/ui/Navigation.tsx
  src/renderer/pages/Basket/index.ts
  src/renderer/pages/Basket/model/basket-page-model.ts
  src/renderer/pages/Basket/ui/Basket.tsx
  src/renderer/pages/Basket/ui/EmptyBasket.tsx
  src/renderer/pages/Basket/ui/Operation.tsx
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/pages/Operations/components/LogModal.tsx
  src/renderer/pages/Operations/components/Operation.tsx
  src/renderer/pages/Operations/components/TransactionAmount.tsx
  src/renderer/pages/index.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/routes/paths.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: another part of lock algo
  src/renderer/entities/proxy/lib/__tests__/proxy-utils.test.ts
  src/renderer/entities/signatory/lib/__tests__/utils.test.ts
  src/renderer/entities/transaction/lib/__tests__/utils.test.ts
  src/renderer/entities/transaction/ui/QrCode/QrGenerator/common/utils.test.ts
  src/renderer/entities/wallet/lib/__tests__/account-utils.test.ts
  src/renderer/entities/wallet/lib/__tests__/model-utils.test.ts
  src/renderer/entities/wallet/lib/__tests__/permission-utils.test.ts
  src/renderer/entities/wallet/lib/__tests__/wallet-utils.test.ts
  src/renderer/entities/walletConnect/lib/__tests__/utils.test.ts
  src/renderer/features/governance/Locks/model/locks-model.ts
  src/renderer/features/governance/ReferendumList/model/referendum-list-model.ts
  src/renderer/features/governance/ReferendumList/ui/ReferendumList.tsx
  src/renderer/features/network/NetworkSelector/lib/__tests__/network-selector-utils.test.ts
  src/renderer/features/proxies/lib/__tests__/proxies-utils.test.ts
  src/renderer/features/proxies/lib/__tests__/worker-utils.test.ts
  src/renderer/features/wallets/ImportKeys/lib/__tests__/import-keys-utils.test.ts
  src/renderer/features/wallets/WalletSelect/lib/__tests__/wallet-select-utils.test.ts
  src/renderer/shared/api/governance/index.ts
  src/renderer/shared/api/governance/on-chain/lib/on-chain-utils.ts
  src/renderer/shared/api/governance/on-chain/lib/types.ts
  src/renderer/shared/api/governance/on-chain/lib/utils.ts
  src/renderer/shared/api/governance/on-chain/service/claimScheduleService.ts
  src/renderer/shared/api/governance/on-chain/service/governanceService.ts
  src/renderer/shared/api/price-provider/__tests__/utils.test.ts
  src/renderer/shared/api/xcm/__tests__/xcm-utils.test.ts
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/referendum.ts
  src/renderer/shared/core/types/track.ts
  src/renderer/shared/core/types/voting.ts
  src/renderer/shared/lib/utils/__tests__/address.test.ts
  src/renderer/shared/lib/utils/__tests__/arrays.test.ts
  src/renderer/shared/lib/utils/__tests__/balance.test.ts
  src/renderer/shared/lib/utils/__tests__/chain.test.ts
  src/renderer/shared/lib/utils/__tests__/derivation.test.ts
  src/renderer/shared/lib/utils/__tests__/fiat-price-format.test.ts
  src/renderer/shared/lib/utils/__tests__/strings.test.ts
  src/renderer/shared/lib/utils/__tests__/substrate.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: tx signing
  package.json
  pnpm-lock.yaml
  src/renderer/entities/transaction/lib/extrinsicService.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/entities/transaction/ui/Scanning/ScanMultiframeQr.tsx
  src/renderer/entities/transaction/ui/Scanning/ScanSingleframeQr.tsx
  src/renderer/features/operations/OperationSign/lib/types.ts
  src/renderer/features/operations/OperationSign/model/sign-model.ts
  src/renderer/features/operations/OperationSign/ui/OperationSign.tsx
  src/renderer/features/operations/OperationSign/ui/Vault.tsx
  src/renderer/features/operations/OperationSign/ui/WalletConnect.tsx
  src/renderer/features/operations/OperationSubmit/model/__tests__/submit-model.test.ts
  src/renderer/features/operations/OperationSubmit/model/submit-model.ts
  src/renderer/pages/Operations/components/ActionSteps/Submit.tsx
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/add-pure-proxied-model.ts
  src/renderer/widgets/RemoveProxyModal/model/remove-proxy-model.ts
  src/renderer/widgets/RemovePureProxyModal/model/remove-pure-proxy-model.ts
  src/renderer/widgets/Staking/BondExtra/model/bond-extra-model.ts
  src/renderer/widgets/Staking/BondNominate/model/bond-nominate-model.ts
  src/renderer/widgets/Staking/Nominate/model/nominate-model.ts
  src/renderer/widgets/Staking/Payee/model/payee-model.ts
  src/renderer/widgets/Staking/Restake/model/restake-model.ts
  src/renderer/widgets/Staking/Unstake/model/unstake-model.ts
  src/renderer/widgets/Staking/Withdraw/model/withdraw-model.ts
  src/renderer/widgets/Transfer/model/transfer-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix tests
  src/renderer/entities/transaction/lib/mock/extrinsicService.mock.ts
  src/renderer/features/operations/OperationSubmit/model/__tests__/submit-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: tx signing
  package.json
  pnpm-lock.yaml
  src/renderer/entities/transaction/lib/extrinsicService.ts
  src/renderer/entities/transaction/lib/mock/extrinsicService.mock.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/entities/transaction/ui/Scanning/ScanMultiframeQr.tsx
  src/renderer/entities/transaction/ui/Scanning/ScanSingleframeQr.tsx
  src/renderer/features/operations/OperationSign/lib/types.ts
  src/renderer/features/operations/OperationSign/model/sign-model.ts
  src/renderer/features/operations/OperationSign/ui/OperationSign.tsx
  src/renderer/features/operations/OperationSign/ui/Vault.tsx
  src/renderer/features/operations/OperationSign/ui/WalletConnect.tsx
  src/renderer/features/operations/OperationSubmit/model/__tests__/submit-model.test.ts
  src/renderer/features/operations/OperationSubmit/model/submit-model.ts
  src/renderer/pages/Operations/components/ActionSteps/Submit.tsx
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/add-pure-proxied-model.ts
  src/renderer/widgets/RemoveProxyModal/model/remove-proxy-model.ts
  src/renderer/widgets/RemovePureProxyModal/model/remove-pure-proxy-model.ts
  src/renderer/widgets/Staking/BondExtra/model/bond-extra-model.ts
  src/renderer/widgets/Staking/BondNominate/model/bond-nominate-model.ts
  src/renderer/widgets/Staking/Nominate/model/nominate-model.ts
  src/renderer/widgets/Staking/Payee/model/payee-model.ts
  src/renderer/widgets/Staking/Restake/model/restake-model.ts
  src/renderer/widgets/Staking/Unstake/model/unstake-model.ts
  src/renderer/widgets/Staking/Withdraw/model/withdraw-model.ts
  src/renderer/widgets/Transfer/model/transfer-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx
