Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: social media links
  src/renderer/screens/Settings/Overview/components/SocialLinks/SocialLinks.test.tsx
  src/renderer/screens/Settings/Overview/components/SocialLinks/SocialLinks.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: moved account deactivation to batch update
  src/renderer/services/account/__tests__/accountService.test.ts
  src/renderer/services/account/accountService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: moved account deactivation to batch update (#757)
  src/renderer/services/account/__tests__/accountService.test.ts
  src/renderer/services/account/accountService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: address book fixes fix: reset wallet form
  src/renderer/assets/images/functionals/add-address.svg
  src/renderer/components/ui/Icon/data/functionals.tsx
  src/renderer/screens/AddressBook/AddressBook.tsx
  src/renderer/screens/AddressBook/components/ContactList.tsx
  src/renderer/screens/AddressBook/components/ContactModal.tsx
  src/renderer/screens/Onboarding/Vault/ManageStep/ManageStep.tsx
  src/renderer/screens/Onboarding/Vault/ManageStepSingle/ManageStepSingle.tsx
  src/renderer/screens/Onboarding/WatchOnly/WatchOnly.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: save multishard wallet
  src/renderer/screens/Onboarding/Vault/ManageStep/ManageStep.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: merge dev v2
  src/renderer/components/common/index.ts
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/screens/Operations/components/modals/RejectTx.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/services/network/networkService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: reset step on complete wallet creation
  src/renderer/screens/Onboarding/Vault/ManageStep/ManageStep.tsx
  src/renderer/screens/Onboarding/Vault/Vault.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: add aria label for add contact
  src/renderer/screens/AddressBook/AddressBook.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: address book and onboarding
  src/renderer/assets/images/functionals/add-address.svg
  src/renderer/components/ui/Icon/data/functionals.tsx
  src/renderer/screens/AddressBook/AddressBook.tsx
  src/renderer/screens/AddressBook/components/ContactList.tsx
  src/renderer/screens/AddressBook/components/ContactModal.tsx
  src/renderer/screens/Onboarding/Vault/ManageStep/ManageStep.tsx
  src/renderer/screens/Onboarding/Vault/ManageStepSingle/ManageStepSingle.tsx
  src/renderer/screens/Onboarding/Vault/Vault.tsx
  src/renderer/screens/Onboarding/WatchOnly/WatchOnly.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Fix: address book and onboarding (#759)
  src/renderer/assets/images/functionals/add-address.svg
  src/renderer/components/ui/Icon/data/functionals.tsx
  src/renderer/screens/AddressBook/AddressBook.tsx
  src/renderer/screens/AddressBook/components/ContactList.tsx
  src/renderer/screens/AddressBook/components/ContactModal.tsx
  src/renderer/screens/Onboarding/Vault/ManageStep/ManageStep.tsx
  src/renderer/screens/Onboarding/Vault/ManageStepSingle/ManageStepSingle.tsx
  src/renderer/screens/Onboarding/Vault/Vault.tsx
  src/renderer/screens/Onboarding/WatchOnly/WatchOnly.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: validation
  src/renderer/components/common/Fee/Fee.tsx
  src/renderer/components/common/Scanning/ScanMultiframeQr.tsx
  src/renderer/components/common/Scanning/ScanSingleframeQr.tsx
  src/renderer/components/ui-redesign/Alert/Alert.tsx
  src/renderer/components/ui-redesign/Dropdowns/MultiSelect/MultiSelect.tsx
  src/renderer/components/ui-redesign/RadioGroup/RadioGroup.tsx
  src/renderer/components/ui-redesign/RadioGroup/RadioOption.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/SetValidators/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/SetValidators/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/common/utils.tsx
  src/renderer/screens/Staking/Operations/components/Signing/Signing.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: fix texts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix: staking multisig placeholder text
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

ci: get cache
  .github/workflows/get_cache_url.yml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

ci: get token
  .github/workflows/get_cache_url.yml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

ci: try another solution
  .github/workflows/get_cache_url.yml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

ci: fix problems
  .github/workflows/get_cache_url.yml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: fix texts (#762)
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix: rollback routing
  src/renderer/App.tsx
  src/renderer/components/common/ChainLoader/ChainLoader.tsx
  src/renderer/components/ui/Shimmering/Shimmering.tsx
  src/renderer/index.tsx
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/routes/utils.test.ts
  src/renderer/screens/Settings/Overview/components/GeneralActions/GeneralActions.test.tsx
  src/renderer/screens/Settings/Overview/components/MatrixAction/MatrixAction.test.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/SetValidators/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/components/NoAsset/NoAsset.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/InactiveChain.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: webpack update
  webpack/webpack.renderer.dev.ts
  webpack/webpack.renderer.prod.ts
  webpack/webpack.renderer.stage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: Rollback routing
  src/renderer/App.tsx
  src/renderer/components/common/ChainLoader/ChainLoader.tsx
  src/renderer/components/ui/Shimmering/Shimmering.tsx
  src/renderer/index.tsx
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/routes/utils.test.ts
  src/renderer/screens/Settings/Overview/components/GeneralActions/GeneralActions.test.tsx
  src/renderer/screens/Settings/Overview/components/MatrixAction/MatrixAction.test.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/SetValidators/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/components/NoAsset/NoAsset.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/InactiveChain.test.tsx
  webpack/webpack.renderer.dev.ts
  webpack/webpack.renderer.prod.ts
  webpack/webpack.renderer.stage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Rollback routing (#766)
  src/renderer/App.tsx
  src/renderer/components/common/ChainLoader/ChainLoader.tsx
  src/renderer/components/ui/Shimmering/Shimmering.tsx
  src/renderer/index.tsx
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/routes/utils.test.ts
  src/renderer/screens/Settings/Overview/components/GeneralActions/GeneralActions.test.tsx
  src/renderer/screens/Settings/Overview/components/MatrixAction/MatrixAction.test.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/SetValidators/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/components/NoAsset/NoAsset.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/InactiveChain.test.tsx
  webpack/webpack.renderer.dev.ts
  webpack/webpack.renderer.prod.ts
  webpack/webpack.renderer.stage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: improve light client data fetch
  src/renderer/services/staking/validatorsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: status label
  src/renderer/components/ui-redesign/StatusLabel/StatusLabel.stories.tsx
  src/renderer/components/ui-redesign/StatusLabel/StatusLabel.test.tsx
  src/renderer/components/ui-redesign/StatusLabel/StatusLabel.tsx
  src/renderer/components/ui-redesign/StatusLabel/common/constants.ts
  src/renderer/components/ui-redesign/StatusLabel/common/types.ts
  src/renderer/components/ui-redesign/index.ts
  src/renderer/screens/ChatDev/ChatDev.tsx
  src/renderer/screens/Settings/Matrix/Verification/Verification.test.tsx
  src/renderer/screens/Settings/Matrix/Verification/Verification.tsx
  src/renderer/screens/Settings/Overview/components/GeneralActions/GeneralActions.tsx
  src/renderer/screens/Settings/Overview/components/MatrixAction/MatrixAction.test.tsx
  src/renderer/screens/Settings/Overview/components/MatrixAction/MatrixAction.tsx
  src/renderer/services/matrix/common/types.ts
  src/renderer/services/matrix/matrix.ts
  src/renderer/services/translation/translationService.ts
  src/renderer/theme/default.css
  src/shared/locale/en.json
  src/shared/locale/ru.json
  tw-config-consts/colors.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: text
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

Feat: Settings redesign (#769)
  src/renderer/components/ui-redesign/StatusLabel/StatusLabel.stories.tsx
  src/renderer/components/ui-redesign/StatusLabel/StatusLabel.test.tsx
  src/renderer/components/ui-redesign/StatusLabel/StatusLabel.tsx
  src/renderer/components/ui-redesign/StatusLabel/common/constants.ts
  src/renderer/components/ui-redesign/StatusLabel/common/types.ts
  src/renderer/components/ui-redesign/index.ts
  src/renderer/screens/ChatDev/ChatDev.tsx
  src/renderer/screens/Settings/Matrix/Verification/Verification.test.tsx
  src/renderer/screens/Settings/Matrix/Verification/Verification.tsx
  src/renderer/screens/Settings/Overview/components/GeneralActions/GeneralActions.tsx
  src/renderer/screens/Settings/Overview/components/MatrixAction/MatrixAction.test.tsx
  src/renderer/screens/Settings/Overview/components/MatrixAction/MatrixAction.tsx
  src/renderer/services/matrix/common/types.ts
  src/renderer/services/matrix/matrix.ts
  src/renderer/services/translation/translationService.ts
  src/renderer/theme/default.css
  src/shared/locale/en.json
  src/shared/locale/ru.json
  tw-config-consts/colors.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Settings redesign
  src/renderer/components/ui-redesign/StatusLabel/StatusLabel.stories.tsx
  src/renderer/components/ui-redesign/StatusLabel/StatusLabel.test.tsx
  src/renderer/components/ui-redesign/StatusLabel/StatusLabel.tsx
  src/renderer/components/ui-redesign/StatusLabel/common/constants.ts
  src/renderer/components/ui-redesign/StatusLabel/common/types.ts
  src/renderer/components/ui-redesign/index.ts
  src/renderer/screens/ChatDev/ChatDev.tsx
  src/renderer/screens/Settings/Matrix/Verification/Verification.test.tsx
  src/renderer/screens/Settings/Matrix/Verification/Verification.tsx
  src/renderer/screens/Settings/Overview/components/GeneralActions/GeneralActions.tsx
  src/renderer/screens/Settings/Overview/components/MatrixAction/MatrixAction.test.tsx
  src/renderer/screens/Settings/Overview/components/MatrixAction/MatrixAction.tsx
  src/renderer/services/matrix/common/types.ts
  src/renderer/services/matrix/matrix.ts
  src/renderer/services/translation/translationService.ts
  src/renderer/theme/default.css
  src/shared/locale/en.json
  src/shared/locale/ru.json
  tw-config-consts/colors.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: address book comments
  src/renderer/components/common/AddressWithName/AddressWithName.tsx
  src/renderer/components/ui-redesign/Buttons/IconButton/IconButton.tsx
  src/renderer/screens/AddressBook/AddressBook.tsx
  src/renderer/screens/AddressBook/components/ContactList.tsx
  src/renderer/screens/AddressBook/components/ContactModal.tsx
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: long name in account card
  src/renderer/components/common/AddressOnPlate/AddressOnPlate.stories.tsx
  src/renderer/components/common/AddressOnPlate/AddressOnPlate.test.tsx
  src/renderer/components/common/AddressOnPlate/AddressOnPlate.tsx
  src/renderer/components/common/index.ts
  src/renderer/components/layout/PrimaryLayout/Wallets/ActiveAccountCard.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/screens/AddressBook/components/ContactModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: long name in account card (#771)
  src/renderer/components/common/AddressOnPlate/AddressOnPlate.stories.tsx
  src/renderer/components/common/AddressOnPlate/AddressOnPlate.test.tsx
  src/renderer/components/common/AddressOnPlate/AddressOnPlate.tsx
  src/renderer/components/common/index.ts
  src/renderer/components/layout/PrimaryLayout/Wallets/ActiveAccountCard.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: links for the relase
  README.md
  src/renderer/screens/Onboarding/Welcome/PrivacyPolicy.tsx
  src/renderer/screens/Settings/Matrix/InfoSection/InfoSection.tsx
  src/renderer/screens/Settings/Matrix/PrivacyPolicy/PrivacyPolicy.test.tsx
  src/renderer/screens/Settings/Matrix/PrivacyPolicy/PrivacyPolicy.tsx
  src/renderer/screens/Signing/common/consts.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: network disconnect
  src/renderer/services/network/networkService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/shared/locale/*.json
