Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

chore: default value for threshold
  src/renderer/screens/CreateMultisigAccount/CreateMultisigAccount.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: remove console.log
  src/renderer/screens/CreateMultisigAccount/SelectContactsModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/domain/account.ts
  src/renderer/screens/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/services/matrix/common/types.ts
  src/renderer/services/matrix/matrix.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: more tests, preview updates
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.tsx
  src/renderer/components/ui/Inputs/Input/Input.test.tsx
  src/renderer/components/ui/Inputs/Input/Input.tsx
  src/renderer/components/ui/Inputs/InputFile/InputFile.tsx
  src/renderer/components/ui/Inputs/common/types.ts
  src/renderer/screens/AddressBook/AddressBook.tsx
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
  src/renderer/screens/Settings/Matrix/LoginForm/LoginForm.tsx
  src/renderer/screens/Settings/Matrix/Verification/Verification.test.tsx
  src/renderer/screens/Settings/Matrix/Verification/Verification.tsx
  src/renderer/screens/Settings/Networks/ConnectionSelector/CustomRpcModal/CustomRpcModal.tsx
  src/renderer/screens/Settings/Networks/Networks/Networks.tsx
  src/renderer/screens/Staking/Operations/components/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: returned ref
  src/renderer/components/ui/Dropdowns/Combobox/Combobox.tsx
  src/renderer/components/ui/Inputs/Input/Input.tsx
  src/renderer/components/ui/Inputs/InputFile/InputFile.tsx
  src/renderer/components/ui/Inputs/common/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: show link icon by default
  src/renderer/components/ui/InfoLink/InfoLink.test.tsx
  src/renderer/components/ui/InfoLink/InfoLink.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Matrix verification
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/ui/Block/Block.tsx
  src/renderer/components/ui/Dropdowns/Combobox/Combobox.test.tsx
  src/renderer/components/ui/Dropdowns/Combobox/Combobox.tsx
  src/renderer/components/ui/Dropdowns/Dropdown/Dropdown.tsx
  src/renderer/components/ui/Dropdowns/common/constants.ts
  src/renderer/components/ui/InfoLink/InfoLink.test.tsx
  src/renderer/components/ui/InfoLink/InfoLink.tsx
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.tsx
  src/renderer/components/ui/Inputs/Input/Input.test.tsx
  src/renderer/components/ui/Inputs/Input/Input.tsx
  src/renderer/components/ui/Inputs/InputFile/InputFile.stories.tsx
  src/renderer/components/ui/Inputs/InputFile/InputFile.test.tsx
  src/renderer/components/ui/Inputs/InputFile/InputFile.tsx
  src/renderer/components/ui/Inputs/common/types.ts
  src/renderer/screens/AddressBook/AddressBook.tsx
  src/renderer/screens/AddressBook/components/ContactModal.tsx
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
  src/renderer/screens/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/screens/Settings/Matrix/LoginForm/LoginForm.tsx
  src/renderer/screens/Settings/Matrix/Verification/Verification.test.tsx
  src/renderer/screens/Settings/Matrix/Verification/Verification.tsx
  src/renderer/screens/Settings/Networks/ConnectionSelector/CustomRpcModal/CustomRpcModal.tsx
  src/renderer/screens/Settings/Networks/Networks/Networks.tsx
  src/renderer/screens/Staking/Operations/components/Scanning/Scanning.tsx
  src/renderer/screens/Staking/Operations/components/Signing/Signing.tsx
  src/renderer/screens/Staking/Operations/components/TransactionInfo/TransactionInfo.tsx
  src/renderer/screens/Staking/Operations/components/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
  src/renderer/services/matrix/matrix.ts
  src/renderer/shared/utils/address.ts
  src/renderer/shared/utils/browser.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Matrix verification (#560)
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/ui/Block/Block.tsx
  src/renderer/components/ui/Dropdowns/Combobox/Combobox.test.tsx
  src/renderer/components/ui/Dropdowns/Combobox/Combobox.tsx
  src/renderer/components/ui/Dropdowns/Dropdown/Dropdown.tsx
  src/renderer/components/ui/Dropdowns/common/constants.ts
  src/renderer/components/ui/InfoLink/InfoLink.test.tsx
  src/renderer/components/ui/InfoLink/InfoLink.tsx
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.tsx
  src/renderer/components/ui/Inputs/Input/Input.test.tsx
  src/renderer/components/ui/Inputs/Input/Input.tsx
  src/renderer/components/ui/Inputs/InputFile/InputFile.stories.tsx
  src/renderer/components/ui/Inputs/InputFile/InputFile.test.tsx
  src/renderer/components/ui/Inputs/InputFile/InputFile.tsx
  src/renderer/components/ui/Inputs/common/types.ts
  src/renderer/screens/AddressBook/AddressBook.tsx
  src/renderer/screens/AddressBook/components/ContactModal.tsx
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
  src/renderer/screens/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/screens/Settings/Matrix/LoginForm/LoginForm.tsx
  src/renderer/screens/Settings/Matrix/Verification/Verification.test.tsx
  src/renderer/screens/Settings/Matrix/Verification/Verification.tsx
  src/renderer/screens/Settings/Networks/ConnectionSelector/CustomRpcModal/CustomRpcModal.tsx
  src/renderer/screens/Settings/Networks/Networks/Networks.tsx
  src/renderer/screens/Staking/Operations/components/Scanning/Scanning.tsx
  src/renderer/screens/Staking/Operations/components/Signing/Signing.tsx
  src/renderer/screens/Staking/Operations/components/TransactionInfo/TransactionInfo.tsx
  src/renderer/screens/Staking/Operations/components/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
  src/renderer/services/matrix/matrix.ts
  src/renderer/shared/utils/address.ts
  src/renderer/shared/utils/browser.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fix comments
  src/renderer/components/ui/Dropdowns/Combobox/Combobox.tsx
  src/renderer/components/ui/Dropdowns/common/types.ts
  src/renderer/screens/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/screens/CreateMultisigAccount/SelectContactsModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: create multisig wallet
  src/renderer/assets/images/functionals/multisig-outline.svg
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/ui/Buttons/ButtonLink/ButtonLink.tsx
  src/renderer/components/ui/Buttons/common/constants.ts
  src/renderer/components/ui/Buttons/common/types.ts
  src/renderer/components/ui/Checkbox/Checkbox.tsx
  src/renderer/components/ui/Dropdowns/Combobox/Combobox.tsx
  src/renderer/components/ui/Dropdowns/common/types.ts
  src/renderer/components/ui/Icon/data/functionals.tsx
  src/renderer/domain/account.ts
  src/renderer/domain/signatory.ts
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/CreateMultisigAccount/CreateMultisigAccount.test.tsx
  src/renderer/screens/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/screens/CreateMultisigAccount/SelectContactsModal.tsx
  src/renderer/screens/Settings/Matrix/Matrix.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/screens/Transfer/components/index.ts
  src/renderer/screens/index.ts
  src/renderer/services/matrix/common/types.ts
  src/renderer/services/matrix/matrix.ts
  src/renderer/shared/components/Message.tsx
  src/renderer/shared/components/index.tsx
  src/renderer/shared/utils/functions.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: create multisig wallet (#559)
  src/renderer/assets/images/functionals/multisig-outline.svg
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/ui/Buttons/ButtonLink/ButtonLink.tsx
  src/renderer/components/ui/Buttons/common/constants.ts
  src/renderer/components/ui/Buttons/common/types.ts
  src/renderer/components/ui/Checkbox/Checkbox.tsx
  src/renderer/components/ui/Dropdowns/Combobox/Combobox.tsx
  src/renderer/components/ui/Dropdowns/common/types.ts
  src/renderer/components/ui/Icon/data/functionals.tsx
  src/renderer/domain/account.ts
  src/renderer/domain/signatory.ts
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/CreateMultisigAccount/CreateMultisigAccount.test.tsx
  src/renderer/screens/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/screens/CreateMultisigAccount/SelectContactsModal.tsx
  src/renderer/screens/Settings/Matrix/Matrix.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/screens/Transfer/components/index.ts
  src/renderer/screens/index.ts
  src/renderer/services/matrix/common/types.ts
  src/renderer/services/matrix/matrix.ts
  src/renderer/shared/components/Message.tsx
  src/renderer/shared/components/index.tsx
  src/renderer/shared/utils/functions.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: use createRoom method, minor ui fixes
  src/renderer/domain/account.ts
  src/renderer/screens/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/screens/CreateMultisigAccount/SelectContactsModal.tsx
  src/renderer/screens/Settings/Matrix/LoginForm/LoginForm.tsx
  src/renderer/services/matrix/common/errors.ts
  src/renderer/services/matrix/common/types.ts
  src/renderer/services/matrix/matrix.ts
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: use createRoom method, minor ui fixes (#561)
  src/renderer/domain/account.ts
  src/renderer/screens/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/screens/CreateMultisigAccount/SelectContactsModal.tsx
  src/renderer/screens/Settings/Matrix/LoginForm/LoginForm.tsx
  src/renderer/services/matrix/common/errors.ts
  src/renderer/services/matrix/common/types.ts
  src/renderer/services/matrix/matrix.ts
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: matrix handle invite
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/context/MatrixContext/MatrixContext.test.tsx
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/domain/account.ts
  src/renderer/domain/shared-kernel.ts
  src/renderer/routes/index.tsx
  src/renderer/screens/ChatDev/ChatDev.tsx
  src/renderer/screens/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/screens/CreateMultisigAccount/SelectContactsModal.tsx
  src/renderer/screens/Settings/Matrix/Verification/Verification.test.tsx
  src/renderer/screens/Settings/Matrix/Verification/Verification.tsx
  src/renderer/screens/index.ts
  src/renderer/services/account/common/types.ts
  src/renderer/services/matrix/__tests__/credentialStorage.test.ts
  src/renderer/services/matrix/common/constants.ts
  src/renderer/services/matrix/common/types.ts
  src/renderer/services/matrix/credentialStorage.ts
  src/renderer/services/matrix/matrix.ts
  src/renderer/services/network/__tests__/chainSpecService.test.ts
  src/renderer/services/network/networkService.ts
  src/renderer/services/storage/accountStorage.ts
  src/renderer/services/storage/common/types.ts
  src/renderer/shared/utils/address.ts
  src/renderer/shared/utils/browser.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: multisig chain-sync
  src/renderer/App.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/context/MultisigChainContext/index.ts
  src/renderer/domain/transaction.ts
  src/renderer/services/account/accountService.ts
  src/renderer/services/account/common/types.ts
  src/renderer/services/chainSubscription/chainSubscriptionService.ts
  src/renderer/services/chainSubscription/common/types.ts
  src/renderer/services/multisigTx/common/consts.ts
  src/renderer/services/multisigTx/common/types.ts
  src/renderer/services/multisigTx/multisigTxService.ts
  src/renderer/services/multisigTx/multisigTxUtils.ts
  src/renderer/services/storage/common/types.ts
  src/renderer/services/storage/storage.ts
  src/renderer/services/storage/transactionStorage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: added button and button back with new colors
  package.json
  src/renderer/components/ui-redesign/Buttons/Button/Button.stories.tsx
  src/renderer/components/ui-redesign/Buttons/Button/Button.test.tsx
  src/renderer/components/ui-redesign/Buttons/Button/Button.tsx
  src/renderer/components/ui-redesign/Buttons/ButtonBack/ButtonBack.stories.tsx
  src/renderer/components/ui-redesign/Buttons/ButtonBack/ButtonBack.test.tsx
  src/renderer/components/ui-redesign/Buttons/ButtonBack/ButtonBack.tsx
  src/renderer/components/ui-redesign/Buttons/common/constants.ts
  src/renderer/components/ui-redesign/Buttons/common/types.ts
  src/renderer/components/ui/Icon/data/arrow.tsx
  tailwind.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: updated test for back button
  src/renderer/components/ui-redesign/Buttons/ButtonBack/ButtonBack.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: added box shadow for back button
  src/renderer/components/ui-redesign/Buttons/ButtonBack/ButtonBack.tsx
  tailwind.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: renamed variable and function
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/services/matrix/matrix.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Matrix room invite (#562)
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/context/MatrixContext/MatrixContext.test.tsx
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/domain/account.ts
  src/renderer/domain/shared-kernel.ts
  src/renderer/routes/index.tsx
  src/renderer/screens/ChatDev/ChatDev.tsx
  src/renderer/screens/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/screens/CreateMultisigAccount/SelectContactsModal.tsx
  src/renderer/screens/Settings/Matrix/Verification/Verification.test.tsx
  src/renderer/screens/Settings/Matrix/Verification/Verification.tsx
  src/renderer/screens/index.ts
  src/renderer/services/account/common/types.ts
  src/renderer/services/matrix/__tests__/credentialStorage.test.ts
  src/renderer/services/matrix/common/constants.ts
  src/renderer/services/matrix/common/types.ts
  src/renderer/services/matrix/credentialStorage.ts
  src/renderer/services/matrix/matrix.ts
  src/renderer/services/network/__tests__/chainSpecService.test.ts
  src/renderer/services/network/networkService.ts
  src/renderer/services/storage/accountStorage.ts
  src/renderer/services/storage/common/types.ts
  src/renderer/shared/utils/address.ts
  src/renderer/shared/utils/browser.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Matrix room invite
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/context/MatrixContext/MatrixContext.test.tsx
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/domain/account.ts
  src/renderer/domain/shared-kernel.ts
  src/renderer/routes/index.tsx
  src/renderer/screens/ChatDev/ChatDev.tsx
  src/renderer/screens/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/screens/CreateMultisigAccount/SelectContactsModal.tsx
  src/renderer/screens/Settings/Matrix/Verification/Verification.test.tsx
  src/renderer/screens/Settings/Matrix/Verification/Verification.tsx
  src/renderer/screens/index.ts
  src/renderer/services/account/common/types.ts
  src/renderer/services/matrix/__tests__/credentialStorage.test.ts
  src/renderer/services/matrix/common/constants.ts
  src/renderer/services/matrix/common/types.ts
  src/renderer/services/matrix/credentialStorage.ts
  src/renderer/services/matrix/matrix.ts
  src/renderer/services/network/__tests__/chainSpecService.test.ts
  src/renderer/services/network/networkService.ts
  src/renderer/services/storage/accountStorage.ts
  src/renderer/services/storage/common/types.ts
  src/renderer/shared/utils/address.ts
  src/renderer/shared/utils/browser.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fix comments
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.tsx
  src/renderer/screens/Onboarding/Parity/ScanMoreModal/ScanMoreModal.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
  src/renderer/screens/Onboarding/Parity/StepThreeSingle/StepThreeSingle.tsx
  src/renderer/screens/Signing/SigningDev.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/services/account/accountService.ts
  src/renderer/services/account/common/types.ts
  src/renderer/services/balance/__tests__/utils.test.ts
  src/renderer/services/balance/balanceService.ts
  src/renderer/services/balance/common/utils.ts
  src/renderer/services/chainSubscription/chainSubscriptionService.ts
  src/renderer/services/multisigTx/common/types.ts
  src/renderer/services/multisigTx/common/utils.ts
  src/renderer/services/multisigTx/multisigTxService.ts
  src/renderer/services/staking/stakingRewardsService.ts
  src/renderer/services/storage/common/types.ts
  src/renderer/services/storage/transactionStorage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comment
  src/renderer/services/multisigTx/common/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: new component InputArea
  src/renderer/components/ui/Inputs/InputArea/InputArea.stories.tsx
  src/renderer/components/ui/Inputs/InputArea/InputArea.test.tsx
  src/renderer/components/ui/Inputs/InputArea/InputArea.tsx
  src/renderer/components/ui/Inputs/common/types.ts
  src/renderer/components/ui/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: multisig chain sync (#563)
  src/renderer/App.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/context/MultisigChainContext/index.ts
  src/renderer/domain/transaction.ts
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.tsx
  src/renderer/screens/Onboarding/Parity/ScanMoreModal/ScanMoreModal.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
  src/renderer/screens/Onboarding/Parity/StepThreeSingle/StepThreeSingle.tsx
  src/renderer/screens/Signing/SigningDev.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/services/account/accountService.ts
  src/renderer/services/account/common/types.ts
  src/renderer/services/balance/__tests__/utils.test.ts
  src/renderer/services/balance/balanceService.ts
  src/renderer/services/balance/common/utils.ts
  src/renderer/services/chainSubscription/chainSubscriptionService.ts
  src/renderer/services/chainSubscription/common/types.ts
  src/renderer/services/multisigTx/common/consts.ts
  src/renderer/services/multisigTx/common/types.ts
  src/renderer/services/multisigTx/common/utils.ts
  src/renderer/services/multisigTx/multisigTxService.ts
  src/renderer/services/staking/stakingRewardsService.ts
  src/renderer/services/storage/common/types.ts
  src/renderer/services/storage/storage.ts
  src/renderer/services/storage/transactionStorage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: multisig chain sync
  src/renderer/App.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/context/MultisigChainContext/index.ts
  src/renderer/domain/transaction.ts
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.tsx
  src/renderer/screens/Onboarding/Parity/ScanMoreModal/ScanMoreModal.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
  src/renderer/screens/Onboarding/Parity/StepThreeSingle/StepThreeSingle.tsx
  src/renderer/screens/Signing/SigningDev.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/services/account/accountService.ts
  src/renderer/services/account/common/types.ts
  src/renderer/services/balance/__tests__/utils.test.ts
  src/renderer/services/balance/balanceService.ts
  src/renderer/services/balance/common/utils.ts
  src/renderer/services/chainSubscription/chainSubscriptionService.ts
  src/renderer/services/chainSubscription/common/types.ts
  src/renderer/services/multisigTx/common/consts.ts
  src/renderer/services/multisigTx/common/types.ts
  src/renderer/services/multisigTx/common/utils.ts
  src/renderer/services/multisigTx/multisigTxService.ts
  src/renderer/services/staking/stakingRewardsService.ts
  src/renderer/services/storage/common/types.ts
  src/renderer/services/storage/storage.ts
  src/renderer/services/storage/transactionStorage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: select threshold fix: not select doublication public keys
  src/renderer/screens/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/screens/CreateMultisigAccount/SelectContactsModal.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: select threshold
  src/renderer/screens/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/screens/CreateMultisigAccount/SelectContactsModal.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: select threshold (#566)
  src/renderer/screens/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/screens/CreateMultisigAccount/SelectContactsModal.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fixed pr comments
  src/renderer/components/ui-redesign/Buttons/Button/Button.stories.tsx
  src/renderer/components/ui-redesign/Buttons/Button/Button.test.tsx
  src/renderer/components/ui-redesign/Buttons/common/constants.ts
  src/renderer/components/ui-redesign/Buttons/common/types.ts
  tailwind.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: refactor Transfer + TransferForm
  src/renderer/assets/images/walletTypes/paritySignerBg.svg
  src/renderer/assets/images/walletTypes/watchOnlyBg.svg
  src/renderer/components/common/Fee/Fee.tsx
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/ui/Icon/data/walletType.tsx
  src/renderer/components/ui/Identicon/Identicon.test.tsx
  src/renderer/components/ui/Identicon/Identicon.tsx
  src/renderer/domain/account.ts
  src/renderer/routes/paths.ts
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.tsx
  src/renderer/screens/Onboarding/Parity/Parity.tsx
  src/renderer/screens/Signing/MultiframeSignatureReader/MultiframeSignatureReader.tsx
  src/renderer/screens/Signing/ParitySignerSignatureReader/ParitySignerSignatureReader.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/components/TransactionInfo/TransactionInfo.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/screens/Transfer/components/SelectedAddress.tsx
  src/renderer/screens/Transfer/components/TransferDetails.tsx
  src/renderer/screens/Transfer_NEW/Transfer.test.tsx
  src/renderer/screens/Transfer_NEW/Transfer.tsx
  src/renderer/screens/Transfer_NEW/components/ChainLoader/ChainLoader.test.tsx
  src/renderer/screens/Transfer_NEW/components/ChainLoader/ChainLoader.tsx
  src/renderer/screens/Transfer_NEW/components/Confirmation/Confirmation.tsx
  src/renderer/screens/Transfer_NEW/components/InitOperation/InitOperation.tsx
  src/renderer/screens/Transfer_NEW/components/Scanning/Scanning.tsx
  src/renderer/screens/Transfer_NEW/components/Signing/Signing.tsx
  src/renderer/screens/Transfer_NEW/components/Submit/Submit.tsx
  src/renderer/screens/Transfer_NEW/components/TransferForm/TransferForm.tsx
  src/renderer/screens/Transfer_NEW/components/index.ts
  src/renderer/screens/index.ts
  src/renderer/shared/utils/address.ts
  src/renderer/shared/utils/validation.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: callback for page transition
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/ui/Buttons/ButtonLink/ButtonLink.test.tsx
  src/renderer/components/ui/Buttons/ButtonLink/ButtonLink.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx
