Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: pass proper address for dd tx
  src/renderer/components/common/Scanning/ScanMultiframeQr.tsx
  src/renderer/features/operation/sign/ui/VaultSigning/VaultSigning.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: revert dropdown changes
  src/renderer/shared/ui/Dropdowns/Dropdown/DropdownButton/DropdownButton.tsx
  src/renderer/shared/ui/Dropdowns/Dropdown/DropdownIconButton/DropdownIconButton.tsx
  src/renderer/shared/ui/Dropdowns/Dropdown/common/Dropdown.tsx
  src/renderer/shared/ui/Dropdowns/Dropdown/common/DropdownOptions.tsx
  src/renderer/shared/ui/Dropdowns/Dropdown/common/types.ts
  src/renderer/shared/ui/Dropdowns/Dropdown/common/utils.ts
  src/renderer/shared/ui/Dropdowns/DropdownButton/DropdownButton.stories.tsx
  src/renderer/shared/ui/Dropdowns/DropdownButton/DropdownButton.test.tsx
  src/renderer/shared/ui/Dropdowns/DropdownButton/DropdownButton.tsx
  src/renderer/shared/ui/Dropdowns/DropdownIconButton/DropdownIconButton.tsx
  src/renderer/shared/ui/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: revert option type
  src/renderer/pages/Staking/Overview/components/Actions/Actions.tsx
  src/renderer/shared/ui/Dropdowns/DropdownButton/DropdownButton.test.tsx
  src/renderer/shared/ui/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: sharded list at staking page (#1291)
  src/renderer/entities/staking/lib/stakingDataService.ts
  src/renderer/pages/Staking/Overview/components/NominatorsList/NominatorItem/NominatorItem.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/NominatorsList.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/ShardedList/ShardedList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: locale fix
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

chore: pr comments fix
  src/renderer/components/common/QrCode/QrGenerator/QrTxGenerator.tsx
  src/renderer/components/common/QrCode/QrGenerator/common/utils.ts
  src/renderer/components/common/Scanning/ScanMultiframeQr.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: updated tests
  src/renderer/components/common/QrCode/QrGenerator/common/utils.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: public key and alert
  src/renderer/pages/Onboarding/Vault/ManageVault/ManageVault.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/ui/Alert/Alert.tsx
  src/renderer/widgets/WalletDetails/ui/VaultWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Fix: dd multishard staking (#1292)
  src/renderer/components/common/QrCode/QrGenerator/QrTxGenerator.tsx
  src/renderer/components/common/QrCode/QrGenerator/common/utils.test.ts
  src/renderer/components/common/QrCode/QrGenerator/common/utils.ts
  src/renderer/components/common/Scanning/ScanMultiframeQr.tsx
  src/renderer/features/operation/sign/ui/VaultSigning/VaultSigning.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: public key and alert (#1293)
  src/renderer/pages/Onboarding/Vault/ManageVault/ManageVault.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/ui/Alert/Alert.tsx
  src/renderer/widgets/WalletDetails/ui/VaultWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: polakdot vault wallet export and import fix
  src/main/main.ts
  src/renderer/features/wallets/ExportKeys/lib/export-keys-utils.ts
  src/renderer/features/wallets/ExportKeys/lib/types.ts
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/model/import-keys-model.ts
  src/renderer/widgets/WalletDetails/lib/utils.ts
  src/renderer/widgets/WalletDetails/ui/VaultDetailsActions.tsx
  src/renderer/widgets/WalletDetails/ui/VaultWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: comment fix
  src/main/main.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: linter error fix
  src/renderer/widgets/WalletDetails/lib/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: polakdot vault wallet export and import fix (#1294)
  src/renderer/features/wallets/ExportKeys/lib/export-keys-utils.ts
  src/renderer/features/wallets/ExportKeys/lib/types.ts
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/model/import-keys-model.ts
  src/renderer/widgets/WalletDetails/lib/utils.ts
  src/renderer/widgets/WalletDetails/ui/VaultDetailsActions.tsx
  src/renderer/widgets/WalletDetails/ui/VaultWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: test
  electron-builder.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: balances and networks refactoring
  src/renderer/entities/balance/lib/balanceSubscriptionService.ts
  src/renderer/entities/balance/lib/common/constants.ts
  src/renderer/entities/balance/model/balance-model.ts
  src/renderer/entities/network/model/network-model.ts
  src/renderer/features/balances/model/balance-subscription-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix multishard account balances
  src/renderer/pages/Assets/AssetsList/components/NetworkAssets/NetworkAssets.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: remove logs
  src/renderer/entities/balance/model/balance-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix comments
  src/renderer/entities/network/model/network-model.ts
  src/renderer/features/balances/common/constants.ts
  src/renderer/features/balances/model/balance-subscription-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix comments
  src/renderer/features/balances/model/balance-subscription-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: balances and networks refactoring (#1297)
  src/renderer/entities/balance/lib/balanceSubscriptionService.ts
  src/renderer/entities/balance/lib/common/constants.ts
  src/renderer/entities/balance/model/balance-model.ts
  src/renderer/entities/network/model/network-model.ts
  src/renderer/features/balances/common/constants.ts
  src/renderer/features/balances/model/balance-subscription-model.ts
  src/renderer/pages/Assets/AssetsList/components/NetworkAssets/NetworkAssets.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: balances and networks refactoring
  src/renderer/entities/balance/lib/balanceSubscriptionService.ts
  src/renderer/entities/balance/lib/common/constants.ts
  src/renderer/entities/balance/model/balance-model.ts
  src/renderer/entities/network/model/network-model.ts
  src/renderer/features/balances/common/constants.ts
  src/renderer/features/balances/model/balance-subscription-model.ts
  src/renderer/pages/Assets/AssetsList/components/NetworkAssets/NetworkAssets.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: use chainId instead of specName
  src/renderer/pages/Onboarding/Vault/ManageVault/model/manage-vault-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: actionButton & list overflow
  src/renderer/entities/asset/ui/AssetCard/AssetCard.test.tsx
  src/renderer/features/wallets/SelectWalletPairing/ui/SelectWalletPairing.tsx
  src/renderer/pages/Onboarding/Vault/Vault.tsx
  src/renderer/pages/Onboarding/WalletConnect/NovaWallet.tsx
  src/renderer/pages/Onboarding/WalletConnect/WalletConnect.tsx
  src/renderer/pages/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
  src/renderer/pages/Settings/Networks/components/CustomRpcModal/CustomRpcModal.tsx
  src/renderer/pages/Staking/Operations/Bond/Bond.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/pages/Staking/Operations/Destination/Destination.tsx
  src/renderer/pages/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/pages/Staking/Operations/Restake/Restake.tsx
  src/renderer/pages/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/pages/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/ShardedList/ShardedList.tsx
  src/renderer/shared/ui/Dropdowns/common/types.ts
  src/renderer/shared/ui/Modals/BaseModal/BaseModal.stories.tsx
  src/renderer/shared/ui/Modals/BaseModal/BaseModal.test.tsx
  src/renderer/shared/ui/Modals/BaseModal/BaseModal.tsx
  src/renderer/shared/ui/Modals/ConfirmModal/ConfirmModal.stories.tsx
  src/renderer/shared/ui/Modals/ConfirmModal/ConfirmModal.test.tsx
  src/renderer/shared/ui/Modals/ConfirmModal/ConfirmModal.tsx
  src/renderer/shared/ui/Modals/StatusModal/StatusModal.tsx
  src/renderer/shared/ui/Modals/common/index.ts
  src/renderer/shared/ui/index.ts
  src/renderer/widgets/ReceiveAssetModal/ui/ReceiveAssetModal.tsx
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
  src/renderer/widgets/WalletDetails/ui/MultishardDetailsActions.tsx
  src/renderer/widgets/WalletDetails/ui/MultishardWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/VaultDetailsActions.tsx
  src/renderer/widgets/WalletDetails/ui/VaultWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: test & key_names
  src/renderer/pages/Onboarding/Vault/ManageVault/model/__tests__/manage-vault-model.test.ts
  src/renderer/pages/Onboarding/Vault/ManageVault/model/manage-vault-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: Vault chainId (#1298)
  src/renderer/pages/Onboarding/Vault/ManageVault/model/__tests__/manage-vault-model.test.ts
  src/renderer/pages/Onboarding/Vault/ManageVault/model/manage-vault-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: base modal title & close button
  src/renderer/pages/Onboarding/Vault/ManageMultishard/ManageMultishard.tsx
  src/renderer/pages/Onboarding/Vault/ManageSingleshard/ManageSingleshard.tsx
  src/renderer/pages/Onboarding/Vault/ManageVault/ManageVault.tsx
  src/renderer/pages/Onboarding/Vault/Vault.tsx
  src/renderer/pages/Onboarding/WalletConnect/ManageStep.tsx
  src/renderer/pages/Onboarding/WalletConnect/NovaWallet.tsx
  src/renderer/pages/Onboarding/WalletConnect/WalletConnect.tsx
  src/renderer/pages/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
  src/renderer/pages/Settings/Networks/components/CustomRpcModal/CustomRpcModal.tsx
  src/renderer/pages/Staking/Operations/Bond/Bond.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/pages/Staking/Operations/Destination/Destination.tsx
  src/renderer/pages/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/pages/Staking/Operations/Restake/Restake.tsx
  src/renderer/pages/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/pages/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/MultisigAccount.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/ConfirmSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/SelectSignatories.tsx
  src/renderer/widgets/ReceiveAssetModal/ui/ReceiveAssetModal.tsx
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
  src/renderer/widgets/WalletDetails/ui/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: get appropriate account
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/shared/ui/Modals/BaseModal/BaseModal.tsx
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: rework proxy service and models
  src/renderer/entities/proxy/common/constants.ts
  src/renderer/entities/proxy/common/utils.ts
  src/renderer/entities/proxy/index.ts
  src/renderer/entities/proxy/model/__tests__/proxy-model.test.ts
  src/renderer/entities/proxy/model/proxy-model.ts
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/features/proxies/common/types.ts
  src/renderer/features/proxies/common/utils.ts
  src/renderer/features/proxies/index.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
  src/renderer/shared/api/storage/common/types.ts
  src/renderer/shared/api/storage/index.ts
  src/renderer/shared/api/storage/service/dexie.ts
  src/renderer/shared/api/storage/service/proxyStorage.ts
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/account.ts
  src/renderer/shared/core/types/proxy.ts
  src/renderer/widgets/WalletDetails/ui/WalletDetailsProvider.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: merge dev into dd
  pnpm-lock.yaml
  src/renderer/entities/network/lib/__tests__/chainsService.test.ts
  src/renderer/pages/Assets/AssetsList/AssetsList.tsx
  src/renderer/pages/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Settings/Networks/components/NetworkList/NetworkList.test.tsx
  src/renderer/pages/Staking/Overview/Overview.test.tsx
  src/renderer/shared/api/storage/__tests__/balanceStorage.test.ts
  src/renderer/shared/api/storage/__tests__/storage.test.ts
  src/renderer/shared/api/storage/common/types.ts
  src/renderer/shared/api/storage/service/connectionStorage.ts
  src/renderer/shared/api/storage/service/dexie.ts
  src/renderer/shared/core/types/connection.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: iconButton style, exports
  src/renderer/pages/Operations/components/ActionSteps/Submit.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/NominatorItem/NominatorItem.tsx
  src/renderer/shared/ui/Animation/Animation.tsx
  src/renderer/shared/ui/Animation/Data.ts
  src/renderer/shared/ui/Animation/common/constants.ts
  src/renderer/shared/ui/Buttons/ButtonBack/ButtonBack.tsx
  src/renderer/shared/ui/Buttons/IconButton/IconButton.test.tsx
  src/renderer/shared/ui/Buttons/IconButton/IconButton.tsx
  src/renderer/shared/ui/index.ts
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: lint fix
  src/renderer/pages/Assets/AssetsList/components/NetworkAssets/NetworkAssets.tsx
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Operations/components/OperationCardDetails.tsx
  src/renderer/pages/Operations/components/OperationFullInfo.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: compound components
  src/renderer/entities/staking/ui/ValidatorsTable/ValidatorsTable.tsx
  src/renderer/entities/wallet/ui/ExplorersPopover/ExplorersPopover.tsx
  src/renderer/shared/ui/ContextMenu/ContextMenu.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: dropdown icon button
  src/renderer/entities/transaction/ui/OperationResult/common/constants.ts
  src/renderer/shared/ui/Animation/Animation.tsx
  src/renderer/shared/ui/Buttons/IconButton/IconButton.stories.tsx
  src/renderer/shared/ui/Dropdowns/DropdownIconButton/DropdownIconButton.tsx
  src/renderer/shared/ui/Dropdowns/DropdownIconButton/DropdownIconButton_OLD.tsx
  src/renderer/widgets/WalletDetails/ui/MultishardWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/VaultWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: ts fixes
  src/renderer/entities/network/lib/chainsService.ts
  src/renderer/entities/transaction/ui/OperationResult/common/constants.ts
  src/renderer/pages/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/shared/ui/Buttons/IconButton/IconButton.stories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: dropdown icon button compound component
  src/renderer/shared/ui/Dropdowns/DropdownIconButton/DropdownIconButton.tsx
  src/renderer/widgets/WalletDetails/ui/MultishardWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/VaultWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/renderer/shared/api/translation/locales/*.json
