Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: function name
  tests/system/pages/loginPage/BaseLoginPage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: playwright path
  .github/workflows/system_tests.yml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: lint
  tests/system/pages/loginPage/BaseLoginPage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: run_type_info
  .github/workflows/system_tests.yml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: support only xcm v2
  src/renderer/shared/lib/utils/substrate.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Update src/renderer/shared/config/chains/chains.json
  src/renderer/shared/config/chains/chains.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: merge fixes from release 1.7.3 to dev
  .github/workflows/release.yaml
  package.json
  src/renderer/shared/config/chains/chains.json
  src/renderer/shared/lib/utils/substrate.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: merge fixes from release 1.7.3 to dev (#1829)
  .github/workflows/release.yaml
  package.json
  src/renderer/shared/config/chains/chains.json
  src/renderer/shared/lib/utils/substrate.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: add db interaction in system tests (#1824)
  .github/workflows/system_tests.yml
  docker/Dockerfile
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  scripts/updateTestData.js
  tests/system/data/chains/chainsList.ts
  tests/system/data/chains/testChainModel.ts
  tests/system/data/db/dynamicDerivations/dynamicDerivationsWallets.ts
  tests/system/data/db/polkadotVaultWallet/polkadotVaultSubstrateWallet.ts
  tests/system/data/db/polkadotVaultWallet/polkadotVaultWithEthereum.ts
  tests/system/onboarding/vault.onboarding.system.test.tsx
  tests/system/onboarding/watch.only.onboarding.system.test.tsx
  tests/system/pages/BasePage.ts
  tests/system/pages/_elements/AssetsPageElements.ts
  tests/system/pages/_elements/AssetsSettingsModalElements.ts
  tests/system/pages/_elements/LoginPageElements.ts
  tests/system/pages/_elements/TransferModalElements.ts
  tests/system/pages/assetsPage/VaultAssetsPage.ts
  tests/system/pages/assetsPage/WatchOnlyAssetsPage.ts
  tests/system/pages/loginPage/BaseLoginPage.ts
  tests/system/pages/loginPage/WatchOnlyLoginPage.ts
  tests/system/pages/modals/AssetsSettingsModalWindow.ts
  tests/system/pages/modals/TransferModalWindow.ts
  tests/system/pages/modals/WalletModalWindow.ts
  tests/system/tests/assets/load.eth.fee.test.ts
  tests/system/tests/assets/load.fee.test.ts
  tests/system/tests/onboarding/vault.onboarding.system.test.ts
  tests/system/tests/onboarding/watch.only.onboarding.system.test.ts
  tests/system/utils/interactWithDatabase.ts
  tests/system/utils/readConfig.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: add db interaction in system tests
  .github/workflows/system_tests.yml
  docker/Dockerfile
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  scripts/updateTestData.js
  tests/system/data/chains/chainsList.ts
  tests/system/data/chains/testChainModel.ts
  tests/system/data/db/dynamicDerivations/dynamicDerivationsWallets.ts
  tests/system/data/db/polkadotVaultWallet/polkadotVaultSubstrateWallet.ts
  tests/system/data/db/polkadotVaultWallet/polkadotVaultWithEthereum.ts
  tests/system/onboarding/vault.onboarding.system.test.tsx
  tests/system/onboarding/watch.only.onboarding.system.test.tsx
  tests/system/pages/BasePage.ts
  tests/system/pages/_elements/AssetsPageElements.ts
  tests/system/pages/_elements/AssetsSettingsModalElements.ts
  tests/system/pages/_elements/LoginPageElements.ts
  tests/system/pages/_elements/TransferModalElements.ts
  tests/system/pages/assetsPage/VaultAssetsPage.ts
  tests/system/pages/assetsPage/WatchOnlyAssetsPage.ts
  tests/system/pages/loginPage/BaseLoginPage.ts
  tests/system/pages/loginPage/WatchOnlyLoginPage.ts
  tests/system/pages/modals/AssetsSettingsModalWindow.ts
  tests/system/pages/modals/TransferModalWindow.ts
  tests/system/pages/modals/WalletModalWindow.ts
  tests/system/tests/assets/load.eth.fee.test.ts
  tests/system/tests/assets/load.fee.test.ts
  tests/system/tests/onboarding/vault.onboarding.system.test.ts
  tests/system/tests/onboarding/watch.only.onboarding.system.test.ts
  tests/system/utils/interactWithDatabase.ts
  tests/system/utils/readConfig.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: confirm basket transaction (transfer, add proxy)
  src/renderer/features/operations/OperationsConfirm/AddProxy/index.ts
  src/renderer/features/operations/OperationsConfirm/AddProxy/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/AddProxy/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Transfer/index.ts
  src/renderer/features/operations/OperationsConfirm/Transfer/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Transfer/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/index.ts
  src/renderer/pages/Basket/lib/operation-title.ts
  src/renderer/pages/Basket/lib/sign-operations-utils.ts
  src/renderer/pages/Basket/model/basket-page-model.ts
  src/renderer/pages/Basket/model/sign-operations-model.ts
  src/renderer/pages/Basket/types/index.ts
  src/renderer/pages/Basket/types/sign-operations-types.ts
  src/renderer/pages/Basket/ui/Basket.tsx
  src/renderer/pages/Basket/ui/Operation.tsx
  src/renderer/pages/Basket/ui/SignOperation.tsx
  src/renderer/widgets/AddProxyModal/ui/AddProxy.tsx
  src/renderer/widgets/Transfer/model/transfer-model.ts
  src/renderer/widgets/Transfer/ui/Transfer.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: validation fix
  src/renderer/features/operations/OperationsValidation/lib/bond-nominate-rules.ts
  src/renderer/features/operations/OperationsValidation/lib/remove-pure-proxied-rules.ts
  src/renderer/features/operations/OperationsValidation/lib/withdraw-rules.ts
  src/renderer/features/operations/OperationsValidation/model/bond-extra-validate-model.ts
  src/renderer/features/operations/OperationsValidation/model/bond-nominate-validate-model.ts
  src/renderer/features/operations/OperationsValidation/model/remove-proxy-validate-model.ts
  src/renderer/features/operations/OperationsValidation/model/remove-pure-proxied-validate-model.ts
  src/renderer/features/operations/OperationsValidation/model/restake-validate-model.ts
  src/renderer/features/operations/OperationsValidation/model/transfer-validate-model.ts
  src/renderer/features/operations/OperationsValidation/model/unstake-validate-model.ts
  src/renderer/features/operations/OperationsValidation/model/withdraw-validate-model.ts
  src/renderer/shared/lib/utils/balance.ts
  src/renderer/widgets/RemovePureProxyModal/model/form-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: add pure proxied confirm for basket
  src/renderer/features/operations/OperationsConfirm/AddPureProxied/index.ts
  src/renderer/features/operations/OperationsConfirm/AddPureProxied/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/AddPureProxied/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/RemoveProxy/index.ts
  src/renderer/features/operations/OperationsConfirm/RemoveProxy/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/index.ts
  src/renderer/widgets/AddPureProxiedModal/model/add-pure-proxied-model.ts
  src/renderer/widgets/AddPureProxiedModal/ui/AddPureProxied.tsx
  src/renderer/widgets/AddPureProxiedModal/ui/AddPureProxiedForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix tests
  src/renderer/features/operations/OperationsValidation/lib/withdraw-rules.ts
  src/renderer/features/operations/OperationsValidation/model/withdraw-validate-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix test
  src/renderer/widgets/AddPureProxiedModal/model/__tests__/confirm-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: validation fix (#1832)
  src/renderer/features/operations/OperationsValidation/lib/bond-nominate-rules.ts
  src/renderer/features/operations/OperationsValidation/lib/remove-pure-proxied-rules.ts
  src/renderer/features/operations/OperationsValidation/lib/withdraw-rules.ts
  src/renderer/features/operations/OperationsValidation/model/bond-extra-validate-model.ts
  src/renderer/features/operations/OperationsValidation/model/bond-nominate-validate-model.ts
  src/renderer/features/operations/OperationsValidation/model/remove-proxy-validate-model.ts
  src/renderer/features/operations/OperationsValidation/model/remove-pure-proxied-validate-model.ts
  src/renderer/features/operations/OperationsValidation/model/restake-validate-model.ts
  src/renderer/features/operations/OperationsValidation/model/transfer-validate-model.ts
  src/renderer/features/operations/OperationsValidation/model/unstake-validate-model.ts
  src/renderer/features/operations/OperationsValidation/model/withdraw-validate-model.ts
  src/renderer/shared/lib/utils/balance.ts
  src/renderer/widgets/RemovePureProxyModal/model/form-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: some refactoring
  src/renderer/features/operations/OperationsConfirm/RemoveProxy/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/RemovePureProxied/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/RemovePureProxied/ui/Confirmation.tsx
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/RemoveProxyModal/model/confirm-model.ts
  src/renderer/widgets/RemoveProxyModal/model/remove-proxy-model.ts
  src/renderer/widgets/RemoveProxyModal/ui/Confirm.tsx
  src/renderer/widgets/RemovePureProxyModal/model/confirm-model.ts
  src/renderer/widgets/RemovePureProxyModal/model/remove-pure-proxy-model.ts
  src/renderer/widgets/RemovePureProxyModal/ui/Confirm.tsx
  src/renderer/widgets/Staking/BondExtra/model/bond-extra-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: title naming
  src/renderer/features/operations/OperationsConfirm/Transfer/ui/Confirmation.tsx
  src/renderer/pages/Basket/lib/operation-title.ts
  src/renderer/pages/Basket/ui/SignOperation.tsx
  src/renderer/widgets/AddProxyModal/model/__tests__/confirm-model.test.ts
  src/renderer/widgets/AddProxyModal/model/confirm-model.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxyForm.tsx
  src/renderer/widgets/AddPureProxiedModal/model/__tests__/confirm-model.test.ts
  src/renderer/widgets/RemoveProxyModal/ui/RemoveProxy.tsx
  src/renderer/widgets/RemovePureProxyModal/ui/RemovePureProxy.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: threshold calculation
  src/renderer/entities/governance/index.ts
  src/renderer/entities/governance/lib/referendum-utils.ts
  src/renderer/entities/governance/model/governance-model.ts
  src/renderer/entities/governance/ui/VoteCharts/VoteChartSm/VoteChartSm.tsx
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/entities/transaction/ui/MultisigDeposit/MultisigDeposit.tsx
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/features/governance/ReferendumList/index.ts
  src/renderer/features/governance/ReferendumList/lib/referendum-list-utils.ts
  src/renderer/features/governance/ReferendumList/model/referendum-list-model.ts
  src/renderer/features/governance/ReferendumList/ui/CompletedReferendums.tsx
  src/renderer/features/governance/ReferendumList/ui/LoadingCompleted.tsx
  src/renderer/features/governance/ReferendumList/ui/LoadingOngoing.tsx
  src/renderer/features/governance/ReferendumList/ui/LoadingReferendums.tsx
  src/renderer/features/governance/ReferendumList/ui/OngoingReferendums.tsx
  src/renderer/features/governance/index.ts
  src/renderer/pages/Governance/model/governance-page-model.ts
  src/renderer/pages/Governance/ui/Governance.tsx
  src/renderer/shared/api/governance/index.ts
  src/renderer/shared/api/governance/on-chain/lib/claim-types.ts
  src/renderer/shared/api/governance/on-chain/lib/on-chain-utils.ts
  src/renderer/shared/api/governance/on-chain/lib/threshold-types.ts
  src/renderer/shared/api/governance/on-chain/service/__tests__/claimScheduleService.test.ts
  src/renderer/shared/api/governance/on-chain/service/claimScheduleService.ts
  src/renderer/shared/api/governance/on-chain/service/fellowshipThresholdService.ts
  src/renderer/shared/api/governance/on-chain/service/governanceService.ts
  src/renderer/shared/api/governance/on-chain/service/opengovThresholdService.ts
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/account.ts
  src/renderer/shared/core/types/general.ts
  src/renderer/shared/core/types/referendum.ts
  src/renderer/shared/core/types/track.ts
  src/renderer/shared/ui/Popovers/Tooltip/Tooltip.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: open only one confirm screen
  src/renderer/pages/Basket/model/sign-operations-model.ts
  src/renderer/pages/Basket/ui/Basket.tsx
  src/renderer/pages/Basket/ui/Operation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: titles for confirm
  src/renderer/pages/Basket/lib/operation-title.ts
  src/renderer/pages/Basket/ui/Operation.tsx
  src/renderer/pages/Basket/ui/SignOperation.tsx
  src/renderer/widgets/AddProxyModal/ui/AddProxyForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix asset in title for staking
  src/renderer/pages/Basket/lib/operation-title.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix tests
  src/renderer/pages/Basket/ui/Operation.tsx
  src/renderer/widgets/AddProxyModal/model/__tests__/add-proxy-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: status and vote chart
  src/renderer/entities/governance/model/governance-model.ts
  src/renderer/features/governance/ReferendumList/lib/referendum-list-utils.ts
  src/renderer/features/governance/ReferendumList/model/referendum-list-model.ts
  src/renderer/features/governance/ReferendumList/ui/OngoingReferendums.tsx
  src/renderer/pages/Governance/ui/Governance.tsx
  src/renderer/shared/assets/images/aesthetics/fellowship.svg
  src/renderer/shared/assets/images/aesthetics/polkadot.svg
  src/renderer/shared/assets/images/aesthetics/rocket.svg
  src/renderer/shared/assets/images/aesthetics/staking.svg
  src/renderer/shared/assets/images/aesthetics/treasury.svg
  src/renderer/shared/assets/images/aesthetics/voting.svg
  src/renderer/shared/ui/Icon/data/aesthetics.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix validators confirm
  src/renderer/pages/Basket/model/sign-operations-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: voted status
  src/renderer/entities/governance/model/governance-model.ts
  src/renderer/entities/governance/ui/Voted/Voted.tsx
  src/renderer/features/governance/ReferendumList/lib/referendum-list-utils.ts
  src/renderer/features/governance/ReferendumList/model/referendum-list-model.ts
  src/renderer/features/governance/ReferendumList/ui/CompletedReferendums.tsx
  src/renderer/features/governance/ReferendumList/ui/OngoingReferendums.tsx
  src/renderer/pages/Governance/model/governance-page-model.ts
  src/renderer/pages/Governance/ui/Governance.tsx
  src/renderer/shared/api/governance/on-chain/service/governanceService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: add send\receive modal for portfolio
  src/renderer/features/assets/AssetsPortfolioView/index.tsx
  src/renderer/features/assets/AssetsPortfolioView/model/portfolio-model.ts
  src/renderer/features/assets/AssetsPortfolioView/ui/TokenBalance.tsx
  src/renderer/features/assets/AssetsPortfolioView/ui/TokenBalanceList.tsx
  src/renderer/pages/Assets/Assets/Assets.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/AssetTransactionModal/index.ts
  src/renderer/widgets/AssetTransactionModal/lib/types.ts
  src/renderer/widgets/AssetTransactionModal/lib/utils.ts
  src/renderer/widgets/AssetTransactionModal/model/__tests__/asset-transaction-model.test.ts
  src/renderer/widgets/AssetTransactionModal/model/__tests__/mock.ts
  src/renderer/widgets/AssetTransactionModal/model/asset-transaction-model.ts
  src/renderer/widgets/AssetTransactionModal/ui/AssetTransactionModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: delete unused
  src/renderer/widgets/AssetTransactionModal/model/__tests__/mock.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: ref list
  src/renderer/features/governance/ReferendumList/lib/referendum-list-utils.ts
  src/renderer/features/governance/ReferendumList/model/referendum-list-model.ts
  src/renderer/features/governance/ReferendumList/ui/CompletedReferendums.tsx
  src/renderer/features/governance/ReferendumList/ui/OngoingReferendums.tsx
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: clean up
  src/renderer/widgets/AssetTransactionModal/model/asset-transaction-model.ts
  src/renderer/widgets/AssetTransactionModal/ui/AssetTransactionModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/pages/Basket/model/sign-operations-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: add send\receive modal for portfolio (#1842)
  src/renderer/features/assets/AssetsPortfolioView/index.tsx
  src/renderer/features/assets/AssetsPortfolioView/model/portfolio-model.ts
  src/renderer/features/assets/AssetsPortfolioView/ui/TokenBalance.tsx
  src/renderer/features/assets/AssetsPortfolioView/ui/TokenBalanceList.tsx
  src/renderer/pages/Assets/Assets/Assets.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/AssetTransactionModal/index.ts
  src/renderer/widgets/AssetTransactionModal/lib/types.ts
  src/renderer/widgets/AssetTransactionModal/lib/utils.ts
  src/renderer/widgets/AssetTransactionModal/model/__tests__/asset-transaction-model.test.ts
  src/renderer/widgets/AssetTransactionModal/model/asset-transaction-model.ts
  src/renderer/widgets/AssetTransactionModal/ui/AssetTransactionModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: add send\receive modal for portfolio
  src/renderer/features/assets/AssetsPortfolioView/index.tsx
  src/renderer/features/assets/AssetsPortfolioView/model/portfolio-model.ts
  src/renderer/features/assets/AssetsPortfolioView/ui/TokenBalance.tsx
  src/renderer/features/assets/AssetsPortfolioView/ui/TokenBalanceList.tsx
  src/renderer/pages/Assets/Assets/Assets.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/AssetTransactionModal/index.ts
  src/renderer/widgets/AssetTransactionModal/lib/types.ts
  src/renderer/widgets/AssetTransactionModal/lib/utils.ts
  src/renderer/widgets/AssetTransactionModal/model/__tests__/asset-transaction-model.test.ts
  src/renderer/widgets/AssetTransactionModal/model/asset-transaction-model.ts
  src/renderer/widgets/AssetTransactionModal/ui/AssetTransactionModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: i18n
  src/renderer/features/governance/ReferendumList/ui/CompletedReferendums.tsx
  src/renderer/features/governance/ReferendumList/ui/OngoingReferendums.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: token list counter
  src/renderer/features/assets/AssetsPortfolioView/ui/TokenBalanceList.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/renderer/shared/api/translation/locales/*.json
