Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: cache metadata (#1039)
  src/renderer/entities/network/lib/common/constants.ts
  src/renderer/entities/network/lib/common/types.ts
  src/renderer/entities/network/lib/metadataService.ts
  src/renderer/entities/network/lib/networkService.ts
  src/renderer/entities/network/lib/provider/CachedProvider.ts
  src/renderer/shared/api/storage/common/types.ts
  src/renderer/shared/api/storage/metadataStorage.ts
  src/renderer/shared/api/storage/storage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: filter by destination
  package.json
  pnpm-lock.yaml
  src/renderer/entities/transaction/model/transaction.ts
  src/renderer/features/operation/OperationsFilter/ui/OperationsFilter.tsx
  src/renderer/shared/api/storage/common/types.ts
  src/renderer/shared/api/storage/common/upgrades.ts
  src/renderer/shared/api/storage/storage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr review
  src/renderer/entities/transaction/lib/common/constants.ts
  src/renderer/entities/transaction/model/transaction.ts
  src/renderer/features/operation/OperationsFilter/lib/constants.ts
  src/renderer/features/operation/OperationsFilter/ui/OperationsFilter.tsx
  src/renderer/shared/api/storage/common/upgrades.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: update tests
  src/renderer/shared/api/cross-chain/__tests__/crossChainService.test.ts
  src/renderer/shared/api/cross-chain/crossChainService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: pr review
  src/renderer/pages/Operations/components/Log.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: subscribe to store in multisig creation
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: subscribe to store in multisig creation
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: update imports
  src/renderer/entities/transaction/lib/common/constants.ts
  src/renderer/pages/Operations/components/Log.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: update imports
  src/renderer/entities/transaction/lib/common/constants.ts
  src/renderer/features/operation/OperationsFilter/ui/OperationsFilter.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Xcm filter (#1046)
  package.json
  pnpm-lock.yaml
  src/renderer/entities/transaction/lib/callDataDecoder.ts
  src/renderer/entities/transaction/lib/common/constants.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/entities/transaction/model/transaction.ts
  src/renderer/features/operation/OperationsFilter/index.ts
  src/renderer/features/operation/OperationsFilter/lib/constants.ts
  src/renderer/features/operation/OperationsFilter/lib/utils.ts
  src/renderer/features/operation/OperationsFilter/ui/OperationsFilter.tsx
  src/renderer/features/operation/index.ts
  src/renderer/pages/Operations/Operations.test.tsx
  src/renderer/pages/Operations/Operations.tsx
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/shared/api/storage/common/types.ts
  src/renderer/shared/api/storage/common/upgrades.ts
  src/renderer/shared/api/storage/storage.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Xcm filter
  package.json
  pnpm-lock.yaml
  src/renderer/entities/transaction/lib/callDataDecoder.ts
  src/renderer/entities/transaction/lib/common/constants.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/entities/transaction/model/transaction.ts
  src/renderer/features/operation/OperationsFilter/index.ts
  src/renderer/features/operation/OperationsFilter/lib/constants.ts
  src/renderer/features/operation/OperationsFilter/lib/utils.ts
  src/renderer/features/operation/OperationsFilter/ui/OperationsFilter.tsx
  src/renderer/features/operation/index.ts
  src/renderer/pages/Operations/Operations.test.tsx
  src/renderer/pages/Operations/Operations.tsx
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/shared/api/storage/common/types.ts
  src/renderer/shared/api/storage/common/upgrades.ts
  src/renderer/shared/api/storage/storage.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Xcm icon
  src/renderer/assets/images/arrows/cross-chain-arrow.svg
  src/renderer/entities/asset/ui/AssetBalance/AssetBalance.tsx
  src/renderer/pages/Assets/AssetsList/components/NetworkAssets/NetworkAssets.tsx
  src/renderer/pages/Operations/Operations.tsx
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/pages/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/pages/Operations/components/Log.tsx
  src/renderer/pages/Operations/components/Operation.tsx
  src/renderer/pages/Operations/components/OperationStatus.tsx
  src/renderer/pages/Operations/components/ShortTransactionInfo.test.tsx
  src/renderer/pages/Operations/components/TransactionAmount.tsx
  src/renderer/pages/Operations/components/TransactionTitle/TransactionTitle.test.tsx
  src/renderer/pages/Operations/components/TransactionTitle/TransactionTitle.tsx
  src/renderer/pages/Settings/Networks/components/NetworkList/NetworkList.tsx
  src/renderer/pages/Staking/Overview/components/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/shared/ui/Accordion/Accordion.tsx
  src/renderer/shared/ui/Icon/data/arrow.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Confirmation.tsx
  tailwind.config.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Xcm icon (#1047)
  src/renderer/assets/images/arrows/cross-chain-arrow.svg
  src/renderer/entities/asset/ui/AssetBalance/AssetBalance.tsx
  src/renderer/pages/Assets/AssetsList/components/NetworkAssets/NetworkAssets.tsx
  src/renderer/pages/Operations/Operations.tsx
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/pages/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/pages/Operations/components/Log.tsx
  src/renderer/pages/Operations/components/Operation.tsx
  src/renderer/pages/Operations/components/OperationStatus.tsx
  src/renderer/pages/Operations/components/ShortTransactionInfo.test.tsx
  src/renderer/pages/Operations/components/TransactionAmount.tsx
  src/renderer/pages/Operations/components/TransactionTitle/TransactionTitle.test.tsx
  src/renderer/pages/Operations/components/TransactionTitle/TransactionTitle.tsx
  src/renderer/pages/Settings/Networks/components/NetworkList/NetworkList.tsx
  src/renderer/pages/Staking/Overview/components/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/shared/ui/Accordion/Accordion.tsx
  src/renderer/shared/ui/Icon/data/arrow.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Confirmation.tsx
  tailwind.config.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Contacts subscription (#1049)
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.test.tsx
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Contacts subscription
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.test.tsx
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr review
  package.json
  src/main/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: added env variable for updater
  .github/workflows/release.yaml
  package.json
  src/main/index.ts
  webpack/webpack.shared.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: added env variable for updater (#1045)
  .github/workflows/release.yaml
  package.json
  src/main/index.ts
  webpack/webpack.shared.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: xcm entity, load config on start
  src/renderer/app/App.tsx
  src/renderer/app/index.tsx
  src/renderer/domain/identity.ts
  src/renderer/domain/shared-kernel.ts
  src/renderer/domain/validator.ts
  src/renderer/entities/contact/model/contact.ts
  src/renderer/entities/xcm/index.ts
  src/renderer/entities/xcm/model/xcm-model.ts
  src/renderer/shared/api/cross-chain/crossChainService.ts
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/model/kernel-model.ts
  src/renderer/widgets/SendAssetModal/model/send-asset.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/shared/api/cross-chain/__tests__/crossChainService.test.ts
  src/renderer/shared/api/cross-chain/__tests__/mock/testConfig.ts
  src/renderer/shared/api/cross-chain/crossChainService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: rename service
  src/renderer/shared/api/cross-chain/index.ts
  src/renderer/shared/api/xcm/__tests__/mock/xcmData.ts
  src/renderer/shared/api/xcm/__tests__/xcmService.test.ts
  src/renderer/shared/api/xcm/common/constants.ts
  src/renderer/shared/api/xcm/common/types.ts
  src/renderer/shared/api/xcm/index.ts
  src/renderer/shared/api/xcm/xcmService.ts
  src/renderer/widgets/SendAssetModal/model/__tests__/send-asset.test.ts
  src/renderer/widgets/SendAssetModal/model/send-asset.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: jest config testRegex
  jest.config.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: enable tests
  src/renderer/shared/api/xcm/__tests__/xcmService.test.ts
  src/renderer/shared/api/xcm/xcmService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: added security policy
  SECURITY.md
Due: none

feat: added policy
  SECURITY.md
Due: none

feat: added new transaction service, extrinsic builder and changed transfer florw
  src/renderer/entities/transaction/lib/common/types.ts
  src/renderer/entities/transaction/lib/extrinsicService.ts
  src/renderer/entities/transaction/lib/index.ts
  src/renderer/entities/transaction/lib/transactionServiceV2.ts
  src/renderer/entities/transaction/ui/FeeNew/Fee.test.tsx
  src/renderer/entities/transaction/ui/FeeNew/Fee.tsx
  src/renderer/entities/transaction/ui/index.ts
  src/renderer/features/operation/init/index.ts
  src/renderer/features/operation/init/ui/OperationFooterNew.tsx
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/InitOperation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: select destination chain
  src/renderer/shared/api/xcm/xcmService.ts
  src/renderer/widgets/SendAssetModal/model/send-asset.ts
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
  src/renderer/widgets/SendAssetModal/ui/common/utils.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/InitOperation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: clear store contacts & assets
  src/renderer/features/assets/AssetRouteGuard/model/asset-guard.ts
  src/renderer/features/assets/AssetRouteGuard/ui/AssetRouteGuard.tsx
  src/renderer/features/contacts/EditRouteGuard/model/edit-guard.ts
  src/renderer/features/contacts/EditRouteGuard/ui/EditRouteGuard.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: removed extra components, changed get fee func
  src/renderer/entities/multisig/lib/multisigTx/common/utils.ts
  src/renderer/entities/transaction/lib/common/types.ts
  src/renderer/entities/transaction/lib/index.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/entities/transaction/lib/transactionServiceV2.ts
  src/renderer/entities/transaction/ui/FeeNew/Fee.test.tsx
  src/renderer/entities/transaction/ui/FeeNew/Fee.tsx
  src/renderer/entities/transaction/ui/index.ts
  src/renderer/features/operation/init/index.ts
  src/renderer/features/operation/init/ui/OperationFooter.tsx
  src/renderer/features/operation/init/ui/OperationFooterNew.tsx
  src/renderer/pages/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Confirmation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/InitOperation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Submit.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: wrap tx for submit step only if account is multisig
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: implemented new service usage for staking transactions
  src/renderer/pages/Staking/Operations/Bond/Bond.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/pages/Staking/Operations/Destination/Destination.tsx
  src/renderer/pages/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/pages/Staking/Operations/Restake/Restake.tsx
  src/renderer/pages/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/pages/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/pages/Staking/Operations/components/Confirmation/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: clear store contacts & assets (#1054)
  src/renderer/features/assets/AssetRouteGuard/model/asset-guard.ts
  src/renderer/features/assets/AssetRouteGuard/ui/AssetRouteGuard.tsx
  src/renderer/features/contacts/EditRouteGuard/model/edit-guard.ts
  src/renderer/features/contacts/EditRouteGuard/ui/EditRouteGuard.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: fix build tx error
  src/renderer/entities/transaction/lib/extrinsicService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: create xcm transfer
  src/renderer/entities/transaction/lib/common/types.ts
  src/renderer/entities/transaction/lib/common/xcmMethods.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/entities/transaction/ui/XcmFee/XcmFee.test.tsx
  src/renderer/entities/transaction/ui/XcmFee/XcmFee.tsx
  src/renderer/features/operation/init/ui/OperationFooter.tsx
  src/renderer/services/dataVerification/dataVerification.ts
  src/renderer/shared/api/xcm/__tests__/xcmService.test.ts
  src/renderer/shared/api/xcm/common/types.ts
  src/renderer/shared/api/xcm/xcmService.ts
  src/renderer/widgets/SendAssetModal/model/send-asset.ts
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
  src/renderer/widgets/SendAssetModal/ui/common/utils.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/InitOperation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: change to locations to objects
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/shared/api/xcm/xcmService.ts
  src/renderer/widgets/SendAssetModal/model/send-asset.ts
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: correct account id for xcm pallet
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/shared/api/xcm/xcmService.ts
  src/renderer/widgets/SendAssetModal/model/send-asset.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: refactoring & tests
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/entities/transaction/ui/XcmFee/XcmFee.test.tsx
  src/renderer/features/operation/init/ui/OperationFooter.tsx
  src/renderer/widgets/SendAssetModal/model/send-asset.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fixed tests, removed extrinsic service from public api
  src/renderer/entities/transaction/lib/common/types.ts
  src/renderer/entities/transaction/lib/extrinsicService.ts
  src/renderer/entities/transaction/lib/index.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/pages/Staking/Operations/Bond/Bond.test.tsx
  src/renderer/pages/Staking/Operations/Bond/Bond.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/ChangeValidators.test.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/pages/Staking/Operations/Destination/Destination.test.tsx
  src/renderer/pages/Staking/Operations/Destination/Destination.tsx
  src/renderer/pages/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/pages/Staking/Operations/Restake/Restake.test.tsx
  src/renderer/pages/Staking/Operations/Restake/Restake.tsx
  src/renderer/pages/Staking/Operations/StakeMore/StakeMore.test.tsx
  src/renderer/pages/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/pages/Staking/Operations/Unstake/Unstake.test.tsx
  src/renderer/pages/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/InitOperation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: validation
  src/renderer/entities/transaction/lib/validateBalance.ts
  src/renderer/features/operation/init/ui/OperationFooter.tsx
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/shared/locale/*.json
