Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: deep link redirect for electron
  src/main/factories/protocol.ts
  src/renderer/app/index.tsx
  src/renderer/features/matrix/MatrixAutoLogin/ui/MatrixAutoLogin.tsx
  src/renderer/features/matrix/MatrixLogin/ui/LoginForm.tsx
  src/renderer/features/matrix/MatrixLogin/ui/MatrixLogin.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/ui/Buttons/ButtonWebLink/ButtonWebLink.test.tsx
  src/renderer/shared/ui/Modals/StatusModal/StatusModal.tsx
  webpack/webpack.renderer.prod.internal.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: rollback leftovers
  electron-builder.js
  src/renderer/features/matrix/MatrixAutoLogin/ui/MatrixAutoLogin.tsx
  src/renderer/shared/api/matrix/lib/types.ts
  src/renderer/shared/api/matrix/service/matrix.ts
  webpack/webpack.renderer.dev.ts
  webpack/webpack.renderer.prod.internal.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: skip matrix room creation for my accounts (#1451)
  src/renderer/app/providers/context/MatrixContext/MatrixContext.tsx
  src/renderer/pages/Operations/components/ActionSteps/Submit.tsx
  src/renderer/pages/Staking/Operations/components/Submit/Submit.tsx
  src/renderer/shared/core/types/account.ts
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-mode.ts
  src/renderer/widgets/RemoveProxy/ui/Submit.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Submit.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: connect to ws in worker (#1450)
  src/main/main.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix comments
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-model.ts
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/MultiChainMultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/SelectMultisigWalletType.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/SingleChainMultisigWallet.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: single chain multisig account (#1448)
  src/renderer/app/providers/context/MatrixContext/MatrixContext.tsx
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/entities/wallet/ui/Cards/WalletCardMd.tsx
  src/renderer/pages/Operations/components/ActionSteps/Submit.tsx
  src/renderer/pages/Staking/Operations/components/Submit/Submit.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/core/types/account.ts
  src/renderer/shared/ui/RadioGroup/RadioCard.tsx
  src/renderer/shared/ui/RadioGroup/RadioGroup.tsx
  src/renderer/shared/ui/RadioGroup/common/types.ts
  src/renderer/shared/ui/Typography/common/types.ts
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-model.ts
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/MultiChainMultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/MultisigWallet.test.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/MultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/SelectMultisigWalletType.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/SingleChainMultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/common/constants.ts
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/common/types.ts
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/AccountItem.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/ConfirmSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectAccountSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/WalletForm.tsx
  src/renderer/widgets/RemoveProxy/ui/Submit.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Submit.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: merge baseline
  src/main/factories/window.ts
  src/main/main.ts
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-model.ts
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/MultiChainMultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/MultisigWallet.test.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/MultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/SingleChainMultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectAccountSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/WalletForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr review
  src/main/factories/protocol.ts
  src/renderer/features/matrix/MatrixLogin/ui/LoginForm.tsx
  src/renderer/shared/api/matrix/lib/constants.ts
  src/renderer/shared/api/matrix/service/matrix.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr review v2
  src/renderer/shared/api/matrix/lib/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: matrix modal on multisig
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/MultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/SelectMultisigWalletType.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: matrix modal on multisig (#1457)
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/MultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/SelectMultisigWalletType.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: remove tzero price id
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: remove tzero price id (#1458)
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: single chain multisig feedback
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-model.ts
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/SelectMultisigWalletType.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/SingleChainMultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/ConfirmSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/WalletForm.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: wait for unsibFx
  src/renderer/features/balances/subscription/model/balance-sub-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: exclude multisig accounts from multisig creation
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-model.ts
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectAccountSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix design
  src/renderer/entities/wallet/ui/ContactItem/ContactItem.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectAccountSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix change chain on multisig creation
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectAccountSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: auto login only for not logged in user
  src/renderer/features/matrix/MatrixAutoLogin/lib/matrix-autologin-utils.ts
  src/renderer/features/matrix/MatrixAutoLogin/lib/types.ts
  src/renderer/features/matrix/MatrixAutoLogin/model/__tests__/matrix-autologin-model.test.ts
  src/renderer/features/matrix/MatrixAutoLogin/model/matrix-autologin-model.ts
  src/renderer/features/matrix/MatrixAutoLogin/ui/MatrixAutoLogin.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix lint
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectAccountSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: single chain multisig feedback (#1466)
  src/renderer/entities/wallet/ui/ContactItem/ContactItem.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-model.ts
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/SelectMultisigWalletType.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/SingleChainMultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/ConfirmSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectAccountSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/WalletForm.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: correct room creation
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: correct room creation (#1467)
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: exclude wow accounts from multisig creation
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix accounts list
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/ConfirmSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectAccountSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: exclude wow accounts from multisig creation (#1469)
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-model.ts
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/ConfirmSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectAccountSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: login with token after cache
  src/renderer/app/providers/context/MatrixContext/MatrixContext.tsx
  src/renderer/features/matrix/MatrixAutoLogin/model/__tests__/matrix-autologin-model.test.ts
  src/renderer/features/matrix/MatrixAutoLogin/model/matrix-autologin-model.ts
  src/renderer/features/matrix/MatrixLogin/ui/LoginForm.tsx
  webpack/webpack.renderer.dev.ts
  webpack/webpack.renderer.stage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: use net.fetch to get auto content-type
  src/main/factories/protocol.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: pr review
  src/renderer/features/matrix/MatrixAutoLogin/model/matrix-autologin-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: support proxy txs in operations
  src/renderer/entities/chain/ui/OperationTitle/OperationTitle.tsx
  src/renderer/entities/transaction/lib/common/constants.ts
  src/renderer/entities/transaction/lib/common/utils.ts
  src/renderer/entities/transaction/lib/transactionConfirmIcon.ts
  src/renderer/pages/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Operations/components/Operation.tsx
  src/renderer/pages/Operations/components/OperationCardDetails.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/assets/images/confirm/change-rewards-dest.svg
  src/renderer/shared/assets/images/confirm/change-validators.svg
  src/renderer/shared/assets/images/confirm/crosschain.svg
  src/renderer/shared/assets/images/confirm/delegated-authorities.svg
  src/renderer/shared/assets/images/confirm/receive.svg
  src/renderer/shared/assets/images/confirm/return-to-stake.svg
  src/renderer/shared/assets/images/confirm/set-validators.svg
  src/renderer/shared/assets/images/confirm/stake-more.svg
  src/renderer/shared/assets/images/confirm/start-staking.svg
  src/renderer/shared/assets/images/confirm/transfer.svg
  src/renderer/shared/assets/images/confirm/unknown-operation.svg
  src/renderer/shared/assets/images/confirm/unstake.svg
  src/renderer/shared/assets/images/confirm/withdraw-unstake.svg
  src/renderer/shared/ui/Icon/data/confirm.tsx
  src/renderer/shared/ui/Icon/data/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: use new icon for transfer confirm
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: use new confirm icon for staking operations
  src/renderer/pages/Staking/Operations/components/Confirmation/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: reject multisig transaction button
  src/renderer/pages/Operations/components/OperationFullInfo.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix i18n
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/renderer/shared/api/translation/locales/*.json
