Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/renderer/shared/api/translation/locales/*.json": ["pnpm lint:i18n-fix"]
}

fix: remove pure refactoring
  src/renderer/widgets/RemoveProxyModal/model/form-model.ts
  src/renderer/widgets/RemoveProxyModal/ui/Confirm.tsx
  src/renderer/widgets/RemovePureProxyModal/lib/types.ts
  src/renderer/widgets/RemovePureProxyModal/model/confirm-model.ts
  src/renderer/widgets/RemovePureProxyModal/model/form-model.ts
  src/renderer/widgets/RemovePureProxyModal/model/remove-pure-proxy-model.ts
  src/renderer/widgets/RemovePureProxyModal/ui/Confirm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: operation detail for change validators
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Operations/components/OperationCardDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: inspect nested transactions
  src/renderer/entities/transaction/lib/common/constants.ts
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Operations/components/OperationCardDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Operation detail for change rewards (#1657)
  src/renderer/entities/transaction/lib/common/constants.ts
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Operations/components/OperationCardDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Operation detail for change rewards
  src/renderer/entities/transaction/lib/common/constants.ts
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Operations/components/OperationCardDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: not save metadata if exists fix: remove metadata duplications
  src/renderer/entities/network/model/network-model.ts
  src/renderer/shared/api/storage/migration/index.ts
  src/renderer/shared/api/storage/migration/migration-3.ts
  src/renderer/shared/api/storage/service/dexie.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: open remove dialog
  src/renderer/widgets/RemoveProxyModal/model/remove-proxy-model.ts
  src/renderer/widgets/RemovePureProxyModal/model/remove-pure-proxy-model.ts
  src/renderer/widgets/WalletDetails/ui/components/ProxiesList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: signatories sort
  src/renderer/entities/transaction/lib/__tests__/extrinsicService.test.ts
  src/renderer/entities/transaction/lib/extrinsicService.ts
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: signatories sort (#1662)
  src/renderer/entities/transaction/lib/__tests__/extrinsicService.test.ts
  src/renderer/entities/transaction/lib/extrinsicService.ts
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: signatories component
  src/renderer/entities/operations/index.ts
  src/renderer/entities/operations/ui/SignButton.tsx
  src/renderer/entities/operations/ui/SignatorySelector.tsx
  src/renderer/entities/operations/ui/index.ts
  src/renderer/entities/transaction/lib/extrinsicService.ts
  src/renderer/pages/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/shared/ui/Dropdowns/Select/Select.tsx
  src/renderer/widgets/AddProxyModal/model/form-model.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxyForm.tsx
  src/renderer/widgets/AddProxyModal/ui/Confirmation.tsx
  src/renderer/widgets/AddPureProxiedModal/model/form-model.ts
  src/renderer/widgets/AddPureProxiedModal/ui/AddPureProxiedForm.tsx
  src/renderer/widgets/AddPureProxiedModal/ui/Confirm.tsx
  src/renderer/widgets/RemoveProxyModal/model/form-model.ts
  src/renderer/widgets/RemoveProxyModal/ui/Confirm.tsx
  src/renderer/widgets/RemoveProxyModal/ui/RemoveProxyForm.tsx
  src/renderer/widgets/RemovePureProxyModal/model/form-model.ts
  src/renderer/widgets/RemovePureProxyModal/ui/Confirm.tsx
  src/renderer/widgets/RemovePureProxyModal/ui/RemovePureProxyForm.tsx
  src/renderer/widgets/Staking/BondExtra/ui/BondForm.tsx
  src/renderer/widgets/Staking/BondExtra/ui/Confirmation.tsx
  src/renderer/widgets/Staking/BondNominate/ui/BondForm.tsx
  src/renderer/widgets/Staking/BondNominate/ui/Confirmation.tsx
  src/renderer/widgets/Staking/Nominate/model/form-model.ts
  src/renderer/widgets/Staking/Nominate/ui/Confirmation.tsx
  src/renderer/widgets/Staking/Nominate/ui/NominateForm.tsx
  src/renderer/widgets/Staking/Payee/model/form-model.ts
  src/renderer/widgets/Staking/Payee/ui/Confirmation.tsx
  src/renderer/widgets/Staking/Payee/ui/PayeeForm.tsx
  src/renderer/widgets/Staking/Restake/ui/Confirmation.tsx
  src/renderer/widgets/Staking/Restake/ui/RestakeForm.tsx
  src/renderer/widgets/Staking/Unstake/ui/Confirmation.tsx
  src/renderer/widgets/Staking/Unstake/ui/UnstakeForm.tsx
  src/renderer/widgets/Staking/Withdraw/ui/Confirmation.tsx
  src/renderer/widgets/Staking/Withdraw/ui/WithdrawForm.tsx
  src/renderer/widgets/Transfer/ui/Confirmation.tsx
  src/renderer/widgets/Transfer/ui/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: remove coverage report
  .github/workflows/pull_request_coverage_report.yaml
Due: none

fix: signatories component (#1663)
  src/renderer/entities/operations/index.ts
  src/renderer/entities/operations/ui/SignButton.tsx
  src/renderer/entities/operations/ui/SignatorySelector.tsx
  src/renderer/entities/operations/ui/index.ts
  src/renderer/entities/transaction/lib/extrinsicService.ts
  src/renderer/pages/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/shared/ui/Dropdowns/Select/Select.tsx
  src/renderer/widgets/AddProxyModal/model/form-model.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxyForm.tsx
  src/renderer/widgets/AddProxyModal/ui/Confirmation.tsx
  src/renderer/widgets/AddPureProxiedModal/model/form-model.ts
  src/renderer/widgets/AddPureProxiedModal/ui/AddPureProxiedForm.tsx
  src/renderer/widgets/AddPureProxiedModal/ui/Confirm.tsx
  src/renderer/widgets/RemoveProxyModal/model/form-model.ts
  src/renderer/widgets/RemoveProxyModal/ui/Confirm.tsx
  src/renderer/widgets/RemoveProxyModal/ui/RemoveProxyForm.tsx
  src/renderer/widgets/RemovePureProxyModal/model/form-model.ts
  src/renderer/widgets/RemovePureProxyModal/ui/Confirm.tsx
  src/renderer/widgets/RemovePureProxyModal/ui/RemovePureProxyForm.tsx
  src/renderer/widgets/Staking/BondExtra/ui/BondForm.tsx
  src/renderer/widgets/Staking/BondExtra/ui/Confirmation.tsx
  src/renderer/widgets/Staking/BondNominate/ui/BondForm.tsx
  src/renderer/widgets/Staking/BondNominate/ui/Confirmation.tsx
  src/renderer/widgets/Staking/Nominate/model/form-model.ts
  src/renderer/widgets/Staking/Nominate/ui/Confirmation.tsx
  src/renderer/widgets/Staking/Nominate/ui/NominateForm.tsx
  src/renderer/widgets/Staking/Payee/model/form-model.ts
  src/renderer/widgets/Staking/Payee/ui/Confirmation.tsx
  src/renderer/widgets/Staking/Payee/ui/PayeeForm.tsx
  src/renderer/widgets/Staking/Restake/ui/Confirmation.tsx
  src/renderer/widgets/Staking/Restake/ui/RestakeForm.tsx
  src/renderer/widgets/Staking/Unstake/ui/Confirmation.tsx
  src/renderer/widgets/Staking/Unstake/ui/UnstakeForm.tsx
  src/renderer/widgets/Staking/Withdraw/ui/Confirmation.tsx
  src/renderer/widgets/Staking/Withdraw/ui/WithdrawForm.tsx
  src/renderer/widgets/Transfer/ui/Confirmation.tsx
  src/renderer/widgets/Transfer/ui/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: run proxy workers
  src/renderer/entities/proxy/model/proxy-model.ts
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/widgets/CreateWallet/ui/CreateWalletProvider.tsx
  src/renderer/widgets/WalletDetails/model/vault-details-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: 0 withdraw
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/Staking/BondExtra/model/form-model.ts
  src/renderer/widgets/Staking/BondNominate/model/form-model.ts
  src/renderer/widgets/Staking/Payee/model/form-model.ts
  src/renderer/widgets/Staking/Restake/model/form-model.ts
  src/renderer/widgets/Staking/Unstake/model/form-model.ts
  src/renderer/widgets/Staking/Withdraw/model/form-model.ts
  src/renderer/widgets/Staking/Withdraw/ui/Confirmation.tsx
  src/renderer/widgets/Staking/Withdraw/ui/WithdrawForm.tsx
  src/renderer/widgets/Transfer/model/form-model.ts
  src/renderer/widgets/Transfer/ui/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: 0 withdraw (#1667)
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/Staking/BondExtra/model/form-model.ts
  src/renderer/widgets/Staking/BondNominate/model/form-model.ts
  src/renderer/widgets/Staking/Payee/model/form-model.ts
  src/renderer/widgets/Staking/Restake/model/form-model.ts
  src/renderer/widgets/Staking/Unstake/model/form-model.ts
  src/renderer/widgets/Staking/Withdraw/model/form-model.ts
  src/renderer/widgets/Staking/Withdraw/ui/Confirmation.tsx
  src/renderer/widgets/Staking/Withdraw/ui/WithdrawForm.tsx
  src/renderer/widgets/Transfer/model/form-model.ts
  src/renderer/widgets/Transfer/ui/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: remove proxy for multisig
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/shared/api/storage/service/dexie.ts
  src/renderer/widgets/RemoveProxyModal/model/form-model.ts
  src/renderer/widgets/RemoveProxyModal/model/remove-proxy-model.ts
  src/renderer/widgets/RemoveProxyModal/ui/RemoveProxyForm.tsx
  src/renderer/widgets/RemovePureProxyModal/lib/types.ts
  src/renderer/widgets/RemovePureProxyModal/model/form-model.ts
  src/renderer/widgets/RemovePureProxyModal/model/remove-pure-proxy-model.ts
  src/renderer/widgets/RemovePureProxyModal/ui/RemovePureProxyForm.tsx
  src/renderer/widgets/WalletDetails/ui/components/ProxiesList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: remove coverage report (#1664)
  .github/workflows/pull_request_coverage_report.yaml
Due: none

chore: cut paths
  src/renderer/features/network/NetworkSelector/lib/__tests__/network-selector-utils.test.ts
  src/renderer/widgets/AddPureProxiedModal/ui/Confirm.tsx
  src/renderer/widgets/RemoveProxyModal/model/remove-proxy-model.ts
  src/renderer/widgets/RemovePureProxyModal/model/remove-pure-proxy-model.ts
  src/renderer/widgets/RemovePureProxyModal/ui/Confirm.tsx
  src/renderer/widgets/WalletDetails/ui/components/ProxiesList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/entities/network/model/network-model.ts
  src/renderer/shared/api/storage/migration/index.ts
  src/renderer/shared/api/storage/migration/migration-3.ts
  src/renderer/shared/api/storage/service/dexie.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: remove unused code
  src/renderer/shared/api/storage/service/dexie.ts
  src/renderer/widgets/RemovePureProxyModal/ui/Warning.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: not save metadata if exists (#1658)
  src/renderer/entities/network/model/network-model.ts
  src/renderer/shared/api/storage/migration/index.ts
  src/renderer/shared/api/storage/migration/migration-3.ts
  src/renderer/shared/api/storage/service/dexie.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: not save metadata if exists
  src/renderer/entities/network/model/network-model.ts
  src/renderer/shared/api/storage/migration/index.ts
  src/renderer/shared/api/storage/migration/migration-3.ts
  src/renderer/shared/api/storage/service/dexie.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Update src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/entities/wallet/model/wallet-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix comments
  src/renderer/widgets/AddProxyModal/model/form-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/confirm-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/form-model.ts
  src/renderer/widgets/AddPureProxiedModal/ui/Confirm.tsx
  src/renderer/widgets/RemoveProxyModal/model/remove-proxy-model.ts
  src/renderer/widgets/WalletDetails/ui/components/ProxiesList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: add todo
  src/renderer/widgets/AddPureProxiedModal/model/form-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix tests
  src/renderer/widgets/AddPureProxiedModal/model/__tests__/add-pure-proxied-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix comments
  src/renderer/widgets/WalletDetails/ui/components/ProxiesList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix remove proxies
  src/renderer/widgets/RemoveProxyModal/model/remove-proxy-model.ts
  src/renderer/widgets/RemovePureProxyModal/model/remove-pure-proxy-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: bugs after remove pure fixes (#1648)
  src/renderer/entities/proxy/api/graphql/queries/pureProxies.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/features/network/NetworkSelector/lib/__tests__/network-selector-utils.test.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/widgets/AddProxyModal/model/form-model.ts
  src/renderer/widgets/AddPureProxiedModal/lib/types.ts
  src/renderer/widgets/AddPureProxiedModal/model/__tests__/add-pure-proxied-model.test.ts
  src/renderer/widgets/AddPureProxiedModal/model/add-pure-proxied-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/confirm-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/form-model.ts
  src/renderer/widgets/AddPureProxiedModal/ui/Confirm.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectSignatories.tsx
  src/renderer/widgets/RemoveProxyModal/model/form-model.ts
  src/renderer/widgets/RemoveProxyModal/model/remove-proxy-model.ts
  src/renderer/widgets/RemoveProxyModal/ui/Confirm.tsx
  src/renderer/widgets/RemoveProxyModal/ui/RemoveProxyForm.tsx
  src/renderer/widgets/RemovePureProxyModal/lib/types.ts
  src/renderer/widgets/RemovePureProxyModal/model/confirm-model.ts
  src/renderer/widgets/RemovePureProxyModal/model/form-model.ts
  src/renderer/widgets/RemovePureProxyModal/model/remove-pure-proxy-model.ts
  src/renderer/widgets/RemovePureProxyModal/ui/Confirm.tsx
  src/renderer/widgets/RemovePureProxyModal/ui/RemovePureProxyForm.tsx
  src/renderer/widgets/WalletDetails/ui/components/ProxiesList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: bugs after remove pure fixes
  src/renderer/entities/proxy/api/graphql/queries/pureProxies.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/features/network/NetworkSelector/lib/__tests__/network-selector-utils.test.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/widgets/AddProxyModal/model/form-model.ts
  src/renderer/widgets/AddPureProxiedModal/lib/types.ts
  src/renderer/widgets/AddPureProxiedModal/model/__tests__/add-pure-proxied-model.test.ts
  src/renderer/widgets/AddPureProxiedModal/model/add-pure-proxied-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/confirm-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/form-model.ts
  src/renderer/widgets/AddPureProxiedModal/ui/Confirm.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectSignatories.tsx
  src/renderer/widgets/RemoveProxyModal/model/form-model.ts
  src/renderer/widgets/RemoveProxyModal/model/remove-proxy-model.ts
  src/renderer/widgets/RemoveProxyModal/ui/Confirm.tsx
  src/renderer/widgets/RemoveProxyModal/ui/RemoveProxyForm.tsx
  src/renderer/widgets/RemovePureProxyModal/lib/types.ts
  src/renderer/widgets/RemovePureProxyModal/model/confirm-model.ts
  src/renderer/widgets/RemovePureProxyModal/model/form-model.ts
  src/renderer/widgets/RemovePureProxyModal/model/remove-pure-proxy-model.ts
  src/renderer/widgets/RemovePureProxyModal/ui/Confirm.tsx
  src/renderer/widgets/RemovePureProxyModal/ui/RemovePureProxyForm.tsx
  src/renderer/widgets/WalletDetails/ui/components/ProxiesList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: proxy deposit
  src/renderer/shared/api/proxy/service/proxyService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: proxy deposit (#1669)
  src/renderer/shared/api/proxy/service/proxyService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: update on done
  src/renderer/entities/proxy/model/proxy-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged
