Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

fix: fixed transfer operation screens and reject modal titlew
  src/renderer/components/common/Scanning/ScanSingleframeQr.tsx
  src/renderer/entities/transaction/ui/DepositWithLabel/DepositWithLabel.tsx
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: index file import update
  src/renderer/entities/walletConnect/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: loading for qr code
  src/renderer/entities/walletConnect/index.ts
  src/renderer/entities/walletConnect/lib/types.ts
  src/renderer/entities/walletConnect/model/wallet-connect-model.ts
  src/renderer/pages/Onboarding/WalletConnect/NovaWallet.tsx
  src/renderer/pages/Onboarding/WalletConnect/WalletConnect.tsx
  src/renderer/widgets/WalletDetails/model/wc-details-model.ts
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: reset uri on close modal
  src/renderer/entities/walletConnect/model/wallet-connect-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: vault onboarding icon
  src/renderer/assets/images/walletTypes/vaultOnboarding.svg
  src/renderer/pages/Onboarding/Welcome/Welcome.tsx
  src/renderer/shared/ui/Icon/data/walletType.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: vault onboarding icon
  src/renderer/assets/images/walletTypes/vaultOnboarding.svg
Due: none

feat: loading for qr code (#1182)
  src/renderer/assets/images/walletTypes/vaultOnboarding.svg
  src/renderer/entities/walletConnect/index.ts
  src/renderer/entities/walletConnect/lib/types.ts
  src/renderer/entities/walletConnect/model/wallet-connect-model.ts
  src/renderer/pages/Onboarding/WalletConnect/NovaWallet.tsx
  src/renderer/pages/Onboarding/WalletConnect/WalletConnect.tsx
  src/renderer/pages/Onboarding/Welcome/Welcome.tsx
  src/renderer/shared/ui/Icon/data/walletType.tsx
  src/renderer/widgets/WalletDetails/model/wc-details-model.ts
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: loading for qr code
  src/renderer/assets/images/walletTypes/vaultOnboarding.svg
  src/renderer/entities/walletConnect/index.ts
  src/renderer/entities/walletConnect/lib/types.ts
  src/renderer/entities/walletConnect/model/wallet-connect-model.ts
  src/renderer/pages/Onboarding/WalletConnect/NovaWallet.tsx
  src/renderer/pages/Onboarding/WalletConnect/WalletConnect.tsx
  src/renderer/pages/Onboarding/Welcome/Welcome.tsx
  src/renderer/shared/ui/Icon/data/walletType.tsx
  src/renderer/widgets/WalletDetails/model/wc-details-model.ts
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: updated submit step for multisig operation
  src/renderer/pages/Operations/components/ActionSteps/Submit.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: double reject
  src/renderer/pages/Onboarding/WalletConnect/NovaWallet.tsx
  src/renderer/pages/Onboarding/WalletConnect/WalletConnect.tsx
  src/renderer/pages/Onboarding/WalletConnect/model/wc-onboarding-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: double reject (#1184)
  src/renderer/pages/Onboarding/WalletConnect/NovaWallet.tsx
  src/renderer/pages/Onboarding/WalletConnect/WalletConnect.tsx
  src/renderer/pages/Onboarding/WalletConnect/model/wc-onboarding-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: wallet select overlap, extra divider on multisig staking confirm
  src/renderer/features/wallets/WalletSelect/ui/WalletPanel.tsx
  src/renderer/features/wallets/WalletSelect/ui/WalletSelect.tsx
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/widgets/Layout/ui/MainLayout.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: changed wallet groups order
  src/renderer/features/wallets/SelectWalletPairing/ui/SelectWalletPairing.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: moved WoW wallet to the end of add wallet list
  src/renderer/features/wallets/SelectWalletPairing/ui/SelectWalletPairing.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: reconnect overwrite onboarding step
  src/renderer/pages/Onboarding/WalletConnect/NovaWallet.tsx
  src/renderer/pages/Onboarding/WalletConnect/WalletConnect.tsx
  src/renderer/pages/Onboarding/WalletConnect/common/const.ts
  src/renderer/pages/Onboarding/WalletConnect/model/wc-onboarding-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: reconnect status update
  src/renderer/entities/walletConnect/model/wallet-connect-model.ts
  src/renderer/widgets/WalletDetails/model/wc-details-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: changed wallet groups order and wallet connect spelling
  src/renderer/features/wallets/SelectWalletPairing/ui/SelectWalletPairing.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Fix: changed wallet groups order and wallet connect spelling (#1186)
  src/renderer/features/wallets/SelectWalletPairing/ui/SelectWalletPairing.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Fix: wrong onboarding state after reconnect
  src/renderer/entities/walletConnect/model/wallet-connect-model.ts
  src/renderer/pages/Onboarding/WalletConnect/NovaWallet.tsx
  src/renderer/pages/Onboarding/WalletConnect/WalletConnect.tsx
  src/renderer/pages/Onboarding/WalletConnect/common/const.ts
  src/renderer/pages/Onboarding/WalletConnect/model/wc-onboarding-model.ts
  src/renderer/widgets/WalletDetails/model/wc-details-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: wrong onboarding state after reconnect (#1187)
  src/renderer/entities/walletConnect/model/wallet-connect-model.ts
  src/renderer/pages/Onboarding/WalletConnect/NovaWallet.tsx
  src/renderer/pages/Onboarding/WalletConnect/WalletConnect.tsx
  src/renderer/pages/Onboarding/WalletConnect/common/const.ts
  src/renderer/pages/Onboarding/WalletConnect/model/wc-onboarding-model.ts
  src/renderer/widgets/WalletDetails/model/wc-details-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: updated submit step for multisig operation (#1183)
  src/renderer/pages/Operations/components/ActionSteps/Submit.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: wallet select overlap, extra divider on multisig staking confirm (#1185)
  src/renderer/features/wallets/WalletSelect/ui/WalletPanel.tsx
  src/renderer/features/wallets/WalletSelect/ui/WalletSelect.tsx
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/widgets/Layout/ui/MainLayout.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: validators list, qr timer and confirmation fields order
  src/renderer/components/common/QrCode/QrReader/QrReaderWrapper.tsx
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Operations/components/OperationCardDetails.tsx
  src/renderer/shared/ui/Countdown/Countdown.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: removed log
  src/renderer/components/common/QrCode/QrReader/QrReaderWrapper.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: update wallet connect libs
  package.json
  pnpm-lock.yaml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: update wallet connect libs (#1189)
  package.json
  pnpm-lock.yaml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: pr comments fix
  src/renderer/shared/ui/Countdown/Countdown.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: validators list, qr timer and confirmation fields order
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Operations/components/OperationCardDetails.tsx
  src/renderer/shared/ui/Countdown/Countdown.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: validators list, qr timer and confirmation fields order (#1188)
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Operations/components/OperationCardDetails.tsx
  src/renderer/shared/ui/Countdown/Countdown.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: updated sign account for operation reject
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: [wip] file parsing and validation
  package.json
  pnpm-lock.yaml
  src/main/main.ts
  src/renderer/entities/dynamicDerivations/index.ts
  src/renderer/entities/dynamicDerivations/lib/constants.ts
  src/renderer/entities/dynamicDerivations/lib/import-keys-utils.ts
  src/renderer/entities/dynamicDerivations/lib/index.ts
  src/renderer/entities/dynamicDerivations/lib/types.ts
  src/renderer/entities/dynamicDerivations/model/import-keys-model.ts
  src/renderer/entities/dynamicDerivations/model/index.ts
  src/renderer/features/dynamicDerivations/ImportKeysModal/ImportKeysModal.tsx
  src/renderer/pages/Assets/AssetsList/AssetsList.tsx
  src/renderer/shared/core/types/account.ts
  src/renderer/shared/ui/Inputs/InputFile/InputFile.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: updated sign account for operation reject (#1192)
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: close client on disconnect
  src/renderer/entities/walletConnect/lib/constants.ts
  src/renderer/entities/walletConnect/model/wallet-connect-model.ts
  src/renderer/pages/Onboarding/WalletConnect/NovaWallet.tsx
  src/renderer/pages/Onboarding/WalletConnect/WalletConnect.tsx
  src/renderer/pages/Onboarding/WalletConnect/lib/const.ts
  src/renderer/pages/Onboarding/WalletConnect/lib/utils.ts
  src/renderer/pages/Onboarding/WalletConnect/model/wc-onboarding-model.ts
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/MultisigAccount.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/WalletItem.tsx
  src/renderer/widgets/WalletDetails/model/wc-details-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx
