Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Get oversubscribed info for validators (#166)
  src/renderer/screens/Staking/Bond/Validators/Validators.test.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/services/staking/__tests__/stakingDataService.test.ts
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/stakingDataService.ts
  src/renderer/services/staking/validatorsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Slashed validators
  src/renderer/domain/identity.ts
  src/renderer/domain/shared-kernel.ts
  src/renderer/domain/stake.ts
  src/renderer/domain/validator.ts
  src/renderer/screens/Staking/Bond/Bond.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/stakingDataService.ts
  src/renderer/services/staking/validatorsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Release candidate v0.2.0 to DEV (#176)
  package.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: about staking info (#179)
  src/renderer/components/common/Expandable/Expandable.tsx
  src/renderer/domain/validator.ts
  src/renderer/screens/Staking/Bond/Validators/Validators.test.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/AboutStaking/AboutStaking.test.tsx
  src/renderer/screens/Staking/Overview/components/AboutStaking/AboutStaking.tsx
  src/renderer/services/staking/apyCalculator.ts
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/eraService.ts
  src/renderer/services/staking/stakingDataService.ts
  src/renderer/services/staking/validatorsService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Update chains.json structure (#180)
  .eslintrc.js
  scripts/buildChainsJson.js
  src/renderer/assets/images/explorers/polkaholic.webp
  src/renderer/components/common/Explorers/common/constants.ts
  src/renderer/components/ui/Icon/Icon.tsx
  src/renderer/components/ui/Icon/data/explorer.tsx
  src/renderer/context/GraphqlContext/GraphqlContext.test.tsx
  src/renderer/context/GraphqlContext/GraphqlContext.tsx
  src/renderer/domain/asset.ts
  src/renderer/domain/chain.ts
  src/renderer/services/network/common/chains/chains.json
  src/renderer/services/network/common/chains/omni-chains.json
  src/renderer/services/network/common/chains/omni-chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: about staking info
  src/renderer/components/common/Expandable/Expandable.tsx
  src/renderer/domain/validator.ts
  src/renderer/screens/Staking/Bond/Validators/Validators.test.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/AboutStaking/AboutStaking.test.tsx
  src/renderer/screens/Staking/Overview/components/AboutStaking/AboutStaking.tsx
  src/renderer/services/staking/apyCalculator.ts
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/eraService.ts
  src/renderer/services/staking/stakingDataService.ts
  src/renderer/services/staking/validatorsService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Update chains.json structure
  .eslintrc.js
  scripts/buildChainsJson.js
  src/renderer/assets/images/explorers/polkaholic.webp
  src/renderer/components/common/Explorers/common/constants.ts
  src/renderer/components/ui/Icon/Icon.tsx
  src/renderer/components/ui/Icon/data/explorer.tsx
  src/renderer/context/GraphqlContext/GraphqlContext.test.tsx
  src/renderer/context/GraphqlContext/GraphqlContext.tsx
  src/renderer/domain/asset.ts
  src/renderer/domain/chain.ts
  src/renderer/services/network/common/chains/chains.json
  src/renderer/services/network/common/chains/omni-chains.json
  src/renderer/services/network/common/chains/omni-chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Show validators
  src/renderer/assets/images/aesthetics/clock.svg
  src/renderer/components/common/Expandable/Expandable.test.tsx
  src/renderer/components/common/Expandable/Expandable.tsx
  src/renderer/components/ui/Balance/Balance.tsx
  src/renderer/components/ui/Icon/data/aesthetics.tsx
  src/renderer/domain/validator.ts
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/AboutStaking/AboutStaking.test.tsx
  src/renderer/screens/Staking/Overview/components/AboutStaking/AboutStaking.tsx
  src/renderer/screens/Staking/Overview/components/Filter/Filter.test.tsx
  src/renderer/screens/Staking/Overview/components/InfoBanners/InfoBanners.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsModal/NominatorsModal.test.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsModal/NominatorsModal.tsx
  src/renderer/services/staking/apyCalculator.ts
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/validatorsService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Show validators (#181)
  src/renderer/assets/images/aesthetics/clock.svg
  src/renderer/components/common/Expandable/Expandable.test.tsx
  src/renderer/components/common/Expandable/Expandable.tsx
  src/renderer/components/ui/Balance/Balance.tsx
  src/renderer/components/ui/Icon/data/aesthetics.tsx
  src/renderer/domain/validator.ts
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/AboutStaking/AboutStaking.test.tsx
  src/renderer/screens/Staking/Overview/components/AboutStaking/AboutStaking.tsx
  src/renderer/screens/Staking/Overview/components/Filter/Filter.test.tsx
  src/renderer/screens/Staking/Overview/components/InfoBanners/InfoBanners.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsModal/NominatorsModal.test.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsModal/NominatorsModal.tsx
  src/renderer/services/staking/apyCalculator.ts
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/validatorsService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Release candidate v0.2.0 to DEV
  package.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: table component
  src/renderer/components/ui/Table/Table.stories.tsx
  src/renderer/components/ui/Table/Table.tsx
  src/renderer/components/ui/Table/TableComponents.tsx
  src/renderer/components/ui/Table/TableContext.tsx
  src/renderer/components/ui/Table/common/types.ts
  src/renderer/components/ui/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: table component update
  src/renderer/components/ui/Table/Table.stories.tsx
  src/renderer/components/ui/Table/Table.tsx
  src/renderer/components/ui/Table/TableComponents.tsx
  src/renderer/components/ui/Table/TableContext.tsx
  src/renderer/components/ui/Table/TableParts.tsx
  src/renderer/components/ui/Table/common/types.ts
  src/renderer/components/ui/Table/common/utils.ts
  src/renderer/index.css
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: not select wallet on copy address
  src/renderer/components/common/Expandable/Expandable.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/hooks/useClickOutside.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: remove account duplications
  src/renderer/screens/Transfer/Transfer.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: not select wallet on copy address (#186)
  src/renderer/components/common/Expandable/Expandable.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/hooks/useClickOutside.ts
  src/renderer/screens/Transfer/Transfer.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: not select wallet on copy address
  src/renderer/components/common/Expandable/Expandable.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/hooks/useClickOutside.ts
  src/renderer/screens/Transfer/Transfer.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: rewrite staking overview to table component
  src/renderer/components/ui/Table/Table.stories.tsx
  src/renderer/components/ui/Table/Table.tsx
  src/renderer/components/ui/Table/TableContext.tsx
  src/renderer/components/ui/Table/TableParts.tsx
  src/renderer/components/ui/Table/common/types.ts
  src/renderer/components/ui/Table/common/utils.ts
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/AboutStaking/AboutStaking.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.tsx
  src/renderer/screens/Staking/Overview/components/StakingTable/StakingTable.test.tsx
  src/renderer/screens/Staking/Overview/components/StakingTable/StakingTable.tsx
  src/renderer/screens/Staking/Overview/components/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: multiple transactions signing
  package.json
  pnpm-lock.yaml
  src/renderer/components/common/QrCode/QrGenerator/QrMultiframeTxGenerator.tsx
  src/renderer/components/common/QrCode/QrGenerator/QrTxGenerator.tsx
  src/renderer/components/common/QrCode/QrGenerator/common/constants.ts
  src/renderer/components/common/QrCode/QrGenerator/common/useGenerator.ts
  src/renderer/components/common/QrCode/QrGenerator/common/utils.test.ts
  src/renderer/components/common/QrCode/QrGenerator/common/utils.ts
  src/renderer/components/common/QrCode/QrReader/QrMultiframeSignatureReader.tsx
  src/renderer/components/common/QrCode/QrReader/common/constants.ts
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/ui/Dropdowns/Select/Select.tsx
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.tsx
  src/renderer/screens/Signing/MultiframeSignatureReader/MultiframeSignatureReader.tsx
  src/renderer/screens/Signing/Signing.test.tsx
  src/renderer/screens/Signing/Signing.tsx
  src/renderer/screens/Signing/SigningDev.tsx
  src/renderer/screens/Transfer/components/TransferDetails.tsx
  src/renderer/screens/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: validators table
  src/renderer/components/ui/Table/Table.stories.tsx
  src/renderer/components/ui/Table/Table.tsx
  src/renderer/components/ui/Table/TableContext.tsx
  src/renderer/components/ui/Table/TableParts.tsx
  src/renderer/components/ui/Table/common/types.ts
  src/renderer/components/ui/Table/common/utils.ts
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/StakingTable/StakingTable.tsx
  src/renderer/utils/strings.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: pr review
  src/renderer/components/ui/Table/Table.stories.tsx
  src/renderer/components/ui/Table/Table.tsx
  src/renderer/components/ui/Table/TableContext.tsx
  src/renderer/components/ui/Table/TableParts.tsx
  src/renderer/components/ui/Table/common/types.ts
  src/renderer/components/ui/Table/common/utils.ts
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/StakingTable/StakingTable.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Table component | Staking sorting (#187)
  src/renderer/components/ui/Table/Table.stories.tsx
  src/renderer/components/ui/Table/Table.tsx
  src/renderer/components/ui/Table/TableContext.tsx
  src/renderer/components/ui/Table/TableParts.tsx
  src/renderer/components/ui/Table/common/types.ts
  src/renderer/components/ui/Table/common/utils.ts
  src/renderer/components/ui/index.ts
  src/renderer/index.css
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/AboutStaking/AboutStaking.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.tsx
  src/renderer/screens/Staking/Overview/components/StakingTable/StakingTable.test.tsx
  src/renderer/screens/Staking/Overview/components/StakingTable/StakingTable.tsx
  src/renderer/screens/Staking/Overview/components/index.ts
  src/renderer/screens/Transfer/Transfer.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Table component | Staking sorting
  src/renderer/components/ui/Table/Table.stories.tsx
  src/renderer/components/ui/Table/Table.tsx
  src/renderer/components/ui/Table/TableContext.tsx
  src/renderer/components/ui/Table/TableParts.tsx
  src/renderer/components/ui/Table/common/types.ts
  src/renderer/components/ui/Table/common/utils.ts
  src/renderer/components/ui/index.ts
  src/renderer/index.css
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/AboutStaking/AboutStaking.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.tsx
  src/renderer/screens/Staking/Overview/components/StakingTable/StakingTable.test.tsx
  src/renderer/screens/Staking/Overview/components/StakingTable/StakingTable.tsx
  src/renderer/screens/Staking/Overview/components/index.ts
  src/renderer/screens/Transfer/Transfer.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: qr generation
  package.json
  pnpm-lock.yaml
  src/renderer/components/common/QrCode/QrGenerator/QrMultiframeTxGenerator.tsx
  src/renderer/components/common/QrCode/QrGenerator/common/constants.ts
  src/renderer/components/common/QrCode/QrGenerator/common/utils.ts
  src/renderer/components/common/QrCode/QrReader/QrMultiframeSignatureReader.tsx
  src/renderer/screens/Signing/MultiframeSignatureReader/MultiframeSignatureReader.tsx
  src/renderer/screens/Signing/ParitySignerSignatureReader/ParitySignerSignatureReader.tsx
  src/renderer/screens/Signing/Progress.tsx
  src/renderer/screens/Signing/SigningDev.tsx
  src/renderer/services/transaction/transactionService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: show wallets inside pages
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: multiple transactions signing (#188)
  package.json
  pnpm-lock.yaml
  src/renderer/components/common/QrCode/QrGenerator/QrMultiframeTxGenerator.tsx
  src/renderer/components/common/QrCode/QrGenerator/QrTxGenerator.tsx
  src/renderer/components/common/QrCode/QrGenerator/common/constants.ts
  src/renderer/components/common/QrCode/QrGenerator/common/useGenerator.ts
  src/renderer/components/common/QrCode/QrGenerator/common/utils.test.ts
  src/renderer/components/common/QrCode/QrGenerator/common/utils.ts
  src/renderer/components/common/QrCode/QrReader/QrMultiframeSignatureReader.tsx
  src/renderer/components/common/QrCode/QrReader/common/constants.ts
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/ui/Dropdowns/Select/Select.tsx
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.tsx
  src/renderer/screens/Signing/MultiframeSignatureReader/MultiframeSignatureReader.tsx
  src/renderer/screens/Signing/Progress.tsx
  src/renderer/screens/Signing/Signing.test.tsx
  src/renderer/screens/Signing/Signing.tsx
  src/renderer/screens/Signing/SigningDev.tsx
  src/renderer/screens/Transfer/components/TransferDetails.tsx
  src/renderer/screens/index.ts
  src/renderer/services/transaction/transactionService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: multiple transactions signing
  package.json
  pnpm-lock.yaml
  src/renderer/components/common/QrCode/QrGenerator/QrMultiframeTxGenerator.tsx
  src/renderer/components/common/QrCode/QrGenerator/QrTxGenerator.tsx
  src/renderer/components/common/QrCode/QrGenerator/common/constants.ts
  src/renderer/components/common/QrCode/QrGenerator/common/useGenerator.ts
  src/renderer/components/common/QrCode/QrGenerator/common/utils.test.ts
  src/renderer/components/common/QrCode/QrGenerator/common/utils.ts
  src/renderer/components/common/QrCode/QrReader/QrMultiframeSignatureReader.tsx
  src/renderer/components/common/QrCode/QrReader/common/constants.ts
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/ui/Dropdowns/Select/Select.tsx
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.tsx
  src/renderer/screens/Signing/MultiframeSignatureReader/MultiframeSignatureReader.tsx
  src/renderer/screens/Signing/Progress.tsx
  src/renderer/screens/Signing/Signing.test.tsx
  src/renderer/screens/Signing/Signing.tsx
  src/renderer/screens/Signing/SigningDev.tsx
  src/renderer/screens/Transfer/components/TransferDetails.tsx
  src/renderer/screens/index.ts
  src/renderer/services/transaction/transactionService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: hide wallet panel
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: hide wallet panel (#190)
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: validators page update
  src/renderer/components/layout/PrimaryLayout/PrimaryLayout.tsx
  src/renderer/components/ui/Shimmering/Shimmering.css
  src/renderer/components/ui/Shimmering/Shimmering.tsx
  src/renderer/components/ui/Table/TableParts.tsx
  src/renderer/components/ui/Table/common/constants.ts
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Settings/Credentials/Credentials.tsx
  src/renderer/screens/Settings/Networks/Networks/Networks.tsx
  src/renderer/screens/Settings/Overview/Overview.tsx
  src/renderer/screens/Signing/Signing.tsx
  src/renderer/screens/Staking/Bond/Bond.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.test.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/StakingTable/StakingTable.tsx
  src/renderer/screens/Staking/Unbond/Unbond.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: section tag
  src/renderer/screens/Balances/Balances/Balances.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: update test
  src/renderer/screens/Staking/Bond/Bond.test.tsx
  src/renderer/screens/Staking/Bond/Bond.tsx
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Validators page (#191)
  src/renderer/components/common/QrCode/QrGenerator/common/utils.ts
  src/renderer/components/layout/PrimaryLayout/PrimaryLayout.tsx
  src/renderer/components/ui/Shimmering/Shimmering.css
  src/renderer/components/ui/Shimmering/Shimmering.tsx
  src/renderer/components/ui/Table/TableParts.tsx
  src/renderer/components/ui/Table/common/constants.ts
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Settings/Credentials/Credentials.tsx
  src/renderer/screens/Settings/Networks/Networks/Networks.tsx
  src/renderer/screens/Settings/Overview/Overview.tsx
  src/renderer/screens/Signing/SigningDev.tsx
  src/renderer/screens/Staking/Bond/Bond.test.tsx
  src/renderer/screens/Staking/Bond/Bond.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.test.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/StakingTable/StakingTable.tsx
  src/renderer/screens/Staking/Unbond/Unbond.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/utils/strings.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Validators page
  src/renderer/components/common/QrCode/QrGenerator/common/utils.ts
  src/renderer/components/layout/PrimaryLayout/PrimaryLayout.tsx
  src/renderer/components/ui/Shimmering/Shimmering.css
  src/renderer/components/ui/Shimmering/Shimmering.tsx
  src/renderer/components/ui/Table/TableParts.tsx
  src/renderer/components/ui/Table/common/constants.ts
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Settings/Credentials/Credentials.tsx
  src/renderer/screens/Settings/Networks/Networks/Networks.tsx
  src/renderer/screens/Settings/Overview/Overview.tsx
  src/renderer/screens/Signing/SigningDev.tsx
  src/renderer/screens/Staking/Bond/Bond.test.tsx
  src/renderer/screens/Staking/Bond/Bond.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.test.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/StakingTable/StakingTable.tsx
  src/renderer/screens/Staking/Unbond/Unbond.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/utils/strings.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: show no results for bond only account
  src/renderer/screens/Staking/Overview/components/NominatorsModal/NominatorsModal.test.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsModal/NominatorsModal.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: show no results for bond only account (#192)
  src/renderer/screens/Staking/Overview/components/NominatorsModal/NominatorsModal.test.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsModal/NominatorsModal.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: extract validators table
  src/renderer/components/common/ValidatorsTable/ValidatorsTable.test.tsx
  src/renderer/components/common/ValidatorsTable/ValidatorsTable.tsx
  src/renderer/components/common/index.ts
  src/renderer/components/ui/Table/TableParts.tsx
  src/renderer/components/ui/index.ts
  src/renderer/screens/Balances/AssetBalance/AssetBalance.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.test.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/components/AboutStaking/AboutStaking.tsx
  src/renderer/screens/Staking/Overview/components/StakingTable/StakingTable.tsx
  src/renderer/screens/Staking/Overview/components/TotalAmount/TotalAmount.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: validator statuses for nominators modal
  src/renderer/components/common/Expandable/Expandable.tsx
  src/renderer/components/common/ValidatorsTable/ValidatorsTable.test.tsx
  src/renderer/components/common/ValidatorsTable/ValidatorsTable.tsx
  src/renderer/components/ui/Table/Table.tsx
  src/renderer/components/ui/Table/TableParts.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsModal/NominatorsModal.test.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsModal/NominatorsModal.tsx
  src/renderer/screens/Staking/Overview/components/StakingTable/StakingTable.tsx
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/validatorsService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: update types
  src/renderer/components/common/ValidatorsTable/ValidatorsTable.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/shared/locale/*.json
