Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: single chain multisig
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/VaultWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: memo for validator row (#1732)
  src/renderer/features/staking/Validators/index.ts
  src/renderer/features/staking/Validators/model/validators-model.ts
  src/renderer/features/staking/Validators/ui/Validators.tsx
  src/renderer/features/staking/index.ts
  src/renderer/widgets/Staking/BondNominate/model/bond-nominate-model.ts
  src/renderer/widgets/Staking/BondNominate/ui/BondNominate.tsx
  src/renderer/widgets/Staking/BondNominate/ui/Validators.tsx
  src/renderer/widgets/Staking/Nominate/model/nominate-model.ts
  src/renderer/widgets/Staking/Nominate/model/validators-model.ts
  src/renderer/widgets/Staking/Nominate/ui/Nominate.tsx
  src/renderer/widgets/Staking/Nominate/ui/Validators.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: memo for validator row
  src/renderer/features/staking/Validators/index.ts
  src/renderer/features/staking/Validators/model/validators-model.ts
  src/renderer/features/staking/Validators/ui/Validators.tsx
  src/renderer/features/staking/index.ts
  src/renderer/widgets/Staking/BondNominate/model/bond-nominate-model.ts
  src/renderer/widgets/Staking/BondNominate/ui/BondNominate.tsx
  src/renderer/widgets/Staking/BondNominate/ui/Validators.tsx
  src/renderer/widgets/Staking/Nominate/model/nominate-model.ts
  src/renderer/widgets/Staking/Nominate/model/validators-model.ts
  src/renderer/widgets/Staking/Nominate/ui/Nominate.tsx
  src/renderer/widgets/Staking/Nominate/ui/Validators.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

ci: bump version
  package.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: address comments
  package.json
  src/renderer/app/App.tsx
  src/renderer/features/operations/OperationSubmit/model/submit-model.ts
  src/renderer/pages/Operations/components/ActionSteps/Submit.tsx
  src/renderer/pages/Operations/components/OperationFullInfo.tsx
  src/renderer/pages/Operations/components/OperationSignatories.tsx
  src/renderer/shared/api/storage/service/dexie.ts
  webpack/webpack.shared.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: simple governance page
  src/renderer/features/governance/ReferendumFilter/index.ts
  src/renderer/features/governance/ReferendumFilter/lib/referendum-filter-utils.ts
  src/renderer/features/governance/ReferendumFilter/model/referendum-filter-model.ts
  src/renderer/features/governance/ReferendumFilter/ui/ReferendumFilter.tsx
  src/renderer/features/governance/ReferendumList/index.ts
  src/renderer/features/governance/ReferendumList/lib/referendum-list-utils.ts
  src/renderer/features/governance/ReferendumList/model/referendum-list-model.ts
  src/renderer/features/governance/ReferendumList/ui/ReferendumList.tsx
  src/renderer/features/governance/index.ts
  src/renderer/features/navigation/ui/Navigation.tsx
  src/renderer/pages/Governance/index.ts
  src/renderer/pages/Governance/model/governance-model.ts
  src/renderer/pages/Governance/ui/Governance.tsx
  src/renderer/pages/index.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/assets/images/functionals/update.svg
  src/renderer/shared/assets/images/navigation/address-book.svg
  src/renderer/shared/assets/images/navigation/asset.svg
  src/renderer/shared/assets/images/navigation/assets.svg
  src/renderer/shared/assets/images/navigation/balance.svg
  src/renderer/shared/assets/images/navigation/book.svg
  src/renderer/shared/assets/images/navigation/crowdloans.svg
  src/renderer/shared/assets/images/navigation/dashboard.svg
  src/renderer/shared/assets/images/navigation/governance.svg
  src/renderer/shared/assets/images/navigation/help.svg
  src/renderer/shared/assets/images/navigation/history.svg
  src/renderer/shared/assets/images/navigation/matrix.svg
  src/renderer/shared/assets/images/navigation/network.svg
  src/renderer/shared/assets/images/navigation/notifications.svg
  src/renderer/shared/assets/images/navigation/operations-tab.svg
  src/renderer/shared/assets/images/navigation/operations.svg
  src/renderer/shared/assets/images/navigation/settings-tab.svg
  src/renderer/shared/assets/images/navigation/settings.svg
  src/renderer/shared/assets/images/navigation/staking-tab.svg
  src/renderer/shared/assets/images/navigation/staking.svg
  src/renderer/shared/assets/images/navigation/transfer.svg
  src/renderer/shared/routes/paths.ts
  src/renderer/shared/ui/Icon/data/functionals.tsx
  src/renderer/shared/ui/Icon/data/navigation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: add asset view selector
  src/renderer/app/index.tsx
  src/renderer/entities/asset/index.ts
  src/renderer/entities/asset/lib/constants.ts
  src/renderer/entities/asset/model/__tests__/assets-model.test.ts
  src/renderer/features/assets/AssetsChainView/ui/AssetsChainView.tsx
  src/renderer/features/assets/AssetsChainView/ui/NetworkAssets/NetworkAssets.tsx
  src/renderer/features/assets/AssetsChainView/ui/NetworkFiatBalance.tsx
  src/renderer/features/assets/AssetsSearch/index.ts
  src/renderer/features/assets/AssetsSearch/model/__tests__/assets-search-model.test.ts
  src/renderer/features/assets/AssetsSearch/model/assets-search-model.ts
  src/renderer/features/assets/AssetsSearch/ui/AssetsSearch.tsx
  src/renderer/features/assets/AssetsSettings/index.ts
  src/renderer/features/assets/AssetsSettings/lib/constants.ts
  src/renderer/features/assets/AssetsSettings/model/__tests__/assets-settings-modal.test.ts
  src/renderer/features/assets/AssetsSettings/model/assets-settings-modal.ts
  src/renderer/features/assets/AssetsSettings/ui/AssetsSettings.tsx
  src/renderer/features/assets/index.ts
  src/renderer/pages/Assets/Assets/Assets.tsx
  src/renderer/pages/Assets/Assets/components/AssetsFilter/AssetsFilters.tsx
  src/renderer/pages/Assets/Assets/components/index.ts
  src/renderer/pages/Assets/Assets/model/__tests__/assets-view-model.test.ts
  src/renderer/pages/Assets/Assets/model/assets-model.ts
  src/renderer/pages/Assets/Assets/model/assets-view-model.ts
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: add div
  src/renderer/pages/Assets/Assets/Assets.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: add test
  src/renderer/pages/Assets/Assets/model/__tests__/asset-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: update
  src/renderer/pages/Assets/Assets/Assets.tsx
  src/renderer/pages/Assets/Assets/model/__tests__/asset-model.test.ts
  src/renderer/pages/Assets/Assets/model/assets-model.ts
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: update localization
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix: lint
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: remove comments
  src/renderer/pages/Operations/components/OperationFullInfo.tsx
  tests/integrations/setup.integration.tests.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix
  src/renderer/features/assets/AssetsChainView/index.ts
  src/renderer/features/assets/AssetsSettings/model/assets-settings-modal.ts
  src/renderer/features/assets/AssetsSettings/ui/AssetsSettings.tsx
  src/renderer/features/assets/index.ts
  src/renderer/pages/Assets/Assets/model/assets-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: lint
  src/renderer/pages/Operations/components/OperationFullInfo.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

ci: bump version (#1728)
  package.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: update latest file too
  .github/workflows/release.yaml
Due: none

fix: path
  .github/workflows/release.yaml
Due: none

feat: governance on-chain service
  src/renderer/app/index.tsx
  src/renderer/features/governance/ReferendumList/model/referendum-list-model.ts
  src/renderer/features/governance/ReferendumList/ui/ReferendumList.tsx
  src/renderer/features/navigation/ui/Navigation.tsx
  src/renderer/pages/Governance/model/governance-model.ts
  src/renderer/pages/Governance/ui/Governance.tsx
  src/renderer/pages/index.tsx
  src/renderer/shared/api/governance/index.ts
  src/renderer/shared/api/governance/off-chain/lib/types.ts
  src/renderer/shared/api/governance/off-chain/service/polkassemblyService.ts
  src/renderer/shared/api/governance/off-chain/service/subsquareService.ts
  src/renderer/shared/api/governance/on-chain/lib/utils.ts
  src/renderer/shared/api/governance/on-chain/service/governanceService.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/config/chains/chains_dev.json
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/general.ts
  src/renderer/shared/core/types/referendum.ts
  src/renderer/shared/routes/paths.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: update latest file too (#1736)
  .github/workflows/release.yaml
Due: none

feat: subsquare list
  src/renderer/features/governance/ReferendumList/model/referendum-list-model.ts
  src/renderer/features/governance/ReferendumList/ui/ReferendumList.tsx
  src/renderer/shared/api/governance/off-chain/lib/types.ts
  src/renderer/shared/api/governance/off-chain/service/subsquareService.ts
  src/renderer/shared/api/governance/on-chain/service/governanceService.ts
  src/renderer/shared/lib/utils/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: polkassembly api
  src/renderer/features/governance/ReferendumList/model/referendum-list-model.ts
  src/renderer/shared/api/governance/off-chain/service/polkassemblyService.ts
  src/renderer/shared/api/governance/off-chain/service/subsquareService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: get votes
  src/renderer/features/governance/ReferendumList/model/referendum-list-model.ts
  src/renderer/shared/api/governance/on-chain/service/governanceService.ts
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/voting.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: rollback
  src/renderer/app/index.tsx
  src/renderer/features/navigation/ui/Navigation.tsx
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: map off-chain data
  src/renderer/features/governance/ReferendumList/model/referendum-list-model.ts
  src/renderer/features/governance/ReferendumList/ui/ReferendumList.tsx
  src/renderer/pages/Governance/ui/Governance.tsx
  src/renderer/shared/api/governance/off-chain/lib/types.ts
  src/renderer/shared/api/governance/off-chain/service/polkassemblyService.ts
  src/renderer/shared/api/governance/off-chain/service/subsquareService.ts
  src/renderer/shared/api/governance/on-chain/service/governanceService.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/ui/Buttons/Button/Button.stories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: bad icon
  src/renderer/features/governance/ReferendumList/model/referendum-list-model.ts
  src/renderer/shared/ui/Buttons/ButtonLink/ButtonLink.stories.tsx
  src/renderer/shared/ui/Buttons/ButtonWebLink/ButtonWebLink.stories.tsx
  src/renderer/shared/ui/Buttons/IconButton/IconButton.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: i18n fix
  src/renderer/features/governance/ReferendumFilter/ui/ReferendumFilter.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: permission tests
  src/renderer/entities/wallet/lib/__mocks__/permission-utils.mock.ts
  src/renderer/entities/wallet/lib/__tests__/mocks/permission-mock.ts
  src/renderer/entities/wallet/lib/__tests__/permission-utils.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/renderer/shared/api/translation/locales/*.json
