Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Spellcheck prop (#867)
  src/renderer/components/ui-redesign/Inputs/Input/Input.tsx
  src/renderer/components/ui-redesign/Inputs/InputArea/InputArea.stories.tsx
  src/renderer/components/ui-redesign/Inputs/InputArea/InputArea.test.tsx
  src/renderer/components/ui-redesign/Inputs/InputArea/InputArea.tsx
  src/renderer/components/ui-redesign/Inputs/InputFile/InputFile.tsx
  src/renderer/components/ui-redesign/Inputs/PasswordInput/PasswordInput.test.tsx
  src/renderer/components/ui-redesign/Inputs/PasswordInput/PasswordInput.tsx
  src/renderer/components/ui-redesign/Inputs/SearchInput/SearchInput.tsx
  src/renderer/components/ui-redesign/Inputs/common/types.ts
  src/renderer/components/ui-redesign/index.ts
  src/renderer/components/ui/Inputs/InputFile/InputFile.stories.tsx
  src/renderer/components/ui/Inputs/InputFile/InputFile.test.tsx
  src/renderer/components/ui/Inputs/InputFile/InputFile.tsx
  src/renderer/screens/Operations/components/modals/CallDataModal.tsx
  src/renderer/screens/Operations/components/modals/RejectReasonModal.tsx
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: removed unnecessary dots and semicolons
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix: add spellcheck for transfers
  src/renderer/screens/Transfer/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Spellcheck prop
  src/renderer/components/ui-redesign/Inputs/Input/Input.tsx
  src/renderer/components/ui-redesign/Inputs/InputArea/InputArea.stories.tsx
  src/renderer/components/ui-redesign/Inputs/InputArea/InputArea.test.tsx
  src/renderer/components/ui-redesign/Inputs/InputArea/InputArea.tsx
  src/renderer/components/ui-redesign/Inputs/InputFile/InputFile.tsx
  src/renderer/components/ui-redesign/Inputs/PasswordInput/PasswordInput.test.tsx
  src/renderer/components/ui-redesign/Inputs/PasswordInput/PasswordInput.tsx
  src/renderer/components/ui-redesign/Inputs/SearchInput/SearchInput.tsx
  src/renderer/components/ui-redesign/Inputs/common/types.ts
  src/renderer/components/ui-redesign/index.ts
  src/renderer/components/ui/Inputs/InputFile/InputFile.stories.tsx
  src/renderer/components/ui/Inputs/InputFile/InputFile.test.tsx
  src/renderer/components/ui/Inputs/InputFile/InputFile.tsx
  src/renderer/screens/Operations/components/modals/CallDataModal.tsx
  src/renderer/screens/Operations/components/modals/RejectReasonModal.tsx
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: added account activation after adding account
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/domain/account.ts
  src/renderer/screens/Onboarding/Vault/ManageStep/ManageStep.tsx
  src/renderer/screens/Onboarding/Vault/ManageStepSingle/ManageStepSingle.tsx
  src/renderer/screens/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/services/account/accountService.ts
  src/renderer/services/account/common/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Disable while progress (#872)
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.test.tsx
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.tsx
  src/renderer/screens/Settings/Networks/components/CustomRpcModal/CustomRpcModal.test.tsx
  src/renderer/screens/Settings/Networks/components/CustomRpcModal/CustomRpcModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: miltisig operations (#884)
  src/renderer/components/common/AddressWithExplorers/AddressWithExplorers.tsx
  src/renderer/components/common/DetailsWithLabel/DetailWithLabel.tsx
  src/renderer/components/common/ExplorerLink/ExplorerLink.tsx
  src/renderer/components/common/ExtrinsicExplorers/ExtrinsicExplorers.tsx
  src/renderer/components/common/ExtrinsicExplorers/useExtrinsicInfo.tsx
  src/renderer/components/common/SelectableSignatory/SelectableSignatory.tsx
  src/renderer/components/common/index.ts
  src/renderer/screens/Operations/common/constants.ts
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Operations/components/Filters.tsx
  src/renderer/screens/Operations/components/Log.tsx
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/shared/utils/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: duplicated pv accounts fix
  src/renderer/components/layout/PrimaryLayout/Wallets/common/useGroupedWallets.ts
  src/renderer/screens/Staking/Operations/common/utils.tsx
  src/renderer/screens/Transfer/common/utils.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Added AssetIcon and updated styles
  src/renderer/components/common/BalanceNew/BalanceNew.tsx
  src/renderer/components/ui-redesign/AssetIcon/AssetIcon.test.tsx
  src/renderer/components/ui-redesign/AssetIcon/AssetIcon.tsx
  src/renderer/components/ui-redesign/Chain/Chain.tsx
  src/renderer/components/ui-redesign/Chain/ChainIcon/ChainIcon.tsx
  src/renderer/components/ui-redesign/ChainIcon/ChainIcon.test.tsx
  src/renderer/components/ui-redesign/ChainIcon/ChainIcon.tsx
  src/renderer/components/ui-redesign/Inputs/AmountInput/AmountInput.tsx
  src/renderer/components/ui-redesign/index.ts
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.stories.tsx
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.test.tsx
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.tsx
  src/renderer/components/ui/index.ts
  src/renderer/screens/Balances/AssetBalanceCard/AssetBalanceCard.tsx
  src/renderer/screens/Operations/components/Log.tsx
  src/renderer/screens/Settings/Networks/components/NetworkItem/NetworkItem.tsx
  src/renderer/screens/Staking/Overview/components/NetworkInfo/NetworkInfo.tsx
  src/renderer/theme/default.css
  tw-config-consts/colors.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: add spellcheck for transfers (#875)
  src/renderer/screens/Transfer/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: available balance style (#877)
  src/renderer/components/ui-redesign/Inputs/AmountInput/AmountInput.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/services/staking/validatorsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: removed unnecessary dots and semicolons (#873)
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix: text token
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

Fix: Settings fixes (#886)
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.test.tsx
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.tsx
  src/renderer/components/modals/MatrixModal/components/Verification/Verification.tsx
  src/renderer/components/ui-redesign/Dropdowns/Combobox/Combobox.stories.tsx
  src/renderer/components/ui-redesign/Dropdowns/Combobox/Combobox.tsx
  src/renderer/components/ui-redesign/Dropdowns/common/types.ts
  src/renderer/screens/Settings/Overview/components/Version/Version.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Fix: Deposit validation text
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: duplicated pv accounts fix (#878)
  src/renderer/components/layout/PrimaryLayout/Wallets/common/useGroupedWallets.ts
  src/renderer/screens/Staking/Operations/common/utils.tsx
  src/renderer/screens/Transfer/common/utils.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: not elected validators styles
  src/renderer/screens/Staking/Overview/components/ValidatorsModal/ValidatorsModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: default value for staking
  src/renderer/screens/Signing/QrReaderWrapper/QrReaderWrapper.tsx
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationForm.tsx
  src/renderer/shared/utils/balance.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: change text for settings (#879)
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

Fix: Disable while progress
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.test.tsx
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.tsx
  src/renderer/screens/Settings/Networks/components/CustomRpcModal/CustomRpcModal.test.tsx
  src/renderer/screens/Settings/Networks/components/CustomRpcModal/CustomRpcModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Settings fixes
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.test.tsx
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.tsx
  src/renderer/components/modals/MatrixModal/components/Verification/Verification.tsx
  src/renderer/components/ui-redesign/Dropdowns/Combobox/Combobox.stories.tsx
  src/renderer/components/ui-redesign/Dropdowns/Combobox/Combobox.tsx
  src/renderer/components/ui-redesign/Dropdowns/common/types.ts
  src/renderer/screens/Settings/Overview/components/Version/Version.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: available balance style
  src/renderer/components/ui-redesign/Inputs/AmountInput/AmountInput.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/services/staking/validatorsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: adding key for confirmation screeen
  src/renderer/screens/Staking/Operations/components/Confirmation/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Deposit validation text (#882)
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Fix: Contact description
  src/renderer/components/forms/ContactForm/ContactForm.test.tsx
  src/renderer/components/forms/ContactForm/ContactForm.tsx
  src/renderer/components/forms/index.ts
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.test.tsx
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/components/modals/CreateMultisigAccount/components/AddSignatory.tsx
  src/renderer/components/modals/MatrixModal/Matrix.test.tsx
  src/renderer/components/modals/MatrixModal/MatrixModal.tsx
  src/renderer/components/modals/index.ts
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/AddressBook/AddressBook.test.tsx
  src/renderer/screens/AddressBook/AddressBook.tsx
  src/renderer/screens/AddressBook/ManageContact/ManageContact.test.tsx
  src/renderer/screens/AddressBook/ManageContact/ManageContact.tsx
  src/renderer/screens/AddressBook/Overview/Overview.test.tsx
  src/renderer/screens/AddressBook/Overview/Overview.tsx
  src/renderer/screens/AddressBook/Overview/components/ContactList/ContactList.tsx
  src/renderer/screens/AddressBook/Overview/components/EmptyState/EmptyContacts.test.tsx
  src/renderer/screens/AddressBook/Overview/components/EmptyState/EmptyContacts.tsx
  src/renderer/screens/AddressBook/Overview/components/EmptyState/EmptySearch.test.tsx
  src/renderer/screens/AddressBook/Overview/components/EmptyState/EmptySearch.tsx
  src/renderer/screens/AddressBook/Overview/components/index.ts
  src/renderer/screens/AddressBook/components/ContactModal.tsx
  src/renderer/screens/AddressBook/index.ts
  src/renderer/screens/Settings/Networks/components/CustomRpcModal/CustomRpcModal.tsx
  src/renderer/screens/Settings/Overview/components/MatrixAction/MatrixAction.test.tsx
  src/renderer/screens/Settings/Overview/components/MatrixAction/MatrixAction.tsx
  src/renderer/screens/index.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: close button
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Fix: Tooltip, validators, WOW action
  src/renderer/components/common/AccountAddress/useAddressInfo.tsx
  src/renderer/components/common/AccountsList/AccountsList.tsx
  src/renderer/components/common/AddressWithExplorers/AddressWithExplorers.tsx
  src/renderer/components/modals/CreateMultisigAccount/components/AddSignatory.tsx
  src/renderer/components/modals/CreateMultisigAccount/components/WalletsTabItem.tsx
  src/renderer/components/ui-redesign/Popovers/InfoPopover/InfoPopover.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/screens/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/AboutStaking/AboutStaking.test.tsx
  src/renderer/screens/Staking/Overview/components/Actions/Actions.test.tsx
  src/renderer/screens/Staking/Overview/components/Actions/Actions.tsx
  src/renderer/screens/Staking/Overview/components/NetworkInfo/NetworkInfo.test.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsList/NominatorsList.test.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsList/NominatorsList.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: close button (#891)
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: miltisig operations
  src/renderer/components/common/AddressWithExplorers/AddressWithExplorers.tsx
  src/renderer/components/common/DetailsWithLabel/DetailWithLabel.tsx
  src/renderer/components/common/ExplorerLink/ExplorerLink.tsx
  src/renderer/components/common/ExtrinsicExplorers/ExtrinsicExplorers.tsx
  src/renderer/components/common/ExtrinsicExplorers/useExtrinsicInfo.tsx
  src/renderer/components/common/SelectableSignatory/SelectableSignatory.tsx
  src/renderer/components/common/index.ts
  src/renderer/screens/Operations/common/constants.ts
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Operations/components/Filters.tsx
  src/renderer/screens/Operations/components/Log.tsx
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/shared/utils/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Contact description (#881)
  src/renderer/components/forms/ContactForm/ContactForm.test.tsx
  src/renderer/components/forms/ContactForm/ContactForm.tsx
  src/renderer/components/forms/index.ts
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.test.tsx
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/components/modals/CreateMultisigAccount/components/AddSignatory.tsx
  src/renderer/components/modals/MatrixModal/Matrix.test.tsx
  src/renderer/components/modals/MatrixModal/MatrixModal.tsx
  src/renderer/components/modals/index.ts
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/AddressBook/AddressBook.test.tsx
  src/renderer/screens/AddressBook/AddressBook.tsx
  src/renderer/screens/AddressBook/ManageContact/ManageContact.test.tsx
  src/renderer/screens/AddressBook/ManageContact/ManageContact.tsx
  src/renderer/screens/AddressBook/Overview/Overview.test.tsx
  src/renderer/screens/AddressBook/Overview/Overview.tsx
  src/renderer/screens/AddressBook/Overview/components/ContactList/ContactList.tsx
  src/renderer/screens/AddressBook/Overview/components/EmptyState/EmptyContacts.test.tsx
  src/renderer/screens/AddressBook/Overview/components/EmptyState/EmptyContacts.tsx
  src/renderer/screens/AddressBook/Overview/components/EmptyState/EmptySearch.test.tsx
  src/renderer/screens/AddressBook/Overview/components/EmptyState/EmptySearch.tsx
  src/renderer/screens/AddressBook/Overview/components/index.ts
  src/renderer/screens/AddressBook/components/ContactModal.tsx
  src/renderer/screens/AddressBook/index.ts
  src/renderer/screens/Settings/Networks/components/CustomRpcModal/CustomRpcModal.tsx
  src/renderer/screens/Settings/Overview/components/MatrixAction/MatrixAction.test.tsx
  src/renderer/screens/Settings/Overview/components/MatrixAction/MatrixAction.tsx
  src/renderer/screens/index.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Added AssetIcon and updated styles (#870)
  src/renderer/components/common/BalanceNew/BalanceNew.tsx
  src/renderer/components/ui-redesign/AssetIcon/AssetIcon.test.tsx
  src/renderer/components/ui-redesign/AssetIcon/AssetIcon.tsx
  src/renderer/components/ui-redesign/Chain/Chain.tsx
  src/renderer/components/ui-redesign/Chain/ChainIcon/ChainIcon.tsx
  src/renderer/components/ui-redesign/ChainIcon/ChainIcon.test.tsx
  src/renderer/components/ui-redesign/ChainIcon/ChainIcon.tsx
  src/renderer/components/ui-redesign/Inputs/AmountInput/AmountInput.tsx
  src/renderer/components/ui-redesign/index.ts
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.stories.tsx
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.test.tsx
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.tsx
  src/renderer/components/ui/index.ts
  src/renderer/screens/Balances/AssetBalanceCard/AssetBalanceCard.tsx
  src/renderer/screens/Operations/components/Log.tsx
  src/renderer/screens/Settings/Networks/components/NetworkItem/NetworkItem.tsx
  src/renderer/screens/Staking/Overview/components/NetworkInfo/NetworkInfo.tsx
  src/renderer/theme/default.css
  tw-config-consts/colors.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: address icon size, refactor DetailRow
  src/renderer/components/common/AddressWithExplorers/AddressWithExplorers.tsx
  src/renderer/components/common/DetailRow/DetailRow.tsx
  src/renderer/components/common/DetailsWithLabel/DetailWithLabel.tsx
  src/renderer/components/common/index.ts
  src/renderer/screens/Operations/common/constants.ts
  src/renderer/screens/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Confirmation.tsx
  src/renderer/screens/Transfer/components/Details.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: navigation (#868)
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/components/ui-redesign/Inputs/PasswordInput/PasswordInput.tsx
  src/renderer/screens/Onboarding/Welcome/Welcome.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Submit.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: accounts selection on stacking
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: removed used chains filter from balances (#880)
  src/renderer/screens/Balances/Balances/Balances.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: accounts selection on stacking (#869)
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Tooltip, validators, WOW action (#887)
  src/renderer/components/common/AccountAddress/useAddressInfo.tsx
  src/renderer/components/common/AccountsList/AccountsList.tsx
  src/renderer/components/common/AddressWithExplorers/AddressWithExplorers.tsx
  src/renderer/components/modals/CreateMultisigAccount/components/AddSignatory.tsx
  src/renderer/components/modals/CreateMultisigAccount/components/WalletsTabItem.tsx
  src/renderer/components/ui-redesign/Popovers/InfoPopover/InfoPopover.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/screens/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/AboutStaking/AboutStaking.test.tsx
  src/renderer/screens/Staking/Overview/components/Actions/Actions.test.tsx
  src/renderer/screens/Staking/Overview/components/Actions/Actions.tsx
  src/renderer/screens/Staking/Overview/components/NetworkInfo/NetworkInfo.test.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsList/NominatorsList.test.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsList/NominatorsList.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: added account activation after adding account (#883)
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/domain/account.ts
  src/renderer/screens/Onboarding/Vault/ManageStep/ManageStep.tsx
  src/renderer/screens/Onboarding/Vault/ManageStepSingle/ManageStepSingle.tsx
  src/renderer/screens/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/services/account/accountService.ts
  src/renderer/services/account/common/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: adding key for confirmation screeen (#874)
  src/renderer/screens/Staking/Operations/components/Confirmation/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: address icon size, refactor DetailRow (#885)
  src/renderer/components/common/AddressWithExplorers/AddressWithExplorers.tsx
  src/renderer/components/common/DetailRow/DetailRow.tsx
  src/renderer/components/common/DetailsWithLabel/DetailWithLabel.tsx
  src/renderer/components/common/index.ts
  src/renderer/screens/Operations/common/constants.ts
  src/renderer/screens/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Confirmation.tsx
  src/renderer/screens/Transfer/components/Details.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/shared/locale/*.json
