Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: added accordion for chain
  src/renderer/entities/wallet/ui/SelectableShard/SelectableShard.tsx
  src/renderer/pages/Assets/AssetsList/components/SelectShardModal/SelectShardModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: added new wallet icons
  src/renderer/assets/images/walletTypesNew/multisig.svg
  src/renderer/assets/images/walletTypesNew/vault.svg
  src/renderer/assets/images/walletTypesNew/walletConnect.svg
  src/renderer/assets/images/walletTypesNew/watchOnly.svg
  src/renderer/entities/wallet/model/constansts.ts
  src/renderer/entities/wallet/ui/WalletIcon/WalletIcon.tsx
  src/renderer/entities/wallet/ui/index.ts
  src/renderer/shared/ui/Icon/data/index.ts
  src/renderer/shared/ui/Icon/data/walletTypeNew.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: update icons
  src/renderer/assets/images/walletTypes/ledgerOnboarding.svg
  src/renderer/assets/images/walletTypes/novaWalletOnboarding.svg
  src/renderer/assets/images/walletTypes/vaultOnboarding.svg
  src/renderer/assets/images/walletTypes/walletConnectOnboarding.svg
  src/renderer/assets/images/walletTypes/watchOnlyOnboardiing.svg
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/pages/Onboarding/WalletConnect/ManageStep/ManageStep.tsx
  src/renderer/pages/Onboarding/WalletConnect/common/const.ts
  src/renderer/pages/Onboarding/Welcome/Welcome.tsx
  src/renderer/pages/Onboarding/Welcome/WelcomeCard.tsx
  src/renderer/shared/ui/Icon/data/walletType.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix tests
  src/renderer/app/providers/context/ConfirmContext/ConfirmContext.test.tsx
  src/renderer/app/providers/context/MatrixContext/MatrixContext.test.tsx
  src/renderer/app/providers/context/NetworkContext/NetworkContext.test.tsx
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.test.tsx
  src/renderer/entities/chain/ui/ChainIcon/ChainIcon.test.tsx
  src/renderer/entities/chain/ui/ChainTitle/ChainTitle.test.tsx
  src/renderer/entities/chain/ui/XcmChains/XcmChains.test.tsx
  src/renderer/entities/transaction/ui/OperationResult/OperationResult.test.tsx
  src/renderer/entities/wallet/lib/__tests__/model-utils.test.ts
  src/renderer/entities/wallet/model/__tests__/wallet-model.test.ts
  src/renderer/entities/wallet/ui/AccountAddress/AccountAddress.test.tsx
  src/renderer/entities/wallet/ui/AddressWithName/AddressWithName.test.tsx
  src/renderer/pages/Onboarding/WalletConnect/NovaWallet.tsx
  src/renderer/pages/Onboarding/WalletConnect/WalletConnect.tsx
  src/renderer/pages/Operations/components/ShortTransactionInfo.test.tsx
  src/renderer/pages/Operations/components/TransactionTitle/TransactionTitle.test.tsx
  src/renderer/pages/Settings/Networks/components/NetworkList/NetworkList.test.tsx
  src/renderer/shared/ui/Alert/Alert.test.tsx
  src/renderer/shared/ui/Buttons/Button/Button.test.tsx
  src/renderer/shared/ui/Checkbox/Checkbox.test.tsx
  src/renderer/shared/ui/Counter/Counter.test.tsx
  src/renderer/shared/ui/Dropdowns/Combobox/Combobox.test.tsx
  src/renderer/shared/ui/Dropdowns/DropdownButton/DropdownButton.test.tsx
  src/renderer/shared/ui/Dropdowns/MultiSelect/MultiSelect.test.tsx
  src/renderer/shared/ui/Dropdowns/Select/Select.test.tsx
  src/renderer/shared/ui/InfoLink/InfoLink.test.tsx
  src/renderer/shared/ui/LabelHelpbox/LabelHelpBox.test.tsx
  src/renderer/shared/ui/Loader/Loader.test.tsx
  src/renderer/shared/ui/Modals/BaseModal/BaseModal.test.tsx
  src/renderer/shared/ui/Modals/ConfirmModal/ConfirmModal.test.tsx
  src/renderer/shared/ui/PopoverLink/PopoverLink.test.tsx
  src/renderer/shared/ui/Popovers/InfoPopover/InfoPopover.test.tsx
  src/renderer/shared/ui/Popovers/Tooltip/Tooltip.test.tsx
  src/renderer/shared/ui/RadioGroup/RadioGroup.test.tsx
  src/renderer/shared/ui/StatusLabel/StatusLabel.test.tsx
  src/renderer/shared/ui/Switch/Switch.test.tsx
  src/renderer/shared/ui/Tabs/Tabs.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: migration script
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/common/constants.ts
  src/renderer/entities/wallet/lib/wallet-utils.ts
  src/renderer/pages/Assets/AssetsList/AssetsList.tsx
  src/renderer/pages/Onboarding/Welcome/Welcome.tsx
  src/renderer/shared/api/storage/common/upgrades.ts
  src/renderer/shared/api/storage/service/dexie.ts
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/wallet.ts
  src/renderer/widgets/CreateWallet/ui/CreateWalletProvider.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: migration script v2
  src/renderer/shared/api/storage/common/upgrades.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: migration script v3
  src/renderer/shared/api/storage/common/upgrades.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: added nove wallet
  src/renderer/assets/images/walletTypesNew/novaWallet.svg
  src/renderer/entities/wallet/model/constansts.ts
  src/renderer/shared/ui/Icon/data/walletTypeNew.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: migration script v4
  src/renderer/shared/api/storage/common/upgrades.ts
  src/renderer/shared/api/storage/migration/index.ts
  src/renderer/shared/api/storage/migration/migration-1.ts
  src/renderer/shared/api/storage/migration/migration-2.ts
  src/renderer/shared/api/storage/service/dexie.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: migration script v5
  src/renderer/shared/api/storage/migration/migration-2.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: updated UI for select signatory popup
  src/renderer/entities/signatory/ui/SelectableSignatory/SelectableSignatory.tsx
  src/renderer/pages/Operations/components/modals/SignatorySelectModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: staking operation dropdown
  src/renderer/pages/Staking/Overview/Overview.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: correct account checking
  src/renderer/pages/Staking/Overview/Overview.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: added support for multishard signatory
  src/renderer/entities/signatory/ui/SelectableSignatory/SelectableSignatory.tsx
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
  src/renderer/pages/Operations/components/modals/SignatorySelectModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: updated address truncate for selectable shard
  src/renderer/entities/wallet/ui/SelectableShard/SelectableShard.tsx
  src/renderer/pages/Assets/AssetsList/components/SelectShardModal/SelectShardModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: rename constant
  src/renderer/app/App.tsx
  src/renderer/pages/index.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: compressed icon, fixed pr comments
  src/renderer/assets/images/walletTypesNew/novaWallet.svg
  src/renderer/entities/wallet/model/constansts.ts
  src/renderer/entities/wallet/ui/WalletIcon/WalletIcon.tsx
  src/renderer/shared/ui/Icon/data/walletType.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: updated shards ui for shards select modal (#1138)
  src/renderer/entities/wallet/ui/SelectableShard/SelectableShard.tsx
  src/renderer/entities/wallet/ui/index.ts
  src/renderer/pages/Assets/AssetsList/components/SelectShardModal/SelectShardModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: moved wallet style conts to WalletIcon component
  src/renderer/entities/wallet/model/constansts.ts
  src/renderer/entities/wallet/ui/WalletIcon/WalletIcon.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: update icon for WalletConnect pairing
  src/renderer/entities/walletConnect/lib/common/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fixed linter err
  src/renderer/shared/ui/Icon/data/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Feat: wallet icon (#1139)
  src/renderer/assets/images/walletTypesNew/multisig.svg
  src/renderer/assets/images/walletTypesNew/novaWallet.svg
  src/renderer/assets/images/walletTypesNew/vault.svg
  src/renderer/assets/images/walletTypesNew/walletConnect.svg
  src/renderer/assets/images/walletTypesNew/watchOnly.svg
  src/renderer/entities/wallet/ui/WalletIcon/WalletIcon.tsx
  src/renderer/entities/wallet/ui/index.ts
  src/renderer/shared/ui/Icon/data/index.ts
  src/renderer/shared/ui/Icon/data/walletType.tsx
  src/renderer/shared/ui/Icon/data/walletTypeNew.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: transfer confitm screen update
  src/renderer/entities/wallet/ui/AccountAddress/AccountAddress.tsx
  src/renderer/entities/wallet/ui/WalletIcon/WalletIcon.tsx
  src/renderer/entities/wallet/ui/WalletRow/WalletRow.tsx
  src/renderer/entities/wallet/ui/index.ts
  src/renderer/shared/ui/DetailRow/DetailRow.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Confirmation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/Details.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: changed transfer modal paddings
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Confirmation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/InitOperation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/Details.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: updated AccountAddress test
  src/renderer/entities/wallet/ui/AccountAddress/AccountAddress.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: clean up contacts, MainLayout
  src/renderer/features/contacts/ContactFilter/index.ts
  src/renderer/features/contacts/ContactFilter/model/contact-filter.ts
  src/renderer/features/contacts/ContactFilter/ui/ContactFilter.tsx
  src/renderer/features/contacts/CreateContactForm/index.ts
  src/renderer/features/contacts/CreateContactForm/model/contact-form.ts
  src/renderer/features/contacts/CreateContactForm/ui/CreateContactForm.tsx
  src/renderer/features/contacts/EditContactForm/index.ts
  src/renderer/features/contacts/EditContactForm/model/contact-form.ts
  src/renderer/features/contacts/EditContactForm/ui/EditContactForm.tsx
  src/renderer/features/contacts/EditRouteGuard/index.ts
  src/renderer/features/contacts/index.ts
  src/renderer/features/navigation/index.ts
  src/renderer/features/navigation/ui/NavItem.tsx
  src/renderer/features/navigation/ui/Navigation.tsx
  src/renderer/features/wallets/WalletSelect/WalletSelect.tsx
  src/renderer/features/wallets/index.ts
  src/renderer/pages/index.tsx
  src/renderer/shared/ui/Layouts/MainLayout/MainLayout.test.tsx
  src/renderer/shared/ui/Layouts/MainLayout/MainLayout.tsx
  src/renderer/shared/ui/index.ts
  src/renderer/widgets/Layout/index.ts
  src/renderer/widgets/Layout/ui/MainLayout.tsx
  src/renderer/widgets/Navigation/ui/Navigation.tsx
  src/renderer/widgets/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr comments fix
  src/renderer/entities/signatory/ui/SelectableSignatory/SelectableSignatory.tsx
  src/renderer/entities/wallet/lib/wallet-utils.ts
  src/renderer/pages/Operations/common/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: deleted unused file
  src/renderer/entities/wallet/model/constansts.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Feat: Migration
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/common/constants.ts
  src/renderer/entities/wallet/lib/wallet-utils.ts
  src/renderer/pages/Assets/AssetsList/AssetsList.tsx
  src/renderer/pages/Onboarding/Welcome/Welcome.tsx
  src/renderer/shared/api/storage/migration/index.ts
  src/renderer/shared/api/storage/migration/migration-1.ts
  src/renderer/shared/api/storage/migration/migration-2.ts
  src/renderer/shared/api/storage/service/dexie.ts
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/wallet.ts
  src/renderer/widgets/CreateWallet/ui/CreateWalletProvider.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Migration (#1140)
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/common/constants.ts
  src/renderer/entities/wallet/lib/wallet-utils.ts
  src/renderer/pages/Assets/AssetsList/AssetsList.tsx
  src/renderer/pages/Onboarding/Welcome/Welcome.tsx
  src/renderer/shared/api/storage/migration/index.ts
  src/renderer/shared/api/storage/migration/migration-1.ts
  src/renderer/shared/api/storage/migration/migration-2.ts
  src/renderer/shared/api/storage/service/dexie.ts
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/wallet.ts
  src/renderer/widgets/CreateWallet/ui/CreateWalletProvider.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: start fsd for WalletSelect
  src/renderer/features/navigation/ui/Navigation.tsx
  src/renderer/features/wallets/WalletSelect/WalletCard.tsx
  src/renderer/features/wallets/WalletSelect/WalletSelect.tsx
  src/renderer/features/wallets/WalletSelect/ui/WalletFiatBalance.tsx
  src/renderer/features/wallets/WalletSelect/ui/WalletGroup.tsx
  src/renderer/features/wallets/WalletSelect/ui/WalletMenu.tsx
  src/renderer/features/wallets/WalletSelect/ui/WalletSelect.tsx
  src/renderer/features/wallets/index.ts
  src/renderer/widgets/Layout/ui/MainLayout.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: auto update v2 without install on next launch option
  package.json
  pnpm-lock.yaml
  src/main/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: wallet family
  src/renderer/shared/core/types/wallet.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: change channel and improve notification
  .github/workflows/build_stage.yaml
Due: none

fix: add link
  .github/workflows/build_stage.yaml
Due: none

feat: walletSelect, walletPair model update
  src/renderer/entities/wallet/ui/WalletIcon/WalletIcon.tsx
  src/renderer/features/contacts/ContactFilter/model/contact-filter.ts
  src/renderer/features/navigation/ui/Navigation.tsx
  src/renderer/features/wallets/SelectWalletPairing/index.ts
  src/renderer/features/wallets/SelectWalletPairing/model/wallet-pairing-model.ts
  src/renderer/features/wallets/SelectWalletPairing/ui/SelectWalletPairing.tsx
  src/renderer/features/wallets/WalletSelect/common/constants.ts
  src/renderer/features/wallets/WalletSelect/index.ts
  src/renderer/features/wallets/WalletSelect/model/wallet-select-model.ts
  src/renderer/features/wallets/WalletSelect/ui/WalletButton.tsx
  src/renderer/features/wallets/WalletSelect/ui/WalletGroup.tsx
  src/renderer/features/wallets/WalletSelect/ui/WalletMenu.tsx
  src/renderer/features/wallets/WalletSelect/ui/WalletPanel.tsx
  src/renderer/features/wallets/WalletSelect/ui/WalletSelect.tsx
  src/renderer/features/wallets/index.ts
  src/renderer/pages/AddressBook/Contacts/Contacts.tsx
  src/renderer/pages/Assets/AssetsList/AssetsList.tsx
  src/renderer/pages/Notifications/Notifications.tsx
  src/renderer/pages/Onboarding/Welcome/Welcome.tsx
  src/renderer/pages/Staking/Overview/Overview.tsx
  src/renderer/widgets/CreateWallet/model/wallet-provider-model.ts
  src/renderer/widgets/CreateWallet/ui/CreateWalletProvider.tsx
  src/renderer/widgets/Layout/ui/MainLayout.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: adding track version flow
  .github/workflows/build_stage.yaml
Due: none

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/shared/locale/*.json
