Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

fix: multisig operation error modal fix and address book search input update (#850)
  src/renderer/screens/AddressBook/AddressBook.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/screens/Operations/components/modals/RejectTx.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: empty default wallet name
  src/renderer/screens/Onboarding/Vault/ManageStep/ManageStep.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: added onerror fallback for assets and network imgs (#852)
  src/renderer/screens/Balances/AssetBalanceCard/AssetBalanceCard.tsx
  src/renderer/screens/Settings/Networks/components/NetworkItem/NetworkItem.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: added onerror fallback for assets and network imgs
  src/renderer/screens/Balances/AssetBalanceCard/AssetBalanceCard.tsx
  src/renderer/screens/Settings/Networks/components/NetworkItem/NetworkItem.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: empty default wallet name (#853)
  src/renderer/screens/Onboarding/Vault/ManageStep/ManageStep.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: fallback screen redesign
  src/renderer/assets/images/misc/computer.webp
  src/renderer/components/common/FallbackScreen/FallbackScreen.tsx
  src/renderer/components/ui/Icon/data/misc.tsx
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fix tests
  src/renderer/components/common/FallbackScreen/FallbackScreen.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: remove staking for not tested networks
  src/renderer/services/network/common/chains/chains.json
  src/renderer/services/network/common/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: shard select modal and matrix loading state
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.tsx
  src/renderer/components/ui-redesign/Checkbox/Checkbox.tsx
  src/renderer/screens/Balances/SelectShardModal/SelectShardModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: fallback screen redesign (#854)
  src/renderer/assets/images/misc/computer.webp
  src/renderer/components/common/FallbackScreen/FallbackScreen.test.tsx
  src/renderer/components/common/FallbackScreen/FallbackScreen.tsx
  src/renderer/components/ui/Icon/data/misc.tsx
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: fallback screen redesign
  src/renderer/assets/images/misc/computer.webp
  src/renderer/components/common/FallbackScreen/FallbackScreen.test.tsx
  src/renderer/components/common/FallbackScreen/FallbackScreen.tsx
  src/renderer/components/ui/Icon/data/misc.tsx
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: style fixes, update whole validation
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/components/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationFooter.tsx
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationForm.tsx
  src/renderer/screens/Staking/Operations/components/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsList/NominatorsList.tsx
  src/renderer/screens/Staking/Overview/components/TimeToEra/TimeToEra.tsx
  src/renderer/screens/Staking/Overview/components/ValidatorsModal/ValidatorsModal.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: merge dev
  src/renderer/index.tsx
  src/renderer/screens/Onboarding/Welcome/Welcome.tsx
  src/renderer/screens/Onboarding/Welcome/WelcomeCard.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/services/staking/validatorsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: unnecessary margin
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: operation scroll
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/components/Filters.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: validators table, network fee
  src/renderer/assets/fonts/fira-sans/fira-sans-300.woff2
  src/renderer/assets/fonts/fira-sans/fira-sans-400.woff2
  src/renderer/assets/fonts/fira-sans/fira-sans-600.woff2
  src/renderer/assets/fonts/fira-sans/fira-sans-700.woff2
  src/renderer/assets/fonts/public-sans/public-sans-300.woff2
  src/renderer/assets/fonts/public-sans/public-sans-400.woff2
  src/renderer/assets/fonts/public-sans/public-sans-600.woff2
  src/renderer/assets/fonts/public-sans/public-sans-700.woff2
  src/renderer/index.css
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationFooter.tsx
  src/renderer/screens/Staking/Overview/components/ValidatorsModal/ValidatorsModal.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: get nominators
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/validatorsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: update jsx, network fee on confirm page
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/screens/Staking/Operations/components/Validators/Validators.test.tsx
  src/renderer/screens/Staking/Operations/components/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/validatorsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: get nominators (#859)
  src/renderer/screens/Staking/Operations/components/Validators/Validators.test.tsx
  src/renderer/screens/Staking/Operations/components/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/validatorsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: get nominators
  src/renderer/screens/Staking/Operations/components/Validators/Validators.test.tsx
  src/renderer/screens/Staking/Operations/components/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/validatorsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: changed input to password input in login form
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.tsx
  src/renderer/components/ui-redesign/Inputs/PasswordInput/PasswordInput.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: operation scroll (#858)
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/components/Filters.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: moved Chain to ui components and added shimmering
  src/renderer/components/common/AccountsList/AccountsList.tsx
  src/renderer/components/ui-redesign/Chain/Chain.test.tsx
  src/renderer/components/ui-redesign/Chain/Chain.tsx
  src/renderer/components/ui-redesign/Chain/ChainIcon/ChainIcon.tsx
  src/renderer/components/ui-redesign/index.ts
  src/renderer/screens/Balances/SelectShardModal/SelectShardModal.tsx
  src/renderer/screens/Onboarding/Vault/ManageStep/ManageStep.tsx
  src/renderer/screens/Operations/components/Chain/Chain.tsx
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Operations/components/OperationModalTitle.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: added icon shimmering for onboarding networks and select shard
  src/renderer/components/common/AccountsList/AccountsList.tsx
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.tsx
  src/renderer/screens/Balances/SelectShardModal/SelectShardModal.tsx
  src/renderer/screens/Settings/Networks/components/NetworkItem/NetworkItem.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: added tests and storybook entry for Chain component
  src/renderer/components/ui-redesign/Chain/Chain.stories.tsx
  src/renderer/components/ui-redesign/Chain/Chain.test.tsx
  src/renderer/components/ui-redesign/Chain/ChainIcon/ChainIcon.test.tsx
  src/renderer/components/ui-redesign/Chain/ChainIcon/ChainIcon.tsx
  src/renderer/shared/utils/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: updated test
  src/renderer/screens/Operations/Operations.test.tsx
  src/renderer/screens/Staking/Overview/components/NetworkInfo/NetworkInfo.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr review
  src/renderer/screens/Staking/Operations/ChangeValidators/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr review
  src/renderer/components/common/Explorers/Explorers.tsx
  src/renderer/components/common/Message/Message.tsx
  src/renderer/components/common/QrCode/QrGeneratorContainer/QrGeneratorContainer.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletGroup.tsx
  src/renderer/components/ui-redesign/Buttons/Button/Button.stories.tsx
  src/renderer/components/ui-redesign/Buttons/ButtonLink/ButtonLink.stories.tsx
  src/renderer/components/ui-redesign/Checkbox/Checkbox.tsx
  src/renderer/components/ui-redesign/Counter/Counter.tsx
  src/renderer/components/ui-redesign/Popovers/Tooltip/Tooltip.tsx
  src/renderer/components/ui/Buttons/Button/Button.stories.tsx
  src/renderer/components/ui/Buttons/ButtonLink/ButtonLink.stories.tsx
  src/renderer/components/ui/Buttons/common/constants.ts
  src/renderer/components/ui/Dropdowns/Select/Select.tsx
  src/renderer/components/ui/LanguageSwitcher/LanguageSwitcher.tsx
  src/renderer/components/ui/Stepper/Stepper.tsx
  src/renderer/screens/Onboarding/Vault/KeyQrReader/KeyQrReader.tsx
  src/renderer/screens/Onboarding/Welcome/WelcomeCard.tsx
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
  src/renderer/screens/Signing/Progress.tsx
  src/renderer/screens/Signing/QrReaderWrapper/QrReaderWrapper.tsx
  src/renderer/screens/Signing/SignatureReaderError.tsx
  src/renderer/screens/Signing/SigningDev.tsx
  src/renderer/screens/Signing/common/consts.ts
  src/renderer/screens/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
  src/renderer/theme/default.css
  tw-config-consts/colors.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: updated multiframe qr scanner progress text
  src/renderer/screens/Signing/QrReaderWrapper/QrReaderWrapper.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: input format
  src/renderer/components/ui-redesign/Inputs/AmountInput/AmountInput.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
  src/renderer/shared/utils/balance.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: amount input token symbol
  src/renderer/components/ui-redesign/Inputs/AmountInput/AmountInput.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fixed pr comments
  src/renderer/components/ui-redesign/Chain/ChainIcon/ChainIcon.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: add max integer length
  src/renderer/shared/utils/balance.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: Network icons shimmering
  src/renderer/components/common/AccountsList/AccountsList.tsx
  src/renderer/components/ui-redesign/Chain/Chain.stories.tsx
  src/renderer/components/ui-redesign/Chain/Chain.test.tsx
  src/renderer/components/ui-redesign/Chain/Chain.tsx
  src/renderer/components/ui-redesign/Chain/ChainIcon/ChainIcon.test.tsx
  src/renderer/components/ui-redesign/Chain/ChainIcon/ChainIcon.tsx
  src/renderer/components/ui-redesign/index.ts
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.tsx
  src/renderer/screens/Balances/SelectShardModal/SelectShardModal.tsx
  src/renderer/screens/Onboarding/Vault/ManageStep/ManageStep.tsx
  src/renderer/screens/Operations/Operations.test.tsx
  src/renderer/screens/Operations/components/Chain/Chain.tsx
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Operations/components/OperationModalTitle.tsx
  src/renderer/screens/Settings/Networks/components/NetworkItem/NetworkItem.tsx
  src/renderer/screens/Staking/Overview/components/NetworkInfo/NetworkInfo.tsx
  src/renderer/shared/utils/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx
