Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

fix: nominate targets
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: bond amount (#453)
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: unbond chill on minimum amount (#454)
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: nominate targets (#455)
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Hide duplicated derivations
  src/renderer/screens/Staking/Overview/Overview.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Hide duplicated derivations (#456)
  src/renderer/screens/Staking/Overview/Overview.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: new staking actions (#414)
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/domain/transaction.ts
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Staking/Operations/Redeem/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/Redeem/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Redeem/Submit/Submit.tsx
  src/renderer/screens/Staking/Operations/Restake/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/Restake/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/Restake/Submit/Submit.tsx
  src/renderer/screens/Staking/Operations/StakeMore/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/StakeMore/Submit/Submit.tsx
  src/renderer/screens/Staking/Operations/Unstake/Submit/Submit.tsx
  src/renderer/screens/Staking/index.ts
  src/renderer/services/balance/common/utils.ts
  src/renderer/services/transaction/transactionService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: validation on change accounts (#445)
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: empty includes (#437)
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.tsx
  src/renderer/screens/Settings/Networks/Networks/Networks.tsx
  src/renderer/shared/utils/strings.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: recreate qr speed
  src/renderer/components/common/QrCode/QrGenerator/common/useGenerator.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Feat: Validators page
  src/renderer/components/common/QrCode/QrGenerator/common/utils.ts
  src/renderer/components/layout/PrimaryLayout/PrimaryLayout.tsx
  src/renderer/components/ui/Shimmering/Shimmering.css
  src/renderer/components/ui/Shimmering/Shimmering.tsx
  src/renderer/components/ui/Table/TableParts.tsx
  src/renderer/components/ui/Table/common/constants.ts
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Settings/Credentials/Credentials.tsx
  src/renderer/screens/Settings/Networks/Networks/Networks.tsx
  src/renderer/screens/Settings/Overview/Overview.tsx
  src/renderer/screens/Signing/SigningDev.tsx
  src/renderer/screens/Staking/Bond/Bond.test.tsx
  src/renderer/screens/Staking/Bond/Bond.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.test.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/StakingTable/StakingTable.tsx
  src/renderer/screens/Staking/Unbond/Unbond.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/utils/strings.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Update chains.json structure
  .eslintrc.js
  scripts/buildChainsJson.js
  src/renderer/assets/images/explorers/polkaholic.webp
  src/renderer/components/common/Explorers/common/constants.ts
  src/renderer/components/ui/Icon/Icon.tsx
  src/renderer/components/ui/Icon/data/explorer.tsx
  src/renderer/context/GraphqlContext/GraphqlContext.test.tsx
  src/renderer/context/GraphqlContext/GraphqlContext.tsx
  src/renderer/domain/asset.ts
  src/renderer/domain/chain.ts
  src/renderer/services/network/common/chains/chains.json
  src/renderer/services/network/common/chains/omni-chains.json
  src/renderer/services/network/common/chains/omni-chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: recreate qr speed (#444)
  src/renderer/components/common/QrCode/QrGenerator/common/useGenerator.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Add Apache 2.0 License
  LICENSE.md
  NOTICE.md
Due: none

Feat: Slashed validators
  src/renderer/domain/identity.ts
  src/renderer/domain/shared-kernel.ts
  src/renderer/domain/stake.ts
  src/renderer/domain/validator.ts
  src/renderer/screens/Staking/Bond/Bond.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/stakingDataService.ts
  src/renderer/services/staking/validatorsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: not select wallet on copy address (#186)
  src/renderer/components/common/Expandable/Expandable.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/hooks/useClickOutside.ts
  src/renderer/screens/Transfer/Transfer.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Set validators (#443)
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Staking/Operations/Bond/Bond.test.tsx
  src/renderer/screens/Staking/Operations/SetValidators/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/SetValidators/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.test.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.tsx
  src/renderer/screens/Staking/Operations/SetValidators/Submit/Submit.tsx
  src/renderer/screens/Staking/index.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: create multisig account (#439)
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/ui/Identicon/Identicon.tsx
  src/renderer/domain/account.ts
  src/renderer/domain/shared-kernel.ts
  src/renderer/screens/Staking/Operations/Redeem/Confirmation/Confirmation.tsx
  src/renderer/services/storage/common/types.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
  tailwind.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: bond amount
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: rename reward destination (#438)
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix: staking amount validation (#200)
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.tsx
  src/renderer/screens/Staking/Bond/InitBond/InitBond.tsx
  src/renderer/screens/Staking/Overview/components/StakingTable/StakingTable.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Set validators
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Staking/Operations/Bond/Bond.test.tsx
  src/renderer/screens/Staking/Operations/SetValidators/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/SetValidators/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.test.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.tsx
  src/renderer/screens/Staking/Operations/SetValidators/Submit/Submit.tsx
  src/renderer/screens/Staking/index.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: hide wallet panel
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: warning message (#203)
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/screens/Staking/Bond/InitBond/InitBond.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Update chains.json structure (#180)
  .eslintrc.js
  scripts/buildChainsJson.js
  src/renderer/assets/images/explorers/polkaholic.webp
  src/renderer/components/common/Explorers/common/constants.ts
  src/renderer/components/ui/Icon/Icon.tsx
  src/renderer/components/ui/Icon/data/explorer.tsx
  src/renderer/context/GraphqlContext/GraphqlContext.test.tsx
  src/renderer/context/GraphqlContext/GraphqlContext.tsx
  src/renderer/domain/asset.ts
  src/renderer/domain/chain.ts
  src/renderer/services/network/common/chains/chains.json
  src/renderer/services/network/common/chains/omni-chains.json
  src/renderer/services/network/common/chains/omni-chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Show validators (#181)
  src/renderer/assets/images/aesthetics/clock.svg
  src/renderer/components/common/Expandable/Expandable.test.tsx
  src/renderer/components/common/Expandable/Expandable.tsx
  src/renderer/components/ui/Balance/Balance.tsx
  src/renderer/components/ui/Icon/data/aesthetics.tsx
  src/renderer/domain/validator.ts
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/AboutStaking/AboutStaking.test.tsx
  src/renderer/screens/Staking/Overview/components/AboutStaking/AboutStaking.tsx
  src/renderer/screens/Staking/Overview/components/Filter/Filter.test.tsx
  src/renderer/screens/Staking/Overview/components/InfoBanners/InfoBanners.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsModal/NominatorsModal.test.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsModal/NominatorsModal.tsx
  src/renderer/services/staking/apyCalculator.ts
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/validatorsService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Add Apache 2.0 License (#413)
  LICENSE.md
  NOTICE.md
Due: none

Feat: Reward destination
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/domain/transaction.ts
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Staking/Operations/Bond/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/Destination/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/Destination/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.test.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/Submit/Submit.tsx
  src/renderer/screens/Staking/Operations/Restake/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/components/AccountsModal/AccountsModal.test.tsx
  src/renderer/screens/Staking/Operations/components/AccountsModal/AccountsModal.tsx
  src/renderer/screens/Staking/Operations/components/TransactionInfo/TransactionInfo.test.tsx
  src/renderer/screens/Staking/Operations/components/TransactionInfo/TransactionInfo.tsx
  src/renderer/screens/Staking/Operations/components/Validators/Validators.test.tsx
  src/renderer/screens/Staking/Operations/components/ValidatorsModal/ValidatorsModal.test.tsx
  src/renderer/screens/Staking/index.ts
  src/renderer/services/balance/common/utils.ts
  src/renderer/services/transaction/transactionService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: expand explorers
  src/renderer/components/common/Explorers/Explorers.tsx
  src/renderer/hooks/useClickOutside.ts
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: unbonding badge (#199)
  src/renderer/components/ui/Duration/Duration.tsx
  src/renderer/domain/stake.ts
  src/renderer/screens/Staking/Bond/InitBond/InitBond.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/StakingTable/StakingTable.tsx
  src/renderer/screens/Staking/Overview/components/TimeToEra/TimeToEra.tsx
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/eraService.ts
  src/renderer/shared/utils/time.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
  tailwind.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: use auto balance for connection ootb by default
  src/renderer/services/network/networkService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged
