Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

chore: sweep dead operation i18n keys and inset draft highlight ring
  src/renderer/features/drafts/components/DraftRow.tsx
  src/renderer/features/multisig-operations/components/OperationSignatories.test.tsx
  src/renderer/shared/i18n/locales/en.json
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: drop duplicate empty state hint
  src/renderer/features/multisig-operations/components/EmptyOperations.tsx
  src/renderer/shared/i18n/locales/en.json
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

docs: update multisig-operations feature spec
  src/renderer/aggregates/multisig-operation-description/README.md
  src/renderer/features/README.md
  src/renderer/features/drafts/README.md
  src/renderer/features/multisig-operations/README.md
Due: none

docs: correct spec inaccuracies
  src/renderer/features/drafts/README.md
  src/renderer/features/multisig-operations/README.md
Due: none

docs: add claude design sources for multisig operations
  docs/design/README.md
  docs/design/ds-extensions/_ds_extensions.json
  docs/design/ds-extensions/assets/chains/asset-hub.svg
  docs/design/ds-extensions/assets/chains/kusama.svg
  docs/design/ds-extensions/assets/chains/polkadot.svg
  docs/design/ds-extensions/assets/tokens/dot.svg
  docs/design/ds-extensions/assets/tokens/ksm.svg
  docs/design/ds-extensions/assets/tokens/usdt.svg
  docs/design/ds-extensions/lib/identicon.js
  docs/design/multisig-operations/Element Chat.dc.html
  docs/design/multisig-operations/Multisig Operations.dc.html
  docs/design/multisig-operations/_design_notes.md
Due: pnpm lint:generic

fix: normalize merged scope to pending tab and drafts min width
  src/renderer/features/multisig-operations/README.md
  src/renderer/features/multisig-operations/components/Operations.tsx
  src/renderer/features/multisig-operations/model/context.test.ts
  src/renderer/features/multisig-operations/model/context.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

Merge pull request #5939 from novasamatech/feat/notify-signers-manual-push
  src/renderer/domains/backend/index.ts
  src/renderer/domains/backend/operations/nudgeErrorMessage.test.ts
  src/renderer/domains/backend/operations/nudgeErrorMessage.ts
  src/renderer/domains/backend/operations/service.test.ts
  src/renderer/domains/backend/operations/service.ts
  src/renderer/features/README.md
  src/renderer/features/multisig-operations/README.md
  src/renderer/features/multisig-operations/components/NotifySignersButton.test.tsx
  src/renderer/features/multisig-operations/components/NotifySignersButton.tsx
  src/renderer/features/multisig-operations/components/OperationSignatories.test.tsx
  src/renderer/features/multisig-operations/components/OperationSignatories.tsx
  src/renderer/shared/i18n/locales/en.json
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

chore: release 2.10.4
  package.json
Due: none

feat: return westend via asset hub staking support
  src/renderer/domains/staking/constants.ts
  src/renderer/domains/staking/validators/service.ts
  src/renderer/shared/lib/utils/constants.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: switch accounts indexer to prod-2
  src/renderer/domains/network/account-sync/constants.ts
  src/renderer/domains/network/multisig-operation/constants.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: revert accounts indexer to prod domain
  src/renderer/domains/network/account-sync/constants.ts
  src/renderer/domains/network/multisig-operation/constants.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: revert chains config url to main
  src/renderer/shared/lib/utils/constants.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

feat: integrate drafts and hidden into operations status filter
  src/renderer/features/drafts/components/DraftsSection.tsx
  src/renderer/features/drafts/index.ts
  src/renderer/features/drafts/lib/useVisibleDrafts.ts
  src/renderer/features/multisig-operations/components/Operations.tsx
  src/renderer/features/multisig-operations/components/OperationsFilter.tsx
  src/renderer/features/multisig-operations/lib/operations-filter.test.ts
  src/renderer/features/multisig-operations/lib/operations-filter.ts
  src/renderer/features/multisig-operations/lib/operations-sections.test.ts
  src/renderer/features/multisig-operations/lib/operations-sections.ts
  src/renderer/features/multisig-operations/model/context.test.ts
  src/renderer/features/multisig-operations/model/context.ts
  src/renderer/pages/Operations/Operations.tsx
  src/renderer/shared/i18n/locales/en.json
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

feat: make draft rows expandable with details panel
  src/renderer/features/drafts/components/DraftFullInfo.tsx
  src/renderer/features/drafts/components/DraftRow.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

docs: update multisig-operations and drafts specs
  src/renderer/features/drafts/README.md
  src/renderer/features/multisig-operations/README.md
Due: none

feat: move draft edit and delete into expanded panel, fix unhide in merged scope
  src/renderer/features/drafts/README.md
  src/renderer/features/drafts/components/DraftFullInfo.tsx
  src/renderer/features/drafts/components/DraftRow.tsx
  src/renderer/features/multisig-operations/components/Operation.tsx
  src/renderer/features/multisig-operations/components/OperationAdvancedDetails.tsx
  src/renderer/features/multisig-operations/components/OperationFullInfo.tsx
  src/renderer/features/multisig-operations/components/Operations.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: strip operation title header from log tab
  src/renderer/features/flexible-operation-details/components/FlexibleOperationTitle.tsx
  src/renderer/features/flexible-operation-details/index.tsx
  src/renderer/features/governance-operation-details/index.tsx
  src/renderer/features/multi-transfer-operation-details/index.tsx
  src/renderer/features/multisig-operations/README.md
  src/renderer/features/multisig-operations/components/OperationLog.tsx
  src/renderer/features/multisig-operations/components/OperationSignatories.tsx
  src/renderer/features/multisig-operations/index.ts
  src/renderer/features/proxy-operation-details/index.tsx
  src/renderer/features/staking-operation-details/index.tsx
  src/renderer/features/transfer-operation-details/index.tsx
  src/renderer/features/vested-transfer-operation-details/index.tsx
  src/renderer/sdk/multisig-operations/index.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: align address icon sizes in signatories and draft details
  src/renderer/features/drafts/components/DraftFullInfo.tsx
  src/renderer/features/multisig-operations/components/OperationSignatories.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: grow log card naturally and portal explorer popover
  src/renderer/features/multisig-operations/components/OperationLog.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: left-align row text against button default centering
  src/renderer/features/drafts/components/DraftRow.tsx
  src/renderer/features/multisig-operations/components/Operation.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: gate draft deletion by write permission
  src/renderer/domains/backend/auth/constants.ts
  src/renderer/features/drafts/README.md
  src/renderer/features/drafts/components/DraftsSection.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: match multisig address format between row and description hint
  src/renderer/features/multisig-operations/components/DescriptionNotInBookMessage.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: multisig operation handling with execution results
  .claude/commands/pr.md
  src/renderer/domains/network/multisig-operation/resource.ts
  src/renderer/domains/network/multisig-operation/store.test.ts
  src/renderer/domains/network/multisig-operation/store.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: tolerate null lastProcessedHeight in account sync indexer metadata
  src/renderer/domains/network/account-sync/resource.test.ts
  src/renderer/domains/network/account-sync/resource.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: tolerate null lastProcessedHeight in account sync indexer metadata (#5943)
  src/renderer/domains/network/account-sync/resource.test.ts
  src/renderer/domains/network/account-sync/resource.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

chore: release 2.10.5
  package.json
Due: none

fix: submit draft confirm page multisig deposit
  src/renderer/features/drafts/components/SubmitDraftModal.tsx
  src/renderer/features/drafts/model/submit-draft-model.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

feat: add drafts feature documentation and link in main README
  src/renderer/features/README.md
  src/renderer/features/drafts/README.md
Due: none

docs: document drafts auth gating, reconnect sync, and lifecycle graph
  src/renderer/features/drafts/README.md
Due: none

docs: clarify only description is editable, call data is not
  src/renderer/features/drafts/README.md
Due: none

fix: multisig operation handling with execution results (#5942)
  .claude/commands/pr.md
  src/renderer/domains/network/multisig-operation/resource.ts
  src/renderer/domains/network/multisig-operation/store.test.ts
  src/renderer/domains/network/multisig-operation/store.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: submit draft confirm page multisig deposit (#5945)
  src/renderer/features/README.md
  src/renderer/features/drafts/README.md
  src/renderer/features/drafts/components/SubmitDraftModal.tsx
  src/renderer/features/drafts/model/submit-draft-model.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: enhance multisig operation handling by incorporating route checks and account utilities
  src/renderer/features/proxied-add-pure/model/add-pure-proxied-model.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: resolve address book names for Polkadot Vault derived accounts
  src/renderer/domains/network/account/resource.ts
  src/renderer/domains/network/account/service.test.ts
  src/renderer/domains/network/account/service.ts
  src/renderer/features/polkadot-vault-wallet-pairing/components/ManageVault/model/__tests__/manage-vault-model.test.ts
  src/renderer/features/polkadot-vault-wallet-pairing/components/ManageVault/model/manage-vault-model.ts
  src/renderer/features/polkadot-vault-wallet/service.ts
  src/renderer/shared/api/storage/migration/__tests__/migration-21.test.ts
  src/renderer/shared/api/storage/migration/index.ts
  src/renderer/shared/api/storage/migration/migration-21.ts
  src/renderer/shared/api/storage/service/dexie.ts
  src/renderer/shared/ui-entities/AccountSelect/AccountSelect.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

docs: add draft specs for polkadot-vault-wallet(-pairing)
  src/renderer/features/README.md
  src/renderer/features/polkadot-vault-wallet-pairing/README.md
  src/renderer/features/polkadot-vault-wallet/README.md
Due: none

feat: add documentation for proxied-add-pure feature and update README links
  src/renderer/features/README.md
  src/renderer/features/proxied-add-pure/README.md
Due: none

fix: ‘no account to sign operation’ error (#5946)
  src/renderer/features/README.md
  src/renderer/features/proxied-add-pure/README.md
  src/renderer/features/proxied-add-pure/model/add-pure-proxied-model.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

chore: release 2.10.5 (#5944)
  package.json
Due: none

fix: address review findings on Vault account name resolution
  src/renderer/domains/network/account/hooks.ts
  src/renderer/domains/network/account/resource.test.ts
  src/renderer/domains/network/account/resource.ts
  src/renderer/domains/network/account/service.test.ts
  src/renderer/domains/network/account/service.ts
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/shared/api/storage/migration/__tests__/migration-21.test.ts
  src/renderer/shared/api/storage/migration/migration-21.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: resolve address book names for Polkadot Vault derived accounts (#5947)
  src/renderer/domains/network/account/hooks.ts
  src/renderer/domains/network/account/resource.test.ts
  src/renderer/domains/network/account/resource.ts
  src/renderer/domains/network/account/service.test.ts
  src/renderer/domains/network/account/service.ts
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/README.md
  src/renderer/features/polkadot-vault-wallet-pairing/README.md
  src/renderer/features/polkadot-vault-wallet-pairing/components/ManageVault/model/__tests__/manage-vault-model.test.ts
  src/renderer/features/polkadot-vault-wallet-pairing/components/ManageVault/model/manage-vault-model.ts
  src/renderer/features/polkadot-vault-wallet/README.md
  src/renderer/features/polkadot-vault-wallet/service.ts
  src/renderer/shared/api/storage/migration/__tests__/migration-21.test.ts
  src/renderer/shared/api/storage/migration/index.ts
  src/renderer/shared/api/storage/migration/migration-21.ts
  src/renderer/shared/api/storage/service/dexie.ts
  src/renderer/shared/ui-entities/AccountSelect/AccountSelect.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

Path conditions:
  pnpm types:files globals.d.ts src/main/shared/bridge.ts: any of: *.{ts,tsx}
  pnpm lint:generic: any of: *.{js,ts,tsx}
