Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: staking amount validation
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.tsx
  src/renderer/screens/Staking/Bond/InitBond/InitBond.tsx
  src/renderer/screens/Staking/Overview/components/StakingTable/StakingTable.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: fee validation
  src/renderer/screens/Staking/Bond/InitBond/InitBond.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: fee validation (#201)
  src/renderer/screens/Staking/Bond/InitBond/InitBond.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: accounts and validators on bond confirmation, data flow
  src/renderer/components/common/ValidatorsTable/ValidatorsTable.tsx
  src/renderer/components/ui/Block/Block.stories.tsx
  src/renderer/components/ui/Block/Block.test.tsx
  src/renderer/components/ui/Block/Block.tsx
  src/renderer/components/ui/HintList/HintItem.tsx
  src/renderer/components/ui/HintList/HintList.stories.tsx
  src/renderer/components/ui/HintList/HintList.test.tsx
  src/renderer/components/ui/HintList/HintList.tsx
  src/renderer/components/ui/RadioGroup/RadioGroup.tsx
  src/renderer/components/ui/Table/TableParts.tsx
  src/renderer/components/ui/index.ts
  src/renderer/screens/Onboarding/Welcome/Welcome.tsx
  src/renderer/screens/Staking/Bond/Bond.tsx
  src/renderer/screens/Staking/Bond/ConfirmBond/ConfirmBond.test.tsx
  src/renderer/screens/Staking/Bond/ConfirmBond/ConfirmBond.tsx
  src/renderer/screens/Staking/Bond/ConfirmBond/components/AccountsModal/AccountsModal.tsx
  src/renderer/screens/Staking/Bond/ConfirmBond/components/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/screens/Staking/Bond/InitBond/InitBond.test.tsx
  src/renderer/screens/Staking/Bond/InitBond/InitBond.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Transfer/components/TransferDetails.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: update lib versions
  package.json
  pnpm-lock.yaml
  src/renderer/services/balance/balanceService.ts
  src/renderer/services/dataVerification/dataVerification.ts
  src/renderer/services/network/networkService.ts
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: warning message
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: update lib versions (#202)
  package.json
  pnpm-lock.yaml
  src/renderer/services/balance/balanceService.ts
  src/renderer/services/dataVerification/dataVerification.ts
  src/renderer/services/network/networkService.ts
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix comments
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/screens/Staking/Bond/InitBond/InitBond.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: warning message
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/screens/Staking/Bond/InitBond/InitBond.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: warning message (#203)
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/screens/Staking/Bond/InitBond/InitBond.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: scan and signing pages
  pnpm-lock.yaml
  src/renderer/components/common/AddressOnPlate/AddressOnPlate.tsx
  src/renderer/components/common/Fee/Fee.tsx
  src/renderer/screens/Signing/SigningDev.tsx
  src/renderer/screens/Staking/Bond/Bond.tsx
  src/renderer/screens/Staking/Bond/ConfirmBond/ConfirmBond.tsx
  src/renderer/screens/Staking/Bond/ConfirmBond/components/AccountsModal/AccountsModal.tsx
  src/renderer/screens/Staking/Bond/ConfirmBond/components/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/screens/Staking/Bond/InitBond/InitBond.tsx
  src/renderer/screens/Staking/Bond/Scanning/Scanning.tsx
  src/renderer/screens/Staking/Bond/Signing/Signing.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/services/balance/common/utils.ts
  src/renderer/services/network/networkService.ts
  src/renderer/services/transaction/transactionService.ts
  src/renderer/shared/utils/address.ts
  src/renderer/shared/utils/constants.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: use address on plate
  src/renderer/components/common/AddressOnPlate/AddressOnPlate.tsx
  src/renderer/components/common/index.ts
  src/renderer/screens/Staking/Bond/ConfirmBond/ConfirmBond.tsx
  src/renderer/screens/Staking/Bond/ConfirmBond/components/AccountsModal/AccountsModal.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: stake amount
  src/renderer/screens/Staking/Bond/Bond.tsx
  src/renderer/screens/Staking/Bond/ConfirmBond/ConfirmBond.tsx
  src/renderer/screens/Staking/Bond/InitBond/InitBond.tsx
  src/renderer/screens/Staking/Bond/Scanning/Scanning.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: confirmation flow
  src/renderer/components/common/AccountsList/AccountsList.test.tsx
  src/renderer/components/common/AddressOnPlate/AddressOnPlate.stories.tsx
  src/renderer/components/common/AddressOnPlate/AddressOnPlate.test.tsx
  src/renderer/components/common/AddressOnPlate/AddressOnPlate.tsx
  src/renderer/components/common/Explorers/Explorers.test.tsx
  src/renderer/components/common/StakingActions/StakingActions.test.tsx
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/components/common/ValidatorsTable/ValidatorsTable.test.tsx
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.test.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/ui/Address/Address.tsx
  src/renderer/components/ui/Identicon/Identicon.stories.tsx
  src/renderer/components/ui/Identicon/Identicon.test.tsx
  src/renderer/components/ui/Identicon/Identicon.tsx
  src/renderer/context/NetworkContext/NetworkContext.test.tsx
  src/renderer/index.css
  src/renderer/screens/Balances/AssetBalance/AssetBalance.test.tsx
  src/renderer/screens/Balances/Balances/Balances.test.tsx
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.test.tsx
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.test.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.test.tsx
  src/renderer/screens/Onboarding/WatchOnly/WatchOnly.test.tsx
  src/renderer/screens/Staking/Bond/Bond.test.tsx
  src/renderer/screens/Staking/Bond/ConfirmBond/ConfirmBond.test.tsx
  src/renderer/screens/Staking/Bond/ConfirmBond/ConfirmBond.tsx
  src/renderer/screens/Staking/Bond/ConfirmBond/components/AccountsModal/AccountsModal.test.tsx
  src/renderer/screens/Staking/Bond/ConfirmBond/components/AccountsModal/AccountsModal.tsx
  src/renderer/screens/Staking/Bond/ConfirmBond/components/ValidatorsModal/ValidatorsModal.test.tsx
  src/renderer/screens/Staking/Bond/ConfirmBond/components/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/screens/Staking/Bond/InitBond/InitBond.test.tsx
  src/renderer/screens/Staking/Bond/InitBond/InitBond.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/components/TotalAmount/TotalAmount.test.tsx
  src/renderer/screens/Transfer/Transfer.test.tsx
  src/renderer/services/balance/__tests__/utils.test.ts
  src/renderer/services/balance/common/constants.ts
  src/renderer/shared/utils/constants.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: i18n, onresult callback
  src/renderer/screens/Staking/Bond/Bond.test.tsx
  src/renderer/screens/Staking/Bond/Bond.tsx
  src/renderer/screens/Staking/Bond/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Bond/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Bond/Confirmation/components/AccountsModal/AccountsModal.test.tsx
  src/renderer/screens/Staking/Bond/Confirmation/components/AccountsModal/AccountsModal.tsx
  src/renderer/screens/Staking/Bond/Confirmation/components/ValidatorsModal/ValidatorsModal.test.tsx
  src/renderer/screens/Staking/Bond/Confirmation/components/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/screens/Staking/Bond/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Bond/Signing/Signing.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: add TransactionInfo
  src/renderer/domain/stake.ts
  src/renderer/screens/Staking/Bond/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Bond/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Bond/Scanning/Scanning.tsx
  src/renderer/screens/Staking/Bond/components/AccountsModal/AccountsModal.test.tsx
  src/renderer/screens/Staking/Bond/components/AccountsModal/AccountsModal.tsx
  src/renderer/screens/Staking/Bond/components/TransactionInfo/TransactionInfo.test.tsx
  src/renderer/screens/Staking/Bond/components/TransactionInfo/TransactionInfo.tsx
  src/renderer/screens/Staking/Bond/components/ValidatorsModal/ValidatorsModal.test.tsx
  src/renderer/screens/Staking/Bond/components/ValidatorsModal/ValidatorsModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: staking error, ProgressBadge
  src/renderer/components/ui/ProgressBadge/ProgressBadge.stories.tsx
  src/renderer/components/ui/ProgressBadge/ProgressBadge.test.tsx
  src/renderer/components/ui/ProgressBadge/ProgressBadge.tsx
  src/renderer/components/ui/index.ts
  src/renderer/screens/Staking/Bond/Bond.test.tsx
  src/renderer/screens/Staking/Bond/Bond.tsx
  src/renderer/screens/Staking/Bond/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Bond/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Bond/Scanning/Scanning.tsx
  src/renderer/screens/Staking/Bond/Signing/Signing.tsx
  src/renderer/screens/Staking/Bond/Submit/Submit.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: removed comment
  src/renderer/services/network/networkService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: handle errors
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/screens/Signing/SigningDev.tsx
  src/renderer/screens/Staking/Bond/Bond.tsx
  src/renderer/screens/Staking/Bond/Scanning/Scanning.tsx
  src/renderer/screens/Staking/Bond/Submit/Submit.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: unstake
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/components/ui/Dropdowns/Combobox/Combobox.tsx
  src/renderer/domain/transaction.ts
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Staking/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Scanning/Scanning.tsx
  src/renderer/screens/Staking/Signing/Signing.tsx
  src/renderer/screens/Staking/Unbond/Unbond.test.tsx
  src/renderer/screens/Staking/Unbond/Unbond.tsx
  src/renderer/screens/Staking/Unstake/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Unstake/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Unstake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Unstake/Unstake.tsx
  src/renderer/screens/Staking/components/AccountsModal/AccountsModal.test.tsx
  src/renderer/screens/Staking/components/AccountsModal/AccountsModal.tsx
  src/renderer/screens/Staking/components/TransactionInfo/TransactionInfo.test.tsx
  src/renderer/screens/Staking/components/TransactionInfo/TransactionInfo.tsx
  src/renderer/screens/Staking/components/ValidatorsModal/ValidatorsModal.test.tsx
  src/renderer/screens/Staking/components/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/screens/Staking/index.ts
  src/renderer/services/balance/common/utils.ts
  src/renderer/services/transaction/transactionService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: unbonding duration
  src/renderer/screens/Staking/Overview/components/UnstakingDuration/UnstakingDuration.tsx
  src/renderer/screens/Staking/Overview/components/index.ts
  src/renderer/screens/Staking/Unstake/InitOperation/InitOperation.tsx
  src/renderer/shared/utils/strings.ts
  src/renderer/shared/utils/time.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fix comments
  src/renderer/screens/Staking/Unstake/Unstake.tsx
  src/renderer/shared/utils/strings.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: unstake (#410)
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/components/ui/Dropdowns/Combobox/Combobox.tsx
  src/renderer/domain/transaction.ts
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Staking/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/UnstakingDuration/UnstakingDuration.tsx
  src/renderer/screens/Staking/Overview/components/index.ts
  src/renderer/screens/Staking/Scanning/Scanning.tsx
  src/renderer/screens/Staking/Signing/Signing.tsx
  src/renderer/screens/Staking/Unbond/Unbond.test.tsx
  src/renderer/screens/Staking/Unbond/Unbond.tsx
  src/renderer/screens/Staking/Unstake/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Unstake/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Unstake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Unstake/Unstake.tsx
  src/renderer/screens/Staking/components/AccountsModal/AccountsModal.test.tsx
  src/renderer/screens/Staking/components/AccountsModal/AccountsModal.tsx
  src/renderer/screens/Staking/components/TransactionInfo/TransactionInfo.test.tsx
  src/renderer/screens/Staking/components/TransactionInfo/TransactionInfo.tsx
  src/renderer/screens/Staking/components/ValidatorsModal/ValidatorsModal.test.tsx
  src/renderer/screens/Staking/components/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/screens/Staking/index.ts
  src/renderer/services/balance/common/utils.ts
  src/renderer/services/transaction/transactionService.ts
  src/renderer/shared/utils/strings.ts
  src/renderer/shared/utils/time.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: unstake
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/components/ui/Dropdowns/Combobox/Combobox.tsx
  src/renderer/domain/transaction.ts
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Staking/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/UnstakingDuration/UnstakingDuration.tsx
  src/renderer/screens/Staking/Overview/components/index.ts
  src/renderer/screens/Staking/Scanning/Scanning.tsx
  src/renderer/screens/Staking/Signing/Signing.tsx
  src/renderer/screens/Staking/Unbond/Unbond.test.tsx
  src/renderer/screens/Staking/Unbond/Unbond.tsx
  src/renderer/screens/Staking/Unstake/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Unstake/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Unstake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Unstake/Unstake.tsx
  src/renderer/screens/Staking/components/AccountsModal/AccountsModal.test.tsx
  src/renderer/screens/Staking/components/AccountsModal/AccountsModal.tsx
  src/renderer/screens/Staking/components/TransactionInfo/TransactionInfo.test.tsx
  src/renderer/screens/Staking/components/TransactionInfo/TransactionInfo.tsx
  src/renderer/screens/Staking/components/ValidatorsModal/ValidatorsModal.test.tsx
  src/renderer/screens/Staking/components/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/screens/Staking/index.ts
  src/renderer/services/balance/common/utils.ts
  src/renderer/services/transaction/transactionService.ts
  src/renderer/shared/utils/strings.ts
  src/renderer/shared/utils/time.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: handle error extrinsic
  src/renderer/screens/Staking/Bond/Bond.tsx
  src/renderer/screens/Staking/Bond/Signing/Signing.tsx
  src/renderer/screens/Staking/Bond/Submit/Submit.tsx
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: update dropdown types, translation, rerender for selected options
  src/renderer/components/ui/Dropdowns/Combobox/Combobox.tsx
  src/renderer/components/ui/Dropdowns/Dropdown/Dropdown.tsx
  src/renderer/components/ui/Dropdowns/Filter/Filter.tsx
  src/renderer/components/ui/Dropdowns/Select/Select.tsx
  src/renderer/components/ui/Dropdowns/common/types.ts
  src/renderer/components/ui/RadioGroup/RadioGroup.stories.tsx
  src/renderer/components/ui/RadioGroup/RadioGroup.test.tsx
  src/renderer/components/ui/RadioGroup/RadioGroup.tsx
  src/renderer/components/ui/RadioGroup/common/types.ts
  src/renderer/components/ui/Table/Table.stories.tsx
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.tsx
  src/renderer/screens/Onboarding/Parity/ParitySignerQrReader/ParitySignerQrReader.tsx
  src/renderer/screens/Settings/Overview/Overview.tsx
  src/renderer/screens/Signing/MultiframeSignatureReader/MultiframeSignatureReader.tsx
  src/renderer/screens/Signing/ParitySignerSignatureReader/ParitySignerSignatureReader.tsx
  src/renderer/screens/Staking/Operations/Bond/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Bond/Submit/Submit.tsx
  src/renderer/screens/Staking/Operations/Unstake/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/services/storage/common/types.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: test
  src/renderer/components/ui/RadioGroup/RadioGroup.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: pnpm lock file
  pnpm-lock.yaml
Due: none

fix: pnpm lock file (#412)
  pnpm-lock.yaml
Due: none

feat: set validators
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Staking/Operations/SetValidators/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/SetValidators/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.test.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.tsx
  src/renderer/screens/Staking/Operations/SetValidators/Submit/Submit.tsx
  src/renderer/screens/Staking/Operations/components/AccountsModal/AccountsModal.tsx
  src/renderer/screens/Staking/Operations/components/TransactionInfo/TransactionInfo.tsx
  src/renderer/screens/Staking/index.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Add Apache 2.0 License
  LICENSE.md
Due: none

chore: added notice file
  NOTICE.md
Due: none

feat: restake feat: stake more feat: redeem
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/domain/transaction.ts
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Staking/Operations/Redeem/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/Redeem/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Redeem/Submit/Submit.tsx
  src/renderer/screens/Staking/Operations/Restake/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/Restake/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/Restake/Submit/Submit.tsx
  src/renderer/screens/Staking/Operations/StakeMore/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/StakeMore/Submit/Submit.tsx
  src/renderer/screens/Staking/Operations/Unstake/Submit/Submit.tsx
  src/renderer/screens/Staking/index.ts
  src/renderer/services/balance/common/utils.ts
  src/renderer/services/transaction/transactionService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/shared/locale/*.json
