Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/renderer/shared/api/translation/locales/*.json": ["pnpm lint:i18n-fix"]
}

fix: localisation
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix: edit button padding
  src/renderer/features/contacts/EditContactForm/ui/EditContactNavigation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: workflow
  .github/workflows/install-pnpm/action.yaml
Due: none

fix: Update chains_dev.json
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: sorting by symbol
  src/renderer/features/assets/AssetsPortfolioView/lib/tokensService.ts
  src/renderer/features/assets/AssetsPortfolioView/lib/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: don't show multisigs
  src/renderer/shared/config/chains/chains_dev.json
  src/renderer/shared/ui/Modals/BaseModal/BaseModal.tsx
  src/renderer/widgets/CreateWallet/lib/types.ts
  src/renderer/widgets/CreateWallet/model/form-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Revert "fix: don't show multisigs"
  src/renderer/shared/ui/Modals/BaseModal/BaseModal.tsx
  src/renderer/widgets/CreateWallet/model/form-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: none step
  src/renderer/shared/config/chains/chains_dev.json
  src/renderer/widgets/CreateWallet/lib/create-multisig-utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Revert "Revert "fix: don't show multisigs""
  src/renderer/shared/ui/Modals/BaseModal/BaseModal.tsx
  src/renderer/widgets/CreateWallet/model/form-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/features/operations/OperationsValidation/model/payee-validate-model.ts
  src/renderer/pages/Basket/model/basket-page-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix tests
  src/renderer/widgets/AddProxyModal/model/form-model.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxy.tsx
  src/renderer/widgets/AddPureProxiedModal/model/form-model.ts
  src/renderer/widgets/RemoveProxyModal/model/form-model.ts
  src/renderer/widgets/RemovePureProxyModal/model/form-model.ts
  src/renderer/widgets/Staking/BondExtra/model/form-model.ts
  src/renderer/widgets/Staking/BondNominate/model/form-model.ts
  src/renderer/widgets/Staking/Nominate/model/form-model.ts
  src/renderer/widgets/Staking/Payee/model/form-model.ts
  src/renderer/widgets/Staking/Restake/model/form-model.ts
  src/renderer/widgets/Staking/Unstake/model/form-model.ts
  src/renderer/widgets/Staking/Withdraw/model/form-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: add db interaction in system tests
  .github/workflows/system_tests.yml
  docker/Dockerfile
  playwright.config.ts
  tests/system/data/db/dynamicDerivations/dynamicDerivationsWallets.ts
  tests/system/data/db/polkadotVaultWallet/polkadotVaultWallets.ts
  tests/system/onboarding/vault.onboarding.system.test.tsx
  tests/system/pages/BasePage.ts
  tests/system/pages/_elements/AssetsPageElements.ts
  tests/system/pages/_elements/AssetsSettingsModalElements.ts
  tests/system/pages/_elements/LoginPageElements.ts
  tests/system/pages/assetsPage/VaultAssetsPage.ts
  tests/system/pages/assetsPage/WatchOnlyAssetsPage.ts
  tests/system/pages/loginPage/BaseLoginPage.ts
  tests/system/pages/loginPage/WatchOnlyLoginPage.ts
  tests/system/pages/modals/AssetsSettingsModalWindow.ts
  tests/system/pages/modals/WalletModalWindow.ts
  tests/system/utils/interactWithDatabase.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: flowfinished to reset
  src/renderer/widgets/CreateWallet/model/flow-model.ts
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/MultisigWallet.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: tests
  jest.config.ts
  src/renderer/widgets/CreateWallet/lib/types.ts
  src/renderer/widgets/CreateWallet/model/__tests__/flow-model.test.ts
  src/renderer/widgets/CreateWallet/model/flow-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: model updates
  src/renderer/features/assets/AssetsPortfolioView/model/__tests__/portfolio-model.test.ts
  src/renderer/features/assets/AssetsPortfolioView/model/portfolio-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: fee loading test
  playwright.config.ts
  scripts/updateTestData.js
  tests/system/data/chains/chainsList.ts
  tests/system/pages/_elements/AssetsPageElements.ts
  tests/system/pages/assetsPage/VaultAssetsPage.ts
  tests/system/tests/assets/load.fee.test.tsx
  tests/system/tests/onboarding/vault.onboarding.system.test.tsx
  tests/system/tests/onboarding/watch.only.onboarding.system.test.tsx
  tests/system/utils/readConfig.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: refactoring
  tests/system/pages/assetsPage/VaultAssetsPage.ts
  tests/system/tests/assets/load.fee.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: format
  playwright.config.ts
  tests/system/data/chains/chainsList.ts
  tests/system/pages/_elements/AssetsPageElements.ts
  tests/system/pages/assetsPage/VaultAssetsPage.ts
  tests/system/tests/assets/load.fee.test.tsx
  tests/system/utils/readConfig.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: format
  scripts/updateTestData.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: split substrate and eth chains
  scripts/updateTestData.js
  tests/system/data/chains/chainsList.ts
  tests/system/data/db/polkadotVaultWallet/polkadotVaultSubstrateWallet.ts
  tests/system/data/db/polkadotVaultWallet/polkadotVaultWithEthereum.ts
  tests/system/pages/loginPage/BaseLoginPage.ts
  tests/system/tests/assets/load.eth.fee.test.ts
  tests/system/tests/assets/load.fee.test.ts
  tests/system/tests/onboarding/vault.onboarding.system.test.ts
  tests/system/tests/onboarding/watch.only.onboarding.system.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: linter
  scripts/updateTestData.js
  tests/system/data/chains/chainsList.ts
  tests/system/data/db/polkadotVaultWallet/polkadotVaultWithEthereum.ts
  tests/system/pages/loginPage/BaseLoginPage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: linter
  scripts/updateTestData.js
  tests/system/data/chains/chainsList.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Chore: upgrade lock file
  .github/workflows/install-pnpm/action.yaml
  pnpm-lock.yaml
Due: none

Chore: upgrade lock file (#1823)
  .github/workflows/install-pnpm/action.yaml
  pnpm-lock.yaml
Due: none

chore: fix comments
  src/renderer/features/operations/OperationsValidation/lib/add-pure-proxied-rules.ts
  src/renderer/features/operations/OperationsValidation/lib/bond-nominate-rules.ts
  src/renderer/features/operations/OperationsValidation/lib/nominate-rules.ts
  src/renderer/features/operations/OperationsValidation/lib/payee-rules.ts
  src/renderer/features/operations/OperationsValidation/lib/restake-rules.ts
  src/renderer/features/operations/OperationsValidation/lib/transfer-rules.ts
  src/renderer/features/operations/OperationsValidation/lib/unstake-rules.ts
  src/renderer/features/operations/OperationsValidation/lib/validation-utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: adding tags for tests
  .github/workflows/system_tests.yml
  package.json
  pnpm-lock.yaml
  scripts/updateTestData.js
  tests/system/data/chains/chainsList.ts
  tests/system/data/chains/testChainModel.ts
  tests/system/pages/_elements/TransferModalElements.ts
  tests/system/pages/assetsPage/VaultAssetsPage.ts
  tests/system/pages/modals/TransferModalWindow.ts
  tests/system/tests/assets/load.eth.fee.test.ts
  tests/system/tests/assets/load.fee.test.ts
  tests/system/tests/onboarding/vault.onboarding.system.test.ts
  tests/system/tests/onboarding/watch.only.onboarding.system.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: revert update playwright
  package.json
  pnpm-lock.yaml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: upgrade playwright
  package.json
  pnpm-lock.yaml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: edit button padding (#1826)
  src/renderer/features/contacts/EditContactForm/ui/EditContactNavigation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: playwright path
  .github/workflows/system_tests.yml
  tests/system/data/db/dynamicDerivations/dynamicDerivationsWallets.ts
  tests/system/data/db/polkadotVaultWallet/polkadotVaultSubstrateWallet.ts
  tests/system/data/db/polkadotVaultWallet/polkadotVaultWithEthereum.ts
  tests/system/utils/interactWithDatabase.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: remove redundant selector
  tests/system/pages/_elements/AssetsPageElements.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged
