Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/renderer/shared/api/translation/locales/*.json": ["pnpm lint:i18n-fix"]
}

feat: referendum advanced info (#1964)
  src/renderer/entities/governance/model/supportThreshold.ts
  src/renderer/features/governance/components/ReferendumDetails/AdvancedDialog.tsx
  src/renderer/features/governance/components/ReferendumDetails/DetailsCard.tsx
  src/renderer/features/governance/components/ReferendumDetails/ReferendumDetailsDialog.tsx
  src/renderer/shared/api/governance/on-chain/service/fellowshipThresholdService.ts
  src/renderer/shared/api/governance/on-chain/service/governanceService.ts
  src/renderer/shared/api/governance/on-chain/service/opengovThresholdService.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/core/types/referendum.ts
  src/renderer/shared/core/types/track.ts
  src/renderer/shared/ui/Separator/Separator.css
  src/renderer/shared/ui/Separator/Separator.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: referendum advanced info
  src/renderer/entities/governance/model/supportThreshold.ts
  src/renderer/features/governance/components/ReferendumDetails/AdvancedDialog.tsx
  src/renderer/features/governance/components/ReferendumDetails/DetailsCard.tsx
  src/renderer/features/governance/components/ReferendumDetails/ReferendumDetailsDialog.tsx
  src/renderer/shared/api/governance/on-chain/service/fellowshipThresholdService.ts
  src/renderer/shared/api/governance/on-chain/service/governanceService.ts
  src/renderer/shared/api/governance/on-chain/service/opengovThresholdService.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/core/types/referendum.ts
  src/renderer/shared/core/types/track.ts
  src/renderer/shared/ui/Separator/Separator.css
  src/renderer/shared/ui/Separator/Separator.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: fetching timeline from polkassembly and subsquare
  src/renderer/shared/api/governance/off-chain/lib/types.ts
  src/renderer/shared/api/governance/off-chain/service/polkassemblyService.ts
  src/renderer/shared/api/governance/off-chain/service/subsquareService.ts
  src/renderer/shared/api/polkassembly/index.ts
  src/renderer/shared/api/polkassembly/lib/types.ts
  src/renderer/shared/api/subsquare/index.ts
  src/renderer/shared/api/subsquare/lib/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: basket filter bug (#1963)
  src/renderer/features/basket/BasketFilter/lib/constants.ts
  src/renderer/features/basket/BasketFilter/lib/utils.ts
  src/renderer/features/basket/BasketFilter/ui/BasketFilter.tsx
  src/renderer/features/operations/OperationsConfirm/Transfer/model/confirm-model.ts
  src/renderer/pages/Basket/model/basket-page-model.ts
  src/renderer/pages/Basket/ui/Basket.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: basket filter bug
  src/renderer/features/basket/BasketFilter/lib/constants.ts
  src/renderer/features/basket/BasketFilter/lib/utils.ts
  src/renderer/features/basket/BasketFilter/ui/BasketFilter.tsx
  src/renderer/features/operations/OperationsConfirm/Transfer/model/confirm-model.ts
  src/renderer/pages/Basket/model/basket-page-model.ts
  src/renderer/pages/Basket/ui/Basket.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: show delegated tokens
  src/renderer/features/governance/aggregates/delegation.ts
  src/renderer/features/governance/aggregates/voting.ts
  src/renderer/features/governance/components/Delegations/Delegations.tsx
  src/renderer/features/governance/components/Locks/Locks.tsx
  src/renderer/pages/Governance/ui/Governance.tsx
  src/renderer/shared/api/governance/on-chain/service/governanceService.ts
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: show delegated tokens (#1962)
  src/renderer/features/governance/aggregates/delegation.ts
  src/renderer/features/governance/aggregates/voting.ts
  src/renderer/features/governance/components/Delegations/Delegations.tsx
  src/renderer/features/governance/components/Locks/Locks.tsx
  src/renderer/pages/Governance/ui/Governance.tsx
  src/renderer/shared/api/governance/on-chain/service/governanceService.ts
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: referendum timeline
  src/renderer/features/governance/aggregates/details.ts
  src/renderer/features/governance/components/ReferendumDetails/ReferendumDetailsDialog.tsx
  src/renderer/features/governance/components/ReferendumDetails/Timeline.tsx
  src/renderer/features/governance/model/timeline.ts
  src/renderer/shared/api/governance/index.ts
  src/renderer/shared/api/governance/off-chain/lib/types.ts
  src/renderer/shared/api/governance/off-chain/service/polkassemblyService.ts
  src/renderer/shared/api/governance/off-chain/service/subsquareService.ts
  src/renderer/shared/api/polkassembly/lib/types.ts
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: fixed subsquare statuses mapping
  src/renderer/shared/api/governance/off-chain/service/subsquareService.ts
  src/renderer/shared/api/subsquare/lib/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: fixed translations
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

feat: fixed lint error
  src/renderer/features/governance/components/ReferendumDetails/Timeline.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: import sorting
  src/renderer/features/governance/aggregates/details.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: types rename
  src/renderer/shared/api/governance/off-chain/lib/types.ts
  src/renderer/shared/api/governance/off-chain/service/polkassemblyService.ts
  src/renderer/shared/api/governance/off-chain/service/subsquareService.ts
  src/renderer/shared/api/polkassembly/index.ts
  src/renderer/shared/api/polkassembly/lib/types.ts
  src/renderer/shared/api/polkassembly/service/polkassemblyApiService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: remove governance for release
  src/renderer/features/navigation/ui/Navigation.tsx
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.test.tsx
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: bump version
  package.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: scrollbar for basket
  src/renderer/app/index.css
  src/renderer/pages/Basket/ui/Basket.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: renamed variable
  src/renderer/features/governance/components/ReferendumDetails/Timeline.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix design
  src/renderer/pages/Basket/ui/Operation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: scrollbar for basket (#1968)
  src/renderer/app/index.css
  src/renderer/pages/Basket/ui/Basket.tsx
  src/renderer/pages/Basket/ui/Operation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: scrollbar for basket
  src/renderer/app/index.css
  src/renderer/pages/Basket/ui/Basket.tsx
  src/renderer/pages/Basket/ui/Operation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: add unlock sum
  src/renderer/features/governance/components/Unlock/UnlockInfo.tsx
  src/renderer/features/governance/model/unlock.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: added `formatDate` method into i18n context
  src/renderer/app/providers/context/I18nContext/I18nContext.tsx
  src/renderer/features/governance/components/ReferendumDetails/Timeline.tsx
  src/renderer/features/notifications/NotificationsList/ui/NotificationRow.tsx
  src/renderer/pages/Operations/Operations.tsx
  src/renderer/pages/Operations/components/LogModal.tsx
  src/renderer/pages/Operations/components/Operation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: lint
  src/renderer/features/governance/model/unlock.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: update
  src/renderer/features/governance/components/Unlock/UnlockInfo.tsx
  src/renderer/features/governance/model/unlock.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: referendum timeline (#1965)
  src/renderer/app/providers/context/I18nContext/I18nContext.tsx
  src/renderer/features/governance/aggregates/details.ts
  src/renderer/features/governance/components/ReferendumDetails/ReferendumDetailsDialog.tsx
  src/renderer/features/governance/components/ReferendumDetails/Timeline.tsx
  src/renderer/features/governance/model/timeline.ts
  src/renderer/features/notifications/NotificationsList/ui/NotificationRow.tsx
  src/renderer/pages/Operations/Operations.tsx
  src/renderer/pages/Operations/components/LogModal.tsx
  src/renderer/pages/Operations/components/Operation.tsx
  src/renderer/shared/api/governance/index.ts
  src/renderer/shared/api/governance/off-chain/lib/types.ts
  src/renderer/shared/api/governance/off-chain/service/polkassemblyService.ts
  src/renderer/shared/api/governance/off-chain/service/subsquareService.ts
  src/renderer/shared/api/polkassembly/index.ts
  src/renderer/shared/api/polkassembly/lib/types.ts
  src/renderer/shared/api/polkassembly/service/polkassemblyApiService.ts
  src/renderer/shared/api/subsquare/index.ts
  src/renderer/shared/api/subsquare/lib/types.ts
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: referendum timeline
  src/renderer/app/providers/context/I18nContext/I18nContext.tsx
  src/renderer/features/governance/aggregates/details.ts
  src/renderer/features/governance/components/ReferendumDetails/ReferendumDetailsDialog.tsx
  src/renderer/features/governance/components/ReferendumDetails/Timeline.tsx
  src/renderer/features/governance/model/timeline.ts
  src/renderer/features/notifications/NotificationsList/ui/NotificationRow.tsx
  src/renderer/pages/Operations/Operations.tsx
  src/renderer/pages/Operations/components/LogModal.tsx
  src/renderer/pages/Operations/components/Operation.tsx
  src/renderer/shared/api/governance/index.ts
  src/renderer/shared/api/governance/off-chain/lib/types.ts
  src/renderer/shared/api/governance/off-chain/service/polkassemblyService.ts
  src/renderer/shared/api/governance/off-chain/service/subsquareService.ts
  src/renderer/shared/api/polkassembly/index.ts
  src/renderer/shared/api/polkassembly/lib/types.ts
  src/renderer/shared/api/polkassembly/service/polkassemblyApiService.ts
  src/renderer/shared/api/subsquare/index.ts
  src/renderer/shared/api/subsquare/lib/types.ts
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: add unlockable sum (#1969)
  src/renderer/features/governance/components/Unlock/UnlockInfo.tsx
  src/renderer/features/governance/model/unlock.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: add unlockable sum
  src/renderer/features/governance/components/Unlock/UnlockInfo.tsx
  src/renderer/features/governance/model/unlock.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: return governance
  src/renderer/features/navigation/ui/Navigation.tsx
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.test.tsx
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: restored prettier
  .eslintrc.js
  jest.config.ts
  tests/integrations/jest.config.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fixed tests typescript errors
  tests/system/pages/BaseModalWindow.ts
  tests/system/pages/BasePage.ts
  tests/system/pages/assetsPage/BaseAssetsPage.ts
  tests/system/pages/assetsPage/VaultAssetsPage.ts
  tests/system/pages/assetsPage/WatchOnlyAssetsPage.ts
  tests/system/pages/loginPage/BaseLoginPage.ts
  tests/system/pages/loginPage/PolkadotVaultLoginPage.ts
  tests/system/pages/loginPage/WatchOnlyLoginPage.ts
  tests/system/pages/modals/AssetsSettingsModalWindow.ts
  tests/system/pages/modals/TransferModalWindow.ts
  tests/system/pages/modals/WalletModalWindow.ts
  tests/system/pages/settingsPage/BaseSettingsPage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged
