Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: show assets for available chains
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: show assets for available chains (#1393)
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Light Client connect (#1391)
  src/renderer/entities/network/lib/network-utils.ts
  src/renderer/entities/network/model/__tests__/network-model.test.ts
  src/renderer/entities/network/model/network-model.ts
  src/renderer/features/proxies/model/__tests__/proxies-model.test.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Settings/Networks/components/CustomRpcModal/CustomRpcModal.test.tsx
  src/renderer/pages/Settings/Networks/components/CustomRpcModal/CustomRpcModal.tsx
  src/renderer/pages/Settings/Networks/components/NetworkItem/NetworkItem.test.tsx
  src/renderer/pages/Settings/Networks/components/NetworkItem/NetworkItem.tsx
  src/renderer/pages/Settings/Networks/components/NetworkList/NetworkList.test.tsx
  src/renderer/pages/Settings/Networks/components/NetworkSelector/NetworkSelector.test.tsx
  src/renderer/pages/Settings/Networks/model/__tests__/manage-network-model.test.ts
  src/renderer/pages/Settings/Networks/model/manage-network-model.ts
  src/renderer/shared/api/network/lib/types.ts
  src/renderer/shared/api/network/lib/utils.ts
  src/renderer/shared/api/network/service/__tests__/networkService.test.ts
  src/renderer/shared/api/network/service/networkService.ts
  src/renderer/shared/core/types/connection.ts
  src/renderer/shared/lib/utils/chains.ts
  src/renderer/shared/lib/utils/constants.ts
  src/renderer/widgets/WalletDetails/model/__tests__/vault-details-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Light Client connect
  src/renderer/entities/network/lib/network-utils.ts
  src/renderer/entities/network/model/__tests__/network-model.test.ts
  src/renderer/entities/network/model/network-model.ts
  src/renderer/features/proxies/model/__tests__/proxies-model.test.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Settings/Networks/components/CustomRpcModal/CustomRpcModal.test.tsx
  src/renderer/pages/Settings/Networks/components/CustomRpcModal/CustomRpcModal.tsx
  src/renderer/pages/Settings/Networks/components/NetworkItem/NetworkItem.test.tsx
  src/renderer/pages/Settings/Networks/components/NetworkItem/NetworkItem.tsx
  src/renderer/pages/Settings/Networks/components/NetworkList/NetworkList.test.tsx
  src/renderer/pages/Settings/Networks/components/NetworkSelector/NetworkSelector.test.tsx
  src/renderer/pages/Settings/Networks/model/__tests__/manage-network-model.test.ts
  src/renderer/pages/Settings/Networks/model/manage-network-model.ts
  src/renderer/shared/api/network/lib/types.ts
  src/renderer/shared/api/network/lib/utils.ts
  src/renderer/shared/api/network/service/__tests__/networkService.test.ts
  src/renderer/shared/api/network/service/networkService.ts
  src/renderer/shared/core/types/connection.ts
  src/renderer/shared/lib/utils/chains.ts
  src/renderer/shared/lib/utils/constants.ts
  src/renderer/widgets/WalletDetails/model/__tests__/vault-details-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: updated getProxyTypeName func and added tests
  src/renderer/entities/proxy/lib/utils.ts
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.tsx
  src/renderer/shared/lib/utils/__tests__/strings.test.ts
  src/renderer/widgets/RemoveProxy/ui/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: update wallet icons
  src/renderer/entities/operation/ui/SignButton.tsx
  src/renderer/entities/wallet/ui/WalletIcon/WalletIcon.tsx
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/assets/images/walletTypes/multisig.svg
  src/renderer/shared/assets/images/walletTypes/multisigBackground.svg
  src/renderer/shared/assets/images/walletTypes/novaWallet.svg
  src/renderer/shared/assets/images/walletTypes/novaWalletBackground.svg
  src/renderer/shared/assets/images/walletTypes/proxy.svg
  src/renderer/shared/assets/images/walletTypes/proxyBackground.svg
  src/renderer/shared/assets/images/walletTypes/vault.svg
  src/renderer/shared/assets/images/walletTypes/vaultBackground.svg
  src/renderer/shared/assets/images/walletTypes/walletConnect.svg
  src/renderer/shared/assets/images/walletTypes/walletConnectBackground.svg
  src/renderer/shared/assets/images/walletTypes/watchOnly.svg
  src/renderer/shared/assets/images/walletTypes/watchOnlyBackground.svg
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/wallet.ts
  src/renderer/shared/ui/Icon/data/walletType.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: hide zero balance by default & tests
  src/renderer/pages/Assets/Assets/model/__tests__/assets-model.test.ts
  src/renderer/pages/Assets/Assets/model/assets-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix comments
  src/renderer/entities/operation/ui/SignButton.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: exclude operations utils from coverage
  jest.config.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: removed comment
  src/renderer/entities/proxy/lib/utils.ts
  src/renderer/shared/lib/utils/__tests__/strings.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: proxyType name fix for remove proxy confirmation screen
  src/renderer/entities/proxy/lib/utils.ts
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.tsx
  src/renderer/shared/lib/utils/__tests__/strings.test.ts
  src/renderer/shared/lib/utils/strings.ts
  src/renderer/widgets/RemoveProxy/ui/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: proxyType name fix for remove proxy confirmation screen (#1402)
  src/renderer/entities/proxy/lib/utils.ts
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.tsx
  src/renderer/shared/lib/utils/__tests__/strings.test.ts
  src/renderer/shared/lib/utils/strings.ts
  src/renderer/widgets/RemoveProxy/ui/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: nice sub structure
  src/renderer/features/balances/subscription/lib/balance-sub-utils.ts
  src/renderer/features/balances/subscription/lib/types.ts
  src/renderer/features/balances/subscription/model/balance-sub-model_NEW.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: subscribe balance (not tested)
  src/renderer/features/balances/subscription/lib/types.ts
  src/renderer/features/balances/subscription/model/balance-sub-model_NEW.ts
  src/renderer/shared/api/balances/service/balanceService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: removed delegated wallet notification when removing proxy
  src/renderer/widgets/RemoveProxy/ui/Submit.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: removed unused param
  src/renderer/widgets/RemoveProxy/ui/RemoveProxy.tsx
  src/renderer/widgets/RemoveProxy/ui/Submit.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/entities/wallet/common/types.ts
  src/renderer/entities/wallet/common/utils.ts
  src/renderer/entities/wallet/lib/__mocks__/permission-utils.mock.ts
  src/renderer/entities/wallet/lib/__tests__/permission-utils.test.ts
  src/renderer/entities/wallet/lib/__tests__/wallet-utils.test.ts
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/entities/wallet/lib/permission-utils.ts
  src/renderer/entities/wallet/lib/wallet-utils.ts
  src/renderer/entities/wallet/ui/Cards/WalletCardLg.tsx
  src/renderer/entities/wallet/ui/CheckPermission/CheckPermission.tsx
  src/renderer/entities/wallet/ui/CheckPermission/CheckPermissionWithRedirect.tsx
  src/renderer/features/operation/init/ui/MultisigOperationHeader.tsx
  src/renderer/pages/Operations/components/OperationFullInfo.tsx
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
  src/renderer/pages/Staking/Overview/Overview.tsx
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
  src/renderer/widgets/WalletDetails/ui/components/NoProxiesAction.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultishardWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/ProxiedWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/VaultWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: update wallet icons (#1405)
  jest.config.ts
  src/renderer/entities/operation/ui/SignButton.tsx
  src/renderer/entities/wallet/ui/WalletIcon/WalletIcon.tsx
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/assets/images/walletTypes/multisig.svg
  src/renderer/shared/assets/images/walletTypes/multisigBackground.svg
  src/renderer/shared/assets/images/walletTypes/novaWallet.svg
  src/renderer/shared/assets/images/walletTypes/novaWalletBackground.svg
  src/renderer/shared/assets/images/walletTypes/proxy.svg
  src/renderer/shared/assets/images/walletTypes/proxyBackground.svg
  src/renderer/shared/assets/images/walletTypes/vault.svg
  src/renderer/shared/assets/images/walletTypes/vaultBackground.svg
  src/renderer/shared/assets/images/walletTypes/walletConnect.svg
  src/renderer/shared/assets/images/walletTypes/walletConnectBackground.svg
  src/renderer/shared/assets/images/walletTypes/watchOnly.svg
  src/renderer/shared/assets/images/walletTypes/watchOnlyBackground.svg
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/wallet.ts
  src/renderer/shared/ui/Icon/data/walletType.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: update wallet icons
  jest.config.ts
  src/renderer/entities/operation/ui/SignButton.tsx
  src/renderer/entities/wallet/ui/WalletIcon/WalletIcon.tsx
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/assets/images/walletTypes/multisig.svg
  src/renderer/shared/assets/images/walletTypes/multisigBackground.svg
  src/renderer/shared/assets/images/walletTypes/novaWallet.svg
  src/renderer/shared/assets/images/walletTypes/novaWalletBackground.svg
  src/renderer/shared/assets/images/walletTypes/proxy.svg
  src/renderer/shared/assets/images/walletTypes/proxyBackground.svg
  src/renderer/shared/assets/images/walletTypes/vault.svg
  src/renderer/shared/assets/images/walletTypes/vaultBackground.svg
  src/renderer/shared/assets/images/walletTypes/walletConnect.svg
  src/renderer/shared/assets/images/walletTypes/walletConnectBackground.svg
  src/renderer/shared/assets/images/walletTypes/watchOnly.svg
  src/renderer/shared/assets/images/walletTypes/watchOnlyBackground.svg
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/wallet.ts
  src/renderer/shared/ui/Icon/data/walletType.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Fix: remove proxy pending state (#1416)
  src/renderer/widgets/RemoveProxy/ui/RemoveProxy.tsx
  src/renderer/widgets/RemoveProxy/ui/Submit.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: remove proxy pending state
  src/renderer/widgets/RemoveProxy/ui/RemoveProxy.tsx
  src/renderer/widgets/RemoveProxy/ui/Submit.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: hide zero balance by default & tests (#1406)
  src/renderer/pages/Assets/Assets/model/__tests__/assets-model.test.ts
  src/renderer/pages/Assets/Assets/model/assets-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: use put instead of update, tests
  src/renderer/pages/Settings/Networks/components/NetworkItem/NetworkItem.tsx
  src/renderer/pages/Settings/Networks/components/NetworkList/NetworkList.tsx
  src/renderer/pages/Settings/Networks/model/__tests__/manage-network-model.test.ts
  src/renderer/pages/Settings/Networks/model/manage-network-model.ts
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: remove staking and governance from default proxy keys
  src/renderer/features/wallets/KeyConstructor/ui/KeyForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: balance sub and tests
  src/renderer/app/index.tsx
  src/renderer/features/balances/subscription/lib/types.ts
  src/renderer/features/balances/subscription/model/__tests__/balance-sub-model.test.ts
  src/renderer/features/balances/subscription/model/balance-sub-model.ts
  src/renderer/features/balances/subscription/model/balance-sub-model_NEW.ts
  src/renderer/shared/api/storage/lib/types.ts
  src/renderer/shared/api/storage/service/storageService.ts
  src/renderer/shared/core/types/utility.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: changed canCreateProxy store
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: remove staking and governance from default proxy keys (#1417)
  src/renderer/features/wallets/KeyConstructor/ui/KeyForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: changed canCreateProxy store (#1418)
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: balances sub tests, jest update
  package.json
  pnpm-lock.yaml
  src/renderer/features/balances/subscription/model/__tests__/balance-sub-model.test.ts
  src/renderer/features/balances/subscription/model/balance-sub-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: Multisig creation warning
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/WalletForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Multisig creation warning (#1389)
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/WalletForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr comments fix
  src/renderer/features/wallets/ForgetWallet/model/__tests__/forget-wallet-model.test.ts
  src/renderer/features/wallets/ForgetWallet/model/forget-wallet-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/renderer/shared/api/translation/locales/*.json
