Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

.lintstagedrc.json:

{
  "*.{ts,tsx}": "pnpm types:files globals.d.ts src/main/shared/bridge.ts",
  "*.{js,ts,tsx}": "pnpm lint:generic"
}

feat: add documentation for vested transfer and dashboard portfolio overview
  src/renderer/features/README.md
  src/renderer/features/dashboard-portfolio-overview/README.md
  src/renderer/features/multisig-operations/README.md
  src/renderer/features/vested-transfer/README.md
Due: none

feat: implement vesting portfolio aggregate with model, types, and request handling
  src/renderer/aggregates/vesting-portfolio/README.md
  src/renderer/aggregates/vesting-portfolio/index.ts
  src/renderer/aggregates/vesting-portfolio/lib/requests.test.ts
  src/renderer/aggregates/vesting-portfolio/lib/requests.ts
  src/renderer/aggregates/vesting-portfolio/lib/resolveClaimAccount.test.ts
  src/renderer/aggregates/vesting-portfolio/lib/resolveClaimAccount.ts
  src/renderer/aggregates/vesting-portfolio/lib/status.test.ts
  src/renderer/aggregates/vesting-portfolio/lib/status.ts
  src/renderer/aggregates/vesting-portfolio/lib/views.ts
  src/renderer/aggregates/vesting-portfolio/model.ts
  src/renderer/aggregates/vesting-portfolio/types.ts
  src/renderer/domains/vesting/schedules/resource.test.ts
  src/renderer/domains/vesting/schedules/resource.ts
  src/renderer/features/README.md
  src/renderer/features/dashboard-portfolio-overview/ui/PortfolioOverviewWidget.tsx
  src/renderer/features/vesting-claim/README.md
  src/renderer/features/vesting-claim/hooks/useVestingSchedules.ts
  src/renderer/features/vesting-claim/hooks/useWalletVesting.ts
  src/renderer/features/vesting-claim/index.tsx
  src/renderer/features/vesting-claim/types.ts
  src/renderer/features/vesting-claim/ui/AccountScheduleModal.tsx
  src/renderer/features/vesting-claim/ui/ClaimFlow.tsx
  src/renderer/features/vesting-claim/ui/VestingCallout.tsx
  src/renderer/features/vesting-claim/ui/VestingRoot.tsx
  src/renderer/features/vesting-claim/ui/VestingScheduleModal.tsx
  src/renderer/shared/query/index.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

refactor: enhance vesting portfolio model with improved account handling and update logic
  src/renderer/aggregates/vesting-portfolio/README.md
  src/renderer/aggregates/vesting-portfolio/lib/requests.test.ts
  src/renderer/aggregates/vesting-portfolio/lib/requests.ts
  src/renderer/aggregates/vesting-portfolio/lib/status.test.ts
  src/renderer/aggregates/vesting-portfolio/lib/status.ts
  src/renderer/aggregates/vesting-portfolio/lib/views.ts
  src/renderer/aggregates/vesting-portfolio/model.ts
  src/renderer/aggregates/vesting-portfolio/types.ts
  src/renderer/domains/network/block/store.ts
  src/renderer/entities/transaction/lib/extrinsicService.ts
  src/renderer/entities/transaction/lib/transactionBuilder.ts
  src/renderer/features/vested-transfer/model/form.ts
  src/renderer/features/vested-transfer/utils.ts
  src/renderer/features/vesting-claim/README.md
  src/renderer/features/vesting-claim/model/claim.ts
  src/renderer/features/vesting-claim/types.ts
  src/renderer/features/vesting-claim/ui/AccountScheduleModal.tsx
  src/renderer/features/vesting-claim/ui/Confirmation.tsx
  src/renderer/features/vesting-claim/ui/VestingScheduleModal.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: improve vesting claim confirmation flow and UI responsiveness
  src/renderer/features/vesting-claim/README.md
  src/renderer/features/vesting-claim/model/claim.ts
  src/renderer/features/vesting-claim/types.ts
  src/renderer/features/vesting-claim/ui/Confirmation.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

refactor: update balance allocation logic to accurately compute vested and locked amounts
  src/renderer/features/dashboard-portfolio-overview/README.md
  src/renderer/features/dashboard-portfolio-overview/hooks/__tests__/useBalanceAllocation.test.ts
  src/renderer/features/dashboard-portfolio-overview/hooks/useBalanceAllocation.ts
  src/renderer/features/dashboard-portfolio-overview/ui/BalanceAllocationBars.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: vesting portfolio model with timeline chain integration and subscription management
  src/renderer/aggregates/vesting-portfolio/README.md
  src/renderer/aggregates/vesting-portfolio/lib/blockHeights.test.ts
  src/renderer/aggregates/vesting-portfolio/lib/blockHeights.ts
  src/renderer/aggregates/vesting-portfolio/lib/views.test.ts
  src/renderer/aggregates/vesting-portfolio/lib/views.ts
  src/renderer/aggregates/vesting-portfolio/lib/wireSubscriptions.test.ts
  src/renderer/aggregates/vesting-portfolio/lib/wireSubscriptions.ts
  src/renderer/aggregates/vesting-portfolio/model.ts
  src/renderer/aggregates/vesting-portfolio/types.ts
  src/renderer/domains/network/block/hooks.ts
  src/renderer/domains/network/block/resource.ts
  src/renderer/domains/vesting/lib/types.ts
  src/renderer/domains/vesting/lib/vestingClaimService.test.ts
  src/renderer/domains/vesting/lib/vestingClaimService.ts
  src/renderer/features/signing-path/model/graph-model.test.ts
  src/renderer/features/signing-path/model/graph-model.ts
  src/renderer/features/vested-transfer-operation-details/components/VestedTransferOperationDetails.tsx
  src/renderer/features/vested-transfer/components/Confirmation.tsx
  src/renderer/features/vested-transfer/components/VestedTransferForm.tsx
  src/renderer/features/vested-transfer/model/form.ts
  src/renderer/features/vesting-claim/README.md
  src/renderer/features/vesting-claim/lib/datetime.test.ts
  src/renderer/features/vesting-claim/lib/datetime.ts
  src/renderer/features/vesting-claim/model/claim.ts
  src/renderer/features/vesting-claim/ui/AccountScheduleModal.tsx
  src/renderer/features/vesting-claim/ui/VestingCallout.tsx
  src/renderer/shared/i18n/locales/en.json
  src/renderer/shared/lib/utils/chains.ts
  src/renderer/widgets/vesting-schedule-preview/VestingSchedulePreview.tsx
  tests/integrations/cases/vesting/vesting-claim-route.integration.test.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

feat: add signing path documentation and update README links
  src/renderer/features/README.md
  src/renderer/features/signing-path/README.md
Due: none

test: e2e for all multisig operation types built from live Asset Hub metadata
  tests/system/cases/multisig-operations/all-operation-types.system.test.ts
  tests/system/pages/_elements/OperationsPageElements.ts
  tests/system/pages/operationsPage/OperationsPage.ts
  tests/system/utils/buildMultisigOperations.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

test: add verified-swap edit-flexible and verify-proxy ops, dedupe unknown
  tests/system/cases/multisig-operations/all-operation-types.system.test.ts
  tests/system/utils/buildMultisigOperations.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

test: expand and verify details of every parsed operation
  src/renderer/features/multisig-operations/components/Operation.tsx
  tests/system/cases/multisig-operations/all-operation-types.system.test.ts
  tests/system/pages/operationsPage/OperationsPage.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: wait on both readiness in merged scope; drop dead test helpers
  src/renderer/features/multisig-operations/model/context.ts
  tests/system/utils/buildMultisigOperations.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

test: e2e for drafts section across multisig/flex and call-data states with mocked address book
  tests/system/cases/multisig-operations/drafts-section.system.test.ts
  tests/system/pages/operationsPage/OperationsPage.ts
  tests/system/utils/buildDraftScenario.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

docs: mark operation-details transformer features no spec planned
  src/renderer/features/README.md
Due: none

test: decode transfer drafts live + add non-draft operation description e2e
  tests/system/cases/multisig-operations/drafts-section.system.test.ts
  tests/system/cases/multisig-operations/operation-description.system.test.ts
  tests/system/pages/operationsPage/OperationsPage.ts
  tests/system/utils/buildDraftScenario.ts
  tests/system/utils/buildOperationWithDescription.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

chore: ignore design-sync local tooling and generated bundles
  .gitignore
Due: none

feat: gate description header on address book and sort operations newest first
  src/renderer/features/multisig-operations/README.md
  src/renderer/features/multisig-operations/components/OperationsTableHeader.tsx
  src/renderer/features/multisig-operations/lib/operations-sort.test.ts
  src/renderer/features/multisig-operations/lib/operations-sort.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: align operations section header paddings with design
  src/renderer/features/drafts/components/DraftsSection.tsx
  src/renderer/features/multisig-operations/components/Operations.tsx
  src/renderer/shared/ui/operations-table-layout.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: rename signer to initiator in draft signing path
  src/renderer/features/drafts/README.md
  src/renderer/features/drafts/components/DraftFullInfo.tsx
  src/renderer/shared/i18n/locales/en.json
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

docs: mirror design updates for never-connected state and section paddings
  docs/design/multisig-operations/Multisig Operations.dc.html
  docs/design/multisig-operations/_design_notes.md
Due: none

fix: fit operation row into the default window width
  src/renderer/features/drafts/components/DraftRow.tsx
  src/renderer/features/multisig-operations/components/Operation.tsx
  src/renderer/features/multisig-operations/components/OperationsTableHeader.tsx
  src/renderer/shared/ui/operations-table-layout.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: group value sort by displayed amount, hidden value, none
  src/renderer/features/multisig-operations/README.md
  src/renderer/features/multisig-operations/lib/operations-sort.test.ts
  src/renderer/features/multisig-operations/lib/operations-sort.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: recognize verify-proxy operation stored as bare core remark
  src/renderer/features/multisig-operations/lib/verify-proxy-op.test.ts
  src/renderer/features/multisig-operations/lib/verify-proxy-op.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

docs: mirror design column budget for default window fit
  docs/design/multisig-operations/Multisig Operations.dc.html
  docs/design/multisig-operations/_design_notes.md
Due: none

fix: apply review findings for value sort, verify-proxy and operation cards
  src/renderer/features/multisig-operations/README.md
  src/renderer/features/multisig-operations/lib/operations-sort.test.ts
  src/renderer/features/multisig-operations/lib/operations-sort.ts
  src/renderer/features/multisig-operations/lib/verify-proxy-op.test.ts
  src/renderer/features/multisig-operations/lib/verify-proxy-op.ts
  src/renderer/features/multisig-operations/ui/EditControllerOperationCard.tsx
  src/renderer/features/multisig-operations/ui/VerifyProxyOperationCard.tsx
  src/renderer/shared/transactions/verifyProxyMarker.ts
  src/renderer/shared/ui/operations-table-layout.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

docs: refine value sort note in design notes
  docs/design/multisig-operations/_design_notes.md
Due: none

fix: derivation uniquness checks
  src/renderer/features/wallets/ExportKeys/ui/ExportKeysModal.test.tsx
  src/renderer/features/wallets/ExportKeys/ui/ExportKeysModal.tsx
  src/renderer/features/wallets/KeyConstructor/model/__tests__/constructor-model.test.ts
  src/renderer/features/wallets/KeyConstructor/model/constructor-model.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

refactor: enhance DerivedAccount component with chain support and improve VaultAccountsList
  src/renderer/entities/wallet/ui/Cards/DerivedAccount.tsx
  src/renderer/entities/wallet/ui/VaultAccountsList/VaultAccountsList.tsx
  src/renderer/shared/ui-entities/Account/Account.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: components DerivedAccount and VaultAccountsList
  src/renderer/entities/wallet/ui/Cards/DerivedAccount.tsx
  src/renderer/entities/wallet/ui/VaultAccountsList/VaultAccountsList.tsx
  src/renderer/features/wallets/ExportKeys/ui/ExportKeysModal.tsx
  src/renderer/features/wallets/KeyConstructor/model/__tests__/constructor-model.test.ts
  src/renderer/features/wallets/KeyConstructor/model/constructor-model.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

docs: update README for wallets feature and add detailed documentation
  src/renderer/features/README.md
  src/renderer/features/wallets/README.md
Due: none

fix: comments
  src/renderer/aggregates/vesting-portfolio/README.md
  src/renderer/aggregates/vesting-portfolio/lib/blockHeights.ts
  src/renderer/aggregates/vesting-portfolio/lib/requests.test.ts
  src/renderer/aggregates/vesting-portfolio/lib/requests.ts
  src/renderer/aggregates/vesting-portfolio/lib/views.test.ts
  src/renderer/aggregates/vesting-portfolio/lib/views.ts
  src/renderer/aggregates/vesting-portfolio/model.ts
  src/renderer/domains/network/block/hooks.ts
  src/renderer/domains/vesting/lib/vestingService.ts
  src/renderer/domains/vesting/schedules/resource.ts
  src/renderer/features/dashboard-portfolio-overview/lib/__tests__/computeRowAllocations.test.ts
  src/renderer/features/dashboard-portfolio-overview/lib/computeRowAllocations.ts
  src/renderer/features/dashboard-portfolio-overview/ui/AllocationBar.tsx
  src/renderer/features/vested-transfer-operation-details/index.tsx
  src/renderer/features/vested-transfer/model/form.ts
  src/renderer/features/vested-transfer/types.ts
  src/renderer/features/vested-transfer/utils.ts
  src/renderer/features/vesting-claim/model/claim.ts
  src/renderer/shared/i18n/locales/en.json
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: adjust layout in VestingScheduleModal
  src/renderer/features/vesting-claim/ui/VestingScheduleModal.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

chore: extract design system to separate project
  .gitignore
  docs/design/README.md
  docs/design/ds-extensions/_ds_extensions.json
  docs/design/ds-extensions/assets/chains/asset-hub.svg
  docs/design/ds-extensions/assets/chains/kusama.svg
  docs/design/ds-extensions/assets/chains/polkadot.svg
  docs/design/ds-extensions/assets/tokens/dot.svg
  docs/design/ds-extensions/assets/tokens/ksm.svg
  docs/design/ds-extensions/assets/tokens/usdt.svg
  docs/design/ds-extensions/lib/identicon.js
  docs/design/multisig-operations/Element Chat.dc.html
  docs/design/multisig-operations/Multisig Operations.dc.html
  docs/design/multisig-operations/_design_notes.md
Due: pnpm lint:generic

fix: apply review findings for value sort, submitter sort, scroll margin and drafts filtering
  src/renderer/features/drafts/README.md
  src/renderer/features/drafts/components/DraftsSection.tsx
  src/renderer/features/drafts/components/DraftsSectionLazy.tsx
  src/renderer/features/drafts/index.ts
  src/renderer/features/drafts/lib/draft-scope.test.ts
  src/renderer/features/drafts/lib/draft-scope.ts
  src/renderer/features/drafts/lib/useVisibleDrafts.ts
  src/renderer/features/multisig-operations/README.md
  src/renderer/features/multisig-operations/components/Operations.tsx
  src/renderer/features/multisig-operations/lib/operations-sort.test.ts
  src/renderer/features/multisig-operations/lib/operations-sort.ts
  src/renderer/features/multisig-operations/model/context.ts
  src/renderer/pages/Operations/Operations.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: comments
  src/renderer/entities/wallet/ui/Cards/DerivedAccount.tsx
  src/renderer/features/wallets/KeyConstructor/model/constructor-model.ts
  src/renderer/features/wallets/README.md
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

docs: detail verify-proxy marker and fallback scope in flexible spec
  src/renderer/features/flexible-operation-details/README.md
Due: none

docs: expand flexible-operation-details spec with trusted and verified edit variants
  src/renderer/features/flexible-operation-details/README.md
Due: none

docs: add specs for operation-details features
  src/renderer/features/README.md
  src/renderer/features/flexible-operation-details/README.md
  src/renderer/features/governance-operation-details/README.md
  src/renderer/features/multi-transfer-operation-details/README.md
  src/renderer/features/proxy-operation-details/README.md
  src/renderer/features/staking-operation-details/README.md
  src/renderer/features/transfer-operation-details/README.md
  src/renderer/features/vested-transfer-operation-details/README.md
Due: none
