Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

fix: menu bg
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: menu bg
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: statemine(mint) assets transactions
  src/renderer/services/transaction/transactionService.ts
  src/renderer/shared/utils/substrate.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: update menu icons and bg
  src/renderer/assets/images/navigation/address-book-tab.svg
  src/renderer/assets/images/navigation/asset.svg
  src/renderer/assets/images/navigation/assets-tab.svg
  src/renderer/assets/images/navigation/notifications-tab.svg
  src/renderer/assets/images/navigation/operations-tab.svg
  src/renderer/assets/images/navigation/settings-tab.svg
  src/renderer/assets/images/navigation/staking-tab.svg
  src/renderer/components/layout/PrimaryLayout/NavItem/NavItem.tsx
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/ui/Icon/data/navigation.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: update menu icons and bg (#696)
  src/renderer/assets/images/navigation/address-book-tab.svg
  src/renderer/assets/images/navigation/asset.svg
  src/renderer/assets/images/navigation/assets-tab.svg
  src/renderer/assets/images/navigation/notifications-tab.svg
  src/renderer/assets/images/navigation/operations-tab.svg
  src/renderer/assets/images/navigation/settings-tab.svg
  src/renderer/assets/images/navigation/staking-tab.svg
  src/renderer/components/layout/PrimaryLayout/NavItem/NavItem.tsx
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/ui/Icon/data/navigation.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: rediced getChains calls
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/ActiveAccountCard.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/common/types.ts
  src/renderer/components/layout/PrimaryLayout/Wallets/common/useWalletStructure.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: set window size 1024 x 800
  app.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: set window size 1024 x 800 (#700)
  app.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: statemine(mint) assets transactions (#698)
  src/renderer/services/transaction/transactionService.ts
  src/renderer/shared/utils/substrate.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: sync data in dev branch
  .github/workflows/create_new_tag.yml
  .github/workflows/make-pull-request/action.yaml
  .github/workflows/update_chains_file.yaml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: update transaction if call data exists
  src/renderer/components/ui-redesign/OperationResult/OperationResult.tsx
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Submit.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: fixed multishard name load and changed multishard wallets hook
  src/renderer/assets/images/functionals/edit.svg
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/ActiveAccountCard.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletGroup.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/common/types.ts
  src/renderer/components/layout/PrimaryLayout/Wallets/common/useGroupedWallets.ts
  src/renderer/components/layout/PrimaryLayout/Wallets/common/useWalletStructure.ts
  src/renderer/components/layout/PrimaryLayout/Wallets/common/utils.ts
  src/renderer/components/ui/Icon/data/functionals.tsx
  src/renderer/domain/account.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: log modal redesign
  src/renderer/components/ui-redesign/InfoLink/InfoLink.tsx
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/components/Log.tsx
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
  src/renderer/shared/utils/assets.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: padding fix
  src/renderer/screens/Operations/components/Log.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: sync data in dev branch (#703)
  .github/workflows/create_new_tag.yml
  .github/workflows/make-pull-request/action.yaml
  .github/workflows/update_chains_file.yaml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: operations subscription
  src/renderer/screens/Operations/components/Filters.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: remove log
  src/renderer/context/MatrixContext/MatrixContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: added created event text and error text
  src/renderer/screens/Operations/components/Log.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: update transaction if call data exists (#704)
  src/renderer/components/ui-redesign/OperationResult/OperationResult.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/screens/Operations/components/Filters.tsx
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Submit.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: update transaction if call data exists
  src/renderer/components/ui-redesign/OperationResult/OperationResult.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/screens/Operations/components/Filters.tsx
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Submit.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: log modal redesign (#705)
  src/renderer/components/ui-redesign/InfoLink/InfoLink.tsx
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/components/Log.tsx
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
  src/renderer/shared/utils/assets.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: log modal redesign
  src/renderer/components/ui-redesign/InfoLink/InfoLink.tsx
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/components/Log.tsx
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
  src/renderer/shared/utils/assets.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: add empty matrix id
  src/renderer/screens/AddressBook/components/ContactList.tsx
  src/renderer/screens/AddressBook/components/ContactModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: shard select modal
  src/renderer/components/layout/PrimaryLayout/Wallets/common/types.ts
  src/renderer/components/layout/PrimaryLayout/Wallets/common/useGroupedWallets.ts
  src/renderer/components/layout/PrimaryLayout/Wallets/common/utils.ts
  src/renderer/components/ui-redesign/Checkbox/Checkbox.tsx
  src/renderer/components/ui-redesign/Checkbox/styles.css
  src/renderer/components/ui-redesign/Inputs/SearchInput.tsx
  src/renderer/components/ui/Checkbox/Checkbox.tsx
  src/renderer/components/ui/Checkbox/styles.css
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Balances/SelectShardModal/SelectShardModal.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fix tests
  src/renderer/screens/AddressBook/components/EmptyState/EmptyContacts.test.tsx
  src/renderer/screens/AddressBook/components/EmptyState/EmptySearch.test.tsx
  src/renderer/screens/AddressBook/components/EmptyState/EmptySearch.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: fixed account selection
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Balances/SelectShardModal/SelectShardModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: operation icon
  src/renderer/screens/Operations/components/TransactionTitle/TransactionTitle.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr comments fix
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletGroup.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/ui/Icon/data/index.ts
  src/renderer/components/ui/Icon/data/walletType.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.tsx
  src/renderer/services/account/accountService.ts
  src/renderer/services/multisigTx/multisigTxService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: operation icon (#707)
  src/renderer/screens/Operations/components/TransactionTitle/TransactionTitle.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: tests
  src/renderer/components/ui-redesign/Dropdowns/DropdownButton/DropdownButton.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/InactiveChain.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsList/NominatorsList.test.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsList/NominatorsList.tsx
  src/renderer/screens/Staking/Overview/components/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: remove comments
  package.json
  src/renderer/screens/Staking/Overview/components/Actions/Actions.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsList/NominatorsList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: merge conflicts fix
  .github/workflows/create_new_tag.yml
  .github/workflows/make-pull-request/action.yaml
  .github/workflows/update_chains_file.yaml
  app.config.js
  package.json
  src/renderer/assets/images/navigation/address-book-tab.svg
  src/renderer/assets/images/navigation/asset.svg
  src/renderer/assets/images/navigation/assets-tab.svg
  src/renderer/assets/images/navigation/notifications-tab.svg
  src/renderer/assets/images/navigation/operations-tab.svg
  src/renderer/assets/images/navigation/settings-tab.svg
  src/renderer/assets/images/navigation/staking-tab.svg
  src/renderer/components/layout/PrimaryLayout/NavItem/NavItem.tsx
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/ui-redesign/InfoLink/InfoLink.tsx
  src/renderer/components/ui-redesign/OperationResult/OperationResult.tsx
  src/renderer/components/ui/Icon/data/navigation.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/components/Filters.tsx
  src/renderer/screens/Operations/components/Log.tsx
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
  src/renderer/screens/Operations/components/TransactionTitle/TransactionTitle.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Submit.tsx
  src/renderer/services/transaction/transactionService.ts
  src/renderer/shared/utils/assets.ts
  src/renderer/shared/utils/substrate.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

ci: upgrade package.json version
  package.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged
