Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

feat: updated colors and typography
  colors.js
  src/renderer/theme/default.css
  tailwind.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: added improvements from matrix login branch
  src/renderer/components/ui-redesign/Buttons/common/constants.ts
  src/renderer/components/ui-redesign/InputHint/InputHint.tsx
  src/renderer/components/ui-redesign/InputHint/contants.ts
  src/renderer/components/ui-redesign/Modals/BaseModal/BaseModal.tsx
  src/renderer/components/ui-redesign/Popovers/Popover/Popover.tsx
  src/renderer/components/ui-redesign/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: added tabIndex as prop for ui components
  src/renderer/components/ui-redesign/Buttons/Button/Button.tsx
  src/renderer/components/ui-redesign/Buttons/ButtonBack/ButtonBack.tsx
  src/renderer/components/ui-redesign/Checkbox/Checkbox.tsx
  src/renderer/components/ui-redesign/Dropdowns/Select/Select.tsx
  src/renderer/components/ui-redesign/Dropdowns/common/types.ts
  src/renderer/components/ui-redesign/InfoLink/InfoLink.tsx
  src/renderer/components/ui-redesign/Inputs/common/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

style: changed button text style
  src/renderer/components/ui-redesign/Buttons/common/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

style: updated footnote text line height
  tailwind.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: adding properties to test network
  src/renderer/services/network/common/chains/chains.json
  src/renderer/services/network/common/chains/omni-chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: adding test network for dev build (#606)
  src/renderer/services/network/common/chains/chains.json
  src/renderer/services/network/common/chains/omni-chains.json
  src/renderer/services/network/common/chains/omni-chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: adding test network for dev build
  src/renderer/services/network/common/chains/chains.json
  src/renderer/services/network/common/chains/omni-chains.json
  src/renderer/services/network/common/chains/omni-chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: show message for no ps/mst wallets
  src/renderer/screens/CreateMultisigAccount/SelectContactsModal.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: show warn for wotch-only wallets
  src/renderer/screens/CreateMultisigAccount/SelectContactsModal.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: moved popover link to separate component
  src/renderer/components/ui-redesign/InfoLink/InfoLink.stories.tsx
  src/renderer/components/ui-redesign/InfoLink/InfoLink.tsx
  src/renderer/components/ui-redesign/PopoverLink/PopoverLink.stories.tsx
  src/renderer/components/ui-redesign/PopoverLink/PopoverLink.test.tsx
  src/renderer/components/ui-redesign/PopoverLink/PopoverLink.tsx
  src/renderer/components/ui-redesign/Popovers/Popover/Popover.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: added popover link to index file
  src/renderer/components/ui-redesign/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: root key
  src/renderer/components/common/Explorers/Explorers.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.test.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
  src/renderer/screens/Onboarding/Parity/StepThreeSingle/StepThreeSingle.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: changed props back to type and removed focus control interface
  src/renderer/components/ui-redesign/Buttons/Button/Button.tsx
  src/renderer/components/ui-redesign/Buttons/ButtonBack/ButtonBack.tsx
  src/renderer/components/ui-redesign/Checkbox/Checkbox.tsx
  src/renderer/components/ui-redesign/Dropdowns/Combobox/Combobox.tsx
  src/renderer/components/ui-redesign/Dropdowns/Select/Select.tsx
  src/renderer/components/ui-redesign/Dropdowns/common/types.ts
  src/renderer/components/ui-redesign/InfoLink/InfoLink.tsx
  src/renderer/components/ui-redesign/Inputs/Input/Input.tsx
  src/renderer/components/ui-redesign/Popovers/InfoPopover/InfoPopover.tsx
  src/renderer/components/ui-redesign/Popovers/Popover/Popover.tsx
  src/renderer/components/ui-redesign/Signatory/Signatory.tsx
  src/renderer/components/ui-redesign/Tabs/Tabs.tsx
  src/renderer/components/ui-redesign/Typography/common/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: added empty line
  src/renderer/components/ui-redesign/Dropdowns/common/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: Watch-only warning
  src/renderer/screens/CreateMultisigAccount/SelectContactsModal.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Fix: Watch-only warning (#610)
  src/renderer/screens/CreateMultisigAccount/SelectContactsModal.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: root key (#611)
  src/renderer/components/common/Explorers/Explorers.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.test.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
  src/renderer/screens/Onboarding/Parity/StepThreeSingle/StepThreeSingle.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: move useCountdown
  src/renderer/screens/Operations/components/ApproveTx.tsx
  src/renderer/screens/Operations/components/RejectTx.tsx
  src/renderer/screens/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/shared/hooks/__tests__/useCountdown.test.ts
  src/renderer/shared/hooks/index.ts
  src/renderer/shared/hooks/useCountdown.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: operations card redisign
  colors.js
  src/renderer/assets/images/mst/staking.svg
  src/renderer/assets/images/mst/transfer.svg
  src/renderer/assets/images/mst/unknown.svg
  src/renderer/components/common/TokenBalance/TokenBalance.stories.tsx
  src/renderer/components/common/TokenBalance/TokenBalance.tsx
  src/renderer/components/ui-redesign/Typography/components/BodyText.tsx
  src/renderer/components/ui-redesign/Typography/components/CaptionText.tsx
  src/renderer/components/ui-redesign/Typography/components/FootnoteText.tsx
  src/renderer/components/ui-redesign/Typography/components/HeadlineText.tsx
  src/renderer/components/ui-redesign/Typography/components/LabelText.tsx
  src/renderer/components/ui-redesign/Typography/components/LargeTitleText.tsx
  src/renderer/components/ui-redesign/Typography/components/SmallTitleText.tsx
  src/renderer/components/ui-redesign/Typography/components/TitleText.tsx
  src/renderer/components/ui/Icon/data/index.ts
  src/renderer/components/ui/Icon/data/mst.tsx
  src/renderer/index.tsx
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/common/utils.ts
  src/renderer/screens/Operations/components/ApproveTx.tsx
  src/renderer/screens/Operations/components/Chain.tsx
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Operations/components/OperationStatus.tsx
  src/renderer/screens/Operations/components/RejectTx.tsx
  src/renderer/screens/Operations/components/ShortTransactionInfo.tsx
  src/renderer/screens/Operations/components/TransactionTitle.tsx
  src/renderer/theme/default.css
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fixed test
  src/renderer/screens/Operations/components/ShortTransactionInfo.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: rollback short tx info and added new component
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Operations/components/ShortTransactionInfo.test.tsx
  src/renderer/screens/Operations/components/ShortTransactionInfo.tsx
  src/renderer/screens/Operations/components/ShortTransactionInfoNew.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: operations filters
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/common/utils.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix
