Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: clean up debug mode
  README.md
Due: none

chore: split to production and development modes
  README.md
Due: none

fix: filter refactor
  src/renderer/screens/Operations/components/Filters.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: fixed contact add and update process
  src/renderer/screens/AddressBook/components/ContactList.tsx
  src/renderer/screens/AddressBook/components/ContactModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: added operations empty state
  src/renderer/assets/images/misc/star-list.svg
  src/renderer/components/ui/Icon/data/misc.tsx
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/components/EmptyState/EmptyOperations.tsx
  src/renderer/screens/Operations/components/Filters.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: operations test fix
  src/renderer/screens/Operations/Operations.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: enable light clients by default
  package.json
  pnpm-lock.yaml
  src/renderer/services/network/networkService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: enable light clients by default (#651)
  package.json
  pnpm-lock.yaml
  src/renderer/services/network/networkService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: pr fixes
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Redeem (#639)
  package.json
  pnpm-lock.yaml
  src/renderer/components/common/Fee/Fee.tsx
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/common/utils.tsx
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationForm.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/TimeToEra/TimeToEra.tsx
  src/renderer/services/staking/__tests__/stakingTxService.test.ts
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/eraService.ts
  src/renderer/services/staking/stakingDataService.ts
  src/renderer/services/staking/stakingTxService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: pr fixes
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Unstake multisig (#624)
  package.json
  pnpm-lock.yaml
  src/renderer/components/common/Fee/Fee.tsx
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/common/utils.tsx
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationForm.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/TimeToEra/TimeToEra.tsx
  src/renderer/services/staking/__tests__/stakingTxService.test.ts
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/eraService.ts
  src/renderer/services/staking/stakingDataService.ts
  src/renderer/services/staking/stakingTxService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: pr todo
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Stake more (#622)
  package.json
  pnpm-lock.yaml
  src/renderer/components/common/Fee/Fee.tsx
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/common/utils.tsx
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationForm.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/TimeToEra/TimeToEra.tsx
  src/renderer/services/staking/__tests__/stakingTxService.test.ts
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/eraService.ts
  src/renderer/services/staking/stakingDataService.ts
  src/renderer/services/staking/stakingTxService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: pr todo
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: change chains.json update logic
  .github/workflows/update_chains_file.yaml
  scripts/buildChainsJson.js
  src/renderer/services/network/common/chains/chains.json
  src/renderer/services/network/common/chains/omni-chains.json
  src/renderer/services/network/common/chains/omni-chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Feat: Restake multisig (#621)
  package.json
  pnpm-lock.yaml
  src/renderer/components/common/Fee/Fee.tsx
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.test.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/common/utils.tsx
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationForm.tsx
  src/renderer/screens/Staking/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/TimeToEra/TimeToEra.tsx
  src/renderer/services/staking/__tests__/stakingTxService.test.ts
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/eraService.ts
  src/renderer/services/staking/stakingDataService.ts
  src/renderer/services/staking/stakingTxService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: pr todo
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: min available balance
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Destination multisig (#620)
  package.json
  pnpm-lock.yaml
  src/renderer/components/common/Fee/Fee.tsx
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.test.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/common/utils.tsx
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationForm.tsx
  src/renderer/screens/Staking/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/TimeToEra/TimeToEra.tsx
  src/renderer/screens/Transfer/components/InitOperation/InitOperation.tsx
  src/renderer/services/staking/__tests__/stakingTxService.test.ts
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/eraService.ts
  src/renderer/services/staking/stakingDataService.ts
  src/renderer/services/staking/stakingTxService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Destination multisig
  package.json
  pnpm-lock.yaml
  src/renderer/components/common/Fee/Fee.tsx
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.test.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/common/utils.tsx
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationForm.tsx
  src/renderer/screens/Staking/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/TimeToEra/TimeToEra.tsx
  src/renderer/screens/Transfer/components/InitOperation/InitOperation.tsx
  src/renderer/services/staking/__tests__/stakingTxService.test.ts
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/eraService.ts
  src/renderer/services/staking/stakingDataService.ts
  src/renderer/services/staking/stakingTxService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: pr todo
  src/renderer/screens/Staking/Operations/common/utils.tsx
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: min available balance (#654)
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: balance transfer validation
  src/renderer/screens/Transfer/components/TransferForm/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fixed useCountdown test
  src/renderer/shared/hooks/__tests__/useCountdown.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: cancelled status
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/screens/Operations/components/ActionSteps/Submit.tsx
  src/renderer/services/chainSubscription/chainSubscriptionService.ts
  src/renderer/services/multisigTx/multisigTxService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: updated @polkadot packges
  package.json
  pnpm-lock.yaml
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: remove unnecessary file
  scripts/assetsNameMap.json
  scripts/buildChainsJson.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: adding updated chains.json files
  src/renderer/services/network/common/chains/chains.json
  src/renderer/services/network/common/chains/omni-chains.json
  src/renderer/services/network/common/chains/omni-chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: multisig account invitation
  src/renderer/context/MatrixContext/MatrixContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/shared/locale/*.json
