Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

fix: matrix room devices verification (#1080)
  src/renderer/shared/api/matrix/service/matrix.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: on connect handler
  src/renderer/app/providers/context/WalletConnectContext/WalletConnectContext.tsx
  src/renderer/pages/Assets/AssetsList/AssetsList.tsx
  src/renderer/pages/Onboarding/WalletConnect/WalletConnect.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: matrix room devices verification
  src/renderer/shared/api/matrix/service/matrix.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: signing with wallet connect
  src/renderer/features/operation/sign/ui/Signing/Signing.tsx
  src/renderer/features/operation/sign/ui/WalletConnect/WalletConnect.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: added currency mode to amount input
  src/renderer/app/styles/theme/default.css
  src/renderer/assets/images/arrows/swap-arrow.svg
  src/renderer/entities/asset/ui/AssetIcon/AssetIcon.tsx
  src/renderer/entities/currency/index.ts
  src/renderer/entities/currency/lib/useCurrency.ts
  src/renderer/shared/ui/Icon/data/arrow.tsx
  src/renderer/shared/ui/Inputs/AmountInput/AmountInput.tsx
  src/renderer/shared/ui/index.ts
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: removed extra props from transfer form
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/InitOperation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix lockfile
  pnpm-lock.yaml
Due: none

chore: fixed confirmation test
  src/renderer/pages/Staking/Operations/components/Confirmation/Confirmation.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: price provider model
  src/renderer/app/index.tsx
  src/renderer/entities/price/index.ts
  src/renderer/entities/price/lib/constants.ts
  src/renderer/entities/price/lib/types.ts
  src/renderer/entities/price/model/currency-model.ts
  src/renderer/entities/price/model/price-provider-model.ts
  src/renderer/shared/api/local-storage/__tests__/localStorageService.test.ts
  src/renderer/shared/api/local-storage/index.ts
  src/renderer/shared/api/local-storage/service/localStorageService.ts
  src/renderer/shared/api/price-provider/__tests__/coingeckoAdapter.test.ts
  src/renderer/shared/api/price-provider/__tests__/utils.test.ts
  src/renderer/shared/api/price-provider/common/constants.ts
  src/renderer/shared/api/price-provider/common/types.ts
  src/renderer/shared/api/price-provider/common/utils.ts
  src/renderer/shared/api/price-provider/index.ts
  src/renderer/shared/api/price-provider/service/coingeckoService.ts
  src/renderer/shared/api/price-provider/service/fiatService.ts
  src/renderer/shared/api/price/coingecko/CoingeckoAdapter.ts
  src/renderer/shared/api/price/coingecko/consts.ts
  src/renderer/shared/api/price/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: load assets prices
  src/renderer/app/App.tsx
  src/renderer/app/index.tsx
  src/renderer/entities/price/index.ts
  src/renderer/entities/price/lib/constants.ts
  src/renderer/entities/price/model/currency-model.ts
  src/renderer/entities/price/model/price-provider-model.ts
  src/renderer/shared/api/price-provider/common/constants.ts
  src/renderer/shared/api/price-provider/service/fiatService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: code style, export events
  src/renderer/entities/price/lib/constants.ts
  src/renderer/entities/price/model/price-provider-model.ts
  src/renderer/shared/api/local-storage/__tests__/localStorageService.test.ts
  src/renderer/shared/api/price-provider/__tests__/utils.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: reconnect on change wallet
  src/renderer/features/operation/sign/ui/WalletConnect/WalletConnect.tsx
  src/renderer/pages/Onboarding/WalletConnect/ManageStep/ManageStep.tsx
  src/renderer/pages/Onboarding/WalletConnect/WalletConnect.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: fixed xcm transfer fee error
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/InitOperation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: wallet reconnect
  src/renderer/features/operation/sign/ui/WalletConnect/WalletConnect.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: texts
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: integrated currency modal to currenc settings
  src/renderer/entities/currency/index.ts
  src/renderer/entities/currency/model/currency.ts
  src/renderer/entities/currency/model/types.ts
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.tsx
  src/renderer/widgets/SelectCurrencyModal/temp/mock-currencies.json
  src/renderer/widgets/SelectCurrencyModal/ui/SelectCurrencyModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: updated crouped select semantics
  src/renderer/shared/ui/Dropdowns/GroupedSelect/GroupedSelect.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fixed General Action test
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.test.tsx
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fixed grouped select active state
  src/renderer/shared/ui/Dropdowns/GroupedSelect/GroupedSelect.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: tests for models, review fixes
  src/renderer/assets/currency/currencies.json
  src/renderer/entities/price/index.ts
  src/renderer/entities/price/lib/constants.ts
  src/renderer/entities/price/model/__tests__/currency-model.test.ts
  src/renderer/entities/price/model/__tests__/price-provider-model.test.ts
  src/renderer/entities/price/model/currency-model.ts
  src/renderer/entities/price/model/price-provider-model.ts
  src/renderer/shared/api/price-provider/__tests__/coingeckoService.test.ts
  src/renderer/shared/api/price-provider/__tests__/fiatService.test.ts
  src/renderer/shared/api/price-provider/__tests__/utils.test.ts
  src/renderer/shared/api/price-provider/common/constants.ts
  src/renderer/shared/api/price-provider/common/types.ts
  src/renderer/shared/api/price-provider/index.ts
  src/renderer/shared/api/price-provider/service/fiatService.ts
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/model/kernel-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: fixed amount error
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/InitOperation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Price provider model (#1084)
  src/renderer/app/App.tsx
  src/renderer/assets/currency/currencies.json
  src/renderer/entities/price/index.ts
  src/renderer/entities/price/lib/constants.ts
  src/renderer/entities/price/lib/types.ts
  src/renderer/entities/price/model/__tests__/currency-model.test.ts
  src/renderer/entities/price/model/__tests__/price-provider-model.test.ts
  src/renderer/entities/price/model/currency-model.ts
  src/renderer/entities/price/model/price-provider-model.ts
  src/renderer/shared/api/local-storage/index.ts
  src/renderer/shared/api/local-storage/service/localStorageService.ts
  src/renderer/shared/api/price-provider/__tests__/coingeckoService.test.ts
  src/renderer/shared/api/price-provider/__tests__/fiatService.test.ts
  src/renderer/shared/api/price-provider/__tests__/utils.test.ts
  src/renderer/shared/api/price-provider/common/constants.ts
  src/renderer/shared/api/price-provider/common/types.ts
  src/renderer/shared/api/price-provider/common/utils.ts
  src/renderer/shared/api/price-provider/index.ts
  src/renderer/shared/api/price-provider/service/coingeckoService.ts
  src/renderer/shared/api/price-provider/service/fiatService.ts
  src/renderer/shared/api/price/coingecko/CoingeckoAdapter.ts
  src/renderer/shared/api/price/coingecko/consts.ts
  src/renderer/shared/api/price/index.ts
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/model/kernel-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: add first test
  package.json
  pnpm-lock.yaml
  tests/system/jest.system.config.ts
  tests/system/run.app.test.tsx
  tests/system/utils/runApplication.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fixed invalid character error
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/InitOperation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: change to pageObject
  package.json
  pnpm-lock.yaml
  tests/system/matrix/matrix.login.while.multisig.creation.test.tsx
  tests/system/pages/BasePage.ts
  tests/system/pages/loginPage/BaseLoginPage.ts
  tests/system/pages/loginPage/LoginPageElements.ts
  tests/system/pages/loginPage/WatchOnlyLoginPage.ts
  tests/system/run.app.test.tsx
  tests/system/utils/runApplication.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: rewrite on playwright
  .github/workflows/playwright.yml
  .gitignore
  docker-compose.yml
  docker/Dockerfile
  docker/Dockerfile.tests
  e2e/example.spec.ts
  package-lock.json
  playwright.config.ts
  pnpm-lock.yaml
  tests-examples/demo-todo-app.spec.ts
  tests/system/jest.system.config.ts
  tests/system/matrix/matrix.login.while.multisig.creation.test.tsx
  tests/system/matrix/run.app.system.test.tsx
  tests/system/pages/loginPage/BaseLoginPage.ts
  tests/system/run.app.test.tsx
  tests/system/utils/runApplication.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: rewrite on playwright
  e2e/example.spec.ts
  tests-examples/demo-todo-app.spec.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fixed pr comments
  src/renderer/app/App.tsx
  src/renderer/entities/price/model/currency-model.ts
  src/renderer/widgets/SelectCurrencyModal/index.ts
  src/renderer/widgets/SelectCurrencyModal/ui/SelectCurrencyModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Transaction service refactoring (#1053)
  pnpm-lock.yaml
  src/renderer/entities/multisig/lib/multisigTx/common/utils.ts
  src/renderer/entities/transaction/lib/common/types.ts
  src/renderer/entities/transaction/lib/extrinsicService.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/features/operation/init/ui/OperationFooter.tsx
  src/renderer/pages/Staking/Operations/Bond/Bond.test.tsx
  src/renderer/pages/Staking/Operations/Bond/Bond.tsx
  src/renderer/pages/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/ChangeValidators.test.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Destination/Destination.test.tsx
  src/renderer/pages/Staking/Operations/Destination/Destination.tsx
  src/renderer/pages/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/pages/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Restake/Restake.test.tsx
  src/renderer/pages/Staking/Operations/Restake/Restake.tsx
  src/renderer/pages/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/StakeMore/StakeMore.test.tsx
  src/renderer/pages/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/pages/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Unstake/Unstake.test.tsx
  src/renderer/pages/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/pages/Staking/Operations/components/Confirmation/Confirmation.test.tsx
  src/renderer/pages/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Confirmation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/InitOperation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Submit.tsx
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Transaction service refactoring
  pnpm-lock.yaml
  src/renderer/entities/multisig/lib/multisigTx/common/utils.ts
  src/renderer/entities/transaction/lib/common/types.ts
  src/renderer/entities/transaction/lib/extrinsicService.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/features/operation/init/ui/OperationFooter.tsx
  src/renderer/pages/Staking/Operations/Bond/Bond.test.tsx
  src/renderer/pages/Staking/Operations/Bond/Bond.tsx
  src/renderer/pages/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/ChangeValidators.test.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Destination/Destination.test.tsx
  src/renderer/pages/Staking/Operations/Destination/Destination.tsx
  src/renderer/pages/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/pages/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Restake/Restake.test.tsx
  src/renderer/pages/Staking/Operations/Restake/Restake.tsx
  src/renderer/pages/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/StakeMore/StakeMore.test.tsx
  src/renderer/pages/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/pages/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Unstake/Unstake.test.tsx
  src/renderer/pages/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/pages/Staking/Operations/components/Confirmation/Confirmation.test.tsx
  src/renderer/pages/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Confirmation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/InitOperation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Submit.tsx
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: add more cases
  tests/system/BaseTestConfig.ts
  tests/system/matrix/authorisation/matrix.auth.system.test.tsx
  tests/system/onboarding/polkadotVault/vault.onboarding.system.test.tsx
  tests/system/onboarding/watchOnly/watch.only.onboarding.system.test.tsx
  tests/system/pages/BasePage.ts
  tests/system/pages/_elements/AssetsPageElements.ts
  tests/system/pages/_elements/LoginPageElements.ts
  tests/system/pages/assetsPage/BaseAssetsPage.ts
  tests/system/pages/assetsPage/WatchOnlyPageAssetsPage.ts
  tests/system/pages/loginPage/BaseLoginPage.ts
  tests/system/pages/loginPage/LoginPageElements.ts
  tests/system/pages/loginPage/PolkadotVaultLoginPage.ts
  tests/system/pages/loginPage/WatchOnlyLoginPage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: matrix login test
  .github/workflows/playwright.yml
  .github/workflows/system_tests.yml
  docker/Dockerfile.tests
  tests/system/BaseTestConfig.ts
  tests/system/README.md
  tests/system/matrix/authorisation/matrix.auth.system.test.tsx
  tests/system/pages/BaseModalWindow.ts
  tests/system/pages/_elements/AssetsPageElements.ts
  tests/system/pages/_elements/BaseModalElements.ts
  tests/system/pages/_elements/BasePageElements.ts
  tests/system/pages/_elements/LoginPageElements.ts
  tests/system/pages/_elements/MatrixModalElements.ts
  tests/system/pages/_elements/SettingsPageElements.ts
  tests/system/pages/assetsPage/WatchOnlyPageAssetsPage.ts
  tests/system/pages/loginPage/BaseLoginPage.ts
  tests/system/pages/modals/MatrixModalWindow.ts
  tests/system/pages/settingsPage/BaseSettingsPage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: dockercompose files
  docker/Dockerfile.tests
Due: none

chore: fix package.json
  package-lock.json
  package.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix package.json
  package.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: resolve conflicts
  .github/workflows/system_tests.yml
  pnpm-lock.yaml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: linter problems
  .github/workflows/system_tests.yml
  tests/system/BaseTestConfig.ts
  tests/system/matrix/authorisation/matrix.auth.system.test.tsx
  tests/system/onboarding/polkadotVault/vault.onboarding.system.test.tsx
  tests/system/onboarding/watchOnly/watch.only.onboarding.system.test.tsx
  tests/system/pages/BaseModalWindow.ts
  tests/system/pages/BasePage.ts
  tests/system/pages/_elements/AssetsPageElements.ts
  tests/system/pages/_elements/BaseModalElements.ts
  tests/system/pages/_elements/BasePageElements.ts
  tests/system/pages/_elements/LoginPageElements.ts
  tests/system/pages/_elements/MatrixModalElements.ts
  tests/system/pages/_elements/SettingsPageElements.ts
  tests/system/pages/assetsPage/BaseAssetsPage.ts
  tests/system/pages/assetsPage/WatchOnlyPageAssetsPage.ts
  tests/system/pages/loginPage/BaseLoginPage.ts
  tests/system/pages/loginPage/PolkadotVaultLoginPage.ts
  tests/system/pages/loginPage/WatchOnlyLoginPage.ts
  tests/system/pages/modals/MatrixModalWindow.ts
  tests/system/pages/settingsPage/BaseSettingsPage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: add info and remove redundant browsers
  .github/workflows/system_tests.yml
  docker-compose.yml
  package.json
  playwright.config.ts
  tests/system/README.md
  tests/system/matrix/authorisation/matrix.auth.system.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: increase matrix timeout
  tests/system/matrix/authorisation/matrix.auth.system.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: add matrix login in multisig creation flow
  .github/workflows/system_tests.yml
  tests/system/matrix/authorisation/matrix.auth.system.test.tsx
  tests/system/pages/_elements/AssetsPageElements.ts
  tests/system/pages/_elements/WalletModalElements.ts
  tests/system/pages/assetsPage/WatchOnlyPageAssetsPage.ts
  tests/system/pages/modals/WalletModalWindow.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged
