Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/renderer/shared/api/translation/locales/*.json": ["pnpm lint:i18n-fix"]
}

chore: add tests
  src/renderer/entities/proxy/lib/__tests__/utils.test.ts
  src/renderer/features/proxies/lib/__tests__/utils.test.ts
  src/renderer/shared/lib/utils/constants.ts
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/__tests__/InitOperation.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: update to current dev
  docker-compose.yml
  package.json
  playwright.config.ts
  tests/system/README.md
  tests/system/matrix/matrix.auth.system.test.tsx
  tests/system/onboarding/vault.onboarding.system.test.tsx
  tests/system/onboarding/watch.only.onboarding.system.test.tsx
  tests/system/pages/_elements/AssetsPageElements.ts
  tests/system/pages/_elements/LoginPageElements.ts
  tests/system/pages/_elements/SettingsPageElements.ts
  tests/system/pages/loginPage/WatchOnlyLoginPage.ts
  tests/system/pages/settingsPage/BaseSettingsPage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: pr update
  src/renderer/shared/core/types/notification.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: add tests
  src/renderer/entities/wallet/lib/__tests__/wallet-utils.test.ts
  src/renderer/entities/wallet/lib/wallet-utils.ts
  src/renderer/shared/lib/utils/__tests__/substrate.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: add tests
  src/renderer/entities/wallet/lib/__tests__/account-utils.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: add tests for proxied wallets
  src/renderer/entities/wallet/model/__tests__/mocks/wallet-mock.ts
  src/renderer/entities/wallet/model/__tests__/wallet-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: remove unused tests
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/__tests__/InitOperation.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: update tests for wallet model
  src/renderer/entities/wallet/model/__tests__/wallet-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: add tests for accounts
  src/renderer/entities/wallet/lib/__tests__/account-utils.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: update tests for proxiesutils
  src/renderer/features/proxies/lib/__tests__/utils.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: clean up code
  playwright.config.ts
  tests/system/BaseTestConfig.ts
  tests/system/README.md
  tests/system/matrix/matrix.auth.system.test.tsx
  tests/system/onboarding/vault.onboarding.system.test.tsx
  tests/system/onboarding/watch.only.onboarding.system.test.tsx
  tests/system/pages/_elements/AssetsPageElements.ts
  tests/system/pages/_elements/MatrixModalElements.ts
  tests/system/pages/_elements/SettingsPageElements.ts
  tests/system/pages/assetsPage/WatchOnlyPageAssetsPage.ts
  tests/system/pages/loginPage/WatchOnlyLoginPage.ts
  tests/system/pages/modals/MatrixModalWindow.ts
  tests/system/pages/settingsPage/BaseSettingsPage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: add proxied wallets
  src/renderer/app/index.tsx
  src/renderer/entities/balance/model/balance-model.ts
  src/renderer/entities/proxy/index.ts
  src/renderer/entities/proxy/lib/__tests__/utils.test.ts
  src/renderer/entities/proxy/lib/utils.ts
  src/renderer/entities/proxy/model/proxy-model.ts
  src/renderer/entities/wallet/lib/__tests__/account-utils.test.ts
  src/renderer/entities/wallet/lib/__tests__/wallet-utils.test.ts
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/entities/wallet/lib/wallet-utils.ts
  src/renderer/entities/wallet/model/__tests__/mocks/wallet-mock.ts
  src/renderer/entities/wallet/model/__tests__/wallet-model.test.ts
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/proxies/lib/__tests__/utils.test.ts
  src/renderer/features/proxies/lib/utils.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
  src/renderer/features/wallets/ForgetWallet/model/__tests__/forget-wallet-model.test.ts
  src/renderer/features/wallets/ForgetWallet/model/forget-wallet-model.ts
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/proxy.ts
  src/renderer/shared/core/types/wallet.ts
  src/renderer/shared/lib/utils/__tests__/substrate.test.ts
  src/renderer/shared/lib/utils/constants.ts
  src/renderer/widgets/WalletDetails/model/wc-details-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: add proxied wallets (#1344)
  src/renderer/app/index.tsx
  src/renderer/entities/balance/model/balance-model.ts
  src/renderer/entities/proxy/index.ts
  src/renderer/entities/proxy/lib/__tests__/utils.test.ts
  src/renderer/entities/proxy/lib/utils.ts
  src/renderer/entities/proxy/model/proxy-model.ts
  src/renderer/entities/wallet/lib/__tests__/account-utils.test.ts
  src/renderer/entities/wallet/lib/__tests__/wallet-utils.test.ts
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/entities/wallet/lib/wallet-utils.ts
  src/renderer/entities/wallet/model/__tests__/mocks/wallet-mock.ts
  src/renderer/entities/wallet/model/__tests__/wallet-model.test.ts
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/proxies/lib/__tests__/utils.test.ts
  src/renderer/features/proxies/lib/utils.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
  src/renderer/features/wallets/ForgetWallet/model/__tests__/forget-wallet-model.test.ts
  src/renderer/features/wallets/ForgetWallet/model/forget-wallet-model.ts
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/proxy.ts
  src/renderer/shared/core/types/wallet.ts
  src/renderer/shared/lib/utils/__tests__/substrate.test.ts
  src/renderer/shared/lib/utils/constants.ts
  src/renderer/widgets/WalletDetails/model/wc-details-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: adding publication
  .github/workflows/system_tests.yml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: increase timeout
  tests/system/matrix/matrix.auth.system.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: save many reports
  .github/workflows/system_tests.yml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: url
  .github/workflows/system_tests.yml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: set only for main branch
  .github/workflows/system_tests.yml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: added proxy accounts to wallet details
  src/renderer/entities/proxy/index.ts
  src/renderer/entities/proxy/lib/constants.ts
  src/renderer/entities/proxy/lib/types.ts
  src/renderer/entities/proxy/ui/EmptyProxyList.tsx
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.tsx
  src/renderer/entities/proxy/ui/ProxyPopover.tsx
  src/renderer/entities/wallet/ui/MultiAccountsList/MultiAccountsList.tsx
  src/renderer/entities/wallet/ui/VaultAccountsList/VaultAccountsList.tsx
  src/renderer/features/proxies/index.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/assets/images/functionals/empty-list.svg
  src/renderer/shared/core/index.ts
  src/renderer/shared/ui/Icon/data/functionals.tsx
  src/renderer/widgets/WalletDetails/ui/MultishardWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/ProxiesList.tsx
  src/renderer/widgets/WalletDetails/ui/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/VaultWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: i18n update
  src/renderer/shared/ui/Duration/Duration.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: added sorting for proxy accounts
  src/renderer/entities/proxy/lib/utils.ts
  src/renderer/widgets/WalletDetails/ui/ProxiesList.tsx
  src/renderer/widgets/WalletDetails/ui/SimpleWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: sorted locale file
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

chore: linter error fix
  src/renderer/widgets/WalletDetails/ui/VaultWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Adding system tests (#1086)
  .github/workflows/system_tests.yml
  .gitignore
  docker-compose.yml
  docker/Dockerfile
  docker/Dockerfile.tests
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/system/BaseTestConfig.ts
  tests/system/README.md
  tests/system/matrix/matrix.auth.system.test.tsx
  tests/system/onboarding/vault.onboarding.system.test.tsx
  tests/system/onboarding/watch.only.onboarding.system.test.tsx
  tests/system/pages/BaseModalWindow.ts
  tests/system/pages/BasePage.ts
  tests/system/pages/_elements/AssetsPageElements.ts
  tests/system/pages/_elements/BaseModalElements.ts
  tests/system/pages/_elements/BasePageElements.ts
  tests/system/pages/_elements/LoginPageElements.ts
  tests/system/pages/_elements/MatrixModalElements.ts
  tests/system/pages/_elements/SettingsPageElements.ts
  tests/system/pages/_elements/WalletModalElements.ts
  tests/system/pages/assetsPage/BaseAssetsPage.ts
  tests/system/pages/assetsPage/WatchOnlyPageAssetsPage.ts
  tests/system/pages/loginPage/BaseLoginPage.ts
  tests/system/pages/loginPage/PolkadotVaultLoginPage.ts
  tests/system/pages/loginPage/WatchOnlyLoginPage.ts
  tests/system/pages/modals/MatrixModalWindow.ts
  tests/system/pages/modals/WalletModalWindow.ts
  tests/system/pages/settingsPage/BaseSettingsPage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Adding system tests
  .github/workflows/system_tests.yml
  .gitignore
  docker-compose.yml
  docker/Dockerfile
  docker/Dockerfile.tests
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/system/BaseTestConfig.ts
  tests/system/README.md
  tests/system/matrix/matrix.auth.system.test.tsx
  tests/system/onboarding/vault.onboarding.system.test.tsx
  tests/system/onboarding/watch.only.onboarding.system.test.tsx
  tests/system/pages/BaseModalWindow.ts
  tests/system/pages/BasePage.ts
  tests/system/pages/_elements/AssetsPageElements.ts
  tests/system/pages/_elements/BaseModalElements.ts
  tests/system/pages/_elements/BasePageElements.ts
  tests/system/pages/_elements/LoginPageElements.ts
  tests/system/pages/_elements/MatrixModalElements.ts
  tests/system/pages/_elements/SettingsPageElements.ts
  tests/system/pages/_elements/WalletModalElements.ts
  tests/system/pages/assetsPage/BaseAssetsPage.ts
  tests/system/pages/assetsPage/WatchOnlyPageAssetsPage.ts
  tests/system/pages/loginPage/BaseLoginPage.ts
  tests/system/pages/loginPage/PolkadotVaultLoginPage.ts
  tests/system/pages/loginPage/WatchOnlyLoginPage.ts
  tests/system/pages/modals/MatrixModalWindow.ts
  tests/system/pages/modals/WalletModalWindow.ts
  tests/system/pages/settingsPage/BaseSettingsPage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: use ExplorerPopover
  src/renderer/entities/signatory/ui/SignatoryCard/SignatoryCard.test.tsx
  src/renderer/entities/signatory/ui/SignatoryCard/SignatoryCard.tsx
  src/renderer/entities/transaction/ui/Scanning/ScanSingleframeQr.tsx
  src/renderer/entities/wallet/index.ts
  src/renderer/entities/wallet/lib/useAddressInfo.tsx
  src/renderer/entities/wallet/model/__tests__/wallet-model.test.ts
  src/renderer/entities/wallet/ui/AccountAddress/AccountAddress.tsx
  src/renderer/entities/wallet/ui/AddressWithExplorers/AddressWithExplorers.tsx
  src/renderer/entities/wallet/ui/Cards/WalletCardSm.tsx
  src/renderer/features/operation/sign/ui/VaultSigning/VaultSigning.tsx
  src/renderer/features/wallets/WalletSelect/model/wallet-select-model.ts
  src/renderer/features/wallets/WalletSelect/ui/WalletGroup.tsx
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Operations/components/OperationCardDetails.tsx
  src/renderer/pages/Staking/Operations/common/utils.tsx
  src/renderer/pages/Staking/Operations/components/AccountsModal/AccountsModal.tsx
  src/renderer/pages/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/renderer/pages/Staking/Operations/components/Modals/AccountsModal/AccountsModal.test.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/NominatorItem/NominatorItem.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/api/xcm/__tests__/mock/xcmData.ts
  src/renderer/shared/ui/Popovers/InfoPopover/InfoPopover.stories.tsx
  src/renderer/shared/ui/Popovers/InfoPopover/InfoPopover.test.tsx
  src/renderer/shared/ui/Popovers/InfoPopover/InfoPopover.tsx
  src/renderer/shared/ui/index.ts
  src/renderer/widgets/CreateWallet/ui/CreateWalletProvider.tsx
  src/renderer/widgets/SendAssetModal/ui/components/Details.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: pr fixes
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: pr fixes
  src/renderer/entities/proxy/lib/__tests__/utils.test.ts
  src/renderer/entities/wallet/lib/__tests__/wallet-utils.test.ts
  src/renderer/features/proxies/lib/__tests__/utils.test.ts
  src/renderer/features/proxies/lib/__tests__/worker-utils.test.ts
  src/renderer/features/proxies/lib/worker-utils.ts
  src/renderer/shared/lib/hooks/__tests__/useTaskQueue.test.ts
  src/renderer/shared/lib/utils/__tests__/substrate.test.ts
  tests/integrations/dataVerification/dataVerification.base.test.ts
  tests/integrations/matrix/matrix.base.test.ts
  tests/integrations/migrations/migration-2.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: proxied name
  src/renderer/entities/proxy/lib/__tests__/utils.test.ts
  src/renderer/entities/proxy/lib/utils.ts
  src/renderer/features/notifications/NotificationsList/ui/notifies/ProxyCreatedNotification.tsx
  src/renderer/features/notifications/NotificationsList/ui/notifies/ProxyRemovedNotification.tsx
  src/renderer/features/proxies/lib/utils.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
  src/renderer/shared/core/types/notification.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: update proxy accounts and deposits
  src/renderer/app/index.tsx
  src/renderer/entities/notification/lib/common/types.ts
  src/renderer/entities/proxy/index.ts
  src/renderer/entities/proxy/lib/__tests__/utils.test.ts
  src/renderer/entities/proxy/lib/constants.ts
  src/renderer/entities/proxy/lib/types.ts
  src/renderer/entities/proxy/lib/utils.ts
  src/renderer/entities/proxy/model/__tests__/proxy-model.test.ts
  src/renderer/entities/proxy/model/proxy-model.ts
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.stories.tsx
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.test.tsx
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.tsx
  src/renderer/entities/wallet/lib/__tests__/wallet-utils.test.ts
  src/renderer/features/proxies/lib/__tests__/utils.test.ts
  src/renderer/features/proxies/model/__tests__/proxies-model.test.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/proxies/workers/__tests__/proxy-worker.test.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
  src/renderer/shared/api/storage/lib/types.ts
  src/renderer/shared/api/storage/service/dexie.ts
  src/renderer/shared/api/storage/service/storageService.ts
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/proxy.ts
  src/renderer/shared/lib/hooks/__tests__/useTaskQueue.test.ts
  src/renderer/shared/lib/utils/__tests__/substrate.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: revert code for refactoring
  src/renderer/features/proxies/model/proxies-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix deposits calc
  src/renderer/features/proxies/model/proxies-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix deposit calc
  src/renderer/entities/proxy/model/proxy-model.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
  src/renderer/shared/core/types/proxy.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: update tests
  src/renderer/entities/proxy/model/__tests__/proxy-model.test.ts
  src/renderer/features/proxies/workers/__tests__/proxy-worker.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: add ts ignore
  src/renderer/features/proxies/model/__tests__/proxies-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: delelegated wallet name fix
  src/renderer/entities/proxy/lib/__tests__/utils.test.ts
  src/renderer/entities/proxy/lib/utils.ts
  src/renderer/features/proxies/model/proxies-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged
