Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/renderer/shared/api/translation/locales/*.json": ["pnpm lint:i18n-fix"]
}

fix: remove staking for polkadex/ternoa (#1430)
  src/renderer/shared/config/chains/chains.json
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: typo
  src/renderer/entities/operation/ui/SignButton.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: key constructor screen check derivation path to be uniqu only inside current network
  src/renderer/features/wallets/KeyConstructor/model/constructor-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: derivations import for new chain
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/model/import-keys-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: Added main key type to edit keys modal dropdown
  src/renderer/features/wallets/KeyConstructor/ui/KeyForm.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: show type main keys on edit screen
  src/renderer/features/wallets/KeyConstructor/model/constructor-model.ts
  src/renderer/features/wallets/KeyConstructor/ui/KeysList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: removed visible keye test
  src/renderer/features/wallets/KeyConstructor/model/__tests__/constructor-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: Add main key type to key type dropdon for DD (#1438)
  src/renderer/features/wallets/KeyConstructor/model/__tests__/constructor-model.test.ts
  src/renderer/features/wallets/KeyConstructor/model/constructor-model.ts
  src/renderer/features/wallets/KeyConstructor/ui/KeyForm.tsx
  src/renderer/features/wallets/KeyConstructor/ui/KeysList.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: removed mutating of subAccounts
  src/renderer/app/index.tsx
  src/renderer/features/balances/subscription/lib/balance-sub-utils.ts
  src/renderer/features/balances/subscription/model/balance-sub-model.ts
  src/renderer/shared/lib/utils/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr review
  src/renderer/entities/balance/lib/balance-utils.ts
  src/renderer/features/balances/subscription/lib/balance-sub-utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: use BrowserRouter
  src/renderer/app/index.tsx
  src/renderer/pages/index.tsx
  src/renderer/widgets/MatrixModal/ui/LoginForm.tsx
  webpack/webpack.renderer.dev.ts
  webpack/webpack.renderer.prod.ts
  webpack/webpack.renderer.stage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: derivations import for new chain
  src/renderer/features/wallets/ImportKeys/lib/__tests__/import-keys-model.test.ts
  src/renderer/features/wallets/ImportKeys/lib/mocks/import-keys-model.mock.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: added test for derivation path duplicate check
  src/renderer/features/wallets/KeyConstructor/model/__tests__/constructor-model.test.ts
  src/renderer/features/wallets/KeyConstructor/model/__tests__/mocks/constructor-mock.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: matrix models
  src/renderer/app/providers/context/MatrixContext/MatrixContext.tsx
  src/renderer/app/providers/context/MatrixContext/index.ts
  src/renderer/entities/matrix/index.ts
  src/renderer/entities/matrix/lib/matrix-utils.ts
  src/renderer/entities/matrix/lib/types.ts
  src/renderer/entities/matrix/model/matrix-model.ts
  src/renderer/features/matrix/MatrixAutoLogin/index.ts
  src/renderer/features/matrix/MatrixAutoLogin/model/matrix-autologin-model.ts
  src/renderer/features/matrix/MatrixAutoLogin/ui/MatrixAutoLogin.tsx
  src/renderer/pages/Operations/components/ActionSteps/Submit.tsx
  src/renderer/pages/Operations/components/OperationCardDetails.tsx
  src/renderer/pages/Operations/components/OperationFullInfo.tsx
  src/renderer/pages/Settings/Matrix/Matrix.tsx
  src/renderer/pages/Settings/Overview/components/MatrixAction/MatrixAction.tsx
  src/renderer/pages/Staking/Operations/components/Submit/Submit.tsx
  src/renderer/shared/api/matrix/lib/errors.ts
  src/renderer/shared/api/matrix/lib/types.ts
  src/renderer/shared/api/matrix/service/matrix.ts
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/MultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/WalletForm.tsx
  src/renderer/widgets/MatrixModal/ui/Credentials.tsx
  src/renderer/widgets/MatrixModal/ui/LoginForm.tsx
  src/renderer/widgets/MatrixModal/ui/Verification.tsx
  src/renderer/widgets/RemoveProxy/ui/Submit.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Submit.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: moved matrix features, fixed tests
  src/renderer/app/providers/context/MatrixContext/MatrixContext.test.tsx
  src/renderer/app/providers/context/MatrixContext/MatrixContext.tsx
  src/renderer/features/matrix/MatrixLogin/index.ts
  src/renderer/features/matrix/MatrixLogin/ui/LoginForm.test.tsx
  src/renderer/features/matrix/MatrixLogin/ui/LoginForm.tsx
  src/renderer/features/matrix/MatrixLogin/ui/MatrixLogin.tsx
  src/renderer/features/matrix/MatrixVerification/index.ts
  src/renderer/features/matrix/MatrixVerification/ui/MatrixVerification.tsx
  src/renderer/features/matrix/MatrixVerification/ui/UserInfo.test.tsx
  src/renderer/features/matrix/MatrixVerification/ui/UserInfo.tsx
  src/renderer/features/matrix/MatrixVerification/ui/Verification.test.tsx
  src/renderer/features/matrix/MatrixVerification/ui/Verification.tsx
  src/renderer/features/matrix/index.ts
  src/renderer/pages/Settings/Matrix/Matrix.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/MultisigWallet.test.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/MultisigWallet.tsx
  src/renderer/widgets/MatrixModal/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: updated unique derivation path validation (#1437)
  src/renderer/features/wallets/ImportKeys/lib/__tests__/import-keys-model.test.ts
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/lib/mocks/import-keys-model.mock.ts
  src/renderer/features/wallets/ImportKeys/model/import-keys-model.ts
  src/renderer/features/wallets/KeyConstructor/model/__tests__/constructor-model.test.ts
  src/renderer/features/wallets/KeyConstructor/model/__tests__/mocks/constructor-mock.ts
  src/renderer/features/wallets/KeyConstructor/model/constructor-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: electron protocol
  app.config.js
  package.json
  src/main/factories/instance.ts
  src/main/factories/setup.ts
  src/main/index.ts
  src/main/shared/bridge.ts
  src/main/shared/constants/environment.ts
  src/renderer/app/App.tsx
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.tsx
  webpack/webpack.main.stage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: update feedback and bug report templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

feat: update feedback and bug report templates (#1446)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

feat: deep link
  app.config.js
  electron-builder.js
  package.json
  pnpm-lock.yaml
  src/main/factories/create.ts
  src/main/factories/menu.ts
  src/main/factories/setup.ts
  src/main/index.ts
  src/main/main.ts
  src/renderer/app/index.tsx
  webpack/webpack.renderer.dev.ts
  webpack/webpack.renderer.prod.ts
  webpack/webpack.renderer.stage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: single chain multisig account
  src/renderer/entities/wallet/ui/Cards/WalletCardMd.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/ui/RadioGroup/RadioCard.tsx
  src/renderer/shared/ui/RadioGroup/RadioGroup.tsx
  src/renderer/shared/ui/RadioGroup/common/types.ts
  src/renderer/shared/ui/Typography/common/types.ts
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-mode.ts
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/MultiChainMultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/MultisigWallet.test.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/MultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/SelectMultisigWalletType.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/SingleChainMultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/common/constants.ts
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/common/types.ts
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/AccountItem.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/ConfirmSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectAccountSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/WalletForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: store chainid for multisig account
  src/renderer/shared/core/types/account.ts
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-mode.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: search accounts on single-chain multisig creation
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectAccountSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: save signatories
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/SingleChainMultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/ConfirmSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: sharded accounts view
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectAccountSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: signatories list ui
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectAccountSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: use single chain multisig only for selected chain
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/WalletForm.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix i18n
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

feat: cleaned up electron section
  package.json
  src/main/factories/create.ts
  src/main/factories/instance.ts
  src/main/factories/logs.ts
  src/main/factories/menu.ts
  src/main/factories/setup.ts
  src/main/factories/updater.ts
  src/main/factories/window.ts
  src/main/index.ts
  src/main/main.ts
  src/main/shared/bridge.ts
  src/main/shared/constants/index.ts
  src/main/shared/constants/store.ts
  src/main/shared/lib/utils.ts
  src/main/shared/types/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: connect to ws in worker
  src/main/main.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: some refactoring
  src/renderer/features/proxies/workers/proxy-worker.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: skip matrix room creation for my accounts
  src/renderer/app/providers/context/MatrixContext/MatrixContext.tsx
  src/renderer/pages/Operations/components/ActionSteps/Submit.tsx
  src/renderer/pages/Staking/Operations/components/Submit/Submit.tsx
  src/renderer/shared/core/types/account.ts
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-mode.ts
  src/renderer/widgets/RemoveProxy/ui/Submit.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Submit.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: deep link
  package.json
  src/main/factories/protocol.ts
  src/main/factories/setup.ts
  src/main/factories/window.ts
  src/main/index.ts
  webpack/webpack.renderer.dev.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: refactor multi chain multisig
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-mode.ts
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/MultiChainMultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/SingleChainMultisigWallet.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: some fixes for multi chain multisig
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/MultiChainMultisigWallet.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: shoe matrix login on multisig wallet type select
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/MultiChainMultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/MultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/SingleChainMultisigWallet.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: deep link redirect for web
  src/renderer/app/App.tsx
  src/renderer/app/index.tsx
  src/renderer/features/matrix/MatrixAutoLogin/ui/MatrixAutoLogin.tsx
  src/renderer/features/matrix/MatrixLogin/ui/LoginForm.tsx
  src/renderer/features/matrix/MatrixLogin/ui/MatrixLogin.tsx
  src/renderer/pages/Settings/Matrix/Matrix.tsx
  src/renderer/shared/ui/Buttons/ButtonWebLink/ButtonWebLink.stories.tsx
  src/renderer/shared/ui/Buttons/ButtonWebLink/ButtonWebLink.test.tsx
  src/renderer/shared/ui/Buttons/ButtonWebLink/ButtonWebLink.tsx
  src/renderer/shared/ui/Buttons/index.ts
  src/renderer/shared/ui/index.ts
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/MultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx
