Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

feat: destination chain on confirm screen
  src/renderer/entities/transaction/ui/XcmFee/XcmFee.test.tsx
  src/renderer/entities/transaction/ui/XcmFee/XcmFee.tsx
  src/renderer/features/operation/init/ui/OperationFooter.tsx
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Confirmation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/Details.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: confirmation screen
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/widgets/SendAssetModal/model/send-asset.ts
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: hide xcm fee for non-xcm transfer
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: xcm fee calculation
  src/renderer/features/operation/init/ui/OperationFooter.tsx
  src/renderer/shared/api/xcm/__tests__/xcmService.test.ts
  src/renderer/shared/api/xcm/xcmService.ts
  src/renderer/widgets/SendAssetModal/model/send-asset.ts
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/InitOperation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix xcm modal title
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: xcm title
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: first fee calculation
  src/renderer/widgets/SendAssetModal/model/send-asset.ts
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: multisig creation
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: comments
  src/renderer/features/operation/init/ui/OperationFooter.tsx
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: add todo
  src/renderer/features/operation/init/ui/OperationFooter.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: add support destWeight for old xtokens
  src/renderer/entities/transaction/lib/common/constants.ts
  src/renderer/entities/transaction/lib/common/types.ts
  src/renderer/entities/transaction/lib/common/utils.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/shared/api/xcm/xcmService.ts
  src/renderer/widgets/SendAssetModal/model/send-asset.ts
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/InitOperation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: signatory error fix
  src/renderer/entities/transaction/lib/extrinsicService.ts
  src/renderer/pages/Staking/Operations/Destination/Destination.tsx
  src/renderer/pages/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/pages/Staking/Operations/Restake/Restake.tsx
  src/renderer/pages/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/pages/Staking/Operations/Unstake/Unstake.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: renamed wrappers
  src/renderer/entities/transaction/lib/common/types.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/pages/Staking/Operations/Bond/Bond.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/pages/Staking/Operations/Destination/Destination.tsx
  src/renderer/pages/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/pages/Staking/Operations/Restake/Restake.tsx
  src/renderer/pages/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/pages/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: renamed operation footer prop and make it optional
  src/renderer/features/operation/init/ui/OperationFooter.tsx
  src/renderer/pages/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/InitOperation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: update metadata
  src/renderer/entities/network/lib/common/types.ts
  src/renderer/entities/network/lib/metadataService.ts
  src/renderer/entities/network/lib/provider/CachedProvider.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Feat: XCM config & service (#1051)
  docs/effector.md
  jest.config.ts
  package.json
  pnpm-lock.yaml
  src/renderer/app/App.tsx
  src/renderer/app/index.tsx
  src/renderer/domain/identity.ts
  src/renderer/domain/shared-kernel.ts
  src/renderer/domain/validator.ts
  src/renderer/entities/contact/model/contact.ts
  src/renderer/entities/transaction/lib/common/types.ts
  src/renderer/entities/transaction/lib/common/xcmMethods.ts
  src/renderer/entities/xcm/index.ts
  src/renderer/entities/xcm/model/xcm-model.ts
  src/renderer/shared/api/xcm/__tests__/mock/xcmData.ts
  src/renderer/shared/api/xcm/__tests__/xcmService.test.ts
  src/renderer/shared/api/xcm/common/constants.ts
  src/renderer/shared/api/xcm/common/types.ts
  src/renderer/shared/api/xcm/index.ts
  src/renderer/shared/api/xcm/xcmService.ts
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/model/kernel-model.ts
  src/renderer/widgets/SendAssetModal/index.ts
  src/renderer/widgets/SendAssetModal/model/__tests__/send-asset.test.ts
  src/renderer/widgets/SendAssetModal/model/send-asset.ts
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
  src/renderer/widgets/SendAssetModal/ui/common/constants.ts
  src/renderer/widgets/SendAssetModal/ui/components/Details.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: XCM config & service
  docs/effector.md
  jest.config.ts
  package.json
  pnpm-lock.yaml
  src/renderer/app/App.tsx
  src/renderer/app/index.tsx
  src/renderer/domain/identity.ts
  src/renderer/domain/shared-kernel.ts
  src/renderer/domain/validator.ts
  src/renderer/entities/contact/model/contact.ts
  src/renderer/entities/transaction/lib/common/types.ts
  src/renderer/entities/transaction/lib/common/xcmMethods.ts
  src/renderer/entities/xcm/index.ts
  src/renderer/entities/xcm/model/xcm-model.ts
  src/renderer/shared/api/xcm/__tests__/mock/xcmData.ts
  src/renderer/shared/api/xcm/__tests__/xcmService.test.ts
  src/renderer/shared/api/xcm/common/constants.ts
  src/renderer/shared/api/xcm/common/types.ts
  src/renderer/shared/api/xcm/index.ts
  src/renderer/shared/api/xcm/xcmService.ts
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/model/kernel-model.ts
  src/renderer/widgets/SendAssetModal/index.ts
  src/renderer/widgets/SendAssetModal/model/__tests__/send-asset.test.ts
  src/renderer/widgets/SendAssetModal/model/send-asset.ts
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
  src/renderer/widgets/SendAssetModal/ui/common/constants.ts
  src/renderer/widgets/SendAssetModal/ui/components/Details.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: update metadata (#1056)
  src/renderer/entities/network/lib/common/types.ts
  src/renderer/entities/network/lib/metadataService.ts
  src/renderer/entities/network/lib/provider/CachedProvider.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: myself button for xcm transfer
  src/renderer/pages/Operations/components/modals/AccountSelectModal/AccountSelectModal.tsx
  src/renderer/pages/Operations/components/modals/AccountSelectModal/SelectableAccount.tsx
  src/renderer/shared/ui/Buttons/common/constants.ts
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/InitOperation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fix text
  src/renderer/pages/Operations/components/modals/AccountSelectModal/AccountSelectModal.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fix design
  src/renderer/pages/Operations/components/modals/AccountSelectModal/AccountSelectModal.tsx
  src/renderer/pages/Operations/components/modals/AccountSelectModal/SelectableAccount.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Update src/renderer/entities/transaction/lib/extrinsicService.ts
  src/renderer/entities/transaction/lib/extrinsicService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Update src/renderer/entities/multisig/lib/multisigTx/common/utils.ts
  src/renderer/entities/multisig/lib/multisigTx/common/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix comments
  src/renderer/widgets/SendAssetModal/model/send-asset.ts
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/InitOperation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/entities/transaction/lib/validateBalance.ts
  src/renderer/shared/api/xcm/xcmService.ts
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: remove account info on myself input
  src/renderer/pages/Operations/components/modals/AccountSelectModal/SelectableAccount.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/InitOperation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: myself button for xcm transfer (#1057)
  src/renderer/pages/Operations/components/modals/AccountSelectModal/AccountSelectModal.tsx
  src/renderer/pages/Operations/components/modals/AccountSelectModal/SelectableAccount.tsx
  src/renderer/shared/ui/Buttons/common/constants.ts
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/InitOperation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: add asset id in xcm transfer
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fixed pr comments
  src/renderer/entities/multisig/lib/multisigTx/common/utils.ts
  src/renderer/entities/transaction/lib/common/types.ts
  src/renderer/entities/transaction/lib/extrinsicService.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/pages/Staking/Operations/Bond/Bond.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/pages/Staking/Operations/Destination/Destination.tsx
  src/renderer/pages/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/pages/Staking/Operations/Restake/Restake.tsx
  src/renderer/pages/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/pages/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Submit.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fixed linter error
  src/renderer/entities/transaction/lib/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: xcm extrinsic decoding
  docs/effector.md
  src/renderer/app/providers/context/GraphqlContext/GraphqlContext.tsx
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/entities/chain/ui/ChainTitle/ChainTitle.test.tsx
  src/renderer/entities/chain/ui/ChainTitle/ChainTitle.tsx
  src/renderer/entities/chain/ui/XcmChains/XcmChains.stories.tsx
  src/renderer/entities/chain/ui/XcmChains/XcmChains.test.tsx
  src/renderer/entities/chain/ui/XcmChains/XcmChains.tsx
  src/renderer/entities/chain/ui/index.ts
  src/renderer/entities/multisig/lib/multisigTx/multisigTxService.ts
  src/renderer/entities/network/lib/chainsService.ts
  src/renderer/entities/network/lib/common/types.ts
  src/renderer/entities/network/lib/networkService.ts
  src/renderer/entities/transaction/lib/callDataDecoder.ts
  src/renderer/entities/transaction/lib/common/utils.ts
  src/renderer/features/assets/AssetRouteGuard/index.ts
  src/renderer/features/assets/AssetRouteGuard/model/asset-guard.ts
  src/renderer/pages/Assets/AssetsList/components/SelectShardModal/SelectShardModal.tsx
  src/renderer/pages/Onboarding/Vault/ManageStep/ManageStep.tsx
  src/renderer/pages/Onboarding/Vault/ManageStepSingle/ManageStepSingle.tsx
  src/renderer/pages/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Operations/components/Operation.tsx
  src/renderer/pages/Operations/components/TransactionAmount.tsx
  src/renderer/pages/Staking/Overview/components/NetworkInfo/NetworkInfo.tsx
  src/renderer/shared/api/xcm/__tests__/mock/xcmData.ts
  src/renderer/shared/api/xcm/__tests__/xcmService.test.ts
  src/renderer/shared/api/xcm/common/types.ts
  src/renderer/shared/api/xcm/common/utils.ts
  src/renderer/shared/api/xcm/xcmService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: styles, filter
  src/renderer/app/providers/context/GraphqlContext/GraphqlContext.test.tsx
  src/renderer/entities/transaction/model/transaction.ts
  src/renderer/features/operation/OperationsFilter/ui/OperationsFilter.tsx
  src/renderer/pages/Operations/components/Operation.tsx
  src/renderer/pages/Staking/Overview/components/NetworkInfo/NetworkInfo.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: one more test
  src/renderer/entities/chain/ui/ChainTitle/ChainTitle.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/entities/transaction/lib/common/constants.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/entities/transaction/ui/XcmFee/XcmFee.tsx
  src/renderer/pages/Operations/components/TransactionAmount.tsx
  src/renderer/shared/api/xcm/xcmService.ts
  src/renderer/shared/lib/utils/chains.ts
  src/renderer/shared/lib/utils/index.ts
  src/renderer/widgets/SendAssetModal/model/send-asset.ts
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/entities/transaction/ui/XcmFee/XcmFee.tsx
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: xcm confirm screen
  src/renderer/pages/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/pages/Operations/components/Details.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: approve reject modal title
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
  src/renderer/pages/Staking/Operations/Bond/Bond.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/pages/Staking/Operations/Destination/Destination.tsx
  src/renderer/pages/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/pages/Staking/Operations/Restake/Restake.tsx
  src/renderer/pages/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/pages/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix
