Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Fix: active era for hydradx (#1753)
  src/renderer/entities/staking/lib/useValidatorsMap.ts
  src/renderer/entities/transaction/lib/extrinsicService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

test: add tests for multisigs model
  src/renderer/entities/multisig/api/index.ts
  src/renderer/entities/multisig/index.ts
  src/renderer/features/multisigs/model/__tests__/multisigs-model.test.ts
  src/renderer/features/multisigs/model/multisigs-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: appimage
  .github/workflows/release.yaml
  electron-builder.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: remove xcm V4 from support
  src/renderer/shared/lib/utils/substrate.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Release 1.7.2
  electron-builder.js
  package.json
  src/renderer/entities/staking/lib/useValidatorsMap.ts
  src/renderer/entities/transaction/lib/extrinsicService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Release 1.7.2 (#1749)
  electron-builder.js
  package.json
  src/renderer/entities/staking/lib/useValidatorsMap.ts
  src/renderer/entities/transaction/lib/extrinsicService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: fixed linter
  electron-builder.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: update version
  package.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: remove xcm V4 from support (#1755)
  src/renderer/shared/lib/utils/substrate.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: update accounts
  src/renderer/entities/asset/ui/AssetLinks/AssetLinks.tsx
  src/renderer/features/assets/AssetsPortfolio/model/portfolio-model.ts
  src/renderer/features/assets/AssetsPortfolio/ui/NetworkCard.tsx
  src/renderer/features/assets/AssetsPortfolio/ui/TokenBalanceList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: add balances
  src/renderer/features/assets/AssetsPortfolio/lib/tokensService.tsx
  src/renderer/features/assets/AssetsPortfolio/lib/types.ts
  src/renderer/features/assets/AssetsPortfolio/model/portfolio-model.ts
  src/renderer/features/assets/AssetsPortfolio/ui/AssetsPortfolio.tsx
  src/renderer/features/assets/AssetsPortfolio/ui/NetworkCard.tsx
  src/renderer/features/assets/AssetsPortfolio/ui/TokenBalance.tsx
  src/renderer/features/assets/AssetsPortfolio/ui/TokenBalanceList.tsx
  src/renderer/pages/Assets/Assets/Assets.tsx
  src/renderer/shared/api/network/service/chainsService.ts
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/asset.ts
  src/renderer/shared/core/types/balance.ts
  src/renderer/shared/lib/utils/balance.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix tests
  src/renderer/features/operations/OperationSubmit/model/__tests__/submit-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix linting
  electron-builder.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: referendum details
  package.json
  pnpm-lock.yaml
  src/renderer/features/governance/ReferendumDetails/index.ts
  src/renderer/features/governance/ReferendumDetails/lib/referendum-details-utils.ts
  src/renderer/features/governance/ReferendumDetails/model/referendum-details-model.ts
  src/renderer/features/governance/ReferendumDetails/ui/ReferendumDetails.tsx
  src/renderer/features/governance/ReferendumDetails/ui/styles.css
  src/renderer/features/governance/ReferendumList/model/referendum-list-model.ts
  src/renderer/features/governance/ReferendumList/ui/ReferendumList.tsx
  src/renderer/features/governance/index.ts
  src/renderer/pages/Governance/model/governance-model.ts
  src/renderer/pages/Governance/ui/Governance.tsx
  src/renderer/shared/api/governance/off-chain/lib/off-chain-utils.ts
  src/renderer/shared/api/governance/off-chain/lib/types.ts
  src/renderer/shared/api/governance/off-chain/service/polkassemblyService.ts
  src/renderer/shared/api/governance/off-chain/service/subsquareService.ts
  src/renderer/shared/api/governance/on-chain/service/governanceService.ts
  src/renderer/shared/core/types/referendum.ts
  src/renderer/widgets/AddPureProxiedModal/model/add-pure-proxied-model.ts
  src/renderer/widgets/AddPureProxiedModal/ui/AddPureProxied.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: delete unused
  src/renderer/features/assets/AssetsPortfolio/model/portfolio-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: i18n
  src/renderer/features/governance/ReferendumDetails/ui/ReferendumDetails.tsx
  src/renderer/features/governance/ReferendumList/ui/ReferendumList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: update model
  src/renderer/pages/Assets/Assets/Assets.tsx
  src/renderer/pages/Assets/Assets/model/assets-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: save tx to basket
  src/renderer/entities/basket/model/basket-model.ts
  src/renderer/features/basket/basket.ts
  src/renderer/shared/api/storage/lib/types.ts
  src/renderer/shared/api/storage/service/dexie.ts
  src/renderer/shared/api/storage/service/storageService.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/basket.ts
  src/renderer/widgets/Staking/BondExtra/model/bond-extra-model.ts
  src/renderer/widgets/Staking/BondExtra/ui/Confirmation.tsx
  src/renderer/widgets/Staking/BondNominate/model/bond-nominate-model.ts
  src/renderer/widgets/Staking/BondNominate/ui/Confirmation.tsx
  src/renderer/widgets/Staking/Nominate/model/nominate-model.ts
  src/renderer/widgets/Staking/Payee/model/payee-model.ts
  src/renderer/widgets/Staking/Payee/ui/Confirmation.tsx
  src/renderer/widgets/Staking/Restake/model/form-model.ts
  src/renderer/widgets/Staking/Restake/model/restake-model.ts
  src/renderer/widgets/Staking/Restake/ui/Confirmation.tsx
  src/renderer/widgets/Staking/Unstake/model/form-model.ts
  src/renderer/widgets/Staking/Unstake/model/unstake-model.ts
  src/renderer/widgets/Staking/Unstake/ui/Confirmation.tsx
  src/renderer/widgets/Staking/Withdraw/model/form-model.ts
  src/renderer/widgets/Staking/Withdraw/model/withdraw-model.ts
  src/renderer/widgets/Staking/Withdraw/ui/Confirmation.tsx
  src/renderer/widgets/Transfer/model/form-model.ts
  src/renderer/widgets/Transfer/model/transfer-model.ts
  src/renderer/widgets/Transfer/ui/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fix
  src/renderer/features/assets/AssetsPortfolio/model/portfolio-model.ts
  src/renderer/pages/Assets/Assets/model/assets-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix era type
  src/renderer/entities/transaction/lib/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: updated options object
  src/renderer/entities/transaction/lib/RawSigner.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/entities/wallet/lib/wallet-utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: lint
  electron-builder.js
  src/renderer/features/governance/ReferendumList/model/referendum-list-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: save to basket manage proxy txs
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddProxyModal/model/form-model.ts
  src/renderer/widgets/AddProxyModal/ui/Confirmation.tsx
  src/renderer/widgets/AddPureProxiedModal/model/add-pure-proxied-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/form-model.ts
  src/renderer/widgets/AddPureProxiedModal/ui/Confirm.tsx
  src/renderer/widgets/RemoveProxyModal/model/remove-proxy-model.ts
  src/renderer/widgets/RemoveProxyModal/ui/Confirm.tsx
  src/renderer/widgets/RemovePureProxyModal/model/remove-pure-proxy-model.ts
  src/renderer/widgets/RemovePureProxyModal/ui/Confirm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix i18n
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

feat: add hide zero balance
  src/renderer/features/assets/AssetsPortfolio/model/portfolio-model.ts
  src/renderer/pages/Assets/Assets/model/assets-model.ts
  src/renderer/shared/core/types/asset.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: add notification
  electron-builder.js
  src/renderer/features/multisigs/model/multisigs-model.ts
  src/renderer/shared/core/types/notification.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: tests
  src/renderer/features/multisigs/model/multisigs-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: update
  src/renderer/features/assets/AssetsPortfolio/lib/tokensService.ts
  src/renderer/features/assets/AssetsPortfolio/lib/tokensService.tsx
  src/renderer/features/assets/AssetsPortfolio/model/portfolio-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: adding token flow
  .github/workflows/update_tokens_file.yaml
  package.json
  scripts/buildTokensJson.js
  src/renderer/shared/config/tokens/tokens.json
  src/renderer/shared/config/tokens/tokens_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/renderer/shared/api/translation/locales/*.json
