Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

chore: fix comments
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: wallet details reconnect
  src/renderer/assets/images/functionals/upload-file.svg
  src/renderer/assets/images/misc/document.svg
  src/renderer/assets/video/wallet_connect_reconnect.mp4
  src/renderer/assets/video/wallet_connect_reconnect.webm
  src/renderer/entities/walletConnect/model/wallet-connect-model.ts
  src/renderer/features/operation/sign/ui/WalletConnect/WalletConnect.tsx
  src/renderer/pages/Onboarding/WalletConnect/model/wc-onboarding-model.ts
  src/renderer/shared/ui/Icon/data/functionals.tsx
  src/renderer/shared/ui/Icon/data/misc.tsx
  src/renderer/widgets/WalletDetails/common/const.ts
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: pr comments fix
  src/renderer/entities/multisig/lib/multisigTx/common/utils.ts
  src/renderer/entities/transaction/ui/XcmFee/XcmFee.tsx
  src/renderer/pages/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Operations/components/OperationCardDetails.tsx
  src/renderer/pages/Operations/components/OperationFullInfo.tsx
  src/renderer/shared/ui/DetailRow/DetailRow.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix merge
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/SelectSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr comment fix
  src/renderer/entities/multisig/lib/multisigTx/common/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Feat: Multisig confirm update (#1155)
  src/renderer/entities/multisig/lib/multisigTx/common/utils.ts
  src/renderer/entities/transaction/lib/common/utils.ts
  src/renderer/entities/transaction/ui/XcmFee/XcmFee.tsx
  src/renderer/entities/transaction/ui/index.ts
  src/renderer/pages/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Operations/components/OperationCardDetails.tsx
  src/renderer/pages/Operations/components/OperationFullInfo.tsx
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
  src/renderer/shared/ui/DetailRow/DetailRow.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: no signatory when delete wallet
  src/renderer/pages/Operations/components/OperationSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: refresh button
  src/renderer/app/providers/context/NetworkContext/NetworkContext.tsx
  src/renderer/shared/ui/Modals/BaseModal/BaseModal.tsx
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: multisig wallet update (#1152)
  src/renderer/assets/images/walletTypesNew/multisig.svg
  src/renderer/assets/images/walletTypesNew/novaWallet.svg
  src/renderer/assets/images/walletTypesNew/vault.svg
  src/renderer/assets/images/walletTypesNew/walletConnect.svg
  src/renderer/assets/images/walletTypesNew/watchOnly.svg
  src/renderer/entities/wallet/ui/AccountAddress/AccountAddress.test.tsx
  src/renderer/entities/wallet/ui/AccountAddress/AccountAddress.tsx
  src/renderer/entities/wallet/ui/SelectableShard/SelectableShard.tsx
  src/renderer/entities/wallet/ui/WalletIcon/WalletIcon.tsx
  src/renderer/entities/wallet/ui/WalletRow/WalletRow.tsx
  src/renderer/entities/wallet/ui/index.ts
  src/renderer/pages/Assets/AssetsList/components/SelectShardModal/SelectShardModal.tsx
  src/renderer/shared/ui/DetailRow/DetailRow.tsx
  src/renderer/shared/ui/Icon/data/index.ts
  src/renderer/shared/ui/Icon/data/walletType.tsx
  src/renderer/shared/ui/Icon/data/walletTypeNew.tsx
  src/renderer/shared/ui/Popovers/Tooltip/Tooltip.css
  src/renderer/shared/ui/Popovers/Tooltip/Tooltip.tsx
  src/renderer/shared/ui/Tabs/Tabs.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/common/types.ts
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/ConfirmSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/ContactItem.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/SelectSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/WalletForm.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/WalletItem.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/WalletsTabItem.tsx
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Confirmation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/InitOperation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/Details.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: multisig wallet update
  src/renderer/assets/images/walletTypesNew/multisig.svg
  src/renderer/assets/images/walletTypesNew/novaWallet.svg
  src/renderer/assets/images/walletTypesNew/vault.svg
  src/renderer/assets/images/walletTypesNew/walletConnect.svg
  src/renderer/assets/images/walletTypesNew/watchOnly.svg
  src/renderer/entities/wallet/ui/AccountAddress/AccountAddress.test.tsx
  src/renderer/entities/wallet/ui/AccountAddress/AccountAddress.tsx
  src/renderer/entities/wallet/ui/SelectableShard/SelectableShard.tsx
  src/renderer/entities/wallet/ui/WalletIcon/WalletIcon.tsx
  src/renderer/entities/wallet/ui/WalletRow/WalletRow.tsx
  src/renderer/entities/wallet/ui/index.ts
  src/renderer/pages/Assets/AssetsList/components/SelectShardModal/SelectShardModal.tsx
  src/renderer/shared/ui/DetailRow/DetailRow.tsx
  src/renderer/shared/ui/Icon/data/index.ts
  src/renderer/shared/ui/Icon/data/walletType.tsx
  src/renderer/shared/ui/Icon/data/walletTypeNew.tsx
  src/renderer/shared/ui/Popovers/Tooltip/Tooltip.css
  src/renderer/shared/ui/Popovers/Tooltip/Tooltip.tsx
  src/renderer/shared/ui/Tabs/Tabs.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/common/types.ts
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/ConfirmSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/ContactItem.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/SelectSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/WalletForm.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/WalletItem.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/WalletsTabItem.tsx
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Confirmation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/InitOperation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/Details.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: errors fix
  src/renderer/pages/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: no signatory when delete wallet (#1160)
  src/renderer/pages/Operations/components/OperationSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: moved sign button to confirm component
  src/renderer/entities/operation/ui/SignButton.tsx
  src/renderer/pages/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: linter errors fix
  src/renderer/pages/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: localisation fix
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

chore: fix reject status
  src/renderer/entities/walletConnect/model/wallet-connect-model.ts
  src/renderer/shared/ui/index.ts
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: removed unsuded icons, deleted walletTypesNew
  src/renderer/assets/images/walletTypes/ledger.svg
  src/renderer/assets/images/walletTypes/multishard.svg
  src/renderer/assets/images/walletTypes/multisig.svg
  src/renderer/assets/images/walletTypes/multisigBg.svg
  src/renderer/assets/images/walletTypes/multisigOld.svg
  src/renderer/assets/images/walletTypes/novaWallet.svg
  src/renderer/assets/images/walletTypes/novaWalletOld.svg
  src/renderer/assets/images/walletTypes/paritySigner.svg
  src/renderer/assets/images/walletTypes/paritySignerBg.svg
  src/renderer/assets/images/walletTypes/vault.svg
  src/renderer/assets/images/walletTypes/vaultOnboarding.svg
  src/renderer/assets/images/walletTypes/watchOnly.svg
  src/renderer/assets/images/walletTypes/watchOnlyBg.svg
  src/renderer/assets/images/walletTypes/watchOnlyOld.svg
  src/renderer/assets/images/walletTypesNew/multisig.svg
  src/renderer/assets/images/walletTypesNew/novaWallet.svg
  src/renderer/assets/images/walletTypesNew/vault.svg
  src/renderer/assets/images/walletTypesNew/walletConnect.svg
  src/renderer/assets/images/walletTypesNew/watchOnly.svg
  src/renderer/entities/operation/ui/SignButton.tsx
  src/renderer/entities/signatory/ui/SelectableSignatory/SelectableSignatory.tsx
  src/renderer/entities/wallet/ui/WalletIcon/WalletIcon.tsx
  src/renderer/features/wallets/WalletSelect/WalletMenu.tsx
  src/renderer/features/wallets/WalletSelect/common/constants.ts
  src/renderer/shared/ui/Icon/data/index.ts
  src/renderer/shared/ui/Icon/data/walletType.tsx
  src/renderer/shared/ui/Icon/data/walletTypeNew.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: linter errors fix
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: multisig details
  src/renderer/entities/wallet/ui/AccountsList/AccountsList.tsx
  src/renderer/pages/Onboarding/Vault/ManageMultishard/ManageMultishard.tsx
  src/renderer/shared/core/types/utility.ts
  src/renderer/shared/lib/utils/arrays.ts
  src/renderer/shared/lib/utils/constants.ts
  src/renderer/shared/ui/Modals/BaseModal/BaseModal.tsx
  src/renderer/shared/ui/Tabs/Tabs.tsx
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
  src/renderer/widgets/WalletDetails/ui/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletDetailsProvider.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: multisig details contacts
  src/renderer/entities/wallet/ui/ContactItem/ContactItem.tsx
  src/renderer/entities/wallet/ui/index.ts
  src/renderer/features/wallets/WalletSelect/WalletMenu.tsx
  src/renderer/features/wallets/WalletSelect/model/wallet-select-model.ts
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/common/types.ts
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/common/utils.ts
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/ConfirmSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/SelectSignatories.tsx
  src/renderer/widgets/WalletDetails/ui/MultisigWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: forget wallet
  src/renderer/assets/images/functionals/delete.svg
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/entities/walletConnect/model/wallet-connect-model.ts
  src/renderer/pages/Onboarding/WalletConnect/NovaWallet.tsx
  src/renderer/pages/Onboarding/WalletConnect/WalletConnect.tsx
  src/renderer/shared/api/storage/service/storageService.ts
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: updated signing screen styles
  src/renderer/components/common/QrCode/QrGeneratorContainer/QrGeneratorContainer.tsx
  src/renderer/components/common/Scanning/ScanSingleframeQr.tsx
  src/renderer/entities/wallet/ui/cards/WalletCardSm/WalletCardSm.tsx
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Icons cleanup (#1163)
  src/renderer/assets/images/walletTypes/ledger.svg
  src/renderer/assets/images/walletTypes/multishard.svg
  src/renderer/assets/images/walletTypes/multisig.svg
  src/renderer/assets/images/walletTypes/multisigBg.svg
  src/renderer/assets/images/walletTypes/multisigOld.svg
  src/renderer/assets/images/walletTypes/novaWallet.svg
  src/renderer/assets/images/walletTypes/novaWalletOld.svg
  src/renderer/assets/images/walletTypes/paritySigner.svg
  src/renderer/assets/images/walletTypes/paritySignerBg.svg
  src/renderer/assets/images/walletTypes/vault.svg
  src/renderer/assets/images/walletTypes/vaultOnboarding.svg
  src/renderer/assets/images/walletTypes/watchOnly.svg
  src/renderer/assets/images/walletTypes/watchOnlyBg.svg
  src/renderer/assets/images/walletTypes/watchOnlyOld.svg
  src/renderer/assets/images/walletTypesNew/multisig.svg
  src/renderer/assets/images/walletTypesNew/novaWallet.svg
  src/renderer/assets/images/walletTypesNew/vault.svg
  src/renderer/assets/images/walletTypesNew/walletConnect.svg
  src/renderer/assets/images/walletTypesNew/watchOnly.svg
  src/renderer/entities/operation/ui/SignButton.tsx
  src/renderer/entities/signatory/ui/SelectableSignatory/SelectableSignatory.tsx
  src/renderer/entities/wallet/ui/WalletIcon/WalletIcon.tsx
  src/renderer/features/wallets/WalletSelect/WalletMenu.tsx
  src/renderer/features/wallets/WalletSelect/common/constants.ts
  src/renderer/shared/ui/Icon/data/index.ts
  src/renderer/shared/ui/Icon/data/walletType.tsx
  src/renderer/shared/ui/Icon/data/walletTypeNew.tsx
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: removed old component
  src/renderer/entities/wallet/ui/WalletRow/WalletRow.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: add test for forget wallet
  src/renderer/entities/wallet/model/__tests__/wallet-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: multisig details final
  src/renderer/app/providers/context/NetworkContext/NetworkContext.tsx
  src/renderer/features/wallets/SelectWalletPairing/ui/SelectWalletPairing.tsx
  src/renderer/features/wallets/WalletSelect/common/constants.ts
  src/renderer/features/wallets/WalletSelect/ui/WalletGroup.tsx
  src/renderer/pages/Onboarding/Vault/ManageMultishard/ManageMultishard.tsx
  src/renderer/pages/Onboarding/Welcome/Welcome.tsx
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
  src/renderer/widgets/WalletDetails/ui/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletDetailsProvider.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: merge wallet_details
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
  src/renderer/widgets/WalletDetails/ui/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletDetailsProvider.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: style fix
  src/renderer/entities/wallet/ui/MultiAccountsList/MultiAccountsList.tsx
  src/renderer/pages/Onboarding/Vault/ManageSingleshard/ManageSingleshard.tsx
  src/renderer/pages/Onboarding/WalletConnect/ManageStep/ManageStep.tsx
  src/renderer/pages/Onboarding/WatchOnly/EmptyState.tsx
  src/renderer/pages/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/widgets/WalletDetails/ui/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: confirm remove wallet
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/shared/ui/Modals/ConfirmModal/ConfirmModal.tsx
  src/renderer/widgets/WalletDetails/common/const.ts
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: moved sign button to confirm component (#1162)
  src/renderer/entities/operation/ui/SignButton.tsx
  src/renderer/pages/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: [wip] file updload window
  public/dd-template.yaml
  src/renderer/assets/images/functionals/import.svg
  src/renderer/features/dynamicDerivations/ImportKeysModal/ImportKeysModal.tsx
  src/renderer/features/dynamicDerivations/index.ts
  src/renderer/pages/Assets/AssetsList/AssetsList.tsx
  src/renderer/pages/Onboarding/Welcome/PrivacyPolicy.tsx
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/shared/core/types/account.ts
  src/renderer/shared/ui/Icon/data/functionals.tsx
  src/renderer/shared/ui/InfoLink/InfoLink.tsx
  src/renderer/widgets/MatrixModal/ui/LoginForm.tsx
  src/renderer/widgets/MatrixModal/ui/MatrixInfoPopover.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: deleted old validators modal for staking overview page
  src/renderer/pages/Staking/Overview/Overview.tsx
  src/renderer/pages/Staking/Overview/components/ValidatorsModal/ValidatorsModal.test.tsx
  src/renderer/pages/Staking/Overview/components/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/pages/Staking/Overview/components/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: nova wallet receive screen fix
  src/renderer/widgets/ReceiveAssetModal/ui/ReceiveAssetModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: notifications deleted account bug
  src/renderer/entities/notification/ui/NotificationRow/NotificationRow.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: fixed validators loading state and horizonntal scroll
  src/renderer/pages/Staking/Operations/components/Validators/Validators.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx
