Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

chore: fix comments
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/services/balance/common/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: new staking actions
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/domain/transaction.ts
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Staking/Operations/Redeem/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/Redeem/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Redeem/Submit/Submit.tsx
  src/renderer/screens/Staking/Operations/Restake/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/Restake/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/Restake/Submit/Submit.tsx
  src/renderer/screens/Staking/Operations/StakeMore/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/StakeMore/Submit/Submit.tsx
  src/renderer/screens/Staking/Operations/Unstake/Submit/Submit.tsx
  src/renderer/screens/Staking/index.ts
  src/renderer/services/balance/common/utils.ts
  src/renderer/services/transaction/transactionService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: new staking actions (#414)
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/domain/transaction.ts
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Staking/Operations/Redeem/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/Redeem/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Redeem/Submit/Submit.tsx
  src/renderer/screens/Staking/Operations/Restake/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/Restake/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/Restake/Submit/Submit.tsx
  src/renderer/screens/Staking/Operations/StakeMore/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/StakeMore/Submit/Submit.tsx
  src/renderer/screens/Staking/Operations/Unstake/Submit/Submit.tsx
  src/renderer/screens/Staking/index.ts
  src/renderer/services/balance/common/utils.ts
  src/renderer/services/transaction/transactionService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: destinations
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/domain/transaction.ts
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Staking/Operations/Destination/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/Destination/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.test.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/Submit/Submit.tsx
  src/renderer/screens/Staking/Operations/Unstake/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/components/AccountsModal/AccountsModal.test.tsx
  src/renderer/screens/Staking/Operations/components/AccountsModal/AccountsModal.tsx
  src/renderer/screens/Staking/Operations/components/TransactionInfo/TransactionInfo.test.tsx
  src/renderer/screens/Staking/Operations/components/TransactionInfo/TransactionInfo.tsx
  src/renderer/screens/Staking/Operations/components/Validators/Validators.test.tsx
  src/renderer/screens/Staking/Operations/components/ValidatorsModal/ValidatorsModal.test.tsx
  src/renderer/screens/Staking/index.ts
  src/renderer/services/transaction/transactionService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: removed comments
  src/renderer/screens/Staking/Operations/Redeem/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/Restake/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/Confirmation/Confirmation.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: settings matrix page template, back button update, Plate component
  src/renderer/assets/images/aesthetics/chat.svg
  src/renderer/components/ui/Buttons/ButtonBack/ButtonBack.stories.tsx
  src/renderer/components/ui/Buttons/ButtonBack/ButtonBack.test.tsx
  src/renderer/components/ui/Buttons/ButtonBack/ButtonBack.tsx
  src/renderer/components/ui/Buttons/ButtonLink/ButtonLink.test.tsx
  src/renderer/components/ui/Icon/data/aesthetics.tsx
  src/renderer/components/ui/Icon/data/arrow.tsx
  src/renderer/components/ui/Plate/Plate.stories.tsx
  src/renderer/components/ui/Plate/Plate.test.tsx
  src/renderer/components/ui/Plate/Plate.tsx
  src/renderer/components/ui/index.ts
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Onboarding/Parity/Parity.tsx
  src/renderer/screens/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/screens/Onboarding/Welcome/Welcome.tsx
  src/renderer/screens/Settings/Credentials/Credentials.test.tsx
  src/renderer/screens/Settings/Credentials/Credentials.tsx
  src/renderer/screens/Settings/Matrix/Matrix.test.tsx
  src/renderer/screens/Settings/Matrix/Matrix.tsx
  src/renderer/screens/Settings/Networks/Networks/Networks.test.tsx
  src/renderer/screens/Settings/Networks/Networks/Networks.tsx
  src/renderer/screens/Settings/Overview/Overview.test.tsx
  src/renderer/screens/Settings/Overview/Overview.tsx
  src/renderer/screens/Settings/index.ts
  src/renderer/screens/Signing/SigningDev.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/components/Scanning/Scanning.tsx
  src/renderer/screens/Staking/Operations/components/Signing/Signing.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: don't use amount in validation, minor refactoring
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/services/balance/common/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Reward destination
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/domain/transaction.ts
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Staking/Operations/Bond/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/Destination/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/Destination/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.test.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/Submit/Submit.tsx
  src/renderer/screens/Staking/Operations/Restake/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/components/AccountsModal/AccountsModal.test.tsx
  src/renderer/screens/Staking/Operations/components/AccountsModal/AccountsModal.tsx
  src/renderer/screens/Staking/Operations/components/TransactionInfo/TransactionInfo.test.tsx
  src/renderer/screens/Staking/Operations/components/TransactionInfo/TransactionInfo.tsx
  src/renderer/screens/Staking/Operations/components/Validators/Validators.test.tsx
  src/renderer/screens/Staking/Operations/components/ValidatorsModal/ValidatorsModal.test.tsx
  src/renderer/screens/Staking/index.ts
  src/renderer/services/balance/common/utils.ts
  src/renderer/services/transaction/transactionService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Reward destination (#434)
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/domain/transaction.ts
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Staking/Operations/Bond/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/Destination/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/Destination/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.test.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/Submit/Submit.tsx
  src/renderer/screens/Staking/Operations/Restake/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/components/AccountsModal/AccountsModal.test.tsx
  src/renderer/screens/Staking/Operations/components/AccountsModal/AccountsModal.tsx
  src/renderer/screens/Staking/Operations/components/TransactionInfo/TransactionInfo.test.tsx
  src/renderer/screens/Staking/Operations/components/TransactionInfo/TransactionInfo.tsx
  src/renderer/screens/Staking/Operations/components/Validators/Validators.test.tsx
  src/renderer/screens/Staking/Operations/components/ValidatorsModal/ValidatorsModal.test.tsx
  src/renderer/screens/Staking/index.ts
  src/renderer/services/balance/common/utils.ts
  src/renderer/services/transaction/transactionService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: component InfoLink
  src/renderer/components/ui/InfoLink/InfoLink.stories.tsx
  src/renderer/components/ui/InfoLink/InfoLink.test.tsx
  src/renderer/components/ui/InfoLink/InfoLink.tsx
  src/renderer/components/ui/index.ts
  src/renderer/screens/Signing/SigningDev.tsx
  src/renderer/screens/Staking/Operations/components/Scanning/Scanning.tsx
  src/renderer/screens/Transfer/Transfer.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: adding new tokens
  scripts/assetsNameMap.json
  src/renderer/services/network/common/chains/chains.json
  src/renderer/services/network/common/chains/omni-chains.json
  src/renderer/services/network/common/chains/omni-chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: address book
  src/renderer/assets/images/misc/no-contacts.svg
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/ui/Icon/data/misc.tsx
  src/renderer/components/ui/Table/TableParts.tsx
  src/renderer/components/ui/Table/common/types.ts
  src/renderer/domain/contact.ts
  src/renderer/screens/AddressBook/AddressBook.tsx
  src/renderer/screens/AddressBook/components/ContactList.tsx
  src/renderer/screens/AddressBook/components/ContactModal.tsx
  src/renderer/screens/AddressBook/components/EmptyState/EmptyContacts.test.tsx
  src/renderer/screens/AddressBook/components/EmptyState/EmptyContacts.tsx
  src/renderer/screens/AddressBook/components/EmptyState/EmptySearch.test.tsx
  src/renderer/screens/AddressBook/components/EmptyState/EmptySearch.tsx
  src/renderer/screens/AddressBook/utils/validation.ts
  src/renderer/screens/Settings/Networks/ConnectionSelector/CustomRpcModal/CustomRpcModal.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
  src/renderer/services/contact/common/types.ts
  src/renderer/services/contact/contactService.ts
  src/renderer/services/storage/common/types.ts
  src/renderer/services/storage/contactStorage.ts
  src/renderer/services/storage/storage.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: tests
  src/renderer/screens/AddressBook/AddressBook.test.tsx
  src/renderer/screens/AddressBook/components/EmptyState/EmptyContacts.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fixes
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/useWalletStructure.ts
  src/renderer/components/ui/Dropdowns/Combobox/Combobox.tsx
  src/renderer/screens/AddressBook/components/ContactList.tsx
  src/renderer/screens/AddressBook/components/ContactModal.tsx
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.tsx
  src/renderer/screens/Settings/Networks/Networks/Networks.tsx
  src/renderer/screens/Staking/Operations/components/Validators/Validators.tsx
  src/renderer/shared/utils/strings.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix
  src/renderer/screens/Settings/Networks/Networks/Networks.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: address book
  src/renderer/assets/images/misc/no-contacts.svg
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/useWalletStructure.ts
  src/renderer/components/ui/Dropdowns/Combobox/Combobox.tsx
  src/renderer/components/ui/Icon/data/misc.tsx
  src/renderer/components/ui/Table/TableParts.tsx
  src/renderer/components/ui/Table/common/types.ts
  src/renderer/domain/contact.ts
  src/renderer/screens/AddressBook/AddressBook.test.tsx
  src/renderer/screens/AddressBook/AddressBook.tsx
  src/renderer/screens/AddressBook/components/ContactList.tsx
  src/renderer/screens/AddressBook/components/ContactModal.tsx
  src/renderer/screens/AddressBook/components/EmptyState/EmptyContacts.test.tsx
  src/renderer/screens/AddressBook/components/EmptyState/EmptyContacts.tsx
  src/renderer/screens/AddressBook/components/EmptyState/EmptySearch.test.tsx
  src/renderer/screens/AddressBook/components/EmptyState/EmptySearch.tsx
  src/renderer/screens/AddressBook/utils/validation.ts
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.tsx
  src/renderer/screens/Settings/Networks/ConnectionSelector/CustomRpcModal/CustomRpcModal.tsx
  src/renderer/screens/Staking/Operations/components/Validators/Validators.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
  src/renderer/services/contact/common/types.ts
  src/renderer/services/contact/contactService.ts
  src/renderer/services/storage/common/types.ts
  src/renderer/services/storage/contactStorage.ts
  src/renderer/services/storage/storage.ts
  src/renderer/shared/utils/strings.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: address book (#436)
  src/renderer/assets/images/misc/no-contacts.svg
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/useWalletStructure.ts
  src/renderer/components/ui/Dropdowns/Combobox/Combobox.tsx
  src/renderer/components/ui/Icon/data/misc.tsx
  src/renderer/components/ui/Table/TableParts.tsx
  src/renderer/components/ui/Table/common/types.ts
  src/renderer/domain/contact.ts
  src/renderer/screens/AddressBook/AddressBook.test.tsx
  src/renderer/screens/AddressBook/AddressBook.tsx
  src/renderer/screens/AddressBook/components/ContactList.tsx
  src/renderer/screens/AddressBook/components/ContactModal.tsx
  src/renderer/screens/AddressBook/components/EmptyState/EmptyContacts.test.tsx
  src/renderer/screens/AddressBook/components/EmptyState/EmptyContacts.tsx
  src/renderer/screens/AddressBook/components/EmptyState/EmptySearch.test.tsx
  src/renderer/screens/AddressBook/components/EmptyState/EmptySearch.tsx
  src/renderer/screens/AddressBook/utils/validation.ts
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.tsx
  src/renderer/screens/Settings/Networks/ConnectionSelector/CustomRpcModal/CustomRpcModal.tsx
  src/renderer/screens/Staking/Operations/components/Validators/Validators.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
  src/renderer/services/contact/common/types.ts
  src/renderer/services/contact/contactService.ts
  src/renderer/services/storage/common/types.ts
  src/renderer/services/storage/contactStorage.ts
  src/renderer/services/storage/storage.ts
  src/renderer/shared/utils/strings.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: empty includes
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.tsx
  src/renderer/screens/Settings/Networks/Networks/Networks.tsx
  src/renderer/shared/utils/strings.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: empty includes (#437)
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.tsx
  src/renderer/screens/Settings/Networks/Networks/Networks.tsx
  src/renderer/shared/utils/strings.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: multiframe QR delay fix
  src/renderer/components/common/QrCode/QrGenerator/common/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: rename reward destination
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

feat: create multisig account
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/ui/Identicon/Identicon.tsx
  src/renderer/domain/account.ts
  src/renderer/domain/shared-kernel.ts
  src/renderer/screens/Staking/Operations/Redeem/Confirmation/Confirmation.tsx
  src/renderer/services/storage/common/types.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
  tailwind.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: multiframe QR delay fix (#440)
  src/renderer/components/common/QrCode/QrGenerator/common/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: create multisig account (#439)
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/ui/Identicon/Identicon.tsx
  src/renderer/domain/account.ts
  src/renderer/domain/shared-kernel.ts
  src/renderer/screens/Staking/Operations/Redeem/Confirmation/Confirmation.tsx
  src/renderer/services/storage/common/types.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
  tailwind.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: copy accounts
  src/renderer/screens/Staking/Operations/components/AccountsModal/AccountsModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: rename reward destination (#438)
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

Add Apache 2.0 License
  LICENSE.md
  NOTICE.md
Due: none

Add Apache 2.0 License (#413)
  LICENSE.md
  NOTICE.md
Due: none

fix: copy accounts (#441)
  src/renderer/screens/Staking/Operations/components/AccountsModal/AccountsModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: staking validation
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/services/balance/common/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: set validators
  src/renderer/screens/Staking/Operations/Bond/Bond.test.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.test.tsx
  src/renderer/screens/Staking/Operations/SetValidators/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/SetValidators/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.test.tsx
  src/renderer/screens/Staking/Operations/SetValidators/Submit/Submit.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: staking validation (#442)
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/services/balance/common/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: optional stake
  src/renderer/screens/Staking/Operations/components/TransactionInfo/TransactionInfo.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Set validators
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Staking/Operations/Bond/Bond.test.tsx
  src/renderer/screens/Staking/Operations/SetValidators/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/SetValidators/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.test.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.tsx
  src/renderer/screens/Staking/Operations/SetValidators/Submit/Submit.tsx
  src/renderer/screens/Staking/index.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix
