Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

feat: signatory card updated
  src/renderer/assets/images/aesthetics/chat-redesign.svg
  src/renderer/components/common/SignatoryCard/SignatoryCard.stories.tsx
  src/renderer/components/common/SignatoryCard/SignatoryCard.test.tsx
  src/renderer/components/common/SignatoryCard/SignatoryCard.tsx
  src/renderer/components/common/index.ts
  src/renderer/components/ui-redesign/Buttons/Button/Button.tsx
  src/renderer/components/ui-redesign/Popovers/InfoPopover/InfoPopover.tsx
  src/renderer/components/ui-redesign/Signatory/Signatory.tsx
  src/renderer/components/ui/Icon/data/aesthetics.tsx
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: added proper matrix login display
  src/renderer/components/common/AccountAddress/useAddressInfo.tsx
  src/renderer/components/common/AddressWithExplorers/AddressWithExplorers.tsx
  src/renderer/components/common/SignatoryCard/SignatoryCard.test.tsx
  src/renderer/components/common/SignatoryCard/SignatoryCard.tsx
  src/renderer/components/ui-redesign/Popovers/InfoPopover/InfoPopover.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: rolled back icon changes
  src/renderer/components/ui/Icon/Icon.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: bond
  src/renderer/components/common/ActiveAddress/ActiveAddress.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.test.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.test.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.test.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/common/utils.tsx
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationForm.tsx
  src/renderer/screens/Staking/Operations/components/Scanning/MultiScanning.tsx
  src/renderer/screens/Staking/Operations/components/Scanning/SingleScanning.tsx
  src/renderer/screens/Staking/Operations/components/Submit/Submit.test.tsx
  src/renderer/screens/Staking/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Staking/Operations/components/TransactionInfo/TransactionInfo.tsx
  src/renderer/screens/Staking/Operations/components/index.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: operation logs
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/domain/transaction.ts
  src/renderer/screens/Operations/Filters.tsx
  src/renderer/screens/Operations/Operations.test.tsx
  src/renderer/screens/Operations/common/utils.ts
  src/renderer/screens/Operations/components/ApproveTx.tsx
  src/renderer/screens/Operations/components/Chain.tsx
  src/renderer/screens/Operations/components/Log.tsx
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Operations/components/TransactionTitle.tsx
  src/renderer/screens/Staking/Operations/hooks/useCountdown.tsx
  src/renderer/services/multisigTx/common/utils.ts
  src/renderer/services/multisigTx/multisigTxService.ts
  src/renderer/services/network/__tests__/chainsService.test.ts
  src/renderer/services/network/chainsService.ts
  src/renderer/services/network/common/types.ts
  src/renderer/services/storage/storage.ts
  src/renderer/shared/utils/__tests__/substrate.test.ts
  src/renderer/shared/utils/substrate.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: balance changes
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationForm.tsx
  src/renderer/screens/Staking/Operations/components/Scanning/MultiScanning.tsx
  src/renderer/screens/Staking/Operations/components/Scanning/SingleScanning.tsx
  src/renderer/screens/Staking/Operations/components/Signing/Signing.tsx
  src/renderer/screens/Staking/Operations/components/TransactionInfo/TransactionInfo.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: tests
  src/renderer/screens/Operations/Operations.test.tsx
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/components/Filters.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: notifications
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/context/MatrixContext/MatrixContext.test.tsx
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/domain/notification.ts
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Notifications/Notifications.tsx
  src/renderer/screens/Notifications/common/utils.ts
  src/renderer/screens/Notifications/components/EmptyNotifications.tsx
  src/renderer/screens/Notifications/components/NotificationRow.tsx
  src/renderer/screens/Operations/components/RejectTx.tsx
  src/renderer/screens/index.ts
  src/renderer/services/notification/common/types.ts
  src/renderer/services/notification/notificationService.ts
  src/renderer/services/storage/common/types.ts
  src/renderer/services/storage/notificationStorage.ts
  src/renderer/services/storage/storage.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: notifications (#616)
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/context/MatrixContext/MatrixContext.test.tsx
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/domain/notification.ts
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Notifications/Notifications.tsx
  src/renderer/screens/Notifications/common/utils.ts
  src/renderer/screens/Notifications/components/EmptyNotifications.tsx
  src/renderer/screens/Notifications/components/NotificationRow.tsx
  src/renderer/screens/Operations/components/RejectTx.tsx
  src/renderer/screens/index.ts
  src/renderer/services/notification/common/types.ts
  src/renderer/services/notification/notificationService.ts
  src/renderer/services/storage/common/types.ts
  src/renderer/services/storage/notificationStorage.ts
  src/renderer/services/storage/storage.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: disable select of many multisig accounts
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/StakingTable/StakingTable.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: destination multisig
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.test.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationForm.tsx
  src/renderer/screens/Transfer/components/InitOperation/InitOperation.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: restake multisig
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.test.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/common/utils.tsx
  src/renderer/screens/Staking/Operations/components/Submit/Submit.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: stake more
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: multiselect component, focus and scrollbar styles
  colors.js
  src/renderer/components/ui-redesign/Buttons/Button/Button.tsx
  src/renderer/components/ui-redesign/Buttons/ButtonBack/ButtonBack.tsx
  src/renderer/components/ui-redesign/Checkbox/Checkbox.tsx
  src/renderer/components/ui-redesign/Dropdowns/MultiSelect/MultiSelect.stories.tsx
  src/renderer/components/ui-redesign/Dropdowns/MultiSelect/MultiSelect.test.tsx
  src/renderer/components/ui-redesign/Dropdowns/MultiSelect/MultiSelect.tsx
  src/renderer/components/ui-redesign/Dropdowns/common/constants.ts
  src/renderer/components/ui-redesign/Dropdowns/common/types.ts
  src/renderer/components/ui-redesign/Inputs/common/styles.ts
  src/renderer/components/ui-redesign/Typography/components/LabelText.tsx
  src/renderer/components/ui-redesign/index.ts
  src/renderer/components/ui/Dropdowns/Combobox/Combobox.tsx
  src/renderer/components/ui/Dropdowns/Dropdown/Dropdown.tsx
  src/renderer/components/ui/Dropdowns/Filter/Filter.tsx
  src/renderer/components/ui/Dropdowns/Select/Select.tsx
  src/renderer/components/ui/Inputs/Input/Input.tsx
  src/renderer/components/ui/Inputs/InputFile/InputFile.tsx
  src/renderer/index.css
  src/renderer/theme/default.css
  tailwind.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: changed smart filters logic
  src/renderer/components/ui-redesign/Dropdowns/MultiSelect/MultiSelect.test.tsx
  src/renderer/components/ui-redesign/Dropdowns/MultiSelect/MultiSelect.tsx
  src/renderer/components/ui-redesign/index.ts
  src/renderer/screens/Operations/Filters.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: unstake multisig
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/common/utils.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: adding cron schedule for chains updater
  .github/workflows/update_chains_file.yaml
Due: none

fix: skip non-existing chains for multishard
  src/renderer/components/common/QrCode/QrReader/common/types.ts
  src/renderer/screens/Onboarding/Parity/Parity.tsx
  src/renderer/screens/Onboarding/Parity/ScanMoreModal/ScanMoreModal.test.tsx
  src/renderer/screens/Onboarding/Parity/ScanMoreModal/ScanMoreModal.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.css
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.test.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: matrix full name regex
  src/renderer/services/matrix/common/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: matrix full name regex (#627)
  src/renderer/services/matrix/common/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: skip non-existing chains for multishard (#626)
  src/renderer/components/common/QrCode/QrReader/common/types.ts
  src/renderer/screens/Onboarding/Parity/Parity.tsx
  src/renderer/screens/Onboarding/Parity/ScanMoreModal/ScanMoreModal.test.tsx
  src/renderer/screens/Onboarding/Parity/ScanMoreModal/ScanMoreModal.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.css
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.test.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: kapex asset name
  scripts/assetsNameMap.json
  src/renderer/services/network/common/chains/omni-chains.json
  src/renderer/services/network/common/chains/omni-chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Update src/renderer/components/ui-redesign/Dropdowns/MultiSelect/MultiSelect.tsx
  src/renderer/components/ui-redesign/Dropdowns/MultiSelect/MultiSelect.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr comments fix
  src/renderer/components/common/AccountAddress/useAddressInfo.tsx
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

style: advanced details button fix
  src/renderer/screens/Operations/components/Details.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: signatory card tests fix
  src/renderer/components/common/SignatoryCard/SignatoryCard.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: removed new address components from common export file
  src/renderer/components/common/index.ts
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx
