Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: search proxies for current accounts
  src/renderer/features/proxies/common/utils.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
  src/renderer/shared/core/types/account.ts
  src/renderer/widgets/WalletDetails/ui/WalletDetailsProvider.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: Dropdown refactoring
  src/renderer/features/wallets/SelectWalletPairing/ui/SelectWalletPairing.tsx
  src/renderer/pages/Staking/Overview/components/Actions/Actions.tsx
  src/renderer/shared/ui/Dropdowns/Dropdown/DropdownButton/DropdownButton.stories.tsx
  src/renderer/shared/ui/Dropdowns/Dropdown/DropdownButton/DropdownButton.test.tsx
  src/renderer/shared/ui/Dropdowns/Dropdown/DropdownButton/DropdownButton.tsx
  src/renderer/shared/ui/Dropdowns/Dropdown/DropdownIconButton/DropdownIconButton.tsx
  src/renderer/shared/ui/Dropdowns/Dropdown/common/Dropdown.tsx
  src/renderer/shared/ui/Dropdowns/Dropdown/common/DropdownOptions.tsx
  src/renderer/shared/ui/Dropdowns/Dropdown/common/types.ts
  src/renderer/shared/ui/Dropdowns/Dropdown/common/utils.ts
  src/renderer/shared/ui/Dropdowns/DropdownButton/DropdownButton.tsx
  src/renderer/shared/ui/Dropdowns/DropdownIconButton/DropdownIconButton.tsx
  src/renderer/shared/ui/index.ts
  src/renderer/shared/ui/types.ts
  src/renderer/widgets/WalletDetails/ui/MultishardDetailsActions.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: support runtime changes for staking
  package.json
  pnpm-lock.yaml
  src/renderer/entities/staking/lib/common/types.ts
  src/renderer/entities/staking/lib/index.ts
  src/renderer/entities/staking/lib/useValidatorsMap.ts
  src/renderer/entities/staking/lib/validatorsService.ts
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Operations/components/OperationCardDetails.tsx
  src/renderer/pages/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/components/Validators/Validators.tsx
  src/renderer/pages/Staking/Overview/Overview.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr comment fix
  src/renderer/features/wallets/ExportKeys/lib/export-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/model/import-keys-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: block explorers
  src/renderer/entities/staking/ui/ValidatorsTable/ValidatorsTable.tsx
  src/renderer/entities/wallet/ui/ExplorersPopover/ExplorersPopover.tsx
  src/renderer/pages/Staking/Operations/components/Validators/Validators.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/NominatorItem/NominatorItem.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: use default IconButton size
  src/renderer/entities/contact/ui/ContactRow.tsx
  src/renderer/entities/staking/ui/ValidatorsTable/ValidatorsTable.tsx
  src/renderer/entities/wallet/ui/AddressWithName/AddressWithName.tsx
  src/renderer/features/contacts/EditContactForm/ui/EditContactNavigation.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/NominatorItem/NominatorItem.tsx
  src/renderer/shared/ui/Inputs/AmountInput/AmountInput.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: update tests
  src/renderer/entities/staking/ui/ValidatorsModal/ValidatorsModal.test.tsx
  src/renderer/entities/staking/ui/ValidatorsModal/ValidatorsModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: refactor download multiple files func
  src/renderer/features/wallets/ExportKeys/lib/download-multiple-files.ts
  src/renderer/widgets/WalletDetails/lib/utils.ts
  src/renderer/widgets/WalletDetails/ui/MultishardDetailsActions.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: action button style fix
  src/renderer/shared/ui/Dropdowns/Dropdown/DropdownButton/DropdownButton.tsx
  src/renderer/shared/ui/Dropdowns/Dropdown/DropdownIconButton/DropdownIconButton.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: added currenColor to hotkey icons
  src/renderer/shared/assets/images/aesthetics/hotkey-ctrl.svg
  src/renderer/shared/assets/images/aesthetics/hotkey-option.svg
Due: none

Fix: hotkey icons update (#1281)
  src/renderer/pages/Onboarding/Vault/ManageVault/ManageVault.tsx
  src/renderer/shared/assets/images/aesthetics/hotkey-alt.svg
  src/renderer/shared/assets/images/aesthetics/hotkey-ctrl.svg
  src/renderer/shared/assets/images/aesthetics/hotkey-option.svg
  src/renderer/shared/ui/Icon/data/aesthetics.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: updated template link
  src/renderer/features/wallets/ImportKeys/lib/constants.ts
  src/renderer/features/wallets/ImportKeys/ui/ImportKeysModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: pendulum asset type
  src/renderer/assets/chains/chains.json
  src/renderer/assets/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

ci: bump version
  package.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

ci: bump version (#1286)
  package.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: pr review
  pnpm-lock.yaml
  src/renderer/entities/staking/lib/validatorsService.ts
  src/renderer/pages/Staking/Operations/components/Validators/Validators.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Max nominators (#1283)
  package.json
  pnpm-lock.yaml
  src/renderer/entities/contact/ui/ContactRow.tsx
  src/renderer/entities/staking/lib/common/types.ts
  src/renderer/entities/staking/lib/index.ts
  src/renderer/entities/staking/lib/useValidatorsMap.ts
  src/renderer/entities/staking/lib/validatorsService.ts
  src/renderer/entities/staking/ui/ValidatorsModal/ValidatorsModal.test.tsx
  src/renderer/entities/staking/ui/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/entities/staking/ui/ValidatorsTable/ValidatorsTable.tsx
  src/renderer/entities/wallet/ui/AddressWithName/AddressWithName.tsx
  src/renderer/entities/wallet/ui/ExplorersPopover/ExplorersPopover.tsx
  src/renderer/features/contacts/EditContactForm/ui/EditContactNavigation.tsx
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Operations/components/OperationCardDetails.tsx
  src/renderer/pages/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/components/Validators/Validators.test.tsx
  src/renderer/pages/Staking/Operations/components/Validators/Validators.tsx
  src/renderer/pages/Staking/Overview/Overview.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/NominatorItem/NominatorItem.tsx
  src/renderer/shared/ui/Inputs/AmountInput/AmountInput.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: pendulum asset type
  src/renderer/shared/config/chains/chains.json
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: bump version (#1287)
  package.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: pendulum asset type (#1285)
  package.json
  src/renderer/shared/config/chains/chains.json
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: pendulum asset type
  package.json
  src/renderer/shared/config/chains/chains.json
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: return new/removed proxies from chain
  src/renderer/features/proxies/common/types.ts
  src/renderer/features/proxies/common/utils.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
  src/renderer/widgets/WalletDetails/ui/WalletDetailsProvider.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix lint
  src/renderer/features/proxies/index.ts
  src/renderer/widgets/WalletDetails/ui/WalletDetailsProvider.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix lock file
  pnpm-lock.yaml
Due: none

fix: changed display name for staking shards
  src/renderer/pages/Staking/Overview/components/NominatorsList/ShardedList/ShardedList.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: changed display name for staking shards (#1288)
  src/renderer/pages/Staking/Overview/components/NominatorsList/ShardedList/ShardedList.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: use connection in proxy network
  src/renderer/features/proxies/common/utils.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix naming
  src/renderer/features/proxies/workers/proxy-worker.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: use correct place for call unsubscribe
  src/renderer/features/balances/model/balance-subscription-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: changed singPayload creation for multishard tx
  src/renderer/components/common/Scanning/ScanMultiframeQr.tsx
  src/renderer/features/operation/sign/ui/VaultSigning/VaultSigning.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: sharded list at staking page
  src/renderer/entities/staking/lib/stakingDataService.ts
  src/renderer/pages/Staking/Overview/components/NominatorsList/NominatorItem/NominatorItem.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/NominatorsList.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/ShardedList/ShardedList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: receive selector fix (#1279)
  src/renderer/widgets/ReceiveAssetModal/ui/ReceiveAssetModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: close send asset modal if wath only wallet is used (#1282)
  src/renderer/entities/asset/ui/AssetCard/AssetCard.tsx
  src/renderer/pages/Assets/AssetsList/AssetsList.tsx
  src/renderer/pages/Assets/AssetsList/components/NetworkAssets/NetworkAssets.tsx
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/renderer/shared/api/translation/locales/*.json
