Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: update default operation description
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

chore: update default operation description (#736)
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

feat: singing screen
  src/renderer/components/common/QrCode/QrGeneratorContainer/QrGeneratorContainer.tsx
  src/renderer/components/common/QrCode/QrReader/QrMultiframeSignatureReader.tsx
  src/renderer/components/common/QrCode/QrReader/QrSignatureReader.tsx
  src/renderer/components/common/QrCode/QrReeaderContainer/QrReeaderContainer.tsx
  src/renderer/components/common/Scaning/Scaning.tsx
  src/renderer/screens/Operations/components/ActionSteps/Signing.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/screens/Operations/components/modals/RejectTx.tsx
  src/renderer/screens/Signing/MultiframeSignatureReader/MultiframeSignatureReader.tsx
  src/renderer/screens/Signing/ParitySignerSignatureReader/ParitySignerSignatureReader.tsx
  src/renderer/screens/Signing/QrReaderWrapper/QrReaderWrapper.tsx
  src/renderer/screens/Signing/SignatureReaderError.tsx
  src/renderer/screens/Signing/SigningDev.tsx
  src/renderer/screens/Signing/common/consts.ts
  src/renderer/screens/Signing/style.css
  src/renderer/screens/Staking/Operations/components/Signing/Signing.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Signing.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: confirmation screen
  src/renderer/screens/Operations/components/TransactionAmount.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: confirmation screen and `assetId` parameter
  src/renderer/screens/Operations/components/TransactionAmount.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

style: fixed back button style and some fonts
  src/renderer/components/common/Scaning/Scaning.tsx
  src/renderer/components/ui-redesign/Buttons/common/constants.ts
  src/renderer/screens/Signing/QrReaderWrapper/QrReaderWrapper.tsx
  src/renderer/screens/Signing/common/consts.ts
  src/renderer/screens/Transfer/components/ActionSteps/Confirmation.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
  src/renderer/theme/default.css
  tw-config-consts/colors.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: added progress
  src/renderer/components/common/QrCode/QrReader/QrSignatureReader.tsx
  src/renderer/screens/Signing/QrReaderWrapper/QrReaderWrapper.tsx
  src/renderer/screens/Staking/Operations/components/Signing/Signing.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Signing.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: confirmation screen (#738)
  src/renderer/screens/Transfer/components/TransferForm.tsx
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: confirmation screen
  src/renderer/screens/Transfer/components/TransferForm.tsx
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: get balances for ORML
  src/renderer/services/balance/balanceService.ts
  src/renderer/services/network/common/chains/chains.json
  src/renderer/services/network/common/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: transfer ORML with tokens pallet
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: decode call data for ORML tokens.transfer
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: application menu customisation
  src/main/main.ts
  src/main/vectormenu.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: transfer ORML with tokens pallet (#740)
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: get balances for ORML (#739)
  src/renderer/services/balance/balanceService.ts
  src/renderer/services/network/common/chains/chains.json
  src/renderer/services/network/common/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: added telegram group link
  src/renderer/screens/Settings/Overview/components/SocialLinks/SocialLinks.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: address validation
  src/renderer/shared/utils/__tests__/address.test.ts
  src/renderer/shared/utils/address.ts
  src/renderer/shared/utils/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: cachel light client state
  package.json
  pnpm-lock.yaml
  src/renderer/services/network/common/chains/chains.json
  src/renderer/services/network/networkService.ts
  src/renderer/services/network/polkadot.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fixes after review
  src/renderer/shared/utils/__tests__/address.test.ts
  src/renderer/shared/utils/address.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: validators step
  src/renderer/assets/images/aesthetics/info.svg
  src/renderer/assets/images/aesthetics/warning.svg
  src/renderer/components/ui-redesign/Alert/Alert.stories.tsx
  src/renderer/components/ui-redesign/Alert/Alert.test.tsx
  src/renderer/components/ui-redesign/Alert/Alert.tsx
  src/renderer/components/ui-redesign/Alert/AlertItem.tsx
  src/renderer/components/ui-redesign/Alert/common/constants.ts
  src/renderer/components/ui-redesign/Alert/common/types.ts
  src/renderer/components/ui-redesign/Buttons/IconButton/IconButton.tsx
  src/renderer/components/ui-redesign/Dropdowns/Combobox/Combobox.tsx
  src/renderer/components/ui-redesign/Dropdowns/common/types.ts
  src/renderer/components/ui-redesign/Inputs/Input/Input.tsx
  src/renderer/components/ui-redesign/Inputs/SearchInput.tsx
  src/renderer/components/ui-redesign/RadioGroup/RadioGroup.tsx
  src/renderer/components/ui-redesign/index.ts
  src/renderer/components/ui/HintList/HintList.test.tsx
  src/renderer/components/ui/Icon/data/aesthetics.tsx
  src/renderer/domain/stake.ts
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/common/utils.tsx
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationForm.tsx
  src/renderer/screens/Staking/Operations/components/Validators/Validators.test.tsx
  src/renderer/screens/Staking/Operations/components/Validators/Validators.tsx
  src/renderer/theme/default.css
  src/shared/locale/en.json
  src/shared/locale/ru.json
  tw-config-consts/colors.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: address validation (#743)
  src/renderer/shared/utils/__tests__/address.test.ts
  src/renderer/shared/utils/address.ts
  src/renderer/shared/utils/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fixes after review
  src/renderer/screens/Settings/Overview/components/SocialLinks/SocialLinks.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: confirmation redesign
  src/renderer/components/common/Deposit/Deposit.tsx
  src/renderer/components/common/Fee/Fee.tsx
  src/renderer/components/ui-redesign/OperationResult/OperationResult.test.tsx
  src/renderer/components/ui-redesign/OperationResult/OperationResult.tsx
  src/renderer/components/ui-redesign/OperationResult/common/constants.ts
  src/renderer/components/ui-redesign/OperationResult/common/types.ts
  src/renderer/components/ui-redesign/OperationResult/constants.ts
  src/renderer/components/ui-redesign/Typography/components/LabelText.tsx
  src/renderer/components/ui/ProgressBadge/ProgressBadge.stories.tsx
  src/renderer/components/ui/ProgressBadge/ProgressBadge.test.tsx
  src/renderer/components/ui/ProgressBadge/ProgressBadge.tsx
  src/renderer/components/ui/index.ts
  src/renderer/screens/Operations/components/ActionSteps/Submit.tsx
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Operations/components/TransactionAmount.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/components/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/components/Submit/Submit.test.tsx
  src/renderer/screens/Staking/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Staking/Operations/components/TransactionInfo/TransactionInfo.test.tsx
  src/renderer/screens/Staking/Operations/components/TransactionInfo/TransactionInfo.tsx
  src/renderer/screens/Staking/Operations/components/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Submit.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: added telegram group link (#742)
  src/renderer/screens/Settings/Overview/components/SocialLinks/SocialLinks.test.tsx
  src/renderer/screens/Settings/Overview/components/SocialLinks/SocialLinks.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: added telegram group link
  src/renderer/screens/Settings/Overview/components/SocialLinks/SocialLinks.test.tsx
  src/renderer/screens/Settings/Overview/components/SocialLinks/SocialLinks.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: submit part
  src/renderer/components/common/AccountAddress/useAddressInfo.tsx
  src/renderer/components/common/AddressWithExplorers/AddressWithExplorers.tsx
  src/renderer/components/common/BalanceNew/BalanceNew.tsx
  src/renderer/components/common/Fee/Fee.tsx
  src/renderer/components/common/SelectableSignatory/SelectableSignatory.tsx
  src/renderer/components/common/SignatoryCard/SignatoryCard.tsx
  src/renderer/components/ui-redesign/Alert/Alert.tsx
  src/renderer/components/ui-redesign/Alert/AlertItem.tsx
  src/renderer/components/ui/Identicon/Identicon.tsx
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/components/AccountsModal/AccountsModal.tsx
  src/renderer/screens/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/components/Modals/AccountsModal/AccountsModal.test.tsx
  src/renderer/screens/Staking/Operations/components/Modals/AccountsModal/AccountsModal.tsx
  src/renderer/screens/Staking/Operations/components/Modals/ValidatorsModal/ValidatorsModal.test.tsx
  src/renderer/screens/Staking/Operations/components/Modals/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationForm.tsx
  src/renderer/screens/Staking/Operations/components/Submit/Submit.test.tsx
  src/renderer/screens/Staking/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/NoAccounts.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/NoValidators.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Submit.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: reduce number of balances update
  src/renderer/services/balance/balanceService.ts
  src/renderer/services/storage/balanceStorage.ts
  src/renderer/services/storage/common/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: stake more
  src/renderer/components/ui-redesign/OperationResult/OperationResult.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/components/NoAsset/NoAsset.tsx
  src/renderer/screens/Staking/Operations/components/Submit/Submit.test.tsx
  src/renderer/screens/Staking/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Staking/Operations/components/index.ts
  src/renderer/screens/Staking/Overview/components/AboutStaking/AboutStaking.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Submit.tsx
  src/renderer/services/staking/validatorsService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: remove logging, fixed typo
  src/renderer/services/balance/balanceService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: stake more v2
  src/renderer/components/ui-redesign/Alert/common/constants.ts
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/common/utils.tsx
  src/renderer/screens/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: reject operation text
  src/renderer/screens/Operations/components/modals/RejectTx.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: rename saveBalance to addBalance
  src/renderer/services/balance/balanceService.ts
  src/renderer/services/storage/balanceStorage.ts
  src/renderer/services/storage/common/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: return keys back
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

chore: check that arrays are equal
  src/renderer/services/balance/balanceService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: return cancelTitle key back
  src/renderer/screens/Operations/components/modals/RejectTx.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: onboarding redesign
  src/main/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/shared/locale/*.json
