Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

feat: chat dev page
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/routes/index.tsx
  src/renderer/screens/ChatDev/ChatDev.tsx
  src/renderer/screens/index.ts
  src/renderer/services/matrix/common/types.ts
  src/renderer/services/matrix/matrix.ts
  src/renderer/services/storage/storage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Update src/renderer/components/ui-redesign/Tabs/Tabs.test.tsx
  src/renderer/components/ui-redesign/Tabs/Tabs.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: renamed title1 to title
  src/renderer/components/ui-redesign/Modals/BaseModal/BaseModal.tsx
  src/renderer/components/ui-redesign/Typography/components/TitleText.tsx
  tailwind.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: made h2 default tag for title
  src/renderer/components/ui-redesign/Typography/components/TitleText.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: removed fragment, added styles object for input hint
  src/renderer/components/ui-redesign/InfoLink/InfoLink.tsx
  src/renderer/components/ui-redesign/InputHint/InputHint.tsx
  src/renderer/components/ui-redesign/InputHint/contants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: pr comments fix
  src/renderer/components/ui-redesign/Tabs/Tabs.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: transaction details (#582)
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/components/ui/Icon/data/functionals.tsx
  src/renderer/components/ui/Table/TableParts.tsx
  src/renderer/components/ui/Table/common/constants.ts
  src/renderer/components/ui/Table/common/types.ts
  src/renderer/components/ui/Truncate/Truncate.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/domain/chain.ts
  src/renderer/domain/transaction.ts
  src/renderer/screens/AddressBook/AddressBook.tsx
  src/renderer/screens/AddressBook/components/ContactList.tsx
  src/renderer/screens/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/common/utils.ts
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Transfer/components/TransferForm/TransferForm.tsx
  src/renderer/services/multisigTx/common/utils.ts
  src/renderer/services/multisigTx/multisigTxService.ts
  src/renderer/services/network/common/chains/chains.json
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: transaction details
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/components/ui/Icon/data/functionals.tsx
  src/renderer/components/ui/Table/TableParts.tsx
  src/renderer/components/ui/Table/common/constants.ts
  src/renderer/components/ui/Table/common/types.ts
  src/renderer/components/ui/Truncate/Truncate.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/domain/chain.ts
  src/renderer/domain/transaction.ts
  src/renderer/screens/AddressBook/AddressBook.tsx
  src/renderer/screens/AddressBook/components/ContactList.tsx
  src/renderer/screens/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/common/utils.ts
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Transfer/components/TransferForm/TransferForm.tsx
  src/renderer/services/multisigTx/common/utils.ts
  src/renderer/services/multisigTx/multisigTxService.ts
  src/renderer/services/network/common/chains/chains.json
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: add file opening permission for Mac
  src/main/resources/entitlements/entitlements.mac.plist
Due: none

chore: add file opening permission for Mac (#584)
  src/main/resources/entitlements/entitlements.mac.plist
Due: none

feat: colors from new design system
  .storybook/preview.js
  colors.js
  src/renderer/index.html
  src/renderer/theme/dark.css
  src/renderer/theme/default.css
  src/renderer/theme/index.css
  tailwind.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: dest account in details
  src/renderer/screens/Operations/components/Details.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: dest account in details (#586)
  src/renderer/screens/Operations/components/Details.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: signatory component for mulisig
  src/renderer/components/ui-redesign/Popovers/Popover/Popover.stories.tsx
  src/renderer/components/ui-redesign/Signatory/Signaroty.stories.tsx
  src/renderer/components/ui-redesign/Signatory/Signatory.test.tsx
  src/renderer/components/ui-redesign/Signatory/Signatory.tsx
  src/renderer/components/ui-redesign/Typography/common/TextBase.ts
  src/renderer/components/ui-redesign/Typography/common/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: explorer link
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Operations/components/Operation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: explorer link (#588)
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Operations/components/Operation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: changed address to test_address
  src/renderer/components/ui-redesign/Signatory/Signaroty.stories.tsx
  src/renderer/components/ui-redesign/Signatory/Signatory.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Update src/renderer/index.html
  src/renderer/index.html
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fixed pr comments
  src/renderer/index.html
  src/renderer/theme/dark.css
  src/renderer/theme/default.css
  src/renderer/theme/index.css
  tailwind.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: timeline pagination
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/ChatDev/ChatDev.tsx
  src/renderer/services/matrix/common/errors.ts
  src/renderer/services/matrix/common/types.ts
  src/renderer/services/matrix/matrix.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: replaced old colors with new
  .storybook/preview.js
  src/renderer/components/ui-redesign/Buttons/Button/Button.stories.tsx
  src/renderer/components/ui-redesign/Buttons/ButtonBack/ButtonBack.tsx
  src/renderer/components/ui-redesign/Buttons/common/constants.ts
  src/renderer/components/ui-redesign/InfoLink/InfoLink.tsx
  src/renderer/components/ui-redesign/InputHint/contants.ts
  src/renderer/components/ui-redesign/Inputs/Input/Input.tsx
  src/renderer/components/ui-redesign/Inputs/PasswordInput/PasswordInput.tsx
  src/renderer/components/ui-redesign/Modals/BaseModal/BaseModal.stories.tsx
  src/renderer/components/ui-redesign/Modals/BaseModal/BaseModal.tsx
  src/renderer/components/ui-redesign/Popovers/InfoPopover/InfoPopover.tsx
  src/renderer/components/ui-redesign/Popovers/Popover/Popover.tsx
  tailwind.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: deleted part of redesign color
  tailwind.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: input hint fix
  src/renderer/components/ui-redesign/InputHint/InputHint.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: checkbox redesign
  src/renderer/components/ui-redesign/Checkbox/Checkbox.stories.tsx
  src/renderer/components/ui-redesign/Checkbox/Checkbox.test.tsx
  src/renderer/components/ui-redesign/Checkbox/Checkbox.tsx
  src/renderer/components/ui-redesign/Checkbox/styles.css
  src/renderer/components/ui-redesign/Typography/common/TextBase.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx
