Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/renderer/shared/api/translation/locales/*.json": ["pnpm lint:i18n-fix"]
}

fix: fill imported derivation name based on type
  src/renderer/entities/wallet/index.ts
  src/renderer/entities/wallet/lib/constants.ts
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/lib/types.ts
  src/renderer/features/wallets/KeyConstructor/model/constructor-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: linter error fix
  src/renderer/entities/wallet/lib/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: ignore derivations without path or incorrect type or chain
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/lib/types.ts
  src/renderer/features/wallets/ImportKeys/model/import-keys-model.ts
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

Fix: staking dd
  src/renderer/pages/Staking/Overview/Overview.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/ShardedList/ShardedList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: remove duplicate keys
  src/renderer/features/operation/sign/ui/Signing/Signing.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: remove duplicate keys (#1266)
  src/renderer/features/operation/sign/ui/Signing/Signing.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Switch to Error instead of Exception
  src/renderer/entities/transactionBuilder/lib/compound-wallet.ts
  src/renderer/entities/transactionBuilder/lib/factory.ts
  src/renderer/entities/transactionBuilder/lib/leaf.ts
  src/renderer/entities/transactionBuilder/lib/multisig.ts
  src/renderer/entities/wallet/lib/wallet-utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Update src/renderer/pages/Staking/Overview/Overview.tsx
  src/renderer/pages/Staking/Overview/Overview.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Allow to update selected multisig and shard
  src/renderer/entities/transactionBuilder/lib/compound-wallet.ts
  src/renderer/entities/transactionBuilder/lib/factory.ts
  src/renderer/entities/transactionBuilder/lib/leaf.ts
  src/renderer/entities/transactionBuilder/lib/multisig.ts
  src/renderer/entities/transactionBuilder/model/transaction-builder.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix pnpm lock
  pnpm-lock.yaml
Due: none

chore: fix linting
  src/renderer/entities/walletConnect/model/wallet-connect-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix tests
  src/renderer/features/navigation/ui/Navigation.tsx
  src/renderer/pages/Assets/AssetsList/AssetsList.tsx
  src/renderer/pages/Assets/AssetsList/components/SelectShardModal/SelectShardModal.tsx
  src/renderer/pages/Onboarding/Vault/ManageMultishard/ManageMultishard.tsx
  src/renderer/pages/Settings/Networks/components/CustomRpcModal/CustomRpcModal.test.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/ChangeValidators.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Improve builder interface to make multi-signer tx easier
  src/renderer/entities/transactionBuilder/lib/compound-wallet.ts
  src/renderer/entities/transactionBuilder/lib/factory.ts
  src/renderer/entities/transactionBuilder/lib/leaf.ts
  src/renderer/entities/transactionBuilder/lib/multisig.ts
  src/renderer/entities/transactionBuilder/model/transaction-builder.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix tests
  src/renderer/entities/network/lib/networkService.ts
  src/renderer/pages/Settings/Networks/components/CustomRpcModal/CustomRpcModal.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: updated tooltip for multisig's signatory disabled wallets
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/SelectSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: remove unused files
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/model/manage-dynamic-derivations-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: show error networks
  src/renderer/pages/Settings/Networks/components/NetworkList/NetworkList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Integration helpers
  src/renderer/entities/transactionBuilder/lib/compound-wallet.ts
  src/renderer/entities/transactionBuilder/lib/helpers/amount-reduction.ts
  src/renderer/entities/transactionBuilder/lib/helpers/helpers.ts
  src/renderer/entities/transactionBuilder/lib/leaf.ts
  src/renderer/entities/transactionBuilder/lib/multisig.ts
  src/renderer/entities/transactionBuilder/model/transaction-builder.ts
  src/renderer/shared/core/types/wallet.ts
  src/renderer/shared/lib/utils/substrate.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: staking dd (#1265)
  src/renderer/pages/Staking/Overview/Overview.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/ShardedList/ShardedList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: added tests for shouldIgnoreDerivation function
  src/renderer/features/wallets/ImportKeys/lib/__tests__/import-keys-utils.test.ts
  src/renderer/features/wallets/ImportKeys/lib/mocks/import-keys-utils.mock.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: updated tooltip for multisig's signatory disabled wallets (#1268)
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/SelectSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: import derivations names (#1264)
  src/renderer/entities/wallet/index.ts
  src/renderer/entities/wallet/lib/constants.ts
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/lib/types.ts
  src/renderer/features/wallets/KeyConstructor/model/constructor-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: remove commented code
  src/renderer/pages/Assets/AssetsList/AssetsList.test.tsx
  src/renderer/pages/Assets/AssetsList/components/NetworkAssets/NetworkAssets.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: signatory signing type
  src/renderer/components/common/QrCode/QrGenerator/QrTextGenerator.tsx
  src/renderer/components/common/QrCode/QrGenerator/QrTxGenerator.test.tsx
  src/renderer/components/common/QrCode/QrGenerator/QrTxGenerator.tsx
  src/renderer/components/common/QrCode/QrGenerator/common/utils.test.ts
  src/renderer/components/common/QrCode/QrGenerator/common/utils.ts
  src/renderer/components/common/Scanning/ScanSingleframeQr.tsx
  src/renderer/components/common/index.ts
  src/renderer/features/operation/sign/index.ts
  src/renderer/features/operation/sign/model/index.ts
  src/renderer/features/operation/sign/model/types.ts
  src/renderer/features/operation/sign/ui/Signing/Signing.tsx
  src/renderer/features/operation/sign/ui/VaultSigning/VaultSigning.tsx
  src/renderer/features/operation/sign/ui/WalletConnect/WalletConnect.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix PR issues
  src/renderer/entities/transactionBuilder/lib/compound-wallet.ts
  src/renderer/entities/transactionBuilder/lib/factory.ts
  src/renderer/entities/transactionBuilder/lib/leaf.ts
  src/renderer/entities/transactionBuilder/lib/multisig.ts
  src/renderer/entities/transactionBuilder/model/transaction-builder.ts
  src/renderer/pages/Staking/Operations/Restake/Restake.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: wallet export to yaml for legacy multishard
  src/main/main.ts
  src/renderer/features/wallets/ExportKeys/index.ts
  src/renderer/features/wallets/ExportKeys/lib/download-multiple-files.ts
  src/renderer/features/wallets/ExportKeys/lib/export-keys-utils.ts
  src/renderer/features/wallets/ExportKeys/lib/types.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/assets/images/functionals/export.svg
  src/renderer/shared/assets/images/functionals/more.svg
  src/renderer/shared/ui/Buttons/IconButton/IconButton.tsx
  src/renderer/shared/ui/Dropdowns/DropdownIconButton/DropdownIconButton.tsx
  src/renderer/shared/ui/Icon/data/functionals.tsx
  src/renderer/shared/ui/index.ts
  src/renderer/widgets/WalletDetails/ui/MultishardDetailsActions.tsx
  src/renderer/widgets/WalletDetails/ui/MultishardWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fixed menu style
  src/main/main.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/ui/Dropdowns/DropdownIconButton/DropdownIconButton.tsx
  src/renderer/widgets/WalletDetails/ui/MultishardDetailsActions.tsx
  src/renderer/widgets/WalletDetails/ui/MultishardWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: provide wallet
  src/renderer/components/common/Scanning/ScanSingleframeQr.tsx
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/entities/wallet/lib/wallet-utils.ts
  src/renderer/entities/wallet/ui/Cards/WalletCardLg/WalletCardLg.tsx
  src/renderer/entities/wallet/ui/Cards/WalletCardMd/WalletCardMd.tsx
  src/renderer/entities/walletConnect/lib/utils.ts
  src/renderer/entities/walletConnect/model/wallet-connect-model.ts
  src/renderer/features/operation/sign/model/types.ts
  src/renderer/features/operation/sign/ui/Signing/Signing.tsx
  src/renderer/features/operation/sign/ui/VaultSigning/VaultSigning.tsx
  src/renderer/features/wallets/WalletSelect/model/wallet-select-model.ts
  src/renderer/pages/Staking/Overview/Overview.tsx
  src/renderer/pages/Staking/Overview/common/types.ts
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/wallet.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: updated export structure type
  src/renderer/features/wallets/ExportKeys/lib/export-keys-utils.ts
  src/renderer/features/wallets/ExportKeys/lib/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: changed polkadot vault details hotkey from alt to ctrl
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/ManageDynamicDerivations.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/lib/hooks/index.ts
  src/renderer/shared/lib/hooks/useAltOrCtrlKeyPressed.ts
  src/renderer/shared/lib/utils/browser.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: vault details
  src/renderer/app/index.tsx
  src/renderer/components/common/QrCode/QrGenerator/QrTxGenerator.tsx
  src/renderer/components/common/QrCode/QrGenerator/common/utils.ts
  src/renderer/entities/network/lib/networkService.ts
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/entities/wallet/lib/wallet-utils.ts
  src/renderer/entities/wallet/ui/Cards/DerivedAccount.tsx
  src/renderer/entities/wallet/ui/Cards/RootAccountLg.tsx
  src/renderer/entities/wallet/ui/Cards/RootAccountMd.tsx
  src/renderer/entities/wallet/ui/Cards/WalletCardLg.tsx
  src/renderer/entities/wallet/ui/Cards/WalletCardMd.tsx
  src/renderer/entities/wallet/ui/Cards/WalletCardSm.tsx
  src/renderer/entities/wallet/ui/ExplorersPopover/ExplorersPopover.tsx
  src/renderer/entities/wallet/ui/RootAccount/RootAccount.test.tsx
  src/renderer/entities/wallet/ui/RootAccount/RootAccount.tsx
  src/renderer/entities/wallet/ui/VaultAccountsList/VaultAccountsList.tsx
  src/renderer/entities/wallet/ui/index.ts
  src/renderer/features/operation/sign/ui/Signing/Signing.tsx
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/ManageDynamicDerivations.tsx
  src/renderer/pages/Staking/Overview/Overview.tsx
  src/renderer/shared/lib/hooks/useModalClose.ts
  src/renderer/shared/ui/Accordion/Accordion.tsx
  src/renderer/shared/ui/ContextMenu/ContextMenu.tsx
  src/renderer/shared/ui/index.ts
  src/renderer/widgets/WalletDetails/lib/types.ts
  src/renderer/widgets/WalletDetails/model/vault-details-model.ts
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
  src/renderer/widgets/WalletDetails/ui/ShardsList.tsx
  src/renderer/widgets/WalletDetails/ui/VaultWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletDetailsProvider.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: update function usage
  src/renderer/entities/signatory/lib/utils.ts
  src/renderer/entities/wallet/lib/wallet-utils.ts
  src/renderer/features/operation/init/ui/OperationHeader.tsx
  src/renderer/pages/Assets/AssetsList/AssetsList.tsx
  src/renderer/pages/Operations/components/LogModal.tsx
  src/renderer/widgets/ReceiveAssetModal/ui/ReceiveAssetModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr comments fix
  src/renderer/features/wallets/ImportKeys/lib/constants.ts
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/lib/types.ts
  src/renderer/features/wallets/ImportKeys/model/import-keys-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: types
  src/renderer/features/operation/sign/ui/VaultSigning/VaultSigning.tsx
  src/renderer/pages/Staking/Overview/Overview.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Signatory signing type (#1271)
  src/renderer/components/common/QrCode/QrGenerator/QrTextGenerator.tsx
  src/renderer/components/common/QrCode/QrGenerator/QrTxGenerator.test.tsx
  src/renderer/components/common/QrCode/QrGenerator/QrTxGenerator.tsx
  src/renderer/components/common/QrCode/QrGenerator/common/utils.test.ts
  src/renderer/components/common/QrCode/QrGenerator/common/utils.ts
  src/renderer/components/common/Scanning/ScanSingleframeQr.tsx
  src/renderer/components/common/index.ts
  src/renderer/entities/signatory/lib/utils.ts
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/entities/wallet/lib/wallet-utils.ts
  src/renderer/entities/wallet/ui/Cards/WalletCardLg/WalletCardLg.tsx
  src/renderer/entities/wallet/ui/Cards/WalletCardMd/WalletCardMd.tsx
  src/renderer/entities/walletConnect/lib/utils.ts
  src/renderer/entities/walletConnect/model/wallet-connect-model.ts
  src/renderer/features/operation/init/ui/OperationHeader.tsx
  src/renderer/features/operation/sign/index.ts
  src/renderer/features/operation/sign/model/index.ts
  src/renderer/features/operation/sign/model/types.ts
  src/renderer/features/operation/sign/ui/Signing/Signing.tsx
  src/renderer/features/operation/sign/ui/VaultSigning/VaultSigning.tsx
  src/renderer/features/operation/sign/ui/WalletConnect/WalletConnect.tsx
  src/renderer/features/wallets/WalletSelect/model/wallet-select-model.ts
  src/renderer/pages/Assets/AssetsList/AssetsList.tsx
  src/renderer/pages/Operations/components/LogModal.tsx
  src/renderer/pages/Staking/Overview/Overview.tsx
  src/renderer/pages/Staking/Overview/common/types.ts
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/wallet.ts
  src/renderer/widgets/ReceiveAssetModal/ui/ReceiveAssetModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: fixed derivations filtering
  src/renderer/features/wallets/ImportKeys/model/import-keys-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: pv details, components
  package.json
  pnpm-lock.yaml
  src/renderer/entities/wallet/ui/Cards/DerivedAccount.tsx
  src/renderer/entities/wallet/ui/Cards/RootAccountLg.tsx
  src/renderer/entities/wallet/ui/Cards/RootAccountMd.tsx
  src/renderer/entities/wallet/ui/ExplorersPopover/ExplorersPopover.tsx
  src/renderer/entities/wallet/ui/MultishardAccountsList/MultishardAccountsList.tsx
  src/renderer/entities/wallet/ui/VaultAccountsList/VaultAccountsList.tsx
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/ManageDynamicDerivations.tsx
  src/renderer/shared/core/types/account.ts
  src/renderer/shared/lib/utils/constants.ts
  src/renderer/shared/ui/ContextMenu/ContextMenu.tsx
  src/renderer/shared/ui/ExplorerLink/ExplorerLink.tsx
  src/renderer/widgets/WalletDetails/ui/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/ShardsList.tsx
  src/renderer/widgets/WalletDetails/ui/VaultWalletDetails.tsx
  tailwind.config.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: locale
  src/renderer/entities/wallet/ui/VaultAccountsList/VaultAccountsList.tsx
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/ManageDynamicDerivations.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/WalletDetails/ui/ShardsList.tsx
  src/renderer/widgets/WalletDetails/ui/VaultWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix
