Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

chore: update repo name
  README.md
  electron-builder.js
  tests/integrations/setup.integration.tests.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: update date in CHANGELOG.md
  CHANGELOG.md
Due: none

fix: added prev active accounts deactivation after adding a new one (#721)
  src/renderer/services/account/accountService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: added prev active accounts deactivation after adding a new one
  src/renderer/services/account/accountService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: rollback logs
  src/renderer/index.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: changed selection logic and root selection
  src/renderer/components/layout/PrimaryLayout/Wallets/common/utils.ts
  src/renderer/screens/Balances/SelectShardModal/SelectShardModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: hover for links, descriptions
  src/renderer/screens/Settings/Overview/components/GeneralActions/GeneralActions.tsx
  src/renderer/screens/Settings/Overview/components/MatrixAction/MatrixAction.tsx
  src/renderer/screens/Settings/Overview/components/SocialLinks/SocialLinks.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: matrix descriptions
  src/renderer/screens/Settings/Overview/components/MatrixAction/MatrixAction.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

refactor: changed date sort methods name
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/common/utils.ts
  src/renderer/screens/Operations/components/Log.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: replace twMerge
  src/renderer/components/ui-redesign/Plate/Plate.tsx
  src/renderer/screens/Settings/Overview/components/GeneralActions/GeneralActions.tsx
  src/renderer/screens/Settings/Overview/components/MatrixAction/MatrixAction.tsx
  src/renderer/screens/Settings/Overview/components/SocialLinks/SocialLinks.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Operations style fixes
  src/renderer/components/common/BalanceNew/BalanceNew.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/common/utils.ts
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Balances/SelectShardModal/SelectShardModal.tsx
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/common/constants.ts
  src/renderer/screens/Operations/common/utils.ts
  src/renderer/screens/Operations/components/Chain/Chain.tsx
  src/renderer/screens/Operations/components/Log.tsx
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Operations/components/TransactionAmount.tsx
  src/renderer/screens/Operations/components/TransactionTitle/TransactionTitle.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
  tailwind.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Fix: Operations style fixes (#722)
  src/renderer/components/common/BalanceNew/BalanceNew.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/common/utils.ts
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Balances/SelectShardModal/SelectShardModal.tsx
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/common/constants.ts
  src/renderer/screens/Operations/common/utils.ts
  src/renderer/screens/Operations/components/Chain/Chain.tsx
  src/renderer/screens/Operations/components/Log.tsx
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Operations/components/TransactionAmount.tsx
  src/renderer/screens/Operations/components/TransactionTitle/TransactionTitle.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
  tailwind.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: remove "conquer"
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix: fixed root acc deactivation on multishard create
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
  src/renderer/services/account/accountService.ts
  src/renderer/services/account/common/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: removed acc deactivation for create root
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: test mocks fix
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: removed toggleActiveAccount
  src/renderer/services/account/__tests__/accountService.test.ts
  src/renderer/services/account/accountService.ts
  src/renderer/services/account/common/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: Fixed root account deactivation on multishard create (#726)
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.test.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
  src/renderer/services/account/__tests__/accountService.test.ts
  src/renderer/services/account/accountService.ts
  src/renderer/services/account/common/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Fixed root account deactivation on multishard create
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.test.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
  src/renderer/services/account/__tests__/accountService.test.ts
  src/renderer/services/account/accountService.ts
  src/renderer/services/account/common/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: rename nova-wallet to novasamatech
  CONTRIBUTING.md
  README.md
  electron-builder.js
  scripts/buildChainsJson.js
  src/renderer/components/common/AccountsList/AccountsList.test.tsx
  src/renderer/components/common/BalanceNew/BalanceNew.stories.tsx
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.stories.tsx
  tests/integrations/setup.integration.tests.ts
  tests/integrations/utils/common/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: adding sha256 sum to release artifacts
  .github/workflows/release.yaml
Due: none

fix: workflow names
  .github/workflows/release.yaml
Due: none

chore: update readme and rename nova-wallet to novasamatech
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  electron-builder.js
  scripts/buildChainsJson.js
  src/renderer/components/common/AccountsList/AccountsList.test.tsx
  src/renderer/components/common/BalanceNew/BalanceNew.stories.tsx
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.stories.tsx
  tests/integrations/setup.integration.tests.ts
  tests/integrations/utils/common/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: update readme and rename nova-wallet to novasamatech (#643)
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  electron-builder.js
  scripts/buildChainsJson.js
  src/renderer/components/common/AccountsList/AccountsList.test.tsx
  src/renderer/components/common/BalanceNew/BalanceNew.stories.tsx
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.stories.tsx
  tests/integrations/setup.integration.tests.ts
  tests/integrations/utils/common/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: fixed account deactivate
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/services/account/accountService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: remove extrac condition
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: fixed tests
  src/renderer/services/account/__tests__/accountService.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Adding shasum to release distr
  .github/workflows/release.yaml
Due: none

Adding shasum to release distr (#727)
  .github/workflows/release.yaml
Due: none

fix: change command to rename linux distr
  .github/workflows/release.yaml
Due: none

fix: change command to rename linux distr (#733)
  .github/workflows/release.yaml
Due: none

Fix: fixed account deactivate
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/services/account/__tests__/accountService.test.ts
  src/renderer/services/account/accountService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: fixed account deactivate (#728)
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/services/account/__tests__/accountService.test.ts
  src/renderer/services/account/accountService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: operation scanning step redesign and scanning components merge
  src/renderer/assets/images/misc/qr-frame.svg
  src/renderer/components/common/QrCode/QrGeneratorContainer/QrGeneratorContainer.tsx
  src/renderer/components/common/Scaning/Scaning.tsx
  src/renderer/components/common/index.ts
  src/renderer/components/ui-redesign/Buttons/common/constants.ts
  src/renderer/components/ui-redesign/InfoLink/InfoLink.tsx
  src/renderer/screens/Operations/components/ActionSteps/Scanning.tsx
  src/renderer/screens/Operations/components/ActionSteps/Signing.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/screens/Operations/components/modals/RejectTx.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/components/Scanning/MultiScanning.tsx
  src/renderer/screens/Staking/Operations/components/Scanning/SingleScanning.tsx
  src/renderer/screens/Staking/Operations/components/Signing/Signing.tsx
  src/renderer/screens/Staking/Operations/components/index.ts
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Scanning.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Signing.tsx
  src/renderer/screens/Transfer/components/ActionSteps/index.ts
  src/renderer/theme/default.css
  tw-config-consts/colors.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: bond, operations form
  package.json
  pnpm-lock.yaml
  src/renderer/App.tsx
  src/renderer/assets/images/functionals/lock.svg
  src/renderer/components/common/BalanceNew/BalanceNew.tsx
  src/renderer/components/common/Deposit/Deposit.tsx
  src/renderer/components/ui-redesign/Dropdowns/MultiSelect/MultiSelect.tsx
  src/renderer/components/ui-redesign/Inputs/AmountInput/AmountInput.tsx
  src/renderer/components/ui-redesign/Modals/BaseModal/BaseModal.tsx
  src/renderer/components/ui-redesign/RadioGroup/RadioGroup.css
  src/renderer/components/ui-redesign/RadioGroup/RadioGroup.stories.tsx
  src/renderer/components/ui-redesign/RadioGroup/RadioGroup.test.tsx
  src/renderer/components/ui-redesign/RadioGroup/RadioGroup.tsx
  src/renderer/components/ui-redesign/RadioGroup/common/types.ts
  src/renderer/components/ui-redesign/Typography/components/FootnoteText.tsx
  src/renderer/components/ui-redesign/index.ts
  src/renderer/components/ui/Icon/data/functionals.tsx
  src/renderer/components/ui/RadioGroup/RadioGroup.tsx
  src/renderer/components/ui/index.ts
  src/renderer/index.tsx
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Operations/components/Chain/Chain.tsx
  src/renderer/screens/Operations/components/OperationModalTitle.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/common/utils.tsx
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationForm.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
  src/renderer/services/account/accountService.ts
  src/renderer/services/network/networkService.ts
  src/renderer/shared/utils/constants.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
  webpack/webpack.renderer.dev.ts
  webpack/webpack.renderer.prod.ts
  webpack/webpack.renderer.stage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: operation form styling
  src/renderer/components/ui-redesign/Dropdowns/Combobox/Combobox.tsx
  src/renderer/components/ui-redesign/Dropdowns/MultiSelect/MultiSelect.tsx
  src/renderer/components/ui-redesign/Dropdowns/Select/Select.tsx
  src/renderer/components/ui-redesign/Dropdowns/common/constants.ts
  src/renderer/components/ui-redesign/Inputs/AmountInput/AmountInput.tsx
  src/renderer/components/ui-redesign/Modals/BaseModal/BaseModal.tsx
  src/renderer/components/ui-redesign/RadioGroup/RadioGroup.tsx
  src/renderer/screens/AddressBook/AddressBook.tsx
  src/renderer/screens/AddressBook/components/ContactModal.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/common/utils.tsx
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx
