Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

feat: runtime 9420 update
  src/renderer/services/balance/balanceService.ts
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: multisig account invitation
  src/renderer/context/MatrixContext/MatrixContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: multisig account invitation
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: balance transfer validation (#655)
  src/renderer/screens/Transfer/components/TransferForm/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: balance transfer validation
  src/renderer/screens/Transfer/components/TransferForm/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: multisig account invitation (#658)
  src/renderer/context/MatrixContext/MatrixContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: multisig account invitation (#660)
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: operation details title fix
  src/renderer/screens/Operations/components/Details.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: multisig operation call data parsing, fee check for multisig staking operations
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/screens/Operations/common/utils.ts
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: update description and cancel description
  src/renderer/context/MatrixContext/MatrixContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: update restake, unstake validation
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: multisig operation call data parsing
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/screens/Operations/common/utils.ts
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: multisig operation call data parsing (#662)
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/screens/Operations/common/utils.ts
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: operation details title fix (#661)
  src/renderer/screens/Operations/components/Details.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: added logging for matrix event processing
  src/renderer/context/MatrixContext/MatrixContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: add logs
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/services/multisigTx/multisigTxService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: added logging for matrix event processing (#663)
  src/renderer/context/MatrixContext/MatrixContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: reject status
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/screens/Operations/components/ActionSteps/Submit.tsx
  src/renderer/services/chainSubscription/chainSubscriptionService.ts
  src/renderer/services/multisigTx/multisigTxService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: reject status (#656)
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/screens/Operations/components/ActionSteps/Submit.tsx
  src/renderer/services/chainSubscription/chainSubscriptionService.ts
  src/renderer/services/multisigTx/multisigTxService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: added logging for parsing call data
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/services/multisigTx/multisigTxService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: fixed operation details bugs
  src/renderer/screens/Operations/common/constants.ts
  src/renderer/screens/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/screens/Operations/components/ActionSteps/Submit.tsx
  src/renderer/screens/Operations/components/Chain/Chain.test.tsx
  src/renderer/screens/Operations/components/Chain/Chain.tsx
  src/renderer/screens/Operations/components/DetailWithLabel.tsx
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Operations/components/Log.tsx
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Operations/components/Scanning/Scanning.tsx
  src/renderer/screens/Operations/components/TransactionTitle/TransactionTitle.test.tsx
  src/renderer/screens/Operations/components/TransactionTitle/TransactionTitle.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/screens/Operations/components/modals/RejectTx.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: update icon links
  src/renderer/services/network/common/chains/chains.json
  src/renderer/services/network/common/chains/omni-chains.json
  src/renderer/services/network/common/chains/omni-chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: logs on chain subscription
  src/renderer/services/multisigTx/common/utils.ts
  src/renderer/services/multisigTx/multisigTxService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: update to the latest version
  src/renderer/services/network/common/chains/chains.json
  src/renderer/services/network/common/chains/omni-chains.json
  src/renderer/services/network/common/chains/omni-chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: change chains.json update logic
  .github/workflows/update_chains_file.yaml
  scripts/assetsNameMap.json
  scripts/buildChainsJson.js
  src/renderer/services/network/common/chains/chains.json
  src/renderer/services/network/common/chains/omni-chains.json
  src/renderer/services/network/common/chains/omni-chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: change chains.json update logic (#653)
  .github/workflows/update_chains_file.yaml
  scripts/assetsNameMap.json
  scripts/buildChainsJson.js
  src/renderer/services/network/common/chains/chains.json
  src/renderer/services/network/common/chains/omni-chains.json
  src/renderer/services/network/common/chains/omni-chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: changed operation title width
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Operations/components/TransactionTitle/TransactionTitle.tsx
  tailwind.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fixed pr comments
  src/renderer/services/balance/balanceService.ts
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fixed operation test mocks
  src/renderer/screens/Operations/Operations.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: logs on chain subscription (#665)
  src/renderer/services/multisigTx/common/utils.ts
  src/renderer/services/multisigTx/multisigTxService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: added logging for parsing call data (#664)
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/services/multisigTx/multisigTxService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: component name fix
  src/renderer/screens/Operations/components/DetailWithLabel.tsx
  src/renderer/screens/Operations/components/Details.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx
