Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

feat: get info about slashed validators
  src/renderer/domain/identity.ts
  src/renderer/domain/shared-kernel.ts
  src/renderer/domain/stake.ts
  src/renderer/domain/validator.ts
  src/renderer/screens/Staking/Bond/Bond.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/stakingDataService.ts
  src/renderer/services/staking/validatorsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: use multi for balances (#164)
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/types.ts
  src/renderer/context/NetworkContext/NetworkContext.tsx
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.tsx
  src/renderer/screens/Onboarding/Parity/StepThreeSingle/StepThreeSingle.tsx
  src/renderer/screens/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/services/balance/balanceService.ts
  src/renderer/services/balance/common/types.ts
  src/renderer/services/dataVerification/dataVerification.ts
  src/renderer/services/network/common/constants.ts
  src/renderer/services/network/networkService.ts
  src/renderer/services/storage/balanceStorage.ts
  src/renderer/services/storage/common/types.ts
  src/renderer/services/subscription/common/types.ts
  src/renderer/services/subscription/subscriptionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: check accout for every network
  src/renderer/screens/Balances/Balances/Balances.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: check accout for every network (#170)
  src/renderer/screens/Balances/Balances/Balances.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: rework balance subscription
  src/renderer/context/NetworkContext/NetworkContext.tsx
  src/renderer/hooks/usePreviouse.ts
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix tests
  src/renderer/context/NetworkContext/NetworkContext.test.tsx
  src/renderer/context/NetworkContext/NetworkContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: rework balance subscription (#171)
  src/renderer/context/NetworkContext/NetworkContext.test.tsx
  src/renderer/context/NetworkContext/NetworkContext.tsx
  src/renderer/hooks/usePreviouse.ts
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: rework balance verification
  src/renderer/services/balance/balanceService.ts
  src/renderer/services/dataVerification/dataVerification.ts
  src/renderer/services/dataVerification/decode.ts
  src/renderer/services/storage/balanceStorage.ts
  src/renderer/services/storage/common/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: rework balance verification (#172)
  src/renderer/services/balance/balanceService.ts
  src/renderer/services/dataVerification/dataVerification.ts
  src/renderer/services/dataVerification/decode.ts
  src/renderer/services/storage/balanceStorage.ts
  src/renderer/services/storage/common/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Feat: Slashed validators (#168)
  src/renderer/domain/identity.ts
  src/renderer/domain/shared-kernel.ts
  src/renderer/domain/stake.ts
  src/renderer/domain/validator.ts
  src/renderer/screens/Staking/Bond/Bond.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/stakingDataService.ts
  src/renderer/services/staking/validatorsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: expand explorers
  src/renderer/components/common/Explorers/Explorers.tsx
  src/renderer/hooks/useClickOutside.ts
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: expand explorers (#173)
  src/renderer/components/common/Explorers/Explorers.tsx
  src/renderer/hooks/useClickOutside.ts
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: increase package version
  package.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: remove some relaychains from staking
  src/renderer/services/network/common/chains/omni-chains.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix macOS camera issues. (#165)
  .github/workflows/release.yaml
  app.config.js
  electron-builder.js
  package.json
  pnpm-lock.yaml
  scripts/notarize.js
  src/main/resources/entitlements/entitlements.mac.plist
  src/renderer/components/ui/Popover/Popover.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Filter by name/address
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/EmptyFilter.test.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/EmptyFilter.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.tsx
  src/renderer/screens/Staking/Overview/components/List/common/types.ts
  src/renderer/screens/Staking/Overview/components/index.ts
  src/renderer/utils/strings.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Fix: Loader for Staking accounts / Total stake loader
  src/renderer/screens/Staking/Bond/Validators/Validators.test.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.tsx
  src/renderer/screens/Staking/Overview/components/TotalAmount/TotalAmount.tsx
  src/renderer/services/staking/__tests__/stakingDataService.test.ts
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/stakingDataService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Loader for Staking accounts / Total stake loader (#159)
  src/renderer/screens/Staking/Bond/Validators/Validators.test.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.tsx
  src/renderer/screens/Staking/Overview/components/TotalAmount/TotalAmount.tsx
  src/renderer/services/staking/__tests__/stakingDataService.test.ts
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/stakingDataService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: use multi for balances
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/types.ts
  src/renderer/context/NetworkContext/NetworkContext.tsx
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.tsx
  src/renderer/screens/Onboarding/Parity/StepThreeSingle/StepThreeSingle.tsx
  src/renderer/screens/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/services/balance/balanceService.ts
  src/renderer/services/balance/common/types.ts
  src/renderer/services/dataVerification/dataVerification.ts
  src/renderer/services/network/common/constants.ts
  src/renderer/services/network/networkService.ts
  src/renderer/services/storage/balanceStorage.ts
  src/renderer/services/storage/common/types.ts
  src/renderer/services/subscription/common/types.ts
  src/renderer/services/subscription/subscriptionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: pr flow to satisfy linter
  .github/workflows/create_new_tag.yml
  .github/workflows/make-pull-request/action.yaml
  .github/workflows/update_chains_file.yaml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Feat: Filter by name/address (#161)
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/EmptyFilter.test.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/EmptyFilter.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.tsx
  src/renderer/screens/Staking/Overview/components/List/common/types.ts
  src/renderer/screens/Staking/Overview/components/index.ts
  src/renderer/utils/strings.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: empty states (#156)
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/InactiveChain.test.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/InactiveChain.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/NoAccounts.test.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/NoAccounts.tsx
  src/renderer/screens/Staking/Overview/components/index.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: empty states
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/InactiveChain.test.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/InactiveChain.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/NoAccounts.test.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/NoAccounts.tsx
  src/renderer/screens/Staking/Overview/components/index.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: multishard wallet list
  src/renderer/components/common/Expandable/Expandable.tsx
  src/renderer/components/common/Explorers/Explorers.tsx
  src/renderer/components/common/index.ts
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/types.ts
  src/renderer/components/layout/PrimaryLayout/Wallets/useWalletStructure.ts
  src/renderer/components/ui/Address/Address.tsx
  src/renderer/components/ui/Checkbox/Checkbox.tsx
  src/renderer/components/ui/Dropdowns/Dropdown/Dropdown.stories.tsx
  src/renderer/components/ui/Dropdowns/Select/Select.stories.tsx
  src/renderer/components/ui/Identicon/Identicon.tsx
  src/renderer/index.css
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.css
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/services/storage/storage.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Staking list (#153)
  electron-builder.js
  pnpm-lock.yaml
  src/renderer/components/common/Badge/Badge.stories.tsx
  src/renderer/components/common/Badge/Badge.test.tsx
  src/renderer/components/common/Badge/Badge.tsx
  src/renderer/components/common/Badge/common/types.ts
  src/renderer/components/common/index.ts
  src/renderer/components/ui/Dropdowns/Dropdown/Dropdown.tsx
  src/renderer/components/ui/Identicon/Identicon.tsx
  src/renderer/components/ui/Popover/Popover.tsx
  src/renderer/components/ui/Shimmering/Shimmering.css
  src/renderer/components/ui/Shimmering/Shimmering.tsx
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.tsx
  src/renderer/screens/Onboarding/Parity/ScanMoreModal/ScanMoreModal.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
  src/renderer/screens/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/screens/Settings/Networks/ConnectionSelector/Selector/Selector.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.tsx
  src/renderer/screens/Staking/Overview/components/List/common/types.ts
  src/renderer/screens/Staking/Overview/components/StakingList/StakingList.test.tsx
  src/renderer/screens/Staking/Overview/components/StakingList/StakingList.tsx
  src/renderer/screens/Staking/Overview/components/TotalAmount/TotalAmount.tsx
  src/renderer/screens/Staking/Overview/components/index.ts
  src/renderer/services/balance/common/utils.ts
  src/renderer/services/matrix/matrix.ts
  src/renderer/services/network/networkService.ts
  src/renderer/services/staking/stakingDataService.ts
  src/renderer/services/staking/stakingRewardsService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: select account after add
  src/renderer/domain/account.ts
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: add wallet without root
  src/renderer/components/common/AccountsList/AccountsList.tsx
  src/renderer/components/common/Explorers/Explorers.tsx
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/ui/Icon/data/functionals.tsx
  src/renderer/index.css
  src/renderer/screens/Onboarding/Parity/Parity.tsx
  src/renderer/screens/Onboarding/Parity/ParitySignerQrReader/ParitySignerQrReader.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
  src/renderer/screens/Transfer/components/TransferDetails.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Fix macOS camera issues.
  .github/workflows/release.yaml
  app.config.js
  electron-builder.js
  package.json
  pnpm-lock.yaml
  scripts/notarize.js
  src/main/resources/entitlements/entitlements.mac.plist
  src/renderer/components/ui/Popover/Popover.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx
