Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fix go back
  src/renderer/screens/Transfer/components/ActionSteps/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: add icon
  src/renderer/screens/Transfer/components/ActionSteps/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: change type name
  src/renderer/screens/Operations/components/Filters.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: duplicate resolution strategy score check
  src/renderer/context/MatrixContext/MatrixContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: removed log
  src/renderer/screens/Operations/components/Filters.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: condition for stay in old room
  src/renderer/context/MatrixContext/MatrixContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: dropdown button redesign (#683)
  src/renderer/components/ui-redesign/Dropdowns/DropdownButton/DropdownButton.stories.tsx
  src/renderer/components/ui-redesign/Dropdowns/DropdownButton/DropdownButton.test.tsx
  src/renderer/components/ui-redesign/Dropdowns/DropdownButton/DropdownButton.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: dropdown button redesign
  src/renderer/components/ui-redesign/Dropdowns/DropdownButton/DropdownButton.stories.tsx
  src/renderer/components/ui-redesign/Dropdowns/DropdownButton/DropdownButton.test.tsx
  src/renderer/components/ui-redesign/Dropdowns/DropdownButton/DropdownButton.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: fee validation on signer change
  src/renderer/screens/Transfer/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: use cnTw
  src/renderer/components/layout/PrimaryLayout/NavItem/NavItem.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: remove equilibrium
  src/renderer/services/network/common/chains/chains.json
  src/renderer/services/network/common/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: remove equilibrium (#686)
  package.json
  src/renderer/services/network/common/chains/chains.json
  src/renderer/services/network/common/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: remove equilibrium
  package.json
  src/renderer/services/network/common/chains/chains.json
  src/renderer/services/network/common/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: wallet management dialog and card
  src/renderer/assets/images/walletTypes/multishard.svg
  src/renderer/assets/images/walletTypes/multisig.svg
  src/renderer/assets/images/walletTypes/watchOnly.svg
  src/renderer/components/common/AccountAddress/AccountAddress.tsx
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/ActiveAccountCard.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletGroup.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/common/constants.ts
  src/renderer/components/layout/PrimaryLayout/Wallets/common/types.ts
  src/renderer/components/layout/PrimaryLayout/Wallets/common/useWalletStructure.ts
  src/renderer/components/ui-redesign/Buttons/Button/Button.tsx
  src/renderer/components/ui-redesign/Dropdowns/DropdownButton/DropdownButton.tsx
  src/renderer/components/ui-redesign/Inputs/SearchInput.tsx
  src/renderer/components/ui-redesign/index.ts
  src/renderer/components/ui/Icon/data/index.ts
  src/renderer/components/ui/Icon/data/walletType.tsx
  src/renderer/domain/account.ts
  src/renderer/domain/shared-kernel.ts
  src/renderer/screens/Balances/Balances/BalancesFilters.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: keep custom package.json format
  .eslintrc.js
  .github/workflows/create_new_tag.yml
  package.json
  scripts/updatePackageVersion.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: support old multisig pallet
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/services/transaction/common/utils.ts
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: keep custom package.json format (#691)
  .eslintrc.js
  .github/workflows/create_new_tag.yml
  package.json
  scripts/updatePackageVersion.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix lint
  src/renderer/services/transaction/common/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix comments
  src/renderer/components/ui-redesign/Dropdowns/Select/Select.tsx
  src/renderer/screens/Balances/AssetBalanceCard/AssetBalanceCard.tsx
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.tsx
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/screens/Transfer/components/ActionSteps/InitOperation.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
  src/renderer/services/transaction/common/constants.ts
  src/renderer/services/transaction/common/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix tests
  src/renderer/screens/Balances/AssetBalanceCard/AssetBalanceCard.test.tsx
  src/renderer/screens/Balances/Balances/Balances.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: support old multisig pallet
  src/renderer/components/ui-redesign/Dropdowns/Select/Select.tsx
  src/renderer/screens/Balances/AssetBalanceCard/AssetBalanceCard.test.tsx
  src/renderer/screens/Balances/AssetBalanceCard/AssetBalanceCard.tsx
  src/renderer/screens/Balances/Balances/Balances.test.tsx
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.tsx
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/screens/Transfer/components/ActionSteps/InitOperation.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
  src/renderer/services/transaction/common/constants.ts
  src/renderer/services/transaction/common/utils.ts
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: support old multisig pallet (#692)
  src/renderer/components/ui-redesign/Dropdowns/Select/Select.tsx
  src/renderer/screens/Balances/AssetBalanceCard/AssetBalanceCard.test.tsx
  src/renderer/screens/Balances/AssetBalanceCard/AssetBalanceCard.tsx
  src/renderer/screens/Balances/Balances/Balances.test.tsx
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.tsx
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/screens/Transfer/components/ActionSteps/InitOperation.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
  src/renderer/services/transaction/common/constants.ts
  src/renderer/services/transaction/common/utils.ts
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Filters refactor and bugfix
  src/renderer/screens/Operations/components/Filters.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Filters refactor and bugfix (#684)
  src/renderer/screens/Operations/components/Filters.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: changed active account logic
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/ActiveAccountCard.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletGroup.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/common/types.ts
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/domain/account.ts
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/services/account/accountService.ts
  src/renderer/services/account/common/types.ts
  src/renderer/services/multisigTx/multisigTxService.ts
  src/renderer/services/storage/accountStorage.ts
  src/renderer/services/storage/common/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: added shimmer
  src/renderer/components/layout/PrimaryLayout/Wallets/ActiveAccountCard.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: added receive modal
  src/renderer/components/common/AccountAddress/AccountAddress.tsx
  src/renderer/components/ui-redesign/Modals/BaseModal/BaseModal.tsx
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.tsx
  src/renderer/screens/Transfer/components/ActionSteps/InitOperation.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: staking list
  colors.js
  src/renderer/assets/images/staking/change-validators.svg
  src/renderer/assets/images/staking/redeem.svg
  src/renderer/assets/images/staking/return-to-stake.svg
  src/renderer/assets/images/staking/reward-destination.svg
  src/renderer/assets/images/staking/rewards-destination.svg
  src/renderer/assets/images/staking/set-validators.svg
  src/renderer/assets/images/staking/stake-more.svg
  src/renderer/assets/images/staking/start-staking.svg
  src/renderer/assets/images/staking/stop-staking.svg
  src/renderer/assets/images/staking/unstake.svg
  src/renderer/components/common/AccountAddress/useAddressInfo.tsx
  src/renderer/components/common/ExplorerLink/ExplorerLink.tsx
  src/renderer/components/ui-redesign/Checkbox/Checkbox.tsx
  src/renderer/components/ui-redesign/Popovers/InfoPopover/InfoPopover.tsx
  src/renderer/components/ui-redesign/Popovers/Popover/Popover.tsx
  src/renderer/components/ui/Icon/data/staking.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/Actions/Actions.test.tsx
  src/renderer/screens/Staking/Overview/components/Actions/Actions.tsx
  src/renderer/screens/Staking/Overview/components/Filter/Filter.tsx
  src/renderer/screens/Staking/Overview/components/NetworkInfo/NetworkInfo.test.tsx
  src/renderer/screens/Staking/Overview/components/NetworkInfo/NetworkInfo.tsx
  src/renderer/screens/Staking/Overview/components/StakingList/StakingList.test.tsx
  src/renderer/screens/Staking/Overview/components/StakingList/StakingList.tsx
  src/renderer/screens/Staking/Overview/components/TimeToEra/TimeToEra.tsx
  src/renderer/screens/Staking/Overview/components/index.ts
  src/renderer/services/staking/__tests__/stakingRewardsService.test.ts
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/stakingRewardsService.ts
  src/renderer/services/staking/validatorsService.ts
  src/renderer/theme/default.css
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: update menu icons
  src/renderer/assets/images/navigation/address-book-tab.svg
  src/renderer/assets/images/navigation/asset.svg
  src/renderer/assets/images/navigation/assets-tab.svg
  src/renderer/assets/images/navigation/notifications-tab.svg
  src/renderer/assets/images/navigation/operations-tab.svg
  src/renderer/assets/images/navigation/settings-tab.svg
  src/renderer/assets/images/navigation/staking-tab.svg
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/ui/Icon/data/navigation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: rename project to Nova Spektr
  .github/workflows/release.yaml
  NOTICE.md
  app.config.js
  package.json
  src/renderer/index.html
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix: don't show zero badge
  src/renderer/components/layout/PrimaryLayout/NavItem/NavItem.tsx
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: updated styles and replaced watch only asset
  src/renderer/assets/images/walletTypes/watchOnly.svg
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletGroup.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/common/constants.ts
  src/renderer/theme/default.css
  src/shared/locale/en.json
  tw-config-consts/colors.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/shared/locale/*.json
