Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/renderer/shared/api/translation/locales/*.json": ["pnpm lint:i18n-fix"]
}

chore: lint updates
  src/renderer/app/index.tsx
  src/renderer/entities/transaction/lib/extrinsicService.ts
  src/renderer/entities/transaction/ui/Fee/Fee.test.tsx
  src/renderer/entities/transaction/ui/Fee/Fee.tsx
  src/renderer/entities/transaction/ui/FeeLoader/FeeLoader.tsx
  src/renderer/entities/transaction/ui/FeeWithLabel/FeeWithLabel.test.tsx
  src/renderer/entities/transaction/ui/MultisigDeposit/MultisigDeposit.test.tsx
  src/renderer/entities/transaction/ui/MultisigDeposit/MultisigDeposit.tsx
  src/renderer/entities/transaction/ui/MultisigDepositWithLabel/MultisigDepositWithLabel.test.tsx
  src/renderer/entities/transaction/ui/ProxyDeposit/ProxyDeposit.test.tsx
  src/renderer/entities/transaction/ui/ProxyDeposit/ProxyDeposit.tsx
  src/renderer/entities/transaction/ui/ProxyDepositWithLabel/ProxyDepositWithLabel.test.tsx
  src/renderer/entities/transaction/ui/index.ts
  src/renderer/features/balances/model/balance-subscription-model.ts
  src/renderer/features/matrix/MatrixLogin/ui/LoginForm.tsx
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddProxyModal/model/form-model.ts
  src/renderer/widgets/AddProxyModal/model/sign-model.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxyForm.tsx
  src/renderer/widgets/WalletDetails/ui/components/NoProxiesAction.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultishardWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/VaultWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: network modal closing on click on the rpc modal
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Settings/Networks/components/CustomRpcModal/CustomRpcModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: text updates
  src/renderer/entities/transaction/ui/FeeWithLabel/FeeWithLabel.tsx
  src/renderer/entities/transaction/ui/MultisigDepositWithLabel/MultisigDepositWithLabel.tsx
  src/renderer/entities/transaction/ui/ProxyDepositWithLabel/ProxyDepositWithLabel.tsx
  src/renderer/features/operation/init/ui/OperationFooter.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/AddProxyModal/model/form-model.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxyForm.tsx
  src/renderer/widgets/AddProxyModal/ui/AddProxyModal.tsx
  src/renderer/widgets/AddProxyModal/ui/SubmitProxy.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: clean up
  src/renderer/entities/transaction/ui/FeeWithLabel/FeeWithLabel.tsx
  src/renderer/entities/wallet/ui/AccountAddress/AccountAddress.test.tsx
  src/renderer/entities/wallet/ui/AddressWithName/AddressWithName.test.tsx
  src/renderer/features/balances/model/balance-subscription-model.ts
  src/renderer/features/operation/init/ui/OperationFooter.tsx
  src/renderer/widgets/AddProxyModal/model/submit-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/app/providers/context/GraphqlContext/GraphqlContext.tsx
  src/renderer/entities/network/lib/network-utils.ts
  src/renderer/entities/proxy/api/graphql/queries/pureProxies.ts
  src/renderer/entities/proxy/api/pureProxiesService.ts
  src/renderer/entities/proxy/index.ts
  src/renderer/entities/proxy/lib/__tests__/proxy-utils.test.ts
  src/renderer/entities/proxy/lib/proxy-utils.ts
  src/renderer/features/proxies/lib/__tests__/proxies-utils.test.ts
  src/renderer/features/proxies/lib/proxies-utils.ts
  src/renderer/features/proxies/model/__tests__/proxies-model.test.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
  src/renderer/shared/api/network/lib/utils.ts
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/chain.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: adding moonbeam\moonriver multisigs flag
  src/renderer/shared/config/chains/chains.json
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: adding moonbeam\moonriver multisigs flag (#1545)
  src/renderer/shared/config/chains/chains.json
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: load balances
  src/renderer/entities/network/model/network-model.ts
  src/renderer/entities/wallet/ui/CheckPermission/CheckPermission.tsx
  src/renderer/features/balances/subscription/model/__tests__/balance-sub-model.test.ts
  src/renderer/features/balances/subscription/model/balance-sub-model.ts
  src/renderer/shared/api/storage/service/storageService.ts
  src/renderer/shared/config/chains/chains.json
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: merge dev
  src/renderer/app/index.tsx
  src/renderer/features/balances/model/__tests__/balance-subscription-model.test.ts
  src/renderer/features/balances/model/balance-subscription-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: proxied accounts
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/features/balances/subscription/lib/balance-sub-utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: flowStarted event, sub to inactive wallet
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/AddProxyModal/index.ts
  src/renderer/widgets/AddProxyModal/lib/add-proxy-utils.ts
  src/renderer/widgets/AddProxyModal/lib/types.ts
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxyModal.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultishardWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/VaultWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: hide myself button if crypto type doesn't match
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: exclude evm accounts from multichain mulstisig creation
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: open create multisig modal after create multisig
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/MultiChainMultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/SingleChainMultisigWallet.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: correct accounts list for wallet details
  src/renderer/pages/Onboarding/Vault/ManageSingleshard/ManageSingleshard.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: crypto type check
  src/renderer/entities/wallet/lib/account-utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: show moonbeam assets on search
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.tsx
  src/renderer/pages/Assets/Assets/components/NetworkAssets/NetworkAssets.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: some refactoring
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: multisig accounts
  src/renderer/features/balances/subscription/lib/balance-sub-utils.ts
  src/renderer/features/balances/subscription/model/balance-sub-model.ts
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: wip
  src/renderer/features/customRpc/CustomRpcCreationForm/index.ts
  src/renderer/features/customRpc/CustomRpcCreationForm/lib/types.ts
  src/renderer/features/customRpc/CustomRpcCreationForm/model/custom-rpc-creation-model.ts
  src/renderer/features/customRpc/index.ts
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Settings/Networks/components/CustomRpcModal/CustomRpcModal.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: empty file
  src/renderer/features/balances/model/balance-subscription-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix comments
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.tsx
  src/renderer/pages/Onboarding/Vault/ManageSingleshard/ManageSingleshard.tsx
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: networks tests
  src/renderer/features/network/NetworksFilter/model/networks-filter-model.ts
  src/renderer/pages/Settings/Networks/Networks.test.tsx
  src/renderer/pages/Settings/Networks/Networks.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: update ts for statuses
  src/renderer/features/network/NetworkList/ui/ActiveNetwork.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: rollback disconnected status
  src/renderer/features/network/NetworkList/model/active-networks-model.ts
  src/renderer/features/network/NetworkList/model/inactive-networks-model.ts
  src/renderer/features/network/NetworkList/ui/ActiveNetwork.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Rewrite Networks List with FSD + Effector
  src/renderer/features/matrix/MatrixLogin/ui/LoginForm.test.tsx
  src/renderer/features/network/NetworkList/index.ts
  src/renderer/features/network/NetworkList/lib/networks-list-utils.ts
  src/renderer/features/network/NetworkList/model/__tests__/active-networks-model.test.ts
  src/renderer/features/network/NetworkList/model/__tests__/inactive-networks-model.test.ts
  src/renderer/features/network/NetworkList/model/__tests__/mocks/networks-mock.ts
  src/renderer/features/network/NetworkList/model/active-networks-model.ts
  src/renderer/features/network/NetworkList/model/inactive-networks-model.ts
  src/renderer/features/network/NetworkList/ui/ActiveNetwork.tsx
  src/renderer/features/network/NetworkList/ui/EmptyNetworks.tsx
  src/renderer/features/network/NetworkList/ui/InactiveNetwork.tsx
  src/renderer/features/network/NetworkList/ui/NetworkList.tsx
  src/renderer/features/network/NetworkList/ui/styles.css
  src/renderer/features/network/NetworksFilter/index.ts
  src/renderer/features/network/NetworksFilter/model/networks-filter-model.ts
  src/renderer/features/network/NetworksFilter/ui/NetworksFilter.tsx
  src/renderer/features/network/index.ts
  src/renderer/pages/Settings/Networks/Networks.test.tsx
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Settings/Networks/components/NetworkItem/NetworkItem.test.tsx
  src/renderer/pages/Settings/Networks/components/NetworkItem/NetworkItem.tsx
  src/renderer/pages/Settings/Networks/components/NetworkList/NetworkList.test.tsx
  src/renderer/pages/Settings/Networks/components/index.ts
  src/renderer/pages/Settings/Networks/model/manage-network-model.ts
  src/renderer/pages/Settings/Networks/model/networks-overview-model.ts
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Rewrite Networks List with FSD + Effector (#1474)
  src/renderer/features/matrix/MatrixLogin/ui/LoginForm.test.tsx
  src/renderer/features/network/NetworkList/index.ts
  src/renderer/features/network/NetworkList/lib/networks-list-utils.ts
  src/renderer/features/network/NetworkList/model/__tests__/active-networks-model.test.ts
  src/renderer/features/network/NetworkList/model/__tests__/inactive-networks-model.test.ts
  src/renderer/features/network/NetworkList/model/__tests__/mocks/networks-mock.ts
  src/renderer/features/network/NetworkList/model/active-networks-model.ts
  src/renderer/features/network/NetworkList/model/inactive-networks-model.ts
  src/renderer/features/network/NetworkList/ui/ActiveNetwork.tsx
  src/renderer/features/network/NetworkList/ui/EmptyNetworks.tsx
  src/renderer/features/network/NetworkList/ui/InactiveNetwork.tsx
  src/renderer/features/network/NetworkList/ui/NetworkList.tsx
  src/renderer/features/network/NetworkList/ui/styles.css
  src/renderer/features/network/NetworksFilter/index.ts
  src/renderer/features/network/NetworksFilter/model/networks-filter-model.ts
  src/renderer/features/network/NetworksFilter/ui/NetworksFilter.tsx
  src/renderer/features/network/index.ts
  src/renderer/pages/Settings/Networks/Networks.test.tsx
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Settings/Networks/components/NetworkItem/NetworkItem.test.tsx
  src/renderer/pages/Settings/Networks/components/NetworkItem/NetworkItem.tsx
  src/renderer/pages/Settings/Networks/components/NetworkList/NetworkList.test.tsx
  src/renderer/pages/Settings/Networks/components/index.ts
  src/renderer/pages/Settings/Networks/model/manage-network-model.ts
  src/renderer/pages/Settings/Networks/model/networks-overview-model.ts
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fix comments
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/proxies/workers/__tests__/proxy-worker.test.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
  src/renderer/shared/core/types/chain.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: moved files to @features/network
  src/renderer/features/customRpc/CustomRpcCreationForm/index.ts
  src/renderer/features/customRpc/index.ts
  src/renderer/features/network/CreateRpcNode/index.ts
  src/renderer/features/network/CreateRpcNode/lib/types.ts
  src/renderer/features/network/CreateRpcNode/model/create-rpc-node-model.ts
  src/renderer/features/network/CreateRpcNode/ui/CreateRpcNode.tsx
  src/renderer/features/network/index.ts
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Settings/Networks/components/CustomRpcModal/CustomRpcModal.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: wrong import
  src/renderer/app/index.tsx
  src/renderer/features/network/CreateRpcNode/model/create-rpc-node-model.ts
  src/renderer/features/network/CreateRpcNode/ui/CreateRpcNode.tsx
  src/renderer/pages/Settings/Networks/components/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx
