Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/renderer/shared/api/translation/locales/*.json": ["pnpm lint:i18n-fix"]
}

fix: proxy account txs validation
  src/renderer/features/balances/subscription/lib/balance-sub-utils.ts
  src/renderer/features/balances/subscription/model/balance-sub-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: validation order
  src/renderer/features/operations/OperationsValidation/lib/bond-extra-rules.ts
  src/renderer/features/operations/OperationsValidation/lib/bond-nominate-rules.ts
  src/renderer/features/operations/OperationsValidation/lib/restake-rules.ts
  src/renderer/features/operations/OperationsValidation/lib/unstake-rules.ts
  src/renderer/features/operations/OperationsValidation/model/bond-extra-validate-model.ts
  src/renderer/pages/Basket/model/basket-page-model.ts
  src/renderer/pages/Basket/model/sign-operations-model.ts
  src/renderer/widgets/Staking/BondExtra/model/form-model.ts
  src/renderer/widgets/Staking/BondNominate/model/form-model.ts
  src/renderer/widgets/Staking/Restake/model/form-model.ts
  src/renderer/widgets/Staking/Unstake/model/form-model.ts
  src/renderer/widgets/Transfer/model/transfer-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: validate new tx if already on basket page
  src/renderer/pages/Basket/model/basket-page-model.ts
  src/renderer/shared/ui/Modals/ConfirmModal/ConfirmModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: update asset empty state
  src/renderer/entities/asset/ui/EmptyAssetsState/EmptyAssetsState.tsx
  src/renderer/entities/asset/ui/index.ts
  src/renderer/features/assets/AssetsChainView/ui/AssetsChainView.tsx
  src/renderer/features/assets/AssetsPortfolioView/ui/AssetsPortfolioView.tsx
  src/renderer/widgets/AssetTransactionModal/ui/AssetTransactionModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: add opengov filters
  src/renderer/entities/governance/model/governance-model.ts
  src/renderer/entities/network/ui/InactiveNetwork.tsx
  src/renderer/features/governance/ReferendumFilter/common/constants.ts
  src/renderer/features/governance/ReferendumFilter/index.ts
  src/renderer/features/governance/ReferendumFilter/lib/referendum-filter-utils.ts
  src/renderer/features/governance/ReferendumFilter/model/referendum-filter-model.ts
  src/renderer/features/governance/ReferendumFilter/ui/EmptyResults.tsx
  src/renderer/features/governance/ReferendumFilter/ui/ReferendumFilters.tsx
  src/renderer/features/governance/ReferendumFilter/ui/ReferendumSearch.tsx
  src/renderer/features/governance/ReferendumList/index.ts
  src/renderer/features/governance/index.ts
  src/renderer/pages/Governance/lib/__tests__/governance-page-utils.test.ts
  src/renderer/pages/Governance/lib/governance-page-utils.ts
  src/renderer/pages/Governance/lib/utils.ts
  src/renderer/pages/Governance/model/governance-page-model.ts
  src/renderer/pages/Governance/ui/EmptyGovernance.tsx
  src/renderer/pages/Governance/ui/Governance.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/voting.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: typos
  src/renderer/entities/governance/model/governance-model.ts
  src/renderer/pages/Governance/lib/__tests__/governance-page-utils.test.ts
  src/renderer/pages/Governance/model/governance-page-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: sign validated txs while other validating
  src/renderer/pages/Basket/model/basket-page-model.ts
  src/renderer/pages/Basket/ui/Operation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix transfer store reset
  src/renderer/widgets/Transfer/model/transfer-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: lint
  src/renderer/features/governance/ReferendumFilter/common/constants.ts
  src/renderer/features/governance/ReferendumFilter/model/referendum-filter-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: added referendums differentiation based on chain id
  package.json
  pnpm-lock.yaml
  src/renderer/entities/governance/index.ts
  src/renderer/entities/governance/model/governance-model.ts
  src/renderer/entities/governance/ui/VoteCharts/VoteChart/VoteChart.stories.tsx
  src/renderer/entities/governance/ui/VoteCharts/VoteChart/VoteChart.tsx
  src/renderer/entities/governance/ui/VoteCharts/VoteChartLg/VoteChartLg.stories.tsx
  src/renderer/entities/governance/ui/VoteCharts/VoteChartLg/VoteChartLg.tsx
  src/renderer/entities/governance/ui/VoteCharts/index.ts
  src/renderer/features/governance/NetworkSelector/model/network-selector-model.ts
  src/renderer/features/governance/ReferendumDetails/lib/referendum-details-utils.ts
  src/renderer/features/governance/ReferendumDetails/model/referendum-details-model.ts
  src/renderer/features/governance/ReferendumDetails/ui/ReferendumDetails.tsx
  src/renderer/features/governance/ReferendumDetails/ui/VotingStatus.tsx
  src/renderer/features/governance/ReferendumList/lib/referendum-list-utils.ts
  src/renderer/features/governance/ReferendumList/model/referendum-list-model.ts
  src/renderer/features/governance/ReferendumList/ui/CompletedReferendums.tsx
  src/renderer/features/governance/ReferendumList/ui/OngoingReferendums.tsx
  src/renderer/features/governance/VotingStatus/ui/VotingStatusBadge.tsx
  src/renderer/features/governance/index.ts
  src/renderer/pages/Governance/model/governance-page-model.ts
  src/renderer/pages/Governance/ui/Governance.tsx
  src/renderer/shared/api/governance/off-chain/lib/types.ts
  src/renderer/shared/api/governance/off-chain/service/polkassemblyService.ts
  src/renderer/shared/api/governance/off-chain/service/subsquareService.ts
  src/renderer/shared/api/governance/on-chain/service/__tests__/claimScheduleService.test.ts
  src/renderer/shared/api/governance/on-chain/service/governanceService.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/referendum.ts
  src/renderer/shared/lib/utils/index.ts
  src/renderer/shared/lib/utils/objects.ts
  src/renderer/shared/ui/Markdown/Markdown.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: non native transfer validation
  src/renderer/features/operations/OperationsValidation/lib/transfer-rules.ts
  src/renderer/pages/Basket/model/sign-operations-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: restored referendums search feature
  src/renderer/features/governance/ReferendumList/model/referendum-list-model.ts
  src/renderer/pages/Governance/lib/__tests__/governance-page-utils.test.ts
  src/renderer/pages/Governance/lib/utils.ts
  src/renderer/pages/Governance/model/governance-page-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix xcm basket validation
  src/renderer/features/operations/OperationsValidation/model/transfer-validate-model.ts
  src/renderer/shared/api/xcm/service/xcmService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: lint errors
  src/renderer/pages/Governance/lib/__tests__/governance-page-utils.test.ts
  src/renderer/shared/api/governance/off-chain/service/subsquareService.ts
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix: lint errors
  src/renderer/pages/Governance/lib/__tests__/governance-page-utils.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: proxy account txs validation (#1913)
  src/renderer/features/balances/subscription/lib/balance-sub-utils.ts
  src/renderer/features/balances/subscription/model/balance-sub-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: optimized referendum details fetching
  src/renderer/shared/api/governance/off-chain/service/polkassemblyService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: filter early exit
  src/renderer/pages/Governance/lib/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: refactoring
  src/renderer/entities/governance/model/governance-model.ts
  src/renderer/features/governance/ReferendumDetails/model/referendum-details-model.ts
  src/renderer/features/governance/ReferendumDetails/ui/DetailsCard.tsx
  src/renderer/features/governance/ReferendumDetails/ui/ReferendumDetails.tsx
  src/renderer/features/governance/ReferendumDetails/ui/VotingStatus.tsx
  src/renderer/features/governance/ReferendumList/lib/referendum-list-utils.ts
  src/renderer/features/governance/ReferendumList/model/referendum-list-model.ts
  src/renderer/features/governance/ReferendumList/ui/CompletedReferendums.tsx
  src/renderer/features/governance/ReferendumList/ui/ListItem.tsx
  src/renderer/features/governance/ReferendumList/ui/OngoingReferendums.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: validation order (#1916)
  src/renderer/features/operations/OperationsValidation/lib/bond-extra-rules.ts
  src/renderer/features/operations/OperationsValidation/lib/bond-nominate-rules.ts
  src/renderer/features/operations/OperationsValidation/lib/restake-rules.ts
  src/renderer/features/operations/OperationsValidation/lib/transfer-rules.ts
  src/renderer/features/operations/OperationsValidation/lib/unstake-rules.ts
  src/renderer/features/operations/OperationsValidation/model/bond-extra-validate-model.ts
  src/renderer/features/operations/OperationsValidation/model/transfer-validate-model.ts
  src/renderer/pages/Basket/model/basket-page-model.ts
  src/renderer/pages/Basket/model/sign-operations-model.ts
  src/renderer/pages/Basket/ui/Operation.tsx
  src/renderer/shared/api/xcm/service/xcmService.ts
  src/renderer/shared/ui/Modals/ConfirmModal/ConfirmModal.tsx
  src/renderer/widgets/Staking/BondExtra/model/form-model.ts
  src/renderer/widgets/Staking/BondNominate/model/form-model.ts
  src/renderer/widgets/Staking/Restake/model/form-model.ts
  src/renderer/widgets/Staking/Unstake/model/form-model.ts
  src/renderer/widgets/Transfer/model/transfer-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: validation order
  src/renderer/features/operations/OperationsValidation/lib/bond-extra-rules.ts
  src/renderer/features/operations/OperationsValidation/lib/bond-nominate-rules.ts
  src/renderer/features/operations/OperationsValidation/lib/restake-rules.ts
  src/renderer/features/operations/OperationsValidation/lib/transfer-rules.ts
  src/renderer/features/operations/OperationsValidation/lib/unstake-rules.ts
  src/renderer/features/operations/OperationsValidation/model/bond-extra-validate-model.ts
  src/renderer/features/operations/OperationsValidation/model/transfer-validate-model.ts
  src/renderer/pages/Basket/model/basket-page-model.ts
  src/renderer/pages/Basket/model/sign-operations-model.ts
  src/renderer/pages/Basket/ui/Operation.tsx
  src/renderer/shared/api/xcm/service/xcmService.ts
  src/renderer/shared/ui/Modals/ConfirmModal/ConfirmModal.tsx
  src/renderer/widgets/Staking/BondExtra/model/form-model.ts
  src/renderer/widgets/Staking/BondNominate/model/form-model.ts
  src/renderer/widgets/Staking/Restake/model/form-model.ts
  src/renderer/widgets/Staking/Unstake/model/form-model.ts
  src/renderer/widgets/Transfer/model/transfer-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: review update
  src/renderer/pages/Governance/lib/governance-page-utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: don't open transfer modal
  src/renderer/widgets/Transfer/model/transfer-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: don't reset transfer store
  src/renderer/widgets/Transfer/model/transfer-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Feat: add OpenGov filters (#1917)
  src/renderer/entities/asset/ui/EmptyAssetsState/EmptyAssetsState.tsx
  src/renderer/entities/asset/ui/index.ts
  src/renderer/entities/governance/model/governance-model.ts
  src/renderer/entities/network/ui/InactiveNetwork.tsx
  src/renderer/features/assets/AssetsChainView/ui/AssetsChainView.tsx
  src/renderer/features/assets/AssetsPortfolioView/ui/AssetsPortfolioView.tsx
  src/renderer/features/governance/ReferendumFilter/common/constants.ts
  src/renderer/features/governance/ReferendumFilter/index.ts
  src/renderer/features/governance/ReferendumFilter/lib/referendum-filter-utils.ts
  src/renderer/features/governance/ReferendumFilter/model/referendum-filter-model.ts
  src/renderer/features/governance/ReferendumFilter/ui/EmptyResults.tsx
  src/renderer/features/governance/ReferendumFilter/ui/ReferendumFilters.tsx
  src/renderer/features/governance/ReferendumFilter/ui/ReferendumSearch.tsx
  src/renderer/features/governance/ReferendumList/index.ts
  src/renderer/features/governance/index.ts
  src/renderer/pages/Governance/lib/__tests__/governance-page-utils.test.ts
  src/renderer/pages/Governance/lib/governance-page-utils.ts
  src/renderer/pages/Governance/lib/utils.ts
  src/renderer/pages/Governance/model/governance-page-model.ts
  src/renderer/pages/Governance/ui/EmptyGovernance.tsx
  src/renderer/pages/Governance/ui/Governance.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/voting.ts
  src/renderer/widgets/AssetTransactionModal/ui/AssetTransactionModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: add OpenGov filters
  src/renderer/entities/asset/ui/EmptyAssetsState/EmptyAssetsState.tsx
  src/renderer/entities/asset/ui/index.ts
  src/renderer/entities/governance/model/governance-model.ts
  src/renderer/entities/network/ui/InactiveNetwork.tsx
  src/renderer/features/assets/AssetsChainView/ui/AssetsChainView.tsx
  src/renderer/features/assets/AssetsPortfolioView/ui/AssetsPortfolioView.tsx
  src/renderer/features/governance/ReferendumFilter/common/constants.ts
  src/renderer/features/governance/ReferendumFilter/index.ts
  src/renderer/features/governance/ReferendumFilter/lib/referendum-filter-utils.ts
  src/renderer/features/governance/ReferendumFilter/model/referendum-filter-model.ts
  src/renderer/features/governance/ReferendumFilter/ui/EmptyResults.tsx
  src/renderer/features/governance/ReferendumFilter/ui/ReferendumFilters.tsx
  src/renderer/features/governance/ReferendumFilter/ui/ReferendumSearch.tsx
  src/renderer/features/governance/ReferendumList/index.ts
  src/renderer/features/governance/index.ts
  src/renderer/pages/Governance/lib/__tests__/governance-page-utils.test.ts
  src/renderer/pages/Governance/lib/governance-page-utils.ts
  src/renderer/pages/Governance/lib/utils.ts
  src/renderer/pages/Governance/model/governance-page-model.ts
  src/renderer/pages/Governance/ui/EmptyGovernance.tsx
  src/renderer/pages/Governance/ui/Governance.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/voting.ts
  src/renderer/widgets/AssetTransactionModal/ui/AssetTransactionModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: reset selected txs after go from basket page
  src/renderer/pages/Basket/model/basket-page-model.ts
  src/renderer/pages/Basket/ui/Basket.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: add steps for basket page
  src/renderer/pages/Basket/lib/basket-page-utils.ts
  src/renderer/pages/Basket/model/basket-page-model.ts
  src/renderer/pages/Basket/types/basket-page-types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: added proposer display in referendum details
  src/renderer/features/governance/ReferendumDetails/lib/referendum-proposers-service.ts
  src/renderer/features/governance/ReferendumDetails/model/referendum-details-model.ts
  src/renderer/features/governance/ReferendumDetails/ui/ReferendumDetails.tsx
  src/renderer/features/governance/ReferendumDetails/ui/VotingStatus.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: restake validation
  src/renderer/features/operations/OperationsValidation/model/restake-validate-model.ts
  src/renderer/pages/Basket/model/sign-operations-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: network and name first
  src/renderer/widgets/CreateWallet/lib/create-multisig-utils.ts
  src/renderer/widgets/CreateWallet/lib/types.ts
  src/renderer/widgets/CreateWallet/model/__tests__/flow-model.test.ts
  src/renderer/widgets/CreateWallet/model/flow-model.ts
  src/renderer/widgets/CreateWallet/model/form-model.ts
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/ConfirmationStep.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/FlexibleMultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/MultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/NameNetworkSelection.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/NameThresholdStep.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/SelectSignatoriesThreshold.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: close on reopen create tx
  src/renderer/features/operations/OperationsValidation/lib/remove-proxy-rules.ts
  src/renderer/pages/Basket/model/sign-operations-model.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxy.tsx
  src/renderer/widgets/AddPureProxiedModal/ui/AddPureProxied.tsx
  src/renderer/widgets/RemoveProxyModal/ui/RemoveProxy.tsx
  src/renderer/widgets/RemovePureProxyModal/ui/RemovePureProxy.tsx
  src/renderer/widgets/Staking/BondExtra/ui/BondExtra.tsx
  src/renderer/widgets/Staking/BondNominate/ui/BondNominate.tsx
  src/renderer/widgets/Staking/Nominate/ui/Nominate.tsx
  src/renderer/widgets/Staking/Payee/ui/Payee.tsx
  src/renderer/widgets/Staking/Restake/ui/Restake.tsx
  src/renderer/widgets/Staking/Unstake/ui/Unstake.tsx
  src/renderer/widgets/Staking/Withdraw/ui/Withdraw.tsx
  src/renderer/widgets/Transfer/ui/Transfer.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: correct remove proxy tx
  src/renderer/features/operations/OperationsValidation/lib/remove-proxy-rules.ts
  src/renderer/pages/Basket/model/sign-operations-model.ts
  src/renderer/widgets/WalletDetails/ui/components/ProxiesList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: submission
  src/renderer/widgets/CreateWallet/model/flow-model.ts
  src/renderer/widgets/CreateWallet/model/form-model.ts
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/SelectSignatoriesThreshold.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: changed referendums list structure from dictionary to array
  .eslintrc.js
  src/renderer/entities/governance/model/governance-model.ts
  src/renderer/features/governance/ReferendumDetails/model/referendum-details-model.ts
  src/renderer/features/governance/ReferendumDetails/ui/ReferendumDetails.tsx
  src/renderer/features/governance/ReferendumDetails/ui/VotingStatus.tsx
  src/renderer/features/governance/ReferendumList/lib/referendum-list-utils.ts
  src/renderer/features/governance/ReferendumList/model/referendum-list-model.ts
  src/renderer/features/governance/ReferendumList/ui/CompletedReferendums.tsx
  src/renderer/features/governance/ReferendumList/ui/LoadingCompleted.tsx
  src/renderer/features/governance/ReferendumList/ui/LoadingOngoing.tsx
  src/renderer/features/governance/ReferendumList/ui/OngoingReferendums.tsx
  src/renderer/pages/Governance/lib/__tests__/governance-page-utils.test.ts
  src/renderer/pages/Governance/lib/governance-page-utils.ts
  src/renderer/pages/Governance/model/governance-page-model.ts
  src/renderer/pages/Governance/ui/EmptyGovernance.tsx
  src/renderer/pages/Governance/ui/Governance.tsx
  src/renderer/shared/api/governance/on-chain/service/governanceService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: code review
  src/renderer/shared/api/governance/off-chain/service/polkassemblyService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: code review
  src/renderer/pages/Governance/model/governance-page-model.ts
  src/renderer/shared/api/governance/off-chain/service/polkassemblyService.ts
  src/renderer/shared/api/governance/off-chain/service/subsquareService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged
