Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: check parent identity exists
  src/renderer/services/staking/validatorsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: add spellcheck for transfers (#875)
  src/renderer/screens/Transfer/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: add spellcheck for transfers
  src/renderer/screens/Transfer/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: text token (#876)
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix: text token
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix: duplicated pv accounts fix
  src/renderer/components/layout/PrimaryLayout/Wallets/common/useGroupedWallets.ts
  src/renderer/screens/Staking/Operations/common/utils.tsx
  src/renderer/screens/Transfer/common/utils.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: added opacity transition for asset icon
  src/renderer/components/ui-redesign/AssetIcon/AssetIcon.test.tsx
  src/renderer/components/ui-redesign/AssetIcon/AssetIcon.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Added AssetIcon and updated styles (#870)
  src/renderer/components/common/BalanceNew/BalanceNew.tsx
  src/renderer/components/ui-redesign/AssetIcon/AssetIcon.test.tsx
  src/renderer/components/ui-redesign/AssetIcon/AssetIcon.tsx
  src/renderer/components/ui-redesign/Chain/Chain.tsx
  src/renderer/components/ui-redesign/Chain/ChainIcon/ChainIcon.tsx
  src/renderer/components/ui-redesign/ChainIcon/ChainIcon.test.tsx
  src/renderer/components/ui-redesign/ChainIcon/ChainIcon.tsx
  src/renderer/components/ui-redesign/Inputs/AmountInput/AmountInput.tsx
  src/renderer/components/ui-redesign/index.ts
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.stories.tsx
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.test.tsx
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.tsx
  src/renderer/components/ui/index.ts
  src/renderer/screens/Balances/AssetBalanceCard/AssetBalanceCard.tsx
  src/renderer/screens/Operations/components/Log.tsx
  src/renderer/screens/Settings/Networks/components/NetworkItem/NetworkItem.tsx
  src/renderer/screens/Staking/Overview/components/NetworkInfo/NetworkInfo.tsx
  src/renderer/theme/default.css
  tw-config-consts/colors.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Added AssetIcon and updated styles
  src/renderer/components/common/BalanceNew/BalanceNew.tsx
  src/renderer/components/ui-redesign/AssetIcon/AssetIcon.test.tsx
  src/renderer/components/ui-redesign/AssetIcon/AssetIcon.tsx
  src/renderer/components/ui-redesign/Chain/Chain.tsx
  src/renderer/components/ui-redesign/Chain/ChainIcon/ChainIcon.tsx
  src/renderer/components/ui-redesign/ChainIcon/ChainIcon.test.tsx
  src/renderer/components/ui-redesign/ChainIcon/ChainIcon.tsx
  src/renderer/components/ui-redesign/Inputs/AmountInput/AmountInput.tsx
  src/renderer/components/ui-redesign/index.ts
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.stories.tsx
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.test.tsx
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.tsx
  src/renderer/components/ui/index.ts
  src/renderer/screens/Balances/AssetBalanceCard/AssetBalanceCard.tsx
  src/renderer/screens/Operations/components/Log.tsx
  src/renderer/screens/Settings/Networks/components/NetworkItem/NetworkItem.tsx
  src/renderer/screens/Staking/Overview/components/NetworkInfo/NetworkInfo.tsx
  src/renderer/theme/default.css
  tw-config-consts/colors.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Disable while progress (#872)
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.test.tsx
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.tsx
  src/renderer/screens/Settings/Networks/components/CustomRpcModal/CustomRpcModal.test.tsx
  src/renderer/screens/Settings/Networks/components/CustomRpcModal/CustomRpcModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Disable while progress
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.test.tsx
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.tsx
  src/renderer/screens/Settings/Networks/components/CustomRpcModal/CustomRpcModal.test.tsx
  src/renderer/screens/Settings/Networks/components/CustomRpcModal/CustomRpcModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: adding key for confirmation screeen
  src/renderer/screens/Staking/Operations/components/Confirmation/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: adding key for confirmation screeen (#874)
  src/renderer/screens/Staking/Operations/components/Confirmation/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: change text for settings
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

chore: fix comments
  src/renderer/components/ui-redesign/Inputs/AmountInput/AmountInput.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: available balance style (#877)
  src/renderer/components/ui-redesign/Inputs/AmountInput/AmountInput.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/services/staking/validatorsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: available balance style
  src/renderer/components/ui-redesign/Inputs/AmountInput/AmountInput.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/services/staking/validatorsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: duplicated pv accounts fix (#878)
  src/renderer/components/layout/PrimaryLayout/Wallets/common/useGroupedWallets.ts
  src/renderer/screens/Staking/Operations/common/utils.tsx
  src/renderer/screens/Transfer/common/utils.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: removed used chains filter from balances
  src/renderer/screens/Balances/Balances/Balances.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: tests, public api via index.ts,text token
  src/renderer/components/forms/ContactForm/ContactForm.test.tsx
  src/renderer/components/forms/ContactForm/ContactForm.tsx
  src/renderer/components/forms/index.ts
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.test.tsx
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/components/modals/CreateMultisigAccount/components/AddSignatory.tsx
  src/renderer/components/modals/MatrixModal/Matrix.test.tsx
  src/renderer/components/modals/MatrixModal/MatrixModal.tsx
  src/renderer/components/modals/index.ts
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/AddressBook/AddressBook.test.tsx
  src/renderer/screens/AddressBook/AddressBook.tsx
  src/renderer/screens/AddressBook/ManageContact/ManageContact.test.tsx
  src/renderer/screens/AddressBook/ManageContact/ManageContact.tsx
  src/renderer/screens/AddressBook/Overview/Overview.test.tsx
  src/renderer/screens/AddressBook/Overview/Overview.tsx
  src/renderer/screens/AddressBook/Overview/components/ContactList/ContactList.tsx
  src/renderer/screens/AddressBook/Overview/components/EmptyState/EmptyContacts.test.tsx
  src/renderer/screens/AddressBook/Overview/components/EmptyState/EmptyContacts.tsx
  src/renderer/screens/AddressBook/Overview/components/EmptyState/EmptySearch.test.tsx
  src/renderer/screens/AddressBook/Overview/components/EmptyState/EmptySearch.tsx
  src/renderer/screens/AddressBook/Overview/components/index.ts
  src/renderer/screens/AddressBook/components/ContactModal.tsx
  src/renderer/screens/AddressBook/index.ts
  src/renderer/screens/Settings/Networks/components/CustomRpcModal/CustomRpcModal.tsx
  src/renderer/screens/Settings/Overview/components/MatrixAction/MatrixAction.test.tsx
  src/renderer/screens/Settings/Overview/components/MatrixAction/MatrixAction.tsx
  src/renderer/screens/index.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: tests, public api via index.ts,text token
  src/renderer/components/modals/CreateMultisigAccount/components/AddSignatory.tsx
  src/renderer/screens/AddressBook/ManageContact/ManageContact.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: text tokens
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix: watch change of root account
  src/renderer/screens/Staking/Overview/Overview.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: change text for settings (#879)
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

feat: added account activation after adding account
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/domain/account.ts
  src/renderer/screens/Onboarding/Vault/ManageStep/ManageStep.tsx
  src/renderer/screens/Onboarding/Vault/ManageStepSingle/ManageStepSingle.tsx
  src/renderer/screens/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/services/account/accountService.ts
  src/renderer/services/account/common/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: removed used chains filter from balances (#880)
  src/renderer/screens/Balances/Balances/Balances.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: miltisig operations
  src/renderer/components/common/AddressWithExplorers/AddressWithExplorers.tsx
  src/renderer/components/common/DetailsWithLabel/DetailWithLabel.tsx
  src/renderer/components/common/ExplorerLink/ExplorerLink.tsx
  src/renderer/components/common/ExtrinsicExplorers/ExtrinsicExplorers.tsx
  src/renderer/components/common/ExtrinsicExplorers/useExtrinsicInfo.tsx
  src/renderer/components/common/SelectableSignatory/SelectableSignatory.tsx
  src/renderer/components/common/index.ts
  src/renderer/screens/Operations/common/constants.ts
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Operations/components/Filters.tsx
  src/renderer/screens/Operations/components/Log.tsx
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/shared/utils/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: address icon size, refactor DetailRow
  src/renderer/components/common/AddressWithExplorers/AddressWithExplorers.tsx
  src/renderer/components/common/DetailRow/DetailRow.tsx
  src/renderer/components/common/DetailsWithLabel/DetailWithLabel.tsx
  src/renderer/components/common/index.ts
  src/renderer/screens/Operations/common/constants.ts
  src/renderer/screens/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Confirmation.tsx
  src/renderer/screens/Transfer/components/Details.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Deposit validation text (#882)
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Fix: Deposit validation text
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: some fixes to avoid conflicts
  src/renderer/components/common/AddressWithExplorers/AddressWithExplorers.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/components/common/ExplorerLink/ExplorerLink.tsx
  src/renderer/components/common/ExtrinsicExplorers/useExtrinsicInfo.tsx
  src/renderer/screens/Operations/components/Log.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: miltisig operations (#884)
  src/renderer/components/common/AddressWithExplorers/AddressWithExplorers.tsx
  src/renderer/components/common/DetailsWithLabel/DetailWithLabel.tsx
  src/renderer/components/common/ExplorerLink/ExplorerLink.tsx
  src/renderer/components/common/ExtrinsicExplorers/ExtrinsicExplorers.tsx
  src/renderer/components/common/ExtrinsicExplorers/useExtrinsicInfo.tsx
  src/renderer/components/common/SelectableSignatory/SelectableSignatory.tsx
  src/renderer/components/common/index.ts
  src/renderer/screens/Operations/common/constants.ts
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Operations/components/Filters.tsx
  src/renderer/screens/Operations/components/Log.tsx
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/shared/utils/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: added default matrix server and verification hint
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.tsx
  src/renderer/components/modals/MatrixModal/components/Verification/Verification.tsx
  src/renderer/components/ui-redesign/Dropdowns/Combobox/Combobox.stories.tsx
  src/renderer/components/ui-redesign/Dropdowns/Combobox/Combobox.tsx
  src/renderer/components/ui-redesign/Dropdowns/common/types.ts
  src/renderer/screens/Settings/Overview/components/Version/Version.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fixed matrix tests
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/shared/locale/*.json
