Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: remove dot (#845)
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

feat: added onerror fallback for assets and network imgs (#852)
  src/renderer/screens/Balances/AssetBalanceCard/AssetBalanceCard.tsx
  src/renderer/screens/Settings/Networks/components/NetworkItem/NetworkItem.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: remove staking for not tested networks
  src/renderer/services/network/common/chains/chains.json
  src/renderer/services/network/common/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: added onerror fallback for assets and network imgs
  src/renderer/screens/Balances/AssetBalanceCard/AssetBalanceCard.tsx
  src/renderer/screens/Settings/Networks/components/NetworkItem/NetworkItem.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix text for receive
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix: unstaking amunt (#851)
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: fallback screen redesign (#854)
  src/renderer/assets/images/misc/computer.webp
  src/renderer/components/common/FallbackScreen/FallbackScreen.test.tsx
  src/renderer/components/common/FallbackScreen/FallbackScreen.tsx
  src/renderer/components/ui/Icon/data/misc.tsx
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: free frames map from broken frames while decoding
  src/renderer/components/common/QrCode/QrReader/QrMultiframeSignatureReader.tsx
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: multisig operation error modal fix and address book search input update (#850)
  src/renderer/screens/AddressBook/AddressBook.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/screens/Operations/components/modals/RejectTx.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: signatory info container (#846)
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/components/modals/CreateMultisigAccount/components/AddSignatory.tsx
  src/renderer/components/modals/CreateMultisigAccount/components/WalletForm.tsx
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/domain/account.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: not elected validators styles
  src/renderer/screens/Staking/Overview/components/ValidatorsModal/ValidatorsModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: not elected validators styles (#866)
  src/renderer/screens/Staking/Overview/components/ValidatorsModal/ValidatorsModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: spellcheck prop, password icon fix
  src/renderer/components/ui-redesign/Inputs/Input/Input.tsx
  src/renderer/components/ui-redesign/Inputs/InputArea/InputArea.stories.tsx
  src/renderer/components/ui-redesign/Inputs/InputArea/InputArea.test.tsx
  src/renderer/components/ui-redesign/Inputs/InputArea/InputArea.tsx
  src/renderer/components/ui-redesign/Inputs/InputFile/InputFile.tsx
  src/renderer/components/ui-redesign/Inputs/PasswordInput/PasswordInput.test.tsx
  src/renderer/components/ui-redesign/Inputs/PasswordInput/PasswordInput.tsx
  src/renderer/components/ui-redesign/Inputs/SearchInput/SearchInput.tsx
  src/renderer/components/ui-redesign/Inputs/common/types.ts
  src/renderer/components/ui-redesign/index.ts
  src/renderer/components/ui/Inputs/InputFile/InputFile.stories.tsx
  src/renderer/components/ui/Inputs/InputFile/InputFile.test.tsx
  src/renderer/components/ui/Inputs/InputFile/InputFile.tsx
  src/renderer/screens/Operations/components/modals/CallDataModal.tsx
  src/renderer/screens/Operations/components/modals/RejectReasonModal.tsx
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: tooltip for deposit fix: navigate to balances on create mst account fix: navigate to operations on mst operation
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Submit.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: password hide button
  src/renderer/components/ui-redesign/Inputs/PasswordInput/PasswordInput.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: create wallet navigation
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/screens/Onboarding/Welcome/Welcome.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: navigation (#868)
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/components/ui-redesign/Inputs/PasswordInput/PasswordInput.tsx
  src/renderer/screens/Onboarding/Welcome/Welcome.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Submit.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: navigation
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/components/ui-redesign/Inputs/PasswordInput/PasswordInput.tsx
  src/renderer/screens/Onboarding/Welcome/Welcome.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Submit.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: accounts selection on stacking
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: merge dev
  src/renderer/components/ui-redesign/Inputs/PasswordInput/PasswordInput.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: added AssetIcon and updated styles
  src/renderer/components/common/BalanceNew/BalanceNew.tsx
  src/renderer/components/ui-redesign/AssetIcon/AssetIcon.test.tsx
  src/renderer/components/ui-redesign/AssetIcon/AssetIcon.tsx
  src/renderer/components/ui-redesign/Chain/Chain.tsx
  src/renderer/components/ui-redesign/Chain/ChainIcon/ChainIcon.tsx
  src/renderer/components/ui-redesign/ChainIcon/ChainIcon.test.tsx
  src/renderer/components/ui-redesign/ChainIcon/ChainIcon.tsx
  src/renderer/components/ui-redesign/Inputs/AmountInput/AmountInput.tsx
  src/renderer/components/ui-redesign/index.ts
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.stories.tsx
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.test.tsx
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.tsx
  src/renderer/components/ui/index.ts
  src/renderer/screens/Balances/AssetBalanceCard/AssetBalanceCard.tsx
  src/renderer/screens/Operations/components/Log.tsx
  src/renderer/screens/Settings/Networks/components/NetworkItem/NetworkItem.tsx
  src/renderer/screens/Staking/Overview/components/NetworkInfo/NetworkInfo.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
  src/renderer/theme/default.css
  tw-config-consts/colors.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Spellcheck prop (#867)
  src/renderer/components/ui-redesign/Inputs/Input/Input.tsx
  src/renderer/components/ui-redesign/Inputs/InputArea/InputArea.stories.tsx
  src/renderer/components/ui-redesign/Inputs/InputArea/InputArea.test.tsx
  src/renderer/components/ui-redesign/Inputs/InputArea/InputArea.tsx
  src/renderer/components/ui-redesign/Inputs/InputFile/InputFile.tsx
  src/renderer/components/ui-redesign/Inputs/PasswordInput/PasswordInput.test.tsx
  src/renderer/components/ui-redesign/Inputs/PasswordInput/PasswordInput.tsx
  src/renderer/components/ui-redesign/Inputs/SearchInput/SearchInput.tsx
  src/renderer/components/ui-redesign/Inputs/common/types.ts
  src/renderer/components/ui-redesign/index.ts
  src/renderer/components/ui/Inputs/InputFile/InputFile.stories.tsx
  src/renderer/components/ui/Inputs/InputFile/InputFile.test.tsx
  src/renderer/components/ui/Inputs/InputFile/InputFile.tsx
  src/renderer/screens/Operations/components/modals/CallDataModal.tsx
  src/renderer/screens/Operations/components/modals/RejectReasonModal.tsx
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Spellcheck prop
  src/renderer/components/ui-redesign/Inputs/Input/Input.tsx
  src/renderer/components/ui-redesign/Inputs/InputArea/InputArea.stories.tsx
  src/renderer/components/ui-redesign/Inputs/InputArea/InputArea.test.tsx
  src/renderer/components/ui-redesign/Inputs/InputArea/InputArea.tsx
  src/renderer/components/ui-redesign/Inputs/InputFile/InputFile.tsx
  src/renderer/components/ui-redesign/Inputs/PasswordInput/PasswordInput.test.tsx
  src/renderer/components/ui-redesign/Inputs/PasswordInput/PasswordInput.tsx
  src/renderer/components/ui-redesign/Inputs/SearchInput/SearchInput.tsx
  src/renderer/components/ui-redesign/Inputs/common/types.ts
  src/renderer/components/ui-redesign/index.ts
  src/renderer/components/ui/Inputs/InputFile/InputFile.stories.tsx
  src/renderer/components/ui/Inputs/InputFile/InputFile.test.tsx
  src/renderer/components/ui/Inputs/InputFile/InputFile.tsx
  src/renderer/screens/Operations/components/modals/CallDataModal.tsx
  src/renderer/screens/Operations/components/modals/RejectReasonModal.tsx
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: removed unnecessary dots and semicolons
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix: disable while loading
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.test.tsx
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.tsx
  src/renderer/screens/Settings/Networks/components/CustomRpcModal/CustomRpcModal.test.tsx
  src/renderer/screens/Settings/Networks/components/CustomRpcModal/CustomRpcModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: test fix
  src/renderer/components/ui-redesign/AssetIcon/AssetIcon.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix naming
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: accounts selection on stacking (#869)
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: adding key for confirmation screeen
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix: add spellcheck for transfers
  src/renderer/screens/Transfer/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: use existing token
  src/renderer/screens/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: removed unnecessary dots and semicolons (#873)
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

chore: update test
  src/renderer/screens/Settings/Networks/components/CustomRpcModal/CustomRpcModal.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: text token
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix: available balance style
  src/renderer/components/ui-redesign/Inputs/AmountInput/AmountInput.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: signatory balance update on staking
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/shared/locale/*.json
