Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: remove wc session on reconnect forget
  src/renderer/entities/walletConnect/model/wallet-connect-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fixed utils tests
  src/renderer/components/common/QrCode/QrGenerator/common/utils.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: electron paths
  src/main/factories/create.ts
  src/main/main.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: add metadata service to network feat: add connection service to network
  .eslintrc.js
  package.json
  pnpm-lock.yaml
  src/renderer/app/providers/context/NetworkContext/NetworkContext.tsx
  src/renderer/entities/network/index.ts
  src/renderer/entities/network/lib/common/hooks.ts
  src/renderer/entities/network/lib/common/types.ts
  src/renderer/entities/network/lib/index.ts
  src/renderer/entities/network/lib/metadataService.ts
  src/renderer/entities/network/lib/networkService.ts
  src/renderer/entities/network/model/connection-model.ts
  src/renderer/entities/network/model/network-model.ts
  src/renderer/shared/api/storage/__tests__/connectionStorage.test.ts
  src/renderer/shared/api/storage/common/types.ts
  src/renderer/shared/api/storage/service/dexie.ts
  src/renderer/shared/api/storage/service/storageService.ts
  src/renderer/shared/core/types/connection.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: balance model
  src/renderer/entities/network/model/balance-model.ts
  src/renderer/entities/newAsset/index.ts
  src/renderer/entities/newAsset/lib/balanceService.ts
  src/renderer/entities/newAsset/lib/common/constants.ts
  src/renderer/entities/newAsset/lib/common/types.ts
  src/renderer/entities/newAsset/lib/index.ts
  src/renderer/pages/Assets/AssetsList/AssetsList.tsx
  src/renderer/pages/Assets/AssetsList/components/NetworkAssets/NetworkAssets.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fixed import paths
  src/main/index.ts
  src/main/shared/bridge.ts
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix switch class
  src/main/shared/bridge.ts
  src/renderer/shared/ui/Switch/Switch.tsx
  src/shared/constants/common.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: removed process import
  src/shared/lib/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: removed shared dir
  src/main/index.ts
  src/main/shared/bridge.ts
  src/main/shared/constants/electron-store.ts
  src/main/shared/constants/index.ts
  src/main/shared/lib/utils.ts
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: updated lockfile
  pnpm-lock.yaml
Due: none

chore: pr comments fix
  src/renderer/components/common/QrCode/QrGenerator/QrTxGenerator.tsx
  src/renderer/components/common/QrCode/QrGenerator/common/utils.ts
  src/renderer/components/common/Scanning/ScanSingleframeQr.tsx
  src/renderer/entities/wallet/lib/account-utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: added icon for updater settings option
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.tsx
  src/renderer/shared/assets/images/navigation/update.svg
  src/renderer/shared/ui/Icon/data/navigation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: linter error fix
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix
  src/renderer/entities/staking/lib/common/types.ts
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/pages/Staking/Overview/Overview.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/NominatorItem/NominatorItem.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/NominatorsList.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/ShardedList/ShardedList.tsx
  src/renderer/shared/assets/images/chevron/dropdown-down.svg
  src/renderer/shared/assets/images/chevron/dropdown-right.svg
  src/renderer/shared/ui/StatusLabel/common/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Transaction signing for dynamic derivations (#1256)
  src/renderer/components/common/QrCode/QrGenerator/QrTxGenerator.tsx
  src/renderer/components/common/QrCode/QrGenerator/common/constants.ts
  src/renderer/components/common/QrCode/QrGenerator/common/utils.test.ts
  src/renderer/components/common/QrCode/QrGenerator/common/utils.ts
  src/renderer/components/common/Scanning/ScanSingleframeQr.tsx
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/features/operation/sign/ui/Signing/Signing.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: added name validation for cutom type derivation
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/lib/mocks/import-keys-utils.mock.ts
  src/renderer/features/wallets/ImportKeys/lib/types.ts
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix: temp fix
  .github/workflows/build_stage.yaml
Due: none

feat: integration
  src/renderer/app/index.tsx
  src/renderer/entities/wallet/lib/types.ts
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/operation/sign/ui/Signing/Signing.tsx
  src/renderer/features/wallets/ImportKeys/model/import-keys-model.ts
  src/renderer/features/wallets/ImportKeys/ui/ImportKeysModal.tsx
  src/renderer/features/wallets/KeyConstructor/model/__tests__/constructor-model.test.ts
  src/renderer/features/wallets/KeyConstructor/model/constructor-model.ts
  src/renderer/features/wallets/KeyConstructor/ui/KeyConstructor.tsx
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/ManageDynamicDerivations.tsx
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/model/manage-dynamic-derivations-model.ts
  src/renderer/shared/lib/utils/__tests__/derivation.test.ts
  src/renderer/shared/lib/utils/derivation.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: empty list, styles
  jest-setup.js
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/features/wallets/KeyConstructor/model/__tests__/constructor-model.test.ts
  src/renderer/features/wallets/KeyConstructor/model/constructor-model.ts
  src/renderer/features/wallets/KeyConstructor/ui/KeysList.tsx
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/ManageDynamicDerivations.tsx
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/model/manage-dynamic-derivations-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: return checks back
  .github/workflows/build_stage.yaml
Due: none

feat: tests
  src/renderer/components/common/QrCode/QrGenerator/QrTxGenerator.test.tsx
  src/renderer/components/common/QrCode/QrGenerator/QrTxGenerator.tsx
  src/renderer/entities/wallet/lib/__tests__/account-utils.test.ts
  src/renderer/entities/wallet/lib/__tests__/model-utils.test.ts
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/features/wallets/KeyConstructor/model/constructor-model.ts
  src/renderer/features/wallets/KeyConstructor/ui/ShardInfoPopover.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: adding migration tests
  .github/workflows/integration_test_runner.yaml
  package.json
  tests/integrations/.babelrc.js
  tests/integrations/jest.config.ts
  tests/integrations/migrations/migration-2.test.tsx
  tests/integrations/setup.integration.tests.ts
  tests/integrations/utils/index.ts
  tests/integrations/utils/mockDataBuilder.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: linter fix
  tests/integrations/utils/mockDataBuilder.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: integration test runner
  .github/workflows/integration_test_runner.yaml
Due: none

feat: raw implementation of DB tests
  .github/workflows/integration_test_runner.yaml
  package.json
  tests/integrations/.babelrc.js
  tests/integrations/jest.config.ts
  tests/integrations/migrations/migration-2.test.tsx
  tests/integrations/setup.integration.tests.ts
  tests/integrations/utils/index.ts
  tests/integrations/utils/mockDataBuilder.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: raw implementation of DB tests (#1157)
  .github/workflows/integration_test_runner.yaml
  package.json
  tests/integrations/.babelrc.js
  tests/integrations/jest.config.ts
  tests/integrations/migrations/migration-2.test.tsx
  tests/integrations/setup.integration.tests.ts
  tests/integrations/utils/index.ts
  tests/integrations/utils/mockDataBuilder.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

change icons name
  src/renderer/pages/Staking/Overview/components/NominatorsList/ShardedList/ShardedList.tsx
  src/renderer/shared/assets/images/chevron/shelfDown.svg
  src/renderer/shared/assets/images/chevron/shelfRight.svg
  src/renderer/shared/ui/Icon/data/chevron.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

change dot size
  src/renderer/pages/Staking/Overview/components/NominatorsList/ShardedList/ShardedList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix
  src/renderer/pages/Staking/Overview/components/NominatorsList/NominatorsList.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/ShardedList/ShardedList.tsx
  src/renderer/shared/ui/StatusLabel/common/constants.ts
  src/renderer/shared/ui/StatusLabel/common/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Transaction builder draft
  src/renderer/entities/transactionBuilder/lib/compound-wallet.ts
  src/renderer/entities/transactionBuilder/lib/factory.ts
  src/renderer/entities/transactionBuilder/lib/leaf.ts
  src/renderer/entities/transactionBuilder/lib/multisig.ts
  src/renderer/entities/transactionBuilder/model/transaction-builder.ts
  src/renderer/entities/wallet/lib/wallet-utils.ts
  src/renderer/shared/core/types/wallet.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix
  src/renderer/pages/Staking/Overview/components/NominatorsList/NominatorItem/NominatorItem.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/ShardedList/ShardedList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: remove keys
  src/renderer/features/wallets/KeyConstructor/model/__tests__/constructor-model.test.ts
  src/renderer/features/wallets/KeyConstructor/model/constructor-model.ts
  src/renderer/features/wallets/KeyConstructor/ui/KeysList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

add overview types
  src/renderer/pages/Staking/Overview/common/types.ts
  src/renderer/pages/Staking/Overview/components/NominatorsList/NominatorItem/NominatorItem.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/NominatorsList.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/ShardedList/ShardedList.tsx
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/stake.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Disable auto update
  package.json
  pnpm-lock.yaml
  src/main/index.ts
  src/main/shared/bridge.ts
  src/main/shared/constants/electron-store.ts
  src/main/shared/constants/index.ts
  src/main/shared/lib/utils.ts
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/assets/images/navigation/update.svg
  src/renderer/shared/ui/Icon/data/navigation.tsx
  src/renderer/shared/ui/Switch/Switch.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Disable auto update (#1224)
  package.json
  pnpm-lock.yaml
  src/main/index.ts
  src/main/shared/bridge.ts
  src/main/shared/constants/electron-store.ts
  src/main/shared/constants/index.ts
  src/main/shared/lib/utils.ts
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/assets/images/navigation/update.svg
  src/renderer/shared/ui/Icon/data/navigation.tsx
  src/renderer/shared/ui/Switch/Switch.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: remove keys (#1260)
  src/renderer/features/wallets/KeyConstructor/model/__tests__/constructor-model.test.ts
  src/renderer/features/wallets/KeyConstructor/model/constructor-model.ts
  src/renderer/features/wallets/KeyConstructor/ui/KeysList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: added new validation and impoved errors handling
  src/renderer/features/wallets/ImportKeys/lib/__tests__/import-keys-utils.test.ts
  src/renderer/features/wallets/ImportKeys/lib/derivation-import-error.ts
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/lib/types.ts
  src/renderer/features/wallets/ImportKeys/model/import-keys-model.ts
  src/renderer/features/wallets/ImportKeys/ui/ImportKeysModal.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: linter errors fix
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/renderer/shared/api/translation/locales/*.json
