Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

fix: chain sorting for fiat values
  src/renderer/entities/asset/lib/balanceService.ts
  src/renderer/pages/Assets/AssetsList/AssetsList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: removed 0 from input value on init
  src/renderer/shared/ui/Inputs/AmountInput/AmountInput.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: removed 0 from input value on init (#1135)
  src/renderer/shared/ui/Inputs/AmountInput/AmountInput.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: chain sorting for fiat values (#1134)
  src/renderer/entities/asset/lib/balanceService.ts
  src/renderer/pages/Assets/AssetsList/AssetsList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: wallet connect onboarding modal name
  src/renderer/pages/Onboarding/WalletConnect/ManageStep/ManageStep.tsx
  src/renderer/pages/Onboarding/WalletConnect/NovaWallet.tsx
  src/renderer/pages/Onboarding/WalletConnect/WalletConnect.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: hide connect modal on wallet connect timeout
  src/renderer/pages/Onboarding/WalletConnect/NovaWallet.tsx
  src/renderer/pages/Onboarding/WalletConnect/WalletConnect.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: fixed amount input 0 value on init on assets page
  src/renderer/shared/ui/Inputs/AmountInput/AmountInput.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: fixed amount input 0 value on init on assets page (#1136)
  src/renderer/shared/ui/Inputs/AmountInput/AmountInput.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr comments fix
  src/renderer/entities/account/model/account.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Feat: removed multishard wallets from signatory options
  src/renderer/entities/account/model/account.ts
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/MultisigAccount.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/SelectSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/WalletForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: removed multishard wallets from signatory options (#1102)
  src/renderer/entities/account/model/account.ts
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/MultisigAccount.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/SelectSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/WalletForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: naming
  src/renderer/entities/walletConnect/model/walletConnect.ts
  src/renderer/features/operation/sign/ui/WalletConnect/WalletConnect.tsx
  src/renderer/pages/Onboarding/WalletConnect/NovaWallet.tsx
  src/renderer/pages/Onboarding/WalletConnect/WalletConnect.tsx
  src/renderer/pages/Onboarding/WalletConnect/model/wc-onboarding-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: refactor
  src/renderer/entities/walletConnect/index.ts
  src/renderer/entities/walletConnect/model/wc-model.ts
  src/renderer/entities/walletConnect/ui/index.ts
  src/renderer/features/operation/sign/ui/WalletConnect/WalletConnect.tsx
  src/renderer/pages/Onboarding/WalletConnect/NovaWallet.tsx
  src/renderer/pages/Onboarding/WalletConnect/WalletConnect.tsx
  src/renderer/pages/Onboarding/WalletConnect/model/wc-onboarding-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: remove duplication
  src/renderer/features/operation/sign/ui/WalletConnect/WalletConnect.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: lock file
  pnpm-lock.yaml
Due: none

fix: ts check
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Confirmation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/Details.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: paired modal
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletGroup.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/pages/Onboarding/WalletConnect/ManageStep/ManageStep.tsx
  src/renderer/pages/Onboarding/WalletConnect/NovaWallet.tsx
  src/renderer/pages/Onboarding/WalletConnect/WalletConnect.tsx
  src/renderer/pages/Staking/Operations/components/Confirmation/Confirmation.test.tsx
  src/renderer/widgets/CreateWallet/ui/CreateWalletProvider.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: merge fiat
  src/renderer/app/providers/context/NetworkContext/NetworkContext.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/ActiveAccountCard.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletCard.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletFiatBalance.tsx
  src/renderer/entities/account/model/account.ts
  src/renderer/entities/account/ui/index.ts
  src/renderer/entities/network/lib/__tests__/chainsService.test.ts
  src/renderer/entities/price/ui/AssetFiatBalance.tsx
  src/renderer/entities/signatory/ui/SelectableSignatory/SelectableSignatory.tsx
  src/renderer/entities/signatory/ui/SignatoryCard/SignatoryCard.tsx
  src/renderer/entities/transaction/ui/Deposit/Deposit.tsx
  src/renderer/entities/transaction/ui/Fee/Fee.tsx
  src/renderer/entities/transaction/ui/XcmFee/XcmFee.tsx
  src/renderer/entities/wallet/ui/AddressWithName/AddressWithName.tsx
  src/renderer/entities/wallet/ui/AddressWithTwoLines/AddressWithTwoLines.tsx
  src/renderer/entities/wallet/ui/index.ts
  src/renderer/pages/Assets/AssetsList/components/NetworkFiatBalance/NetworkFiatBalance.tsx
  src/renderer/pages/Operations/components/TransactionAmount.tsx
  src/renderer/pages/Staking/Operations/components/Confirmation/Confirmation.test.tsx
  src/renderer/pages/Staking/Operations/components/Validators/Validators.tsx
  src/renderer/pages/Staking/Overview/components/AboutStaking/AboutStaking.tsx
  src/renderer/pages/Staking/Overview/components/NetworkInfo/NetworkInfo.tsx
  src/renderer/shared/ui/Inputs/AmountInput/AmountInput.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/WalletForm.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/WalletsTabItem.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: tests, app start
  src/renderer/app/App.tsx
  src/renderer/app/index.tsx
  src/renderer/app/providers/context/NetworkContext/NetworkContext.test.tsx
  src/renderer/app/providers/context/NetworkContext/NetworkContext.tsx
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.test.tsx
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/operation/init/ui/__tests__/OperationHeader.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: update linter
  src/renderer/shared/api/matrix/common/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: singleshard for multisig, watch matrix isLoggedIn
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/SelectSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: merge refactoring
  src/renderer/entities/account/ui/MultiAccountsList/MultiAccountsList.tsx
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/operation/sign/ui/WalletConnect/WalletConnect.tsx
  src/renderer/pages/Onboarding/WalletConnect/ManageStep/ManageStep.tsx
  src/renderer/pages/Onboarding/WalletConnect/NovaWallet.tsx
  src/renderer/pages/Onboarding/WalletConnect/WalletConnect.tsx
  src/renderer/shared/core/types/account.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: updated shards ui for shards select modal
  src/renderer/entities/wallet/ui/SelectableShard/SelectableShard.tsx
  src/renderer/entities/wallet/ui/index.ts
  src/renderer/pages/Assets/AssetsList/components/SelectShardModal/SelectShardModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: reconnect
  src/renderer/entities/operation/ui/SignButton.tsx
  src/renderer/features/operation/sign/ui/WalletConnect/WalletConnect.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: reject signing
  src/renderer/assets/images/walletTypes/walletConnectBg.svg
  src/renderer/features/operation/sign/ui/WalletConnect/WalletConnect.tsx
  src/renderer/pages/Onboarding/WalletConnect/NovaWallet.tsx
  src/renderer/pages/Onboarding/Welcome/Welcome.tsx
  src/renderer/shared/lib/utils/validation.ts
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: lint
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

chore: fix expired
  src/renderer/features/operation/sign/ui/WalletConnect/WalletConnect.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix
