Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: reset operations on account change
  src/renderer/screens/Operations/Operations.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: onboarding feedback
  src/renderer/screens/Onboarding/Vault/ManageStep/ManageStep.tsx
  src/renderer/screens/Onboarding/Vault/ManageStepSingle/ManageStepSingle.tsx
  src/renderer/screens/Onboarding/Vault/ScanStep/ScanStep.tsx
  src/renderer/screens/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/screens/Onboarding/Welcome/Welcome.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: disable camera (#819)
  src/renderer/components/common/QrCode/QrReader/QrMultiframeSignatureReader.tsx
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/components/common/QrCode/QrReader/QrSignatureReader.tsx
  src/renderer/components/ui-redesign/Inputs/Input/Input.tsx
  src/renderer/screens/Onboarding/Vault/ManageStep/ManageStep.tsx
  src/renderer/screens/Onboarding/Vault/ManageStepSingle/ManageStepSingle.tsx
  src/renderer/screens/Onboarding/Vault/ScanStep/ScanStep.tsx
  src/renderer/screens/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/screens/Onboarding/Welcome/Welcome.tsx
  src/renderer/screens/Operations/Operations.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: disable camera
  src/renderer/components/common/QrCode/QrReader/QrMultiframeSignatureReader.tsx
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/components/common/QrCode/QrReader/QrSignatureReader.tsx
  src/renderer/components/ui-redesign/Inputs/Input/Input.tsx
  src/renderer/screens/Onboarding/Vault/ManageStep/ManageStep.tsx
  src/renderer/screens/Onboarding/Vault/ManageStepSingle/ManageStepSingle.tsx
  src/renderer/screens/Onboarding/Vault/ScanStep/ScanStep.tsx
  src/renderer/screens/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/screens/Onboarding/Welcome/Welcome.tsx
  src/renderer/screens/Operations/Operations.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: wait for fee
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/components/Confirmation/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: update
  src/renderer/index.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Confirmation.tsx
  src/renderer/screens/Transfer/components/Details.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr comments fix
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: operation feedback fixed
  src/renderer/components/common/AddressWithExplorers/AddressWithExplorers.tsx
  src/renderer/components/common/SignatoryCard/SignatoryCard.tsx
  src/renderer/screens/Operations/common/constants.ts
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Operations/components/Log.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: user has no signatory for multisig (#808)
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Transfer/components/ActionSteps/InitOperation.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Fix: user has no signatory for multisig
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Transfer/components/ActionSteps/InitOperation.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: linter error fix
  src/renderer/screens/Operations/common/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: transfer feedback
  src/renderer/assets/images/functionals/add-address.svg
  src/renderer/components/ui-redesign/Dropdowns/Select/Select.tsx
  src/renderer/components/ui-redesign/Inputs/Input/Input.tsx
  src/renderer/components/ui-redesign/Modals/BaseModal/BaseModal.tsx
  src/renderer/screens/Operations/components/OperationModalTitle.tsx
  src/renderer/screens/Transfer/components/ActionSteps/InitOperation.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: new loader
  src/renderer/assets/images/aesthetics/loader-cutout.svg
  src/renderer/assets/images/aesthetics/loader-redesign.svg
  src/renderer/assets/images/aesthetics/loader.svg
  src/renderer/components/ui-redesign/OperationResult/common/constants.ts
  src/renderer/components/ui/Icon/data/aesthetics.tsx
  src/renderer/components/ui/Loader/Loader.stories.tsx
  src/renderer/components/ui/Loader/Loader.test.tsx
  src/renderer/components/ui/Loader/Loader.tsx
  src/renderer/components/ui/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: added tooltip pointer and fixed outline
  src/renderer/components/ui-redesign/PopoverLink/PopoverLink.stories.tsx
  src/renderer/components/ui-redesign/Popovers/Popover/Popover.stories.tsx
  src/renderer/components/ui-redesign/Popovers/Popover/Popover.test.tsx
  src/renderer/components/ui-redesign/Popovers/Popover/Popover.tsx
  src/renderer/components/ui-redesign/Popovers/Tooltip/Tooltip.tsx
  src/renderer/components/ui-redesign/Popovers/Tooltip/pointer.css
  src/renderer/components/ui-redesign/index.ts
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.tsx
  tailwind.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: check signatory chain
  src/renderer/screens/Transfer/components/ActionSteps/InitOperation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: lineter error fix
  src/renderer/components/layout/PrimaryLayout/Wallets/common/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: show duplications for account options
  src/renderer/screens/Transfer/components/ActionSteps/InitOperation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: transfer feedback (#822)
  src/renderer/assets/images/functionals/add-address.svg
  src/renderer/components/ui-redesign/Dropdowns/Select/Select.tsx
  src/renderer/components/ui-redesign/Inputs/Input/Input.tsx
  src/renderer/components/ui-redesign/Modals/BaseModal/BaseModal.tsx
  src/renderer/screens/Operations/components/OperationModalTitle.tsx
  src/renderer/screens/Transfer/components/ActionSteps/InitOperation.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: new animations
  package.json
  pnpm-lock.yaml
  src/renderer/assets/animations/alert.json
  src/renderer/assets/animations/spinner.json
  src/renderer/assets/animations/success.json
  src/renderer/components/ui-redesign/Animation/Animation.tsx
  src/renderer/components/ui-redesign/Animation/Data.ts
  src/renderer/components/ui-redesign/OperationResult/OperationResult.tsx
  src/renderer/components/ui-redesign/OperationResult/common/constants.ts
  src/renderer/components/ui-redesign/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fixed pr comments
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/ui-redesign/Popovers/Tooltip/Tooltip.css
  src/renderer/components/ui-redesign/Popovers/Tooltip/Tooltip.tsx
  src/renderer/components/ui/Switch/Switch.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix close modal
  src/renderer/screens/Transfer/Transfer.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: trim long names, dropdown btn center text
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.tsx
  src/renderer/components/ui-redesign/Checkbox/Checkbox.css
  src/renderer/components/ui-redesign/Checkbox/Checkbox.tsx
  src/renderer/components/ui-redesign/Dropdowns/DropdownButton/DropdownButton.tsx
  src/renderer/components/ui-redesign/Modals/BaseModal/BaseModal.tsx
  src/renderer/components/ui/Checkbox/Checkbox.css
  src/renderer/components/ui/Checkbox/Checkbox.tsx
  src/renderer/components/ui/Loader/Loader.stories.tsx
  src/renderer/components/ui/Loader/Loader.tsx
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.tsx
  src/renderer/screens/Onboarding/Vault/KeyQrReader/KeyQrReader.tsx
  src/renderer/screens/Operations/components/OperationModalTitle.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/screens/Operations/components/modals/RejectTx.tsx
  src/renderer/screens/Settings/Networks/components/CustomRpcModal/CustomRpcModal.tsx
  src/renderer/screens/Signing/Progress.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/ChangeValidators.test.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/components/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/components/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: unused variable
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: update padding
  src/renderer/components/ui-redesign/Modals/BaseModal/BaseModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix tests
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.test.tsx
  src/renderer/components/ui-redesign/OperationResult/OperationResult.test.tsx
  src/renderer/components/ui-redesign/OperationResult/OperationResult.tsx
  src/renderer/components/ui-redesign/OperationResult/common/constants.ts
  src/renderer/components/ui-redesign/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fixed scroll container for balances
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr review
  src/renderer/components/ui-redesign/Alert/AlertItem.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: new animations
  package.json
  pnpm-lock.yaml
  src/renderer/assets/animations/alert.json
  src/renderer/assets/animations/spinner.json
  src/renderer/assets/animations/success.json
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.test.tsx
  src/renderer/components/ui-redesign/Animation/Animation.tsx
  src/renderer/components/ui-redesign/Animation/Data.ts
  src/renderer/components/ui-redesign/OperationResult/OperationResult.test.tsx
  src/renderer/components/ui-redesign/OperationResult/OperationResult.tsx
  src/renderer/components/ui-redesign/OperationResult/common/constants.ts
  src/renderer/screens/Transfer/Transfer.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: new animations (#823)
  package.json
  pnpm-lock.yaml
  src/renderer/assets/animations/alert.json
  src/renderer/assets/animations/spinner.json
  src/renderer/assets/animations/success.json
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.test.tsx
  src/renderer/components/ui-redesign/Animation/Animation.tsx
  src/renderer/components/ui-redesign/Animation/Data.ts
  src/renderer/components/ui-redesign/OperationResult/OperationResult.test.tsx
  src/renderer/components/ui-redesign/OperationResult/OperationResult.tsx
  src/renderer/components/ui-redesign/OperationResult/common/constants.ts
  src/renderer/screens/Transfer/Transfer.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Assets and left panel feedback fix (#817)
  src/renderer/assets/images/aesthetics/warning.svg
  src/renderer/components/common/Header/Header.tsx
  src/renderer/components/layout/PrimaryLayout/NavItem/NavItem.tsx
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletGroup.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/common/useGroupedWallets.ts
  src/renderer/components/layout/PrimaryLayout/Wallets/common/utils.ts
  src/renderer/components/ui-redesign/Inputs/SearchInput.tsx
  src/renderer/components/ui-redesign/PopoverLink/PopoverLink.stories.tsx
  src/renderer/components/ui-redesign/Popovers/Popover/Popover.test.tsx
  src/renderer/components/ui-redesign/Popovers/Popover/Popover.tsx
  src/renderer/components/ui-redesign/Popovers/Tooltip/Tooltip.css
  src/renderer/components/ui-redesign/Popovers/Tooltip/Tooltip.stories.tsx
  src/renderer/components/ui-redesign/Popovers/Tooltip/Tooltip.test.tsx
  src/renderer/components/ui-redesign/Popovers/Tooltip/Tooltip.tsx
  src/renderer/components/ui-redesign/Typography/common/types.ts
  src/renderer/components/ui-redesign/Typography/components/CaptionText.tsx
  src/renderer/components/ui-redesign/Typography/components/HeaderTitleText.tsx
  src/renderer/components/ui-redesign/Typography/components/LargeTitleText.tsx
  src/renderer/components/ui-redesign/Typography/components/SmallTitleText.tsx
  src/renderer/components/ui-redesign/Typography/components/TitleText.tsx
  src/renderer/components/ui-redesign/index.ts
  src/renderer/components/ui/Switch/Switch.tsx
  src/renderer/routes/index.tsx
  src/renderer/screens/Balances/AssetBalanceCard/AssetBalanceCard.tsx
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Balances/Balances/BalancesFilters.tsx
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsList/NominatorsList.tsx
  src/renderer/theme/default.css
  src/shared/locale/en.json
  src/shared/locale/ru.json
  tailwind.config.js
  tw-config-consts/colors.js
  tw-config-consts/font-sizes.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Fix: Assets and left panel feedback fix
  src/renderer/assets/images/aesthetics/warning.svg
  src/renderer/components/common/Header/Header.tsx
  src/renderer/components/layout/PrimaryLayout/NavItem/NavItem.tsx
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletGroup.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/common/useGroupedWallets.ts
  src/renderer/components/layout/PrimaryLayout/Wallets/common/utils.ts
  src/renderer/components/ui-redesign/Inputs/SearchInput.tsx
  src/renderer/components/ui-redesign/PopoverLink/PopoverLink.stories.tsx
  src/renderer/components/ui-redesign/Popovers/Popover/Popover.test.tsx
  src/renderer/components/ui-redesign/Popovers/Popover/Popover.tsx
  src/renderer/components/ui-redesign/Popovers/Tooltip/Tooltip.css
  src/renderer/components/ui-redesign/Popovers/Tooltip/Tooltip.stories.tsx
  src/renderer/components/ui-redesign/Popovers/Tooltip/Tooltip.test.tsx
  src/renderer/components/ui-redesign/Popovers/Tooltip/Tooltip.tsx
  src/renderer/components/ui-redesign/Typography/common/types.ts
  src/renderer/components/ui-redesign/Typography/components/CaptionText.tsx
  src/renderer/components/ui-redesign/Typography/components/HeaderTitleText.tsx
  src/renderer/components/ui-redesign/Typography/components/LargeTitleText.tsx
  src/renderer/components/ui-redesign/Typography/components/SmallTitleText.tsx
  src/renderer/components/ui-redesign/Typography/components/TitleText.tsx
  src/renderer/components/ui-redesign/index.ts
  src/renderer/components/ui/Switch/Switch.tsx
  src/renderer/routes/index.tsx
  src/renderer/screens/Balances/AssetBalanceCard/AssetBalanceCard.tsx
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Balances/Balances/BalancesFilters.tsx
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsList/NominatorsList.tsx
  src/renderer/theme/default.css
  src/shared/locale/en.json
  src/shared/locale/ru.json
  tailwind.config.js
  tw-config-consts/colors.js
  tw-config-consts/font-sizes.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Fix: Multisig operation feedback (#821)
  src/renderer/components/common/AddressWithExplorers/AddressWithExplorers.tsx
  src/renderer/components/common/SignatoryCard/SignatoryCard.tsx
  src/renderer/screens/Operations/common/constants.ts
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Operations/components/Log.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Multisig operation feedback
  src/renderer/components/common/AddressWithExplorers/AddressWithExplorers.tsx
  src/renderer/components/common/SignatoryCard/SignatoryCard.tsx
  src/renderer/screens/Operations/common/constants.ts
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Operations/components/Log.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr review v2
  src/renderer/screens/Balances/SelectShardModal/SelectShardModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: address prefix error on change config
  src/renderer/components/layout/PrimaryLayout/Wallets/common/useGroupedWallets.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: add contact button
  src/renderer/screens/AddressBook/AddressBook.tsx
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/shared/locale/*.json
