Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

styles
  src/renderer/entities/staking/ui/ValidatorsTable/ValidatorsTable.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: import order
  src/renderer/entities/network/lib/__tests__/TestHelpers.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

move modal to entities
  src/renderer/entities/staking/ui/SelectedValidatorsModal/SelectedValidatorsModal.tsx
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Staking/Operations/components/Confirmation/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

change import
  src/renderer/entities/staking/ui/index.ts
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Staking/Operations/components/Confirmation/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: open chains on alt pressed
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/ManageDynamicDerivations.tsx
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/model/manage-dynamic-derivations-model.ts
  src/renderer/shared/core/types/chain.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix seed info type
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/components/common/QrCode/common/types.ts
  src/renderer/pages/Onboarding/Vault/Vault.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: rename VaultFeatureTitle
  src/renderer/components/common/QrCode/common/constants.ts
  src/renderer/pages/Onboarding/Vault/Vault.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: finished wallet creation
  src/renderer/components/common/QrCode/QrGenerator/QrDerivationsGenerator.tsx
  src/renderer/components/common/QrCode/QrGenerator/common/utils.ts
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/components/common/QrCode/common/constants.ts
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/wallets/DerivationsAddressModal/DerivationsAddressModal.tsx
  src/renderer/pages/Onboarding/Vault/DdKeyQrReader/DdKeyQrReader.tsx
  src/renderer/shared/core/types/account.ts
  src/renderer/shared/core/types/wallet.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix i18n
  src/renderer/entities/wallet/ui/DerivedAccount/DerivedAccount.tsx
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fix tests
  src/renderer/entities/wallet/ui/DerivedAccount/DerivedAccount.test.tsx
  src/renderer/entities/wallet/ui/RootAccount/RootAccount.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix naming
  src/renderer/entities/wallet/ui/DerivedAccount/DerivedAccount.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: review
  src/renderer/entities/wallet/ui/ExplorersPopover/ExplorersPopover.tsx
  src/renderer/features/wallets/WalletSelect/ui/WalletSelect.tsx
  src/renderer/shared/lib/utils/chains.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: updated types
  src/renderer/components/common/QrCode/QrGenerator/QrDerivationsGenerator.tsx
  src/renderer/components/common/QrCode/QrGenerator/common/utils.ts
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/components/common/QrCode/common/constants.ts
  src/renderer/components/common/QrCode/common/types.ts
  src/renderer/features/wallets/DerivationsAddressModal/DerivationsAddressModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix accounts creation
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/ManageDynamicDerivations.tsx
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/VaultInfoPopover.tsx
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/model/manage-dynamic-derivations-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: removed mocks
  src/renderer/features/wallets/DerivationsAddressModal/DerivationsAddressModal.tsx
  src/renderer/pages/Onboarding/Vault/DdKeyQrReader/DdKeyQrReader.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: removed comment
  src/main/main.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: update chains.json
  src/renderer/assets/chains/chains.json
  src/renderer/assets/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: add tests for dynamic derivation inited
  src/renderer/features/wallets/WalletSelect/ui/WalletSelect.tsx
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/model/__tests__/manage-dynamic-derivations-model.test.ts
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/model/manage-dynamic-derivations-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: use default max nominations
  src/renderer/entities/network/lib/common/utils.ts
  src/renderer/entities/staking/lib/common/constants.ts
  src/renderer/entities/staking/lib/validatorsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

ci: upgrade version
  package.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: update packages
  package.json
  pnpm-lock.yaml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: update path and packages
  app.config.js
  package.json
  pnpm-lock.yaml
  src/main/factories/create.ts
  src/main/main.ts
  webpack/webpack.renderer.dev.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: rollback watch
  package.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: update ci script
  .github/workflows/install-pnpm/action.yaml
Due: none

chore: clean pnpm-lock
  pnpm-lock.yaml
Due: none

Feat: Update dependencies (#1245)
  .github/workflows/install-pnpm/action.yaml
  app.config.js
  package.json
  pnpm-lock.yaml
  src/main/factories/create.ts
  src/main/main.ts
  webpack/webpack.renderer.dev.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Feat: Update dependencies
  .github/workflows/install-pnpm/action.yaml
  app.config.js
  package.json
  pnpm-lock.yaml
  src/main/factories/create.ts
  src/main/main.ts
  webpack/webpack.renderer.dev.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: ui for constructor
  src/renderer/app/App.tsx
  src/renderer/features/wallets/KeyConstructor/index.ts
  src/renderer/features/wallets/KeyConstructor/model/constructor-model.ts
  src/renderer/features/wallets/KeyConstructor/ui/KeyConstructor.tsx
  src/renderer/features/wallets/KeyConstructor/ui/KeyForm.tsx
  src/renderer/features/wallets/KeyConstructor/ui/KeysList.tsx
  src/renderer/features/wallets/index.ts
  src/renderer/shared/assets/images/misc/document.svg
  src/renderer/shared/ui/Typography/common/TextBase.ts
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr comments fix
  src/main/index.ts
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.tsx
  src/shared/constants/common.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx
