Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: add OpenGov search
  src/renderer/features/governance/ReferendumFilter/model/referendum-filter-model.ts
  src/renderer/features/governance/ReferendumFilter/ui/ReferendumFilter.tsx
  src/renderer/features/governance/ReferendumList/ui/OngoingReferendums.tsx
  src/renderer/pages/Governance/lib/__tests__/governance-page-utils.test.ts
  src/renderer/pages/Governance/lib/utils.ts
  src/renderer/pages/Governance/model/governance-page-model.ts
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: add OpenGov search (#1886)
  src/renderer/features/governance/ReferendumFilter/model/referendum-filter-model.ts
  src/renderer/features/governance/ReferendumFilter/ui/ReferendumFilter.tsx
  src/renderer/features/governance/ReferendumList/ui/OngoingReferendums.tsx
  src/renderer/pages/Governance/lib/__tests__/governance-page-utils.test.ts
  src/renderer/pages/Governance/lib/utils.ts
  src/renderer/pages/Governance/model/governance-page-model.ts
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: open empty confirm screen
  src/renderer/pages/Basket/model/sign-operations-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix. deploy to basket
  .github/workflows/build_stage.yaml
  .github/workflows/deploy_to_bucket.yml
  .github/workflows/setup-s3cmd/action.yml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix. deploy to basket (#1887)
  .github/workflows/build_stage.yaml
  .github/workflows/deploy_to_bucket.yml
  .github/workflows/setup-s3cmd/action.yml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: sign modal size
  src/renderer/pages/Basket/ui/SignOperations.tsx
  src/renderer/shared/ui/Modals/BaseModal/BaseModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: transaction list view
  src/renderer/app/styles/theme/default.css
  src/renderer/entities/basket/model/basket-model.ts
  src/renderer/pages/Basket/model/basket-page-model.ts
  src/renderer/pages/Basket/model/sign-operations-model.ts
  src/renderer/pages/Basket/ui/Basket.tsx
  src/renderer/pages/Basket/ui/Operation.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/core/types/basket.ts
  src/renderer/shared/lib/utils/substrate.ts
  src/renderer/widgets/Staking/BondExtra/model/bond-extra-model.ts
  src/renderer/widgets/Staking/BondNominate/model/bond-nominate-model.ts
  src/renderer/widgets/Staking/Nominate/model/nominate-model.ts
  src/renderer/widgets/Staking/Payee/model/payee-model.ts
  tw-config-consts/colors.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: remove logs
  src/renderer/pages/Basket/model/sign-operations-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix lint
  src/renderer/pages/Basket/ui/SignOperations.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: changed labels for accounts and wallets on confirmation screens
  src/renderer/features/operations/OperationsConfirm/AddProxy/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/AddPureProxied/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/BondExtra/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/BondNominate/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Nominate/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Payee/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/RemoveProxy/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/RemovePureProxied/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Restake/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Transfer/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Unstake/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Withdraw/ui/Confirmation.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: apply eslint
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix: changed proxied account translation on transfer screen
  src/renderer/features/operations/OperationsConfirm/Transfer/ui/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: address formatting in SelectableShard now works correct
  src/renderer/features/wallets/ShardSelectorModal/ui/SelectableShard.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: transaction list view (#1893)
  src/renderer/app/styles/theme/default.css
  src/renderer/entities/basket/model/basket-model.ts
  src/renderer/pages/Basket/model/basket-page-model.ts
  src/renderer/pages/Basket/model/sign-operations-model.ts
  src/renderer/pages/Basket/ui/Basket.tsx
  src/renderer/pages/Basket/ui/Operation.tsx
  src/renderer/pages/Basket/ui/SignOperations.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/core/types/basket.ts
  src/renderer/shared/lib/utils/substrate.ts
  src/renderer/widgets/Staking/BondExtra/model/bond-extra-model.ts
  src/renderer/widgets/Staking/BondNominate/model/bond-nominate-model.ts
  src/renderer/widgets/Staking/Nominate/model/nominate-model.ts
  src/renderer/widgets/Staking/Payee/model/payee-model.ts
  tw-config-consts/colors.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: address formatting in SelectableShard now works correct (#1895)
  src/renderer/features/wallets/ShardSelectorModal/ui/SelectableShard.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: changed labels for accounts and wallets on confirmation screens (#1894)
  src/renderer/features/operations/OperationsConfirm/AddProxy/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/AddPureProxied/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/BondExtra/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/BondNominate/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Nominate/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Payee/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/RemoveProxy/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/RemovePureProxied/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Restake/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Transfer/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Unstake/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Withdraw/ui/Confirmation.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: add proxy and create pure proxy
  src/renderer/features/operations/OperationsConfirm/AddPureProxied/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/AddPureProxied/ui/Confirmation.tsx
  src/renderer/pages/Basket/lib/operation-title.ts
  src/renderer/pages/Basket/model/sign-operations-model.ts
  src/renderer/shared/lib/utils/substrate.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: initial validation on reload page
  src/renderer/pages/Basket/model/basket-page-model.ts
  src/renderer/pages/Basket/ui/Basket.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: initial validation
  src/renderer/pages/Basket/model/basket-page-model.ts
  src/renderer/pages/Basket/ui/Basket.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: jest pnpm and lock file
  jest.config.ts
  package.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: pnpm version
  package.json
  pnpm-lock.yaml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: portfolio search update
  src/renderer/features/assets/AssetsPortfolioView/model/portfolio-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: portfolio search update (#1902)
  src/renderer/features/assets/AssetsPortfolioView/model/portfolio-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: implemented markdown renderer and used in ReferendumDetails modal fix: partly fixed Storybook
  .storybook/main.js
  package.json
  pnpm-lock.yaml
  src/renderer/features/governance/ReferendumDetails/model/referendum-details-model.ts
  src/renderer/features/governance/ReferendumDetails/ui/ReferendumDetails.tsx
  src/renderer/shared/ui/InfoLink/InfoLink.tsx
  src/renderer/shared/ui/Markdown/Markdown.tsx
  src/renderer/shared/ui/Typography/components/HeaderTitleText.tsx
  src/renderer/shared/ui/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: unstake signing from basket
  src/renderer/features/operations/OperationsValidation/lib/unstake-rules.ts
  src/renderer/features/operations/OperationsValidation/lib/withdraw-rules.ts
  src/renderer/features/operations/OperationsValidation/model/unstake-validate-model.ts
  src/renderer/features/operations/OperationsValidation/model/withdraw-validate-model.ts
  src/renderer/pages/Basket/lib/operation-title.ts
  src/renderer/pages/Basket/lib/utils.ts
  src/renderer/pages/Basket/model/basket-page-model.ts
  src/renderer/pages/Basket/model/sign-operations-model.ts
  src/renderer/pages/Basket/ui/Basket.tsx
  src/renderer/pages/Basket/ui/Operation.tsx
  src/renderer/pages/Basket/ui/SignOperation.tsx
  src/renderer/pages/Basket/ui/SignOperations.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: nominators list
  src/renderer/features/operations/OperationsConfirm/AddProxy/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/AddPureProxied/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/BondExtra/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/BondNominate/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Nominate/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Payee/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/RemoveProxy/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/RemovePureProxied/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Restake/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Transfer/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Unstake/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Withdraw/ui/Confirmation.tsx
  src/renderer/pages/Basket/model/sign-operations-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: select all checkbox
  src/renderer/pages/Basket/model/basket-page-model.ts
  src/renderer/pages/Basket/ui/Basket.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: adding test string
  src/renderer/features/governance/ReferendumDetails/ui/ReferendumDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: show in github markdown
  src/renderer/features/governance/ReferendumDetails/ui/test.md
Due: none

feat: implemented basic voting status rendering on referendum details view
  package.json
  pnpm-lock.yaml
  src/renderer/entities/governance/ui/VoteCharts/VoteChartSm/VoteChartSm.tsx
  src/renderer/entities/governance/ui/VoteCharts/common/styles.css
  src/renderer/features/governance/ReferendumDetails/ui/ReferendumDetails.tsx
  src/renderer/features/governance/ReferendumDetails/ui/styles.css
  src/renderer/features/governance/ReferendumList/lib/referendum-list-utils.ts
  src/renderer/shared/ui/Markdown/Markdown.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  .storybook/preview.js
  src/renderer/entities/basket/model/basket-model.ts
  src/renderer/entities/transaction/ui/QrCode/QrGenerator/QrDerivationsGenerator.tsx
  src/renderer/entities/transaction/ui/QrCode/QrGenerator/common/utils.ts
  src/renderer/features/operations/OperationSign/model/sign-model.ts
  src/renderer/features/operations/OperationsConfirm/AddProxy/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/AddPureProxied/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/BondExtra/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/BondNominate/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Nominate/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Payee/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/RemoveProxy/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/RemovePureProxied/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Restake/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Transfer/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Unstake/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Withdraw/model/confirm-model.ts
  src/renderer/features/operations/OperationsValidation/lib/bond-nominate-rules.ts
  src/renderer/features/operations/OperationsValidation/model/bond-nominate-validate-model.ts
  src/renderer/features/wallets/DerivationsAddressModal/lib/utils.ts
  src/renderer/features/wallets/DerivationsAddressModal/ui/DerivationsAddressModal.tsx
  src/renderer/features/wallets/ImportKeys/lib/types.ts
  src/renderer/pages/Basket/lib/utils.ts
  src/renderer/pages/Basket/model/sign-operations-model.ts
  src/renderer/pages/Basket/ui/Basket.tsx
  src/renderer/pages/Basket/ui/Operation.tsx
  src/renderer/pages/Onboarding/Vault/ManageVault/VaultInfoPopover.tsx
  src/renderer/pages/Onboarding/Vault/ManageVault/model/__tests__/manage-vault-model.test.ts
  src/renderer/shared/lib/utils/substrate.ts
  src/renderer/shared/ui/Modals/BaseModal/BaseModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: select all checkbox (#1903)
  src/renderer/pages/Basket/model/basket-page-model.ts
  src/renderer/pages/Basket/ui/Basket.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: update animation
  src/renderer/entities/transaction/ui/OperationResult/common/constants.ts
  src/renderer/shared/ui/Modals/StatusModal/StatusModal.tsx
  src/renderer/widgets/AddProxyModal/ui/AddProxy.tsx
  src/renderer/widgets/AddPureProxiedModal/ui/AddPureProxied.tsx
  src/renderer/widgets/RemoveProxyModal/ui/RemoveProxy.tsx
  src/renderer/widgets/RemovePureProxyModal/ui/RemovePureProxy.tsx
  src/renderer/widgets/Staking/BondExtra/ui/BondExtra.tsx
  src/renderer/widgets/Staking/BondNominate/ui/BondNominate.tsx
  src/renderer/widgets/Staking/Nominate/ui/Nominate.tsx
  src/renderer/widgets/Staking/Payee/ui/Payee.tsx
  src/renderer/widgets/Staking/Restake/ui/Restake.tsx
  src/renderer/widgets/Staking/Unstake/ui/Unstake.tsx
  src/renderer/widgets/Staking/Withdraw/ui/Withdraw.tsx
  src/renderer/widgets/Transfer/ui/Transfer.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/renderer/shared/api/translation/locales/*.json
