Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: removed new address components from common export file
  src/renderer/components/common/index.ts
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: focusn outline fix
  src/renderer/index.css
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: upgrade polkadot.js library version
  package.json
  pnpm-lock.yaml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: upgrade polkadot.js library version (#630)
  package.json
  pnpm-lock.yaml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Synch texts in lokalise
  locale/en.json
  locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Synch texts in lokalise
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

chore: added CHANGELOG.md
  CHANGELOG.md
Due: none

fix: signatory status fix
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: redeem
  package.json
  pnpm-lock.yaml
  src/renderer/components/common/Fee/Fee.tsx
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/common/utils.tsx
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationForm.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/TimeToEra/TimeToEra.tsx
  src/renderer/services/staking/__tests__/stakingTxService.test.ts
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/eraService.ts
  src/renderer/services/staking/stakingDataService.ts
  src/renderer/services/staking/stakingTxService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: save window state (size and position) and use this state for further launch
  package.json
  pnpm-lock.yaml
  src/main/main.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: Clean up readme (draft)
  README.md
Due: none

Update releases bage
  README.md
Due: none

feat: redeem
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/common/utils.tsx
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Update src/main/main.ts
  src/main/main.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: save window state (size and position) (#637)
  package.json
  pnpm-lock.yaml
  src/main/main.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: save window state (size and position)
  package.json
  pnpm-lock.yaml
  src/main/main.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: added logging
  README.md
  package.json
  pnpm-lock.yaml
  src/main/main.ts
  src/renderer/index.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: resolved conflicts
  pnpm-lock.yaml
Due: none

chore: lint fix
  src/main/main.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: update shields and table of contents
  README.md
Due: none

chore: added youtube shield and update structure
  README.md
Due: none

feat: approve operation redesign
  colors.js
  src/renderer/assets/images/functionals/refresh.svg
  src/renderer/assets/images/walletTypes/vault.svg
  src/renderer/components/common/BalanceNew/BalanceNew.tsx
  src/renderer/components/common/Fee/Fee.tsx
  src/renderer/components/common/SelectableSignatory/SelectableSignatory.tsx
  src/renderer/components/ui-redesign/Buttons/Button/Button.tsx
  src/renderer/components/ui-redesign/Buttons/Button/style.css
  src/renderer/components/ui-redesign/Buttons/common/constants.ts
  src/renderer/components/ui-redesign/InfoLink/InfoLink.tsx
  src/renderer/components/ui-redesign/Modals/BaseModal/BaseModal.tsx
  src/renderer/components/ui-redesign/Popovers/InfoPopover/InfoPopover.tsx
  src/renderer/components/ui/Icon/data/functionals.tsx
  src/renderer/components/ui/Icon/data/walletType.tsx
  src/renderer/screens/Operations/common/utils.ts
  src/renderer/screens/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/screens/Operations/components/ActionSteps/Scanning.tsx
  src/renderer/screens/Operations/components/ActionSteps/Signing.tsx
  src/renderer/screens/Operations/components/ActionSteps/Submit.tsx
  src/renderer/screens/Operations/components/Chain.tsx
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Operations/components/ShortTransactionInfo.test.tsx
  src/renderer/screens/Operations/components/ShortTransactionInfo.tsx
  src/renderer/screens/Operations/components/TransactionAmount.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/screens/Operations/components/modals/RejectTx.tsx
  src/renderer/screens/Operations/components/modals/SignatorySelectModal.tsx
  src/renderer/theme/default.css
  src/shared/locale/en.json
  src/shared/locale/ru.json
  tailwind.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: textarea redesign and reject reason modal
  src/renderer/components/ui-redesign/Inputs/Input/Input.tsx
  src/renderer/components/ui/Inputs/InputArea/InputArea.stories.tsx
  src/renderer/components/ui/Inputs/InputArea/InputArea.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/screens/Operations/components/modals/CallDataModal.tsx
  src/renderer/screens/Operations/components/modals/RejectReasonModal.tsx
  src/renderer/screens/Operations/components/modals/RejectTx.tsx
  src/renderer/screens/Transfer/components/TransferForm/TransferForm.tsx
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: adding cron schedule for chains updater
  .github/workflows/update_chains_file.yaml
Due: none

feat: adding cron schedule for chains updater (#628)
  .github/workflows/update_chains_file.yaml
Due: none

chore: fix comments
  src/renderer/screens/Operations/components/Log.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: open log modal
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: operation logs + fixes (#619)
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/domain/transaction.ts
  src/renderer/screens/Operations/Operations.test.tsx
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/common/utils.ts
  src/renderer/screens/Operations/components/Chain.tsx
  src/renderer/screens/Operations/components/Filters.tsx
  src/renderer/screens/Operations/components/Log.tsx
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
  src/renderer/screens/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Operations/components/TransactionTitle.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/screens/Staking/Operations/hooks/useCountdown.tsx
  src/renderer/services/multisigTx/common/utils.ts
  src/renderer/services/multisigTx/multisigTxService.ts
  src/renderer/services/network/__tests__/chainsService.test.ts
  src/renderer/services/network/chainsService.ts
  src/renderer/services/network/common/types.ts
  src/renderer/shared/utils/__tests__/substrate.test.ts
  src/renderer/shared/utils/substrate.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: operation logs + fixes
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/domain/transaction.ts
  src/renderer/screens/Operations/Operations.test.tsx
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/common/utils.ts
  src/renderer/screens/Operations/components/Chain.tsx
  src/renderer/screens/Operations/components/Filters.tsx
  src/renderer/screens/Operations/components/Log.tsx
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
  src/renderer/screens/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Operations/components/TransactionTitle.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/screens/Staking/Operations/hooks/useCountdown.tsx
  src/renderer/services/multisigTx/common/utils.ts
  src/renderer/services/multisigTx/multisigTxService.ts
  src/renderer/services/network/__tests__/chainsService.test.ts
  src/renderer/services/network/chainsService.ts
  src/renderer/services/network/common/types.ts
  src/renderer/shared/utils/__tests__/substrate.test.ts
  src/renderer/shared/utils/substrate.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: camera view redesign
  src/renderer/screens/Operations/components/ActionSteps/Signing.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/screens/Operations/components/modals/RejectTx.tsx
  src/renderer/screens/Signing/ParitySignerSignatureReader/ParitySignerSignatureReader.tsx
  src/renderer/screens/Signing/ParitySignerSignatureReader/index.css
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: deleted extra files
  src/renderer/screens/Signing/ParitySignerSignatureReader/ParitySignerSignatureReader.tsx
  src/renderer/screens/Signing/ParitySignerSignatureReader/index.css
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/shared/locale/*.json
