Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: use one scope variable
  src/renderer/features/contacts/ContactFilter/model/__tests__/contact-filter.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: address comments
  src/renderer/features/network/NetworkList/index.ts
  src/renderer/features/network/NetworkList/lib/networks-list-utils.ts
  src/renderer/features/network/NetworkList/model/__tests__/active-networks-model.test.ts
  src/renderer/features/network/NetworkList/model/__tests__/inactive-networks-model.test.ts
  src/renderer/features/network/NetworkList/model/__tests__/mocks/networks-mock.ts
  src/renderer/features/network/NetworkList/model/active-networks-model.ts
  src/renderer/features/network/NetworkList/model/inactive-networks-model.ts
  src/renderer/features/network/NetworkList/ui/ActiveNetwork.tsx
  src/renderer/features/network/NetworkList/ui/EmptyNetworks.tsx
  src/renderer/features/network/NetworkList/ui/InactiveNetwork.tsx
  src/renderer/features/network/NetworkList/ui/NetworkList.tsx
  src/renderer/features/network/NetworkList/ui/styles.css
  src/renderer/features/network/index.ts
  src/renderer/pages/Settings/Networks/Networks.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: update license
  NOTICE.md
Due: none

feat: fold/unfold networks list
  src/renderer/features/network/NetworkList/ui/ActiveNetwork.tsx
  src/renderer/features/network/NetworkList/ui/NetworkList.tsx
  src/renderer/pages/Settings/Networks/Networks.tsx
  webpack/webpack.renderer.dev.ts
  webpack/webpack.renderer.stage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: await allsettled, duplicate scope, remove allInitiated
  src/renderer/features/contacts/ContactFilter/model/__tests__/contact-filter.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: update license (#1532)
  NOTICE.md
Due: none

fix: remove length check and test contact equality
  src/renderer/features/contacts/ContactFilter/model/__tests__/contact-filter.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: inactive network should be hidden by default
  src/renderer/features/network/NetworkList/ui/NetworkList.tsx
  src/renderer/pages/Settings/Networks/Networks.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Revert "fix: inactive network should be hidden by default"
  src/renderer/features/network/NetworkList/ui/NetworkList.tsx
  src/renderer/pages/Settings/Networks/Networks.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: submtion
  src/renderer/app/providers/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/entities/multisig/lib/multisigTx/common/utils.ts
  src/renderer/entities/transaction/lib/__tests__/extrinsicService.test.ts
  src/renderer/entities/transaction/lib/extrinsicService.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/widgets/AddProxyModal/lib/add-proxy-utils.ts
  src/renderer/widgets/AddProxyModal/lib/submit-proxy-utils.ts
  src/renderer/widgets/AddProxyModal/lib/types.ts
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddProxyModal/model/form-model.ts
  src/renderer/widgets/AddProxyModal/model/sign-model.ts
  src/renderer/widgets/AddProxyModal/model/submit-model.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxyForm.tsx
  src/renderer/widgets/AddProxyModal/ui/AddProxyModal.tsx
  src/renderer/widgets/AddProxyModal/ui/Confirmation.tsx
  src/renderer/widgets/AddProxyModal/ui/SignProxy.tsx
  src/renderer/widgets/AddProxyModal/ui/SubmitProxy.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Update src/renderer/features/contacts/ContactFilter/model/__tests__/contact-filter.test.tsx
  src/renderer/features/contacts/ContactFilter/model/__tests__/contact-filter.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: test better but still failing
  src/renderer/features/network/index.ts
  src/renderer/pages/Settings/Networks/Networks.test.tsx
  src/renderer/pages/Settings/Networks/Networks.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: ignore old matrix rooms
  src/renderer/shared/api/matrix/service/matrix.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix types
  src/renderer/shared/api/matrix/lib/types.ts
  src/renderer/shared/api/matrix/service/matrix.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: add waiting of txWeight on confirm approve screen
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: loader for waiting transaction
  src/renderer/entities/transaction/ui/Fee/Fee.tsx
  src/renderer/entities/transaction/ui/FeeLoader/FeeLoader.tsx
  src/renderer/entities/transaction/ui/XcmFee/XcmFee.tsx
  src/renderer/entities/transaction/ui/index.ts
  src/renderer/pages/Operations/components/ActionSteps/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: update tests
  src/renderer/entities/transaction/ui/Fee/Fee.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix types
  src/renderer/app/providers/context/MatrixContext/MatrixContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: complete flow without proxyAcc
  src/renderer/entities/multisig/lib/multisigEvent/multisigEventService.ts
  src/renderer/entities/multisig/lib/multisigTx/common/utils.ts
  src/renderer/entities/transaction/lib/extrinsicService.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/entities/transaction/model/transaction.ts
  src/renderer/entities/transaction/ui/Fee/Fee.tsx
  src/renderer/entities/transaction/ui/MultisigDeposit/MultisigDeposit.tsx
  src/renderer/entities/transaction/ui/ProxyDeposit/ProxyDeposit.tsx
  src/renderer/features/operation/sign/ui/WalletConnect/WalletConnect.tsx
  src/renderer/widgets/AddProxyModal/lib/types.ts
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddProxyModal/model/confirm-model.ts
  src/renderer/widgets/AddProxyModal/model/form-model.ts
  src/renderer/widgets/AddProxyModal/model/sign-model.ts
  src/renderer/widgets/AddProxyModal/model/submit-model.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxyForm.tsx
  src/renderer/widgets/AddProxyModal/ui/AddProxyModal.tsx
  src/renderer/widgets/AddProxyModal/ui/Confirmation.tsx
  src/renderer/widgets/AddProxyModal/ui/SignProxy.tsx
  src/renderer/widgets/AddProxyModal/ui/SubmitProxy.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: deploy to gh pages
  .github/workflows/deploy_to_gh_pages.yaml
Due: none

fix: adding moonbeam\moonriver multisigs flag
  src/renderer/shared/config/chains/chains.json
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: calculate proxy deposit
  src/renderer/entities/transaction/ui/ProxyDeposit/ProxyDeposit.tsx
  src/renderer/shared/api/proxy/service/proxyService.ts
  src/renderer/shared/ui/Alert/AlertItem.tsx
  src/renderer/widgets/AddProxyModal/model/confirm-model.ts
  src/renderer/widgets/AddProxyModal/model/form-model.ts
  src/renderer/widgets/AddProxyModal/model/submit-model.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxyForm.tsx
  src/renderer/widgets/AddProxyModal/ui/Confirmation.tsx
  src/renderer/widgets/AddProxyModal/ui/SubmitProxy.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: create proxy group
  src/renderer/entities/proxy/model/proxy-model.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/widgets/AddProxyModal/lib/types.ts
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddProxyModal/model/form-model.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxyForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: check proxy variant on add
  package.json
  pnpm-lock.yaml
  src/renderer/entities/proxy/api/graphql/queries/pureProxies.ts
  src/renderer/entities/proxy/api/pureProxiesService.ts
  src/renderer/features/proxies/lib/proxies-utils.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
  src/renderer/shared/core/types/chain.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: add pure_proxy option
  src/renderer/entities/network/lib/network-utils.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
  src/renderer/shared/core/types/chain.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: wallet name with proxy variant
  src/renderer/entities/proxy/lib/__tests__/proxy-utils.test.ts
  src/renderer/entities/proxy/lib/proxy-utils.ts
  src/renderer/features/proxies/lib/proxies-utils.ts
  src/renderer/features/proxies/model/proxies-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix tests
  src/renderer/features/proxies/lib/proxies-utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix tests
  src/renderer/features/proxies/workers/__tests__/proxy-worker.test.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/renderer/shared/api/translation/locales/*.json
