Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

fix: unknown transaction parsing
  src/renderer/services/transaction/callDataDecoder.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: unknown transaction parsing (#968)
  src/renderer/services/transaction/callDataDecoder.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: [wip] removed animation from operation result
  src/renderer/components/common/OperationResult/OperationResult.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: check tx status on update from chain
  src/renderer/services/multisigTx/multisigTxService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: animation memory leak fix
  src/renderer/components/common/OperationResult/OperationResult.tsx
  src/renderer/components/ui-redesign/Animation/Animation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: check tx status on update from chain (#970)
  src/renderer/services/multisigTx/multisigTxService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: Animation leads to app stuck (#969)
  src/renderer/components/common/OperationResult/OperationResult.tsx
  src/renderer/components/ui-redesign/Animation/Animation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: Animation leads to app stuck
  src/renderer/components/common/OperationResult/OperationResult.tsx
  src/renderer/components/ui-redesign/Animation/Animation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: allow to join matrix room if the user doesn't have any signatory for the mst account
  src/renderer/context/MatrixContext/MatrixContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: decoded tx condition
  src/renderer/domain/transaction.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix after PR review
  src/renderer/domain/transaction.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: allow to join matrix room if the user doesn't have any signatory for the mst account (#971)
  src/renderer/context/MatrixContext/MatrixContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: decoded tx condition (#972)
  src/renderer/domain/transaction.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: event doubling
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/services/multisigTx/multisigTxService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: wait receive multisigs from chain
  src/renderer/services/multisigTx/multisigTxService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: remove console log
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: don't reset operations on tx changes
  src/renderer/screens/Operations/Operations.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: add task queue to matrix add event
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/services/multisigTx/multisigTxService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: use add event with queue
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/components/ActionSteps/Submit.tsx
  src/renderer/screens/Operations/components/Log.tsx
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/screens/Staking/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Submit.tsx
  src/renderer/services/multisigEvent/common/types.ts
  src/renderer/services/multisigEvent/multisigEventService.ts
  src/renderer/services/multisigTx/multisigTxService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: some refactoring
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/services/multisigEvent/common/types.ts
  src/renderer/services/multisigTx/multisigTxService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: rename addEventTask
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/screens/Operations/components/ActionSteps/Submit.tsx
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
  src/renderer/screens/Staking/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Submit.tsx
  src/renderer/services/multisigTx/multisigTxService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: refactor events queue (#974)
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/components/ActionSteps/Submit.tsx
  src/renderer/screens/Operations/components/Log.tsx
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/screens/Staking/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Submit.tsx
  src/renderer/services/multisigEvent/common/types.ts
  src/renderer/services/multisigEvent/multisigEventService.ts
  src/renderer/services/multisigTx/multisigTxService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: refactor events queue
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/components/ActionSteps/Submit.tsx
  src/renderer/screens/Operations/components/Log.tsx
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/screens/Staking/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Submit.tsx
  src/renderer/services/multisigEvent/common/types.ts
  src/renderer/services/multisigEvent/multisigEventService.ts
  src/renderer/services/multisigTx/multisigTxService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: add key for alertTitle
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix: add key for alertTitle (#977)
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

feat: rolling log file appender
  src/main/main.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: add additional step in release build
  .github/workflows/release.yaml
Due: none

fix: add additional step in release build (#980)
  .github/workflows/release.yaml
Due: none

fix: add skip if file name wasn't changed
  .github/workflows/release.yaml
Due: none

chore: tets deps fix
  src/renderer/components/forms/ContactForm/ContactForm.test.tsx
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.test.tsx
  src/renderer/components/modals/MatrixModal/Matrix.test.tsx
  src/renderer/components/modals/MatrixModal/components/Credentials/Credentials.test.tsx
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.test.tsx
  src/renderer/components/modals/MatrixModal/components/Verification/Verification.test.tsx
  src/renderer/screens/Assets/Assets.test.tsx
  src/renderer/screens/Operations/Operations.test.tsx
  src/renderer/screens/Settings/Networks/Networks.test.tsx
  src/renderer/screens/Settings/Networks/components/CustomRpcModal/CustomRpcModal.test.tsx
  src/renderer/screens/Settings/Overview/components/MatrixAction/MatrixAction.test.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.test.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/ChangeValidators.test.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.test.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.test.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: signature verify
  src/renderer/components/common/QrCode/QrGeneratorContainer/QrGeneratorContainer.tsx
  src/renderer/components/common/QrCode/QrReader/QrReaderWrapper.tsx
  src/renderer/components/common/QrCode/QrReader/SignatureReaderError.tsx
  src/renderer/components/common/Scanning/ScanSingleframeQr.tsx
  src/renderer/components/modals/CreateMultisigAccount/components/WalletForm.tsx
  src/renderer/components/ui-redesign/Dropdowns/MultiSelect/MultiSelect.tsx
  src/renderer/components/ui-redesign/Dropdowns/Select/Select.tsx
  src/renderer/components/ui-redesign/Dropdowns/common/constants.ts
  src/renderer/components/ui-redesign/Dropdowns/common/types.ts
  src/renderer/components/ui-redesign/Inputs/Input/Input.tsx
  src/renderer/components/ui-redesign/Inputs/InputArea/InputArea.tsx
  src/renderer/components/ui-redesign/Inputs/common/styles.ts
  src/renderer/components/ui/Inputs/InputArea/InputArea.tsx
  src/renderer/screens/Assets/components/Modals/ReceiveModal/ReceiveModal.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/screens/Operations/components/modals/RejectTx.tsx
  src/renderer/screens/Settings/Networks/components/CustomRpcModal/CustomRpcModal.tsx
  src/renderer/screens/Settings/Networks/components/NetworkSelector/NetworkSelector.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/components/Signing/Signing.tsx
  src/renderer/screens/Staking/Overview/components/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Signing.tsx
  src/renderer/services/transaction/common/types.ts
  src/renderer/services/transaction/transactionService.ts
  src/renderer/shared/utils/validation.ts
  src/renderer/theme/default.css
  src/shared/locale/en.json
  src/shared/locale/ru.json
  tw-config-consts/colors.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: remove log
  src/renderer/screens/Transfer/components/ActionSteps/Signing.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx
