Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

fix: add skip if file name wasn't changed
  .github/workflows/release.yaml
Due: none

fix: add skip if file name wasn't changed (#984)
  .github/workflows/release.yaml
Due: none

fix: hide selector for non-multishard wallet
  src/renderer/screens/Assets/components/Modals/ReceiveModal/ReceiveModal.test.tsx
  src/renderer/screens/Assets/components/Modals/ReceiveModal/ReceiveModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: signing design update
  src/renderer/components/common/QrCode/QrReader/QrMultiframeSignatureReader.tsx
  src/renderer/components/common/QrCode/QrReader/QrReaderWrapper.tsx
  src/renderer/components/common/QrCode/QrReader/QrSignatureReader.tsx
  src/renderer/components/common/Scanning/ScanMultiframeQr.tsx
  src/renderer/components/ui-redesign/Dropdowns/Combobox/Combobox.tsx
  src/renderer/components/ui-redesign/Dropdowns/MultiSelect/MultiSelect.tsx
  src/renderer/components/ui-redesign/Dropdowns/Select/Select.tsx
  src/renderer/components/ui-redesign/Dropdowns/common/constants.ts
  src/renderer/components/ui-redesign/Inputs/Input/Input.tsx
  src/renderer/components/ui-redesign/Inputs/InputArea/InputArea.tsx
  src/renderer/components/ui/Inputs/InputArea/InputArea.tsx
  src/renderer/screens/Settings/Networks/components/NetworkSelector/NetworkSelector.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/components/Signing/Signing.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Signing.tsx
  src/renderer/services/transaction/common/types.ts
  src/renderer/services/transaction/transactionService.ts
  src/renderer/theme/default.css
  tw-config-consts/colors.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: update date format for logging file appender
  src/main/main.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: rolling log file appender (#979)
  src/main/main.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: rolling log file appender
  src/main/main.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: multiframe qr reader
  src/renderer/components/common/QrCode/QrReader/QrMultiframeSignatureReader.tsx
  src/renderer/components/common/QrCode/QrReader/QrSignatureReader.tsx
  src/renderer/components/common/Scanning/ScanMultiframeQr.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/screens/Operations/components/modals/RejectTx.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/components/Signing/Signing.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Signing.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: design fixes
  src/renderer/components/common/QrCode/QrReader/QrReaderWrapper.tsx
  src/renderer/components/ui-redesign/Dropdowns/Select/Select.tsx
  src/renderer/components/ui-redesign/Dropdowns/common/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix tests
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: import errors fix
  jest.config.ts
  src/renderer/domain/utility.ts
  src/renderer/entities/notification/model/notification.ts
  src/renderer/entities/notification/ui/NotificationRow/NotificationRow.tsx
  src/renderer/screens/Staking/Overview/components/Actions/Actions.tsx
  src/renderer/shared/ui/Alert/Alert.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: hide selector for non-multishard wallet (#986)
  src/renderer/screens/Assets/components/Modals/ReceiveModal/ReceiveModal.test.tsx
  src/renderer/screens/Assets/components/Modals/ReceiveModal/ReceiveModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fixed InactiveChain test
  src/renderer/screens/Staking/Overview/components/EmptyState/InactiveChain.test.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/InactiveChain.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: linter errors fix
  src/renderer/components/layout/PrimaryLayout/Wallets/common/useGroupedWallets.ts
  src/renderer/components/layout/PrimaryLayout/Wallets/common/utils.ts
  src/renderer/entities/account/lib/accountService.ts
  src/renderer/entities/account/lib/common/types.ts
  src/renderer/entities/account/model/account.ts
  src/renderer/entities/contact/lib/common/types.ts
  src/renderer/entities/contact/lib/contactService.ts
  src/renderer/entities/multisig/lib/multisigEvent/common/types.ts
  src/renderer/entities/multisig/lib/multisigEvent/multisigEventService.ts
  src/renderer/entities/multisig/lib/multisigTx/common/types.ts
  src/renderer/entities/network/lib/networkService.ts
  src/renderer/entities/notification/lib/common/types.ts
  src/renderer/entities/notification/lib/notificationService.ts
  src/renderer/entities/wallet/lib/common/types.ts
  src/renderer/entities/wallet/lib/walletService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Feat: signature verify
  src/renderer/components/common/QrCode/QrGeneratorContainer/QrGeneratorContainer.tsx
  src/renderer/components/common/QrCode/QrReader/QrMultiframeSignatureReader.tsx
  src/renderer/components/common/QrCode/QrReader/QrReaderWrapper.tsx
  src/renderer/components/common/QrCode/QrReader/QrSignatureReader.tsx
  src/renderer/components/common/QrCode/QrReader/SignatureReaderError.tsx
  src/renderer/components/common/Scanning/ScanMultiframeQr.tsx
  src/renderer/components/common/Scanning/ScanSingleframeQr.tsx
  src/renderer/components/modals/CreateMultisigAccount/components/WalletForm.tsx
  src/renderer/components/ui-redesign/Dropdowns/Combobox/Combobox.tsx
  src/renderer/components/ui-redesign/Dropdowns/MultiSelect/MultiSelect.tsx
  src/renderer/components/ui-redesign/Dropdowns/Select/Select.tsx
  src/renderer/components/ui-redesign/Dropdowns/common/constants.ts
  src/renderer/components/ui-redesign/Dropdowns/common/types.ts
  src/renderer/components/ui-redesign/Inputs/Input/Input.tsx
  src/renderer/components/ui-redesign/Inputs/InputArea/InputArea.tsx
  src/renderer/components/ui-redesign/Inputs/common/styles.ts
  src/renderer/components/ui/Inputs/InputArea/InputArea.tsx
  src/renderer/screens/Assets/components/Modals/ReceiveModal/ReceiveModal.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/screens/Operations/components/modals/RejectTx.tsx
  src/renderer/screens/Settings/Networks/components/CustomRpcModal/CustomRpcModal.tsx
  src/renderer/screens/Settings/Networks/components/NetworkSelector/NetworkSelector.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/components/Signing/Signing.tsx
  src/renderer/screens/Staking/Overview/components/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Signing.tsx
  src/renderer/services/transaction/common/types.ts
  src/renderer/services/transaction/transactionService.ts
  src/renderer/shared/utils/validation.ts
  src/renderer/theme/default.css
  src/shared/locale/en.json
  src/shared/locale/ru.json
  tw-config-consts/colors.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: signature verify (#987)
  src/renderer/components/common/QrCode/QrGeneratorContainer/QrGeneratorContainer.tsx
  src/renderer/components/common/QrCode/QrReader/QrMultiframeSignatureReader.tsx
  src/renderer/components/common/QrCode/QrReader/QrReaderWrapper.tsx
  src/renderer/components/common/QrCode/QrReader/QrSignatureReader.tsx
  src/renderer/components/common/QrCode/QrReader/SignatureReaderError.tsx
  src/renderer/components/common/Scanning/ScanMultiframeQr.tsx
  src/renderer/components/common/Scanning/ScanSingleframeQr.tsx
  src/renderer/components/modals/CreateMultisigAccount/components/WalletForm.tsx
  src/renderer/components/ui-redesign/Dropdowns/Combobox/Combobox.tsx
  src/renderer/components/ui-redesign/Dropdowns/MultiSelect/MultiSelect.tsx
  src/renderer/components/ui-redesign/Dropdowns/Select/Select.tsx
  src/renderer/components/ui-redesign/Dropdowns/common/constants.ts
  src/renderer/components/ui-redesign/Dropdowns/common/types.ts
  src/renderer/components/ui-redesign/Inputs/Input/Input.tsx
  src/renderer/components/ui-redesign/Inputs/InputArea/InputArea.tsx
  src/renderer/components/ui-redesign/Inputs/common/styles.ts
  src/renderer/components/ui/Inputs/InputArea/InputArea.tsx
  src/renderer/screens/Assets/components/Modals/ReceiveModal/ReceiveModal.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/screens/Operations/components/modals/RejectTx.tsx
  src/renderer/screens/Settings/Networks/components/CustomRpcModal/CustomRpcModal.tsx
  src/renderer/screens/Settings/Networks/components/NetworkSelector/NetworkSelector.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/components/Signing/Signing.tsx
  src/renderer/screens/Staking/Overview/components/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Signing.tsx
  src/renderer/services/transaction/common/types.ts
  src/renderer/services/transaction/transactionService.ts
  src/renderer/shared/utils/validation.ts
  src/renderer/theme/default.css
  src/shared/locale/en.json
  src/shared/locale/ru.json
  tw-config-consts/colors.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: evm support
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/screens/Onboarding/Vault/KeyQrReader/KeyQrReader.tsx
  src/renderer/shared/utils/strings.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: verification for single complex tx
  src/renderer/components/common/QrCode/QrReader/QrReaderWrapper.tsx
  src/renderer/screens/Staking/Operations/components/Signing/Signing.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Signing.tsx
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: verification for single complex tx (#990)
  src/renderer/components/common/QrCode/QrReader/QrReaderWrapper.tsx
  src/renderer/screens/Staking/Operations/components/Signing/Signing.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Signing.tsx
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: disable verification on multishard
  src/renderer/components/common/QrCode/QrReader/QrReaderWrapper.tsx
  src/renderer/screens/Staking/Operations/components/Signing/Signing.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: disable verification on multishard (#994)
  src/renderer/components/common/QrCode/QrReader/QrReaderWrapper.tsx
  src/renderer/screens/Staking/Operations/components/Signing/Signing.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: update typescript
  package.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix after update storybook
  .storybook/main.js
  src/renderer/components/ui-redesign/Buttons/ButtonLink/ButtonLink.stories.tsx
  src/renderer/components/ui-redesign/Inputs/InputArea/InputArea.stories.tsx
  src/renderer/components/ui-redesign/Plate/Plate.stories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: update pnpm lock
  pnpm-lock.yaml
Due: none

fix: use nonce from account next index
  src/renderer/shared/utils/substrate.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: add addon styling for storybook
  .storybook/main.js
  package.json
  pnpm-lock.yaml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix tests
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: tests
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.test.tsx
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: support max weight calc for unknown tx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/services/transaction/callDataDecoder.ts
  src/renderer/services/transaction/common/constants.ts
  src/renderer/services/transaction/common/types.ts
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: use correct nonce definition
  src/renderer/shared/utils/substrate.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged
