Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/renderer/shared/api/translation/locales/*.json": ["pnpm lint:i18n-fix"]
}

fix: wait balances after change wallet
  src/renderer/pages/Basket/model/basket-page-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: added vote dialog placeholder
  src/renderer/features/governance/components/ReferendumDetails/ReferendumDetailsDialog.tsx
  src/renderer/features/governance/components/ReferendumDetails/VoteDialog.tsx
  src/renderer/features/governance/components/ReferendumDetails/VotingStatus.tsx
  src/renderer/features/governance/components/ReferendumDetails/index.ts
  src/renderer/features/governance/index.ts
  src/renderer/pages/Governance/ui/Governance.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/ui/Typography/common/types.ts
  tailwind.config.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: correct api to submit txs from different chains
  src/renderer/features/operations/OperationSubmit/model/submit-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: added vote dialog placeholder
  src/renderer/features/governance/components/ReferendumDetails/VoteDialog.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: cleanup
  src/renderer/entities/governance/model/voting.ts
  src/renderer/features/governance/aggregates/details.ts
  src/renderer/features/governance/components/ReferendumDetails/VoteDialog.tsx
  src/renderer/features/governance/components/ReferendumDetails/VotingStatus.tsx
  src/renderer/shared/api/governance/on-chain/service/governanceService.ts
  src/renderer/shared/ui/Popovers/MenuPopover/MenuPopover.tsx
  src/renderer/shared/ui/Typography/common/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: remove support proxied wallets from approve/reject mst txs
  src/renderer/entities/wallet/lib/permission-utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: governance summary panel
  src/renderer/features/governance/components/ReferendumDetails/DetailsCard.tsx
  src/renderer/features/governance/components/ReferendumDetails/ReferendumDetailsDialog.tsx
  src/renderer/features/governance/components/ReferendumDetails/VotingSummary.tsx
  src/renderer/shared/lib/utils/balance.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix tests
  src/renderer/entities/wallet/lib/__tests__/permission-utils.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: add test.. failing somehow
  src/renderer/widgets/CreateWallet/model/__tests__/form-model.test.ts
  src/renderer/widgets/CreateWallet/model/__tests__/mock.ts
  src/renderer/widgets/CreateWallet/model/__tests__/signatory-model.test.ts
  src/renderer/widgets/CreateWallet/model/form-model.ts
  src/renderer/widgets/CreateWallet/model/signatory-model.ts
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/SelectSignatoriesThreshold.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/entities/wallet/lib/permission-utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: wait balances after change wallet
  src/renderer/entities/wallet/lib/__tests__/permission-utils.test.ts
  src/renderer/entities/wallet/lib/permission-utils.ts
  src/renderer/features/operations/OperationSubmit/model/submit-model.ts
  src/renderer/pages/Basket/model/basket-page-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: wait balances after change wallet (#1946)
  src/renderer/entities/wallet/lib/__tests__/permission-utils.test.ts
  src/renderer/entities/wallet/lib/permission-utils.ts
  src/renderer/features/operations/OperationSubmit/model/submit-model.ts
  src/renderer/pages/Basket/model/basket-page-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: bump package version
  package.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: turn off governance from navItems
  src/renderer/features/navigation/ui/Navigation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: confirm for mst txs
  src/renderer/features/operations/OperationSign/model/sign-model.ts
  src/renderer/features/operations/OperationsConfirm/AddProxy/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/AddPureProxied/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/BondExtra/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/BondNominate/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Nominate/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Payee/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/RemoveProxy/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/RemovePureProxied/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Restake/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Transfer/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Transfer/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Unstake/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Withdraw/model/confirm-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: governance voting history
  src/main/factories/window.ts
  src/renderer/entities/governance/model/proposerIdentity.ts
  src/renderer/entities/governance/model/voteHistory.ts
  src/renderer/entities/signatory/ui/SignatoryCard/SignatoryCard.tsx
  src/renderer/entities/wallet/ui/AddressWithTwoLines/AddressWithTwoLines.tsx
  src/renderer/entities/wallet/ui/ExplorersPopover/ExplorersPopover.tsx
  src/renderer/features/governance/aggregates/details.ts
  src/renderer/features/governance/aggregates/proposerIdentity.ts
  src/renderer/features/governance/aggregates/voteHistory.ts
  src/renderer/features/governance/components/ReferendumDetails/ProposerName.tsx
  src/renderer/features/governance/components/ReferendumDetails/ReferendumDetailsDialog.tsx
  src/renderer/features/governance/components/ReferendumDetails/VoteHistoryDialog.tsx
  src/renderer/features/governance/types/structs.ts
  src/renderer/shared/api/governance/off-chain/lib/types.ts
  src/renderer/shared/api/governance/off-chain/service/polkassemblyService.ts
  src/renderer/shared/api/polkassembly/lib/types.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/lib/utils/__tests__/search.test.ts
  src/renderer/shared/lib/utils/index.ts
  src/renderer/shared/lib/utils/search.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: remove console .log
  src/renderer/features/operations/OperationsConfirm/Transfer/ui/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix validation
  src/renderer/features/operations/OperationsConfirm/Transfer/model/confirm-model.ts
  src/renderer/features/operations/OperationsValidation/model/transfer-validate-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: confirm for mst txs (#1949)
  src/renderer/features/operations/OperationSign/model/sign-model.ts
  src/renderer/features/operations/OperationsConfirm/AddProxy/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/AddPureProxied/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/BondExtra/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/BondNominate/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Nominate/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Payee/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/RemoveProxy/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/RemovePureProxied/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Restake/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Transfer/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Unstake/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Withdraw/model/confirm-model.ts
  src/renderer/features/operations/OperationsValidation/model/transfer-validate-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: confirm for mst txs
  src/renderer/features/operations/OperationSign/model/sign-model.ts
  src/renderer/features/operations/OperationsConfirm/AddProxy/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/AddPureProxied/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/BondExtra/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/BondNominate/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Nominate/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Payee/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/RemoveProxy/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/RemovePureProxied/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Restake/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Transfer/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Unstake/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Withdraw/model/confirm-model.ts
  src/renderer/features/operations/OperationsValidation/model/transfer-validate-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: basket filter
  src/renderer/features/basket/BasketFilter/common/types.ts
  src/renderer/features/basket/BasketFilter/index.ts
  src/renderer/features/basket/BasketFilter/lib/constants.ts
  src/renderer/features/basket/BasketFilter/lib/utils.ts
  src/renderer/features/basket/BasketFilter/model/baket-filter-model.ts
  src/renderer/features/basket/BasketFilter/ui/BasketFilter.tsx
  src/renderer/pages/Basket/model/basket-page-model.ts
  src/renderer/pages/Basket/ui/Basket.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: remove governance from settings
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix test
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: governance voting history
  src/renderer/entities/signatory/ui/SignatoryCard/SignatoryCard.tsx
  src/renderer/entities/wallet/ui/AccountAddress/AccountAddress.tsx
  src/renderer/features/governance/aggregates/voteHistory.ts
  src/renderer/features/governance/components/ReferendumDetails/ProposerName.tsx
  src/renderer/features/governance/components/ReferendumDetails/ReferendumDetailsDialog.tsx
  src/renderer/features/governance/components/ReferendumDetails/VoteDialog.tsx
  src/renderer/features/governance/components/ReferendumDetails/VotingHistoryDialog.tsx
  src/renderer/features/governance/components/ReferendumDetails/VotingStatus.tsx
  src/renderer/shared/api/governance/off-chain/lib/types.ts
  src/renderer/shared/api/governance/off-chain/service/polkassemblyService.ts
  src/renderer/shared/api/governance/off-chain/service/subsquareService.ts
  src/renderer/shared/api/polkassembly/lib/types.ts
  src/renderer/shared/api/subsquare/__tests__/createChunkedRequest.test.ts
  src/renderer/shared/api/subsquare/index.ts
  src/renderer/shared/api/subsquare/lib/createChunkedRequest.ts
  src/renderer/shared/api/subsquare/lib/types.ts
  src/renderer/shared/api/subsquare/service/subsquareApiService.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/assets/images/functionals/minus-circle.svg
  src/renderer/shared/assets/images/functionals/thumb-down.svg
  src/renderer/shared/assets/images/functionals/thumb-up.svg
  src/renderer/shared/lib/utils/__tests__/balance.test.ts
  src/renderer/shared/lib/utils/balance.ts
  src/renderer/shared/lib/utils/search.ts
  src/renderer/shared/ui/Icon/data/functionals.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: initialize
  src/renderer/widgets/CreateWallet/model/__tests__/form-model.test.ts
  src/renderer/widgets/CreateWallet/model/__tests__/signatory-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: code review
  src/renderer/features/governance/aggregates/list.ts
  src/renderer/features/governance/components/ReferendumDetails/ReferendumDetailsDialog.tsx
  src/renderer/features/governance/components/ReferendumDetails/VoteDialog.tsx
  src/renderer/features/governance/components/ReferendumDetails/VotingStatus.tsx
  src/renderer/features/governance/components/ReferendumDetails/VotingSummary.tsx
  src/renderer/features/governance/components/ReferendumList/CompletedReferendumItem.tsx
  src/renderer/features/governance/components/ReferendumList/CompletedReferendums.tsx
  src/renderer/features/governance/components/ReferendumList/OngoingReferendumItem.tsx
  src/renderer/features/governance/components/ReferendumList/OngoingReferendums.tsx
  src/renderer/features/governance/lib/list.ts
  src/renderer/features/governance/types/structs.ts
  src/renderer/pages/Governance/lib/__tests__/governancePageUtils.test.ts
  src/renderer/pages/Governance/lib/governancePageUtils.ts
  src/renderer/shared/api/governance/off-chain/service/polkassemblyService.ts
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: referendum voting status
  src/renderer/entities/governance/index.ts
  src/renderer/entities/governance/lib/constants.ts
  src/renderer/entities/governance/lib/votingService.ts
  src/renderer/entities/governance/model/governanceApi.ts
  src/renderer/entities/governance/model/voteHistory.ts
  src/renderer/features/governance/aggregates/details.ts
  src/renderer/features/governance/aggregates/list.ts
  src/renderer/features/governance/aggregates/proposerIdentity.ts
  src/renderer/features/governance/components/ReferendumDetails/ProposalDescription.tsx
  src/renderer/features/governance/components/ReferendumDetails/ReferendumDetailsDialog.tsx
  src/renderer/features/governance/components/ReferendumDetails/VoteDialog.tsx
  src/renderer/features/governance/components/ReferendumDetails/VotingStatus.tsx
  src/renderer/features/governance/components/ReferendumDetails/VotingSummary.tsx
  src/renderer/features/governance/components/ReferendumDetails/index.ts
  src/renderer/features/governance/components/ReferendumList/CompletedReferendumItem.tsx
  src/renderer/features/governance/components/ReferendumList/CompletedReferendums.tsx
  src/renderer/features/governance/components/ReferendumList/OngoingReferendumItem.tsx
  src/renderer/features/governance/components/ReferendumList/OngoingReferendums.tsx
  src/renderer/features/governance/index.ts
  src/renderer/features/governance/lib/list.ts
  src/renderer/features/governance/model/description.ts
  src/renderer/features/governance/model/title.ts
  src/renderer/features/governance/types/structs.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
  src/renderer/pages/Governance/lib/__tests__/governancePageUtils.test.ts
  src/renderer/pages/Governance/lib/governancePageUtils.ts
  src/renderer/pages/Governance/ui/Governance.tsx
  src/renderer/shared/api/governance/index.ts
  src/renderer/shared/api/governance/off-chain/lib/types.ts
  src/renderer/shared/api/governance/off-chain/service/polkassemblyService.ts
  src/renderer/shared/api/governance/off-chain/service/subsquareService.ts
  src/renderer/shared/api/network/service/networkService.ts
  src/renderer/shared/api/polkassembly/__tests__/createChunkedRequest.test.ts
  src/renderer/shared/api/polkassembly/index.ts
  src/renderer/shared/api/polkassembly/lib/createChunkedRequest.ts
  src/renderer/shared/api/polkassembly/lib/types.ts
  src/renderer/shared/api/polkassembly/service/polkassemblyApiService.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/ui/Popovers/MenuPopover/MenuPopover.tsx
  tailwind.config.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: referendum voting status (#1945)
  src/renderer/entities/governance/index.ts
  src/renderer/entities/governance/lib/constants.ts
  src/renderer/entities/governance/lib/votingService.ts
  src/renderer/entities/governance/model/governanceApi.ts
  src/renderer/entities/governance/model/voteHistory.ts
  src/renderer/features/governance/aggregates/details.ts
  src/renderer/features/governance/aggregates/list.ts
  src/renderer/features/governance/aggregates/proposerIdentity.ts
  src/renderer/features/governance/components/ReferendumDetails/ProposalDescription.tsx
  src/renderer/features/governance/components/ReferendumDetails/ReferendumDetailsDialog.tsx
  src/renderer/features/governance/components/ReferendumDetails/VoteDialog.tsx
  src/renderer/features/governance/components/ReferendumDetails/VotingStatus.tsx
  src/renderer/features/governance/components/ReferendumDetails/VotingSummary.tsx
  src/renderer/features/governance/components/ReferendumDetails/index.ts
  src/renderer/features/governance/components/ReferendumList/CompletedReferendumItem.tsx
  src/renderer/features/governance/components/ReferendumList/CompletedReferendums.tsx
  src/renderer/features/governance/components/ReferendumList/OngoingReferendumItem.tsx
  src/renderer/features/governance/components/ReferendumList/OngoingReferendums.tsx
  src/renderer/features/governance/index.ts
  src/renderer/features/governance/lib/list.ts
  src/renderer/features/governance/model/description.ts
  src/renderer/features/governance/model/title.ts
  src/renderer/features/governance/types/structs.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
  src/renderer/pages/Governance/lib/__tests__/governancePageUtils.test.ts
  src/renderer/pages/Governance/lib/governancePageUtils.ts
  src/renderer/pages/Governance/ui/Governance.tsx
  src/renderer/shared/api/governance/index.ts
  src/renderer/shared/api/governance/off-chain/lib/types.ts
  src/renderer/shared/api/governance/off-chain/service/polkassemblyService.ts
  src/renderer/shared/api/governance/off-chain/service/subsquareService.ts
  src/renderer/shared/api/network/service/networkService.ts
  src/renderer/shared/api/polkassembly/__tests__/createChunkedRequest.test.ts
  src/renderer/shared/api/polkassembly/index.ts
  src/renderer/shared/api/polkassembly/lib/createChunkedRequest.ts
  src/renderer/shared/api/polkassembly/lib/types.ts
  src/renderer/shared/api/polkassembly/service/polkassemblyApiService.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/ui/Popovers/MenuPopover/MenuPopover.tsx
  tailwind.config.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: after merge
  src/renderer/features/governance/components/ReferendumDetails/VotingSummary.tsx
  src/renderer/shared/api/governance/off-chain/service/subsquareService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: review change
  src/renderer/features/governance/aggregates/voting.ts
  src/renderer/features/governance/components/Unlock/UnlockInfo.tsx
  src/renderer/features/governance/lib/unlock.ts
  src/renderer/features/governance/model/locks.ts
  src/renderer/features/governance/model/unlock.ts
  src/renderer/shared/lib/utils/substrate.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: referendum summary
  src/renderer/entities/governance/model/voteHistory.ts
  src/renderer/features/governance/components/ReferendumDetails/ReferendumDetailsDialog.tsx
  src/renderer/features/governance/components/ReferendumDetails/VotingHistoryDialog.tsx
  src/renderer/features/governance/components/ReferendumDetails/index.ts
  src/renderer/features/governance/components/VotingHistory/VotingHistoryDialog.tsx
  src/renderer/features/governance/components/VotingHistory/VotingHistoryList.tsx
  src/renderer/features/governance/components/VotingHistory/VotingHistoryListEmptyState.tsx
  src/renderer/features/governance/components/VotingHistory/VotingHistoryListPlaceholder.tsx
  src/renderer/features/governance/components/VotingHistory/VotingHistoryLoadingScreen.tsx
  src/renderer/features/governance/index.ts
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: referendum summary
  src/renderer/features/governance/components/ReferendumDetails/ReferendumDetailsDialog.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: referendum summary
  src/main/factories/window.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: referendum summary
  src/renderer/pages/Governance/lib/governancePageUtils.ts
  src/renderer/shared/lib/utils/search.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged
