Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

fix: close client on disconnect (#1194)
  src/renderer/entities/walletConnect/lib/constants.ts
  src/renderer/entities/walletConnect/model/wallet-connect-model.ts
  src/renderer/pages/Onboarding/WalletConnect/NovaWallet.tsx
  src/renderer/pages/Onboarding/WalletConnect/WalletConnect.tsx
  src/renderer/pages/Onboarding/WalletConnect/lib/const.ts
  src/renderer/pages/Onboarding/WalletConnect/lib/utils.ts
  src/renderer/pages/Onboarding/WalletConnect/model/wc-onboarding-model.ts
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/MultisigAccount.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/WalletItem.tsx
  src/renderer/widgets/WalletDetails/model/wc-details-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: wc qr timer display
  src/renderer/features/operation/sign/ui/WalletConnect/WalletConnect.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: wallet connect icon fix: design update
  src/renderer/features/wallets/WalletSelect/ui/WalletPanel.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/ConfirmSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/SelectSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: wallet connect icon
  src/renderer/features/wallets/WalletSelect/ui/WalletPanel.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/ConfirmSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/SelectSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: wallet connect icon (#1196)
  src/renderer/features/wallets/WalletSelect/ui/WalletPanel.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/ConfirmSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/SelectSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: add multisig to options
  src/renderer/assets/chains/chains.json
  src/renderer/assets/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: wallet connect multisig signing
  src/renderer/entities/walletConnect/index.ts
  src/renderer/entities/walletConnect/lib/types.ts
  src/renderer/entities/walletConnect/model/wallet-connect-model.ts
  src/renderer/features/operation/init/ui/MultisigOperationHeader.tsx
  src/renderer/features/operation/sign/lib/constants.ts
  src/renderer/features/operation/sign/lib/utils.ts
  src/renderer/features/operation/sign/model/sign-model.ts
  src/renderer/features/operation/sign/model/wallet-connect-sign-model.ts
  src/renderer/features/operation/sign/ui/WalletConnect/WalletConnect.tsx
  src/renderer/pages/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
  src/renderer/pages/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/InitOperation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: test
  src/renderer/features/operation/init/ui/__tests__/OperationHeader.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: operations count
  src/renderer/features/navigation/ui/Navigation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: revert
  src/renderer/features/navigation/ui/Navigation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: add multisig to options (#1197)
  src/renderer/assets/chains/chains.json
  src/renderer/assets/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: lint and redundant props
  .eslintrc.js
  .prettierignore
  README.md
  package.json
  src/renderer/components/common/Scanning/ScanSingleframeQr.tsx
  src/renderer/entities/multisig/lib/multisigTx/common/utils.ts
  src/renderer/entities/network/lib/metadataService.ts
  src/renderer/entities/transaction/lib/callDataDecoder.ts
  src/renderer/entities/transaction/lib/extrinsicService.ts
  src/renderer/entities/transaction/model/transaction.ts
  src/renderer/entities/wallet/ui/MultishardAccountsList/MultishardAccountsList.tsx
  src/renderer/features/operation/OperationsFilter/lib/utils.ts
  src/renderer/pages/AddressBook/Contacts/Contacts.tsx
  src/renderer/pages/Onboarding/Vault/ManageMultishard/ManageMultishard.tsx
  src/renderer/pages/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/renderer/shared/api/storage/common/types.ts
  src/renderer/shared/ui/Icon/data/arrow.tsx
  src/renderer/shared/ui/Icon/data/functionals.tsx
  src/renderer/shared/ui/Icon/data/navigation.tsx
  src/renderer/shared/ui/Icon/data/staking.tsx
  src/renderer/shared/ui/Icon/data/walletType.tsx
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: internal build version
  .github/workflows/build_stage.yaml
  .github/workflows/update_internal_version.yaml
Due: none

fix: test run
  .github/workflows/update_internal_version.yaml
Due: none

fix: name
  .github/workflows/build_stage.yaml
Due: none

fix: download artifacts
  .github/workflows/build_stage.yaml
Due: none

fix: remove test triggers
  .github/workflows/update_internal_version.yaml
Due: none

Fix: operations shows zero
  src/renderer/features/navigation/ui/Navigation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: chains and locales paths
  .eslintrc.js
  .github/workflows/update_chains_file.yaml
  .lintstagedrc.json
  .prettierignore
  app.config.js
  package.json
  scripts/buildChainsJson.js
  src/renderer/app/i18n.ts
  src/renderer/app/providers/context/I18nContext/I18nContext.tsx
  src/renderer/shared/api/translation/__tests__/localeStorage.test.ts
  src/renderer/shared/api/translation/lib/constants.ts
  src/renderer/shared/api/translation/lib/types.ts
  src/renderer/shared/api/translation/localeStorage.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/api/translation/locales/index.ts
  src/renderer/shared/api/translation/locales/ru.json
  src/renderer/shared/api/translation/translationService.ts
  src/renderer/shared/ui/LanguageSwitcher/LanguageSwitcher.stories.tsx
  src/renderer/shared/ui/LanguageSwitcher/LanguageSwitcher.test.tsx
  src/renderer/shared/ui/LanguageSwitcher/LanguageSwitcher.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: improve implementation
  .github/workflows/build_stage.yaml
  .github/workflows/update_internal_version.yaml
Due: none

fix: test
  .github/workflows/build_stage.yaml
Due: none

fix: update flow
  .github/workflows/build_stage.yaml
Due: none

fix: remove test triggers
  .github/workflows/build_stage.yaml
Due: none

change ternary operator
  src/renderer/features/navigation/ui/Navigation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat/fix internal build (#1200)
  .github/workflows/build_stage.yaml
Due: none

Feat/fix internal build
  .github/workflows/build_stage.yaml
Due: none

feat: import derivation flow done
  src/renderer/assets/images/functionals/checkmark-line.svg
  src/renderer/assets/images/functionals/checkmark-outline.svg
  src/renderer/assets/images/functionals/close-line.svg
  src/renderer/assets/images/functionals/close-outline.svg
  src/renderer/entities/dynamicDerivations/lib/constants.ts
  src/renderer/entities/dynamicDerivations/lib/import-keys-utils.ts
  src/renderer/entities/dynamicDerivations/lib/types.ts
  src/renderer/entities/dynamicDerivations/model/import-keys-model.ts
  src/renderer/entities/signatory/ui/SignatoryCard/SignatoryCard.tsx
  src/renderer/entities/transaction/ui/OperationResult/common/constants.ts
  src/renderer/features/dynamicDerivations/ImportKeysModal/ImportKeysModal.tsx
  src/renderer/features/dynamicDerivations/ImportKeysModal/mock-data.ts
  src/renderer/pages/Onboarding/WalletConnect/ManageStep/ManageStep.tsx
  src/renderer/shared/core/types/account.ts
  src/renderer/shared/ui/Alert/Alert.tsx
  src/renderer/shared/ui/Alert/AlertItem.tsx
  src/renderer/shared/ui/Alert/common/constants.ts
  src/renderer/shared/ui/Alert/common/types.ts
  src/renderer/shared/ui/Icon/data/functionals.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: tests for validation and path merging
  src/renderer/entities/dynamicDerivations/lib/__tests__/importKeysUtils.test.ts
  src/renderer/entities/dynamicDerivations/lib/import-keys-utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged
