Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: handle balances delete inside wc model
  src/renderer/features/wallets/ForgetWallet/model/forget-wallet-model.ts
  src/renderer/widgets/WalletDetails/model/wc-details-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: reject reason for rejector
  src/renderer/pages/Operations/components/ActionSteps/Submit.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: block explorer
  src/renderer/entities/wallet/ui/MultishardAccountsList/MultishardAccountsList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: delete balances on forget for wallet connect wallet
  src/renderer/widgets/WalletDetails/model/wc-details-model.ts
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: delete balances on forget for wallet connect wallet (#1339)
  src/renderer/widgets/WalletDetails/model/wc-details-model.ts
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: reject reason for rejector (#1340)
  src/renderer/pages/Operations/components/ActionSteps/Submit.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: update libs, update effector tests to v23
  package.json
  pnpm-lock.yaml
  src/renderer/entities/contact/index.ts
  src/renderer/entities/contact/model/contact-model.ts
  src/renderer/entities/network/model/network-model.ts
  src/renderer/entities/price/model/currency-model.ts
  src/renderer/entities/price/model/price-provider-model.ts
  src/renderer/entities/wallet/model/__tests__/wallet-model.test.ts
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/entities/walletConnect/model/wallet-connect-model.ts
  src/renderer/entities/xcm/model/xcm-model.ts
  src/renderer/features/contacts/ContactFilter/model/contact-filter.ts
  src/renderer/features/contacts/CreateContactForm/model/contact-form.ts
  src/renderer/features/operation/sign/model/sign-model.ts
  src/renderer/features/operation/sign/model/wallet-connect-sign-model.ts
  src/renderer/features/wallets/ImportKeys/model/import-keys-model.ts
  src/renderer/features/wallets/KeyConstructor/model/__tests__/constructor-model.test.ts
  src/renderer/features/wallets/SelectWalletPairing/model/wallet-pairing-model.ts
  src/renderer/features/wallets/ShardSelectorModal/model/__tests__/mocks/shards-mock.ts
  src/renderer/features/wallets/ShardSelectorModal/model/__tests__/shards-model.test.ts
  src/renderer/pages/Staking/Operations/Bond/Bond.test.tsx
  src/renderer/widgets/CreateWallet/model/wallet-provider-model.ts
  src/renderer/widgets/SendAssetModal/model/send-asset.ts
  src/renderer/widgets/WalletDetails/model/wc-details-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: add proxied accounts
  src/renderer/entities/proxy/lib/utils.ts
  src/renderer/entities/proxy/model/proxy-model.ts
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/entities/wallet/lib/wallet-utils.ts
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/proxies/lib/utils.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/proxy.ts
  src/renderer/shared/core/types/wallet.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix account naming
  src/renderer/entities/proxy/lib/utils.ts
  src/renderer/features/proxies/model/proxies-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: proxy service (#1278)
  package.json
  pnpm-lock.yaml
  src/main/main.ts
  src/renderer/entities/network/lib/common/utils.ts
  src/renderer/entities/network/model/network-model.ts
  src/renderer/entities/operation/ui/SignButton.tsx
  src/renderer/entities/proxy/index.ts
  src/renderer/entities/proxy/lib/constants.ts
  src/renderer/entities/proxy/lib/utils.ts
  src/renderer/entities/proxy/model/__tests__/proxy-model.test.ts
  src/renderer/entities/proxy/model/proxy-model.ts
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/entities/wallet/ui/WalletIcon/WalletIcon.tsx
  src/renderer/features/proxies/index.ts
  src/renderer/features/proxies/lib/constants.ts
  src/renderer/features/proxies/lib/types.ts
  src/renderer/features/proxies/lib/utils.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Settings/Networks/components/NetworkList/NetworkList.tsx
  src/renderer/pages/Staking/Overview/Overview.tsx
  src/renderer/shared/api/storage/common/types.ts
  src/renderer/shared/api/storage/service/dexie.ts
  src/renderer/shared/api/storage/service/storageService.ts
  src/renderer/shared/config/chains/chains_dev.json
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/account.ts
  src/renderer/shared/core/types/chain.ts
  src/renderer/shared/core/types/proxy.ts
  src/renderer/shared/core/types/wallet.ts
  src/renderer/widgets/WalletDetails/ui/WalletDetailsProvider.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: proxy service
  package.json
  pnpm-lock.yaml
  src/main/main.ts
  src/renderer/entities/network/lib/common/utils.ts
  src/renderer/entities/network/model/network-model.ts
  src/renderer/entities/operation/ui/SignButton.tsx
  src/renderer/entities/proxy/index.ts
  src/renderer/entities/proxy/lib/constants.ts
  src/renderer/entities/proxy/lib/utils.ts
  src/renderer/entities/proxy/model/__tests__/proxy-model.test.ts
  src/renderer/entities/proxy/model/proxy-model.ts
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/entities/wallet/ui/WalletIcon/WalletIcon.tsx
  src/renderer/features/proxies/index.ts
  src/renderer/features/proxies/lib/constants.ts
  src/renderer/features/proxies/lib/types.ts
  src/renderer/features/proxies/lib/utils.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Settings/Networks/components/NetworkList/NetworkList.tsx
  src/renderer/pages/Staking/Overview/Overview.tsx
  src/renderer/shared/api/storage/common/types.ts
  src/renderer/shared/api/storage/service/dexie.ts
  src/renderer/shared/api/storage/service/storageService.ts
  src/renderer/shared/config/chains/chains_dev.json
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/account.ts
  src/renderer/shared/core/types/chain.ts
  src/renderer/shared/core/types/proxy.ts
  src/renderer/shared/core/types/wallet.ts
  src/renderer/widgets/WalletDetails/ui/WalletDetailsProvider.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix proxies value
  src/renderer/features/proxies/model/proxies-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: pr comments fix
  src/renderer/entities/proxy/lib/constants.ts
  src/renderer/entities/proxy/lib/types.ts
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.stories.tsx
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.test.tsx
  src/renderer/shared/assets/images/walletTypes/proxy.svg
  src/renderer/shared/core/types/wallet.ts
  src/renderer/shared/ui/Icon/data/walletType.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: moved notification components to different layers
  src/renderer/entities/notification/index.ts
  src/renderer/entities/notification/lib/common/types.ts
  src/renderer/entities/notification/model/notification.ts
  src/renderer/entities/notification/ui/NotificationRow/NotificationBody.tsx
  src/renderer/entities/notification/ui/NotificationRow/NotificationRow.tsx
  src/renderer/entities/notification/ui/index.ts
  src/renderer/features/notifications/NotificationProvider/NotificationProvider.tsx
  src/renderer/features/notifications/NotificationProvider/components/MultisigInvitedNotification.tsx
  src/renderer/features/notifications/NotificationProvider/components/ProxyCreatedNotification.tsx
  src/renderer/features/notifications/index.ts
  src/renderer/pages/Notifications/Notifications.tsx
  src/renderer/pages/Notifications/components/NotificationRow.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: proxt notification fix
  src/renderer/features/notifications/NotificationProvider/components/ProxyCreatedNotification.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: import paths fix
  src/renderer/entities/notification/lib/notificationService.ts
  src/renderer/entities/proxy/lib/constants.ts
  src/renderer/shared/api/storage/lib/types.ts
  src/renderer/shared/api/storage/service/notificationStorage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix comments
  src/renderer/entities/proxy/index.ts
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix comments
  src/renderer/app/index.tsx
  src/renderer/entities/proxy/model/proxy-model.ts
  src/renderer/features/proxies/model/proxies-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: add comment
  src/renderer/entities/wallet/model/wallet-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: remove proxied wallets
  src/renderer/entities/balance/model/balance-model.ts
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
  src/renderer/features/wallets/ForgetWallet/model/__tests__/forget-wallet-model.test.ts
  src/renderer/features/wallets/ForgetWallet/model/forget-wallet-model.ts
  src/renderer/widgets/WalletDetails/model/wc-details-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: poc of dexie transaction
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/shared/api/storage/index.ts
  src/renderer/shared/api/storage/service/dexie.ts
  src/renderer/shared/api/storage/service/storageService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: network update
  src/renderer/entities/network/lib/common/utils.ts
  src/renderer/entities/network/model/network-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: adding ignore path for pr tests
  jest.config.pr.ts
  package.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: devide lint and tests
  .github/workflows/ci_lint.yaml
  .github/workflows/unit_tests.yaml
  jest.config.pr.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: name for workflows
  .github/workflows/ci_lint.yaml
  .github/workflows/unit_tests.yaml
Due: none

fix: lint
  .github/workflows/pull_request_coverage_report.yaml
  jest.config.pr.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: remove comment
  jest.config.pr.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Feat: notifications update
  src/renderer/entities/notification/index.ts
  src/renderer/entities/notification/lib/common/types.ts
  src/renderer/entities/notification/lib/notificationService.ts
  src/renderer/entities/notification/model/notification.ts
  src/renderer/entities/notification/ui/NotificationRow/NotificationRow.tsx
  src/renderer/entities/notification/ui/index.ts
  src/renderer/entities/proxy/lib/constants.ts
  src/renderer/entities/proxy/lib/types.ts
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.stories.tsx
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.test.tsx
  src/renderer/entities/wallet/ui/WalletIcon/WalletIcon.tsx
  src/renderer/features/notifications/NotificationProvider/NotificationProvider.tsx
  src/renderer/features/notifications/NotificationProvider/components/MultisigInvitedNotification.tsx
  src/renderer/features/notifications/NotificationProvider/components/ProxyCreatedNotification.tsx
  src/renderer/features/notifications/index.ts
  src/renderer/pages/Notifications/Notifications.tsx
  src/renderer/pages/Notifications/components/NotificationRow.tsx
  src/renderer/shared/api/storage/lib/types.ts
  src/renderer/shared/api/storage/service/notificationStorage.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/assets/images/walletTypes/proxy.svg
  src/renderer/shared/ui/Icon/data/walletType.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: notifications update (#1324)
  src/renderer/entities/notification/index.ts
  src/renderer/entities/notification/lib/common/types.ts
  src/renderer/entities/notification/lib/notificationService.ts
  src/renderer/entities/notification/model/notification.ts
  src/renderer/entities/notification/ui/NotificationRow/NotificationRow.tsx
  src/renderer/entities/notification/ui/index.ts
  src/renderer/entities/proxy/lib/constants.ts
  src/renderer/entities/proxy/lib/types.ts
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.stories.tsx
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.test.tsx
  src/renderer/entities/wallet/ui/WalletIcon/WalletIcon.tsx
  src/renderer/features/notifications/NotificationProvider/NotificationProvider.tsx
  src/renderer/features/notifications/NotificationProvider/components/MultisigInvitedNotification.tsx
  src/renderer/features/notifications/NotificationProvider/components/ProxyCreatedNotification.tsx
  src/renderer/features/notifications/index.ts
  src/renderer/pages/Notifications/Notifications.tsx
  src/renderer/pages/Notifications/components/NotificationRow.tsx
  src/renderer/shared/api/storage/lib/types.ts
  src/renderer/shared/api/storage/service/notificationStorage.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/assets/images/walletTypes/proxy.svg
  src/renderer/shared/ui/Icon/data/walletType.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: [wip] wallet menu update
  src/main/main.ts
  src/renderer/entities/wallet/lib/wallet-utils.ts
  src/renderer/entities/wallet/ui/Cards/WalletCardMd.tsx
  src/renderer/features/wallets/WalletSelect/model/wallet-select-model.ts
  src/renderer/features/wallets/WalletSelect/ui/ProxiedTooltip.tsx
  src/renderer/features/wallets/WalletSelect/ui/WalletGroup.tsx
  src/renderer/features/wallets/WalletSelect/ui/WalletPanel.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/wallet.ts
  src/renderer/shared/ui/Popovers/Popover/Popover.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: removed some unused icons
  src/renderer/shared/assets/images/arrows/arrow-curve-left-right.svg
  src/renderer/shared/assets/images/arrows/down.svg
  src/renderer/shared/assets/images/arrows/left-cutout.svg
  src/renderer/shared/assets/images/arrows/up.svg
  src/renderer/shared/assets/images/chevron/down.svg
  src/renderer/shared/assets/images/chevron/dropdown.svg
  src/renderer/shared/assets/images/chevron/up.svg
  src/renderer/shared/ui/Dropdowns/DropdownButton/DropdownButton.stories.tsx
  src/renderer/shared/ui/Icon/data/arrow.tsx
  src/renderer/shared/ui/Icon/data/chevron.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: updated accordion styles (#1335)
  src/renderer/entities/wallet/ui/MultishardAccountsList/MultishardAccountsList.tsx
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Settings/Networks/components/NetworkList/NetworkList.tsx
  src/renderer/shared/assets/images/arrows/arrow-curve-left-right.svg
  src/renderer/shared/assets/images/arrows/down.svg
  src/renderer/shared/assets/images/arrows/left-cutout.svg
  src/renderer/shared/assets/images/arrows/up.svg
  src/renderer/shared/assets/images/chevron/down.svg
  src/renderer/shared/assets/images/chevron/dropdown.svg
  src/renderer/shared/assets/images/chevron/up.svg
  src/renderer/shared/ui/Accordion/Accordion.tsx
  src/renderer/shared/ui/Dropdowns/DropdownButton/DropdownButton.stories.tsx
  src/renderer/shared/ui/Icon/data/arrow.tsx
  src/renderer/shared/ui/Icon/data/chevron.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/renderer/shared/api/translation/locales/*.json
