Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: delete comment
  src/renderer/widgets/WalletDetails/ui/components/ProxiesList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: proxy-popover
  src/renderer/entities/proxy/index.ts
  src/renderer/entities/proxy/ui/ProxyPopover.tsx
  src/renderer/features/wallets/KeyConstructor/ui/ShardInfoPopover.tsx
  src/renderer/features/wallets/WalletSelect/ui/ProxiedTooltip.tsx
  src/renderer/pages/Onboarding/Vault/ManageVault/VaultInfoPopover.tsx
  src/renderer/pages/Staking/Operations/components/StakingPopover/StakingPopover.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/AddProxyModal/ui/AddProxyForm.tsx
  src/renderer/widgets/AddProxyModal/ui/AddProxyModal.tsx
  src/renderer/widgets/AddProxyModal/ui/ProxyPopover.tsx
  src/renderer/widgets/MatrixModal/ui/MatrixInfoPopover.tsx
  src/renderer/widgets/WalletDetails/ui/components/NoProxiesAction.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultishardWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/VaultWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Fix: proxy deposit in proxies list (#1375)
  src/renderer/widgets/WalletDetails/ui/components/ProxiesList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: proxy deposit in proxies list
  src/renderer/widgets/WalletDetails/ui/components/ProxiesList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: network utils
  src/renderer/app/providers/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/entities/network/lib/index.ts
  src/renderer/entities/network/lib/network-utils.ts
  src/renderer/entities/network/model/network-model.ts
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/features/balances/model/balance-subscription-model.ts
  src/renderer/pages/Settings/Networks/components/NetworkItem/NetworkItem.tsx
  src/renderer/pages/Settings/Networks/components/NetworkList/NetworkList.tsx
  src/renderer/pages/Staking/Overview/Overview.tsx
  src/renderer/shared/ui/Buttons/Button/Button.tsx
  src/renderer/shared/ui/Buttons/common/constants.ts
  src/renderer/shared/ui/Dropdowns/Select/Select.tsx
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddProxyModal/model/proxy-form-model.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxyForm.tsx
  src/renderer/widgets/AddProxyModal/ui/AddProxyModal.tsx
  src/renderer/widgets/WalletDetails/ui/components/NoProxiesAction.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultishardWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/ProxiedWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/VaultWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: popover styles
  src/renderer/entities/proxy/ui/ProxyPopover.tsx
  src/renderer/entities/transaction/ui/DepositWithLabel/DepositWithLabel.tsx
  src/renderer/features/operation/init/ui/OperationFooter.tsx
  src/renderer/features/wallets/KeyConstructor/ui/ShardInfoPopover.tsx
  src/renderer/features/wallets/WalletSelect/ui/ProxiedTooltip.tsx
  src/renderer/pages/Onboarding/Vault/ManageVault/VaultInfoPopover.tsx
  src/renderer/pages/Staking/Operations/components/StakingPopover/StakingPopover.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/ShardedList/ShardedList.tsx
  src/renderer/shared/ui/Popovers/Popover/Popover.tsx
  src/renderer/shared/ui/Popovers/Tooltip/Tooltip.css
  src/renderer/shared/ui/Popovers/Tooltip/Tooltip.tsx
  src/renderer/shared/ui/Popovers/common/types.ts
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectSignatories.tsx
  src/renderer/widgets/MatrixModal/ui/MatrixInfoPopover.tsx
  src/renderer/widgets/WalletDetails/ui/components/NoProxiesAction.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: use networkUtils
  src/renderer/app/providers/context/GraphqlContext/GraphqlContext.test.tsx
  src/renderer/entities/network/lib/network-utils.ts
  src/renderer/entities/network/model/network-model.ts
  src/renderer/features/wallets/ForgetWallet/model/__tests__/forget-wallet-model.test.ts
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.test.tsx
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.tsx
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Staking/Overview/Overview.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: metadata update
  src/renderer/entities/network/lib/network-utils.ts
  src/renderer/entities/network/model/__tests__/network-model.test.ts
  src/renderer/entities/network/model/network-model.ts
  src/renderer/shared/api/metadata/index.ts
  src/renderer/shared/api/metadata/lib/types.ts
  src/renderer/shared/api/metadata/service/metadataService.ts
  src/renderer/shared/api/network/index.ts
  src/renderer/shared/api/network/provider/CachedProvider.ts
  src/renderer/shared/api/network/service/metadataService.ts
  src/renderer/shared/api/network/service/networkService.ts
  src/renderer/shared/api/storage/lib/types.ts
  src/renderer/shared/api/storage/service/dexie.ts
  src/renderer/shared/api/storage/service/metadataStorage.ts
  src/renderer/shared/api/storage/service/storageService.ts
  src/renderer/shared/core/types/metadata.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: updated tests
  src/renderer/features/wallets/KeyConstructor/model/__tests__/constructor-model.test.ts
  src/renderer/features/wallets/KeyConstructor/model/__tests__/mocks/constructor-mock.ts
  src/renderer/features/wallets/ShardSelectorModal/model/__tests__/mocks/shards-mock.ts
  src/renderer/features/wallets/ShardSelectorModal/model/__tests__/shards-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: balance fsd
  src/renderer/app/index.tsx
  src/renderer/entities/asset/ui/AssetCard/AssetCard.test.tsx
  src/renderer/entities/balance/hooks/useAssetBalances.ts
  src/renderer/entities/balance/hooks/useBalance.ts
  src/renderer/entities/balance/index.ts
  src/renderer/entities/balance/lib/balance-utils.ts
  src/renderer/entities/balance/lib/balanceService.ts
  src/renderer/entities/balance/lib/common/types.ts
  src/renderer/entities/balance/lib/constants.ts
  src/renderer/entities/balance/lib/hooks/index.ts
  src/renderer/entities/balance/lib/hooks/useAccountsBalances.ts
  src/renderer/entities/balance/lib/hooks/useNetworkBalances.ts
  src/renderer/entities/balance/lib/index.ts
  src/renderer/entities/balance/model/balance-model.ts
  src/renderer/features/balances/index.ts
  src/renderer/features/balances/subscription/index.ts
  src/renderer/features/balances/subscription/lib/constants.ts
  src/renderer/features/balances/subscription/model/balance-sub-model.ts
  src/renderer/features/balances/subscription/model/balance-sub-model_NEW.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/wallets/ForgetWallet/model/forget-wallet-model.ts
  src/renderer/shared/api/balances/index.ts
  src/renderer/shared/api/balances/service/balanceService.ts
  src/renderer/shared/api/storage/lib/types.ts
  src/renderer/shared/api/storage/service/balanceStorage.ts
  src/renderer/shared/api/storage/service/dexie.ts
  src/renderer/shared/api/storage/service/storageService.ts
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/balance.ts
  src/renderer/shared/core/types/utility.ts
  src/renderer/shared/lib/types/utilityTypes.ts
  src/renderer/widgets/WalletDetails/model/wc-details-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: [wip] proxy removal
  src/main/main.ts
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.tsx
  src/renderer/entities/transaction/lib/extrinsicService.ts
  src/renderer/entities/transaction/model/transaction.ts
  src/renderer/features/operation/sign/model/types.ts
  src/renderer/features/operation/sign/ui/Signing/Signing.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/RemoveProxy/index.ts
  src/renderer/widgets/RemoveProxy/ui/Confirmation.tsx
  src/renderer/widgets/RemoveProxy/ui/RemoveProxy.tsx
  src/renderer/widgets/RemoveProxy/ui/Submit.tsx
  src/renderer/widgets/WalletDetails/ui/components/ProxiesList.tsx
  src/renderer/widgets/WalletDetails/ui/components/ProxyAccountWithActions.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: add/remove proxies
  src/renderer/entities/proxy/model/proxy-model.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix comments
  src/renderer/entities/proxy/model/proxy-model.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: decode proxy transactions
  jest-setup.js
  package.json
  pnpm-lock.yaml
  src/renderer/entities/transaction/lib/__tests__/callDataDecoder.test.ts
  src/renderer/entities/transaction/lib/__tests__/extrinsicService.test.ts
  src/renderer/entities/transaction/lib/__tests__/metadata.ts
  src/renderer/entities/transaction/lib/__tests__/transactionIcon.test.ts
  src/renderer/entities/transaction/lib/callDataDecoder.ts
  src/renderer/entities/transaction/lib/common/constants.ts
  src/renderer/entities/transaction/lib/extrinsicService.ts
  src/renderer/entities/transaction/lib/transactionIcon.ts
  src/renderer/entities/transaction/model/transaction.ts
  src/renderer/shared/assets/images/mst/delegated-authorities.svg
  src/renderer/shared/lib/utils/constants.ts
  src/renderer/shared/ui/Icon/data/mst.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: revert pnpm lock
  pnpm-lock.yaml
Due: none

chore: update pnpm lock
  pnpm-lock.yaml
Due: none

chore: revert dictionary to groupBy
  src/renderer/entities/proxy/model/proxy-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: add/remove proxies (#1379)
  src/renderer/entities/proxy/model/proxy-model.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: proxy description
  src/renderer/widgets/WalletDetails/ui/components/NoProxiesAction.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: lint
  src/renderer/widgets/WalletDetails/ui/components/NoProxiesAction.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: proxy description (#1381)
  src/renderer/widgets/WalletDetails/ui/components/NoProxiesAction.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: add more logs for proxy-worker
  src/renderer/features/proxies/workers/proxy-worker.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: format
  src/renderer/features/proxies/workers/proxy-worker.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: toString
  src/renderer/features/proxies/workers/proxy-worker.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: add proxies to remove
  src/renderer/features/proxies/workers/proxy-worker.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: adding genesis to each network
  src/renderer/features/proxies/workers/proxy-worker.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: merge conflicts
  src/renderer/features/proxies/workers/proxy-worker.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: remove proxy submit
  src/renderer/entities/transaction/lib/extrinsicService.ts
  src/renderer/shared/assets/images/walletTypes/proxy.svg
  src/renderer/widgets/RemoveProxy/ui/RemoveProxy.tsx
  src/renderer/widgets/RemoveProxy/ui/Submit.tsx
  src/renderer/widgets/WalletDetails/ui/components/ProxiesList.tsx
  src/renderer/widgets/WalletDetails/ui/components/ProxyAccountWithActions.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: emoji
  src/renderer/features/proxies/workers/proxy-worker.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: add more logs for proxy-worker (#1377)
  src/renderer/features/proxies/workers/proxy-worker.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: added remove-proxy model and tests
  src/renderer/features/operation/sign/model/types.ts
  src/renderer/features/proxies/lib/proxies-utils.ts
  src/renderer/widgets/RemoveProxy/index.ts
  src/renderer/widgets/RemoveProxy/model/__tests__/remove-proxy-model.test.ts
  src/renderer/widgets/RemoveProxy/model/remove-proxy-model.ts
  src/renderer/widgets/RemoveProxy/ui/Confirmation.tsx
  src/renderer/widgets/RemoveProxy/ui/RemoveProxy.tsx
  src/renderer/widgets/RemoveProxy/ui/Submit.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: modal title style fix
  src/renderer/entities/chain/ui/OperationTitle/OperationTitle.tsx
  src/renderer/widgets/RemoveProxy/ui/RemoveProxy.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: uncommented logs
  src/main/main.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: localisation fix
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix: update deposit after proxy removal
  src/renderer/shared/assets/images/walletTypes/proxy.svg
  src/renderer/widgets/RemoveProxy/model/remove-proxy-model.ts
  src/renderer/widgets/RemoveProxy/ui/RemoveProxy.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: proxy creation through db
  src/renderer/entities/proxy/lib/__tests__/utils.test.ts
  src/renderer/entities/proxy/model/proxy-model.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
  src/renderer/widgets/WalletDetails/ui/components/ProxiesList.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultishardWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/ProxiedWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/VaultWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/renderer/shared/api/translation/locales/*.json
