Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/renderer/shared/api/translation/locales/*.json": ["pnpm lint:i18n-fix"]
}

chore: added accordion hover
  src/renderer/entities/wallet/ui/MultishardAccountsList/MultishardAccountsList.tsx
  src/renderer/shared/ui/Accordion/Accordion.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: moved qraphql folder
  src/renderer/entities/staking/api/__tests__/apyCalculator.test.ts
  src/renderer/entities/staking/api/__tests__/stakingDataService.test.ts
  src/renderer/entities/staking/api/__tests__/stakingRewardsService.test.ts
  src/renderer/entities/staking/api/apyCalculator.ts
  src/renderer/entities/staking/api/eraService.ts
  src/renderer/entities/staking/api/index.ts
  src/renderer/entities/staking/api/stakingDataService.ts
  src/renderer/entities/staking/api/stakingRewardsService.ts
  src/renderer/entities/staking/api/validatorsService.ts
  src/renderer/entities/staking/graphql/queries/stakingRewards.ts
  src/renderer/entities/staking/graphql/types/stakingRewards.ts
  src/renderer/entities/staking/index.ts
  src/renderer/entities/staking/lib/constants.ts
  src/renderer/entities/staking/lib/index.ts
  src/renderer/entities/staking/lib/types.ts
  src/renderer/entities/staking/lib/useValidatorsMap.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: replaced extrinsic explorer with context menu
  src/renderer/components/common/ExtrinsicExplorers/ExtrinsicExplorers.tsx
  src/renderer/components/common/ExtrinsicExplorers/useExtrinsicInfo.tsx
  src/renderer/components/common/index.ts
  src/renderer/entities/chain/ui/OperationTitle/OperationTitle.tsx
  src/renderer/entities/chain/ui/index.ts
  src/renderer/pages/Operations/components/LogModal.tsx
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
  src/renderer/pages/Settings/Networks/components/CustomRpcModal/CustomRpcModal.tsx
  src/renderer/pages/Staking/Operations/Bond/Bond.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/pages/Staking/Operations/Destination/Destination.tsx
  src/renderer/pages/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/pages/Staking/Operations/Restake/Restake.tsx
  src/renderer/pages/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/pages/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/widgets/ReceiveAssetModal/ui/ReceiveAssetModal.tsx
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: removed useless tests, updated tx tests
  src/renderer/entities/transaction/ui/Deposit/Deposit.test.tsx
  src/renderer/entities/transaction/ui/DepositWithLabel/DepositWithLabel.test.tsx
  src/renderer/entities/transaction/ui/Fee/Fee.test.tsx
  src/renderer/entities/transaction/ui/OperationResult/OperationResult.test.tsx
  src/renderer/entities/transaction/ui/XcmFee/XcmFee.test.tsx
  src/renderer/pages/Onboarding/Vault/KeyQrReader/KeyQrReader.test.tsx
  src/renderer/pages/Onboarding/Vault/KeyQrReader/KeyQrReader.tsx
  src/renderer/pages/Staking/Operations/Bond/Bond.test.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/ChangeValidators.test.tsx
  src/renderer/pages/Staking/Operations/Destination/Destination.test.tsx
  src/renderer/pages/Staking/Operations/Restake/Restake.test.tsx
  src/renderer/pages/Staking/Operations/StakeMore/StakeMore.test.tsx
  src/renderer/pages/Staking/Operations/Unstake/Unstake.test.tsx
  src/renderer/pages/Staking/Operations/components/Validators/Validators.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: revert changes
  src/renderer/shared/config/chains/chains.json
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: linter
  src/renderer/entities/transaction/ui/DepositWithLabel/DepositWithLabel.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: proxy types
  src/renderer/features/proxies/lib/utils.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
  src/renderer/shared/core/types/account.ts
  src/renderer/shared/core/types/proxy.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: update proxy service
  src/renderer/entities/proxy/model/proxy-model.ts
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
  src/renderer/shared/core/types/proxy.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix proxies utils
  src/renderer/features/proxies/lib/utils.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: pr comments fix
  src/renderer/app/providers/context/ConfirmContext/ConfirmContext.tsx
  src/renderer/features/wallets/ForgetWallet/index.ts
  src/renderer/features/wallets/ForgetWallet/model/__tests__/forget-wallet-model.test.ts
  src/renderer/features/wallets/ForgetWallet/model/forget-wallet-model.ts
  src/renderer/features/wallets/ForgetWallet/ui/ForgetWalletModal.tsx
  src/renderer/widgets/WalletDetails/lib/utils.ts
  src/renderer/widgets/WalletDetails/ui/MultishardWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/VaultWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix types
  src/renderer/entities/proxy/model/__tests__/proxy-model.test.ts
  src/renderer/entities/proxy/model/proxy-model.ts
  src/renderer/features/proxies/lib/utils.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
  src/renderer/shared/core/types/proxy.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: refactoring
  src/renderer/entities/network/lib/common/utils.ts
  src/renderer/entities/network/model/network-model.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Settings/Networks/components/NetworkList/NetworkList.tsx
  src/renderer/pages/Staking/Overview/Overview.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix lint
  src/renderer/features/proxies/model/proxies-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix proxied checking
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: added test to check wallets deleted
  src/renderer/features/wallets/ForgetWallet/model/__tests__/forget-wallet-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix comments
  src/renderer/entities/proxy/lib/utils.ts
  src/renderer/entities/proxy/model/proxy-model.ts
  src/renderer/features/proxies/lib/utils.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: missed data from matrix event
  src/renderer/app/providers/context/MatrixContext/MatrixContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Contact item update (#1308)
  src/renderer/entities/wallet/ui/ContactItem/ContactItem.tsx
  src/renderer/entities/wallet/ui/MultishardAccountsList/MultishardAccountsList.tsx
  src/renderer/entities/wallet/ui/VaultAccountsList/VaultAccountsList.tsx
  src/renderer/pages/Onboarding/Vault/ManageVault/ManageVault.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/ConfirmSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/SelectSignatories.tsx
  src/renderer/widgets/WalletDetails/ui/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/ShardsList.tsx
  src/renderer/widgets/WalletDetails/ui/VaultWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Contact item update
  src/renderer/entities/wallet/ui/ContactItem/ContactItem.tsx
  src/renderer/entities/wallet/ui/MultishardAccountsList/MultishardAccountsList.tsx
  src/renderer/entities/wallet/ui/VaultAccountsList/VaultAccountsList.tsx
  src/renderer/pages/Onboarding/Vault/ManageVault/ManageVault.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/ConfirmSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/SelectSignatories.tsx
  src/renderer/widgets/WalletDetails/ui/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/ShardsList.tsx
  src/renderer/widgets/WalletDetails/ui/VaultWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: pr review
  src/renderer/entities/transaction/ui/Deposit/Deposit.test.tsx
  src/renderer/entities/transaction/ui/QrCode/QrReader/SignatureReaderError.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: missed data from matrix event (#1334)
  src/renderer/app/providers/context/MatrixContext/MatrixContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr comments fix
  src/renderer/features/wallets/ForgetWallet/model/forget-wallet-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Feat: forget wallet (#1312)
  src/renderer/app/providers/context/ConfirmContext/ConfirmContext.tsx
  src/renderer/entities/balance/lib/balanceService.ts
  src/renderer/entities/balance/lib/common/types.ts
  src/renderer/entities/multisig/lib/index.ts
  src/renderer/entities/multisig/lib/multisigTx/useForgetMultisig.ts
  src/renderer/features/wallets/ForgetWallet/index.ts
  src/renderer/features/wallets/ForgetWallet/model/__tests__/forget-wallet-model.test.ts
  src/renderer/features/wallets/ForgetWallet/model/forget-wallet-model.ts
  src/renderer/features/wallets/ForgetWallet/ui/ForgetWalletModal.tsx
  src/renderer/shared/api/storage/common/types.ts
  src/renderer/shared/api/storage/service/balanceStorage.ts
  src/renderer/shared/api/storage/service/transactionStorage.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/ui/Modals/BaseModal/BaseModal.tsx
  src/renderer/shared/ui/Modals/ConfirmModal/ConfirmModal.tsx
  src/renderer/widgets/WalletDetails/ui/MultishardWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/VaultWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: forget wallet
  src/renderer/app/providers/context/ConfirmContext/ConfirmContext.tsx
  src/renderer/entities/balance/lib/balanceService.ts
  src/renderer/entities/balance/lib/common/types.ts
  src/renderer/entities/multisig/lib/index.ts
  src/renderer/entities/multisig/lib/multisigTx/useForgetMultisig.ts
  src/renderer/features/wallets/ForgetWallet/index.ts
  src/renderer/features/wallets/ForgetWallet/model/__tests__/forget-wallet-model.test.ts
  src/renderer/features/wallets/ForgetWallet/model/forget-wallet-model.ts
  src/renderer/features/wallets/ForgetWallet/ui/ForgetWalletModal.tsx
  src/renderer/shared/api/storage/common/types.ts
  src/renderer/shared/api/storage/service/balanceStorage.ts
  src/renderer/shared/api/storage/service/transactionStorage.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/ui/Modals/BaseModal/BaseModal.tsx
  src/renderer/shared/ui/Modals/ConfirmModal/ConfirmModal.tsx
  src/renderer/widgets/WalletDetails/ui/MultishardWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/VaultWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: pr comments fix
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr comments fix
  src/renderer/pages/Staking/Operations/common/utils.tsx
  src/renderer/pages/Staking/Operations/components/OperationForm/OperationForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: UI componnet for proxy account
  .storybook/preview.js
  src/renderer/entities/proxy/index.ts
  src/renderer/entities/proxy/lib/constants.ts
  src/renderer/entities/proxy/lib/types.ts
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.stories.tsx
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.test.tsx
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: UI componnet for proxy account (#1320)
  .storybook/preview.js
  src/renderer/entities/proxy/index.ts
  src/renderer/entities/proxy/lib/constants.ts
  src/renderer/entities/proxy/lib/types.ts
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.stories.tsx
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.test.tsx
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Fix: Remove PV root account from staking rewards destination options (#1318)
  src/renderer/pages/Staking/Operations/common/utils.tsx
  src/renderer/pages/Staking/Operations/components/OperationForm/OperationForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Remove PV root account from staking rewards destination options
  src/renderer/pages/Staking/Operations/common/utils.tsx
  src/renderer/pages/Staking/Operations/components/OperationForm/OperationForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: updated accordion styles
  src/renderer/entities/wallet/ui/MultishardAccountsList/MultishardAccountsList.tsx
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Settings/Networks/components/NetworkList/NetworkList.tsx
  src/renderer/shared/assets/images/arrows/down.svg
  src/renderer/shared/assets/images/arrows/up.svg
  src/renderer/shared/ui/Accordion/Accordion.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: fixed active wallet select after forgetting last wallet
  src/renderer/entities/wallet/model/wallet-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: removed log
  src/renderer/entities/wallet/model/wallet-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: active wallet select after forgetting last wallet (#1337)
  src/renderer/entities/wallet/model/wallet-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: active wallet select after forgetting last wallet
  src/renderer/entities/wallet/model/wallet-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: block explorer
  src/renderer/entities/wallet/ui/MultishardAccountsList/MultishardAccountsList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: delete balances on forget for wallet connect wallet
  src/renderer/features/wallets/ForgetWallet/model/forget-wallet-model.ts
  src/renderer/widgets/WalletDetails/model/wc-details-model.ts
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx
