Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/renderer/shared/api/translation/locales/*.json": ["pnpm lint:i18n-fix"]
}

chore: merge dev
  src/renderer/pages/Settings/Networks/components/index.ts
  src/renderer/pages/Settings/Networks/index.ts
  src/renderer/pages/Settings/Networks/ui/NetworkSelector.test.tsx
  src/renderer/pages/Settings/Networks/ui/NetworkSelector.tsx
  src/renderer/pages/Settings/Networks/ui/Networks.test.tsx
  src/renderer/pages/Settings/Networks/ui/Networks.tsx
  src/renderer/pages/Settings/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: check proxy variant on add (#1548)
  package.json
  pnpm-lock.yaml
  src/renderer/app/providers/context/GraphqlContext/GraphqlContext.tsx
  src/renderer/entities/network/lib/network-utils.ts
  src/renderer/entities/proxy/api/graphql/queries/pureProxies.ts
  src/renderer/entities/proxy/api/pureProxiesService.ts
  src/renderer/entities/proxy/index.ts
  src/renderer/entities/proxy/lib/__tests__/proxy-utils.test.ts
  src/renderer/entities/proxy/lib/proxy-utils.ts
  src/renderer/features/proxies/lib/__tests__/proxies-utils.test.ts
  src/renderer/features/proxies/lib/proxies-utils.ts
  src/renderer/features/proxies/model/__tests__/proxies-model.test.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/shared/api/network/lib/utils.ts
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/chain.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: check proxy variant on add
  package.json
  pnpm-lock.yaml
  src/renderer/app/providers/context/GraphqlContext/GraphqlContext.tsx
  src/renderer/entities/network/lib/network-utils.ts
  src/renderer/entities/proxy/api/graphql/queries/pureProxies.ts
  src/renderer/entities/proxy/api/pureProxiesService.ts
  src/renderer/entities/proxy/index.ts
  src/renderer/entities/proxy/lib/__tests__/proxy-utils.test.ts
  src/renderer/entities/proxy/lib/proxy-utils.ts
  src/renderer/features/proxies/lib/__tests__/proxies-utils.test.ts
  src/renderer/features/proxies/lib/proxies-utils.ts
  src/renderer/features/proxies/model/__tests__/proxies-model.test.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/shared/api/network/lib/utils.ts
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/chain.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: electron update
  package.json
  pnpm-lock.yaml
  webpack/webpack.shared.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: electron update (#1556)
  package.json
  pnpm-lock.yaml
  webpack/webpack.shared.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: transfer base files
  src/renderer/entities/transaction/lib/extrinsicService.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/widgets/Transfer/index.ts
  src/renderer/widgets/Transfer/lib/submit-trasnfer-utils.ts
  src/renderer/widgets/Transfer/lib/transfer-utils.ts
  src/renderer/widgets/Transfer/lib/types.ts
  src/renderer/widgets/Transfer/model/confirm-model.ts
  src/renderer/widgets/Transfer/model/form-model.ts
  src/renderer/widgets/Transfer/model/sign-model.ts
  src/renderer/widgets/Transfer/model/submit-model.ts
  src/renderer/widgets/Transfer/model/transfer-model.ts
  src/renderer/widgets/Transfer/ui/Confirmation.tsx
  src/renderer/widgets/Transfer/ui/SignTransfer.tsx
  src/renderer/widgets/Transfer/ui/SubmitTransfer.tsx
  src/renderer/widgets/Transfer/ui/TransferAssets.tsx
  src/renderer/widgets/Transfer/ui/TransferForm.tsx
  webpack/webpack.renderer.dev.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: comments after evm tests
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/VaultWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: identicon for evm chains
  src/renderer/entities/wallet/ui/AccountAddress/AccountAddress.tsx
  src/renderer/entities/wallet/ui/Cards/DerivedAccount.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/SelectableShard.tsx
  src/renderer/pages/Onboarding/WatchOnly/WatchOnly.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: hide unsupported chains from balances
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: hide unsupported contacts from multisig creation
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectAccountSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: check evm account id on xcm transfer
  src/renderer/shared/api/xcm/xcmService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix comments
  src/renderer/shared/api/xcm/xcmService.ts
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectAccountSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comment
  src/renderer/shared/api/xcm/xcmService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: comments after evm tests
  src/renderer/entities/wallet/ui/AccountAddress/AccountAddress.tsx
  src/renderer/entities/wallet/ui/Cards/DerivedAccount.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/SelectableShard.tsx
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.tsx
  src/renderer/pages/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/shared/api/xcm/xcmService.ts
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectAccountSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectSignatories.tsx
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/VaultWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: comments after evm tests (#1557)
  src/renderer/entities/wallet/ui/AccountAddress/AccountAddress.tsx
  src/renderer/entities/wallet/ui/Cards/DerivedAccount.tsx
  src/renderer/features/wallets/ShardSelectorModal/ui/SelectableShard.tsx
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.tsx
  src/renderer/pages/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/shared/api/xcm/xcmService.ts
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectAccountSignatories.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectSignatories.tsx
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/VaultWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: base transfer form
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/entities/xcm/index.ts
  src/renderer/entities/xcm/model/xcm-model.ts
  src/renderer/widgets/Transfer/lib/types.ts
  src/renderer/widgets/Transfer/model/form-model.ts
  src/renderer/widgets/Transfer/model/transfer-model.ts
  src/renderer/widgets/Transfer/ui/TransferAssets.tsx
  src/renderer/widgets/Transfer/ui/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: wip adding a node works
  src/renderer/features/customRpc/CustomRpcCreationForm/index.ts
  src/renderer/features/customRpc/CustomRpcCreationForm/lib/types.ts
  src/renderer/features/customRpc/CustomRpcCreationForm/model/custom-rpc-creation-model.ts
  src/renderer/features/customRpc/index.ts
  src/renderer/features/network/CustomRpcCreationForm/index.ts
  src/renderer/features/network/CustomRpcCreationForm/lib/types.ts
  src/renderer/features/network/CustomRpcCreationForm/model/custom-rpc-creation-model.ts
  src/renderer/features/network/index.ts
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Settings/Networks/components/CustomRpcModal/CustomRpcModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: rename
  src/renderer/features/network/CustomRpcCreationForm/model/custom-rpc-creation-model.ts
  src/renderer/features/network/index.ts
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Settings/Networks/components/CustomRpcModal/AddCustomRpcModal.tsx
  src/renderer/pages/Settings/Networks/components/CustomRpcModal/CustomRpcModal.test.tsx
  src/renderer/pages/Settings/Networks/components/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr review
  src/renderer/entities/wallet/lib/__tests__/account-utils.test.ts
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/widgets/AddProxyModal/index.ts
  src/renderer/widgets/AddProxyModal/lib/add-proxy-utils.ts
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddProxyModal/model/form-model.ts
  src/renderer/widgets/AddProxyModal/model/submit-model.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxy.tsx
  src/renderer/widgets/AddProxyModal/ui/AddProxyForm.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultishardWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/VaultWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: check crypto
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/widgets/AddProxyModal/model/form-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: rename method
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.tsx
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-model.ts
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: login tests
  src/renderer/features/matrix/MatrixLogin/ui/LoginForm.test.tsx
  src/renderer/features/matrix/MatrixLogin/ui/LoginForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: add ui and start tests
  src/renderer/features/network/CustomRpcCreationForm/index.ts
  src/renderer/features/network/CustomRpcCreationForm/model/__test__/custom-rpx-creation-model.test.ts
  src/renderer/features/network/CustomRpcCreationForm/ui/AddCustomRpcModal.test.tsx
  src/renderer/features/network/CustomRpcCreationForm/ui/AddCustomRpcModal.tsx
  src/renderer/features/network/index.ts
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Settings/Networks/components/CustomRpcModal/AddCustomRpcModal.tsx
  src/renderer/pages/Settings/Networks/components/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: remove regular proxy
  src/renderer/shared/config/chains/chains.json
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: signatories
  src/renderer/app/index.tsx
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/pages/Assets/Assets/components/AssetCard/AssetCard.tsx
  src/renderer/pages/Assets/SendAsset/SendAsset.tsx
  src/renderer/pages/index.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/config/chains/chains_dev.json
  src/renderer/shared/routes/paths.ts
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-model.ts
  src/renderer/widgets/Transfer/index.ts
  src/renderer/widgets/Transfer/model/form-model.ts
  src/renderer/widgets/Transfer/model/transfer-model.ts
  src/renderer/widgets/Transfer/ui/Transfer.tsx
  src/renderer/widgets/Transfer/ui/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fix lost imports
  src/renderer/entities/wallet/ui/AccountAddress/AccountAddress.tsx
  src/renderer/features/network/NetworkList/ui/NetworkList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: rename
  src/renderer/features/network/AddCustomRpcForm/index.ts
  src/renderer/features/network/AddCustomRpcForm/lib/types.ts
  src/renderer/features/network/AddCustomRpcForm/model/__test__/custom-rpx-creation-model.test.ts
  src/renderer/features/network/AddCustomRpcForm/model/add-custom-rpc-model.ts
  src/renderer/features/network/AddCustomRpcForm/ui/AddCustomRpcModal.test.tsx
  src/renderer/features/network/AddCustomRpcForm/ui/AddCustomRpcModal.tsx
  src/renderer/features/network/CustomRpcCreationForm/index.ts
  src/renderer/features/network/index.ts
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Settings/Networks/components/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: update ci branch management
  .github/workflows/create_new_tag.yml
  .github/workflows/make-pull-request/action.yaml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: tests
  src/renderer/features/network/AddCustomRpcForm/model/__test__/add-custom-rpc-model.test.ts
  src/renderer/features/network/AddCustomRpcForm/model/__test__/custom-rpx-creation-model.test.ts
  src/renderer/features/network/AddCustomRpcForm/model/add-custom-rpc-model.ts
  src/renderer/features/network/AddCustomRpcForm/ui/AddCustomRpcModal.test.tsx
  src/renderer/features/network/AddCustomRpcForm/ui/AddCustomRpcModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: transfer-model
  src/renderer/pages/Assets/SendAsset/SendAsset.tsx
  src/renderer/widgets/Transfer/model/form-model.ts
  src/renderer/widgets/Transfer/ui/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: add editCustomModal shell
  src/renderer/features/network/AddCustomRpcForm/ui/AddCustomRpcModal.test.tsx
  src/renderer/features/network/EditCustomRpcForm/index.ts
  src/renderer/features/network/EditCustomRpcForm/lib/types.ts
  src/renderer/features/network/EditCustomRpcForm/model/__test__/edit-custom-rpc-model.test.ts
  src/renderer/features/network/EditCustomRpcForm/model/edit-custom-rpc-model.ts
  src/renderer/features/network/EditCustomRpcForm/ui/EditCustomRpcModal.test.tsx
  src/renderer/features/network/EditCustomRpcForm/ui/EditCustomRpcModal.tsx
  src/renderer/features/network/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: add web image
  .github/workflows/build_image_with_web_version.yml
  docker/web/Dockerfile
  docker/web/nginx.conf
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: adding login
  .github/workflows/build_image_with_web_version.yml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: multisig invite
  src/renderer/app/providers/context/MatrixContext/MatrixContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: correct accounts list for dynamic derivations
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/VaultWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: balance subscription for multisig
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/features/balances/subscription/lib/balance-sub-utils.ts
  src/renderer/features/balances/subscription/model/balance-sub-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: only one wallet can be selected
  src/renderer/entities/wallet/model/wallet-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged
