Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: merge dev, update account types
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/shared/core/types/account.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: types export
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/shared/core/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fixed part of the pr comments
  src/renderer/entities/wallet/lib/import-keys-utils.ts
  src/renderer/entities/wallet/model/import-keys-model.ts
  src/renderer/features/wallets/ImportKeysModal/ImportKeysModal.tsx
  src/renderer/shared/core/types/account.ts
  src/renderer/shared/ui/InfoLink/InfoLink.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: add close on click fix: design
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/ManageDynamicDerivations.tsx
  src/renderer/shared/ui/Popovers/MenuPopover/MenuPopover.tsx
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: add confirmation on wallet connect reconnect
  src/renderer/widgets/WalletDetails/lib/constants.ts
  src/renderer/widgets/WalletDetails/lib/utils.ts
  src/renderer/widgets/WalletDetails/model/wc-details-model.ts
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: changed check for web version
  package.json
  src/main/index.ts
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.tsx
  src/shared/bridge.ts
  src/shared/lib/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: updated types
  src/shared/bridge.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: removed typo and moved template file to new folder
  src/renderer/features/wallets/ImportKeysModal/ImportKeysModal.tsx
  src/renderer/shared/assets/files/dd-template.yaml
  src/renderer/shared/ui/Icon/data/functionals.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: moved all import keys related code to featueres
  pnpm-lock.yaml
  src/renderer/entities/wallet/index.ts
  src/renderer/features/wallets/ImportKeys/index.ts
  src/renderer/features/wallets/ImportKeys/lib/__tests__/import-keys-utils.test.ts
  src/renderer/features/wallets/ImportKeys/lib/derivation-import-error.ts
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/lib/mocks/import-keys-utils.mock.ts
  src/renderer/features/wallets/ImportKeys/lib/types.ts
  src/renderer/features/wallets/ImportKeys/model/import-keys-model.ts
  src/renderer/features/wallets/ImportKeys/ui/ImportKeysModal.tsx
  src/renderer/features/wallets/ImportKeys/ui/mocks/mock-data.ts
  src/renderer/features/wallets/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr comments fix
  src/renderer/features/wallets/ImportKeys/model/import-keys-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fixed types
  src/renderer/features/wallets/ImportKeys/lib/derivation-import-error.ts
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/lib/types.ts
  src/renderer/features/wallets/ImportKeys/model/import-keys-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: updated tests for derivations import validation
  src/renderer/features/wallets/ImportKeys/lib/__tests__/import-keys-utils.test.ts
  src/renderer/features/wallets/ImportKeys/lib/mocks/import-keys-utils.mock.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: test name fix
  src/renderer/features/wallets/ImportKeys/lib/__tests__/import-keys-utils.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix texts
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

chore: pr comments fix
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/components/common/QrCode/common/types.ts
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/entities/wallet/lib/types.ts
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/wallets/DerivationsAddressModal/DerivationsAddressModal.tsx
  src/renderer/features/wallets/DerivationsAddressModal/lib/utils.ts
  src/renderer/pages/Assets/AssetsList/AssetsList.tsx
  src/renderer/pages/Onboarding/Vault/DdKeyQrReader/DdKeyQrReader.tsx
  src/renderer/pages/Onboarding/Vault/KeyQrReader/KeyQrReader.tsx
  src/renderer/shared/core/types/account.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: more pr comments fix
  src/renderer/components/common/QrCode/QrGenerator/QrDerivationsGenerator.tsx
  src/renderer/components/common/QrCode/QrGenerator/common/utils.ts
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/wallets/DerivationsAddressModal/DerivationsAddressModal.tsx
  src/renderer/features/wallets/DerivationsAddressModal/lib/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: moved DDkeyQrReader and improved add vault effect
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/wallets/DerivationsAddressModal/ui/DdKeyQrReader/DdKeyQrReader.tsx
  src/renderer/features/wallets/DerivationsAddressModal/ui/DerivationsAddressModal.tsx
  src/renderer/features/wallets/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: remove unused type
  src/renderer/entities/network/lib/common/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: revert commented code
  src/renderer/app/providers/context/NetworkContext/NetworkContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: pairing with new Polkadot Vault (#1220)
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/components/common/QrCode/common/constants.ts
  src/renderer/components/common/QrCode/common/types.ts
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/ManageDynamicDerivations.tsx
  src/renderer/pages/Onboarding/Vault/Vault.tsx
  src/renderer/shared/assets/video/onboarding_tutorial.mp4
  src/renderer/shared/assets/video/onboarding_tutorial.webm
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: removed ShardedAccount type and added groupAccount func to account utils
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/account.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

draft
  .prettierrc
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/pages/Staking/Overview/Overview.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/NominatorItem/NominatorItem.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/NominatorsList.tsx
  src/renderer/shared/core/types/account.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: list and form
  src/renderer/app/index.tsx
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/features/wallets/KeyConstructor/lib/utils.ts
  src/renderer/features/wallets/KeyConstructor/model/constructor-model.ts
  src/renderer/features/wallets/KeyConstructor/ui/KeyConstructor.tsx
  src/renderer/features/wallets/KeyConstructor/ui/KeyForm.tsx
  src/renderer/features/wallets/KeyConstructor/ui/KeysList.tsx
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/account.ts
  src/renderer/shared/ui/Buttons/IconButton/IconButton.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: keyType to shard account and test for groupping func
  src/renderer/entities/wallet/lib/__tests__/account-utils.test.ts
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/shared/core/types/account.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: add subscriptions storage in universal provider
  src/renderer/entities/network/lib/common/types.ts
  src/renderer/entities/network/lib/provider/UniversalProvider.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: renamed grouping function
  src/renderer/entities/wallet/lib/__tests__/account-utils.test.ts
  src/renderer/entities/wallet/lib/account-utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: Removed ShardedAccount (#1247)
  src/renderer/entities/wallet/lib/__tests__/account-utils.test.ts
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/account.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix comments
  src/renderer/entities/wallet/ui/DerivedAccount/DerivedAccount.tsx
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/model/manage-dynamic-derivations-model.ts
  src/renderer/shared/core/types/account.ts
  src/renderer/shared/lib/hooks/index.ts
  src/renderer/shared/lib/hooks/useKeyPressed.ts
  src/renderer/shared/ui/Icon/data/keyType.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: rollback optional baseid
  src/renderer/shared/core/types/account.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: changed file loading and added txt file to props accept
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/model/import-keys-model.ts
  src/renderer/features/wallets/ImportKeys/ui/ImportKeysModal.tsx
  src/renderer/features/wallets/ImportKeys/ui/mocks/mock-data.ts
  src/renderer/pages/Assets/AssetsList/AssetsList.tsx
  src/renderer/shared/ui/Inputs/InputFile/InputFile.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: removed mock data
  src/renderer/features/wallets/ImportKeys/ui/ImportKeysModal.tsx
  src/renderer/pages/Assets/AssetsList/AssetsList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: updated tests
  src/renderer/entities/signatory/ui/SignatoryCard/SignatoryCard.test.tsx
  src/renderer/shared/ui/Alert/Alert.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: add subscription id store
  src/renderer/entities/network/lib/provider/UniversalProvider.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix comments
  src/renderer/entities/network/lib/chainsService.ts
  src/renderer/entities/network/lib/common/types.ts
  src/renderer/entities/network/lib/common/utils.ts
  src/renderer/entities/network/lib/networkService.ts
  src/renderer/entities/network/model/network-model.ts
  src/renderer/features/navigation/ui/Navigation.tsx
  src/renderer/pages/Assets/AssetsList/common/types.ts
  src/renderer/pages/Assets/AssetsList/common/utils.ts
  src/renderer/pages/Assets/AssetsList/components/SelectShardModal/SelectShardModal.tsx
  src/renderer/pages/Onboarding/Vault/ManageMultishard/ManageMultishard.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix sample order
  src/renderer/entities/network/model/network-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: validations & ui
  src/renderer/entities/network/lib/chainsService.ts
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/features/wallets/KeyConstructor/model/constructor-model.ts
  src/renderer/features/wallets/KeyConstructor/ui/KeyForm.tsx
  src/renderer/features/wallets/KeyConstructor/ui/KeysList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: add a key
  src/renderer/features/wallets/KeyConstructor/model/constructor-model.ts
  src/renderer/features/wallets/KeyConstructor/ui/KeyForm.tsx
  src/renderer/shared/ui/Dropdowns/Select/Select.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/shared/locale/*.json
