Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

fix: bond amount (#453)
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: staking validation
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/services/balance/common/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: turn off address book for release (#447)
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: nominate targets (#455)
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Redeem values
  src/renderer/components/ui/Address/Address.tsx
  src/renderer/components/ui/Table/TableParts.tsx
  src/renderer/domain/transaction.ts
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/components/AccountsModal/AccountsModal.test.tsx
  src/renderer/screens/Staking/Operations/components/AccountsModal/AccountsModal.tsx
  src/renderer/screens/Staking/Operations/components/TransactionInfo/TransactionInfo.tsx
  src/renderer/services/balance/common/utils.ts
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: new staking actions
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/domain/transaction.ts
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Staking/Operations/Redeem/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/Redeem/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Redeem/Submit/Submit.tsx
  src/renderer/screens/Staking/Operations/Restake/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/Restake/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/Restake/Submit/Submit.tsx
  src/renderer/screens/Staking/Operations/StakeMore/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/StakeMore/Submit/Submit.tsx
  src/renderer/screens/Staking/Operations/Unstake/Submit/Submit.tsx
  src/renderer/screens/Staking/index.ts
  src/renderer/services/balance/common/utils.ts
  src/renderer/services/transaction/transactionService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Staking actions
  src/renderer/assets/images/staking/change-validators.svg
  src/renderer/assets/images/staking/redeem.svg
  src/renderer/assets/images/staking/return-to-stake.svg
  src/renderer/assets/images/staking/reward-destination.svg
  src/renderer/assets/images/staking/set-validators.svg
  src/renderer/assets/images/staking/stake-more.svg
  src/renderer/assets/images/staking/start-staking.svg
  src/renderer/assets/images/staking/stop-staking.svg
  src/renderer/assets/images/staking/unstake.svg
  src/renderer/components/common/StakingActions/StakingActions.test.tsx
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/components/common/index.ts
  src/renderer/components/layout/Onboarding/Onboarding.test.tsx
  src/renderer/components/ui/Dropdowns/Select/Select.test.tsx
  src/renderer/components/ui/Dropdowns/Select/Select.tsx
  src/renderer/components/ui/Icon/data/index.ts
  src/renderer/components/ui/Icon/data/staking.tsx
  src/renderer/components/ui/RadioGroup/RadioGroup.css
  src/renderer/components/ui/RadioGroup/RadioGroup.tsx
  src/renderer/routes/paths.ts
  src/renderer/routes/utils.test.ts
  src/renderer/routes/utils.ts
  src/renderer/screens/Balances/AssetBalance/AssetBalance.tsx
  src/renderer/screens/Staking/Bond/Bond.tsx
  src/renderer/screens/Staking/Bond/InitBond/InitBond.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: unstake
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/components/ui/Dropdowns/Combobox/Combobox.tsx
  src/renderer/domain/transaction.ts
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Staking/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/UnstakingDuration/UnstakingDuration.tsx
  src/renderer/screens/Staking/Overview/components/index.ts
  src/renderer/screens/Staking/Scanning/Scanning.tsx
  src/renderer/screens/Staking/Signing/Signing.tsx
  src/renderer/screens/Staking/Unbond/Unbond.test.tsx
  src/renderer/screens/Staking/Unbond/Unbond.tsx
  src/renderer/screens/Staking/Unstake/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Unstake/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Unstake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Unstake/Unstake.tsx
  src/renderer/screens/Staking/components/AccountsModal/AccountsModal.test.tsx
  src/renderer/screens/Staking/components/AccountsModal/AccountsModal.tsx
  src/renderer/screens/Staking/components/TransactionInfo/TransactionInfo.test.tsx
  src/renderer/screens/Staking/components/TransactionInfo/TransactionInfo.tsx
  src/renderer/screens/Staking/components/ValidatorsModal/ValidatorsModal.test.tsx
  src/renderer/screens/Staking/components/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/screens/Staking/index.ts
  src/renderer/services/balance/common/utils.ts
  src/renderer/services/transaction/transactionService.ts
  src/renderer/shared/utils/strings.ts
  src/renderer/shared/utils/time.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Table component | Staking sorting
  src/renderer/components/ui/Table/Table.stories.tsx
  src/renderer/components/ui/Table/Table.tsx
  src/renderer/components/ui/Table/TableContext.tsx
  src/renderer/components/ui/Table/TableParts.tsx
  src/renderer/components/ui/Table/common/types.ts
  src/renderer/components/ui/Table/common/utils.ts
  src/renderer/components/ui/index.ts
  src/renderer/index.css
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/AboutStaking/AboutStaking.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.tsx
  src/renderer/screens/Staking/Overview/components/StakingTable/StakingTable.test.tsx
  src/renderer/screens/Staking/Overview/components/StakingTable/StakingTable.tsx
  src/renderer/screens/Staking/Overview/components/index.ts
  src/renderer/screens/Transfer/Transfer.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Hide duplicated derivations
  src/renderer/screens/Staking/Overview/Overview.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: about staking info
  src/renderer/components/common/Expandable/Expandable.tsx
  src/renderer/domain/validator.ts
  src/renderer/screens/Staking/Bond/Validators/Validators.test.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/AboutStaking/AboutStaking.test.tsx
  src/renderer/screens/Staking/Overview/components/AboutStaking/AboutStaking.tsx
  src/renderer/services/staking/apyCalculator.ts
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/eraService.ts
  src/renderer/services/staking/stakingDataService.ts
  src/renderer/services/staking/validatorsService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Release candidate v0.2.0 to DEV
  package.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Feat: Show validators
  src/renderer/assets/images/aesthetics/clock.svg
  src/renderer/components/common/Expandable/Expandable.test.tsx
  src/renderer/components/common/Expandable/Expandable.tsx
  src/renderer/components/ui/Balance/Balance.tsx
  src/renderer/components/ui/Icon/data/aesthetics.tsx
  src/renderer/domain/validator.ts
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/AboutStaking/AboutStaking.test.tsx
  src/renderer/screens/Staking/Overview/components/AboutStaking/AboutStaking.tsx
  src/renderer/screens/Staking/Overview/components/Filter/Filter.test.tsx
  src/renderer/screens/Staking/Overview/components/InfoBanners/InfoBanners.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsModal/NominatorsModal.test.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsModal/NominatorsModal.tsx
  src/renderer/services/staking/apyCalculator.ts
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/validatorsService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: use auto balance for connection ootb by default (#197)
  src/renderer/services/network/networkService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: update lib versions (#202)
  package.json
  pnpm-lock.yaml
  src/renderer/services/balance/balanceService.ts
  src/renderer/services/dataVerification/dataVerification.ts
  src/renderer/services/network/networkService.ts
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: bond amount
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: warning message
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/screens/Staking/Bond/InitBond/InitBond.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: not select wallet on copy address
  src/renderer/components/common/Expandable/Expandable.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/hooks/useClickOutside.ts
  src/renderer/screens/Transfer/Transfer.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Reward destination (#434)
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/domain/transaction.ts
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Staking/Operations/Bond/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/Destination/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/Destination/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.test.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/Submit/Submit.tsx
  src/renderer/screens/Staking/Operations/Restake/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/components/AccountsModal/AccountsModal.test.tsx
  src/renderer/screens/Staking/Operations/components/AccountsModal/AccountsModal.tsx
  src/renderer/screens/Staking/Operations/components/TransactionInfo/TransactionInfo.test.tsx
  src/renderer/screens/Staking/Operations/components/TransactionInfo/TransactionInfo.tsx
  src/renderer/screens/Staking/Operations/components/Validators/Validators.test.tsx
  src/renderer/screens/Staking/Operations/components/ValidatorsModal/ValidatorsModal.test.tsx
  src/renderer/screens/Staking/index.ts
  src/renderer/services/balance/common/utils.ts
  src/renderer/services/transaction/transactionService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Get oversubscribed info for validators (#166)
  src/renderer/screens/Staking/Bond/Validators/Validators.test.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/services/staking/__tests__/stakingDataService.test.ts
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/stakingDataService.ts
  src/renderer/services/staking/validatorsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: unbonding badge
  src/renderer/components/ui/Duration/Duration.tsx
  src/renderer/domain/stake.ts
  src/renderer/screens/Staking/Bond/InitBond/InitBond.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/StakingTable/StakingTable.tsx
  src/renderer/screens/Staking/Overview/components/TimeToEra/TimeToEra.tsx
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/eraService.ts
  src/renderer/shared/utils/time.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
  tailwind.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: multiframe QR delay fix
  src/renderer/components/common/QrCode/QrGenerator/common/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: staking amount validation
  src/renderer/components/ui/Inputs/AmountInput/AmountInput.tsx
  src/renderer/screens/Staking/Bond/InitBond/InitBond.tsx
  src/renderer/screens/Staking/Overview/components/StakingTable/StakingTable.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Slashed validators (#168)
  src/renderer/domain/identity.ts
  src/renderer/domain/shared-kernel.ts
  src/renderer/domain/stake.ts
  src/renderer/domain/validator.ts
  src/renderer/screens/Staking/Bond/Bond.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/stakingDataService.ts
  src/renderer/services/staking/validatorsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: staking validation (#442)
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/services/balance/common/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: fee validation
  src/renderer/screens/Staking/Bond/InitBond/InitBond.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Validators page (#191)
  src/renderer/components/common/QrCode/QrGenerator/common/utils.ts
  src/renderer/components/layout/PrimaryLayout/PrimaryLayout.tsx
  src/renderer/components/ui/Shimmering/Shimmering.css
  src/renderer/components/ui/Shimmering/Shimmering.tsx
  src/renderer/components/ui/Table/TableParts.tsx
  src/renderer/components/ui/Table/common/constants.ts
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Settings/Credentials/Credentials.tsx
  src/renderer/screens/Settings/Networks/Networks/Networks.tsx
  src/renderer/screens/Settings/Overview/Overview.tsx
  src/renderer/screens/Signing/SigningDev.tsx
  src/renderer/screens/Staking/Bond/Bond.test.tsx
  src/renderer/screens/Staking/Bond/Bond.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.test.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/StakingTable/StakingTable.tsx
  src/renderer/screens/Staking/Unbond/Unbond.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/utils/strings.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Fix: Staking sort
  src/renderer/components/common/ValidatorsTable/ValidatorsTable.tsx
  src/renderer/components/ui/Table/Table.tsx
  src/renderer/components/ui/Table/TableContext.tsx
  src/renderer/components/ui/Table/TableParts.tsx
  src/renderer/components/ui/Table/common/types.ts
  src/renderer/components/ui/Table/common/utils.ts
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/components/StakingTable/StakingTable.tsx
  src/renderer/shared/utils/bignumber.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: rename reward destination
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix: pnpm lock file
  pnpm-lock.yaml
Due: none

fix: fee validation (#201)
  src/renderer/screens/Staking/Bond/InitBond/InitBond.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: show no results for bond only account
  src/renderer/screens/Staking/Overview/components/NominatorsModal/NominatorsModal.test.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsModal/NominatorsModal.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Fix: Staking sort (#198)
  src/renderer/components/common/ValidatorsTable/ValidatorsTable.tsx
  src/renderer/components/ui/Table/Table.tsx
  src/renderer/components/ui/Table/TableContext.tsx
  src/renderer/components/ui/Table/TableParts.tsx
  src/renderer/components/ui/Table/common/types.ts
  src/renderer/components/ui/Table/common/utils.ts
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/components/StakingTable/StakingTable.tsx
  src/renderer/shared/utils/bignumber.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Table component | Staking sorting (#187)
  src/renderer/components/ui/Table/Table.stories.tsx
  src/renderer/components/ui/Table/Table.tsx
  src/renderer/components/ui/Table/TableContext.tsx
  src/renderer/components/ui/Table/TableParts.tsx
  src/renderer/components/ui/Table/common/types.ts
  src/renderer/components/ui/Table/common/utils.ts
  src/renderer/components/ui/index.ts
  src/renderer/index.css
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/AboutStaking/AboutStaking.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.tsx
  src/renderer/screens/Staking/Overview/components/StakingTable/StakingTable.test.tsx
  src/renderer/screens/Staking/Overview/components/StakingTable/StakingTable.tsx
  src/renderer/screens/Staking/Overview/components/index.ts
  src/renderer/screens/Transfer/Transfer.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx
