Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Adding internal build distribution (#1097)
  .eslintrc.js
  .github/workflows/build_stage.yaml
  .github/workflows/send_artifact_urls.yaml
  app.config.js
  package.json
  scripts/postbuild.js
  src/main/factories/create.ts
  src/shared/constants/environment.ts
  webpack/webpack.main.prod.internal.ts
  webpack/webpack.renderer.prod.internal.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Adding internal build distribution
  .eslintrc.js
  .github/workflows/build_stage.yaml
  .github/workflows/send_artifact_urls.yaml
  app.config.js
  package.json
  scripts/postbuild.js
  src/main/factories/create.ts
  src/shared/constants/environment.ts
  webpack/webpack.main.prod.internal.ts
  webpack/webpack.renderer.prod.internal.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: network zero balances possible fix
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletFiatBalance.tsx
  src/renderer/pages/Assets/AssetsList/components/NetworkFiatBalance/NetworkFiatBalance.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: changed default fiat flag value to true
  src/renderer/entities/price/lib/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: added form reset on close
  src/renderer/features/currency/CurrencyForm/model/currency-form.ts
  src/renderer/features/currency/CurrencyForm/ui/CurrencyForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: added disabled condition for save button
  src/renderer/features/currency/CurrencyForm/model/currency-form.ts
  src/renderer/features/currency/CurrencyForm/ui/CurrencyForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fixed pr comments
  src/renderer/entities/price/model/currency-model.ts
  src/renderer/entities/price/model/price-provider-model.ts
  src/renderer/features/currency/CurrencyForm/model/__tests__/currency-form.test.ts
  src/renderer/features/currency/CurrencyForm/model/currency-form.ts
  src/renderer/features/currency/CurrencyForm/ui/CurrencyForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Currency form value reset on close (#1107)
  src/renderer/entities/price/model/currency-model.ts
  src/renderer/entities/price/model/price-provider-model.ts
  src/renderer/features/currency/CurrencyForm/model/__tests__/currency-form.test.ts
  src/renderer/features/currency/CurrencyForm/model/currency-form.ts
  src/renderer/features/currency/CurrencyForm/ui/CurrencyForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: changed default fiat flag value to true (#1106)
  src/renderer/entities/price/lib/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: wallet balance assets undefined fix
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletFiatBalance.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: wallet balance assets undefined fix (#1108)
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletFiatBalance.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: wallet 0 balance fix, asset display 0 fix
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletFiatBalance.tsx
  src/renderer/entities/price/ui/TokenPrice.tsx
  src/renderer/pages/Assets/AssetsList/components/NetworkFiatBalance/NetworkFiatBalance.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: wallet zero balance fix
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletFiatBalance.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: removed second shimmer from assets if fiat flag is false
  src/renderer/entities/asset/ui/AssetCard/AssetCard.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: network zero balance fix
  src/renderer/pages/Assets/AssetsList/components/NetworkFiatBalance/NetworkFiatBalance.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: zero balance errors fix (#1109)
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletFiatBalance.tsx
  src/renderer/entities/price/ui/TokenPrice.tsx
  src/renderer/pages/Assets/AssetsList/components/NetworkFiatBalance/NetworkFiatBalance.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: removed second shimmer from assets if fiat flag is false (#1110)
  src/renderer/entities/asset/ui/AssetCard/AssetCard.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: use wallet connect for effector
  src/renderer/app/providers/context/WalletConnectContext/WalletConnectContext.tsx
  src/renderer/app/providers/context/WalletConnectContext/index.ts
  src/renderer/app/providers/context/index.ts
  src/renderer/entities/walletConnect/index.ts
  src/renderer/entities/walletConnect/lib/common/constants.ts
  src/renderer/entities/walletConnect/lib/common/types.ts
  src/renderer/entities/walletConnect/lib/common/utils.ts
  src/renderer/entities/walletConnect/lib/index.ts
  src/renderer/entities/walletConnect/model/walletConnect.ts
  src/renderer/entities/walletConnect/ui/index.ts
  src/renderer/features/operation/sign/ui/WalletConnect/WalletConnect.tsx
  src/renderer/pages/Onboarding/WalletConnect/ManageStep/ManageStep.tsx
  src/renderer/pages/Onboarding/WalletConnect/WalletConnect.tsx
  src/renderer/pages/Onboarding/WalletConnect/common/const.ts
  src/renderer/pages/Onboarding/WalletConnect/model/walletConnectOnboarding.ts
  src/renderer/widgets/CreateWallet/ui/CreateWalletProvider.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: fixed amount input validation errors
  src/renderer/shared/ui/Inputs/AmountInput/AmountInput.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: amount input validation and precision errors
  src/renderer/shared/ui/Inputs/AmountInput/AmountInput.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: amount input validation and precision errors (#1112)
  src/renderer/shared/ui/Inputs/AmountInput/AmountInput.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: url fo notification
  .github/workflows/send_artifact_urls.yaml
Due: none

fix: url fo notification (#1115)
  .github/workflows/send_artifact_urls.yaml
Due: none

fix: changed fiat balance format for networks, assets and wallet
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletFiatBalance.tsx
  src/renderer/entities/network/lib/chainsService.ts
  src/renderer/entities/price/ui/AssetFiatBalance.tsx
  src/renderer/pages/Assets/AssetsList/components/NetworkFiatBalance/NetworkFiatBalance.tsx
  src/renderer/shared/lib/utils/balance.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: changed formating for token price
  src/renderer/entities/price/ui/TokenPrice.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: changed gt to gte for fiat balance format
  src/renderer/shared/lib/utils/balance.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: remove old log files
  src/main/main.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: improvements after PR review
  src/main/main.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: remove old log files (#1117)
  src/main/main.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: amount input NaN value for stake more fix
  src/renderer/shared/ui/Inputs/AmountInput/AmountInput.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr comments fix
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletFiatBalance.tsx
  src/renderer/entities/network/lib/chainsService.ts
  src/renderer/pages/Assets/AssetsList/components/NetworkFiatBalance/NetworkFiatBalance.tsx
  src/renderer/shared/lib/utils/balance.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: amount input NaN value for stake more fix (#1118)
  src/renderer/shared/ui/Inputs/AmountInput/AmountInput.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: fixed maximumFractionDigits value
  src/renderer/entities/price/lib/constants.ts
  src/renderer/entities/price/ui/AssetFiatBalance.tsx
  src/renderer/entities/price/ui/TokenPrice.tsx
  src/renderer/pages/Assets/AssetsList/components/NetworkFiatBalance/NetworkFiatBalance.tsx
  src/renderer/shared/lib/utils/balance.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/shared/locale/*.json
