Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

fix: get validators on light client
  src/renderer/services/staking/validatorsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: blur keys reader
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/screens/Onboarding/Vault/KeyQrReader/KeyQrReader.test.tsx
  src/renderer/screens/Onboarding/Vault/KeyQrReader/KeyQrReader.tsx
  src/renderer/screens/Onboarding/Vault/ScanStep/ScanStep.tsx
  src/renderer/screens/Signing/QrReaderWrapper/QrReaderWrapper.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: improve light client data fetch
  src/renderer/components/common/AddressWithName/AddressWithName.tsx
  src/renderer/components/ui-redesign/Buttons/IconButton/IconButton.tsx
  src/renderer/screens/AddressBook/AddressBook.tsx
  src/renderer/screens/AddressBook/components/ContactList.tsx
  src/renderer/screens/AddressBook/components/ContactModal.tsx
  src/renderer/services/network/networkService.ts
  src/renderer/services/staking/validatorsService.ts
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: improve light client data fetch (#770)
  src/renderer/components/common/AddressWithName/AddressWithName.tsx
  src/renderer/components/ui-redesign/Buttons/IconButton/IconButton.tsx
  src/renderer/screens/AddressBook/AddressBook.tsx
  src/renderer/screens/AddressBook/components/ContactList.tsx
  src/renderer/screens/AddressBook/components/ContactModal.tsx
  src/renderer/services/network/networkService.ts
  src/renderer/services/staking/validatorsService.ts
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fix edit contact
  src/renderer/screens/AddressBook/components/ContactModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: blur keys reader (#773)
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/screens/AddressBook/components/ContactModal.tsx
  src/renderer/screens/Onboarding/Vault/KeyQrReader/KeyQrReader.test.tsx
  src/renderer/screens/Onboarding/Vault/KeyQrReader/KeyQrReader.tsx
  src/renderer/screens/Onboarding/Vault/ScanStep/ScanStep.tsx
  src/renderer/screens/Signing/QrReaderWrapper/QrReaderWrapper.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: blur keys reader
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/screens/AddressBook/components/ContactModal.tsx
  src/renderer/screens/Onboarding/Vault/KeyQrReader/KeyQrReader.test.tsx
  src/renderer/screens/Onboarding/Vault/KeyQrReader/KeyQrReader.tsx
  src/renderer/screens/Onboarding/Vault/ScanStep/ScanStep.tsx
  src/renderer/screens/Signing/QrReaderWrapper/QrReaderWrapper.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: notifications redesign
  src/renderer/screens/Notifications/Notifications.tsx
  src/renderer/screens/Notifications/components/EmptyNotifications.tsx
  src/renderer/screens/Notifications/components/NotificationRow.tsx
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: update logo to Nova Spektr
  NovaSpektr_GitHub.png
  README.md
  src/main/resources/icons/icns.icns
  src/main/resources/icons/icon.ico
  src/main/resources/icons/icon.png
Due: none

feat: update logo
  NovaSpektr_GitHub.png
  src/main/resources/icons/icns.icns
  src/main/resources/icons/icon.ico
  src/main/resources/icons/icon.png
Due: none

fix: correct line wrap
  src/renderer/components/common/AccountAddress/AccountAddress.tsx
  src/renderer/components/ui/Identicon/Identicon.tsx
  src/renderer/screens/Notifications/components/NotificationRow.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fix comments
  src/renderer/screens/Notifications/Notifications.tsx
  src/renderer/screens/Notifications/components/NotificationRow.tsx
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: create multisig modal
  src/renderer/assets/images/arrows/arrow-curve-left-right.svg
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/ui-redesign/Checkbox/Checkbox.tsx
  src/renderer/components/ui-redesign/Inputs/SearchInput.tsx
  src/renderer/components/ui-redesign/Tabs/Tabs.tsx
  src/renderer/components/ui/Icon/data/arrow.tsx
  src/renderer/screens/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/screens/CreateMultisigAccount/SelectContactsModal.tsx
  src/renderer/screens/CreateMultisigAccount/components/AddMultisigAccountModal.tsx
  src/renderer/screens/CreateMultisigAccount/components/AddSignatory.tsx
  src/renderer/screens/CreateMultisigAccount/components/WalletForm.tsx
  src/renderer/screens/CreateMultisigAccount/components/WalletsTabItem.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: support bond without controller
  src/renderer/services/transaction/common/constants.ts
  src/renderer/services/transaction/common/utils.ts
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: fixed test and account selection
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.test.tsx
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/components/modals/CreateMultisigAccount/components/AddSignatory.tsx
  src/renderer/components/modals/CreateMultisigAccount/components/WalletForm.tsx
  src/renderer/components/modals/CreateMultisigAccount/components/WalletsTabItem.tsx
  src/renderer/components/ui-redesign/Buttons/IconButton/IconButton.tsx
  src/renderer/routes/index.tsx
  src/renderer/screens/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/screens/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: fixed add contact icon
  src/renderer/components/modals/CreateMultisigAccount/components/AddSignatory.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: tab bg fix
  src/renderer/components/ui-redesign/Tabs/Tabs.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: change scroll position to address book
  src/renderer/screens/AddressBook/AddressBook.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix address book design
  src/renderer/components/ui-redesign/Inputs/common/styles.ts
  src/renderer/screens/AddressBook/AddressBook.tsx
  src/renderer/screens/AddressBook/components/ContactModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: flip camera on add wallet
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/screens/Onboarding/Vault/KeyQrReader/KeyQrReader.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: notifications redesign
  src/renderer/components/common/AccountAddress/AccountAddress.tsx
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/components/ui-redesign/Inputs/common/styles.ts
  src/renderer/components/ui/Identicon/Identicon.tsx
  src/renderer/screens/AddressBook/AddressBook.tsx
  src/renderer/screens/AddressBook/components/ContactModal.tsx
  src/renderer/screens/Notifications/Notifications.tsx
  src/renderer/screens/Notifications/components/EmptyNotifications.tsx
  src/renderer/screens/Notifications/components/NotificationRow.tsx
  src/renderer/screens/Onboarding/Vault/KeyQrReader/KeyQrReader.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: notifications redesign (#777)
  src/renderer/components/common/AccountAddress/AccountAddress.tsx
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/components/ui-redesign/Inputs/common/styles.ts
  src/renderer/components/ui/Identicon/Identicon.tsx
  src/renderer/screens/AddressBook/AddressBook.tsx
  src/renderer/screens/AddressBook/components/ContactModal.tsx
  src/renderer/screens/Notifications/Notifications.tsx
  src/renderer/screens/Notifications/components/EmptyNotifications.tsx
  src/renderer/screens/Notifications/components/NotificationRow.tsx
  src/renderer/screens/Onboarding/Vault/KeyQrReader/KeyQrReader.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: first light client connection
  src/renderer/services/network/networkService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: pr comments fix
  src/renderer/components/modals/CreateMultisigAccount/components/AddSignatory.tsx
  src/renderer/components/ui-redesign/Buttons/IconButton/IconButton.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

style: fixed paddings and contacts empty state
  src/renderer/components/modals/CreateMultisigAccount/components/AddSignatory.tsx
  src/renderer/components/ui-redesign/Tabs/Tabs.tsx
  src/renderer/screens/AddressBook/components/ContactModal.tsx
  src/renderer/screens/AddressBook/components/EmptyState/EmptyContacts.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: added state reset after close and fixed selec styles
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/components/modals/CreateMultisigAccount/components/WalletForm.tsx
  src/renderer/components/ui-redesign/Dropdowns/Select/Select.tsx
  src/renderer/components/ui-redesign/Dropdowns/common/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: removed multisign from signatories list
  src/renderer/components/modals/CreateMultisigAccount/components/AddSignatory.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: cleaner type check for select
  src/renderer/components/ui-redesign/Dropdowns/Select/Select.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Create multisig redesign (#779)
  src/renderer/assets/images/arrows/arrow-curve-left-right.svg
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.test.tsx
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/components/modals/CreateMultisigAccount/components/AddSignatory.tsx
  src/renderer/components/modals/CreateMultisigAccount/components/WalletForm.tsx
  src/renderer/components/modals/CreateMultisigAccount/components/WalletsTabItem.tsx
  src/renderer/components/ui-redesign/Buttons/IconButton/IconButton.tsx
  src/renderer/components/ui-redesign/Checkbox/Checkbox.tsx
  src/renderer/components/ui-redesign/Dropdowns/Select/Select.tsx
  src/renderer/components/ui-redesign/Dropdowns/common/constants.ts
  src/renderer/components/ui-redesign/Inputs/SearchInput.tsx
  src/renderer/components/ui-redesign/Tabs/Tabs.tsx
  src/renderer/components/ui/Icon/data/arrow.tsx
  src/renderer/routes/index.tsx
  src/renderer/screens/AddressBook/components/ContactModal.tsx
  src/renderer/screens/AddressBook/components/EmptyState/EmptyContacts.tsx
  src/renderer/screens/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/screens/CreateMultisigAccount/SelectContactsModal.tsx
  src/renderer/screens/index.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Create multisig redesign
  src/renderer/assets/images/arrows/arrow-curve-left-right.svg
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.test.tsx
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/components/modals/CreateMultisigAccount/components/AddSignatory.tsx
  src/renderer/components/modals/CreateMultisigAccount/components/WalletForm.tsx
  src/renderer/components/modals/CreateMultisigAccount/components/WalletsTabItem.tsx
  src/renderer/components/ui-redesign/Buttons/IconButton/IconButton.tsx
  src/renderer/components/ui-redesign/Checkbox/Checkbox.tsx
  src/renderer/components/ui-redesign/Dropdowns/Select/Select.tsx
  src/renderer/components/ui-redesign/Dropdowns/common/constants.ts
  src/renderer/components/ui-redesign/Inputs/SearchInput.tsx
  src/renderer/components/ui-redesign/Tabs/Tabs.tsx
  src/renderer/components/ui/Icon/data/arrow.tsx
  src/renderer/routes/index.tsx
  src/renderer/screens/AddressBook/components/ContactModal.tsx
  src/renderer/screens/AddressBook/components/EmptyState/EmptyContacts.tsx
  src/renderer/screens/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/screens/CreateMultisigAccount/SelectContactsModal.tsx
  src/renderer/screens/index.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: martix management redesign
  src/renderer/assets/images/aesthetics/loader.svg
  src/renderer/assets/images/functionals/question.svg
  src/renderer/assets/images/functionals/updload-file.svg
  src/renderer/assets/images/social/matrix-full.svg
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/components/modals/MatrixModal/Matrix.test.tsx
  src/renderer/components/modals/MatrixModal/MatrixModal.tsx
  src/renderer/components/modals/MatrixModal/components/Credentials/Credentials.test.tsx
  src/renderer/components/modals/MatrixModal/components/Credentials/Credentials.tsx
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.test.tsx
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.tsx
  src/renderer/components/modals/MatrixModal/components/MatrixInfoPopover/MatrixInfoPopover.test.tsx
  src/renderer/components/modals/MatrixModal/components/MatrixInfoPopover/MatrixInfoPopover.tsx
  src/renderer/components/modals/MatrixModal/components/Verification/Verification.test.tsx
  src/renderer/components/modals/MatrixModal/components/Verification/Verification.tsx
  src/renderer/components/ui-redesign/Inputs/InputFile/InputFile.stories.tsx
  src/renderer/components/ui-redesign/Inputs/InputFile/InputFile.test.tsx
  src/renderer/components/ui-redesign/Inputs/InputFile/InputFile.tsx
  src/renderer/components/ui-redesign/Tabs/Tabs.tsx
  src/renderer/components/ui-redesign/index.ts
  src/renderer/components/ui/Icon/data/functionals.tsx
  src/renderer/components/ui/Icon/data/social.tsx
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Settings/Matrix/Credentials/Credentials.tsx
  src/renderer/screens/Settings/Matrix/InfoSection/InfoSection.tsx
  src/renderer/screens/Settings/Matrix/LoginForm/LoginForm.tsx
  src/renderer/screens/Settings/Matrix/Matrix.tsx
  src/renderer/screens/Settings/Matrix/PrivacyPolicy/PrivacyPolicy.test.tsx
  src/renderer/screens/Settings/Matrix/PrivacyPolicy/PrivacyPolicy.tsx
  src/renderer/screens/Settings/Matrix/Verification/Verification.tsx
  src/renderer/screens/Settings/Overview/components/MatrixAction/MatrixAction.test.tsx
  src/renderer/screens/Settings/Overview/components/MatrixAction/MatrixAction.tsx
  src/renderer/screens/Settings/index.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: fixed popover
  src/renderer/components/ui-redesign/Popovers/Popover/Popover.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: add data verification link
  src/renderer/components/ui-redesign/Modals/BaseModal/BaseModal.stories.tsx
  src/renderer/components/ui/HintList/HintItem.tsx
  src/renderer/components/ui/HintList/HintList.stories.tsx
  src/renderer/components/ui/HintList/HintList.test.tsx
  src/renderer/components/ui/HintList/HintList.tsx
  src/renderer/components/ui/Modals/BaseModal/BaseModal.stories.tsx
  src/renderer/components/ui/Modals/BaseModal/BaseModal.test.tsx
  src/renderer/components/ui/Modals/BaseModal/BaseModal.tsx
  src/renderer/components/ui/index.ts
  src/renderer/context/ConfirmContext/ConfirmContext.tsx
  src/renderer/screens/Settings/Networks/Networks.tsx
  src/renderer/screens/Settings/Overview/Overview.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fixed test
  src/renderer/components/modals/MatrixModal/Matrix.test.tsx
  src/renderer/components/modals/MatrixModal/components/Credentials/Credentials.test.tsx
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.test.tsx
  src/renderer/components/modals/MatrixModal/components/MatrixInfoPopover/MatrixInfoPopover.test.tsx
  src/renderer/components/modals/MatrixModal/components/MatrixInfoPopover/MatrixInfoPopover.tsx
  src/renderer/components/modals/MatrixModal/components/Verification/Verification.test.tsx
  src/renderer/components/ui-redesign/Inputs/InputFile/InputFile.test.tsx
  src/renderer/components/ui-redesign/Popovers/Popover/Popover.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fixed pr comments
  src/renderer/components/modals/MatrixModal/MatrixModal.tsx
  src/renderer/components/modals/MatrixModal/components/Verification/Verification.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: fixed popover keyboard navigation
  src/renderer/components/ui-redesign/Popovers/Popover/Popover.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: import order fix
  src/renderer/components/modals/MatrixModal/components/Credentials/Credentials.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx
