Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

chore: versioned location and asset
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/shared/api/xcm/xcmService.ts
  src/renderer/shared/lib/utils/substrate.ts
  src/renderer/widgets/SendAssetModal/model/send-asset.ts
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: removed typo
  docs/effector.md
Due: none

fix: fee calculation and validation
  src/renderer/entities/transaction/lib/validateBalance.ts
  src/renderer/features/operation/init/ui/OperationFooter.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/InitOperation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix tests
  src/renderer/shared/api/xcm/__tests__/xcmService.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: pr review
  src/renderer/pages/Staking/Operations/Bond/Bond.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/pages/Staking/Operations/Destination/Destination.tsx
  src/renderer/pages/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/pages/Staking/Operations/Restake/Restake.tsx
  src/renderer/pages/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/pages/Staking/Operations/Unstake/Unstake.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Approve reject xcm (#1059)
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/pages/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
  src/renderer/pages/Staking/Operations/Bond/Bond.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/pages/Staking/Operations/Destination/Destination.tsx
  src/renderer/pages/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/pages/Staking/Operations/Restake/Restake.tsx
  src/renderer/pages/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/pages/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: linter issues
  src/renderer/entities/transaction/lib/common/utils.ts
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/shared/api/xcm/xcmService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: xcm transfer flow
  .github/workflows/release.yaml
  package.json
  src/main/index.ts
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.test.tsx
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/entities/transaction/lib/common/constants.ts
  src/renderer/entities/transaction/lib/common/types.ts
  src/renderer/entities/transaction/lib/common/utils.ts
  src/renderer/entities/transaction/lib/common/xcmMethods.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/entities/transaction/lib/validateBalance.ts
  src/renderer/entities/transaction/ui/XcmFee/XcmFee.test.tsx
  src/renderer/entities/transaction/ui/XcmFee/XcmFee.tsx
  src/renderer/features/assets/AssetRouteGuard/model/asset-guard.ts
  src/renderer/features/assets/AssetRouteGuard/ui/AssetRouteGuard.tsx
  src/renderer/features/contacts/EditRouteGuard/model/edit-guard.ts
  src/renderer/features/contacts/EditRouteGuard/ui/EditRouteGuard.tsx
  src/renderer/features/operation/init/ui/OperationFooter.tsx
  src/renderer/pages/Operations/components/TransactionAmount.tsx
  src/renderer/pages/Operations/components/modals/AccountSelectModal/AccountSelectModal.tsx
  src/renderer/pages/Operations/components/modals/AccountSelectModal/SelectableAccount.tsx
  src/renderer/services/dataVerification/dataVerification.ts
  src/renderer/shared/api/xcm/__tests__/xcmService.test.ts
  src/renderer/shared/api/xcm/common/types.ts
  src/renderer/shared/api/xcm/xcmService.ts
  src/renderer/shared/lib/utils/chains.ts
  src/renderer/shared/lib/utils/index.ts
  src/renderer/shared/lib/utils/substrate.ts
  src/renderer/shared/ui/Buttons/common/constants.ts
  src/renderer/widgets/SendAssetModal/model/send-asset.ts
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
  src/renderer/widgets/SendAssetModal/ui/common/utils.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Confirmation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/InitOperation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/Details.tsx
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
  webpack/webpack.shared.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: xcm transfer flow (#1055)
  .github/workflows/release.yaml
  package.json
  src/main/index.ts
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.test.tsx
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/entities/transaction/lib/common/constants.ts
  src/renderer/entities/transaction/lib/common/types.ts
  src/renderer/entities/transaction/lib/common/utils.ts
  src/renderer/entities/transaction/lib/common/xcmMethods.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/entities/transaction/lib/validateBalance.ts
  src/renderer/entities/transaction/ui/XcmFee/XcmFee.test.tsx
  src/renderer/entities/transaction/ui/XcmFee/XcmFee.tsx
  src/renderer/features/assets/AssetRouteGuard/model/asset-guard.ts
  src/renderer/features/assets/AssetRouteGuard/ui/AssetRouteGuard.tsx
  src/renderer/features/contacts/EditRouteGuard/model/edit-guard.ts
  src/renderer/features/contacts/EditRouteGuard/ui/EditRouteGuard.tsx
  src/renderer/features/operation/init/ui/OperationFooter.tsx
  src/renderer/pages/Operations/components/TransactionAmount.tsx
  src/renderer/pages/Operations/components/modals/AccountSelectModal/AccountSelectModal.tsx
  src/renderer/pages/Operations/components/modals/AccountSelectModal/SelectableAccount.tsx
  src/renderer/services/dataVerification/dataVerification.ts
  src/renderer/shared/api/xcm/__tests__/xcmService.test.ts
  src/renderer/shared/api/xcm/common/types.ts
  src/renderer/shared/api/xcm/xcmService.ts
  src/renderer/shared/lib/utils/chains.ts
  src/renderer/shared/lib/utils/index.ts
  src/renderer/shared/lib/utils/substrate.ts
  src/renderer/shared/ui/Buttons/common/constants.ts
  src/renderer/widgets/SendAssetModal/model/send-asset.ts
  src/renderer/widgets/SendAssetModal/ui/SendAssetModal.tsx
  src/renderer/widgets/SendAssetModal/ui/common/utils.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Confirmation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/InitOperation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/Details.tsx
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
  webpack/webpack.shared.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: estimate fee from api
  src/renderer/entities/transaction/ui/XcmFee/XcmFee.tsx
  src/renderer/features/operation/init/ui/OperationFooter.tsx
  src/renderer/shared/api/xcm/__tests__/xcmService.test.ts
  src/renderer/shared/api/xcm/xcmService.ts
  src/renderer/shared/lib/utils/chains.ts
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Confirmation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/InitOperation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: placeholder for select and multiselect
  src/renderer/shared/ui/Dropdowns/Select/Select.tsx
  src/renderer/shared/ui/Dropdowns/common/types.ts
  src/renderer/widgets/SendAssetModal/ui/common/utils.tsx
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: wallet connect form
  src/renderer/app/providers/context/WalletConnectContext/WalletConnectContext.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletGroup.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/common/constants.ts
  src/renderer/components/layout/PrimaryLayout/Wallets/common/useGroupedWallets.ts
  src/renderer/domain/shared-kernel.ts
  src/renderer/entities/account/ui/MultiAccountsList/MultiAccountsList.tsx
  src/renderer/features/operation/sign/ui/Signing/Signing.tsx
  src/renderer/pages/Onboarding/FinalStep/FinalStep.tsx
  src/renderer/pages/Onboarding/WalletConnect/ManageStep/ManageStep.tsx
  src/renderer/pages/Onboarding/WalletConnect/WalletConnect.tsx
  src/renderer/pages/Onboarding/Welcome/Welcome.tsx
  src/renderer/shared/ui/Identicon/Identicon.tsx
  src/renderer/shared/ui/WalletConnectQR/WalletConnectQR.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fix tests
  src/renderer/shared/api/xcm/xcmService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: fee calculation for relaychain
  src/renderer/shared/api/xcm/xcmService.ts
  src/renderer/widgets/SendAssetModal/model/send-asset.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix asset amount for small values
  src/renderer/widgets/SendAssetModal/model/send-asset.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: xcm filter
  src/renderer/features/operation/OperationsFilter/ui/OperationsFilter.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: xcm filter by all chains & useChains update
  src/renderer/app/providers/context/GraphqlContext/GraphqlContext.test.tsx
  src/renderer/app/providers/context/GraphqlContext/GraphqlContext.tsx
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.test.tsx
  src/renderer/entities/chain/ui/ChainTitle/ChainTitle.tsx
  src/renderer/entities/multisig/lib/multisigTx/multisigTxService.ts
  src/renderer/entities/network/lib/__tests__/chainsService.test.ts
  src/renderer/entities/network/lib/chainsService.ts
  src/renderer/entities/network/lib/index.ts
  src/renderer/entities/network/lib/networkService.ts
  src/renderer/features/assets/AssetRouteGuard/model/asset-guard.ts
  src/renderer/features/operation/OperationsFilter/ui/OperationsFilter.tsx
  src/renderer/pages/Assets/AssetsList/AssetsList.test.tsx
  src/renderer/pages/Assets/AssetsList/AssetsList.tsx
  src/renderer/pages/Assets/AssetsList/components/SelectShardModal/SelectShardModal.tsx
  src/renderer/pages/Onboarding/Vault/ManageStep/ManageStep.tsx
  src/renderer/pages/Onboarding/Vault/ManageStepSingle/ManageStepSingle.tsx
  src/renderer/pages/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/pages/Operations/components/TransactionAmount.tsx
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Staking/Overview/Overview.test.tsx
  src/renderer/pages/Staking/Overview/components/NetworkInfo/NetworkInfo.test.tsx
  src/renderer/pages/Staking/Overview/components/NetworkInfo/NetworkInfo.tsx
  src/renderer/shared/api/xcm/xcmService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Xcm filter
  src/renderer/app/providers/context/GraphqlContext/GraphqlContext.test.tsx
  src/renderer/app/providers/context/GraphqlContext/GraphqlContext.tsx
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.test.tsx
  src/renderer/entities/chain/ui/ChainTitle/ChainTitle.tsx
  src/renderer/entities/multisig/lib/multisigTx/multisigTxService.ts
  src/renderer/entities/network/lib/__tests__/chainsService.test.ts
  src/renderer/entities/network/lib/chainsService.ts
  src/renderer/entities/network/lib/index.ts
  src/renderer/entities/network/lib/networkService.ts
  src/renderer/features/assets/AssetRouteGuard/model/asset-guard.ts
  src/renderer/features/operation/OperationsFilter/ui/OperationsFilter.tsx
  src/renderer/pages/Assets/AssetsList/AssetsList.test.tsx
  src/renderer/pages/Assets/AssetsList/AssetsList.tsx
  src/renderer/pages/Assets/AssetsList/components/SelectShardModal/SelectShardModal.tsx
  src/renderer/pages/Onboarding/Vault/ManageStep/ManageStep.tsx
  src/renderer/pages/Onboarding/Vault/ManageStepSingle/ManageStepSingle.tsx
  src/renderer/pages/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/pages/Operations/components/TransactionAmount.tsx
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Staking/Overview/Overview.test.tsx
  src/renderer/pages/Staking/Overview/components/NetworkInfo/NetworkInfo.test.tsx
  src/renderer/pages/Staking/Overview/components/NetworkInfo/NetworkInfo.tsx
  src/renderer/shared/api/xcm/xcmService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Xcm filter (#1061)
  src/renderer/app/providers/context/GraphqlContext/GraphqlContext.test.tsx
  src/renderer/app/providers/context/GraphqlContext/GraphqlContext.tsx
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.test.tsx
  src/renderer/entities/chain/ui/ChainTitle/ChainTitle.tsx
  src/renderer/entities/multisig/lib/multisigTx/multisigTxService.ts
  src/renderer/entities/network/lib/__tests__/chainsService.test.ts
  src/renderer/entities/network/lib/chainsService.ts
  src/renderer/entities/network/lib/index.ts
  src/renderer/entities/network/lib/networkService.ts
  src/renderer/features/assets/AssetRouteGuard/model/asset-guard.ts
  src/renderer/features/operation/OperationsFilter/ui/OperationsFilter.tsx
  src/renderer/pages/Assets/AssetsList/AssetsList.test.tsx
  src/renderer/pages/Assets/AssetsList/AssetsList.tsx
  src/renderer/pages/Assets/AssetsList/components/SelectShardModal/SelectShardModal.tsx
  src/renderer/pages/Onboarding/Vault/ManageStep/ManageStep.tsx
  src/renderer/pages/Onboarding/Vault/ManageStepSingle/ManageStepSingle.tsx
  src/renderer/pages/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/pages/Operations/components/TransactionAmount.tsx
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Staking/Overview/Overview.test.tsx
  src/renderer/pages/Staking/Overview/components/NetworkInfo/NetworkInfo.test.tsx
  src/renderer/pages/Staking/Overview/components/NetworkInfo/NetworkInfo.tsx
  src/renderer/shared/api/xcm/xcmService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/entities/transaction/ui/XcmFee/XcmFee.tsx
  src/renderer/shared/ui/Dropdowns/Select/Select.tsx
  src/renderer/shared/ui/Dropdowns/common/types.ts
  src/renderer/widgets/SendAssetModal/ui/common/utils.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: currency select modal
  src/renderer/app/App.tsx
  src/renderer/app/providers/routes/paths.ts
  src/renderer/app/providers/routes/routesConfig.tsx
  src/renderer/entities/currency/index.ts
  src/renderer/entities/currency/model/currency.ts
  src/renderer/entities/currency/model/types.ts
  src/renderer/pages/Settings/Currency/Currency.tsx
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.tsx
  src/renderer/pages/Settings/index.ts
  src/renderer/shared/ui/Dropdowns/GroupedSelect/GroupedSelect.tsx
  src/renderer/shared/ui/Dropdowns/common/types.ts
  src/renderer/widgets/SelectCurrencyModal/index.ts
  src/renderer/widgets/SelectCurrencyModal/temp/mock-currencies.json
  src/renderer/widgets/SelectCurrencyModal/ui/SelectCurrencyModal.tsx
  src/renderer/widgets/index.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: placeholder for select dropdown (#1060)
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/entities/transaction/ui/XcmFee/XcmFee.tsx
  src/renderer/features/operation/init/ui/OperationFooter.tsx
  src/renderer/shared/api/xcm/__tests__/xcmService.test.ts
  src/renderer/shared/api/xcm/xcmService.ts
  src/renderer/shared/lib/utils/chains.ts
  src/renderer/shared/ui/Dropdowns/Select/Select.tsx
  src/renderer/shared/ui/Dropdowns/common/types.ts
  src/renderer/widgets/SendAssetModal/model/send-asset.ts
  src/renderer/widgets/SendAssetModal/ui/common/utils.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Confirmation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/InitOperation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: placeholder for select dropdown
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/entities/transaction/ui/XcmFee/XcmFee.tsx
  src/renderer/features/operation/init/ui/OperationFooter.tsx
  src/renderer/shared/api/xcm/__tests__/xcmService.test.ts
  src/renderer/shared/api/xcm/xcmService.ts
  src/renderer/shared/lib/utils/chains.ts
  src/renderer/shared/ui/Dropdowns/Select/Select.tsx
  src/renderer/shared/ui/Dropdowns/common/types.ts
  src/renderer/widgets/SendAssetModal/model/send-asset.ts
  src/renderer/widgets/SendAssetModal/ui/common/utils.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Confirmation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/InitOperation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: filter wow wallet for approve modal
  src/renderer/entities/chain/ui/XcmChains/XcmChains.tsx
  src/renderer/entities/signatory/ui/SelectableSignatory/SelectableSignatory.tsx
  src/renderer/features/operation/sign/ui/VaultSigning/VaultSigning.tsx
  src/renderer/pages/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
  src/renderer/pages/Operations/components/modals/SignatorySelectModal.tsx
  src/renderer/shared/lib/utils/balance.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: weight calculation
  src/renderer/entities/transaction/lib/common/types.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: overflow for AccountSelectModal
  src/renderer/pages/Operations/components/modals/AccountSelectModal/AccountSelectModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: weight calculation (#1063)
  src/renderer/entities/transaction/lib/common/types.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: select wallet connect wallets
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/common/useGroupedWallets.ts
  src/renderer/components/layout/PrimaryLayout/Wallets/common/utils.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Fix: Approve xcm (#1062)
  src/renderer/entities/chain/ui/XcmChains/XcmChains.tsx
  src/renderer/entities/signatory/ui/SelectableSignatory/SelectableSignatory.tsx
  src/renderer/features/operation/sign/ui/VaultSigning/VaultSigning.tsx
  src/renderer/pages/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/pages/Operations/components/modals/AccountSelectModal/AccountSelectModal.tsx
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
  src/renderer/pages/Operations/components/modals/SignatorySelectModal.tsx
  src/renderer/shared/lib/utils/balance.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Approve xcm
  src/renderer/entities/chain/ui/XcmChains/XcmChains.tsx
  src/renderer/entities/signatory/ui/SelectableSignatory/SelectableSignatory.tsx
  src/renderer/features/operation/sign/ui/VaultSigning/VaultSigning.tsx
  src/renderer/pages/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/pages/Operations/components/modals/AccountSelectModal/AccountSelectModal.tsx
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
  src/renderer/pages/Operations/components/modals/SignatorySelectModal.tsx
  src/renderer/shared/lib/utils/balance.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: reject with wow duplicate
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: update workflow
  .github/workflows/update_chains_file.yaml
  src/renderer/assets/chains/chains.json
  src/renderer/assets/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: fee calculation for big multishard wallet
  src/renderer/widgets/SendAssetModal/model/send-asset.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: fee calculation
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: added icon for currency
  src/renderer/assets/images/functionals/currency.svg
  src/renderer/shared/ui/Icon/data/functionals.tsx
  src/renderer/widgets/SelectCurrencyModal/ui/SelectCurrencyModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: fee calculation for big multishard wallet
  src/renderer/widgets/SendAssetModal/model/send-asset.ts
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: fee calculation for big multishard wallet (#1066)
  src/renderer/widgets/SendAssetModal/model/send-asset.ts
  src/renderer/widgets/SendAssetModal/ui/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx
