Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

feat: fix tests
  jest.config.ts
  src/renderer/components/common/AccountsList/AccountsList.test.tsx
  src/renderer/components/common/index.ts
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/common/constants.ts
  src/renderer/screens/Onboarding/Vault/ManageStepSingle/ManageStepSingle.tsx
  src/renderer/screens/Onboarding/Vault/Parity.test.tsx
  src/renderer/screens/Onboarding/WatchOnly/WatchOnly.test.tsx
  src/renderer/screens/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/screens/Onboarding/Welcome/Welcome.test.tsx
  src/renderer/screens/Onboarding/Welcome/Welcome.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: reject operation text
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix: reject operation text (#745)
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

chore: fix tests
  src/renderer/screens/Onboarding/Vault/QrReader/QrReader.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: tests dependencies fix
  src/renderer/components/common/QrCode/QrGeneratorContainer/QrGeneratorContainer.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.test.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.test.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.test.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: updated more test dependencies
  src/renderer/components/common/Scaning/Scaning.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.test.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.test.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.test.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: reduce number of balances update (#744)
  src/renderer/services/balance/balanceService.ts
  src/renderer/services/storage/balanceStorage.ts
  src/renderer/services/storage/common/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: reduce number of balances update
  src/renderer/services/balance/balanceService.ts
  src/renderer/services/storage/balanceStorage.ts
  src/renderer/services/storage/common/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: init operations / ser validators
  src/renderer/components/common/Fee/Fee.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/SetValidators/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/SetValidators/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/common/types.ts
  src/renderer/screens/Staking/Operations/common/utils.tsx
  src/renderer/screens/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/components/Validators/Validators.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fix comments
  src/renderer/components/common/AccountsList/AccountsList.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/screens/Onboarding/Vault/ManageStep/ManageStep.tsx
  src/renderer/screens/Onboarding/Vault/ScanStep/ScanStep.tsx
  src/renderer/screens/Onboarding/Welcome/Welcome.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/screens/Operations/components/modals/RejectTx.tsx
  tsconfig.paths.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: added clear all button and updated empty state
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/components/EmptyState/EmptyOperations.test.tsx
  src/renderer/screens/Operations/components/EmptyState/EmptyOperations.tsx
  src/renderer/screens/Operations/components/Filters.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: youtube link
  src/renderer/screens/Settings/Overview/components/SocialLinks/SocialLinks.test.tsx
  src/renderer/screens/Settings/Overview/components/SocialLinks/SocialLinks.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

style: fixed vertocal align for empty state
  src/renderer/screens/Operations/components/EmptyState/EmptyOperations.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: tests fix
  src/renderer/screens/Operations/components/EmptyState/EmptyOperations.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: tests
  src/renderer/components/common/Deposit/Deposit.test.tsx
  src/renderer/components/common/Fee/Fee.test.tsx
  src/renderer/components/ui-redesign/RadioGroup/RadioGroup.test.tsx
  src/renderer/index.tsx
  src/renderer/routes/utils.test.ts
  src/renderer/screens/Operations/components/ShortTransactionInfo.test.tsx
  src/renderer/screens/Settings/Overview/components/GeneralActions/GeneralActions.test.tsx
  src/renderer/screens/Settings/Overview/components/MatrixAction/MatrixAction.test.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.test.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.test.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.test.tsx
  src/renderer/screens/Staking/Operations/SetValidators/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/SetValidators/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.test.tsx
  src/renderer/screens/Staking/Operations/components/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Operations/components/Modals/AccountsModal/AccountsModal.test.tsx
  src/renderer/screens/Staking/Operations/components/Modals/AccountsModal/AccountsModal.tsx
  src/renderer/screens/Staking/Operations/components/Modals/ValidatorsModal/ValidatorsModal.test.tsx
  src/renderer/screens/Staking/Operations/components/Submit/Submit.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/AboutStaking/AboutStaking.test.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/InactiveChain.test.tsx
  src/renderer/screens/Transfer/components/ActionSteps/InitOperation.tsx
  src/renderer/services/network/networkService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fixed pr comments
  src/renderer/components/common/QrCode/QrReader/QrMultiframeSignatureReader.tsx
  src/renderer/components/common/QrCode/QrReader/QrSignatureReader.tsx
  src/renderer/components/common/QrCode/QrReeaderContainer/QrReeaderContainer.tsx
  src/renderer/components/common/Scanning/Scanning.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/screens/Operations/components/modals/RejectTx.tsx
  src/renderer/screens/Signing/QrReaderWrapper/QrReaderWrapper.tsx
  src/renderer/screens/Signing/SigningDev.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/components/Signing/Signing.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Signing.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: fixed staking tests mock
  src/renderer/screens/Staking/Operations/Bond/Bond.test.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.test.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.test.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: added wrapper block to immitate modal size for staking signing
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/components/ModalMock.tsx
  src/renderer/screens/Staking/Operations/components/Signing/Signing.tsx
  src/renderer/screens/Staking/Operations/components/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: added margin
  src/renderer/screens/Staking/Operations/components/ModalMock.tsx
  src/renderer/screens/Staking/Operations/components/Signing/Signing.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: changed address to account id for scanning
  src/renderer/components/common/Scanning/Scanning.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: export fix
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/components/ModalMock.tsx
  src/renderer/screens/Staking/Operations/components/Signing/Signing.tsx
  src/renderer/screens/Staking/Operations/components/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Filters improvement - added clear all button and updated empty state
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/components/EmptyState/EmptyOperations.test.tsx
  src/renderer/screens/Operations/components/EmptyState/EmptyOperations.tsx
  src/renderer/screens/Operations/components/Filters.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Filters improvement - added clear all button and updated empty state (#748)
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/screens/Operations/components/EmptyState/EmptyOperations.test.tsx
  src/renderer/screens/Operations/components/EmptyState/EmptyOperations.tsx
  src/renderer/screens/Operations/components/Filters.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: revert add multisig
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: revert add multisig (#754)
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: moved account deactivation to batch update
  src/renderer/services/account/accountService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: updated accountService test
  src/renderer/services/account/__tests__/accountService.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: add medium social link
  src/renderer/screens/Settings/Overview/components/SocialLinks/SocialLinks.test.tsx
  src/renderer/screens/Settings/Overview/components/SocialLinks/SocialLinks.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: added twitter
  src/renderer/screens/Settings/Overview/components/SocialLinks/SocialLinks.test.tsx
  src/renderer/screens/Settings/Overview/components/SocialLinks/SocialLinks.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix
  src/renderer/screens/Settings/Overview/components/SocialLinks/SocialLinks.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: change release type to draft
  .github/workflows/release.yaml
Due: none

fix: change release type to draft (#758)
  .github/workflows/release.yaml
Due: none

chore: social media links (#747)
  src/renderer/screens/Settings/Overview/components/SocialLinks/SocialLinks.test.tsx
  src/renderer/screens/Settings/Overview/components/SocialLinks/SocialLinks.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx
