Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

fix: operation title fix
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

Fix: Operation details (#666)
  src/renderer/screens/Operations/Operations.test.tsx
  src/renderer/screens/Operations/common/constants.ts
  src/renderer/screens/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/screens/Operations/components/ActionSteps/Submit.tsx
  src/renderer/screens/Operations/components/Chain/Chain.test.tsx
  src/renderer/screens/Operations/components/Chain/Chain.tsx
  src/renderer/screens/Operations/components/DetailWithLabel.tsx
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Operations/components/Log.tsx
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Operations/components/Scanning/Scanning.tsx
  src/renderer/screens/Operations/components/TransactionTitle/TransactionTitle.test.tsx
  src/renderer/screens/Operations/components/TransactionTitle/TransactionTitle.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/screens/Operations/components/modals/RejectTx.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
  tailwind.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Fix: Operation details
  src/renderer/screens/Operations/Operations.test.tsx
  src/renderer/screens/Operations/common/constants.ts
  src/renderer/screens/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/screens/Operations/components/ActionSteps/Submit.tsx
  src/renderer/screens/Operations/components/Chain/Chain.test.tsx
  src/renderer/screens/Operations/components/Chain/Chain.tsx
  src/renderer/screens/Operations/components/DetailWithLabel.tsx
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Operations/components/Log.tsx
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Operations/components/Scanning/Scanning.tsx
  src/renderer/screens/Operations/components/TransactionTitle/TransactionTitle.test.tsx
  src/renderer/screens/Operations/components/TransactionTitle/TransactionTitle.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/screens/Operations/components/modals/RejectTx.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
  tailwind.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: remove duplication in race conditions with matrix and storage data
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
  src/renderer/services/multisigTx/common/types.ts
  src/renderer/services/multisigTx/multisigTxService.ts
  src/renderer/services/storage/common/types.ts
  src/renderer/services/storage/storage.ts
  src/renderer/services/storage/transactionStorage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: don't update start date when processing event
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/services/storage/transactionStorage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: linter fix
  src/renderer/services/multisigTx/multisigTxService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: adding payload to matrix events
  src/renderer/context/MatrixContext/MatrixContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: tests fix
  src/renderer/services/storage/__tests__/storage.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: stage mode feat: rework chains files
  package.json
  scripts/buildChainsJson.js
  scripts/updateDevChains.js
  src/main/factories/create.ts
  src/main/factories/setup.ts
  src/renderer/services/network/chainsService.ts
  src/renderer/services/network/common/chains/chains.json
  src/renderer/services/network/common/chains/chains_dev.json
  src/renderer/services/network/common/chains/omni-chains.json
  src/shared/constants/environment.ts
  webpack/webpack.main.stage.ts
  webpack/webpack.renderer.stage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: update readme
  README.md
Due: none

fix: changed signatory name for acc not from contacts
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/domain/signatory.ts
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix tests and comments
  package.json
  scripts/updateDevChains.js
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.test.tsx
  src/renderer/services/network/chainsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: changed signatory name for acc not from contacts (#670)
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/domain/signatory.ts
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: prod mode
  README.md
  package.json
  scripts/buildChainsJson.js
  scripts/updateDevChains.js
  src/main/factories/create.ts
  src/main/factories/setup.ts
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.test.tsx
  src/renderer/services/network/chainsService.ts
  src/renderer/services/network/common/chains/chains.json
  src/renderer/services/network/common/chains/chains_dev.json
  src/renderer/services/network/common/chains/omni-chains.json
  src/shared/constants/environment.ts
  webpack/webpack.main.stage.ts
  webpack/webpack.renderer.stage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: prod mode (#669)
  README.md
  package.json
  scripts/buildChainsJson.js
  scripts/updateDevChains.js
  src/main/factories/create.ts
  src/main/factories/setup.ts
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.test.tsx
  src/renderer/services/network/chainsService.ts
  src/renderer/services/network/common/chains/chains.json
  src/renderer/services/network/common/chains/chains_dev.json
  src/renderer/services/network/common/chains/omni-chains.json
  src/shared/constants/environment.ts
  webpack/webpack.main.stage.ts
  webpack/webpack.renderer.stage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: adding payload to matrix events (#668)
  src/renderer/context/MatrixContext/MatrixContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: added await
  src/renderer/context/MatrixContext/MatrixContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: removed migration script
  src/renderer/services/storage/__tests__/storage.test.ts
  src/renderer/services/storage/storage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix duplicate transactions
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
  src/renderer/services/multisigTx/common/types.ts
  src/renderer/services/multisigTx/multisigTxService.ts
  src/renderer/services/storage/common/types.ts
  src/renderer/services/storage/storage.ts
  src/renderer/services/storage/transactionStorage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix duplicate transactions (#667)
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/screens/Operations/components/OperationFullInfo.tsx
  src/renderer/services/multisigTx/common/types.ts
  src/renderer/services/multisigTx/multisigTxService.ts
  src/renderer/services/storage/common/types.ts
  src/renderer/services/storage/storage.ts
  src/renderer/services/storage/transactionStorage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: changed text base to show default color
  src/renderer/components/ui-redesign/Typography/common/TextBase.ts
  src/renderer/components/ui-redesign/Typography/common/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: changed text base to show default color (#671)
  src/renderer/components/ui-redesign/Typography/common/TextBase.ts
  src/renderer/components/ui-redesign/Typography/common/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: multisig error outcome processing
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: correct `update` call
  src/renderer/domain/transaction.ts
  src/renderer/services/multisigTx/common/types.ts
  src/renderer/services/storage/common/types.ts
  src/renderer/services/storage/transactionStorage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: asset balances list redesign
  colors.js
  src/renderer/assets/images/arrows/receive-arrow.svg
  src/renderer/assets/images/arrows/send-arrow.svg
  src/renderer/assets/images/functionals/settings-lite.svg
  src/renderer/components/ui-redesign/Buttons/ButtonBack/ButtonBack.tsx
  src/renderer/components/ui-redesign/Buttons/IconButton/IconButton.stories.tsx
  src/renderer/components/ui-redesign/Buttons/IconButton/IconButton.test.tsx
  src/renderer/components/ui-redesign/Buttons/IconButton/IconButton.tsx
  src/renderer/components/ui-redesign/Popovers/InfoPopover/InfoPopover.tsx
  src/renderer/components/ui-redesign/Popovers/MenuPopover/MenuPopover.tsx
  src/renderer/components/ui-redesign/Popovers/Popover/Popover.tsx
  src/renderer/components/ui-redesign/Typography/Typography.stories.tsx
  src/renderer/components/ui-redesign/Typography/components/HelpText.tsx
  src/renderer/components/ui-redesign/Typography/index.ts
  src/renderer/components/ui-redesign/index.ts
  src/renderer/components/ui/Icon/data/arrow.tsx
  src/renderer/components/ui/Icon/data/functionals.tsx
  src/renderer/components/ui/Shimmering/Shimmering.css
  src/renderer/components/ui/Shimmering/Shimmering.tsx
  src/renderer/components/ui/Switch/Switch.tsx
  src/renderer/screens/Balances/AssetBalance/AssetBalance.css
  src/renderer/screens/Balances/AssetBalance/AssetBalance.tsx
  src/renderer/screens/Balances/AssetBalanceCard/AssetBalanceCard.test.tsx
  src/renderer/screens/Balances/AssetBalanceCard/AssetBalanceCard.tsx
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Balances/Balances/BalancesFilters.tsx
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.tsx
  src/renderer/screens/Operations/Operations.tsx
  src/renderer/theme/default.css
  src/shared/locale/en.json
  src/shared/locale/ru.json
  tailwind.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: tests fix
  src/renderer/screens/Balances/AssetBalanceCard/AssetBalanceCard.test.tsx
  src/renderer/screens/Balances/AssetBalanceCard/AssetBalanceCard.tsx
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: changed header z-index
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: don't save event date if it's unknown
  src/renderer/screens/Operations/components/Log.tsx
  src/renderer/services/multisigTx/common/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: ignore empty date
  src/renderer/screens/Operations/components/Log.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr review fixes
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: correct update call for multisig operations
  src/renderer/domain/transaction.ts
  src/renderer/screens/Operations/components/Log.tsx
  src/renderer/services/multisigTx/common/types.ts
  src/renderer/services/multisigTx/common/utils.ts
  src/renderer/services/storage/common/types.ts
  src/renderer/services/storage/transactionStorage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: correct update call for multisig operations (#673)
  src/renderer/domain/transaction.ts
  src/renderer/screens/Operations/components/Log.tsx
  src/renderer/services/multisigTx/common/types.ts
  src/renderer/services/multisigTx/common/utils.ts
  src/renderer/services/storage/common/types.ts
  src/renderer/services/storage/transactionStorage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: multisig error outcome processing (#672)
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: added hover shadow to asset card and updated empty state
  src/renderer/screens/Balances/AssetBalanceCard/AssetBalanceCard.test.tsx
  src/renderer/screens/Balances/AssetBalanceCard/AssetBalanceCard.tsx
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: comment update
  src/renderer/screens/Balances/AssetBalanceCard/AssetBalanceCard.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: generate multisig messages
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationForm.tsx
  src/renderer/screens/Transfer/components/TransferForm/TransferForm.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix
