Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/renderer/shared/api/translation/locales/*.json": ["pnpm lint:i18n-fix"]
}

fix: remove proxy from config
  src/renderer/shared/config/chains/chains.json
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: remove proxy from config (#1519)
  src/renderer/shared/config/chains/chains.json
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: remove proxies tab on wallet details
  src/renderer/widgets/WalletDetails/ui/wallets/MultishardWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/ProxiedWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/VaultWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: explorers button on log
  src/renderer/pages/Operations/components/LogModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: tbaut-contact-filter-refactor
  src/renderer/features/contacts/ContactFilter/model/contact-filter.ts
  src/renderer/features/contacts/ContactFilter/ui/ContactFilter.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: correct sample
  src/renderer/features/contacts/ContactFilter/model/contact-filter.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: add tests
  src/renderer/features/contacts/ContactFilter/model/__tests__/contact-filter.test.tsx
  src/renderer/features/contacts/ContactFilter/model/contact-filter.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: sign screen
  src/renderer/widgets/AddProxyModal/lib/types.ts
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddProxyModal/model/proxy-form-model.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxyForm.tsx
  src/renderer/widgets/AddProxyModal/ui/AddProxyModal.tsx
  src/renderer/widgets/AddProxyModal/ui/ConfirmProxy.tsx
  src/renderer/widgets/AddProxyModal/ui/Confirmation.tsx
  src/renderer/widgets/AddProxyModal/ui/SignProxy.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: error overlay
  webpack/webpack.renderer.dev.ts
  webpack/webpack.renderer.stage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: update chains file
  src/renderer/shared/config/chains/chains.json
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: separation according to FSD
  pnpm-lock.yaml
  src/renderer/features/matrix/MatrixLogin/ui/LoginForm.test.tsx
  src/renderer/features/network/NetworksFilter/index.ts
  src/renderer/features/network/NetworksFilter/model/networks-filter-model.ts
  src/renderer/features/network/NetworksFilter/ui/NetworksFilter.tsx
  src/renderer/features/network/NetworksList/index.ts
  src/renderer/features/network/NetworksList/lib/networks-list-utils.ts
  src/renderer/features/network/NetworksList/model/__tests__/active-networks-model.test.ts
  src/renderer/features/network/NetworksList/model/__tests__/inactive-networks-model.test.ts
  src/renderer/features/network/NetworksList/model/__tests__/mocks/networks-mock.ts
  src/renderer/features/network/NetworksList/model/active-networks-model.ts
  src/renderer/features/network/NetworksList/model/inactive-networks-model.ts
  src/renderer/features/network/NetworksList/ui/ActiveNetwork.tsx
  src/renderer/features/network/NetworksList/ui/EmptyNetworks.tsx
  src/renderer/features/network/NetworksList/ui/InactiveNetwork.tsx
  src/renderer/features/network/NetworksList/ui/NetworksList.tsx
  src/renderer/features/network/NetworksList/ui/styles.css
  src/renderer/features/network/index.ts
  src/renderer/features/networks/NetworkList/index.ts
  src/renderer/features/networks/NetworkList/lib/networks-list-utils.ts
  src/renderer/features/networks/NetworkList/model/__tests__/mocks/network-list-mock.ts
  src/renderer/features/networks/NetworkList/model/__tests__/network-list-model.test.ts
  src/renderer/features/networks/NetworkList/model/network-list.ts
  src/renderer/features/networks/index.ts
  src/renderer/pages/Settings/Networks/Networks.test.tsx
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Settings/Networks/components/NetworkItem/NetworkItem.test.tsx
  src/renderer/pages/Settings/Networks/components/NetworkItem/NetworkItem.tsx
  src/renderer/pages/Settings/Networks/components/NetworkList/NetworkList.test.tsx
  src/renderer/pages/Settings/Networks/components/index.ts
  src/renderer/pages/Settings/Networks/model/manage-network-model.ts
  src/renderer/pages/Settings/Networks/model/networks-overview-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: rollback pnpm-lock typo
  pnpm-lock.yaml
Due: none

feat: input localization
  src/renderer/features/network/NetworksFilter/ui/NetworksFilter.tsx
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: model separation
  src/renderer/entities/asset/ui/AssetBalance/AssetBalance.tsx
  src/renderer/entities/chain/ui/OperationTitle/OperationTitle.tsx
  src/renderer/entities/network/lib/hooks.ts
  src/renderer/pages/Staking/Operations/Bond/Bond.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/pages/Staking/Operations/Destination/Destination.tsx
  src/renderer/pages/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/pages/Staking/Operations/Restake/Restake.tsx
  src/renderer/pages/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/pages/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/shared/core/types/utility.ts
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddProxyModal/model/confirm-model.ts
  src/renderer/widgets/AddProxyModal/model/form-model.ts
  src/renderer/widgets/AddProxyModal/model/sign-model.ts
  src/renderer/widgets/AddProxyModal/model/submit-model.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxyForm.tsx
  src/renderer/widgets/AddProxyModal/ui/AddProxyModal.tsx
  src/renderer/widgets/AddProxyModal/ui/Confirmation.tsx
  src/renderer/widgets/AddProxyModal/ui/SignProxy.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: typo
  src/renderer/features/network/NetworksList/ui/ActiveNetwork.tsx
  src/renderer/pages/Settings/Networks/Networks.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: error overlay (#1523)
  webpack/webpack.renderer.dev.ts
  webpack/webpack.renderer.stage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix comments
  src/renderer/entities/transaction/ui/QrCode/QrGenerator/common/utils.ts
  src/renderer/entities/transaction/ui/Scanning/ScanSingleframeQr.tsx
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/entities/walletConnect/lib/utils.ts
  src/renderer/features/operation/sign/ui/VaultSigning/VaultSigning.tsx
  src/renderer/shared/ui/Icon/data/explorer.tsx
  src/renderer/shared/ui/Identicon/Identicon.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: update config to evm
  src/renderer/shared/config/chains/chains.json
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: confirmation screen
  src/renderer/entities/chain/ui/ChainTitle/ChainTitle.tsx
  src/renderer/entities/price/model/currency-model.ts
  src/renderer/entities/price/model/price-provider-model.ts
  src/renderer/features/currency/CurrencyForm/model/currency-form.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/core/types/utility.ts
  src/renderer/shared/ui/Typography/Typography.stories.tsx
  src/renderer/shared/ui/Typography/common/TextBase.ts
  src/renderer/shared/ui/Typography/components/BodyText.tsx
  src/renderer/shared/ui/Typography/components/CaptionText.tsx
  src/renderer/shared/ui/Typography/components/FootnoteText.tsx
  src/renderer/shared/ui/Typography/components/HeaderTitleText.tsx
  src/renderer/shared/ui/Typography/components/HeadlineText.tsx
  src/renderer/shared/ui/Typography/components/HelpText.tsx
  src/renderer/shared/ui/Typography/components/LargeTitleText.tsx
  src/renderer/shared/ui/Typography/components/SmallTitleText.tsx
  src/renderer/shared/ui/Typography/components/TitleText.tsx
  src/renderer/shared/ui/Typography/index.ts
  src/renderer/widgets/AddProxyModal/lib/types.ts
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddProxyModal/model/confirm-model.ts
  src/renderer/widgets/AddProxyModal/model/form-model.ts
  src/renderer/widgets/AddProxyModal/model/sign-model.ts
  src/renderer/widgets/AddProxyModal/model/submit-model.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxyForm.tsx
  src/renderer/widgets/AddProxyModal/ui/AddProxyModal.tsx
  src/renderer/widgets/AddProxyModal/ui/Confirmation.tsx
  src/renderer/widgets/AddProxyModal/ui/SignProxy.tsx
  src/renderer/widgets/RemoveProxy/ui/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: get evm chains from wallet connect
  src/renderer/entities/walletConnect/lib/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: update tests
  src/renderer/entities/walletConnect/lib/__tests__/utils.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix comments
  src/renderer/entities/walletConnect/lib/constants.ts
  src/renderer/entities/walletConnect/lib/utils.ts
  src/renderer/features/operation/sign/ui/WalletConnect/WalletConnect.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: build param
  electron-builder.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: build param (#1531)
  electron-builder.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: update config to evm (#1527)
  src/renderer/shared/config/chains/chains.json
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: address comments
  src/renderer/features/contacts/ContactFilter/model/__tests__/contact-filter.test.tsx
  src/renderer/features/contacts/ContactFilter/model/contact-filter.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: use allSettled
  src/renderer/features/contacts/ContactFilter/model/__tests__/contact-filter.test.tsx
  src/renderer/features/contacts/ContactFilter/model/contact-filter.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx
