Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

chore: fixed pr comments
  src/renderer/entities/notification/ui/NotificationRow/NotificationRow.tsx
  src/renderer/entities/staking/index.ts
  src/renderer/entities/staking/ui/ValidatorsModal/ValidatorsModal.test.tsx
  src/renderer/entities/staking/ui/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/entities/staking/ui/ValidatorsTable/ValidatorsTable.tsx
  src/renderer/entities/staking/ui/index.ts
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Operations/components/OperationCardDetails.tsx
  src/renderer/pages/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/renderer/pages/Staking/Operations/components/Validators/Validators.tsx
  src/renderer/pages/Staking/Overview/Overview.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/SelectSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fixed validators modal test
  src/renderer/entities/staking/ui/ValidatorsModal/ValidatorsModal.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: wallet cleanup bugs (#1167)
  src/renderer/entities/notification/ui/NotificationRow/NotificationRow.tsx
  src/renderer/entities/staking/index.ts
  src/renderer/entities/staking/ui/ValidatorsModal/ValidatorsModal.test.tsx
  src/renderer/entities/staking/ui/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/entities/staking/ui/ValidatorsTable/ValidatorsTable.tsx
  src/renderer/entities/staking/ui/index.ts
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Operations/components/OperationCardDetails.tsx
  src/renderer/pages/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/renderer/pages/Staking/Operations/components/Validators/Validators.tsx
  src/renderer/pages/Staking/Overview/Overview.tsx
  src/renderer/pages/Staking/Overview/components/ValidatorsModal/ValidatorsModal.test.tsx
  src/renderer/pages/Staking/Overview/components/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/pages/Staking/Overview/components/index.ts
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/SelectSignatories.tsx
  src/renderer/widgets/ReceiveAssetModal/ui/ReceiveAssetModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: operations page crush
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Operations/components/OperationCardDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: operations page crush (#1168)
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Operations/components/OperationCardDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: multishard details
  src/renderer/entities/signatory/ui/SelectableSignatory/SelectableSignatory.tsx
  src/renderer/entities/signatory/ui/SignatoryCard/SignatoryCard.tsx
  src/renderer/entities/wallet/lib/useAddressInfo.tsx
  src/renderer/entities/wallet/ui/AddressWithExplorers/AddressWithExplorers.tsx
  src/renderer/entities/wallet/ui/ContactItem/ContactItem.tsx
  src/renderer/entities/wallet/ui/MultishardAccountsList/MultishardAccountsList.tsx
  src/renderer/entities/wallet/ui/SelectableShard/SelectableShard.tsx
  src/renderer/entities/wallet/ui/WalletRow/WalletRow.tsx
  src/renderer/entities/wallet/ui/index.ts
  src/renderer/shared/lib/hooks/index.ts
  src/renderer/shared/lib/hooks/useModalClose.ts
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
  src/renderer/widgets/WalletDetails/ui/MultishardWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletDetailsProvider.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fix comments
  src/renderer/entities/walletConnect/model/wallet-connect-model.ts
  src/renderer/widgets/WalletDetails/common/const.ts
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: add test case for remove accounts
  src/renderer/entities/wallet/model/__tests__/wallet-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: no redirect
  src/renderer/app/App.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: no redirect (#1170)
  src/renderer/app/App.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: select shards
  src/renderer/entities/asset/ui/AssetCard/AssetCard.tsx
  src/renderer/features/wallets/WalletSelect/WalletCard.tsx
  src/renderer/features/wallets/WalletSelect/WalletGroup.tsx
  src/renderer/features/wallets/WalletSelect/common/utils.ts
  src/renderer/pages/Assets/AssetsList/AssetsList.tsx
  src/renderer/pages/Assets/AssetsList/common/types.ts
  src/renderer/pages/Assets/AssetsList/common/utils.ts
  src/renderer/pages/Assets/AssetsList/components/SelectShardModal/SelectShardModal.tsx
  src/renderer/widgets/Navigation/ui/Navigation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/widgets/WalletDetails/common/utils.ts
  src/renderer/widgets/WalletDetails/model/wallet-connect-details-model.ts
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/widgets/WalletDetails/common/utils.ts
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: qr code second time
  src/renderer/pages/Onboarding/WalletConnect/WalletConnect.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: wallet dropdown
  src/renderer/features/wallets/WalletSelect/ui/WalletPanel.tsx
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/widgets/WalletDetails/common/utils.ts
  src/renderer/widgets/WalletDetails/lib/constants.ts
  src/renderer/widgets/WalletDetails/lib/utils.ts
  src/renderer/widgets/WalletDetails/model/wallet-connect-details-model.ts
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: wallet display on log screen fix
  src/renderer/assets/images/walletTypes/novaWallet.svg
  src/renderer/entities/wallet/lib/wallet-utils.ts
  src/renderer/pages/Operations/components/LogModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fixed pr comments
  src/renderer/pages/Operations/common/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Feat: signing screen update (#1164)
  src/renderer/components/common/QrCode/QrGeneratorContainer/QrGeneratorContainer.tsx
  src/renderer/components/common/Scanning/ScanSingleframeQr.tsx
  src/renderer/entities/wallet/ui/cards/WalletCardSm/WalletCardSm.tsx
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fix comment
  src/renderer/widgets/WalletDetails/model/wallet-connect-details-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Feat: wallet connect reconnect (#1161)
  src/renderer/assets/images/functionals/upload-file.svg
  src/renderer/assets/images/misc/document.svg
  src/renderer/assets/video/wallet_connect_reconnect.mp4
  src/renderer/assets/video/wallet_connect_reconnect.webm
  src/renderer/entities/wallet/ui/MultiAccountsList/MultiAccountsList.tsx
  src/renderer/entities/walletConnect/model/wallet-connect-model.ts
  src/renderer/features/operation/sign/ui/WalletConnect/WalletConnect.tsx
  src/renderer/pages/Onboarding/WalletConnect/model/wc-onboarding-model.ts
  src/renderer/pages/Onboarding/Welcome/Welcome.tsx
  src/renderer/shared/ui/Icon/data/functionals.tsx
  src/renderer/shared/ui/Icon/data/misc.tsx
  src/renderer/shared/ui/Modals/BaseModal/BaseModal.tsx
  src/renderer/shared/ui/index.ts
  src/renderer/widgets/WalletDetails/lib/constants.ts
  src/renderer/widgets/WalletDetails/lib/utils.ts
  src/renderer/widgets/WalletDetails/model/wallet-connect-details-model.ts
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: wallet connect reconnect
  src/renderer/assets/images/functionals/upload-file.svg
  src/renderer/assets/images/misc/document.svg
  src/renderer/assets/video/wallet_connect_reconnect.mp4
  src/renderer/assets/video/wallet_connect_reconnect.webm
  src/renderer/entities/wallet/ui/MultiAccountsList/MultiAccountsList.tsx
  src/renderer/entities/walletConnect/model/wallet-connect-model.ts
  src/renderer/features/operation/sign/ui/WalletConnect/WalletConnect.tsx
  src/renderer/pages/Onboarding/WalletConnect/model/wc-onboarding-model.ts
  src/renderer/pages/Onboarding/Welcome/Welcome.tsx
  src/renderer/shared/ui/Icon/data/functionals.tsx
  src/renderer/shared/ui/Icon/data/misc.tsx
  src/renderer/shared/ui/Modals/BaseModal/BaseModal.tsx
  src/renderer/shared/ui/index.ts
  src/renderer/widgets/WalletDetails/lib/constants.ts
  src/renderer/widgets/WalletDetails/lib/utils.ts
  src/renderer/widgets/WalletDetails/model/wallet-connect-details-model.ts
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: changed valida signatory type
  src/renderer/entities/wallet/lib/wallet-utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: operation details crush
  src/renderer/entities/staking/lib/useValidatorsMap.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: hide validators on details when there is no validators
  src/renderer/pages/Operations/components/OperationCardDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/assets/images/functionals/delete.svg
  src/renderer/entities/wallet/model/__tests__/wallet-model.test.ts
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/entities/walletConnect/model/wallet-connect-model.ts
  src/renderer/pages/Onboarding/WalletConnect/NovaWallet.tsx
  src/renderer/pages/Onboarding/WalletConnect/WalletConnect.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr review
  src/renderer/pages/Assets/AssetsList/common/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: pr review
  src/renderer/widgets/WalletDetails/lib/types.ts
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
  src/renderer/widgets/WalletDetails/ui/MultishardWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: changed reject button display condition
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/entities/wallet/model/__tests__/wallet-model.test.ts
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: missing i18n
  src/renderer/widgets/WalletDetails/ui/MultisigWalletDetails.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Multishard details (#1169)
  src/renderer/entities/signatory/ui/SelectableSignatory/SelectableSignatory.tsx
  src/renderer/entities/signatory/ui/SignatoryCard/SignatoryCard.tsx
  src/renderer/entities/wallet/lib/useAddressInfo.tsx
  src/renderer/entities/wallet/ui/AddressWithExplorers/AddressWithExplorers.tsx
  src/renderer/entities/wallet/ui/ContactItem/ContactItem.tsx
  src/renderer/entities/wallet/ui/MultishardAccountsList/MultishardAccountsList.tsx
  src/renderer/entities/wallet/ui/SelectableShard/SelectableShard.tsx
  src/renderer/entities/wallet/ui/WalletRow/WalletRow.tsx
  src/renderer/entities/wallet/ui/index.ts
  src/renderer/shared/lib/hooks/index.ts
  src/renderer/shared/lib/hooks/useModalClose.ts
  src/renderer/widgets/WalletDetails/lib/types.ts
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
  src/renderer/widgets/WalletDetails/ui/MultishardWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletDetailsProvider.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Fix: Operation details crush (#1173)
  src/renderer/entities/staking/lib/useValidatorsMap.ts
  src/renderer/pages/Operations/components/OperationCardDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr comments fix
  src/renderer/pages/Operations/components/LogModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: changed reject button display condition (#1175)
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix naming
  src/renderer/pages/Onboarding/WalletConnect/NovaWallet.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix design
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/SelectSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx
