Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: unit tests
  .github/workflows/ci_unit_tests.yaml
  src/renderer/entities/transaction/lib/mock/extrinsicService.mock.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: easing
  src/renderer/shared/ui-kit/Carousel/Carousel.tsx
  src/renderer/shared/ui-kit/_helpers/easing.ts
  vite.config.renderer.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: system tests
  .github/workflows/system_tests.yml
Due: none

fix: card stack
  src/renderer/shared/ui-kit/CardStack/CardStack.css
  src/renderer/shared/ui-kit/CardStack/CardStack.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

feat: change flexible icon
  src/renderer/entities/multisig/model/multisigs-model.ts
  src/renderer/entities/transaction/ui/ProxyDepositLabel/ProxyDepositLabel.tsx
  src/renderer/entities/transaction/ui/index.ts
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/entities/wallet/ui/Cards/WalletCardLg.tsx
  src/renderer/entities/wallet/ui/WalletIcon/WalletIcon.tsx
  src/renderer/features/flexible-multisig-create/components/ConfirmationStep.tsx
  src/renderer/features/flexible-multisig-navigation/index.tsx
  src/renderer/features/proxy-add-pure/ui/AddPureProxiedForm.tsx
  src/renderer/features/proxy-add/ui/AddProxyForm.tsx
  src/renderer/shared/assets/images/walletTypes/flexibleMultisigInactiveBackground.svg
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/wallet.ts
  src/renderer/shared/ui/Icon/data/walletType.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: removed integration tests actions
  .github/workflows/integration-test/action.yaml
  .github/workflows/integration_test_runner.yaml
  .gitignore
  package.json
  tests/integrations/.babelrc.js
  tests/integrations/jest.config.ts
  tests/integrations/setup.integration.tests.ts
  vitest.config.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: optimized tests
  package.json
  pnpm-lock.yaml
  src/renderer/entities/price/model/__tests__/price-provider-model.test.ts
  src/renderer/entities/transaction/lib/__tests__/callDataDecoder.test.ts
  src/renderer/entities/transaction/lib/__tests__/extrinsicService.test.ts
  src/renderer/features/proxies/workers/__tests__/proxy-worker.test.ts
  src/renderer/shared/api/substrate-helpers/asyncTaskPool.test.ts
  src/renderer/shared/di/createAsyncPipeline.test.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

feat: pv wallet details
  src/renderer/app/modelInit.ts
  src/renderer/features/flexible-multisig-navigation/index.tsx
  src/renderer/features/wallet-details/index.tsx
  src/renderer/features/wallet-details/model/wallet-details-model.ts
  src/renderer/features/wallet-details/ui/components/WalletDetails.tsx
  src/renderer/features/wallet-details/ui/wallets/SimpleWalletDetails.tsx
  src/renderer/features/wallet-details/ui/wallets/VaultWalletDetails.tsx
  src/renderer/features/wallet-details/ui/wallets/WalletConnectDetails.tsx
  src/renderer/features/wallet-pairing-ledger/index.tsx
  src/renderer/features/wallet-pairing-multisig/index.tsx
  src/renderer/features/wallet-pairing-polkadot-vault/index.tsx
  src/renderer/features/wallet-pairing-wallet-connect/index.tsx
  src/renderer/features/wallet-polkadot-vault/components/WalletGroup.tsx
  src/renderer/features/wallet-polkadot-vault/index.tsx
  src/renderer/features/wallet-polkadot-vault/model/wallets.ts
  src/renderer/features/wallet-select/model/wallet-select-model.ts
  src/renderer/features/wallet-wallet-connect/index.tsx
  src/renderer/shared/config/features/index.ts
  src/renderer/shared/di/helpers.ts
  src/renderer/shared/i18n/locales/en.json
  src/renderer/shared/ui-kit/Tabs/Tabs.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

feat: multisig creation flow
  public/browserconfig.xml
  src/renderer/app/modelInit.ts
  src/renderer/features/flexible-multisig-create/components/FlexibleMultisigWallet.tsx
  src/renderer/features/flexible-multisig-create/model/flexible-multisig-create.ts
  src/renderer/features/wallet-details/index.tsx
  src/renderer/features/wallet-multisig/components/WalletGroup.tsx
  src/renderer/features/wallet-multisig/index.tsx
  src/renderer/features/wallet-multisig/model/wallets.ts
  src/renderer/features/wallet-pairing-multisig/components/MultisigWallet.tsx
  src/renderer/features/wallet-pairing-multisig/components/SelectMultisigWalletType.tsx
  src/renderer/features/wallet-pairing-multisig/index.tsx
  src/renderer/features/wallet-pairing-multisig/model/flow-model.ts
  src/renderer/features/wallet-pairing-wallet-connect/index.tsx
  src/renderer/features/wallet-proxied/components/WalletGroup.tsx
  src/renderer/features/wallet-proxied/index.tsx
  src/renderer/features/wallet-proxied/model/wallets.ts
  src/renderer/features/wallet-watch-only/index.tsx
  src/renderer/shared/config/features/index.ts
  src/renderer/shared/di/createSlot.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

feat: details
  src/renderer/features/wallet-details/model/wallet-details-model.ts
  src/renderer/features/wallet-details/ui/components/WalletDetails.tsx
  src/renderer/features/wallet-details/ui/wallets/ProxiedWalletDetails.tsx
  src/renderer/features/wallet-select/components/WalletSelect.tsx
  src/renderer/features/wallet-select/model/wallet-select-model.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: staging
  .github/workflows/build_stage.yaml
  README.md
  config/index.js
  docker/Dockerfile.release
  package.json
  scripts/postbuild.js
  src/main/factories/window.ts
  src/main/shared/constants/environment.ts
  vite.config.main.ts
  vite.config.preload.ts
  vite.config.renderer.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: various bugs with new build pipeline
  .github/workflows/global_coverage_report.yml
  config/index.js
  vite.config.main.ts
  vite.config.preload.ts
  vite.config.renderer.ts
  vitest.config.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: readme
  README.md
Due: none

fix: various bugs with new build pipeline
  .github/workflows/global_coverage_report.yml
  README.md
  config/index.js
  vite.config.main.ts
  vite.config.preload.ts
  vite.config.renderer.ts
  vitest.config.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: gh actions
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: relative paths
  scripts/updateTestData.js
  tests/system/utils/readConfig.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

docs: Spelling error.
  docs/effector.md
Due: none

docs: Spelling error. (#2862)
  docs/effector.md
Due: none

fix: playwright tests
  .github/workflows/system_tests.yml
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/system/pages/BaseModalWindow.ts
  tests/system/pages/BasePage.ts
  tests/system/pages/modals/AssetsSettingsModalWindow.ts
  tests/system/pages/modals/TransferModalWindow.ts
  tests/system/pages/modals/WalletModalWindow.ts
  tests/system/utils/baseRegularFixture.ts
  tests/system/utils/interactWithDatabase.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: remove branch spec
  .github/workflows/system_tests.yml
Due: none

fix: typo
  .github/workflows/system_tests.yml
Due: none

fix: base url
  playwright.config.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: startup command
  docker/Dockerfile
  playwright.config.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: startup command
  docker/Dockerfile
Due: none

fix: playwright tests (#2931)
  .github/workflows/system_tests.yml
  docker/Dockerfile
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/system/pages/BaseModalWindow.ts
  tests/system/pages/BasePage.ts
  tests/system/pages/modals/AssetsSettingsModalWindow.ts
  tests/system/pages/modals/TransferModalWindow.ts
  tests/system/pages/modals/WalletModalWindow.ts
  tests/system/utils/baseRegularFixture.ts
  tests/system/utils/interactWithDatabase.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: relative paths
  .github/workflows/system_tests.yml
  config/index.js
  package.json
  playwright.config.ts
  pnpm-lock.yaml
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: package.json command
  package.json
Due: none

fix: github actions (#2930)
  .github/workflows/system_tests.yml
  config/index.js
  docker/Dockerfile
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  scripts/updateTestData.js
  tests/system/pages/BaseModalWindow.ts
  tests/system/pages/BasePage.ts
  tests/system/pages/modals/AssetsSettingsModalWindow.ts
  tests/system/pages/modals/TransferModalWindow.ts
  tests/system/pages/modals/WalletModalWindow.ts
  tests/system/utils/baseRegularFixture.ts
  tests/system/utils/interactWithDatabase.ts
  tests/system/utils/readConfig.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: github actions
  .github/workflows/system_tests.yml
  config/index.js
  docker/Dockerfile
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  scripts/updateTestData.js
  tests/system/pages/BaseModalWindow.ts
  tests/system/pages/BasePage.ts
  tests/system/pages/modals/AssetsSettingsModalWindow.ts
  tests/system/pages/modals/TransferModalWindow.ts
  tests/system/pages/modals/WalletModalWindow.ts
  tests/system/utils/baseRegularFixture.ts
  tests/system/utils/interactWithDatabase.ts
  tests/system/utils/readConfig.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: save
  .github/workflows/build.yaml
  config/index.js
  package.json
Due: pnpm lint:generic

fix: save
  .github/workflows/build.yaml
Due: none

fix: simple lock_period_diff
  src/renderer/entities/governance/ui/LockPeriodDiff.tsx
  src/renderer/features/operations/OperationsConfirm/Referendum/RemoveVote/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/RevokeDelegation/ui/Confirmation.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

feat: update modal components
  src/renderer/entities/staking/ui/AccountsModal/AccountsModal.tsx
  src/renderer/entities/staking/ui/SelectedValidatorsModal/SelectedValidatorsModal.tsx
  src/renderer/entities/staking/ui/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/features/governance/components/OffChainDataSource/OffChainDataSource.tsx
  src/renderer/features/governance/components/ReferendumDetails/AdvancedModal.tsx
  src/renderer/features/governance/components/ReferendumDetails/MyVotesModal.tsx
  src/renderer/features/governance/components/ReferendumDetails/ReferendumDetailsModal.tsx
  src/renderer/features/governance/components/VotingHistory/VotingHistoryDialog.tsx
  src/renderer/features/operations/OperationsConfirm/common/ConfirmSlider.tsx
  src/renderer/shared/ui-entities/TransactionDetails/TransactionDetails.tsx
  src/renderer/widgets/CurrentDelegationsModal/components/CurrentDelegationModal.tsx
  src/renderer/widgets/DelegateDetails/ui/DelegateDetails.tsx
  src/renderer/widgets/DelegateModal/ui/DelegateForm.tsx
  src/renderer/widgets/DelegationModal/components/DelegationList.tsx
  src/renderer/widgets/DelegationModal/components/DelegationModal.tsx
  src/renderer/widgets/EditDelegationModal/ui/DelegateForm.tsx
  src/renderer/widgets/VoteModal/ui/VoteModal.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: simple lock_period_diff (#2934)
  src/renderer/entities/governance/ui/LockPeriodDiff.tsx
  src/renderer/features/operations/OperationsConfirm/Referendum/RemoveVote/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/RevokeDelegation/ui/Confirmation.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

Path conditions:
  pnpm types:files globals.d.ts src/main/shared/bridge.ts: any of: *.{ts,tsx}
  pnpm lint:generic: any of: *.{js,ts,tsx}
