Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/renderer/shared/api/translation/locales/*.json": ["pnpm lint:i18n-fix"]
}

feat: balance validation
  src/renderer/features/wallets/KeyConstructor/ui/KeysList.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/Staking/Bond/model/form-model.ts
  src/renderer/widgets/Staking/Bond/model/validators-model.ts
  src/renderer/widgets/Staking/Unstake/model/form-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: pr review
  src/renderer/entities/transaction/lib/common/constants.ts
  src/renderer/entities/transaction/lib/transactionBuilder.ts
  src/renderer/pages/Staking/Operations/components/OperationForm/OperationForm.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/AddProxyModal/lib/submit-proxy-utils.ts
  src/renderer/widgets/AddProxyModal/model/form-model.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxyForm.tsx
  src/renderer/widgets/AddPureProxiedModal/model/form-model.ts
  src/renderer/widgets/AddPureProxiedModal/ui/AddPureProxiedForm.tsx
  src/renderer/widgets/RemovePureProxyModal/lib/submit-proxy-utils.ts
  src/renderer/widgets/RemovePureProxyModal/model/form-model.ts
  src/renderer/widgets/RemovePureProxyModal/ui/RemovePureProxyForm.tsx
  src/renderer/widgets/Transfer/model/form-model.ts
  src/renderer/widgets/Unstake/model/form-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: maxLength in i18n
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

feat: destination
  src/renderer/shared/ui/RadioGroup/RadioGroup.tsx
  src/renderer/shared/ui/types.ts
  src/renderer/widgets/AddProxyModal/model/form-model.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxyForm.tsx
  src/renderer/widgets/Staking/Bond/model/form-model.ts
  src/renderer/widgets/Staking/Bond/ui/BondForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: update model and add tests
  src/renderer/entities/network/model/network-model.ts
  src/renderer/features/network/NetworkSelector/index.ts
  src/renderer/features/network/NetworkSelector/lib/__tests__/network-selector-utils.test.ts
  src/renderer/features/network/NetworkSelector/lib/network-selector-utils.ts
  src/renderer/features/network/NetworkSelector/lib/types.ts
  src/renderer/features/network/NetworkSelector/model/__tests__/network-selector-model.test.ts
  src/renderer/features/network/NetworkSelector/model/network-selector-model.ts
  src/renderer/features/network/NetworkSelector/ui/NetworkSelector.tsx
  src/renderer/pages/Settings/Networks/Networks.test.tsx
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Settings/Networks/model/__tests__/networks-overview-model.test.ts
  src/renderer/pages/Settings/Networks/model/manage-network-model.ts
  src/renderer/pages/Settings/Networks/model/networks-overview-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: add remove proxy with proxy
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddProxyModal/model/form-model.ts
  src/renderer/widgets/RemoveProxy/model/__tests__/remove-proxy-model.test.ts
  src/renderer/widgets/RemoveProxy/model/remove-proxy-model.ts
  src/renderer/widgets/RemoveProxy/ui/Confirmation.tsx
  src/renderer/widgets/RemoveProxy/ui/RemoveProxy.tsx
  src/renderer/widgets/RemoveProxy/ui/Submit.tsx
  src/renderer/widgets/RemoveProxyModal/index.ts
  src/renderer/widgets/RemoveProxyModal/lib/remove-proxy-utils.ts
  src/renderer/widgets/RemoveProxyModal/lib/submit-proxy-utils.ts
  src/renderer/widgets/RemoveProxyModal/lib/types.ts
  src/renderer/widgets/RemoveProxyModal/model/confirm-model.ts
  src/renderer/widgets/RemoveProxyModal/model/form-model.ts
  src/renderer/widgets/RemoveProxyModal/model/remove-proxy-model.ts
  src/renderer/widgets/RemoveProxyModal/ui/Confirm.tsx
  src/renderer/widgets/RemoveProxyModal/ui/RemoveProxy.tsx
  src/renderer/widgets/RemoveProxyModal/ui/RemoveProxyForm.tsx
  src/renderer/widgets/WalletDetails/ui/components/ProxiesList.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/ProxiedWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: remove console .log
  src/renderer/widgets/RemoveProxyModal/ui/RemoveProxyForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: update threshold
  jest.config.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: update threshold (#1634)
  jest.config.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: remove wallet after add proxy
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddProxyModal/model/confirm-model.ts
  src/renderer/widgets/AddProxyModal/model/form-model.ts
  src/renderer/widgets/RemoveProxyModal/model/confirm-model.ts
  src/renderer/widgets/RemoveProxyModal/model/remove-proxy-model.ts
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix tests
  src/renderer/widgets/AddProxyModal/model/__tests__/add-proxy-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: remove proxy
  src/renderer/widgets/RemoveProxyModal/model/remove-proxy-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: update model
  src/renderer/entities/network/model/network-model.ts
  src/renderer/features/network/NetworkSelector/index.ts
  src/renderer/features/network/NetworkSelector/lib/network-selector-utils.ts
  src/renderer/features/network/NetworkSelector/lib/types.ts
  src/renderer/features/network/NetworkSelector/model/__tests__/network-selector-model.test.ts
  src/renderer/features/network/NetworkSelector/model/network-selector-model.ts
  src/renderer/features/network/NetworkSelector/ui/NetworkSelector.tsx
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Settings/Networks/lib/constants.ts
  src/renderer/pages/Settings/Networks/model/manage-network-model.ts
  src/renderer/pages/Settings/Networks/model/networks-overview-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: validators
  src/renderer/entities/staking/api/eraService.ts
  src/renderer/entities/staking/api/index.ts
  src/renderer/entities/staking/lib/types.ts
  src/renderer/entities/staking/lib/useValidatorsMap.ts
  src/renderer/pages/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Overview/Overview.tsx
  src/renderer/pages/Staking/Overview/components/TimeToEra/TimeToEra.tsx
  src/renderer/shared/ui/Checkbox/Checkbox.tsx
  src/renderer/widgets/Staking/Bond/model/bond-model.ts
  src/renderer/widgets/Staking/Bond/model/validators-model.ts
  src/renderer/widgets/Staking/Bond/ui/Bond.tsx
  src/renderer/widgets/Staking/Bond/ui/Validators.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: test
  src/renderer/pages/Settings/Networks/model/__tests__/networks-overview-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: deposit calculate
  src/renderer/widgets/AddProxyModal/model/confirm-model.ts
  src/renderer/widgets/AddProxyModal/ui/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: remove wallet after last proxy removed
  src/renderer/widgets/RemoveProxyModal/model/remove-proxy-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: add tests
  src/renderer/pages/Settings/Networks/model/__tests__/manage-network-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: add more tests
  src/renderer/features/network/NetworkSelector/lib/__tests__/network-selector-utils.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: typo
  src/renderer/features/network/NetworkSelector/lib/__tests__/network-selector-utils.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: withdraw unstaked
  src/renderer/entities/transaction/lib/transactionBuilder.ts
  src/renderer/pages/Staking/Overview/Overview.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/Withdraw/index.ts
  src/renderer/widgets/Withdraw/lib/types.ts
  src/renderer/widgets/Withdraw/lib/withdraw-utils.ts
  src/renderer/widgets/Withdraw/model/confirm-model.ts
  src/renderer/widgets/Withdraw/model/form-model.ts
  src/renderer/widgets/Withdraw/model/withdraw-model.ts
  src/renderer/widgets/Withdraw/ui/Confirmation.tsx
  src/renderer/widgets/Withdraw/ui/Withdraw.tsx
  src/renderer/widgets/Withdraw/ui/WithdrawForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: bond_nominate flow
  src/renderer/entities/operation/ui/SignButton.tsx
  src/renderer/entities/staking/ui/SelectedValidatorsModal/SelectedValidatorsModal.tsx
  src/renderer/entities/staking/ui/ValidatorsTable/ValidatorsTable.tsx
  src/renderer/entities/transaction/lib/common/types.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/entities/transaction/lib/validateBalance.ts
  src/renderer/entities/transaction/ui/Fee/Fee.test.tsx
  src/renderer/entities/transaction/ui/Fee/Fee.tsx
  src/renderer/entities/transaction/ui/MultisigDeposit/MultisigDeposit.tsx
  src/renderer/features/operations/OperationSubmit/model/submit-model.ts
  src/renderer/pages/Operations/components/ActionSteps/Submit.tsx
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
  src/renderer/pages/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/renderer/pages/Staking/Operations/components/Submit/Submit.tsx
  src/renderer/pages/Staking/Overview/Overview.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/ui/Checkbox/Checkbox.tsx
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/add-pure-proxied-model.ts
  src/renderer/widgets/RemoveProxy/ui/RemoveProxy.tsx
  src/renderer/widgets/RemoveProxy/ui/Submit.tsx
  src/renderer/widgets/RemovePureProxyModal/model/remove-pure-proxy-model.ts
  src/renderer/widgets/RemovePureProxyModal/ui/Warning.tsx
  src/renderer/widgets/Staking/Bond/lib/bond-utils.ts
  src/renderer/widgets/Staking/Bond/lib/types.ts
  src/renderer/widgets/Staking/Bond/model/bond-model.ts
  src/renderer/widgets/Staking/Bond/model/confirm-model.ts
  src/renderer/widgets/Staking/Bond/model/form-model.ts
  src/renderer/widgets/Staking/Bond/model/validators-model.ts
  src/renderer/widgets/Staking/Bond/ui/Bond.tsx
  src/renderer/widgets/Staking/Bond/ui/BondForm.tsx
  src/renderer/widgets/Staking/Bond/ui/Confirmation.tsx
  src/renderer/widgets/Staking/Bond/ui/Validators.tsx
  src/renderer/widgets/Staking/Unstake/lib/types.ts
  src/renderer/widgets/Staking/Unstake/model/unstake-model.ts
  src/renderer/widgets/Staking/Unstake/ui/Confirmation.tsx
  src/renderer/widgets/Transfer/model/transfer-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: bond_nominate flow
  src/renderer/pages/Operations/components/ActionSteps/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: return to stake
  src/renderer/entities/transaction/lib/transactionBuilder.ts
  src/renderer/pages/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Restake/Restake.tsx
  src/renderer/pages/Staking/Overview/Overview.tsx
  src/renderer/pages/Staking/index.ts
  src/renderer/widgets/RestakeModal/index.ts
  src/renderer/widgets/RestakeModal/lib/restake-utils.ts
  src/renderer/widgets/RestakeModal/lib/types.ts
  src/renderer/widgets/RestakeModal/model/confirm-model.ts
  src/renderer/widgets/RestakeModal/model/form-model.ts
  src/renderer/widgets/RestakeModal/model/restake-model.ts
  src/renderer/widgets/RestakeModal/ui/Confirmation.tsx
  src/renderer/widgets/RestakeModal/ui/Restake.tsx
  src/renderer/widgets/RestakeModal/ui/RestakeForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: removed old Bond
  src/renderer/app/index.tsx
  src/renderer/pages/Staking/Operations/Bond/Bond.tsx
  src/renderer/pages/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/index.ts
  src/renderer/pages/index.tsx
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: sort signatories by accountId
  package.json
  src/renderer/entities/transaction/lib/extrinsicService.ts
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: moved to BondNominate
  src/renderer/pages/Staking/Overview/Overview.tsx
  src/renderer/widgets/Staking/BondNominate/index.ts
  src/renderer/widgets/Staking/BondNominate/lib/bond-utils.ts
  src/renderer/widgets/Staking/BondNominate/lib/types.ts
  src/renderer/widgets/Staking/BondNominate/model/bond-model.ts
  src/renderer/widgets/Staking/BondNominate/model/confirm-model.ts
  src/renderer/widgets/Staking/BondNominate/model/form-model.ts
  src/renderer/widgets/Staking/BondNominate/model/validators-model.ts
  src/renderer/widgets/Staking/BondNominate/ui/Bond.tsx
  src/renderer/widgets/Staking/BondNominate/ui/BondForm.tsx
  src/renderer/widgets/Staking/BondNominate/ui/Confirmation.tsx
  src/renderer/widgets/Staking/BondNominate/ui/Validators.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: renamed UI entry point
  src/renderer/pages/Staking/Overview/Overview.tsx
  src/renderer/widgets/Staking/BondNominate/index.ts
  src/renderer/widgets/Staking/BondNominate/ui/BondNominate.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: change reward destination
  src/renderer/entities/transaction/lib/transactionBuilder.ts
  src/renderer/pages/Staking/Overview/Overview.tsx
  src/renderer/widgets/Staking/RewardDestination/index.ts
  src/renderer/widgets/Staking/RewardDestination/lib/destination-utils.ts
  src/renderer/widgets/Staking/RewardDestination/lib/types.ts
  src/renderer/widgets/Staking/RewardDestination/model/confirm-model.ts
  src/renderer/widgets/Staking/RewardDestination/model/destination-model.ts
  src/renderer/widgets/Staking/RewardDestination/model/form-model.ts
  src/renderer/widgets/Staking/RewardDestination/ui/Confirmation.tsx
  src/renderer/widgets/Staking/RewardDestination/ui/RewardDestination.tsx
  src/renderer/widgets/Staking/RewardDestination/ui/RewardDestinationForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: update
  src/renderer/features/network/NetworkSelector/lib/__tests__/network-selector-utils.test.ts
  src/renderer/features/network/NetworkSelector/ui/NetworkSelector.tsx
  src/renderer/pages/Settings/Networks/model/networks-overview-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx
