Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/renderer/shared/api/translation/locales/*.json": ["pnpm lint:i18n-fix"]
}

chore: fix comments
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: remove test with network list query in props
  src/renderer/features/networks/NetworkList/model/network-list.ts
  src/renderer/features/networks/NetworkList/networks-list-utils.ts
  src/renderer/pages/Settings/Networks/Networks.test.tsx
  src/renderer/pages/Settings/Networks/components/NetworkList/NetworkList.test.tsx
  src/renderer/pages/Settings/Networks/components/NetworkList/NetworkList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: validation
  src/renderer/entities/transaction/lib/common/types.ts
  src/renderer/entities/transaction/lib/extrinsicService.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/entities/transaction/ui/ProxyDeposit/ProxyDeposit.tsx
  src/renderer/shared/api/proxy/index.ts
  src/renderer/shared/api/proxy/service/proxyService.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/assets/images/functionals/add-circle.svg
  src/renderer/shared/config/chains/chains_dev.json
  src/renderer/shared/ui/Icon/data/functionals.tsx
  src/renderer/widgets/AddProxyModal/lib/types.ts
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddProxyModal/model/proxy-form-model.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxyForm.tsx
  src/renderer/widgets/AddProxyModal/ui/AddProxyModal.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultishardWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/VaultWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: change text based on mockups
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

chore: fix comments
  src/renderer/entities/transaction/ui/QrCode/QrReader/QrReader.tsx
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/pages/Onboarding/Vault/ManageSingleshard/ManageSingleshard.tsx
  src/renderer/pages/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/lib/utils/address.ts
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: deposit, txWrapper
  src/renderer/entities/transaction/ui/FeeWithLabel/FeeWithLabel.test.tsx
  src/renderer/entities/transaction/ui/FeeWithLabel/FeeWithLabel.tsx
  src/renderer/entities/transaction/ui/MultisigDeposit/MultisigDeposit.tsx
  src/renderer/entities/transaction/ui/ProxyDeposit/ProxyDeposit.tsx
  src/renderer/entities/transaction/ui/index.ts
  src/renderer/widgets/AddProxyModal/lib/add-proxy-utils.ts
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddProxyModal/model/proxy-form-model.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxyForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: matrix room create condition
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: sign transactions in evm networks
  src/renderer/entities/transaction/ui/QrCode/QrGenerator/QrTxGenerator.tsx
  src/renderer/entities/transaction/ui/QrCode/QrGenerator/common/constants.ts
  src/renderer/entities/transaction/ui/QrCode/QrGenerator/common/utils.ts
  src/renderer/entities/transaction/ui/Scanning/ScanMultiframeQr.tsx
  src/renderer/entities/transaction/ui/Scanning/ScanSingleframeQr.tsx
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/operation/sign/lib/utils.ts
  src/renderer/features/operation/sign/ui/VaultSigning/VaultSigning.tsx
  src/renderer/shared/ui/Identicon/Identicon.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: identicon default theme
  src/renderer/shared/ui/Identicon/Identicon.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: exclude evm chains from wallet connect chains
  src/renderer/entities/walletConnect/lib/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: add tests for network-list-model
  src/renderer/entities/network/model/network-model.ts
  src/renderer/features/networks/NetworkList/model/__tests__/mocks/network-list-mock.ts
  src/renderer/features/networks/NetworkList/model/__tests__/network-list-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: move utils to lib in an object and remove logs
  src/renderer/features/networks/NetworkList/index.ts
  src/renderer/features/networks/NetworkList/lib/networks-list-utils.ts
  src/renderer/features/networks/NetworkList/model/network-list.ts
  src/renderer/features/networks/index.ts
  src/renderer/pages/Settings/Networks/components/NetworkList/NetworkList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: remove log
  src/renderer/pages/Settings/Networks/Networks.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: signatories
  src/renderer/widgets/AddProxyModal/model/proxy-form-model.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxyForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: evm signature transform
  src/renderer/features/operation/sign/lib/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: matrix room create condition (#1503)
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: nova wallet icon
  src/renderer/app/App.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: more common solution for nova wallet icon
  src/renderer/app/App.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/MultiChainMultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/SingleChainMultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/ConfirmSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: accounts list on select signatories fix: back button for multisig creation
  src/renderer/entities/transaction/ui/QrCode/QrGenerator/common/constants.ts
  src/renderer/shared/core/types/general.ts
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/MultiChainMultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/MultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/SingleChainMultisigWallet.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectAccountSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: correct crypto type for single shard
  src/renderer/pages/Onboarding/Vault/ManageSingleshard/ManageSingleshard.tsx
  src/renderer/shared/core/types/general.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: validate fee
  src/renderer/entities/balance/lib/common/utils.ts
  src/renderer/widgets/AddProxyModal/model/proxy-form-model.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxyForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: disallow sharded for KeyType.Main
  src/renderer/features/wallets/KeyConstructor/model/__tests__/constructor-model.test.ts
  src/renderer/features/wallets/KeyConstructor/model/constructor-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: disallow sharded for KeyType.Main (#1512)
  src/renderer/features/wallets/KeyConstructor/model/__tests__/constructor-model.test.ts
  src/renderer/features/wallets/KeyConstructor/model/constructor-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: add moonscan icon
  src/renderer/shared/assets/images/explorers/moonscan.svg
  src/renderer/shared/ui/ExplorerLink/constants.ts
  src/renderer/shared/ui/Icon/data/explorer.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: add optional for wallet accounts on multisig creation
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: add todo
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx
