Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

fix: bond amount (#453)
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: update lib versions
  package.json
  pnpm-lock.yaml
  src/renderer/services/balance/balanceService.ts
  src/renderer/services/dataVerification/dataVerification.ts
  src/renderer/services/network/networkService.ts
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: accounts invalid without fee
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Release candidate v0.2.0 to DEV (#176)
  package.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Feat: Staking actions (#196)
  src/renderer/assets/images/staking/change-validators.svg
  src/renderer/assets/images/staking/redeem.svg
  src/renderer/assets/images/staking/return-to-stake.svg
  src/renderer/assets/images/staking/reward-destination.svg
  src/renderer/assets/images/staking/set-validators.svg
  src/renderer/assets/images/staking/stake-more.svg
  src/renderer/assets/images/staking/start-staking.svg
  src/renderer/assets/images/staking/stop-staking.svg
  src/renderer/assets/images/staking/unstake.svg
  src/renderer/components/common/StakingActions/StakingActions.test.tsx
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/components/common/index.ts
  src/renderer/components/layout/Onboarding/Onboarding.test.tsx
  src/renderer/components/ui/Dropdowns/Select/Select.test.tsx
  src/renderer/components/ui/Dropdowns/Select/Select.tsx
  src/renderer/components/ui/Icon/data/index.ts
  src/renderer/components/ui/Icon/data/staking.tsx
  src/renderer/components/ui/RadioGroup/RadioGroup.css
  src/renderer/components/ui/RadioGroup/RadioGroup.tsx
  src/renderer/routes/paths.ts
  src/renderer/routes/utils.test.ts
  src/renderer/routes/utils.ts
  src/renderer/screens/Balances/AssetBalance/AssetBalance.tsx
  src/renderer/screens/Staking/Bond/Bond.tsx
  src/renderer/screens/Staking/Bond/InitBond/InitBond.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: multiframe QR delay fix (#440)
  src/renderer/components/common/QrCode/QrGenerator/common/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: create multisig account
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/ui/Identicon/Identicon.tsx
  src/renderer/domain/account.ts
  src/renderer/domain/shared-kernel.ts
  src/renderer/screens/Staking/Operations/Redeem/Confirmation/Confirmation.tsx
  src/renderer/services/storage/common/types.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
  tailwind.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Get oversubscribed info for validators
  src/renderer/screens/Staking/Bond/Validators/Validators.test.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/services/staking/__tests__/stakingDataService.test.ts
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/stakingDataService.ts
  src/renderer/services/staking/validatorsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: address book
  src/renderer/assets/images/misc/no-contacts.svg
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/useWalletStructure.ts
  src/renderer/components/ui/Dropdowns/Combobox/Combobox.tsx
  src/renderer/components/ui/Icon/data/misc.tsx
  src/renderer/components/ui/Table/TableParts.tsx
  src/renderer/components/ui/Table/common/types.ts
  src/renderer/domain/contact.ts
  src/renderer/screens/AddressBook/AddressBook.test.tsx
  src/renderer/screens/AddressBook/AddressBook.tsx
  src/renderer/screens/AddressBook/components/ContactList.tsx
  src/renderer/screens/AddressBook/components/ContactModal.tsx
  src/renderer/screens/AddressBook/components/EmptyState/EmptyContacts.test.tsx
  src/renderer/screens/AddressBook/components/EmptyState/EmptyContacts.tsx
  src/renderer/screens/AddressBook/components/EmptyState/EmptySearch.test.tsx
  src/renderer/screens/AddressBook/components/EmptyState/EmptySearch.tsx
  src/renderer/screens/AddressBook/utils/validation.ts
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.tsx
  src/renderer/screens/Settings/Networks/ConnectionSelector/CustomRpcModal/CustomRpcModal.tsx
  src/renderer/screens/Staking/Operations/components/Validators/Validators.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
  src/renderer/services/contact/common/types.ts
  src/renderer/services/contact/contactService.ts
  src/renderer/services/storage/common/types.ts
  src/renderer/services/storage/contactStorage.ts
  src/renderer/services/storage/storage.ts
  src/renderer/shared/utils/strings.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: copy accounts
  src/renderer/screens/Staking/Operations/components/AccountsModal/AccountsModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: address book (#436)
  src/renderer/assets/images/misc/no-contacts.svg
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/useWalletStructure.ts
  src/renderer/components/ui/Dropdowns/Combobox/Combobox.tsx
  src/renderer/components/ui/Icon/data/misc.tsx
  src/renderer/components/ui/Table/TableParts.tsx
  src/renderer/components/ui/Table/common/types.ts
  src/renderer/domain/contact.ts
  src/renderer/screens/AddressBook/AddressBook.test.tsx
  src/renderer/screens/AddressBook/AddressBook.tsx
  src/renderer/screens/AddressBook/components/ContactList.tsx
  src/renderer/screens/AddressBook/components/ContactModal.tsx
  src/renderer/screens/AddressBook/components/EmptyState/EmptyContacts.test.tsx
  src/renderer/screens/AddressBook/components/EmptyState/EmptyContacts.tsx
  src/renderer/screens/AddressBook/components/EmptyState/EmptySearch.test.tsx
  src/renderer/screens/AddressBook/components/EmptyState/EmptySearch.tsx
  src/renderer/screens/AddressBook/utils/validation.ts
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.tsx
  src/renderer/screens/Settings/Networks/ConnectionSelector/CustomRpcModal/CustomRpcModal.tsx
  src/renderer/screens/Staking/Operations/components/Validators/Validators.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
  src/renderer/services/contact/common/types.ts
  src/renderer/services/contact/contactService.ts
  src/renderer/services/storage/common/types.ts
  src/renderer/services/storage/contactStorage.ts
  src/renderer/services/storage/storage.ts
  src/renderer/shared/utils/strings.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: unbond chill on minimum amount (#454)
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: unbond chill on minimum amount
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: empty includes
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.tsx
  src/renderer/screens/Settings/Networks/Networks/Networks.tsx
  src/renderer/shared/utils/strings.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Redeem values (#451)
  src/renderer/components/ui/Address/Address.tsx
  src/renderer/components/ui/Table/TableParts.tsx
  src/renderer/domain/transaction.ts
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/components/AccountsModal/AccountsModal.test.tsx
  src/renderer/screens/Staking/Operations/components/AccountsModal/AccountsModal.tsx
  src/renderer/screens/Staking/Operations/components/TransactionInfo/TransactionInfo.tsx
  src/renderer/services/balance/common/utils.ts
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: nominate targets (#455)
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: unstake (#410)
  src/renderer/components/common/StakingActions/StakingActions.tsx
  src/renderer/components/ui/Dropdowns/Combobox/Combobox.tsx
  src/renderer/domain/transaction.ts
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Staking/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/UnstakingDuration/UnstakingDuration.tsx
  src/renderer/screens/Staking/Overview/components/index.ts
  src/renderer/screens/Staking/Scanning/Scanning.tsx
  src/renderer/screens/Staking/Signing/Signing.tsx
  src/renderer/screens/Staking/Unbond/Unbond.test.tsx
  src/renderer/screens/Staking/Unbond/Unbond.tsx
  src/renderer/screens/Staking/Unstake/Confirmation/Confirmation.test.tsx
  src/renderer/screens/Staking/Unstake/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Unstake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Unstake/Unstake.tsx
  src/renderer/screens/Staking/components/AccountsModal/AccountsModal.test.tsx
  src/renderer/screens/Staking/components/AccountsModal/AccountsModal.tsx
  src/renderer/screens/Staking/components/TransactionInfo/TransactionInfo.test.tsx
  src/renderer/screens/Staking/components/TransactionInfo/TransactionInfo.tsx
  src/renderer/screens/Staking/components/ValidatorsModal/ValidatorsModal.test.tsx
  src/renderer/screens/Staking/components/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/screens/Staking/index.ts
  src/renderer/services/balance/common/utils.ts
  src/renderer/services/transaction/transactionService.ts
  src/renderer/shared/utils/strings.ts
  src/renderer/shared/utils/time.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: turn off address book for release
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: nominate targets
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: copy accounts (#441)
  src/renderer/screens/Staking/Operations/components/AccountsModal/AccountsModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: show no results for bond only account (#192)
  src/renderer/screens/Staking/Overview/components/NominatorsModal/NominatorsModal.test.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsModal/NominatorsModal.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: hide wallet panel (#190)
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: multiple transactions signing
  package.json
  pnpm-lock.yaml
  src/renderer/components/common/QrCode/QrGenerator/QrMultiframeTxGenerator.tsx
  src/renderer/components/common/QrCode/QrGenerator/QrTxGenerator.tsx
  src/renderer/components/common/QrCode/QrGenerator/common/constants.ts
  src/renderer/components/common/QrCode/QrGenerator/common/useGenerator.ts
  src/renderer/components/common/QrCode/QrGenerator/common/utils.test.ts
  src/renderer/components/common/QrCode/QrGenerator/common/utils.ts
  src/renderer/components/common/QrCode/QrReader/QrMultiframeSignatureReader.tsx
  src/renderer/components/common/QrCode/QrReader/common/constants.ts
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/ui/Dropdowns/Select/Select.tsx
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.tsx
  src/renderer/screens/Signing/MultiframeSignatureReader/MultiframeSignatureReader.tsx
  src/renderer/screens/Signing/Progress.tsx
  src/renderer/screens/Signing/Signing.test.tsx
  src/renderer/screens/Signing/Signing.tsx
  src/renderer/screens/Signing/SigningDev.tsx
  src/renderer/screens/Transfer/components/TransferDetails.tsx
  src/renderer/screens/index.ts
  src/renderer/services/transaction/transactionService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: validation on change accounts
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: about staking info (#179)
  src/renderer/components/common/Expandable/Expandable.tsx
  src/renderer/domain/validator.ts
  src/renderer/screens/Staking/Bond/Validators/Validators.test.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/AboutStaking/AboutStaking.test.tsx
  src/renderer/screens/Staking/Overview/components/AboutStaking/AboutStaking.tsx
  src/renderer/services/staking/apyCalculator.ts
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/eraService.ts
  src/renderer/services/staking/stakingDataService.ts
  src/renderer/services/staking/validatorsService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: pnpm lock file (#412)
  pnpm-lock.yaml
Due: none

fix: accounts invalid without fee (#450)
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: expand explorers (#173)
  src/renderer/components/common/Explorers/Explorers.tsx
  src/renderer/hooks/useClickOutside.ts
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: multiple transactions signing (#188)
  package.json
  pnpm-lock.yaml
  src/renderer/components/common/QrCode/QrGenerator/QrMultiframeTxGenerator.tsx
  src/renderer/components/common/QrCode/QrGenerator/QrTxGenerator.tsx
  src/renderer/components/common/QrCode/QrGenerator/common/constants.ts
  src/renderer/components/common/QrCode/QrGenerator/common/useGenerator.ts
  src/renderer/components/common/QrCode/QrGenerator/common/utils.test.ts
  src/renderer/components/common/QrCode/QrGenerator/common/utils.ts
  src/renderer/components/common/QrCode/QrReader/QrMultiframeSignatureReader.tsx
  src/renderer/components/common/QrCode/QrReader/common/constants.ts
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/ui/Dropdowns/Select/Select.tsx
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.tsx
  src/renderer/screens/Signing/MultiframeSignatureReader/MultiframeSignatureReader.tsx
  src/renderer/screens/Signing/Progress.tsx
  src/renderer/screens/Signing/Signing.test.tsx
  src/renderer/screens/Signing/Signing.tsx
  src/renderer/screens/Signing/SigningDev.tsx
  src/renderer/screens/Transfer/components/TransferDetails.tsx
  src/renderer/screens/index.ts
  src/renderer/services/transaction/transactionService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: matrix ui
  src/renderer/assets/images/social/apple.svg
  src/renderer/assets/images/social/facebook.svg
  src/renderer/assets/images/social/gitLab.svg
  src/renderer/assets/images/social/github.svg
  src/renderer/assets/images/social/google.svg
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/ui/Icon/data/aesthetics.tsx
  src/renderer/components/ui/Icon/data/index.ts
  src/renderer/components/ui/Icon/data/social.tsx
  src/renderer/components/ui/InfoLink/InfoLink.test.tsx
  src/renderer/components/ui/InfoLink/InfoLink.tsx
  src/renderer/components/ui/Inputs/Input/Input.tsx
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/screens/Login/Login.tsx
  src/renderer/screens/Settings/Matrix/Credentials/Credentials.test.tsx
  src/renderer/screens/Settings/Matrix/Credentials/Credentials.tsx
  src/renderer/screens/Settings/Matrix/InfoSection/InfoSection.test.tsx
  src/renderer/screens/Settings/Matrix/InfoSection/InfoSection.tsx
  src/renderer/screens/Settings/Matrix/LoginForm/LoginForm.test.tsx
  src/renderer/screens/Settings/Matrix/LoginForm/LoginForm.tsx
  src/renderer/screens/Settings/Matrix/Matrix.tsx
  src/renderer/screens/Settings/Matrix/PrivacyPolicy/PrivacyPolicy.test.tsx
  src/renderer/screens/Settings/Matrix/PrivacyPolicy/PrivacyPolicy.tsx
  src/renderer/screens/Settings/Matrix/Verification/Verification.test.tsx
  src/renderer/screens/Settings/Matrix/Verification/Verification.tsx
  src/renderer/services/translation/translationService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: default explorer icon
  src/renderer/assets/images/explorers/default.svg
  src/renderer/assets/images/explorers/ternoa.png
  src/renderer/components/common/Explorers/Explorers.tsx
  src/renderer/components/common/Explorers/common/constants.ts
  src/renderer/components/ui/Icon/data/explorer.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: change ternoa icon to svg
  src/renderer/assets/images/explorers/ternoa.png
  src/renderer/assets/images/explorers/ternoa.svg
  src/renderer/components/ui/Icon/data/explorer.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: default explorer icon (#457)
  src/renderer/assets/images/explorers/default.svg
  src/renderer/assets/images/explorers/ternoa.svg
  src/renderer/components/common/Explorers/Explorers.tsx
  src/renderer/components/common/Explorers/common/constants.ts
  src/renderer/components/ui/Icon/data/explorer.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: default explorer icon
  src/renderer/assets/images/explorers/default.svg
  src/renderer/assets/images/explorers/ternoa.svg
  src/renderer/components/common/Explorers/Explorers.tsx
  src/renderer/components/common/Explorers/common/constants.ts
  src/renderer/components/ui/Icon/data/explorer.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: accounts dropdown, fee loader, chain loading section
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/components/ChainLoader/ChainLoader.test.tsx
  src/renderer/screens/Staking/Operations/components/ChainLoader/ChainLoader.tsx
  src/renderer/screens/Staking/Operations/components/index.ts
  src/renderer/services/network/chainsService.ts
  src/renderer/services/network/common/types.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: more tests, correct check for staking prop
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: rename functions
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/SetValidators/SetValidators.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/services/network/chainsService.ts
  src/renderer/services/network/common/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx
