Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Release/1.8.0
  .github/workflows/build_stage.yaml
  .github/workflows/release.yaml
  package.json
  src/renderer/shared/config/chains/chains.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: network selector for referendums
  package.json
  pnpm-lock.yaml
  src/renderer/entities/governance/ui/Voted/Voted.stories.tsx
  src/renderer/entities/network/lib/network-utils.ts
  src/renderer/entities/network/ui/InactiveNetwork.tsx
  src/renderer/features/governance/ChainSelector/index.ts
  src/renderer/features/governance/ChainSelector/model/chain-selector-model.ts
  src/renderer/features/governance/ChainSelector/ui/ChainSelector.tsx
  src/renderer/features/governance/ChainSelector/ui/InactiveNetwork.tsx
  src/renderer/features/governance/NetworkSelector/index.ts
  src/renderer/features/governance/NetworkSelector/model/network-selector-model.ts
  src/renderer/features/governance/NetworkSelector/ui/NetworkSelector.tsx
  src/renderer/features/governance/ReferendumDetails/model/referendum-details-model.ts
  src/renderer/features/governance/ReferendumList/model/referendum-list-model.ts
  src/renderer/features/governance/ReferendumList/ui/CompletedReferendums.tsx
  src/renderer/features/governance/ReferendumList/ui/OngoingReferendums.tsx
  src/renderer/features/governance/index.ts
  src/renderer/features/navigation/ui/Navigation.tsx
  src/renderer/features/operations/OperationsValidation/index.ts
  src/renderer/features/operations/OperationsValidation/model/nominate-validate-model.ts
  src/renderer/features/operations/OperationsValidation/model/payee-validate-model.ts
  src/renderer/pages/Governance/model/governance-page-model.ts
  src/renderer/pages/Governance/ui/Governance.tsx
  src/renderer/pages/Staking/ui/InactiveChain.tsx
  src/renderer/shared/api/governance/off-chain/lib/off-chain-utils.ts
  src/renderer/shared/api/governance/off-chain/lib/types.ts
  src/renderer/shared/api/governance/off-chain/service/polkassemblyService.ts
  src/renderer/shared/api/governance/off-chain/service/subsquareService.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/config/chains/chains_dev.json
  src/renderer/shared/core/types/chain.ts
  src/renderer/shared/ui/Typography/common/types.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxyForm.tsx
  src/renderer/widgets/AddPureProxiedModal/ui/AddPureProxiedForm.tsx
  src/renderer/widgets/RemovePureProxyModal/ui/RemovePureProxyForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: merge dev
  src/renderer/features/governance/ChainSelector/index.ts
  src/renderer/features/governance/ChainSelector/ui/InactiveNetwork.tsx
  src/renderer/features/navigation/ui/Navigation.tsx
  src/renderer/pages/Governance/model/governance-page-model.ts
  src/renderer/shared/api/matrix/lib/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: use correct xcm api for config
  src/renderer/widgets/Transfer/model/xcm-transfer-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: portfolio hide zero balance
  src/renderer/features/assets/AssetsPortfolioView/model/portfolio-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: update test
  src/renderer/features/assets/AssetsPortfolioView/model/__tests__/portfolio-model.test.ts
  src/renderer/features/assets/AssetsPortfolioView/model/portfolio-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: portfolio hide zero balance (#1869)
  src/renderer/features/assets/AssetsPortfolioView/model/__tests__/portfolio-model.test.ts
  src/renderer/features/assets/AssetsPortfolioView/model/portfolio-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: portfolio hide zero balance
  src/renderer/features/assets/AssetsPortfolioView/model/__tests__/portfolio-model.test.ts
  src/renderer/features/assets/AssetsPortfolioView/model/portfolio-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix comments
  src/renderer/entities/staking/ui/SelectedValidatorsModal/SelectedValidatorsModal.tsx
  src/renderer/features/operations/OperationsConfirm/Nominate/ui/Confirmation.tsx
  src/renderer/pages/Basket/model/basket-page-model.ts
  src/renderer/pages/Basket/ui/Basket.tsx
  src/renderer/pages/Basket/ui/SignOperations.tsx
  src/renderer/shared/lib/utils/arrays.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: offchain data source modal
  src/renderer/app/index.tsx
  src/renderer/entities/governance/index.ts
  src/renderer/entities/governance/lib/constants.ts
  src/renderer/entities/governance/lib/types.ts
  src/renderer/entities/governance/model/governance-model.ts
  src/renderer/features/governance/OffChainDataSource/index.ts
  src/renderer/features/governance/OffChainDataSource/lib/constants.ts
  src/renderer/features/governance/OffChainDataSource/model/off-chain-model.ts
  src/renderer/features/governance/OffChainDataSource/ui/OffChainDataSource.tsx
  src/renderer/features/governance/ReferendumDetails/model/referendum-details-model.ts
  src/renderer/features/governance/ReferendumList/model/referendum-list-model.ts
  src/renderer/features/governance/index.ts
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.test.tsx
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.tsx
  src/renderer/pages/Settings/ReferendumData/model/referendum-data-model.ts
  src/renderer/pages/Settings/ReferendumData/ui/ReferendumData.tsx
  src/renderer/pages/Settings/index.ts
  src/renderer/pages/index.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/assets/images/explorers/polkassembly.svg
  src/renderer/shared/assets/images/explorers/subsquare.svg
  src/renderer/shared/assets/images/functionals/referendum.svg
  src/renderer/shared/routes/paths.ts
  src/renderer/shared/ui/Icon/data/explorer.tsx
  src/renderer/shared/ui/Icon/data/functionals.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: pr review
  src/renderer/shared/api/governance/off-chain/service/polkassemblyService.ts
  src/renderer/shared/api/governance/off-chain/service/subsquareService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: track info, base offchain data
  src/renderer/entities/governance/index.ts
  src/renderer/entities/governance/ui/TrackInfo/TrackInfo.tsx
  src/renderer/features/governance/ReferendumDetails/model/referendum-details-model.ts
  src/renderer/features/governance/ReferendumDetails/ui/ReferendumDetails.tsx
  src/renderer/features/governance/ReferendumList/lib/referendum-list-utils.ts
  src/renderer/features/governance/ReferendumList/ui/OngoingReferendums.tsx
  src/renderer/features/navigation/ui/Navigation.tsx
  src/renderer/pages/Governance/model/governance-page-model.ts
  src/renderer/shared/api/governance/off-chain/service/polkassemblyService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: multiple confirm for basket (#1858)
  src/renderer/app/styles/theme/default.css
  src/renderer/entities/wallet/ui/AccountAddress/AccountAddress.tsx
  src/renderer/features/operations/OperationSign/model/sign-model.ts
  src/renderer/features/operations/OperationsConfirm/AddProxy/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/AddPureProxied/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/BondExtra/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/BondNominate/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Nominate/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Payee/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/RemoveProxy/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/RemovePureProxied/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Restake/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Transfer/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Unstake/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Withdraw/ui/Confirmation.tsx
  src/renderer/pages/Basket/model/basket-page-model.ts
  src/renderer/pages/Basket/model/sign-operations-model.ts
  src/renderer/pages/Basket/ui/Basket.tsx
  src/renderer/pages/Basket/ui/Operation.tsx
  src/renderer/pages/Basket/ui/SignOperations.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/lib/utils/arrays.ts
  tailwind.config.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: multiple confirm for basket
  src/renderer/app/styles/theme/default.css
  src/renderer/entities/wallet/ui/AccountAddress/AccountAddress.tsx
  src/renderer/features/operations/OperationSign/model/sign-model.ts
  src/renderer/features/operations/OperationsConfirm/AddProxy/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/AddPureProxied/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/BondExtra/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/BondNominate/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Nominate/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Payee/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/RemoveProxy/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/RemovePureProxied/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Restake/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Transfer/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Unstake/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Withdraw/ui/Confirmation.tsx
  src/renderer/pages/Basket/model/basket-page-model.ts
  src/renderer/pages/Basket/model/sign-operations-model.ts
  src/renderer/pages/Basket/ui/Basket.tsx
  src/renderer/pages/Basket/ui/Operation.tsx
  src/renderer/pages/Basket/ui/SignOperations.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/lib/utils/arrays.ts
  tailwind.config.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: update file format import/export for dd
  src/renderer/features/wallets/ExportKeys/lib/export-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/lib/types.ts
  src/renderer/features/wallets/ImportKeys/model/import-keys-model.ts
  src/renderer/features/wallets/ImportKeys/ui/ImportKeysModal.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/WalletDetails/lib/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: use correct xcm api for config (#1868)
  src/renderer/widgets/Transfer/model/xcm-transfer-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: bump version
  package.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: add tests for import
  src/renderer/features/wallets/ImportKeys/lib/__tests__/import-keys-model.test.ts
  src/renderer/features/wallets/ImportKeys/model/import-keys-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Release 1.8.1
  package.json
  src/renderer/shared/config/chains/chains.json
  src/renderer/widgets/Transfer/model/xcm-transfer-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Release 1.8.1 (#1873)
  package.json
  src/renderer/shared/config/chains/chains.json
  src/renderer/widgets/Transfer/model/xcm-transfer-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: update params
  src/renderer/features/wallets/ExportKeys/lib/export-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: update file format for import/export DD (#1872)
  src/renderer/features/wallets/ExportKeys/lib/export-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/lib/__tests__/import-keys-model.test.ts
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/lib/types.ts
  src/renderer/features/wallets/ImportKeys/model/import-keys-model.ts
  src/renderer/features/wallets/ImportKeys/ui/ImportKeysModal.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/WalletDetails/lib/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: update file format for import/export DD
  src/renderer/features/wallets/ExportKeys/lib/export-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/lib/__tests__/import-keys-model.test.ts
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/lib/types.ts
  src/renderer/features/wallets/ImportKeys/model/import-keys-model.ts
  src/renderer/features/wallets/ImportKeys/ui/ImportKeysModal.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/WalletDetails/lib/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: bump version to 1.8.2
  package.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: rename hash to genesis
  src/renderer/features/wallets/ExportKeys/lib/export-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: adding tests for text parser
  src/renderer/features/wallets/ImportKeys/lib/__tests__/import-keys-utils-text.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: linter
  src/renderer/features/wallets/ImportKeys/lib/__tests__/import-keys-utils-text.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: adding more cases
  src/renderer/features/wallets/ImportKeys/lib/__tests__/import-keys-utils-text.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: add test for multiple derivation path
  src/renderer/features/wallets/ImportKeys/lib/__tests__/import-keys-utils-text.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: add test for multiple dp in one genesis
  src/renderer/features/wallets/ImportKeys/lib/__tests__/import-keys-utils-text.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: soft \ hard naming
  src/renderer/features/wallets/ImportKeys/lib/__tests__/import-keys-utils-text.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: import files
  src/renderer/features/wallets/ExportKeys/lib/export-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/renderer/shared/api/translation/locales/*.json
