Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

.lintstagedrc.json:

{
  "*.{ts,tsx}": "pnpm types:files globals.d.ts src/main/shared/bridge.ts",
  "*.{js,ts,tsx}": "pnpm lint:generic"
}

fix: add timing debug to lint ci job
  .github/workflows/ci_lint.yaml
Due: none

fix: turn off heavy eslint rule
  .eslintrc.js
Due: pnpm lint:generic

fix: more aggressive prettier ignore
  .prettierignore
Due: none

fix: eslint now handle relative imports between packages in the same category (#2534)
  .eslintrc.js
  .github/workflows/ci_lint.yaml
  .prettierignore
  eslint-local-rules/rules/no-relative-import-from-root.js
  src/renderer/entities/operations/ui/SignatorySelector.tsx
  src/renderer/entities/proxy/lib/proxy-utils.ts
  src/renderer/entities/staking/ui/AccountsModal/AccountsModal.tsx
  src/renderer/entities/transaction/lib/common/utils.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/entities/transaction/lib/wrappers/convictionVoting.ts
  src/renderer/entities/transaction/ui/Scanning/ScanMultiframeQr.tsx
  src/renderer/features/navigation/ui/Navigation.tsx
  src/renderer/shared/api/xcm/lib/constants.ts
  src/renderer/shared/api/xcm/lib/xcm-utils.ts
  src/renderer/shared/api/xcm/service/xcmService.ts
  src/renderer/shared/effector/attachToFeatureInput.ts
  src/renderer/shared/lib/utils/__tests__/substrate.test.ts
  src/renderer/shared/lib/utils/arrays.ts
  src/renderer/shared/lib/utils/objects.ts
  src/renderer/shared/lib/utils/substrate.ts
  src/renderer/shared/polkadotjs-helpers/createPagedRequest.ts
  src/renderer/shared/routes/paths.ts
  src/renderer/shared/ui-entities/AccountExplorer/AccountExplorers.stories.tsx
  src/renderer/shared/ui-entities/TransactionDetails/TransactionDetails.stories.tsx
  src/renderer/shared/ui-kit/Dropdown/Dropdown.stories.tsx
  src/renderer/shared/ui-kit/Label/Label.tsx
  src/renderer/shared/ui-kit/Popover/Popover.stories.tsx
  src/renderer/shared/ui/ExplorerLink/ExplorerLink.tsx
  src/renderer/shared/ui/Header/Header.tsx
  src/renderer/shared/ui/Separator/Separator.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: eslint now handle relative imports between packages in the same category
  .eslintrc.js
  .github/workflows/ci_lint.yaml
  .prettierignore
  eslint-local-rules/rules/no-relative-import-from-root.js
  src/renderer/entities/operations/ui/SignatorySelector.tsx
  src/renderer/entities/proxy/lib/proxy-utils.ts
  src/renderer/entities/staking/ui/AccountsModal/AccountsModal.tsx
  src/renderer/entities/transaction/lib/common/utils.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/entities/transaction/lib/wrappers/convictionVoting.ts
  src/renderer/entities/transaction/ui/Scanning/ScanMultiframeQr.tsx
  src/renderer/features/navigation/ui/Navigation.tsx
  src/renderer/shared/api/xcm/lib/constants.ts
  src/renderer/shared/api/xcm/lib/xcm-utils.ts
  src/renderer/shared/api/xcm/service/xcmService.ts
  src/renderer/shared/effector/attachToFeatureInput.ts
  src/renderer/shared/lib/utils/__tests__/substrate.test.ts
  src/renderer/shared/lib/utils/arrays.ts
  src/renderer/shared/lib/utils/objects.ts
  src/renderer/shared/lib/utils/substrate.ts
  src/renderer/shared/polkadotjs-helpers/createPagedRequest.ts
  src/renderer/shared/routes/paths.ts
  src/renderer/shared/ui-entities/AccountExplorer/AccountExplorers.stories.tsx
  src/renderer/shared/ui-entities/TransactionDetails/TransactionDetails.stories.tsx
  src/renderer/shared/ui-kit/Dropdown/Dropdown.stories.tsx
  src/renderer/shared/ui-kit/Label/Label.tsx
  src/renderer/shared/ui-kit/Popover/Popover.stories.tsx
  src/renderer/shared/ui/ExplorerLink/ExplorerLink.tsx
  src/renderer/shared/ui/Header/Header.tsx
  src/renderer/shared/ui/Separator/Separator.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

feat: extracted app shell feature from main layout
  src/renderer/app/modelInit.ts
  src/renderer/features/app-shell/components/AppShell.tsx
  src/renderer/features/app-shell/components/NavItem.tsx
  src/renderer/features/app-shell/components/Navigation.tsx
  src/renderer/features/app-shell/index.ts
  src/renderer/features/assets-navigation/index.ts
  src/renderer/features/contacts-navigation/index.ts
  src/renderer/features/fellowship-navigation/index.ts
  src/renderer/features/governance-navigation/index.ts
  src/renderer/features/notifications-navigation/index.ts
  src/renderer/features/operations-navigation/index.tsx
  src/renderer/features/settings-navigation/index.ts
  src/renderer/features/staking-navigation/index.ts
  src/renderer/features/wallets-select/index.tsx
  src/renderer/pages/index.tsx
  src/renderer/shared/config/features/index.ts
  src/renderer/shared/di/createSlot.tsx
  src/renderer/shared/di/index.ts
  src/renderer/shared/di/reactIntegration.tsx
  src/renderer/shared/effector/createFeature.ts
  src/renderer/shared/ui/index.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: turn off fellowship
  src/renderer/shared/config/features/index.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: relative paths
  src/renderer/features/assets-navigation/index.ts
  src/renderer/features/contacts-navigation/index.ts
  src/renderer/features/fellowship-navigation/index.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: navigation layout
  src/renderer/features/app-shell/components/Navigation.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

feat: di naming convention
  .eslintrc.js
  eslint-local-rules/astHelpers.js
  eslint-local-rules/index.js
  eslint-local-rules/rules/enforce-di-naming-convention.js
  eslint-local-rules/rules/no-relative-import-from-root.js
  eslint-local-rules/rules/no-self-import.js
  src/renderer/features/app-shell/components/AppShell.tsx
  src/renderer/features/app-shell/components/Navigation.tsx
  src/renderer/features/app-shell/index.ts
  src/renderer/features/assets-navigation/index.ts
  src/renderer/features/contacts-navigation/index.ts
  src/renderer/features/fellowship-navigation/index.ts
  src/renderer/features/governance-navigation/index.ts
  src/renderer/features/notifications-navigation/index.ts
  src/renderer/features/operations-navigation/index.tsx
  src/renderer/features/settings-navigation/index.ts
  src/renderer/features/staking-navigation/index.ts
  src/renderer/features/wallets-select/index.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

feat: extracted app shell feature from main layout (#2528)
  .eslintrc.js
  eslint-local-rules/astHelpers.js
  eslint-local-rules/index.js
  eslint-local-rules/rules/enforce-di-naming-convention.js
  eslint-local-rules/rules/no-relative-import-from-root.js
  eslint-local-rules/rules/no-self-import.js
  src/renderer/app/modelInit.ts
  src/renderer/features/app-shell/components/AppShell.tsx
  src/renderer/features/app-shell/components/NavItem.tsx
  src/renderer/features/app-shell/components/Navigation.tsx
  src/renderer/features/app-shell/index.ts
  src/renderer/features/assets-navigation/index.ts
  src/renderer/features/contacts-navigation/index.ts
  src/renderer/features/fellowship-navigation/index.ts
  src/renderer/features/governance-navigation/index.ts
  src/renderer/features/notifications-navigation/index.ts
  src/renderer/features/operations-navigation/index.tsx
  src/renderer/features/settings-navigation/index.ts
  src/renderer/features/staking-navigation/index.ts
  src/renderer/features/wallets-select/index.tsx
  src/renderer/pages/index.tsx
  src/renderer/shared/config/features/index.ts
  src/renderer/shared/di/createSlot.tsx
  src/renderer/shared/di/index.ts
  src/renderer/shared/di/reactIntegration.tsx
  src/renderer/shared/effector/createFeature.ts
  src/renderer/shared/ui/index.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

feat: extracted app shell feature from main layout
  .eslintrc.js
  eslint-local-rules/astHelpers.js
  eslint-local-rules/index.js
  eslint-local-rules/rules/enforce-di-naming-convention.js
  eslint-local-rules/rules/no-relative-import-from-root.js
  eslint-local-rules/rules/no-self-import.js
  src/renderer/app/modelInit.ts
  src/renderer/features/app-shell/components/AppShell.tsx
  src/renderer/features/app-shell/components/NavItem.tsx
  src/renderer/features/app-shell/components/Navigation.tsx
  src/renderer/features/app-shell/index.ts
  src/renderer/features/assets-navigation/index.ts
  src/renderer/features/contacts-navigation/index.ts
  src/renderer/features/fellowship-navigation/index.ts
  src/renderer/features/governance-navigation/index.ts
  src/renderer/features/notifications-navigation/index.ts
  src/renderer/features/operations-navigation/index.tsx
  src/renderer/features/settings-navigation/index.ts
  src/renderer/features/staking-navigation/index.ts
  src/renderer/features/wallets-select/index.tsx
  src/renderer/pages/index.tsx
  src/renderer/shared/config/features/index.ts
  src/renderer/shared/di/createSlot.tsx
  src/renderer/shared/di/index.ts
  src/renderer/shared/di/reactIntegration.tsx
  src/renderer/shared/effector/createFeature.ts
  src/renderer/shared/ui/index.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

feat: hide and restore multisig wallet
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/wallets/ForgetWallet/model/forget-wallet-model.ts
  src/renderer/processes/multisigs/model/multisigs-model.ts
  src/renderer/shared/core/types/wallet.ts
  src/renderer/shared/i18n/locales/en.json
  src/renderer/widgets/CreateWallet/model/flow-model.ts
  src/renderer/widgets/CreateWallet/model/form-model.ts
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/SelectSignatoriesThreshold.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

chore: update ui
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/SelectSignatoriesThreshold.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

chore: alert info
  src/renderer/widgets/CreateWallet/model/form-model.ts
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/SelectSignatoriesThreshold.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: review
  src/renderer/entities/wallet/lib/wallet-utils.ts
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/wallets/ForgetWallet/model/forget-wallet-model.ts
  src/renderer/widgets/CreateWallet/model/flow-model.ts
  src/renderer/widgets/CreateWallet/model/form-model.ts
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/SelectSignatoriesThreshold.tsx
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: remove unused
  src/renderer/widgets/CreateWallet/model/flow-model.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

feat: hide and restore multisig wallet
  src/renderer/entities/wallet/lib/wallet-utils.ts
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/wallets/ForgetWallet/model/forget-wallet-model.ts
  src/renderer/processes/multisigs/model/multisigs-model.ts
  src/renderer/shared/core/types/wallet.ts
  src/renderer/shared/i18n/locales/en.json
  src/renderer/widgets/CreateWallet/model/flow-model.ts
  src/renderer/widgets/CreateWallet/model/form-model.ts
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/SelectSignatoriesThreshold.tsx
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

feat: hide and restore multisig wallet (#2535)
  src/renderer/entities/wallet/lib/wallet-utils.ts
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/wallets/ForgetWallet/model/forget-wallet-model.ts
  src/renderer/processes/multisigs/model/multisigs-model.ts
  src/renderer/shared/core/types/wallet.ts
  src/renderer/shared/i18n/locales/en.json
  src/renderer/widgets/CreateWallet/model/flow-model.ts
  src/renderer/widgets/CreateWallet/model/form-model.ts
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/SelectSignatoriesThreshold.tsx
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

feat: transferable, db mapper, bn instead of string
  src/renderer/entities/asset/ui/AssetDetails/AssetDetails.tsx
  src/renderer/entities/balance/model/balance-model.ts
  src/renderer/features/assets/AssetsChainView/ui/AssetCard/AssetCard.test.tsx
  src/renderer/features/assets/AssetsChainView/ui/AssetCard/AssetCard.tsx
  src/renderer/features/assets/AssetsChainView/ui/NetworkAssets/NetworkAssets.tsx
  src/renderer/features/assets/AssetsPortfolioView/lib/tokensService.ts
  src/renderer/features/assets/AssetsPortfolioView/model/__tests__/portfolio-model.test.ts
  src/renderer/features/balances/subscription/model/__tests__/balance-sub-model.test.ts
  src/renderer/features/balances/subscription/model/balance-sub-model.ts
  src/renderer/shared/api/balances/service/balanceService.ts
  src/renderer/shared/api/network/service/chainsService.ts
  src/renderer/shared/api/storage/index.ts
  src/renderer/shared/api/storage/lib/types.ts
  src/renderer/shared/api/storage/service/mappers/balance-mapper.ts
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/balance.ts
  src/renderer/shared/lib/utils/balance.ts
  src/renderer/widgets/AssetTransactionModal/model/__tests__/asset-transaction-model.test.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

feat: avail provider/txwrapper
  src/renderer/entities/transaction/lib/extrinsicService.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/shared/api/network/service/networkService.ts
  src/renderer/shared/config/extensions/avail/index.ts
  src/renderer/shared/config/extensions/avail/rpc.ts
  src/renderer/shared/config/extensions/avail/signed-extensions.ts
  src/renderer/shared/config/extensions/avail/types.ts
  src/renderer/shared/config/extensions/index.ts
  src/renderer/shared/lib/utils/substrate.ts
  src/renderer/widgets/UnlockModal/ui/UnlockInfo.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

chore: update deps
  package.json
  pnpm-lock.yaml
Due: none

chore: update tests
  src/renderer/entities/transaction/lib/__tests__/callDataDecoder.test.ts
  src/renderer/entities/transaction/lib/__tests__/extrinsicService.test.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

ci: update json files
  src/renderer/shared/config/chains/chains.json
  src/renderer/shared/config/chains/chains_dev.json
  src/renderer/shared/config/tokens/tokens.json
  src/renderer/shared/config/tokens/tokens_dev.json
Due: none

feat: voting history for fellowship
  src/renderer/domains/collectives/index.ts
  src/renderer/domains/collectives/init.ts
  src/renderer/domains/collectives/model/referendumMeta/model.ts
  src/renderer/domains/collectives/model/votes/mapper.ts
  src/renderer/domains/collectives/model/votes/model.ts
  src/renderer/domains/collectives/model/votes/service.ts
  src/renderer/domains/collectives/model/votes/types.ts
  src/renderer/features/fellowship-profile/components/ProfileCard.tsx
  src/renderer/features/fellowship-profile/model/profile.ts
  src/renderer/features/fellowship-referendum-details/components/ReferendumDetailsModal.tsx
  src/renderer/features/fellowship-referendum-details/components/Threshold.tsx
  src/renderer/features/fellowship-votes/components/Vote.tsx
  src/renderer/features/fellowship-votes/components/VotesModal.tsx
  src/renderer/features/fellowship-votes/components/VotingHistory.tsx
  src/renderer/features/fellowship-votes/components/VotingHistoryList.tsx
  src/renderer/features/fellowship-votes/components/VotingHistoryListEmptyState.tsx
  src/renderer/features/fellowship-votes/constants.ts
  src/renderer/features/fellowship-votes/index.ts
  src/renderer/features/fellowship-votes/model/fellowship.ts
  src/renderer/features/fellowship-votes/model/identity.ts
  src/renderer/features/fellowship-votes/model/members.ts
  src/renderer/features/fellowship-votes/model/status.ts
  src/renderer/features/fellowship-votes/model/votes.ts
  src/renderer/features/fellowship-voting/components/VotingModal.tsx
  src/renderer/features/fellowship-voting/model/voting.ts
  src/renderer/features/fellowship-voting/model/votingStatus.ts
  src/renderer/shared/config/features/index.ts
  src/renderer/shared/i18n/locales/en.json
  src/renderer/shared/pallet/collective/storage.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

add CI for Docker images
  .github/workflows/docker_images.yaml
  docker/Dockerfile_release
  docker/nginx.conf
Due: none

fix
  .github/workflows/docker_images.yaml
  docker/Dockerfile_release
Due: none

fix
  .github/workflows/docker_images.yaml
Due: none

fix: eslint rule about relative imports now work as expected
  eslint-local-rules/rules/no-relative-import-from-root.js
  eslint-local-rules/rules/no-self-import.js
  src/renderer/shared/config/extensions/index.ts
  src/renderer/shared/lib/utils/substrate.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix
  .github/workflows/docker_images.yaml
  docker/Dockerfile.release
Due: none

fix
  docker/Dockerfile.release
Due: none

fix: search
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/Signatory.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix
  docker/nginx.conf
Due: none

fix: nits for screen 1
  src/renderer/shared/i18n/locales/en.json
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/NameNetworkSelection.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/SelectSignatoriesThreshold.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix
  .github/workflows/docker_images.yaml
  docker/nginx.conf
Due: none
