Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/renderer/shared/api/translation/locales/*.json": ["pnpm lint:i18n-fix"]
}

fix: token list counter
  src/renderer/features/assets/AssetsPortfolioView/ui/TokenBalanceList.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: token list counter (#1853)
  src/renderer/features/assets/AssetsPortfolioView/ui/TokenBalanceList.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: chains rollback
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: tx signing (#1779)
  package.json
  pnpm-lock.yaml
  src/renderer/entities/transaction/lib/extrinsicService.ts
  src/renderer/entities/transaction/lib/mock/extrinsicService.mock.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/entities/transaction/ui/Scanning/ScanMultiframeQr.tsx
  src/renderer/entities/transaction/ui/Scanning/ScanSingleframeQr.tsx
  src/renderer/features/operations/OperationSign/lib/types.ts
  src/renderer/features/operations/OperationSign/model/sign-model.ts
  src/renderer/features/operations/OperationSign/ui/OperationSign.tsx
  src/renderer/features/operations/OperationSign/ui/Vault.tsx
  src/renderer/features/operations/OperationSign/ui/WalletConnect.tsx
  src/renderer/features/operations/OperationSubmit/model/__tests__/submit-model.test.ts
  src/renderer/features/operations/OperationSubmit/model/submit-model.ts
  src/renderer/pages/Operations/components/ActionSteps/Submit.tsx
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/add-pure-proxied-model.ts
  src/renderer/widgets/RemoveProxyModal/model/remove-proxy-model.ts
  src/renderer/widgets/RemovePureProxyModal/model/remove-pure-proxy-model.ts
  src/renderer/widgets/Staking/BondExtra/model/bond-extra-model.ts
  src/renderer/widgets/Staking/BondNominate/model/bond-nominate-model.ts
  src/renderer/widgets/Staking/Nominate/model/nominate-model.ts
  src/renderer/widgets/Staking/Payee/model/payee-model.ts
  src/renderer/widgets/Staking/Restake/model/restake-model.ts
  src/renderer/widgets/Staking/Unstake/model/unstake-model.ts
  src/renderer/widgets/Staking/Withdraw/model/withdraw-model.ts
  src/renderer/widgets/Transfer/model/transfer-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: update create pure proxy text (#1804)
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/AddPureProxiedModal/model/form-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix: fix contact row (#1806)
  src/renderer/entities/contact/ui/ContactRow.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Chore: upgrade lock file (#1823)
  .github/workflows/install-pnpm/action.yaml
  pnpm-lock.yaml
Due: none

fix: edit button padding (#1826)
  src/renderer/features/contacts/EditContactForm/ui/EditContactNavigation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: merge fixes from release 1.7.3 to dev (#1829)
  .github/workflows/release.yaml
  package.json
  src/renderer/shared/config/chains/chains.json
  src/renderer/shared/lib/utils/substrate.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: add db interaction in system tests (#1824)
  .github/workflows/system_tests.yml
  docker/Dockerfile
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  scripts/updateTestData.js
  tests/system/data/chains/chainsList.ts
  tests/system/data/chains/testChainModel.ts
  tests/system/data/db/dynamicDerivations/dynamicDerivationsWallets.ts
  tests/system/data/db/polkadotVaultWallet/polkadotVaultSubstrateWallet.ts
  tests/system/data/db/polkadotVaultWallet/polkadotVaultWithEthereum.ts
  tests/system/onboarding/vault.onboarding.system.test.tsx
  tests/system/onboarding/watch.only.onboarding.system.test.tsx
  tests/system/pages/BasePage.ts
  tests/system/pages/_elements/AssetsPageElements.ts
  tests/system/pages/_elements/AssetsSettingsModalElements.ts
  tests/system/pages/_elements/LoginPageElements.ts
  tests/system/pages/_elements/TransferModalElements.ts
  tests/system/pages/assetsPage/VaultAssetsPage.ts
  tests/system/pages/assetsPage/WatchOnlyAssetsPage.ts
  tests/system/pages/loginPage/BaseLoginPage.ts
  tests/system/pages/loginPage/WatchOnlyLoginPage.ts
  tests/system/pages/modals/AssetsSettingsModalWindow.ts
  tests/system/pages/modals/TransferModalWindow.ts
  tests/system/pages/modals/WalletModalWindow.ts
  tests/system/tests/assets/load.eth.fee.test.ts
  tests/system/tests/assets/load.fee.test.ts
  tests/system/tests/onboarding/vault.onboarding.system.test.ts
  tests/system/tests/onboarding/watch.only.onboarding.system.test.ts
  tests/system/utils/interactWithDatabase.ts
  tests/system/utils/readConfig.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Merge pull request #1744 from novasamatech/feat/portfolio-page
  package.json
  src/renderer/entities/asset/ui/AssetBalance/AssetBalance.tsx
  src/renderer/entities/asset/ui/AssetDetails/AssetDetails.tsx
  src/renderer/entities/asset/ui/AssetLinks/AssetLinks.tsx
  src/renderer/entities/asset/ui/index.ts
  src/renderer/entities/price/index.ts
  src/renderer/entities/price/ui/AssetFiatBalance.tsx
  src/renderer/entities/price/ui/TokenPrice.tsx
  src/renderer/features/assets/AssetsChainView/lib/utils.ts
  src/renderer/features/assets/AssetsChainView/ui/AssetCard/AssetCard.tsx
  src/renderer/features/assets/AssetsChainView/ui/AssetsChainView.tsx
  src/renderer/features/assets/AssetsPortfolioView/index.tsx
  src/renderer/features/assets/AssetsPortfolioView/lib/tokensService.ts
  src/renderer/features/assets/AssetsPortfolioView/lib/types.ts
  src/renderer/features/assets/AssetsPortfolioView/model/__tests__/portfolio-model.test.ts
  src/renderer/features/assets/AssetsPortfolioView/model/portfolio-model.ts
  src/renderer/features/assets/AssetsPortfolioView/ui/AssembledAssetAmount.tsx
  src/renderer/features/assets/AssetsPortfolioView/ui/AssetsPortfolioView.tsx
  src/renderer/features/assets/AssetsPortfolioView/ui/NetworkCard.tsx
  src/renderer/features/assets/AssetsPortfolioView/ui/TokenBalance.tsx
  src/renderer/features/assets/AssetsPortfolioView/ui/TokenBalanceList.tsx
  src/renderer/features/assets/index.ts
  src/renderer/pages/Assets/Assets/Assets.tsx
  src/renderer/pages/Assets/Assets/model/assets-model.ts
  src/renderer/shared/api/network/service/chainsService.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/config/tokens/tokens_dev.json
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/asset.ts
  src/renderer/shared/core/types/balance.ts
  src/renderer/shared/lib/utils/balance.ts
  webpack/webpack.shared.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: add send\receive modal for portfolio (#1842)
  src/renderer/features/assets/AssetsPortfolioView/index.tsx
  src/renderer/features/assets/AssetsPortfolioView/model/portfolio-model.ts
  src/renderer/features/assets/AssetsPortfolioView/ui/TokenBalance.tsx
  src/renderer/features/assets/AssetsPortfolioView/ui/TokenBalanceList.tsx
  src/renderer/pages/Assets/Assets/Assets.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/AssetTransactionModal/index.ts
  src/renderer/widgets/AssetTransactionModal/lib/types.ts
  src/renderer/widgets/AssetTransactionModal/lib/utils.ts
  src/renderer/widgets/AssetTransactionModal/model/__tests__/asset-transaction-model.test.ts
  src/renderer/widgets/AssetTransactionModal/model/asset-transaction-model.ts
  src/renderer/widgets/AssetTransactionModal/ui/AssetTransactionModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: pr review
  src/renderer/features/governance/ReferendumList/lib/referendum-list-utils.ts
  src/renderer/features/governance/ReferendumList/model/referendum-list-model.ts
  src/renderer/features/governance/ReferendumList/ui/OngoingReferendums.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: pnpm update
  jest-setup.js
  jest.config.ts
  package.json
  pnpm-lock.yaml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: pnpm update v2
  jest-setup.js
  package.json
  pnpm-lock.yaml
  src/renderer/pages/Settings/Overview/Overview.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: matrix chainId
  jest.config.ts
  package.json
  src/renderer/shared/api/matrix/lib/types.ts
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: hide governance page
  src/renderer/features/navigation/ui/Navigation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: white bg color
  src/renderer/features/governance/ReferendumList/ui/OngoingReferendums.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Update src/renderer/shared/config/chains/chains.json
  src/renderer/shared/config/chains/chains.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: use concatenation as a key
  src/renderer/features/assets/AssetsPortfolioView/ui/AssetsPortfolioView.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: multiple confirm for basket
  src/renderer/app/styles/theme/default.css
  src/renderer/entities/staking/ui/SelectedValidatorsModal/SelectedValidatorsModal.tsx
  src/renderer/entities/wallet/ui/AccountAddress/AccountAddress.tsx
  src/renderer/features/operations/OperationSign/model/sign-model.ts
  src/renderer/features/operations/OperationsConfirm/AddProxy/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/AddPureProxied/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/BondExtra/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/BondNominate/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Nominate/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Payee/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/RemoveProxy/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/RemovePureProxied/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Restake/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Transfer/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Unstake/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Withdraw/ui/Confirmation.tsx
  src/renderer/pages/Basket/model/basket-page-model.ts
  src/renderer/pages/Basket/model/sign-operations-model.ts
  src/renderer/pages/Basket/ui/Basket.tsx
  src/renderer/pages/Basket/ui/Operation.tsx
  src/renderer/pages/Basket/ui/SignOperations.tsx
  src/renderer/shared/api/translation/locales/en.json
  tailwind.config.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: use concatenation as a key (#1857)
  src/renderer/features/assets/AssetsPortfolioView/ui/AssetsPortfolioView.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix validation on select one tx
  src/renderer/pages/Basket/model/basket-page-model.ts
  src/renderer/pages/Basket/ui/Basket.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix i18n
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix: polkadot.js api version
  package.json
  pnpm-lock.yaml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: bump version
  package.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: underscores in mesage
  .github/workflows/build_stage.yaml
Due: none

fix: appimage
  .github/workflows/release.yaml
Due: none

fix: wrong merge
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: merge conflicts
  src/renderer/features/operations/OperationSubmit/model/submit-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Release/1.8.0 (#1855)
  .github/workflows/build_stage.yaml
  .github/workflows/release.yaml
  package.json
  src/renderer/shared/config/chains/chains.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged
