Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

feat: multisig operation confirmation update
  src/renderer/entities/transaction/lib/common/utils.ts
  src/renderer/pages/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Operations/components/OperationCardDetails.tsx
  src/renderer/pages/Operations/components/OperationFullInfo.tsx
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: recieve asset modal style update (#1150)
  src/renderer/widgets/ReceiveAssetModal/ui/ReceiveAssetModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: select signatory update (#1141)
  src/renderer/assets/images/walletTypesNew/novaWallet.svg
  src/renderer/entities/signatory/ui/SelectableSignatory/SelectableSignatory.tsx
  src/renderer/entities/wallet/lib/wallet-utils.ts
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
  src/renderer/pages/Operations/components/modals/SignatorySelectModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr comments update
  src/renderer/entities/notification/ui/NotificationRow/NotificationRow.tsx
  src/renderer/pages/Operations/components/Log.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: notifications and log update (#1149)
  src/renderer/entities/notification/ui/NotificationRow/NotificationRow.tsx
  src/renderer/pages/Operations/components/Log.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: comment update
  src/renderer/pages/Operations/components/ActionSteps/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: rename wallet card component
  src/renderer/entities/wallet/ui/WalletCardSm/WalletCardSm.tsx
  src/renderer/entities/wallet/ui/index.ts
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/widgets/SendAssetModal/ui/components/Details.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: moved component to ui/cards
  src/renderer/entities/wallet/ui/cards/WalletCardSm/WalletCardSm.tsx
  src/renderer/entities/wallet/ui/index.ts
  src/renderer/widgets/SendAssetModal/ui/components/Details.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: padding fixes
  src/renderer/pages/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/shared/ui/DetailRow/DetailRow.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: operation details update (#1146)
  src/renderer/entities/signatory/ui/SignatoryCard/SignatoryCard.stories.tsx
  src/renderer/entities/signatory/ui/SignatoryCard/SignatoryCard.test.tsx
  src/renderer/entities/signatory/ui/SignatoryCard/SignatoryCard.tsx
  src/renderer/entities/wallet/ui/AddressWithName/AddressWithName.tsx
  src/renderer/entities/wallet/ui/cards/WalletCardSm/WalletCardSm.tsx
  src/renderer/entities/wallet/ui/index.ts
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Operations/components/LogModal.tsx
  src/renderer/pages/Operations/components/OperationFullInfo.tsx
  src/renderer/pages/Operations/components/OperationSignatories.tsx
  src/renderer/widgets/SendAssetModal/ui/components/Details.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: commented xcmFee for multisig confirm
  src/renderer/pages/Operations/components/ActionSteps/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: added proper asset for xcm fee
  src/renderer/entities/transaction/ui/index.ts
  src/renderer/pages/Operations/components/ActionSteps/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr comments fix
  src/renderer/entities/staking/lib/useValidatorsMap.ts
  src/renderer/pages/Staking/Operations/common/utils.tsx
  src/renderer/pages/Staking/Operations/components/Modals/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/pages/Staking/Operations/components/Validators/Validators.tsx
  src/renderer/pages/Staking/Operations/components/ValidatorsTable/ValidatorsTable.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: wow & single_shard wallet details
  src/renderer/entities/wallet/ui/AccountsList/AccountsList.tsx
  src/renderer/pages/Onboarding/Vault/ManageSingleshard/ManageSingleshard.tsx
  src/renderer/pages/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/widgets/WalletDetails/ui/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletDetailsProvider.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fix comments
  src/renderer/entities/operation/ui/SignButton.tsx
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/entities/wallet/ui/MultiAccountsList/MultiAccountsList.tsx
  src/renderer/entities/wallet/ui/index.ts
  src/renderer/entities/walletConnect/lib/common/utils.ts
  src/renderer/features/operation/sign/ui/WalletConnect/WalletConnect.tsx
  src/renderer/pages/Onboarding/WalletConnect/ManageStep/ManageStep.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix test
  src/renderer/app/providers/context/NetworkContext/NetworkContext.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr review
  src/renderer/widgets/WalletDetails/ui/SimpleWalletDetails.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: improved combine
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/contacts/ContactFilter/model/contact-filter.ts
  src/renderer/features/currency/CurrencyForm/model/currency-form.ts
  src/renderer/features/wallets/WalletSelect/model/wallet-select-model.ts
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: ExportAddrV2 support
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/components/common/QrCode/common/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: ExportAddrV2 support (#1153)
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/components/common/QrCode/common/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix disable style
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/ContactItem.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/SelectSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Wallet details setup (#1154)
  src/renderer/app/App.tsx
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/contacts/ContactFilter/model/contact-filter.ts
  src/renderer/features/currency/CurrencyForm/model/currency-form.ts
  src/renderer/features/wallets/SelectWalletPairing/model/wallet-pairing-model.ts
  src/renderer/features/wallets/WalletSelect/index.ts
  src/renderer/features/wallets/WalletSelect/model/wallet-select-model.ts
  src/renderer/features/wallets/WalletSelect/ui/WalletGroup.tsx
  src/renderer/features/wallets/index.ts
  src/renderer/widgets/CreateWallet/model/wallet-provider-model.ts
  src/renderer/widgets/CreateWallet/ui/CreateWalletProvider.tsx
  src/renderer/widgets/WalletDetails/index.ts
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
  src/renderer/widgets/WalletDetails/ui/WalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletDetailsProvider.tsx
  tailwind.config.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: wallet connect details
  src/renderer/entities/wallet/ui/MultiAccountsList/MultiAccountsList.tsx
  src/renderer/features/wallets/SelectWalletPairing/ui/SelectWalletPairing.tsx
  src/renderer/features/wallets/WalletSelect/model/wallet-select-model.ts
  src/renderer/features/wallets/WalletSelect/ui/WalletGroup.tsx
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletDetailsProvider.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: improved combine
  src/renderer/app/providers/context/NetworkContext/NetworkContext.tsx
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/features/wallets/WalletSelect/model/wallet-select-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: staking update (#1148)
  src/renderer/entities/staking/lib/index.ts
  src/renderer/entities/staking/lib/useValidatorsMap.ts
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Staking/Operations/common/utils.tsx
  src/renderer/pages/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/renderer/pages/Staking/Operations/components/Modals/ValidatorsModal/ValidatorsModal.test.tsx
  src/renderer/pages/Staking/Operations/components/Modals/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/pages/Staking/Operations/components/Validators/Validators.test.tsx
  src/renderer/pages/Staking/Operations/components/Validators/Validators.tsx
  src/renderer/pages/Staking/Operations/components/ValidatorsTable/ValidatorsTable.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: wallet connect details
  src/renderer/entities/walletConnect/model/wallet-connect-model.ts
  src/renderer/pages/Onboarding/WalletConnect/WalletConnect.tsx
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fix merge
  src/renderer/pages/Onboarding/Welcome/Welcome.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: merge wallet_details
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

Feat: WOW details
  src/renderer/app/providers/context/NetworkContext/NetworkContext.tsx
  src/renderer/entities/wallet/ui/AccountsList/AccountsList.tsx
  src/renderer/pages/Onboarding/Vault/ManageSingleshard/ManageSingleshard.tsx
  src/renderer/pages/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/widgets/WalletDetails/ui/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletDetailsProvider.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: WOW details (#1156)
  src/renderer/app/providers/context/NetworkContext/NetworkContext.tsx
  src/renderer/entities/wallet/ui/AccountsList/AccountsList.tsx
  src/renderer/pages/Onboarding/Vault/ManageSingleshard/ManageSingleshard.tsx
  src/renderer/pages/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/widgets/WalletDetails/ui/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletDetailsProvider.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fix comments
  src/renderer/entities/walletConnect/model/wallet-connect-model.ts
  src/renderer/shared/api/storage/service/storageService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix comments
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/ContactItem.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/entities/walletConnect/model/wallet-connect-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged
