Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: import files (#1880)
  src/renderer/features/wallets/ExportKeys/lib/export-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: import files
  src/renderer/features/wallets/ExportKeys/lib/export-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: import files (#1880)
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Tests for DP text parser (#1878)
  src/renderer/features/wallets/ImportKeys/lib/__tests__/import-keys-utils-text.test.ts
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

New import/export file. Rename hash to genesis (#1877)
  src/renderer/features/wallets/ExportKeys/lib/export-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/lib/__tests__/import-keys-utils-text.test.ts
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: update Polimec explorer
  src/renderer/shared/config/chains/chains.json
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: basket transactions sign
  src/renderer/entities/transaction/ui/Scanning/ScanMultiframeQr.tsx
  src/renderer/features/operations/OperationSign/index.ts
  src/renderer/features/operations/OperationSign/lib/types.ts
  src/renderer/features/operations/OperationSign/model/sign-model.ts
  src/renderer/features/operations/OperationSign/ui/OperationSign.tsx
  src/renderer/features/operations/OperationSign/ui/SigningSwitch.tsx
  src/renderer/features/operations/OperationSign/ui/Vault.tsx
  src/renderer/features/operations/OperationSign/ui/WalletConnect.tsx
  src/renderer/features/operations/OperationSubmit/lib/submit-utils.ts
  src/renderer/features/operations/OperationSubmit/lib/types.ts
  src/renderer/features/operations/OperationSubmit/model/submit-model.ts
  src/renderer/features/operations/OperationSubmit/ui/OperationSubmit.tsx
  src/renderer/pages/Basket/model/sign-operations-model.ts
  src/renderer/pages/Basket/ui/Basket.tsx
  src/renderer/pages/Basket/ui/SignOperation.tsx
  src/renderer/pages/Basket/ui/SignOperations.tsx
  src/renderer/shared/lib/hooks/__tests__/useCountdown.test.ts
  src/renderer/shared/lib/hooks/useCountdown.ts
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/add-pure-proxied-model.ts
  src/renderer/widgets/RemoveProxyModal/model/remove-proxy-model.ts
  src/renderer/widgets/RemovePureProxyModal/model/remove-pure-proxy-model.ts
  src/renderer/widgets/Staking/BondExtra/model/bond-extra-model.ts
  src/renderer/widgets/Staking/BondNominate/model/bond-nominate-model.ts
  src/renderer/widgets/Staking/Nominate/model/nominate-model.ts
  src/renderer/widgets/Staking/Payee/model/payee-model.ts
  src/renderer/widgets/Staking/Restake/model/restake-model.ts
  src/renderer/widgets/Staking/Unstake/model/unstake-model.ts
  src/renderer/widgets/Staking/Withdraw/model/withdraw-model.ts
  src/renderer/widgets/Transfer/model/transfer-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: bump version to 1.8.2
  package.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: update file format for import/export DD (#1872)
  src/renderer/features/wallets/ExportKeys/lib/export-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/lib/__tests__/import-keys-model.test.ts
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/lib/types.ts
  src/renderer/features/wallets/ImportKeys/model/import-keys-model.ts
  src/renderer/features/wallets/ImportKeys/ui/ImportKeysModal.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/WalletDetails/lib/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Release 1.8.2
  package.json
  src/renderer/features/wallets/ImportKeys/lib/__tests__/import-keys-utils-text.test.ts
  src/renderer/shared/config/chains/chains.json
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Release 1.8.2 (#1876)
  package.json
  src/renderer/features/wallets/ImportKeys/lib/__tests__/import-keys-utils-text.test.ts
  src/renderer/shared/config/chains/chains.json
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Feat: Network selector
  package.json
  pnpm-lock.yaml
  src/renderer/entities/governance/ui/Voted/Voted.stories.tsx
  src/renderer/entities/network/lib/network-utils.ts
  src/renderer/entities/network/ui/InactiveNetwork.tsx
  src/renderer/features/governance/ChainSelector/index.ts
  src/renderer/features/governance/ChainSelector/model/chain-selector-model.ts
  src/renderer/features/governance/ChainSelector/ui/ChainSelector.tsx
  src/renderer/features/governance/ChainSelector/ui/InactiveNetwork.tsx
  src/renderer/features/governance/NetworkSelector/index.ts
  src/renderer/features/governance/NetworkSelector/model/network-selector-model.ts
  src/renderer/features/governance/NetworkSelector/ui/NetworkSelector.tsx
  src/renderer/features/governance/ReferendumDetails/model/referendum-details-model.ts
  src/renderer/features/governance/ReferendumList/model/referendum-list-model.ts
  src/renderer/features/governance/ReferendumList/ui/CompletedReferendums.tsx
  src/renderer/features/governance/ReferendumList/ui/OngoingReferendums.tsx
  src/renderer/features/governance/index.ts
  src/renderer/features/operations/OperationsValidation/index.ts
  src/renderer/features/operations/OperationsValidation/model/nominate-validate-model.ts
  src/renderer/features/operations/OperationsValidation/model/payee-validate-model.ts
  src/renderer/pages/Governance/model/governance-page-model.ts
  src/renderer/pages/Governance/ui/Governance.tsx
  src/renderer/pages/Staking/ui/InactiveChain.tsx
  src/renderer/shared/api/governance/off-chain/lib/off-chain-utils.ts
  src/renderer/shared/api/governance/off-chain/lib/types.ts
  src/renderer/shared/api/governance/off-chain/service/polkassemblyService.ts
  src/renderer/shared/api/governance/off-chain/service/subsquareService.ts
  src/renderer/shared/api/matrix/lib/types.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/config/chains/chains_dev.json
  src/renderer/shared/core/types/chain.ts
  src/renderer/shared/ui/Typography/common/types.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxyForm.tsx
  src/renderer/widgets/AddPureProxiedModal/ui/AddPureProxiedForm.tsx
  src/renderer/widgets/RemovePureProxyModal/ui/RemovePureProxyForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Network selector (#1866)
  package.json
  pnpm-lock.yaml
  src/renderer/entities/governance/ui/Voted/Voted.stories.tsx
  src/renderer/entities/network/lib/network-utils.ts
  src/renderer/entities/network/ui/InactiveNetwork.tsx
  src/renderer/features/governance/ChainSelector/index.ts
  src/renderer/features/governance/ChainSelector/model/chain-selector-model.ts
  src/renderer/features/governance/ChainSelector/ui/ChainSelector.tsx
  src/renderer/features/governance/ChainSelector/ui/InactiveNetwork.tsx
  src/renderer/features/governance/NetworkSelector/index.ts
  src/renderer/features/governance/NetworkSelector/model/network-selector-model.ts
  src/renderer/features/governance/NetworkSelector/ui/NetworkSelector.tsx
  src/renderer/features/governance/ReferendumDetails/model/referendum-details-model.ts
  src/renderer/features/governance/ReferendumList/model/referendum-list-model.ts
  src/renderer/features/governance/ReferendumList/ui/CompletedReferendums.tsx
  src/renderer/features/governance/ReferendumList/ui/OngoingReferendums.tsx
  src/renderer/features/governance/index.ts
  src/renderer/features/operations/OperationsValidation/index.ts
  src/renderer/features/operations/OperationsValidation/model/nominate-validate-model.ts
  src/renderer/features/operations/OperationsValidation/model/payee-validate-model.ts
  src/renderer/pages/Governance/model/governance-page-model.ts
  src/renderer/pages/Governance/ui/Governance.tsx
  src/renderer/pages/Staking/ui/InactiveChain.tsx
  src/renderer/shared/api/governance/off-chain/lib/off-chain-utils.ts
  src/renderer/shared/api/governance/off-chain/lib/types.ts
  src/renderer/shared/api/governance/off-chain/service/polkassemblyService.ts
  src/renderer/shared/api/governance/off-chain/service/subsquareService.ts
  src/renderer/shared/api/matrix/lib/types.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/config/chains/chains_dev.json
  src/renderer/shared/core/types/chain.ts
  src/renderer/shared/ui/Typography/common/types.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxyForm.tsx
  src/renderer/widgets/AddPureProxiedModal/ui/AddPureProxiedForm.tsx
  src/renderer/widgets/RemovePureProxyModal/ui/RemovePureProxyForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: remove successful transactions
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/entities/transaction/ui/OperationResult/OperationResult.tsx
  src/renderer/entities/transaction/ui/OperationResult/common/types.ts
  src/renderer/entities/transaction/ui/Scanning/ScanMultiframeQr.tsx
  src/renderer/features/operations/OperationSign/model/sign-model.ts
  src/renderer/features/operations/OperationSubmit/model/submit-model.ts
  src/renderer/features/operations/OperationSubmit/ui/OperationSubmit.tsx
  src/renderer/pages/Basket/model/sign-operations-model.ts
  src/renderer/pages/Basket/ui/SignOperations.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: reset basket sign store on close sign modal
  src/renderer/pages/Basket/model/sign-operations-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: multiple txs sign
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/entities/transaction/ui/Scanning/ScanMultiframeQr.tsx
  src/renderer/features/operations/OperationSign/model/sign-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: remove successful txs
  src/renderer/entities/basket/model/basket-model.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/features/operations/OperationSign/ui/Vault.tsx
  src/renderer/features/operations/OperationSubmit/lib/submit-utils.ts
  src/renderer/features/operations/OperationSubmit/model/submit-model.ts
  src/renderer/pages/Basket/model/sign-operations-model.ts
  src/renderer/pages/Basket/ui/SignOperations.tsx
  src/renderer/shared/lib/utils/substrate.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix confirm screen for multiple transactions
  src/renderer/entities/transaction/ui/Scanning/ScanMultiframeQr.tsx
  src/renderer/features/operations/OperationSign/model/__tests__/sign-model.test.ts
  src/renderer/features/operations/OperationSubmit/model/submit-model.ts
  src/renderer/features/operations/OperationsConfirm/AddProxy/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/AddProxy/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/AddPureProxied/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/AddPureProxied/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/BondExtra/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/BondExtra/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/BondNominate/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/BondNominate/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Nominate/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Nominate/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Payee/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Payee/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/RemoveProxy/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/RemoveProxy/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/RemovePureProxied/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/RemovePureProxied/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Restake/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Restake/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Transfer/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Transfer/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Unstake/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Unstake/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Withdraw/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Withdraw/ui/Confirmation.tsx
  src/renderer/pages/Basket/model/basket-page-model.ts
  src/renderer/pages/Basket/model/sign-operations-model.ts
  src/renderer/pages/Basket/ui/Basket.tsx
  src/renderer/pages/Basket/ui/SignOperations.tsx
  src/renderer/widgets/Transfer/model/transfer-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix single basket transaction sign
  src/renderer/features/operations/OperationsConfirm/AddProxy/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/AddPureProxied/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/BondExtra/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/BondNominate/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/BondNominate/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Nominate/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Payee/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/RemoveProxy/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/RemovePureProxied/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Restake/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Transfer/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Transfer/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/Unstake/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/Withdraw/model/confirm-model.ts
  src/renderer/pages/Basket/model/sign-operations-model.ts
  src/renderer/pages/Basket/ui/SignOperation.tsx
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/add-pure-proxied-model.ts
  src/renderer/widgets/RemoveProxyModal/model/remove-proxy-model.ts
  src/renderer/widgets/RemovePureProxyModal/model/remove-pure-proxy-model.ts
  src/renderer/widgets/Staking/BondExtra/model/bond-extra-model.ts
  src/renderer/widgets/Staking/BondNominate/model/bond-nominate-model.ts
  src/renderer/widgets/Staking/Nominate/model/nominate-model.ts
  src/renderer/widgets/Staking/Payee/model/payee-model.ts
  src/renderer/widgets/Staking/Restake/model/restake-model.ts
  src/renderer/widgets/Staking/Unstake/model/unstake-model.ts
  src/renderer/widgets/Staking/Withdraw/model/withdraw-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: add search for OpenGov
  src/renderer/features/governance/ReferendumFilter/model/referendum-filter-model.ts
  src/renderer/features/governance/ReferendumFilter/ui/ReferendumFilter.tsx
  src/renderer/features/governance/ReferendumList/ui/OngoingReferendums.tsx
  src/renderer/pages/Governance/lib/__tests__/governance-page-utils.test.ts
  src/renderer/pages/Governance/lib/utils.ts
  src/renderer/pages/Governance/model/governance-page-model.ts
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: typo
  src/renderer/pages/Governance/model/governance-page-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix validation
  src/renderer/features/operations/OperationsValidation/lib/bond-extra-rules.ts
  src/renderer/features/operations/OperationsValidation/lib/bond-nominate-rules.ts
  src/renderer/features/operations/OperationsValidation/lib/restake-rules.ts
  src/renderer/features/operations/OperationsValidation/lib/unstake-rules.ts
  src/renderer/features/operations/OperationsValidation/model/bond-extra-validate-model.ts
  src/renderer/pages/Basket/model/basket-page-model.ts
  src/renderer/pages/Basket/model/sign-operations-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: single basket operation sign
  src/renderer/pages/Basket/model/sign-operations-model.ts
  src/renderer/pages/Basket/ui/SignOperations.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix confirm modal amount value
  src/renderer/features/operations/OperationsConfirm/BondExtra/ui/Confirmation.tsx
  src/renderer/features/operations/OperationsConfirm/BondNominate/ui/Confirmation.tsx
  src/renderer/pages/Basket/ui/SignOperation.tsx
  src/renderer/pages/Basket/ui/SignOperations.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix lint
  src/renderer/features/operations/OperationsConfirm/AddProxy/model/confirm-model.ts
  src/renderer/features/operations/OperationsConfirm/BondNominate/model/confirm-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix tests
  src/renderer/features/operations/OperationSign/model/__tests__/sign-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: review
  src/renderer/pages/Governance/model/governance-page-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: deploy to basket
  .github/workflows/deploy_to_bucket.yml
  .github/workflows/setup-s3cmd/action.yml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: change basket name
  .github/workflows/deploy_to_bucket.yml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: build stage
  .github/workflows/build_stage.yaml
Due: none

fix: test web deploy
  .github/workflows/deploy_to_bucket.yml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: update s3 install tool
  .github/workflows/setup-s3cmd/action.yml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: macos version
  .github/workflows/deploy_to_bucket.yml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: reorder
  .github/workflows/deploy_to_bucket.yml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: auth to s3
  .github/workflows/setup-s3cmd/action.yml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: remove test trigger
  .github/workflows/deploy_to_bucket.yml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Feat: Offchain data source modal (#1870)
  src/renderer/app/index.tsx
  src/renderer/entities/governance/index.ts
  src/renderer/entities/governance/lib/constants.ts
  src/renderer/entities/governance/lib/types.ts
  src/renderer/entities/governance/model/governance-model.ts
  src/renderer/features/governance/OffChainDataSource/index.ts
  src/renderer/features/governance/OffChainDataSource/lib/constants.ts
  src/renderer/features/governance/OffChainDataSource/model/off-chain-model.ts
  src/renderer/features/governance/OffChainDataSource/ui/OffChainDataSource.tsx
  src/renderer/features/governance/ReferendumDetails/model/referendum-details-model.ts
  src/renderer/features/governance/ReferendumList/model/referendum-list-model.ts
  src/renderer/features/governance/index.ts
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.test.tsx
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.tsx
  src/renderer/pages/Settings/ReferendumData/model/referendum-data-model.ts
  src/renderer/pages/Settings/ReferendumData/ui/ReferendumData.tsx
  src/renderer/pages/Settings/index.ts
  src/renderer/pages/index.tsx
  src/renderer/shared/api/governance/off-chain/service/polkassemblyService.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/assets/images/explorers/polkassembly.svg
  src/renderer/shared/assets/images/explorers/subsquare.svg
  src/renderer/shared/assets/images/functionals/referendum.svg
  src/renderer/shared/routes/paths.ts
  src/renderer/shared/ui/Icon/data/explorer.tsx
  src/renderer/shared/ui/Icon/data/functionals.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Offchain data source modal
  src/renderer/app/index.tsx
  src/renderer/entities/governance/index.ts
  src/renderer/entities/governance/lib/constants.ts
  src/renderer/entities/governance/lib/types.ts
  src/renderer/entities/governance/model/governance-model.ts
  src/renderer/features/governance/OffChainDataSource/index.ts
  src/renderer/features/governance/OffChainDataSource/lib/constants.ts
  src/renderer/features/governance/OffChainDataSource/model/off-chain-model.ts
  src/renderer/features/governance/OffChainDataSource/ui/OffChainDataSource.tsx
  src/renderer/features/governance/ReferendumDetails/model/referendum-details-model.ts
  src/renderer/features/governance/ReferendumList/model/referendum-list-model.ts
  src/renderer/features/governance/index.ts
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.test.tsx
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.tsx
  src/renderer/pages/Settings/ReferendumData/model/referendum-data-model.ts
  src/renderer/pages/Settings/ReferendumData/ui/ReferendumData.tsx
  src/renderer/pages/Settings/index.ts
  src/renderer/pages/index.tsx
  src/renderer/shared/api/governance/off-chain/service/polkassemblyService.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/assets/images/explorers/polkassembly.svg
  src/renderer/shared/assets/images/explorers/subsquare.svg
  src/renderer/shared/assets/images/functionals/referendum.svg
  src/renderer/shared/routes/paths.ts
  src/renderer/shared/ui/Icon/data/explorer.tsx
  src/renderer/shared/ui/Icon/data/functionals.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/renderer/shared/api/translation/locales/*.json
