Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/renderer/shared/api/translation/locales/*.json": ["pnpm lint:i18n-fix"]
}

fix: proxy modal height
  src/renderer/widgets/AddProxyModal/ui/AddProxy.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: warning validation
  src/renderer/widgets/RemoveProxyModal/ui/RemoveProxy.tsx
  src/renderer/widgets/RemovePureProxyModal/model/remove-pure-proxy-model.ts
  src/renderer/widgets/RemovePureProxyModal/model/warning-model.ts
  src/renderer/widgets/RemovePureProxyModal/ui/RemovePureProxy.tsx
  src/renderer/widgets/RemovePureProxyModal/ui/Warning.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: add proxy modal step state
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: Xcm destination
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Operations/components/OperationCardDetails.tsx
  src/renderer/shared/api/xcm/service/xcmService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Xcm destination (#1693)
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Operations/components/OperationCardDetails.tsx
  src/renderer/shared/api/xcm/service/xcmService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comment
  src/renderer/widgets/RemovePureProxyModal/model/warning-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: update
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix comments
  src/renderer/widgets/RemoveProxyModal/model/remove-proxy-model.ts
  src/renderer/widgets/RemovePureProxyModal/model/remove-pure-proxy-model.ts
  src/renderer/widgets/RemovePureProxyModal/ui/RemovePureProxy.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix not saved code
  src/renderer/widgets/RemoveProxyModal/ui/RemoveProxy.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: filter chains for add proxy by accounts
  src/renderer/widgets/AddProxyModal/model/form-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/form-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: warning validation
  src/renderer/widgets/RemoveProxyModal/model/remove-proxy-model.ts
  src/renderer/widgets/RemoveProxyModal/ui/RemoveProxy.tsx
  src/renderer/widgets/RemovePureProxyModal/model/remove-pure-proxy-model.ts
  src/renderer/widgets/RemovePureProxyModal/model/warning-model.ts
  src/renderer/widgets/RemovePureProxyModal/ui/RemovePureProxy.tsx
  src/renderer/widgets/RemovePureProxyModal/ui/Warning.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: warning validation (#1695)
  src/renderer/widgets/RemoveProxyModal/model/remove-proxy-model.ts
  src/renderer/widgets/RemoveProxyModal/ui/RemoveProxy.tsx
  src/renderer/widgets/RemovePureProxyModal/model/remove-pure-proxy-model.ts
  src/renderer/widgets/RemovePureProxyModal/model/warning-model.ts
  src/renderer/widgets/RemovePureProxyModal/ui/RemovePureProxy.tsx
  src/renderer/widgets/RemovePureProxyModal/ui/Warning.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: realtime balance for proxy account
  src/renderer/entities/balance/model/balance-model.ts
  src/renderer/features/balances/subscription/lib/balance-sub-utils.ts
  src/renderer/features/balances/subscription/model/__tests__/balance-sub-model.test.ts
  src/renderer/features/balances/subscription/model/balance-sub-model.ts
  src/renderer/widgets/Staking/Restake/model/form-model.ts
  src/renderer/widgets/Staking/Unstake/model/form-model.ts
  src/renderer/widgets/Staking/Withdraw/model/form-model.ts
  src/renderer/widgets/Transfer/model/form-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix comments
  src/renderer/widgets/AddProxyModal/model/form-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/form-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: filter chains for add proxy by accounts (#1697)
  src/renderer/widgets/AddProxyModal/model/form-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/form-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: refactor form UI
  src/renderer/features/network/ManageCustomRpcNode/index.ts
  src/renderer/features/network/ManageCustomRpcNode/ui/AddCustomRpcModal.tsx
  src/renderer/features/network/ManageCustomRpcNode/ui/EditCustomRpcModal.tsx
  src/renderer/pages/Settings/Networks/Networks.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: latest unstash
  src/renderer/features/network/ManageCustomRpcNode/lib/constants.ts
  src/renderer/features/network/ManageCustomRpcNode/lib/custom-rpc-utils.ts
  src/renderer/features/network/ManageCustomRpcNode/lib/types.ts
  src/renderer/features/network/ManageCustomRpcNode/model/__test__/add-custom-rpc-model.test.ts
  src/renderer/features/network/ManageCustomRpcNode/model/__test__/edit-custom-rpc-model.test.ts
  src/renderer/features/network/ManageCustomRpcNode/model/add-custom-rpc-model.ts
  src/renderer/features/network/ManageCustomRpcNode/model/edit-custom-rpc-model.ts
  src/renderer/features/network/ManageCustomRpcNode/ui/AddCustomRpcModal.tsx
  src/renderer/features/network/ManageCustomRpcNode/ui/EditCustomRpcModal.tsx
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Settings/Networks/components/NetworkSelector/NetworkSelector.test.tsx
  src/renderer/pages/Settings/Networks/components/NetworkSelector/NetworkSelector.tsx
  src/renderer/pages/Settings/Networks/model/manage-network-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: deposit fiat balance
  src/renderer/entities/price/ui/AssetFiatBalance.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: deposit fiat balance (#1699)
  src/renderer/entities/price/ui/AssetFiatBalance.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: proxy groups removed from list
  src/renderer/features/proxies/model/proxies-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: delete unused
  src/renderer/widgets/RemoveProxyModal/ui/RemoveProxy.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: update model
  src/renderer/features/proxies/model/proxies-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: realtime balance for proxy account (#1698)
  src/renderer/entities/balance/model/balance-model.ts
  src/renderer/features/balances/subscription/lib/balance-sub-utils.ts
  src/renderer/features/balances/subscription/model/__tests__/balance-sub-model.test.ts
  src/renderer/features/balances/subscription/model/balance-sub-model.ts
  src/renderer/widgets/Staking/Restake/model/form-model.ts
  src/renderer/widgets/Staking/Unstake/model/form-model.ts
  src/renderer/widgets/Staking/Withdraw/model/form-model.ts
  src/renderer/widgets/Transfer/model/form-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: add rpc model
  src/renderer/app/index.tsx
  src/renderer/entities/network/lib/types.ts
  src/renderer/features/network/ManageCustomRpcNode/index.ts
  src/renderer/features/network/ManageCustomRpcNode/lib/constants.ts
  src/renderer/features/network/ManageCustomRpcNode/lib/custom-rpc-utils.ts
  src/renderer/features/network/ManageCustomRpcNode/lib/types.ts
  src/renderer/features/network/ManageCustomRpcNode/model/__test__/add-custom-rpc-model.test.ts
  src/renderer/features/network/ManageCustomRpcNode/model/__test__/edit-custom-rpc-model.test.ts
  src/renderer/features/network/ManageCustomRpcNode/model/add-custom-rpc-model.ts
  src/renderer/features/network/ManageCustomRpcNode/model/edit-custom-rpc-model.ts
  src/renderer/features/network/ManageCustomRpcNode/ui/AddCustomRpcModal.tsx
  src/renderer/features/network/ManageCustomRpcNode/ui/EditCustomRpcModal.tsx
  src/renderer/features/network/NetworkSelector/ui/NetworkSelector.tsx
  src/renderer/features/network/index.ts
  src/renderer/pages/Settings/Networks/Networks.test.tsx
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Settings/Networks/components/NetworkSelector/NetworkSelector.test.tsx
  src/renderer/pages/Settings/Networks/components/index.ts
  src/renderer/pages/Settings/Networks/model/manage-network-model.ts
  src/renderer/shared/api/network/lib/types.ts
  src/renderer/shared/api/network/service/networkService.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: edit rpc model
  src/renderer/features/network/ManageCustomRpcNode/index.ts
  src/renderer/features/network/ManageCustomRpcNode/lib/constants.ts
  src/renderer/features/network/ManageCustomRpcNode/lib/custom-rpc-utils.ts
  src/renderer/features/network/ManageCustomRpcNode/lib/types.ts
  src/renderer/features/network/ManageCustomRpcNode/model/__test__/add-custom-rpc-model.test.ts
  src/renderer/features/network/ManageCustomRpcNode/model/__test__/edit-custom-rpc-model.test.ts
  src/renderer/features/network/ManageCustomRpcNode/model/add-custom-rpc-model.ts
  src/renderer/features/network/ManageCustomRpcNode/model/edit-custom-rpc-model.ts
  src/renderer/features/network/ManageCustomRpcNode/ui/AddCustomRpcModal.tsx
  src/renderer/features/network/ManageCustomRpcNode/ui/EditCustomRpcModal.tsx
  src/renderer/features/network/NetworkSelector/ui/NetworkSelector.tsx
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Settings/Networks/model/networks-overview-model.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/RemoveProxyModal/ui/RemoveProxy.tsx
  src/renderer/widgets/RemovePureProxyModal/lib/remove-pure-proxy-utils.ts
  src/renderer/widgets/RemovePureProxyModal/ui/RemovePureProxy.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: remove rpc & network-overview-model
  src/renderer/app/index.tsx
  src/renderer/entities/network/model/__tests__/network-model.test.ts
  src/renderer/entities/network/model/network-model.ts
  src/renderer/features/network/ManageCustomRpcNode/index.ts
  src/renderer/features/network/ManageCustomRpcNode/model/add-custom-rpc-model.ts
  src/renderer/features/network/ManageCustomRpcNode/model/edit-custom-rpc-model.ts
  src/renderer/features/network/ManageCustomRpcNode/model/remove-custom-rpc-model.ts
  src/renderer/features/network/ManageCustomRpcNode/ui/AddCustomRpcModal.tsx
  src/renderer/features/network/ManageCustomRpcNode/ui/EditCustomRpcModal.tsx
  src/renderer/features/network/NetworkSelector/lib/__tests__/network-selector-utils.test.ts
  src/renderer/features/network/NetworkSelector/lib/network-selector-utils.ts
  src/renderer/features/network/NetworkSelector/model/__tests__/network-selector-model.test.ts
  src/renderer/features/network/NetworkSelector/model/network-selector-model.ts
  src/renderer/features/network/NetworkSelector/ui/NetworkSelector.tsx
  src/renderer/features/network/index.ts
  src/renderer/pages/Settings/Networks/index.ts
  src/renderer/pages/Settings/Networks/model/__tests__/manage-network-model.test.ts
  src/renderer/pages/Settings/Networks/model/__tests__/networks-overview-model.test.ts
  src/renderer/pages/Settings/Networks/model/manage-network-model.ts
  src/renderer/pages/Settings/Networks/model/networks-overview-model.ts
  src/renderer/pages/Settings/Networks/ui/Networks.tsx
  src/renderer/pages/Settings/index.ts
  src/renderer/shared/api/network/service/__tests__/networkService.test.ts
  src/renderer/shared/api/network/service/networkService.ts
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: tests & types
  src/renderer/features/network/ManageCustomRpcNode/lib/types.ts
  src/renderer/features/network/ManageCustomRpcNode/model/add-custom-rpc-model.ts
  src/renderer/features/network/ManageCustomRpcNode/model/edit-custom-rpc-model.ts
  src/renderer/shared/api/network/index.ts
  src/renderer/shared/api/network/lib/types.ts
  src/renderer/widgets/AddPureProxiedModal/model/__tests__/confirm-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: wallet_new & account_new
  src/renderer/shared/core/types/account.ts
  src/renderer/shared/core/types/wallet.ts
  src/renderer/shared/routes/paths.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: identities, validators performance update
  src/renderer/entities/staking/api/validatorsService.ts
  src/renderer/pages/Staking/ui/Staking.tsx
  src/renderer/shared/core/types/identity.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx
