Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: checkbox redesign
  src/renderer/components/ui-redesign/Checkbox/Checkbox.stories.tsx
  src/renderer/components/ui-redesign/Checkbox/Checkbox.test.tsx
  src/renderer/components/ui-redesign/Checkbox/Checkbox.tsx
  src/renderer/components/ui-redesign/Checkbox/styles.css
  src/renderer/components/ui-redesign/Typography/common/TextBase.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: linter fix
  src/renderer/components/ui-redesign/Typography/common/TextBase.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: remove unnecessary code
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/ui-redesign/Popovers/InfoPopover/InfoPopover.tsx
  src/renderer/context/MatrixContext/MatrixContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: operation result modal
  src/renderer/assets/images/aesthetics/loader-redesign.svg
  src/renderer/assets/images/functionals/status-error.svg
  src/renderer/assets/images/functionals/status-success.svg
  src/renderer/components/ui-redesign/OperationResult/OperationResult.stories.tsx
  src/renderer/components/ui-redesign/OperationResult/OperationResult.test.tsx
  src/renderer/components/ui-redesign/OperationResult/OperationResult.tsx
  src/renderer/components/ui/Icon/data/aesthetics.tsx
  src/renderer/components/ui/Icon/data/functionals.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: changed font weight
  src/renderer/components/ui-redesign/OperationResult/OperationResult.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: reject low score invite
  src/renderer/context/MatrixContext/MatrixContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: block explorer link
  src/renderer/components/common/ExplorerLink/ExplorerLink.tsx
  src/renderer/components/common/index.ts
  src/renderer/components/ui-redesign/Typography/index.ts
  src/renderer/components/ui-redesign/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

refactor: moved modal transitions to helper components
  src/renderer/components/ui-redesign/Modals/BaseModal/BaseModal.stories.tsx
  src/renderer/components/ui-redesign/Modals/BaseModal/BaseModal.tsx
  src/renderer/components/ui-redesign/Modals/common/ModalBackdrop.tsx
  src/renderer/components/ui-redesign/Modals/common/ModalTransition.tsx
  src/renderer/components/ui-redesign/Modals/common/index.ts
  src/renderer/components/ui-redesign/OperationResult/OperationResult.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

style: added animation
  src/renderer/components/ui-redesign/OperationResult/OperationResult.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: reject low score invite (#593)
  src/renderer/context/MatrixContext/MatrixContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: refactor Spektr room detection method
  src/renderer/services/matrix/common/types.ts
  src/renderer/services/matrix/matrix.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: approve multisig transaction
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/domain/transaction.ts
  src/renderer/screens/Operations/common/utils.ts
  src/renderer/screens/Operations/components/ApproveTxButton.tsx
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Operations/components/Scanning/Scanning.tsx
  src/renderer/screens/Operations/components/ShortTransactionInfo.test.tsx
  src/renderer/screens/Operations/components/ShortTransactionInfo.tsx
  src/renderer/screens/Operations/components/Signing/Signing.tsx
  src/renderer/screens/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Operations/components/TransactionTitle.test.tsx
  src/renderer/screens/Operations/components/TransactionTitle.tsx
  src/renderer/services/multisigTx/common/utils.ts
  src/renderer/services/transaction/common/types.ts
  src/renderer/services/transaction/transactionService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: check if threshold reached
  src/renderer/screens/Operations/components/ApproveTxButton.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: translation
  src/renderer/screens/Operations/components/ApproveTx.tsx
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Operations/components/Scanning/Scanning.tsx
  src/renderer/screens/Operations/components/Signing/Signing.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: fix tests
  src/renderer/screens/Operations/Operations.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Update src/renderer/components/ui-redesign/OperationResult/OperationResult.test.tsx
  src/renderer/components/ui-redesign/OperationResult/OperationResult.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: moved function prop, deleted commented code
  src/renderer/components/ui-redesign/Modals/common/ModalTransition.tsx
  src/renderer/components/ui-redesign/OperationResult/OperationResult.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: linter error fix
  src/renderer/components/ui-redesign/OperationResult/OperationResult.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: renamed icons and changed icon color
  src/renderer/assets/images/functionals/checkmark-line-redesign.svg
  src/renderer/assets/images/functionals/close-line-redesign.svg
  src/renderer/assets/images/functionals/status-error.svg
  src/renderer/assets/images/functionals/status-success.svg
  src/renderer/components/ui-redesign/OperationResult/OperationResult.tsx
  src/renderer/components/ui-redesign/OperationResult/constants.ts
  src/renderer/components/ui/Icon/data/functionals.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/screens/Operations/components/ApproveTx.tsx
  src/renderer/services/transaction/common/utils.ts
  src/renderer/services/transaction/transactionService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: approve multisig transaction (#594)
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/domain/transaction.ts
  src/renderer/screens/Operations/Operations.test.tsx
  src/renderer/screens/Operations/common/utils.ts
  src/renderer/screens/Operations/components/ApproveTx.tsx
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Operations/components/Scanning/Scanning.tsx
  src/renderer/screens/Operations/components/ShortTransactionInfo.test.tsx
  src/renderer/screens/Operations/components/ShortTransactionInfo.tsx
  src/renderer/screens/Operations/components/Signing/Signing.tsx
  src/renderer/screens/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Operations/components/TransactionTitle.test.tsx
  src/renderer/screens/Operations/components/TransactionTitle.tsx
  src/renderer/services/multisigTx/common/utils.ts
  src/renderer/services/transaction/common/types.ts
  src/renderer/services/transaction/common/utils.ts
  src/renderer/services/transaction/transactionService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: approve multisig transaction
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/domain/transaction.ts
  src/renderer/screens/Operations/Operations.test.tsx
  src/renderer/screens/Operations/common/utils.ts
  src/renderer/screens/Operations/components/ApproveTx.tsx
  src/renderer/screens/Operations/components/Details.tsx
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Operations/components/Scanning/Scanning.tsx
  src/renderer/screens/Operations/components/ShortTransactionInfo.test.tsx
  src/renderer/screens/Operations/components/ShortTransactionInfo.tsx
  src/renderer/screens/Operations/components/Signing/Signing.tsx
  src/renderer/screens/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Operations/components/TransactionTitle.test.tsx
  src/renderer/screens/Operations/components/TransactionTitle.tsx
  src/renderer/services/multisigTx/common/utils.ts
  src/renderer/services/transaction/common/types.ts
  src/renderer/services/transaction/common/utils.ts
  src/renderer/services/transaction/transactionService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: final signing
  src/renderer/context/MultisigChainContext/MultisigChainContext.tsx
  src/renderer/domain/transaction.ts
  src/renderer/screens/Operations/components/Operation.tsx
  src/renderer/screens/Operations/components/Submit/Submit.tsx
  src/renderer/services/multisigTx/multisigTxService.ts
  src/renderer/services/transaction/common/types.ts
  src/renderer/services/transaction/transactionService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: updated button styles, added new fonts
  colors.js
  src/renderer/assets/fonts/Inter/Inter-400.woff2
  src/renderer/assets/fonts/Inter/Inter-500.woff2
  src/renderer/assets/fonts/Inter/Inter-600.woff2
  src/renderer/assets/fonts/Inter/Inter-800.woff2
  src/renderer/assets/fonts/Manrope/Manrope-400.woff2
  src/renderer/assets/fonts/Manrope/Manrope-500.woff2
  src/renderer/assets/fonts/Manrope/Manrope-600.woff2
  src/renderer/assets/fonts/Manrope/Manrope-800.woff2
  src/renderer/components/ui-redesign/Buttons/Button/Button.tsx
  src/renderer/components/ui-redesign/Buttons/common/constants.ts
  src/renderer/components/ui-redesign/Buttons/common/types.ts
  src/renderer/components/ui-redesign/Typography/common/TextBase.ts
  src/renderer/index.css
  src/renderer/theme/default.css
  tailwind.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

refactor: added typography components
  src/renderer/components/ui-redesign/Checkbox/Checkbox.tsx
  src/renderer/components/ui-redesign/InfoLink/InfoLink.tsx
  src/renderer/components/ui-redesign/InputHint/InputHint.tsx
  src/renderer/components/ui-redesign/Inputs/Input/Input.tsx
  src/renderer/components/ui-redesign/Modals/BaseModal/BaseModal.tsx
  src/renderer/components/ui-redesign/OperationResult/OperationResult.tsx
  src/renderer/components/ui-redesign/Popovers/InfoPopover/InfoPopover.tsx
  src/renderer/components/ui-redesign/Signatory/Signatory.tsx
  src/renderer/components/ui-redesign/Typography/Typography.stories.tsx
  src/renderer/components/ui-redesign/Typography/components/CaptionText.tsx
  src/renderer/components/ui-redesign/Typography/components/FootnoteText.tsx
  src/renderer/components/ui-redesign/Typography/components/HeadlineText.tsx
  src/renderer/components/ui-redesign/Typography/components/LargeTitleText.tsx
  src/renderer/components/ui-redesign/Typography/components/SmallTitleText.tsx
  src/renderer/components/ui-redesign/Typography/index.ts
  src/renderer/components/ui-redesign/index.ts
  tailwind.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: added button size styles
  src/renderer/components/ui-redesign/Buttons/Button/Button.tsx
  src/renderer/components/ui-redesign/Buttons/common/constants.ts
  src/renderer/components/ui-redesign/InputHint/InputHint.tsx
  src/renderer/components/ui-redesign/Inputs/Input/Input.tsx
  src/renderer/components/ui-redesign/Tabs/Tabs.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/shared/locale/*.json
