Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/renderer/shared/api/translation/locales/*.json": ["pnpm lint:i18n-fix"]
}

Fix: notarisation process
  package.json
  pnpm-lock.yaml
  scripts/notarize.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: notarisation process (#1599)
  package.json
  pnpm-lock.yaml
  scripts/notarize.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: create pure proxy
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/widgets/AddPureProxiedModal/model/add-pure-proxied-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: code style
  src/renderer/features/contacts/CreateContactForm/ui/CreateContactForm.tsx
  src/renderer/features/network/ManageCustomRpcNode/lib/custom-rpc-types.ts
  src/renderer/features/network/ManageCustomRpcNode/lib/custom-rpc-utils.ts
  src/renderer/features/network/ManageCustomRpcNode/model/add-custom-rpc-model.ts
  src/renderer/features/network/ManageCustomRpcNode/model/edit-custom-rpc-model.ts
  src/renderer/features/network/ManageCustomRpcNode/ui/AddCustomRpcModal.tsx
  src/renderer/features/network/ManageCustomRpcNode/ui/EditCustomRpcModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: proxy fee validation
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/shared/config/chains/chains_dev.json
  src/renderer/shared/ui/Inputs/AmountInput/AmountInput.tsx
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/add-pure-proxied-model.ts
  src/renderer/widgets/Transfer/model/form-model.ts
  src/renderer/widgets/Transfer/model/transfer-model.ts
  src/renderer/widgets/Transfer/ui/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: create proxy groups after pure proxied wallet created fix: pure proxy deposit calculation
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/add-pure-proxied-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/confirm-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/form-model.ts
  src/renderer/widgets/AddPureProxiedModal/ui/AddPureProxiedForm.tsx
  src/renderer/widgets/AddPureProxiedModal/ui/Confirm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/add-pure-proxied-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: exclude proxied accounts from single chain multisig
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: create proxy groups after pure proxied wallet created (#1603)
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/add-pure-proxied-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/confirm-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/form-model.ts
  src/renderer/widgets/AddPureProxiedModal/ui/AddPureProxiedForm.tsx
  src/renderer/widgets/AddPureProxiedModal/ui/Confirm.tsx
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: create proxy groups after pure proxied wallet created
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/add-pure-proxied-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/confirm-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/form-model.ts
  src/renderer/widgets/AddPureProxiedModal/ui/AddPureProxiedForm.tsx
  src/renderer/widgets/AddPureProxiedModal/ui/Confirm.tsx
  src/renderer/widgets/CreateWallet/model/create-multisig-wallet-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: myself for xcm
  src/renderer/entities/wallet/ui/AccountSelectModal/AccountSelectModal.tsx
  src/renderer/entities/wallet/ui/index.ts
  src/renderer/pages/Operations/components/modals/AccountSelectModal/AccountSelectModal.tsx
  src/renderer/pages/Operations/components/modals/AccountSelectModal/SelectableAccount.tsx
  src/renderer/widgets/Transfer/model/form-model.ts
  src/renderer/widgets/Transfer/ui/TransferForm.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultishardWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/VaultWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: i18n
  src/renderer/app/index.tsx
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/config/chains/chains_dev.json
  src/renderer/shared/ui/Inputs/AmountInput/AmountInput.tsx
  src/renderer/widgets/Transfer/model/form-model.ts
  src/renderer/widgets/Transfer/ui/Confirmation.tsx
  src/renderer/widgets/Transfer/ui/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: init branch
  src/renderer/app/index.tsx
  src/renderer/pages/Operations/components/TransactionTitle/TransactionTitle.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: remove pure proxy
  src/renderer/entities/proxy/api/pureProxiesService.ts
  src/renderer/entities/transaction/lib/callDataDecoder.ts
  src/renderer/entities/transaction/lib/common/constants.ts
  src/renderer/entities/transaction/lib/common/utils.ts
  src/renderer/entities/transaction/lib/extrinsicService.ts
  src/renderer/entities/transaction/lib/transactionConfirmIcon.ts
  src/renderer/entities/transaction/lib/transactionIcon.ts
  src/renderer/entities/transaction/model/transaction.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/config/chains/chains_dev.json
  src/renderer/shared/core/types/account.ts
  src/renderer/shared/core/types/proxy.ts
  src/renderer/shared/ui/Icon/Icon.tsx
  src/renderer/shared/ui/Inputs/Input/Input.tsx
  src/renderer/widgets/AddPureProxiedModal/model/add-pure-proxied-model.ts
  src/renderer/widgets/RemovePureProxyModal/index.ts
  src/renderer/widgets/RemovePureProxyModal/lib/remove-pure-proxy-utils.ts
  src/renderer/widgets/RemovePureProxyModal/lib/submit-proxy-utils.ts
  src/renderer/widgets/RemovePureProxyModal/lib/types.ts
  src/renderer/widgets/RemovePureProxyModal/model/__tests__/add-proxy-model.test.ts
  src/renderer/widgets/RemovePureProxyModal/model/__tests__/confirm-model.test.ts
  src/renderer/widgets/RemovePureProxyModal/model/__tests__/form-model.test.ts
  src/renderer/widgets/RemovePureProxyModal/model/__tests__/mock.ts
  src/renderer/widgets/RemovePureProxyModal/model/__tests__/sign-model.test.ts
  src/renderer/widgets/RemovePureProxyModal/model/__tests__/submit-model.test.ts
  src/renderer/widgets/RemovePureProxyModal/model/confirm-model.ts
  src/renderer/widgets/RemovePureProxyModal/model/form-model.ts
  src/renderer/widgets/RemovePureProxyModal/model/remove-pure-proxy-model.ts
  src/renderer/widgets/RemovePureProxyModal/model/sign-model.ts
  src/renderer/widgets/RemovePureProxyModal/model/submit-model.ts
  src/renderer/widgets/RemovePureProxyModal/model/warning-model.ts
  src/renderer/widgets/RemovePureProxyModal/ui/Confirm.tsx
  src/renderer/widgets/RemovePureProxyModal/ui/RemovePureProxy.tsx
  src/renderer/widgets/RemovePureProxyModal/ui/RemovePureProxyForm.tsx
  src/renderer/widgets/RemovePureProxyModal/ui/Sign.tsx
  src/renderer/widgets/RemovePureProxyModal/ui/Submit.tsx
  src/renderer/widgets/RemovePureProxyModal/ui/Warning.tsx
  src/renderer/widgets/WalletDetails/ui/components/ProxiesList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: description
  src/renderer/entities/transaction/lib/transactionBuilder.ts
  src/renderer/widgets/Transfer/model/form-model.ts
  src/renderer/widgets/Transfer/model/submit-model.ts
  src/renderer/widgets/Transfer/model/transfer-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix error disabled button
  src/renderer/shared/ui/Buttons/common/constants.ts
  src/renderer/widgets/RemovePureProxyModal/model/warning-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: parse proxy transfer
  src/renderer/entities/transaction/lib/common/utils.ts
  src/renderer/entities/transaction/lib/transactionBuilder.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/pages/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Operations/components/OperationCardDetails.tsx
  src/renderer/widgets/Transfer/model/form-model.ts
  src/renderer/widgets/Transfer/model/transfer-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: revert networks
  src/renderer/app/index.tsx
  src/renderer/shared/config/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr review
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Operations/components/OperationCardDetails.tsx
  src/renderer/pages/Operations/components/TransactionTitle/TransactionTitle.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Proxy approve/reject (#1606)
  src/renderer/entities/transaction/lib/common/utils.ts
  src/renderer/entities/transaction/lib/transactionBuilder.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/pages/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/pages/Operations/components/Details.tsx
  src/renderer/pages/Operations/components/OperationCardDetails.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/Transfer/model/form-model.ts
  src/renderer/widgets/Transfer/model/submit-model.ts
  src/renderer/widgets/Transfer/model/transfer-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: pr review
  src/renderer/entities/transaction/lib/common/types.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/features/operation/sign/model/types.ts
  src/renderer/features/operation/sign/ui/Signing/Signing.tsx
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddProxyModal/model/form-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/add-pure-proxied-model.ts
  src/renderer/widgets/RemoveProxy/ui/RemoveProxy.tsx
  src/renderer/widgets/Transfer/model/form-model.ts
  src/renderer/widgets/Transfer/ui/Confirmation.tsx
  src/renderer/widgets/Transfer/ui/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: sign kill pure transaction by proxy account
  src/renderer/widgets/RemovePureProxyModal/lib/remove-pure-proxy-utils.ts
  src/renderer/widgets/RemovePureProxyModal/model/confirm-model.ts
  src/renderer/widgets/RemovePureProxyModal/model/form-model.ts
  src/renderer/widgets/RemovePureProxyModal/model/remove-pure-proxy-model.ts
  src/renderer/widgets/RemovePureProxyModal/model/submit-model.ts
  src/renderer/widgets/RemovePureProxyModal/ui/Confirm.tsx
  src/renderer/widgets/RemovePureProxyModal/ui/Warning.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: multisig proxy
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddProxyModal/model/form-model.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxyForm.tsx
  src/renderer/widgets/AddPureProxiedModal/model/__tests__/add-pure-proxied-model.test.ts
  src/renderer/widgets/AddPureProxiedModal/model/add-pure-proxied-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/form-model.ts
  src/renderer/widgets/AddPureProxiedModal/ui/AddPureProxiedForm.tsx
  src/renderer/widgets/RemoveProxy/ui/RemoveProxy.tsx
  src/renderer/widgets/Transfer/model/transfer-model.ts
  src/renderer/widgets/WalletDetails/ui/components/ProxiesList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: multisig proxy (#1607)
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddProxyModal/model/form-model.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxyForm.tsx
  src/renderer/widgets/AddPureProxiedModal/model/__tests__/add-pure-proxied-model.test.ts
  src/renderer/widgets/AddPureProxiedModal/model/add-pure-proxied-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/form-model.ts
  src/renderer/widgets/AddPureProxiedModal/ui/AddPureProxiedForm.tsx
  src/renderer/widgets/RemoveProxy/ui/RemoveProxy.tsx
  src/renderer/widgets/Transfer/model/transfer-model.ts
  src/renderer/widgets/WalletDetails/ui/components/ProxiesList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: save timepoint on create pure proxy
  src/renderer/widgets/AddPureProxiedModal/model/add-pure-proxied-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/submit-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix lint
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

chore: fix tests
  src/renderer/widgets/AddPureProxiedModal/model/__tests__/add-pure-proxied-model.test.ts
  src/renderer/widgets/AddPureProxiedModal/model/__tests__/confirm-model.test.ts
  src/renderer/widgets/RemovePureProxyModal/model/__tests__/add-proxy-model.test.ts
  src/renderer/widgets/RemovePureProxyModal/model/__tests__/confirm-model.test.ts
  src/renderer/widgets/RemovePureProxyModal/model/__tests__/form-model.test.ts
  src/renderer/widgets/RemovePureProxyModal/model/__tests__/mock.ts
  src/renderer/widgets/RemovePureProxyModal/model/__tests__/sign-model.test.ts
  src/renderer/widgets/RemovePureProxyModal/model/__tests__/submit-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: single sign-model and UI component
  src/renderer/features/operations/OperationSign/index.ts
  src/renderer/features/operations/OperationSign/model/sign-model.ts
  src/renderer/features/operations/OperationSign/ui/OperationSign.tsx
  src/renderer/features/operations/OperationSign/ui/SigningSwitch.tsx
  src/renderer/features/operations/index.ts
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
  src/renderer/pages/Staking/Operations/Bond/Bond.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/pages/Staking/Operations/Destination/Destination.tsx
  src/renderer/pages/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/pages/Staking/Operations/Restake/Restake.tsx
  src/renderer/pages/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/pages/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddProxyModal/model/sign-model.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxy.tsx
  src/renderer/widgets/AddProxyModal/ui/SignProxy.tsx
  src/renderer/widgets/AddPureProxiedModal/model/add-pure-proxied-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/sign-model.ts
  src/renderer/widgets/AddPureProxiedModal/ui/AddPureProxied.tsx
  src/renderer/widgets/AddPureProxiedModal/ui/Sign.tsx
  src/renderer/widgets/Transfer/model/transfer-model.ts
  src/renderer/widgets/Transfer/ui/SignTransfer.tsx
  src/renderer/widgets/Transfer/ui/Transfer.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: tests
  src/renderer/features/operations/OperationSign/model/__tests__/sign-model.test.ts
  src/renderer/widgets/AddProxyModal/model/__tests__/add-proxy-model.test.ts
  src/renderer/widgets/AddPureProxiedModal/model/__tests__/add-pure-proxied-model.test.ts
  src/renderer/widgets/AddPureProxiedModal/model/__tests__/sign-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: update import
  src/renderer/features/operations/OperationSign/index.ts
  src/renderer/features/operations/index.ts
  src/renderer/widgets/AddProxyModal/model/__tests__/add-proxy-model.test.ts
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/__tests__/add-pure-proxied-model.test.ts
  src/renderer/widgets/AddPureProxiedModal/model/add-pure-proxied-model.ts
  src/renderer/widgets/RemoveProxy/ui/RemoveProxy.tsx
  src/renderer/widgets/Transfer/model/transfer-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: lint update
  src/renderer/widgets/AddProxyModal/ui/AddProxy.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: common submit-model
  src/renderer/entities/transaction/ui/OperationResult/OperationResult.tsx
  src/renderer/features/operations/OperationSubmit/index.ts
  src/renderer/features/operations/OperationSubmit/lib/submit-utils.ts
  src/renderer/features/operations/OperationSubmit/lib/types.ts
  src/renderer/features/operations/OperationSubmit/model/__tests__/submit-model.test.ts
  src/renderer/features/operations/OperationSubmit/model/submit-model.ts
  src/renderer/features/operations/OperationSubmit/ui/OperationSubmit.tsx
  src/renderer/features/operations/index.ts
  src/renderer/widgets/AddProxyModal/model/__tests__/add-proxy-model.test.ts
  src/renderer/widgets/AddProxyModal/model/__tests__/submit-model.test.ts
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddProxyModal/model/submit-model.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxy.tsx
  src/renderer/widgets/AddPureProxiedModal/lib/add-pure-proxied-utils.ts
  src/renderer/widgets/AddPureProxiedModal/lib/types.ts
  src/renderer/widgets/AddPureProxiedModal/model/__tests__/add-pure-proxied-model.test.ts
  src/renderer/widgets/AddPureProxiedModal/model/add-pure-proxied-model.ts
  src/renderer/widgets/AddPureProxiedModal/model/submit-model.ts
  src/renderer/widgets/AddPureProxiedModal/ui/AddPureProxied.tsx
  src/renderer/widgets/AddPureProxiedModal/ui/Submit.tsx
  src/renderer/widgets/Transfer/lib/submit-trasnfer-utils.ts
  src/renderer/widgets/Transfer/lib/types.ts
  src/renderer/widgets/Transfer/model/transfer-model.ts
  src/renderer/widgets/Transfer/ui/SubmitTransfer.tsx
  src/renderer/widgets/Transfer/ui/Transfer.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: balance object
  src/renderer/widgets/Transfer/model/form-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged
