Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

chore: placeholder is optional
  src/renderer/components/ui/Dropdowns/Filter/Filter.stories.tsx
  src/renderer/components/ui/Dropdowns/Filter/Filter.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: filter component (#157)
  src/renderer/assets/images/aesthetics/shimmering.svg
  src/renderer/assets/images/aesthetics/sort.svg
  src/renderer/assets/images/functionals/options.svg
  src/renderer/components/common/AccountsList/AccountsList.test.tsx
  src/renderer/components/common/Expandable/Expandable.tsx
  src/renderer/components/common/Explorers/Explorers.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/ui/Dropdowns/Dropdown/Dropdown.stories.tsx
  src/renderer/components/ui/Dropdowns/Dropdown/Dropdown.test.tsx
  src/renderer/components/ui/Dropdowns/Filter/Filter.stories.tsx
  src/renderer/components/ui/Dropdowns/Filter/Filter.test.tsx
  src/renderer/components/ui/Dropdowns/Filter/Filter.tsx
  src/renderer/components/ui/Dropdowns/Select/Select.stories.tsx
  src/renderer/components/ui/Icon/data/aesthetics.tsx
  src/renderer/components/ui/Icon/data/functionals.tsx
  src/renderer/components/ui/RadioGroup/RadioGroup.tsx
  src/renderer/components/ui/Switch/Switch.stories.tsx
  src/renderer/components/ui/Switch/Switch.test.tsx
  src/renderer/components/ui/Switch/Switch.tsx
  src/renderer/components/ui/index.ts
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: add wallet without root
  src/renderer/components/common/AccountsList/AccountsList.tsx
  src/renderer/components/common/Explorers/Explorers.tsx
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/ui/Icon/data/functionals.tsx
  src/renderer/index.css
  src/renderer/screens/Onboarding/Parity/Parity.tsx
  src/renderer/screens/Onboarding/Parity/ParitySignerQrReader/ParitySignerQrReader.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
  src/renderer/screens/Transfer/components/TransferDetails.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: show loader for total staking, refactored staking service
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.tsx
  src/renderer/screens/Staking/Overview/components/TotalAmount/TotalAmount.tsx
  src/renderer/services/staking/__tests__/stakingDataService.test.ts
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/stakingDataService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: updated tests
  src/renderer/screens/Staking/Bond/Validators/Validators.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: unused types
  src/renderer/services/staking/common/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: add wallet without root (#158)
  src/renderer/components/common/AccountsList/AccountsList.tsx
  src/renderer/components/common/Explorers/Explorers.tsx
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/ui/Icon/data/functionals.tsx
  src/renderer/index.css
  src/renderer/screens/Onboarding/Parity/Parity.tsx
  src/renderer/screens/Onboarding/Parity/ParitySignerQrReader/ParitySignerQrReader.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
  src/renderer/screens/Transfer/components/TransferDetails.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: pr review
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/stakingDataService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: update test
  src/renderer/screens/Staking/Overview/Overview.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: select account on transfer
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/context/NetworkContext/NetworkContext.tsx
  src/renderer/screens/Onboarding/Parity/Parity.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: save derivation path
  src/renderer/domain/account.ts
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: select account on transfer (#160)
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/context/NetworkContext/NetworkContext.tsx
  src/renderer/domain/account.ts
  src/renderer/screens/Onboarding/Parity/Parity.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Loader for Staking accounts / Total stake loader (#159)
  src/renderer/screens/Staking/Bond/Validators/Validators.test.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.tsx
  src/renderer/screens/Staking/Overview/components/TotalAmount/TotalAmount.tsx
  src/renderer/services/staking/__tests__/stakingDataService.test.ts
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/stakingDataService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: filter by name
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: add empty state
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/EmptyFilter.test.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/EmptyFilter.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.tsx
  src/renderer/screens/Staking/Overview/components/List/common/types.ts
  src/renderer/screens/Staking/Overview/components/index.ts
  src/renderer/utils/strings.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Filter by name/address (#161)
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/EmptyFilter.test.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/EmptyFilter.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.tsx
  src/renderer/screens/Staking/Overview/components/List/common/types.ts
  src/renderer/screens/Staking/Overview/components/index.ts
  src/renderer/utils/strings.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: balance loading
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/context/NetworkContext/NetworkContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: balance shimmering for multiple accounts
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: balance loading (#162)
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/context/NetworkContext/NetworkContext.tsx
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: select account after add
  src/renderer/domain/account.ts
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: select account after add (#163)
  src/renderer/domain/account.ts
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: use multi for balances
  src/renderer/services/balance/balanceService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: macos camera
  app.config.js
  electron-builder.js
  package.json
  pnpm-lock.yaml
  scripts/notarize.js
  src/main/resources/entitlements/entitlements.mac.plist
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: adding secrets for notarization
  .github/workflows/release.yaml
Due: none

fix: adding ascProvider
  .github/workflows/release.yaml
  scripts/notarize.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: refactor getting validators
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/services/staking/__tests__/stakingDataService.test.ts
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/stakingDataService.ts
  src/renderer/services/staking/validatorsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: update test
  src/renderer/components/ui/Popover/Popover.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: calculate oversubscribed validators
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/validatorsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: uodate
  src/renderer/services/staking/common/types.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix macOS camera issues. (#165)
  .github/workflows/release.yaml
  app.config.js
  electron-builder.js
  package.json
  pnpm-lock.yaml
  scripts/notarize.js
  src/main/resources/entitlements/entitlements.mac.plist
  src/renderer/components/ui/Popover/Popover.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: update, fix test
  src/renderer/screens/Staking/Bond/Validators/Validators.test.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/services/staking/__tests__/stakingDataService.test.ts
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/stakingDataService.ts
  src/renderer/services/staking/validatorsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: balances optimisations
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/types.ts
  src/renderer/context/NetworkContext/NetworkContext.tsx
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Onboarding/Parity/StepThreeSingle/StepThreeSingle.tsx
  src/renderer/screens/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/screens/Settings/Networks/ConnectionSelector/Selector/Selector.tsx
  src/renderer/services/balance/balanceService.ts
  src/renderer/services/balance/common/types.ts
  src/renderer/services/dataVerification/dataVerification.ts
  src/renderer/services/network/common/constants.ts
  src/renderer/services/network/networkService.ts
  src/renderer/services/storage/balanceStorage.ts
  src/renderer/services/storage/common/types.ts
  src/renderer/services/storage/storage.ts
  src/renderer/services/subscription/common/types.ts
  src/renderer/services/subscription/subscriptionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix tests
  src/renderer/context/NetworkContext/NetworkContext.tsx
  src/renderer/screens/Settings/Networks/ConnectionSelector/Selector/Selector.tsx
  src/renderer/services/dataVerification/dataVerification.ts
  src/renderer/services/storage/storage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix tests
  src/renderer/context/NetworkContext/NetworkContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: correct accounts for receive
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: select wallet
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.tsx
  src/renderer/screens/Transfer/Transfer.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Get oversubscribed info for validators (#166)
  src/renderer/screens/Staking/Bond/Validators/Validators.test.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/services/staking/__tests__/stakingDataService.test.ts
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/stakingDataService.ts
  src/renderer/services/staking/validatorsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: use multi for balances (#164)
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/types.ts
  src/renderer/context/NetworkContext/NetworkContext.tsx
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.tsx
  src/renderer/screens/Onboarding/Parity/StepThreeSingle/StepThreeSingle.tsx
  src/renderer/screens/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/services/balance/balanceService.ts
  src/renderer/services/balance/common/types.ts
  src/renderer/services/dataVerification/dataVerification.ts
  src/renderer/services/network/common/constants.ts
  src/renderer/services/network/networkService.ts
  src/renderer/services/storage/balanceStorage.ts
  src/renderer/services/storage/common/types.ts
  src/renderer/services/subscription/common/types.ts
  src/renderer/services/subscription/subscriptionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx
