Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

chore: update pnpm and matrix sdk
  package.json
  pnpm-lock.yaml
  src/renderer/services/matrix/matrix.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: update lock file
  pnpm-lock.yaml
Due: none

Feat: support max weight calc for unknown tx
  package.json
  pnpm-lock.yaml
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/services/matrix/matrix.ts
  src/renderer/services/transaction/callDataDecoder.ts
  src/renderer/services/transaction/common/constants.ts
  src/renderer/services/transaction/common/types.ts
  src/renderer/services/transaction/transactionService.ts
  src/renderer/shared/utils/substrate.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: support max weight calc for unknown tx (#1002)
  package.json
  pnpm-lock.yaml
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/services/matrix/matrix.ts
  src/renderer/services/transaction/callDataDecoder.ts
  src/renderer/services/transaction/common/constants.ts
  src/renderer/services/transaction/common/types.ts
  src/renderer/services/transaction/transactionService.ts
  src/renderer/shared/utils/substrate.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: use hash for big tx on verify
  src/renderer/services/transaction/common/types.ts
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: verify function
  src/renderer/services/transaction/common/types.ts
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: use hash for big tx on verify (#1006)
  src/renderer/services/transaction/common/types.ts
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: use hash for big tx on verify
  src/renderer/services/transaction/common/types.ts
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: use correct params for orml/asset transfer
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: use correct params for orml/asset transfer (#1009)
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: options container style
  src/renderer/shared/ui/Dropdowns/Combobox/Combobox.tsx
  src/renderer/shared/ui/Dropdowns/MultiSelect/MultiSelect.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: options container style (#1010)
  src/renderer/shared/ui/Dropdowns/Combobox/Combobox.tsx
  src/renderer/shared/ui/Dropdowns/MultiSelect/MultiSelect.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: update imports
  src/renderer/entities/contact/ui/ContactList.tsx
  src/renderer/entities/contact/ui/ContactRow.tsx
  src/renderer/entities/contact/ui/EmptyContactList.tsx
  src/renderer/entities/contact/ui/EmptyFilteredContacts.tsx
  src/renderer/entities/contact/ui/__tests__/EmptyContactList.test.tsx
  src/renderer/entities/contact/ui/__tests__/EmptyFilteredContacts.test.tsx
  src/renderer/entities/contact/ui/index.ts
  src/renderer/entities/transaction/lib/common/types.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/features/contacts/ContactFilter/index.ts
  src/renderer/features/contacts/ContactFilter/ui/ContactFilter.tsx
  src/renderer/features/contacts/CreateContact/index.ts
  src/renderer/features/contacts/CreateContact/ui/CreateContactForm.tsx
  src/renderer/features/contacts/CreateContact/ui/CreateContactNavigation.tsx
  src/renderer/features/contacts/EditContactForm/index.ts
  src/renderer/features/contacts/EditContactForm/ui/EditContactForm.tsx
  src/renderer/features/contacts/EditContactForm/ui/EditContactNavigation.tsx
  src/renderer/features/contacts/EditRouteGuard/index.ts
  src/renderer/features/contacts/EditRouteGuard/ui/EditRouteGuard.tsx
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
  tests/integrations/matrix/matrix.base.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: refactrored staking init screen
  src/renderer/features/InitOperation/index.ts
  src/renderer/features/InitOperation/ui/MultishardStaking/MultishardStaking.tsx
  src/renderer/features/InitOperation/ui/MultishardTransfer/MultishardTransfer.tsx
  src/renderer/features/InitOperation/ui/MultisigOperation/MultisigOperation.tsx
  src/renderer/features/InitOperation/ui/OperationFooter/OperationFooter.tsx
  src/renderer/features/InitOperation/ui/OperationHeader/OperationHeader.tsx
  src/renderer/pages/Staking/Operations/Bond/Bond.tsx
  src/renderer/pages/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/components/OperationForm/OperationForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fixed init operation tests
  src/renderer/pages/Staking/Operations/Bond/InitOperation/InitOperation.test.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/InitOperation/InitOperation.test.tsx
  src/renderer/pages/Staking/Operations/Redeem/InitOperation/InitOperation.test.tsx
  src/renderer/pages/Staking/Operations/Restake/InitOperation/InitOperation.test.tsx
  src/renderer/pages/Staking/Operations/StakeMore/InitOperation/InitOperation.test.tsx
  src/renderer/pages/Staking/Operations/Unstake/InitOperation/InitOperation.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: reset form, update validation
  src/renderer/features/contacts/CreateContact/model/contact-form.ts
  src/renderer/features/contacts/CreateContact/ui/CreateContactForm.tsx
  src/renderer/features/contacts/EditContactForm/model/contact-form.ts
  src/renderer/features/contacts/EditContactForm/ui/EditContactForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: update license info
  NOTICE.md
  README.md
Due: none

update README.md, NOTICE.md
  NOTICE.md
  README.md
Due: none

feat: adding workflow for publish release
  .github/workflows/github_release.yaml
  .github/workflows/publish_release_on_app_store.yml
  electron-builder.js
  package.json
  pnpm-lock.yaml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Update README.md
  README.md
Due: none

chore: array utils, review updates
  src/renderer/entities/contact/model/contact.ts
  src/renderer/entities/transaction/lib/transactionService.ts
  src/renderer/features/contacts/CreateContactForm/index.ts
  src/renderer/features/contacts/CreateContactForm/model/contact-form.ts
  src/renderer/features/contacts/CreateContactForm/ui/CreateContactForm.tsx
  src/renderer/features/contacts/CreateContactForm/ui/CreateContactNavigation.tsx
  src/renderer/features/contacts/EditContactForm/model/contact-form.ts
  src/renderer/features/contacts/EditContactForm/ui/EditContactForm.tsx
  src/renderer/features/contacts/EditRouteGuard/model/edit-guard.ts
  src/renderer/features/contacts/EditRouteGuard/ui/EditRouteGuard.tsx
  src/renderer/features/contacts/index.ts
  src/renderer/shared/lib/utils/__tests__/address.test.ts
  src/renderer/shared/lib/utils/__tests__/arrays.test.ts
  src/renderer/shared/lib/utils/__tests__/balance.test.ts
  src/renderer/shared/lib/utils/__tests__/strings.test.ts
  src/renderer/shared/lib/utils/__tests__/substrate.test.ts
  src/renderer/shared/lib/utils/arrays.ts
  src/renderer/shared/lib/utils/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: adding build and deploy
  .github/workflows/build_storybook.yml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: refactored transfer init step
  src/renderer/features/InitOperation/ui/OperationHeader/OperationHeader.tsx
  src/renderer/pages/Transfer/Transfer.tsx
  src/renderer/pages/Transfer/components/ActionSteps/InitOperation.tsx
  src/renderer/pages/Transfer/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: renamed feature
  src/renderer/features/init-operation/index.ts
  src/renderer/features/init-operation/ui/MultishardStaking/MultishardStaking.tsx
  src/renderer/features/init-operation/ui/MultishardTransfer/MultishardTransfer.tsx
  src/renderer/features/init-operation/ui/MultisigOperation/MultisigOperation.tsx
  src/renderer/features/init-operation/ui/OperationFooter/OperationFooter.tsx
  src/renderer/features/init-operation/ui/OperationHeader/OperationHeader.tsx
  src/renderer/pages/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/pages/Transfer/components/ActionSteps/InitOperation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: implemented new signing components and fixed errors
  src/renderer/components/common/Scanning/ScanSingleframeQr.tsx
  src/renderer/entities/transaction/lib/useBalanceValidation.ts
  src/renderer/features/init-operation/ui/MultishardStaking/MultishardStaking.tsx
  src/renderer/features/init-operation/ui/OperationHeader/OperationHeader.tsx
  src/renderer/features/signing/index.ts
  src/renderer/features/signing/model/index.ts
  src/renderer/features/signing/ui/Signing/Signing.tsx
  src/renderer/features/signing/ui/VaultSigning/VaultSigning.tsx
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
  src/renderer/pages/Staking/Operations/Bond/Bond.tsx
  src/renderer/pages/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Destination/Destination.tsx
  src/renderer/pages/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/pages/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Restake/Restake.tsx
  src/renderer/pages/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/pages/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/pages/Staking/Operations/components/Signing/Signing.tsx
  src/renderer/pages/Staking/Operations/components/index.ts
  src/renderer/pages/Transfer/Transfer.tsx
  src/renderer/pages/Transfer/components/ActionSteps/InitOperation.tsx
  src/renderer/pages/Transfer/components/ActionSteps/Signing.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: moved some components, fixed tests
  src/renderer/components/common/Scanning/ScanSingleframeQr.tsx
  src/renderer/features/operation/index.ts
  src/renderer/features/operation/init/index.ts
  src/renderer/features/operation/init/ui/MultishardStaking/MultishardStaking.tsx
  src/renderer/features/operation/init/ui/MultishardTransfer/MultishardTransfer.tsx
  src/renderer/features/operation/init/ui/MultisigOperation/MultisigOperation.tsx
  src/renderer/features/operation/init/ui/OperationFooter/OperationFooter.tsx
  src/renderer/features/operation/init/ui/OperationHeader/OperationHeader.tsx
  src/renderer/features/operation/sign/index.ts
  src/renderer/features/operation/sign/model/index.ts
  src/renderer/features/operation/sign/ui/Signing/Signing.tsx
  src/renderer/features/operation/sign/ui/VaultSigning/VaultSigning.tsx
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
  src/renderer/pages/Staking/Operations/Bond/Bond.test.tsx
  src/renderer/pages/Staking/Operations/Bond/Bond.tsx
  src/renderer/pages/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/ChangeValidators.test.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Destination/Destination.test.tsx
  src/renderer/pages/Staking/Operations/Destination/Destination.tsx
  src/renderer/pages/Staking/Operations/Destination/InitOperation/InitOperation.test.tsx
  src/renderer/pages/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/pages/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Restake/Restake.test.tsx
  src/renderer/pages/Staking/Operations/Restake/Restake.tsx
  src/renderer/pages/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/StakeMore/StakeMore.test.tsx
  src/renderer/pages/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/pages/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Unstake/Unstake.test.tsx
  src/renderer/pages/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/pages/Transfer/Transfer.tsx
  src/renderer/pages/Transfer/components/ActionSteps/InitOperation.tsx
  src/renderer/pages/Transfer/components/ActionSteps/Signing.tsx
  src/renderer/pages/Transfer/components/ActionSteps/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: added tests, changed validation method
  src/renderer/entities/account/model/account.ts
  src/renderer/entities/transaction/lib/index.ts
  src/renderer/entities/transaction/lib/useBalanceValidation.ts
  src/renderer/entities/transaction/lib/validateBalance.ts
  src/renderer/features/operation/init/ui/MultishardTransfer/MultishardTransfer.tsx
  src/renderer/features/operation/init/ui/MultisigOperation/MultisigOperation.tsx
  src/renderer/features/operation/init/ui/OperationHeader/OperationHeader.test.tsx
  src/renderer/features/operation/init/ui/OperationHeader/OperationHeader.tsx
  src/renderer/features/operation/sign/model/index.ts
  src/renderer/features/operation/sign/ui/VaultSigning/VaultSigning.tsx
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
  src/renderer/pages/Transfer/Transfer.tsx
  src/renderer/pages/Transfer/components/ActionSteps/InitOperation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fixed init operation tests
  src/renderer/pages/Staking/Operations/Bond/InitOperation/InitOperation.test.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/InitOperation/InitOperation.test.tsx
  src/renderer/pages/Staking/Operations/Destination/InitOperation/InitOperation.test.tsx
  src/renderer/pages/Staking/Operations/Redeem/InitOperation/InitOperation.test.tsx
  src/renderer/pages/Staking/Operations/Restake/InitOperation/InitOperation.test.tsx
  src/renderer/pages/Staking/Operations/StakeMore/InitOperation/InitOperation.test.tsx
  src/renderer/pages/Staking/Operations/Unstake/InitOperation/InitOperation.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: svg documentation
  docs/svg-sprites.md
  src/renderer/assets/images/icons/not-svg/polkaholic.webp
  src/renderer/assets/images/icons/walletTypes.svg
  src/renderer/components/common/FallbackScreen/FallbackScreen.tsx
  src/renderer/components/common/QrCode/QrGeneratorContainer/QrGeneratorContainer.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/common/constants.ts
  src/renderer/components/modals/CreateMultisigAccount/components/WalletsTabItem.tsx
  src/renderer/components/modals/MatrixModal/components/Verification/Verification.tsx
  src/renderer/entities/contact/ui/EmptyContactList.tsx
  src/renderer/entities/contact/ui/EmptyFilteredContacts.tsx
  src/renderer/pages/Assets/Assets.tsx
  src/renderer/pages/Notifications/components/EmptyNotifications.tsx
  src/renderer/pages/Onboarding/Vault/KeyQrReader/KeyQrReader.tsx
  src/renderer/pages/Onboarding/WatchOnly/EmptyState.tsx
  src/renderer/pages/Onboarding/Welcome/Welcome.tsx
  src/renderer/pages/Operations/components/EmptyState/EmptyOperations.tsx
  src/renderer/pages/Operations/components/modals/ApproveTx.tsx
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Settings/Overview/components/Version/Version.tsx
  src/renderer/pages/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/renderer/pages/Staking/Operations/components/NoAsset/NoAsset.tsx
  src/renderer/pages/Staking/Operations/components/Validators/Validators.tsx
  src/renderer/pages/Staking/Overview/components/EmptyState/NoValidators.tsx
  src/renderer/pages/Transfer/components/ActionSteps/Confirmation.tsx
  src/renderer/shared/ui/Icon/data/arrows.ts
  src/renderer/shared/ui/Icon/data/derivations.ts
  src/renderer/shared/ui/Icon/data/explorers.ts
  src/renderer/shared/ui/Icon/data/languages.ts
  src/renderer/shared/ui/Icon/data/product.ts
  src/renderer/shared/ui/Icon/data/service.ts
  src/renderer/shared/ui/Icon/data/social.ts
  src/renderer/shared/ui/Icon/data/staking.ts
  src/renderer/shared/ui/Icon/data/status.ts
  src/renderer/shared/ui/Icon/data/walletTypes.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: wallet connect research
  package.json
  pnpm-lock.yaml
  src/main/main.ts
  src/renderer/components/common/QrCode/QrGenerator/QrSimpleTextGenerator.tsx
  src/renderer/components/common/QrCode/QrGenerator/common/useTextGenerator.ts
  src/renderer/components/common/QrCode/QrGenerator/common/utils.ts
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/shared/ui/WalletConnectQR/WalletConnectQR.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: use filtered contacts
  src/renderer/features/contacts/ContactFilter/model/contact-filter.ts
  src/renderer/features/contacts/ContactFilter/ui/ContactFilter.tsx
  src/renderer/pages/AddressBook/Contacts/Contacts.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx
