Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

.lintstagedrc.json:

{
  "*.{ts,tsx}": "pnpm types:files globals.d.ts src/main/shared/bridge.ts",
  "*.{js,ts,tsx}": "pnpm lint:generic"
}

chore: pr review
  src/renderer/features/currency/CurrencyForm/ui/CurrencyForm.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

chore: pr review v2
  src/renderer/shared/ui-entities/Address/Address.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

Feat: Select camera
  src/renderer/entities/transaction/ui/QrCode/QrReader/QrReaderWrapper.tsx
  src/renderer/features/wallets/DerivationsAddressModal/ui/DdKeyQrReader.tsx
  src/renderer/pages/Onboarding/Vault/KeyQrReader/KeyQrReader.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

Feat: Currency selector
  src/renderer/features/currency/CurrencyForm/ui/CurrencyForm.tsx
  src/renderer/shared/ui-kit/Select/Select.stories.tsx
  src/renderer/shared/ui-kit/Select/Select.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: missing multisig
  src/renderer/processes/multisigs/lib/__tests__/multisigs-utils.test.ts
  src/renderer/processes/multisigs/lib/mulitisigs-utils.ts
  src/renderer/processes/multisigs/model/__tests__/multisigs-model.test.ts
  src/renderer/processes/multisigs/model/multisigs-model.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: remove deploy spektr to bucket
  .github/workflows/deploy_to_bucket.yml
Due: none

fix: small ux fixes on assets page
  src/renderer/entities/asset/ui/AssetDetails/AssetDetails.tsx
  src/renderer/entities/asset/ui/AssetLinks/AssetLinks.tsx
  src/renderer/entities/balance/lib/constants.ts
  src/renderer/entities/chain/ui/ChainIcon/ChainIcon.tsx
  src/renderer/entities/price/ui/AssetFiatBalance.tsx
  src/renderer/entities/price/ui/TokenPrice.tsx
  src/renderer/features/assets/AssetsChainView/ui/AssetCard/AssetCard.tsx
  src/renderer/features/assets/AssetsChainView/ui/AssetsChainView.tsx
  src/renderer/features/assets/AssetsChainView/ui/NetworkAssets/NetworkAssets.tsx
  src/renderer/features/assets/AssetsPortfolioView/ui/AssetsPortfolioView.tsx
  src/renderer/features/assets/AssetsPortfolioView/ui/NetworkCard.tsx
  src/renderer/features/assets/AssetsPortfolioView/ui/TokenBalance.tsx
  src/renderer/features/assets/AssetsPortfolioView/ui/TokenBalanceList.tsx
  src/renderer/features/assets/AssetsSearch/ui/AssetsSearch.tsx
  src/renderer/features/assets/AssetsSettings/ui/AssetsSettings.tsx
  src/renderer/features/contacts/ContactFilter/ui/ContactFilter.tsx
  src/renderer/features/navigation/ui/Navigation.tsx
  src/renderer/shared/ui-entities/AssetIcon/AssetIcon.tsx
  src/renderer/shared/ui/Inputs/Input/Input.tsx
  src/renderer/shared/ui/Inputs/SearchInput/SearchInput.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: short chain name for governance url
  src/renderer/entities/network/lib/network-utils.ts
  src/renderer/pages/Governance/lib/constants.ts
  src/renderer/pages/Governance/ui/Governance.tsx
  src/renderer/pages/Governance/ui/GovernanceReferendumDetails.tsx
  src/renderer/pages/index.tsx
  src/renderer/shared/routes/paths.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: tests for chain name converter
  src/renderer/entities/network/lib/__tests__/network-utils.test.ts
  src/renderer/entities/network/lib/network-utils.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

chore: fix comments
  src/renderer/entities/network/lib/__tests__/network-utils.test.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: concurency
  .github/workflows/deploy_storybook.yml
  .github/workflows/setup-s3cmd/action.yml
Due: none

chore: test
  .github/workflows/deploy_storybook.yml
Due: none

fix: assets ux
  src/renderer/features/assets/AssetsChainView/ui/AssetsChainView.tsx
  src/renderer/features/assets/AssetsPortfolioView/model/portfolio-model.ts
  src/renderer/features/assets/AssetsPortfolioView/ui/AssetsPortfolioView.tsx
  src/renderer/shared/lib/hooks/useDeferredList.ts
  src/renderer/shared/lib/hooks/usePrevious.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

feat: another selectors
  src/renderer/entities/operations/ui/SignatorySelector.tsx
  src/renderer/features/governance/components/OffChainDataSource/OffChainDataSource.tsx
  src/renderer/features/governance/components/OffChainDataSource/constants.ts
  src/renderer/pages/Fellowship/ui/Fellowship.tsx
  src/renderer/widgets/DelegationModal/components/DelegationList.tsx
  src/renderer/widgets/VoteModal/ui/formFields/AccountsSelector.tsx
  src/renderer/widgets/VoteModal/ui/formFields/Signatories.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: change region
  .github/workflows/deploy_storybook.yml
Due: none

fix: remove python MIME type detection
  .github/workflows/setup-s3cmd/action.yml
Due: none

fix: test mime function
  .github/workflows/upload-to-s3/action.yml
Due: none

fix: small typo
  .github/workflows/upload-to-s3/action.yml
Due: none

fix: typo
  .github/workflows/upload-to-s3/action.yml
Due: none

feat: add concurency for all workflows
  .github/workflows/build.yaml
  .github/workflows/build_stage.yaml
  .github/workflows/ci_lint.yaml
Due: none

fix: add concurency
  .github/workflows/global_coverage_report.yml
  .github/workflows/integration_test_runner.yaml
  .github/workflows/system_tests.yml
  .github/workflows/unit_tests.yaml
  .github/workflows/update_chains_file.yaml
Due: none

fix: system tests
  src/renderer/features/assets/AssetsSettings/ui/AssetsSettings.tsx
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

fix: try to deploy on macos
  .github/workflows/deploy_storybook.yml
  .github/workflows/upload-to-s3/action.yml
Due: none

fix: remove test deploy
  .github/workflows/deploy_storybook.yml
Due: none

fix: rewrite sync stage
  .github/workflows/deploy_storybook.yml
  .github/workflows/upload-to-s3/action.yml
Due: none

fix: remove test trigger
  .github/workflows/deploy_storybook.yml
Due: none

fix: remove delete step
  .github/workflows/upload-to-s3/action.yml
Due: none

Fix/add_concurency_for_storybook
  .github/workflows/build.yaml
  .github/workflows/build_stage.yaml
  .github/workflows/ci_lint.yaml
  .github/workflows/deploy_storybook.yml
  .github/workflows/global_coverage_report.yml
  .github/workflows/integration_test_runner.yaml
  .github/workflows/system_tests.yml
  .github/workflows/unit_tests.yaml
  .github/workflows/update_chains_file.yaml
  .github/workflows/upload-to-s3/action.yml
Due: none

Feat: new multisig operations subscription service (#2654)
  src/renderer/domains/collectives/model/members/model.ts
  src/renderer/domains/collectives/model/referendum/model.ts
  src/renderer/domains/multisig/index.ts
  src/renderer/domains/multisig/model/multisigs/constants.ts
  src/renderer/domains/multisig/model/multisigs/model.ts
  src/renderer/domains/multisig/model/multisigs/service.ts
  src/renderer/domains/multisig/model/multisigs/types.ts
  src/renderer/entities/governance/lib/governanceSubscribeService.ts
  src/renderer/features/multisig-operations/constants.ts
  src/renderer/features/multisig-operations/index.ts
  src/renderer/features/multisig-operations/model/list.ts
  src/renderer/features/multisig-operations/model/status.ts
  src/renderer/shared/pallet/multisig/consts.ts
  src/renderer/shared/pallet/multisig/index.ts
  src/renderer/shared/pallet/multisig/schema.ts
  src/renderer/shared/pallet/multisig/storage.ts
  src/renderer/shared/polkadotjs-helpers/subscribeSystemEvents.ts
  src/renderer/shared/polkadotjs-schemas/index.ts
Due: pnpm types:files globals.d.ts src/main/shared/bridge.ts, pnpm lint:generic

feat: lint rule for effector combine
  .eslintrc.js
  eslint-local-rules/index.js
  eslint-local-rules/rules/restrict-combine-args.js
Due: pnpm lint:generic

feat: simpler rule
  .eslintrc.js
  eslint-local-rules/index.js
  eslint-local-rules/rules/restrict-combine-args.js
Due: pnpm lint:generic

Update .eslintrc.js
  .eslintrc.js
Due: pnpm lint:generic
