Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: locale sort
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix: multishard migration
  src/renderer/pages/Assets/AssetsList/components/SelectShardModal/SelectShardModal.tsx
  src/renderer/shared/api/storage/migration/migration-2.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: update migration
  src/renderer/shared/api/storage/migration/migration-2.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: update base and chain accounts
  src/renderer/shared/api/storage/migration/migration-2.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: update property
  src/renderer/shared/api/storage/migration/migration-2.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: Multishard migration
  src/renderer/pages/Assets/AssetsList/components/SelectShardModal/SelectShardModal.tsx
  src/renderer/shared/api/storage/migration/migration-2.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Multishard migration (#1213)
  src/renderer/pages/Assets/AssetsList/components/SelectShardModal/SelectShardModal.tsx
  src/renderer/shared/api/storage/migration/migration-2.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: correct sign button on staking
  src/renderer/pages/Staking/Operations/components/Confirmation/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: use active accounts for balance subscription
  src/renderer/app/providers/context/NetworkContext/NetworkContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix tests
  src/renderer/app/providers/context/NetworkContext/NetworkContext.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/pages/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: rename accounts to active accounts
  src/renderer/app/providers/context/NetworkContext/NetworkContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: use active accounts for balance subscription (#1217)
  src/renderer/app/providers/context/NetworkContext/NetworkContext.test.tsx
  src/renderer/app/providers/context/NetworkContext/NetworkContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: use active accounts for balance subscription
  src/renderer/app/providers/context/NetworkContext/NetworkContext.test.tsx
  src/renderer/app/providers/context/NetworkContext/NetworkContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: correct sign button on staking
  src/renderer/pages/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: correct sign button on staking (#1216)
  src/renderer/pages/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/renderer/widgets/SendAssetModal/ui/components/ActionSteps/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: detect dynamic derivation support
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/components/common/QrCode/common/constants.ts
  src/renderer/components/common/QrCode/common/types.ts
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/ManageDynamicDerivations.tsx
  src/renderer/pages/Onboarding/Vault/Vault.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: update videos
  src/renderer/assets/video/onboarding_tutorial.mp4
  src/renderer/assets/video/onboarding_tutorial.webm
Due: none

fix: balances sunscribption functions
  src/renderer/app/index.tsx
  src/renderer/app/providers/context/NetworkContext/NetworkContext.tsx
  src/renderer/entities/asset/lib/balanceService.ts
  src/renderer/entities/asset/lib/common/types.ts
  src/renderer/shared/api/storage/common/types.ts
  src/renderer/shared/api/storage/service/balanceStorage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: removed dynamic derivation as fsd entity, creted mocks folder
  src/main/main.ts
  src/renderer/entities/dynamicDerivations/index.ts
  src/renderer/entities/dynamicDerivations/lib/constants.ts
  src/renderer/entities/dynamicDerivations/lib/index.ts
  src/renderer/entities/dynamicDerivations/model/index.ts
  src/renderer/entities/wallet/index.ts
  src/renderer/entities/wallet/lib/__tests__/import-keys-utils.test.ts
  src/renderer/entities/wallet/lib/__tests__/mocks/import-keys-utils.mock.ts
  src/renderer/entities/wallet/lib/import-keys-utils.ts
  src/renderer/entities/wallet/lib/types.ts
  src/renderer/entities/wallet/model/import-keys-model.ts
  src/renderer/features/dynamicDerivations/index.ts
  src/renderer/features/wallets/ImportKeysModal/ImportKeysModal.tsx
  src/renderer/features/wallets/ImportKeysModal/mock-data.ts
  src/renderer/features/wallets/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: removed getState usages from model
  src/renderer/entities/wallet/lib/__tests__/import-keys-utils.test.ts
  src/renderer/entities/wallet/lib/import-keys-utils.ts
  src/renderer/entities/wallet/lib/types.ts
  src/renderer/entities/wallet/model/import-keys-model.ts
  src/renderer/features/wallets/ImportKeysModal/ImportKeysModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: updated colors
  src/renderer/app/styles/theme/default.css
  src/renderer/features/wallets/ImportKeysModal/ImportKeysModal.tsx
  src/renderer/shared/ui/Alert/common/constants.ts
  tw-config-consts/colors.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: validators table scroll fix and confirmation page padding (#1212)
  src/renderer/entities/staking/ui/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/entities/staking/ui/ValidatorsTable/ValidatorsTable.tsx
  src/renderer/pages/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/pages/Operations/components/Details.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: validators table scroll fix and confirmation page padding
  src/renderer/entities/staking/ui/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/entities/staking/ui/ValidatorsTable/ValidatorsTable.tsx
  src/renderer/pages/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/pages/Operations/components/Details.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: added active prop to alert
  src/renderer/features/wallets/ImportKeysModal/ImportKeysModal.tsx
  src/renderer/pages/Settings/Networks/components/CustomRpcModal/CustomRpcModal.tsx
  src/renderer/pages/Staking/Operations/Bond/Bond.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/pages/Staking/Operations/Restake/Restake.tsx
  src/renderer/pages/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/pages/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/shared/ui/Alert/Alert.tsx
  src/renderer/shared/ui/InfoLink/InfoLink.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigAccount/components/WalletForm.tsx
  src/renderer/widgets/MatrixModal/ui/LoginForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: mutex insertion
  package.json
  pnpm-lock.yaml
  src/renderer/app/index.tsx
  src/renderer/entities/asset/lib/balanceService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: remove problem networks
  src/renderer/assets/chains/chains.json
  src/renderer/assets/chains/chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: added electron store and autoUpdate flag
  package.json
  pnpm-lock.yaml
  src/main/index.ts
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.tsx
  src/shared/bridge.ts
  src/shared/constants/common.ts
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: explorers popover
  src/renderer/components/common/ExplorerLink/ExplorerLink.tsx
  src/renderer/components/common/ExtrinsicExplorers/useExtrinsicInfo.tsx
  src/renderer/components/common/index.ts
  src/renderer/entities/wallet/lib/useAddressInfo.tsx
  src/renderer/entities/wallet/lib/wallet-utils.ts
  src/renderer/entities/wallet/ui/Cards/WalletCardLg/WalletCardLg.tsx
  src/renderer/entities/wallet/ui/Cards/WalletCardMd/WalletCardMd.tsx
  src/renderer/entities/wallet/ui/Cards/WalletCardSm/WalletCardSm.tsx
  src/renderer/entities/wallet/ui/ExplorersPopover/ExplorersPopover.tsx
  src/renderer/entities/wallet/ui/index.ts
  src/renderer/entities/walletConnect/lib/utils.ts
  src/renderer/entities/walletConnect/model/wallet-connect-model.ts
  src/renderer/features/operation/init/ui/__tests__/OperationHeader.test.tsx
  src/renderer/features/wallets/WalletSelect/model/wallet-select-model.ts
  src/renderer/features/wallets/WalletSelect/ui/WalletButton.tsx
  src/renderer/features/wallets/WalletSelect/ui/WalletGroup.tsx
  src/renderer/features/wallets/WalletSelect/ui/WalletPanel.tsx
  src/renderer/features/wallets/WalletSelect/ui/WalletSelect.tsx
  src/renderer/features/wallets/WalletSelect/ui/WalletStatus.tsx
  src/renderer/pages/Staking/Operations/common/utils.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/NominatorsList.tsx
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/wallet.ts
  src/renderer/shared/lib/utils/address.ts
  src/renderer/shared/lib/utils/assets.ts
  src/renderer/shared/lib/utils/balance.ts
  src/renderer/shared/lib/utils/chains.ts
  src/renderer/shared/ui/ExplorerLink/ExplorerLink.tsx
  src/renderer/shared/ui/ExplorerLink/constants.ts
  src/renderer/shared/ui/index.ts
  src/renderer/widgets/ReceiveAssetModal/ui/ReceiveAssetModal.tsx
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
  src/renderer/widgets/WalletDetails/model/wc-details-model.ts
  src/renderer/widgets/WalletDetails/ui/MultishardWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletDetailsProvider.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: remove unnecessary balance subscribe
  src/renderer/app/providers/context/NetworkContext/NetworkContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: cleanup staking confirmation screen
  src/renderer/assets/images/mst/change-validators-mst.svg
  src/renderer/assets/images/mst/redeem-mst.svg
  src/renderer/assets/images/mst/return-to-stake-mst.svg
  src/renderer/assets/images/mst/rewards-destination-mst.svg
  src/renderer/assets/images/mst/stake-more-mst.svg
  src/renderer/assets/images/mst/unstake-mst.svg
  src/renderer/entities/staking/ui/ValidatorsTable/ValidatorsTable.tsx
  src/renderer/pages/Operations/common/utils.ts
  src/renderer/pages/Operations/components/ActionSteps/Confirmation.tsx
  src/renderer/pages/Operations/components/TransactionTitle/TransactionTitle.tsx
  src/renderer/pages/Staking/Operations/Bond/Bond.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/pages/Staking/Operations/Restake/Restake.tsx
  src/renderer/pages/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/pages/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/pages/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/renderer/pages/Staking/Operations/components/Modals/SelectedValidatorsModal/SelectedValidatorsModal.tsx
  src/renderer/pages/Staking/Operations/components/OperationForm/OperationForm.tsx
  src/renderer/shared/lib/utils/transaction.ts
  src/renderer/shared/ui/Icon/data/mst.tsx
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: balance subscription
  src/renderer/app/providers/context/NetworkContext/NetworkContext.tsx
  src/renderer/features/operation/init/index.ts
  src/renderer/features/operation/init/model/errors.ts
  src/renderer/features/operation/init/model/index.ts
  src/renderer/features/operation/init/ui/__tests__/OperationHeader.test.tsx
  src/renderer/pages/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/pages/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/services/subscription/subscriptionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: rollback empty lines
  package.json
  src/renderer/shared/api/storage/service/balanceStorage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

add component
  src/renderer/pages/Staking/Operations/Bond/Bond.tsx
  src/renderer/pages/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/pages/Staking/Operations/Restake/Restake.tsx
  src/renderer/pages/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/pages/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/pages/Staking/Operations/components/StakingPopover/StakingPopover.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

remove typo
  src/renderer/pages/Staking/Operations/Bond/Bond.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/shared/locale/*.json
