Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

fix: remove test params
  .github/workflows/release.yaml
Due: none

fix: trigger and name
  .github/workflows/create_new_tag.yml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: restore temp deleting
  .github/workflows/lint_and_test.yaml
  .github/workflows/localisation_test.yaml
Due: none

feat: update test, graphql context
  src/renderer/App.tsx
  src/renderer/components/common/SplashScreen/SplashScreen.tsx
  src/renderer/context/GraphqlContext/GraphqlContext.tsx
  src/renderer/context/NetworkContext/NetworkContext.test.tsx
  src/renderer/domain/chain.ts
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/services/account/__tests__/accountService.test.ts
  src/renderer/services/account/accountService.ts
  src/renderer/services/network/__tests__/chainsService.test.ts
  src/renderer/services/network/chainsService.ts
  src/renderer/services/network/common/types.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: update test, packages version to remove vulnerability
  package.json
  pnpm-lock.yaml
  src/renderer/context/GraphqlContext/GraphqlContext.test.tsx
  src/renderer/context/NetworkContext/NetworkContext.test.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr review
  src/renderer/components/common/SplashScreen/SplashScreen.tsx
  src/renderer/services/staking/stakingRewardsService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: minimum nominator bond
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/stakingDataService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: update
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/stakingDataService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: update v2
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

Feat: Get min nominator bond (#148)
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/stakingDataService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Feat: Get min nominator bond
  src/renderer/services/staking/common/types.ts
  src/renderer/services/staking/stakingDataService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: add multishard wallet
  src/renderer/screens/Onboarding/Parity/Parity.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.test.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
  src/renderer/screens/Onboarding/Parity/StepThreeSingle/StepThreeSingle.tsx
  src/renderer/screens/Onboarding/WatchOnly/WatchOnly.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

CU-2v0wq2g. CI/CD improvements (#145)
  .github/add_cert_in_keychain.sh
  .github/workflows/create_new_tag.yml
  .github/workflows/make-pull-request/action.yaml
  .github/workflows/release.yaml
  electron-builder.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

CU-2v0wq2g. CI/CD improvements
  .github/add_cert_in_keychain.sh
  .github/workflows/create_new_tag.yml
  .github/workflows/make-pull-request/action.yaml
  .github/workflows/release.yaml
  electron-builder.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix tests
  src/renderer/screens/Onboarding/Parity/Parity.test.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
  src/renderer/screens/Onboarding/Parity/StepThreeSingle/StepThreeSingle.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: add multishard wallet (#149)
  src/renderer/screens/Onboarding/Parity/Parity.test.tsx
  src/renderer/screens/Onboarding/Parity/Parity.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.test.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
  src/renderer/screens/Onboarding/Parity/StepThreeSingle/StepThreeSingle.tsx
  src/renderer/screens/Onboarding/WatchOnly/WatchOnly.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: pr flow to satisfy linter
  .github/workflows/create_new_tag.yml
  .github/workflows/make-pull-request/action.yaml
  .github/workflows/update_chains_file.yaml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: pr flow to satisfy linter (#150)
  .github/workflows/create_new_tag.yml
  .github/workflows/make-pull-request/action.yaml
  .github/workflows/update_chains_file.yaml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: update token names
  scripts/assetsNameMap.json
  src/renderer/services/network/common/chains/omni-chains.json
  src/renderer/services/network/common/chains/omni-chains_dev.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: adding update dev chains file
  package.json
  scripts/buildChainsJson.js
  scripts/updateDevChains.js
  src/renderer/services/network/common/chains/chains.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: decrease algorithm complexity
  scripts/updateDevChains.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: staking list
  electron-builder.js
  pnpm-lock.yaml
  src/renderer/components/common/Badge/Badge.stories.tsx
  src/renderer/components/common/Badge/Badge.test.tsx
  src/renderer/components/common/Badge/Badge.tsx
  src/renderer/components/common/Badge/common/types.ts
  src/renderer/components/common/index.ts
  src/renderer/components/ui/Dropdowns/Dropdown/Dropdown.tsx
  src/renderer/components/ui/Identicon/Identicon.tsx
  src/renderer/components/ui/Popover/Popover.tsx
  src/renderer/components/ui/Shimmering/Shimmering.css
  src/renderer/components/ui/Shimmering/Shimmering.tsx
  src/renderer/screens/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.tsx
  src/renderer/screens/Staking/Overview/components/List/common/types.ts
  src/renderer/screens/Staking/Overview/components/StakingList/StakingList.test.tsx
  src/renderer/screens/Staking/Overview/components/StakingList/StakingList.tsx
  src/renderer/screens/Staking/Overview/components/TotalAmount/TotalAmount.tsx
  src/renderer/screens/Staking/Overview/components/index.ts
  src/renderer/services/balance/common/utils.ts
  src/renderer/services/staking/stakingRewardsService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Added entitlements for camera
  electron-builder.js
  entitlements.mac.plist
  package.json
  pnpm-lock.yaml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: multishard wallet list
  src/renderer/components/common/Explorers/Explorers.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/types.ts
  src/renderer/components/layout/PrimaryLayout/Wallets/useWalletStructure.ts
  src/renderer/components/ui/Address/Address.tsx
  src/renderer/components/ui/Checkbox/Checkbox.tsx
  src/renderer/components/ui/Expandable/Expandable.tsx
  src/renderer/components/ui/index.ts
  src/renderer/index.css
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.css
  src/renderer/services/storage/storage.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: query for wallets
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/useWalletStructure.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: review updates
  src/renderer/components/ui/Shimmering/Shimmering.tsx
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.tsx
  src/renderer/screens/Onboarding/Parity/ScanMoreModal/ScanMoreModal.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
  src/renderer/screens/Settings/Networks/ConnectionSelector/Selector/Selector.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.tsx
  src/renderer/services/matrix/matrix.ts
  src/renderer/services/network/networkService.ts
  src/renderer/services/staking/stakingDataService.ts
  src/renderer/services/staking/stakingRewardsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/components/common/Expandable/Expandable.tsx
  src/renderer/components/common/index.ts
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/useWalletStructure.ts
  src/renderer/components/ui/Address/Address.tsx
  src/renderer/components/ui/Dropdowns/Dropdown/Dropdown.stories.tsx
  src/renderer/components/ui/Dropdowns/Select/Select.stories.tsx
  src/renderer/components/ui/Identicon/Identicon.tsx
  src/renderer/components/ui/index.ts
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Staking list (#153)
  electron-builder.js
  pnpm-lock.yaml
  src/renderer/components/common/Badge/Badge.stories.tsx
  src/renderer/components/common/Badge/Badge.test.tsx
  src/renderer/components/common/Badge/Badge.tsx
  src/renderer/components/common/Badge/common/types.ts
  src/renderer/components/common/index.ts
  src/renderer/components/ui/Dropdowns/Dropdown/Dropdown.tsx
  src/renderer/components/ui/Identicon/Identicon.tsx
  src/renderer/components/ui/Popover/Popover.tsx
  src/renderer/components/ui/Shimmering/Shimmering.css
  src/renderer/components/ui/Shimmering/Shimmering.tsx
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.tsx
  src/renderer/screens/Onboarding/Parity/ScanMoreModal/ScanMoreModal.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
  src/renderer/screens/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/screens/Settings/Networks/ConnectionSelector/Selector/Selector.tsx
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingList/StakingList.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.test.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.tsx
  src/renderer/screens/Staking/Overview/components/List/common/types.ts
  src/renderer/screens/Staking/Overview/components/StakingList/StakingList.test.tsx
  src/renderer/screens/Staking/Overview/components/StakingList/StakingList.tsx
  src/renderer/screens/Staking/Overview/components/TotalAmount/TotalAmount.tsx
  src/renderer/screens/Staking/Overview/components/index.ts
  src/renderer/services/balance/common/utils.ts
  src/renderer/services/matrix/matrix.ts
  src/renderer/services/network/networkService.ts
  src/renderer/services/staking/stakingDataService.ts
  src/renderer/services/staking/stakingRewardsService.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: multishard wallet list (#154)
  src/renderer/components/common/Expandable/Expandable.tsx
  src/renderer/components/common/Explorers/Explorers.tsx
  src/renderer/components/common/index.ts
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/types.ts
  src/renderer/components/layout/PrimaryLayout/Wallets/useWalletStructure.ts
  src/renderer/components/ui/Address/Address.tsx
  src/renderer/components/ui/Checkbox/Checkbox.tsx
  src/renderer/components/ui/Dropdowns/Dropdown/Dropdown.stories.tsx
  src/renderer/components/ui/Dropdowns/Select/Select.stories.tsx
  src/renderer/components/ui/Identicon/Identicon.tsx
  src/renderer/index.css
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.css
  src/renderer/screens/Staking/Bond/Validators/Validators.tsx
  src/renderer/services/storage/storage.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: scan qr code
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: wallet list amount fix: wallet list search
  src/renderer/components/common/Expandable/Expandable.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/types.ts
  src/renderer/components/layout/PrimaryLayout/Wallets/useWalletStructure.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: empty states
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/InactiveChain.test.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/InactiveChain.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/NoAccounts.test.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/NoAccounts.tsx
  src/renderer/screens/Staking/Overview/components/index.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: empty states (#156)
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/InactiveChain.test.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/InactiveChain.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/NoAccounts.test.tsx
  src/renderer/screens/Staking/Overview/components/EmptyState/NoAccounts.tsx
  src/renderer/screens/Staking/Overview/components/index.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: wallets list fixes (#155)
  src/renderer/components/common/Expandable/Expandable.tsx
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/types.ts
  src/renderer/components/layout/PrimaryLayout/Wallets/useWalletStructure.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: filter component
  src/renderer/assets/images/aesthetics/sort.svg
  src/renderer/components/common/Explorers/Explorers.tsx
  src/renderer/components/ui/Dropdowns/Dropdown/Dropdown.stories.tsx
  src/renderer/components/ui/Dropdowns/Dropdown/Dropdown.test.tsx
  src/renderer/components/ui/Dropdowns/Filter/Filter.stories.tsx
  src/renderer/components/ui/Dropdowns/Filter/Filter.test.tsx
  src/renderer/components/ui/Dropdowns/Filter/Filter.tsx
  src/renderer/components/ui/Dropdowns/Select/Select.stories.tsx
  src/renderer/components/ui/Dropdowns/Select/Select.test.tsx
  src/renderer/components/ui/Icon/data/aesthetics.tsx
  src/renderer/components/ui/RadioGroup/RadioGroup.tsx
  src/renderer/components/ui/Switch/Switch.stories.tsx
  src/renderer/components/ui/Switch/Switch.test.tsx
  src/renderer/components/ui/Switch/Switch.tsx
  src/renderer/components/ui/index.ts
  src/renderer/screens/Balances/Balances/Balances.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: filter tests
  src/renderer/components/common/Expandable/Expandable.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/Wallets.tsx
  src/renderer/components/ui/Dropdowns/Filter/Filter.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: filter styles, explorers, removed badge
  src/renderer/assets/images/aesthetics/shimmering.svg
  src/renderer/assets/images/functionals/options.svg
  src/renderer/components/common/AccountsList/AccountsList.test.tsx
  src/renderer/components/common/Explorers/Explorers.tsx
  src/renderer/components/ui/Dropdowns/Filter/Filter.stories.tsx
  src/renderer/components/ui/Dropdowns/Filter/Filter.tsx
  src/renderer/components/ui/Icon/data/functionals.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
  src/renderer/screens/Staking/Overview/components/List/StakingListItem/StakingListItem.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix
