Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Martix management redesign
  src/renderer/assets/images/aesthetics/loader.svg
  src/renderer/assets/images/functionals/question.svg
  src/renderer/assets/images/functionals/updload-file.svg
  src/renderer/assets/images/social/matrix-full.svg
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/components/modals/MatrixModal/Matrix.test.tsx
  src/renderer/components/modals/MatrixModal/MatrixModal.tsx
  src/renderer/components/modals/MatrixModal/components/Credentials/Credentials.test.tsx
  src/renderer/components/modals/MatrixModal/components/Credentials/Credentials.tsx
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.test.tsx
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.tsx
  src/renderer/components/modals/MatrixModal/components/MatrixInfoPopover/MatrixInfoPopover.test.tsx
  src/renderer/components/modals/MatrixModal/components/MatrixInfoPopover/MatrixInfoPopover.tsx
  src/renderer/components/modals/MatrixModal/components/Verification/Verification.test.tsx
  src/renderer/components/modals/MatrixModal/components/Verification/Verification.tsx
  src/renderer/components/ui-redesign/Inputs/InputFile/InputFile.stories.tsx
  src/renderer/components/ui-redesign/Inputs/InputFile/InputFile.test.tsx
  src/renderer/components/ui-redesign/Inputs/InputFile/InputFile.tsx
  src/renderer/components/ui-redesign/Popovers/Popover/Popover.test.tsx
  src/renderer/components/ui-redesign/Popovers/Popover/Popover.tsx
  src/renderer/components/ui-redesign/Tabs/Tabs.tsx
  src/renderer/components/ui-redesign/index.ts
  src/renderer/components/ui/Icon/data/functionals.tsx
  src/renderer/components/ui/Icon/data/social.tsx
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Settings/Matrix/Credentials/Credentials.tsx
  src/renderer/screens/Settings/Matrix/InfoSection/InfoSection.test.tsx
  src/renderer/screens/Settings/Matrix/InfoSection/InfoSection.tsx
  src/renderer/screens/Settings/Matrix/LoginForm/LoginForm.tsx
  src/renderer/screens/Settings/Matrix/Matrix.tsx
  src/renderer/screens/Settings/Matrix/PrivacyPolicy/PrivacyPolicy.test.tsx
  src/renderer/screens/Settings/Matrix/PrivacyPolicy/PrivacyPolicy.tsx
  src/renderer/screens/Settings/Matrix/Verification/Verification.tsx
  src/renderer/screens/Settings/Overview/components/MatrixAction/MatrixAction.test.tsx
  src/renderer/screens/Settings/Overview/components/MatrixAction/MatrixAction.tsx
  src/renderer/screens/Settings/index.ts
  src/renderer/screens/index.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Martix management redesign (#785)
  src/renderer/assets/images/aesthetics/loader.svg
  src/renderer/assets/images/functionals/question.svg
  src/renderer/assets/images/functionals/updload-file.svg
  src/renderer/assets/images/social/matrix-full.svg
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/components/modals/MatrixModal/Matrix.test.tsx
  src/renderer/components/modals/MatrixModal/MatrixModal.tsx
  src/renderer/components/modals/MatrixModal/components/Credentials/Credentials.test.tsx
  src/renderer/components/modals/MatrixModal/components/Credentials/Credentials.tsx
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.test.tsx
  src/renderer/components/modals/MatrixModal/components/LoginForm/LoginForm.tsx
  src/renderer/components/modals/MatrixModal/components/MatrixInfoPopover/MatrixInfoPopover.test.tsx
  src/renderer/components/modals/MatrixModal/components/MatrixInfoPopover/MatrixInfoPopover.tsx
  src/renderer/components/modals/MatrixModal/components/Verification/Verification.test.tsx
  src/renderer/components/modals/MatrixModal/components/Verification/Verification.tsx
  src/renderer/components/ui-redesign/Inputs/InputFile/InputFile.stories.tsx
  src/renderer/components/ui-redesign/Inputs/InputFile/InputFile.test.tsx
  src/renderer/components/ui-redesign/Inputs/InputFile/InputFile.tsx
  src/renderer/components/ui-redesign/Popovers/Popover/Popover.test.tsx
  src/renderer/components/ui-redesign/Popovers/Popover/Popover.tsx
  src/renderer/components/ui-redesign/Tabs/Tabs.tsx
  src/renderer/components/ui-redesign/index.ts
  src/renderer/components/ui/Icon/data/functionals.tsx
  src/renderer/components/ui/Icon/data/social.tsx
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/Settings/Matrix/Credentials/Credentials.tsx
  src/renderer/screens/Settings/Matrix/InfoSection/InfoSection.test.tsx
  src/renderer/screens/Settings/Matrix/InfoSection/InfoSection.tsx
  src/renderer/screens/Settings/Matrix/LoginForm/LoginForm.tsx
  src/renderer/screens/Settings/Matrix/Matrix.tsx
  src/renderer/screens/Settings/Matrix/PrivacyPolicy/PrivacyPolicy.test.tsx
  src/renderer/screens/Settings/Matrix/PrivacyPolicy/PrivacyPolicy.tsx
  src/renderer/screens/Settings/Matrix/Verification/Verification.tsx
  src/renderer/screens/Settings/Overview/components/MatrixAction/MatrixAction.test.tsx
  src/renderer/screens/Settings/Overview/components/MatrixAction/MatrixAction.tsx
  src/renderer/screens/Settings/index.ts
  src/renderer/screens/index.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: handle getStoredCrossSigningForUser when matrix crypto is about to start
  src/renderer/services/matrix/matrix.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: handle getStoredCrossSigningForUser when matrix crypto is about to start (#788)
  src/renderer/services/matrix/matrix.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: texts for contacts list
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix: texts for contacts list (#791)
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix: subscribe signatories balances
  src/renderer/context/NetworkContext/NetworkContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: use address in notifications
  src/renderer/screens/Notifications/components/NotificationRow.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: balance for signatories and accounts on transfer
  src/renderer/screens/Transfer/common/utils.tsx
  src/renderer/screens/Transfer/components/ActionSteps/InitOperation.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: scroll to view
  src/renderer/screens/Settings/Networks/components/NetworkSelector/NetworkSelector.test.tsx
  src/renderer/screens/Settings/Networks/components/NetworkSelector/NetworkSelector.tsx
  src/renderer/shared/hooks/__tests__/useClickOutside.test.ts
  src/renderer/shared/hooks/__tests__/useCountdown.test.ts
  src/renderer/shared/hooks/__tests__/useToggle.test.ts
  src/renderer/shared/hooks/index.ts
  src/renderer/shared/hooks/useClickOutside.ts
  src/renderer/shared/hooks/useCountdown.ts
  src/renderer/shared/hooks/useDebounce.ts
  src/renderer/shared/hooks/usePrevious.ts
  src/renderer/shared/hooks/useScrollTo.ts
  src/renderer/shared/hooks/useToggle.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: change controller checking
  src/renderer/services/transaction/common/constants.ts
  src/renderer/services/transaction/common/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: correctly decode old calldata
  src/renderer/services/transaction/common/constants.ts
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: fixed search reset
  src/renderer/components/layout/PrimaryLayout/Wallets/common/useGroupedWallets.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: parity account search fix
  src/renderer/components/layout/PrimaryLayout/Wallets/common/useGroupedWallets.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix args amount const
  src/renderer/services/transaction/common/constants.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: support bond without controller
  src/renderer/services/transaction/common/constants.ts
  src/renderer/services/transaction/common/utils.ts
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: support bond without controller (#793)
  src/renderer/services/transaction/common/constants.ts
  src/renderer/services/transaction/common/utils.ts
  src/renderer/services/transaction/transactionService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: fixed wallet search
  src/renderer/components/layout/PrimaryLayout/Wallets/common/useGroupedWallets.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: fixed wallet search (#795)
  src/renderer/components/layout/PrimaryLayout/Wallets/common/useGroupedWallets.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: scroll to view (#794)
  src/renderer/screens/Settings/Networks/components/NetworkSelector/NetworkSelector.test.tsx
  src/renderer/screens/Settings/Networks/components/NetworkSelector/NetworkSelector.tsx
  src/renderer/shared/hooks/__tests__/useClickOutside.test.ts
  src/renderer/shared/hooks/__tests__/useCountdown.test.ts
  src/renderer/shared/hooks/__tests__/useToggle.test.ts
  src/renderer/shared/hooks/index.ts
  src/renderer/shared/hooks/useClickOutside.ts
  src/renderer/shared/hooks/useCountdown.ts
  src/renderer/shared/hooks/useDebounce.ts
  src/renderer/shared/hooks/usePrevious.ts
  src/renderer/shared/hooks/useScrollTo.ts
  src/renderer/shared/hooks/useToggle.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: add new svg logo
  src/renderer/App.tsx
  src/renderer/assets/images/misc/logo.svg
  src/renderer/components/common/SplashScreen/SplashScreen.tsx
  src/renderer/index.html
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: remove png logo
  NovaSpektr_GitHub.png
  README.md
Due: none

feat: update logo to Nova Spektr (#774)
  README.md
  src/main/resources/icons/icns.icns
  src/main/resources/icons/icon.ico
  src/main/resources/icons/icon.png
  src/renderer/App.tsx
  src/renderer/assets/images/misc/logo.svg
  src/renderer/components/common/SplashScreen/SplashScreen.tsx
  src/renderer/index.html
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: update logo to Nova Spektr
  README.md
  src/main/resources/icons/icns.icns
  src/main/resources/icons/icon.ico
  src/main/resources/icons/icon.png
  src/renderer/App.tsx
  src/renderer/assets/images/misc/logo.svg
  src/renderer/components/common/SplashScreen/SplashScreen.tsx
  src/renderer/index.html
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: subscribe signatories balances
  src/renderer/context/NetworkContext/NetworkContext.tsx
  src/renderer/screens/Transfer/common/utils.tsx
  src/renderer/screens/Transfer/components/ActionSteps/InitOperation.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
  src/renderer/services/network/networkService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: subscribe signatories balances (#798)
  src/renderer/context/NetworkContext/NetworkContext.tsx
  src/renderer/screens/Transfer/common/utils.tsx
  src/renderer/screens/Transfer/components/ActionSteps/InitOperation.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
  src/renderer/services/network/networkService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: shard select modal and balance update on wallet switch
  src/renderer/components/common/AddressWithExplorers/AddressWithExplorers.tsx
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Balances/SelectShardModal/SelectShardModal.tsx
  src/renderer/services/balance/balanceService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: image for onboarding
  src/renderer/assets/images/misc/bg.webp
  src/renderer/assets/images/misc/logo-title.svg
  src/renderer/components/ui/Icon/data/misc.tsx
  src/renderer/index.css
  src/renderer/screens/Onboarding/Welcome/Welcome.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: staking fixes
  src/renderer/assets/images/misc/logo.svg
  src/renderer/assets/images/staking/change-validators.svg
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/components/modals/MatrixModal/MatrixModal.tsx
  src/renderer/index.tsx
  src/renderer/routes/index.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.test.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/CgangeValidators.test.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.test.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.test.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/components/Modals/AccountsModal/AccountsModal.tsx
  src/renderer/screens/Staking/Operations/components/Modals/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/screens/Staking/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/Actions/Actions.test.tsx
  src/renderer/screens/Staking/Overview/components/Actions/Actions.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsList/NominatorsList.test.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsList/NominatorsList.tsx
  src/renderer/screens/Staking/Overview/components/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/screens/Staking/index.ts
  src/renderer/screens/index.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: changed useLiveQuery deps
  src/renderer/services/balance/balanceService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: changed balance query deps to json stringify
  src/renderer/services/balance/balanceService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: changed balance query deps again
  src/renderer/services/balance/balanceService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: alert fixes
  src/renderer/components/ui-redesign/Alert/Alert.tsx
  src/renderer/components/ui-redesign/Buttons/IconButton/IconButton.css
  src/renderer/components/ui-redesign/Buttons/IconButton/IconButton.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: changed balances page effect deps
  src/renderer/screens/Balances/Balances/Balances.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: changed balances page deps again
  src/renderer/screens/Balances/Balances/Balances.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/shared/locale/*.json
