Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: connected dd features together
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/wallets/DerivationsAddressModal/lib/utils.ts
  src/renderer/features/wallets/DerivationsAddressModal/ui/DerivationsAddressModal.tsx
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/ManageDynamicDerivations.tsx
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/model/manage-dynamic-derivations-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: added import keys modal
  package.json
  pnpm-lock.yaml
  src/main/main.ts
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/model/import-keys-model.ts
  src/renderer/features/wallets/ImportKeys/ui/ImportKeysModal.tsx
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/ManageDynamicDerivations.tsx
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/model/manage-dynamic-derivations-model.ts
  src/renderer/shared/core/types/account.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fixed typo and import result
  src/main/main.ts
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/lib/types.ts
  src/renderer/features/wallets/ImportKeys/model/import-keys-model.ts
  src/renderer/features/wallets/ImportKeys/ui/ImportKeysModal.tsx
  src/renderer/shared/assets/files/dd-template.yaml
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: validation
  src/renderer/entities/network/lib/__tests__/chainsService.test.ts
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
  src/renderer/features/wallets/KeyConstructor/model/constructor-model.ts
  src/renderer/features/wallets/KeyConstructor/ui/KeyForm.tsx
  src/renderer/features/wallets/KeyConstructor/ui/KeysList.tsx
  src/renderer/pages/Settings/Networks/components/NetworkList/NetworkList.test.tsx
  src/renderer/pages/Settings/Networks/components/NetworkSelector/NetworkSelector.test.tsx
  src/renderer/shared/core/types/chain.ts
  src/renderer/shared/lib/utils/__tests__/derivation.test.ts
  src/renderer/shared/lib/utils/derivation.ts
  src/renderer/shared/lib/utils/index.ts
  src/renderer/shared/ui/InfoLink/InfoLink.stories.tsx
  src/renderer/shared/ui/InfoLink/InfoLink.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: font-smooth and ui
  src/renderer/app/index.css
  src/renderer/components/common/OperationTitle/OperationTitle.tsx
  src/renderer/pages/Staking/Overview/components/Actions/Actions.tsx
  src/renderer/pages/Staking/Overview/components/NetworkInfo/NetworkInfo.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/NominatorsList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Update README.md
  README.md
Due: none

fix: confirm modal
  src/renderer/features/wallets/KeyConstructor/model/constructor-model.ts
  src/renderer/features/wallets/KeyConstructor/ui/KeyConstructor.tsx
  src/renderer/features/wallets/KeyConstructor/ui/WarningModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Font-smooth and ui (#1250)
  README.md
  src/renderer/app/index.css
  src/renderer/components/common/OperationTitle/OperationTitle.tsx
  src/renderer/pages/Staking/Overview/components/Actions/Actions.tsx
  src/renderer/pages/Staking/Overview/components/NetworkInfo/NetworkInfo.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/NominatorsList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Font-smooth and ui
  README.md
  src/renderer/app/index.css
  src/renderer/components/common/OperationTitle/OperationTitle.tsx
  src/renderer/pages/Staking/Overview/components/Actions/Actions.tsx
  src/renderer/pages/Staking/Overview/components/NetworkInfo/NetworkInfo.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/NominatorsList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

add sharded list
  src/renderer/entities/staking/lib/common/types.ts
  src/renderer/entities/staking/lib/stakingDataService.ts
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/entities/wallet/ui/AccountAddress/AccountAddress.tsx
  src/renderer/entities/wallet/ui/AddressWithName/AddressWithName.tsx
  src/renderer/pages/Staking/Overview/Overview.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/NominatorItem/NominatorItem.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/NominatorsList.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/ShardedList/ShardedList.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/stake.ts
  src/renderer/shared/ui/StatusLabel/common/constants.ts
  src/renderer/shared/ui/StatusLabel/common/types.ts
  tailwind.config.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

typo
  src/renderer/pages/Staking/Overview/components/NominatorsList/ShardedList/ShardedList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

lint
  src/renderer/pages/Staking/Overview/components/NominatorsList/ShardedList/ShardedList.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

lint
  .prettierrc
  src/renderer/pages/Staking/Overview/components/NominatorsList/ShardedList/ShardedList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: allow only single account for dd
  src/renderer/pages/Onboarding/Vault/Vault.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

add tooltip
  src/renderer/pages/Staking/Overview/components/NominatorsList/ShardedList/ShardedList.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

cleaning
  src/renderer/pages/Staking/Overview/Overview.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/NominatorsList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr comments fix
  package.json
  pnpm-lock.yaml
  src/renderer/components/common/QrCode/QrGenerator/common/constants.ts
  src/renderer/components/common/QrCode/QrGenerator/common/utils.ts
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/features/wallets/DerivationsAddressModal/lib/utils.ts
  src/renderer/features/wallets/DerivationsAddressModal/ui/DerivationsAddressModal.tsx
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/model/import-keys-model.ts
  src/renderer/features/wallets/ImportKeys/ui/ImportKeysModal.tsx
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/ManageDynamicDerivations.tsx
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/model/manage-dynamic-derivations-model.ts
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/account.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: import modal state reset
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/model/import-keys-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: removed .txt from accepted import file options
  package.json
  src/renderer/features/wallets/ImportKeys/ui/ImportKeysModal.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: linter errors fix
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/wallets/ImportKeys/model/import-keys-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: fixed sharded derivations merge
  package.json
  pnpm-lock.yaml
  src/renderer/features/wallets/ImportKeys/lib/__tests__/import-keys-utils.test.ts
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/lib/mocks/import-keys-utils.mock.ts
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/model/manage-dynamic-derivations-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

add explorers
  src/renderer/pages/Staking/Overview/components/NominatorsList/NominatorsList.tsx
  src/renderer/pages/Staking/Overview/components/NominatorsList/ShardedList/ShardedList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fixed import path
  src/renderer/features/wallets/ImportKeys/lib/__tests__/import-keys-utils.test.ts
  src/renderer/features/wallets/ImportKeys/ui/ImportKeysModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Generate address for dynamic derivations (#1240)
  pnpm-lock.yaml
  src/renderer/components/common/QrCode/QrGenerator/QrDerivationsGenerator.tsx
  src/renderer/components/common/QrCode/QrGenerator/common/constants.ts
  src/renderer/components/common/QrCode/QrGenerator/common/utils.ts
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/components/common/QrCode/common/constants.ts
  src/renderer/components/common/QrCode/common/types.ts
  src/renderer/entities/wallet/lib/types.ts
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/wallets/DerivationsAddressModal/lib/utils.ts
  src/renderer/features/wallets/DerivationsAddressModal/ui/DdKeyQrReader/DdKeyQrReader.tsx
  src/renderer/features/wallets/DerivationsAddressModal/ui/DerivationsAddressModal.tsx
  src/renderer/features/wallets/ImportKeys/lib/__tests__/import-keys-utils.test.ts
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/lib/mocks/import-keys-utils.mock.ts
  src/renderer/features/wallets/ImportKeys/lib/types.ts
  src/renderer/features/wallets/ImportKeys/model/import-keys-model.ts
  src/renderer/features/wallets/ImportKeys/ui/ImportKeysModal.tsx
  src/renderer/features/wallets/index.ts
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/ManageDynamicDerivations.tsx
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/model/manage-dynamic-derivations-model.ts
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/assets/files/dd-template.yaml
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/account.ts
  src/renderer/shared/core/types/wallet.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: simplify singleshard condition
  src/renderer/pages/Onboarding/Vault/Vault.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

change icons
  src/renderer/pages/Staking/Overview/components/NominatorsList/ShardedList/ShardedList.tsx
  src/renderer/shared/assets/images/chevron/dropdown-down.svg
  src/renderer/shared/assets/images/chevron/dropdown-right.svg
  src/renderer/shared/ui/Accordion/Accordion.tsx
  src/renderer/shared/ui/Icon/data/chevron.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: list animation, save keys
  src/renderer/app/App.tsx
  src/renderer/entities/network/lib/chainsService.ts
  src/renderer/entities/network/lib/networkService.ts
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/entities/wallet/lib/useDerivedInfo.tsx
  src/renderer/entities/wallet/ui/DerivedAccount/DerivedAccount.test.tsx
  src/renderer/entities/wallet/ui/DerivedAccount/DerivedAccount.tsx
  src/renderer/entities/wallet/ui/index.ts
  src/renderer/features/navigation/ui/Navigation.tsx
  src/renderer/features/wallets/KeyConstructor/model/constructor-model.ts
  src/renderer/features/wallets/KeyConstructor/ui/KeyConstructor.tsx
  src/renderer/features/wallets/KeyConstructor/ui/KeyForm.tsx
  src/renderer/features/wallets/KeyConstructor/ui/KeysList.tsx
  src/renderer/features/wallets/KeyConstructor/ui/ShardInfoPopover.tsx
  src/renderer/pages/Assets/AssetsList/components/SelectShardModal/SelectShardModal.tsx
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/DerivedAccount.tsx
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/ManageDynamicDerivations.tsx
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/VaultInfoPopover.tsx
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/model/manage-dynamic-derivations-model.ts
  src/renderer/pages/Onboarding/Vault/ManageMultishard/ManageMultishard.tsx
  src/renderer/pages/Onboarding/Vault/ManageSingleshard/ManageSingleshard.tsx
  src/renderer/pages/Onboarding/Vault/Vault.tsx
  src/renderer/pages/Onboarding/WalletConnect/ManageStep/ManageStep.tsx
  src/renderer/pages/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/pages/Staking/Overview/components/NetworkInfo/NetworkInfo.tsx
  src/renderer/shared/ui/Accordion/Accordion.tsx
  src/renderer/widgets/CreateWallet/ui/CreateWalletProvider.tsx
  src/renderer/widgets/WalletDetails/ui/MultishardWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/SimpleWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: allow only single account for dynamic derivations (#1252)
  src/renderer/pages/Onboarding/Vault/Vault.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: added adapter func to map crypto type enum to indexes used by dd request and response
  src/renderer/components/common/QrCode/QrGenerator/common/utils.ts
  src/renderer/features/wallets/DerivationsAddressModal/lib/utils.ts
  src/renderer/features/wallets/DerivationsAddressModal/ui/DerivationsAddressModal.tsx
  src/renderer/pages/Assets/AssetsList/components/SelectShardModal/SelectShardModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: code style improvements
  src/renderer/components/common/QrCode/QrGenerator/common/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

Fix: CryptoType indexes (#1253)
  src/renderer/components/common/QrCode/QrGenerator/common/utils.ts
  src/renderer/features/wallets/DerivationsAddressModal/lib/utils.ts
  src/renderer/features/wallets/DerivationsAddressModal/ui/DerivationsAddressModal.tsx
  src/renderer/pages/Assets/AssetsList/components/SelectShardModal/SelectShardModal.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: tests, i18n
  src/renderer/entities/price/model/__tests__/currency-model.test.ts
  src/renderer/features/wallets/KeyConstructor/lib/utils.ts
  src/renderer/features/wallets/KeyConstructor/model/__tests__/constructor-model.test.ts
  src/renderer/features/wallets/KeyConstructor/model/constructor-model.ts
  src/renderer/features/wallets/KeyConstructor/ui/KeyConstructor.tsx
  src/renderer/features/wallets/KeyConstructor/ui/KeyForm.tsx
  src/renderer/features/wallets/KeyConstructor/ui/KeysList.tsx
  src/renderer/features/wallets/KeyConstructor/ui/ShardInfoPopover.tsx
  src/renderer/features/wallets/KeyConstructor/ui/WarningModal.tsx
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/DerivedAccount.tsx
  src/renderer/pages/Onboarding/Vault/ManageDynamicDerivations/ManageDynamicDerivations.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: reset errors
  src/renderer/features/wallets/KeyConstructor/model/constructor-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix swithc animation and text
  src/renderer/pages/Settings/Overview/components/GeneralActions/GeneralActions.tsx
  src/renderer/shared/ui/Switch/Switch.tsx
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fixed package.json file spacing
  package.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: add on handlers storage in universal provider
  src/renderer/entities/network/lib/provider/UniversalProvider.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: try to fix universal provider
  src/renderer/app/providers/context/NetworkContext/NetworkContext.tsx
  src/renderer/entities/network/lib/networkService.ts
  src/renderer/entities/network/lib/provider/UniversalProvider.ts
  src/renderer/entities/network/model/network-model.ts
  src/renderer/pages/Assets/AssetsList/AssetsList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: add unsubscribe for on handlers fix: add todos for universal provider
  src/renderer/entities/network/lib/provider/UniversalProvider.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: dynamic derivations transaction signing
  src/renderer/components/common/QrCode/QrGenerator/QrTxGenerator.tsx
  src/renderer/components/common/QrCode/QrGenerator/common/constants.ts
  src/renderer/components/common/QrCode/QrGenerator/common/utils.ts
  src/renderer/components/common/Scanning/ScanSingleframeQr.tsx
  src/renderer/features/operation/sign/ui/Signing/Signing.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Path conditions:
  pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged: any of: *.{ts,js,tsx,jsx,json,html,css,yml}
  pnpm lint:i18n-tsx: any of: src/renderer/**/*.tsx
  pnpm lint:i18n-fix: any of: src/renderer/shared/api/translation/locales/*.json
