Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

feat: image for onboarding (#800)
  src/renderer/assets/images/misc/bg.webp
  src/renderer/assets/images/misc/logo-title.svg
  src/renderer/components/ui/Icon/data/misc.tsx
  src/renderer/index.css
  src/renderer/screens/Onboarding/Welcome/Welcome.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: rollback logging
  src/renderer/index.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Shard select modal and balance update on wallet switch fix
  src/renderer/components/common/AddressWithExplorers/AddressWithExplorers.tsx
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Balances/SelectShardModal/SelectShardModal.tsx
  src/renderer/services/balance/balanceService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Shard select modal and balance update on wallet switch fix (#801)
  src/renderer/components/common/AddressWithExplorers/AddressWithExplorers.tsx
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Balances/SelectShardModal/SelectShardModal.tsx
  src/renderer/services/balance/balanceService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Staking bugs (#802)
  src/renderer/assets/images/staking/change-validators.svg
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/components/modals/MatrixModal/MatrixModal.tsx
  src/renderer/components/ui-redesign/Alert/Alert.tsx
  src/renderer/components/ui-redesign/Buttons/IconButton/IconButton.css
  src/renderer/components/ui-redesign/Buttons/IconButton/IconButton.tsx
  src/renderer/routes/index.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.test.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/CgangeValidators.test.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.test.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.test.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/components/Modals/AccountsModal/AccountsModal.tsx
  src/renderer/screens/Staking/Operations/components/Modals/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/screens/Staking/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/Actions/Actions.test.tsx
  src/renderer/screens/Staking/Overview/components/Actions/Actions.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsList/NominatorsList.test.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsList/NominatorsList.tsx
  src/renderer/screens/Staking/Overview/components/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/screens/Staking/index.ts
  src/renderer/screens/index.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Fix: Staking bugs
  src/renderer/assets/images/staking/change-validators.svg
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/modals/CreateMultisigAccount/CreateMultisigAccount.tsx
  src/renderer/components/modals/MatrixModal/MatrixModal.tsx
  src/renderer/components/ui-redesign/Alert/Alert.tsx
  src/renderer/components/ui-redesign/Buttons/IconButton/IconButton.css
  src/renderer/components/ui-redesign/Buttons/IconButton/IconButton.tsx
  src/renderer/routes/index.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.test.tsx
  src/renderer/screens/Staking/Operations/Bond/Bond.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/CgangeValidators.test.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/ChangeValidators.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/InitOperation/InitOperation.test.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.test.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/Redeem.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.test.tsx
  src/renderer/screens/Staking/Operations/Restake/Restake.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.test.tsx
  src/renderer/screens/Staking/Operations/StakeMore/StakeMore.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.test.tsx
  src/renderer/screens/Staking/Operations/Unstake/Unstake.tsx
  src/renderer/screens/Staking/Operations/components/Confirmation/Confirmation.tsx
  src/renderer/screens/Staking/Operations/components/Modals/AccountsModal/AccountsModal.tsx
  src/renderer/screens/Staking/Operations/components/Modals/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/screens/Staking/Operations/components/Submit/Submit.tsx
  src/renderer/screens/Staking/Overview/Overview.test.tsx
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/screens/Staking/Overview/components/Actions/Actions.test.tsx
  src/renderer/screens/Staking/Overview/components/Actions/Actions.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsList/NominatorsList.test.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsList/NominatorsList.tsx
  src/renderer/screens/Staking/Overview/components/ValidatorsModal/ValidatorsModal.tsx
  src/renderer/screens/Staking/index.ts
  src/renderer/screens/index.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: validators fetch and iteration
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/services/staking/validatorsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: correct count for raptroq frames
  src/renderer/components/common/QrCode/QrReader/RaptorFrame.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: added error hint for signatory selector if multisig user has no signatories
  src/renderer/screens/Staking/Operations/Bond/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/ChangeValidators/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Destination/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Redeem/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Restake/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/StakeMore/InitOperation/InitOperation.tsx
  src/renderer/screens/Staking/Operations/Unstake/InitOperation/InitOperation.tsx
  src/renderer/screens/Transfer/components/ActionSteps/InitOperation.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: removed multisig account activation when added through matrix
  src/renderer/context/MatrixContext/MatrixContext.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: sync counter for multiframe QR
  src/renderer/components/common/QrCode/QrReader/QrMultiframeSignatureReader.tsx
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: correct count for raptroq frames
  src/renderer/components/common/QrCode/QrReader/QrMultiframeSignatureReader.tsx
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/components/common/QrCode/QrReader/RaptorFrame.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: correct count for raptroq frames (#807)
  src/renderer/components/common/QrCode/QrReader/QrMultiframeSignatureReader.tsx
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/components/common/QrCode/QrReader/RaptorFrame.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: right logo padding
  src/renderer/screens/Onboarding/Welcome/Welcome.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: texts for contact list
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix: texts for contact list (#811)
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

fix: move i18n higher
  src/renderer/App.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: right logo padding (#809)
  src/renderer/screens/Onboarding/Welcome/Welcome.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: move i18n higher (#812)
  src/renderer/App.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: splash screen with animation
  globals.d.ts
  src/renderer/assets/video/splash_screen.mp4
  src/renderer/assets/video/splash_screen.webm
  src/renderer/components/common/SplashScreen/SplashScreen.test.tsx
  src/renderer/components/common/SplashScreen/SplashScreen.tsx
  src/renderer/index.html
  src/renderer/screens/Onboarding/Vault/ScanStep/ScanStep.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Validators fetch (#806)
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/services/staking/validatorsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: Validators fetch
  src/renderer/screens/Staking/Overview/Overview.tsx
  src/renderer/services/staking/validatorsService.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: transfer feedback
  src/renderer/assets/images/explorers/default.svg
  src/renderer/components/common/AddressWithExplorers/AddressWithExplorers.tsx
  src/renderer/components/common/DetailsWithLabel/DetailWithLabel.tsx
  src/renderer/components/common/Fee/Fee.tsx
  src/renderer/components/common/QrCode/QrReader/QrMultiframeSignatureReader.tsx
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/components/common/QrCode/QrReader/QrSignatureReader.tsx
  src/renderer/components/common/Scanning/ScanSingleframeQr.tsx
  src/renderer/components/ui-redesign/Buttons/IconButton/IconButton.tsx
  src/renderer/components/ui-redesign/InfoLink/InfoLink.tsx
  src/renderer/components/ui-redesign/Popovers/InfoPopover/InfoPopover.tsx
  src/renderer/components/ui-redesign/Popovers/MenuPopover/MenuPopover.tsx
  src/renderer/index.css
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.tsx
  src/renderer/screens/Onboarding/Vault/KeyQrReader/KeyQrReader.tsx
  src/renderer/screens/Onboarding/Welcome/Welcome.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Confirmation.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Submit.tsx
  src/renderer/screens/Transfer/components/Details.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
  tailwind.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

feat: splash screen with animation (#813)
  globals.d.ts
  src/renderer/assets/video/splash_screen.mp4
  src/renderer/assets/video/splash_screen.webm
  src/renderer/components/common/SplashScreen/SplashScreen.test.tsx
  src/renderer/components/common/SplashScreen/SplashScreen.tsx
  src/renderer/index.html
  src/renderer/screens/Onboarding/Vault/ScanStep/ScanStep.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix tests
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.test.tsx
  src/renderer/screens/Onboarding/Vault/KeyQrReader/KeyQrReader.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: transfer feedback (#814)
  src/renderer/assets/images/explorers/default.svg
  src/renderer/components/common/AddressWithExplorers/AddressWithExplorers.tsx
  src/renderer/components/common/DetailsWithLabel/DetailWithLabel.tsx
  src/renderer/components/common/Fee/Fee.tsx
  src/renderer/components/common/QrCode/QrReader/QrMultiframeSignatureReader.tsx
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/components/common/QrCode/QrReader/QrSignatureReader.tsx
  src/renderer/components/common/Scanning/ScanSingleframeQr.tsx
  src/renderer/components/ui-redesign/Buttons/IconButton/IconButton.tsx
  src/renderer/components/ui-redesign/InfoLink/InfoLink.tsx
  src/renderer/components/ui-redesign/Popovers/InfoPopover/InfoPopover.tsx
  src/renderer/components/ui-redesign/Popovers/MenuPopover/MenuPopover.tsx
  src/renderer/index.css
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.test.tsx
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.tsx
  src/renderer/screens/Onboarding/Vault/KeyQrReader/KeyQrReader.test.tsx
  src/renderer/screens/Onboarding/Vault/KeyQrReader/KeyQrReader.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Confirmation.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Submit.tsx
  src/renderer/screens/Transfer/components/Details.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
  tailwind.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: transfer feedback
  src/renderer/assets/images/explorers/default.svg
  src/renderer/components/common/AddressWithExplorers/AddressWithExplorers.tsx
  src/renderer/components/common/DetailsWithLabel/DetailWithLabel.tsx
  src/renderer/components/common/Fee/Fee.tsx
  src/renderer/components/common/QrCode/QrReader/QrMultiframeSignatureReader.tsx
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/components/common/QrCode/QrReader/QrSignatureReader.tsx
  src/renderer/components/common/Scanning/ScanSingleframeQr.tsx
  src/renderer/components/ui-redesign/Buttons/IconButton/IconButton.tsx
  src/renderer/components/ui-redesign/InfoLink/InfoLink.tsx
  src/renderer/components/ui-redesign/Popovers/InfoPopover/InfoPopover.tsx
  src/renderer/components/ui-redesign/Popovers/MenuPopover/MenuPopover.tsx
  src/renderer/index.css
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.test.tsx
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.tsx
  src/renderer/screens/Onboarding/Vault/KeyQrReader/KeyQrReader.test.tsx
  src/renderer/screens/Onboarding/Vault/KeyQrReader/KeyQrReader.tsx
  src/renderer/screens/Staking/Operations/Destination/Destination.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Confirmation.tsx
  src/renderer/screens/Transfer/components/ActionSteps/Submit.tsx
  src/renderer/screens/Transfer/components/Details.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
  tailwind.config.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: operations and left menu feedback fixed
  src/renderer/assets/images/aesthetics/warning.svg
  src/renderer/components/common/Header/Header.tsx
  src/renderer/components/layout/PrimaryLayout/NavItem/NavItem.tsx
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletGroup.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/WalletMenu.tsx
  src/renderer/components/layout/PrimaryLayout/Wallets/common/useGroupedWallets.ts
  src/renderer/components/layout/PrimaryLayout/Wallets/common/utils.ts
  src/renderer/components/ui-redesign/Inputs/SearchInput.tsx
  src/renderer/components/ui-redesign/Popovers/Tooltip/Tooltip.stories.tsx
  src/renderer/components/ui-redesign/Popovers/Tooltip/Tooltip.test.tsx
  src/renderer/components/ui-redesign/Popovers/Tooltip/Tooltip.tsx
  src/renderer/components/ui-redesign/Typography/common/types.ts
  src/renderer/components/ui-redesign/Typography/components/CaptionText.tsx
  src/renderer/components/ui-redesign/Typography/components/HeaderTitleText.tsx
  src/renderer/components/ui-redesign/Typography/components/LargeTitleText.tsx
  src/renderer/components/ui-redesign/Typography/components/SmallTitleText.tsx
  src/renderer/components/ui-redesign/Typography/components/TitleText.tsx
  src/renderer/components/ui-redesign/index.ts
  src/renderer/components/ui/Switch/Switch.tsx
  src/renderer/routes/index.tsx
  src/renderer/screens/Balances/AssetBalanceCard/AssetBalanceCard.tsx
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Balances/Balances/BalancesFilters.tsx
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.tsx
  src/renderer/screens/Staking/Overview/components/NominatorsList/NominatorsList.tsx
  src/renderer/theme/default.css
  src/shared/locale/en.json
  src/shared/locale/ru.json
  tw-config-consts/colors.js
  tw-config-consts/font-sizes.js
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: text cleanup for staking operations, threshold, multisig
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationForm.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: make common text for operation description
  src/renderer/screens/Staking/Operations/components/OperationForm/OperationForm.tsx
  src/renderer/screens/Transfer/components/TransferForm.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: make common text for operation description
  src/renderer/screens/Transfer/components/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix outline for input
  src/renderer/components/ui-redesign/Inputs/Input/Input.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: disable camera on close modal window
  src/renderer/components/common/QrCode/QrReader/QrMultiframeSignatureReader.tsx
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/components/common/QrCode/QrReader/QrSignatureReader.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx
