Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/renderer/shared/api/translation/locales/*.json": ["pnpm lint:i18n-fix"]
}

fix: wallet name wrapping for notifications
  src/renderer/features/notifications/NotificationsList/ui/notifies/ProxyCreatedNotification.tsx
  src/renderer/features/notifications/NotificationsList/ui/notifies/ProxyRemovedNotification.tsx
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: truncate long wallet names
  src/renderer/entities/wallet/ui/Cards/WalletCardLg.tsx
  src/renderer/entities/wallet/ui/Cards/WalletCardMd.tsx
  src/renderer/entities/wallet/ui/Cards/WalletCardSm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: truncate long wallet names in proxied details
  src/renderer/widgets/WalletDetails/ui/wallets/ProxiedWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comment
  src/renderer/app/App.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr comments fix
  src/renderer/entities/proxy/lib/constants.ts
  src/renderer/entities/proxy/lib/utils.ts
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.tsx
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/entities/wallet/lib/account-utils.ts
  src/renderer/pages/Assets/Assets/components/AssetsList/AssetsList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: proxy group not created for delegated wallets (#1388)
  src/renderer/entities/proxy/lib/utils.ts
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.tsx
  src/renderer/entities/wallet/model/__tests__/wallet-model.test.ts
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Fix: proxy group not created for delegated wallets
  src/renderer/entities/proxy/lib/utils.ts
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.tsx
  src/renderer/entities/wallet/model/__tests__/wallet-model.test.ts
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: transferKeepAlive instead of allowDeath
  src/renderer/app/index.tsx
  src/renderer/entities/transaction/lib/__tests__/callDataDecoder.test.ts
  src/renderer/entities/transaction/lib/__tests__/transactionIcon.test.ts
  src/renderer/entities/transaction/lib/extrinsicService.ts
  src/renderer/entities/transaction/lib/mock/extrinsicService.mock.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: Update src/renderer/app/index.tsx
  src/renderer/app/index.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: proxyType name fix for remove proxy confirmation screen
  src/renderer/widgets/RemoveProxy/ui/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: moved split camel case code to utils
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.tsx
  src/renderer/shared/lib/utils/strings.ts
  src/renderer/widgets/RemoveProxy/ui/Confirmation.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: change param desc
  src/renderer/shared/lib/utils/strings.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: optimization
  src/renderer/entities/proxy/lib/utils.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: remove bad conflict resolution
  src/renderer/entities/wallet/model/wallet-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: filter accounts chainId for proxy group
  src/renderer/app/index.tsx
  src/renderer/entities/proxy/index.ts
  src/renderer/entities/proxy/lib/__tests__/mocks/proxy-mocks.ts
  src/renderer/entities/proxy/lib/__tests__/proxy-utils.test.ts
  src/renderer/entities/proxy/lib/__tests__/utils.test.ts
  src/renderer/entities/proxy/lib/proxy-utils.ts
  src/renderer/entities/proxy/model/proxy-model.ts
  src/renderer/shared/lib/utils/constants.ts
  src/renderer/widgets/WalletDetails/model/__tests__/wallet-provider.mock.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: proxy model test
  src/renderer/entities/proxy/lib/proxy-utils.ts
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.tsx
  src/renderer/features/proxies/model/__tests__/proxies-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix lints
  src/renderer/entities/proxy/lib/__tests__/utils.test.ts
  src/renderer/entities/wallet/lib/__tests__/wallet-utils.test.ts
  src/renderer/pages/Operations/components/modals/RejectTx.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix tests
  src/renderer/pages/Assets/Assets/components/NetworkAssets/NetworkAssets.test.tsx
  src/renderer/pages/Assets/Assets/components/NetworkAssets/NetworkAssets.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: proxy groups
  src/renderer/entities/proxy/lib/__tests__/utils.test.ts
  src/renderer/widgets/WalletDetails/model/__tests__/vault-details-model.test.ts
  src/renderer/widgets/WalletDetails/model/__tests__/walet-provider-model.test.ts
  src/renderer/widgets/WalletDetails/model/__tests__/wallet-provider.mock.ts
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: update disconnected title
  src/renderer/pages/Settings/Networks/components/NetworkItem/NetworkItem.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: more tests
  src/renderer/widgets/WalletDetails/model/__tests__/wallet-provider-model.test.ts
  src/renderer/widgets/WalletDetails/model/__tests__/wallet-provider.mock.ts
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
  src/renderer/widgets/WalletDetails/ui/components/ProxiesList.tsx
  src/renderer/widgets/WalletDetails/ui/components/WalletDetailsProvider.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: unused param
  src/renderer/widgets/WalletDetails/ui/components/ProxiesList.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultishardWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/ProxiedWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/VaultWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: lodash imports
  src/renderer/entities/balance/model/balance-model.ts
  src/renderer/entities/network/model/network-model.ts
  src/renderer/entities/proxy/lib/proxy-utils.ts
  src/renderer/features/notifications/NotificationsList/model/notification-list-model.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/wallets/ImportKeys/lib/import-keys-utils.ts
  src/renderer/features/wallets/ImportKeys/model/import-keys-model.ts
  src/renderer/features/wallets/ShardSelectorModal/lib/shards-utils.ts
  src/renderer/features/wallets/ShardSelectorModal/model/shards-model.ts
  src/renderer/pages/Assets/Assets/components/NetworkAssets/NetworkAssets.tsx
  src/renderer/pages/Onboarding/Vault/ManageMultishard/ManageMultishard.tsx
  src/renderer/pages/Onboarding/Welcome/Welcome.tsx
  src/renderer/pages/Operations/Operations.tsx
  src/renderer/pages/Operations/components/LogModal.tsx
  src/renderer/pages/Staking/Operations/components/Validators/Validators.tsx
  src/renderer/shared/api/network/service/chainsService.ts
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
  src/renderer/widgets/WalletDetails/ui/components/WalletConnectAccounts.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: notifications sort
  src/renderer/features/notifications/NotificationsList/model/__tests__/notification-list-model.test.ts
  src/renderer/features/notifications/NotificationsList/model/notification-list-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: notifications sort (#1399)
  src/renderer/features/notifications/NotificationsList/model/__tests__/notification-list-model.test.ts
  src/renderer/features/notifications/NotificationsList/model/notification-list-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: remove delegated wallets on wallet forget
  src/renderer/features/wallets/ForgetWallet/model/__tests__/forget-wallet-model.test.ts
  src/renderer/features/wallets/ForgetWallet/model/forget-wallet-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: removed unused mock
  src/renderer/features/wallets/ForgetWallet/model/__tests__/forget-wallet-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: removed unused import
  src/renderer/features/wallets/ForgetWallet/model/__tests__/forget-wallet-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: keep logger
  src/renderer/app/index.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: name wrapping
  src/renderer/entities/wallet/ui/Cards/WalletCardLg.tsx
  src/renderer/entities/wallet/ui/Cards/WalletCardMd.tsx
  src/renderer/entities/wallet/ui/Cards/WalletCardSm.tsx
  src/renderer/features/notifications/NotificationsList/ui/notifies/ProxyCreatedNotification.tsx
  src/renderer/features/notifications/NotificationsList/ui/notifies/ProxyRemovedNotification.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/WalletDetails/ui/wallets/ProxiedWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: name wrapping (#1400)
  src/renderer/entities/wallet/ui/Cards/WalletCardLg.tsx
  src/renderer/entities/wallet/ui/Cards/WalletCardMd.tsx
  src/renderer/entities/wallet/ui/Cards/WalletCardSm.tsx
  src/renderer/features/notifications/NotificationsList/ui/notifies/ProxyCreatedNotification.tsx
  src/renderer/features/notifications/NotificationsList/ui/notifies/ProxyRemovedNotification.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/WalletDetails/ui/wallets/ProxiedWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: don't switch to assets after add proxied (#1394)
  src/renderer/app/App.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: don't switch to assets after add proxied
  src/renderer/app/App.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: rename model file
  src/renderer/entities/network/model/network-model.ts
  src/renderer/pages/Settings/Networks/Networks.tsx
  src/renderer/pages/Settings/Networks/components/CustomRpcModal/CustomRpcModal.test.tsx
  src/renderer/pages/Settings/Networks/components/CustomRpcModal/CustomRpcModal.tsx
  src/renderer/pages/Settings/Networks/model/__tests__/manage-network-model.test.ts
  src/renderer/pages/Settings/Networks/model/manage-network-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx
