Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/renderer/shared/api/translation/locales/*.json": ["pnpm lint:i18n-fix"]
}

feat: update proxy accounts and deposits
  src/renderer/app/index.tsx
  src/renderer/entities/proxy/lib/__tests__/utils.test.ts
  src/renderer/entities/proxy/lib/utils.ts
  src/renderer/entities/proxy/model/__tests__/proxy-model.test.ts
  src/renderer/entities/proxy/model/proxy-model.ts
  src/renderer/features/proxies/lib/__tests__/worker-utils.test.ts
  src/renderer/features/proxies/model/__tests__/proxies-model.test.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/proxies/workers/__tests__/proxy-worker.test.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
  src/renderer/shared/api/storage/lib/types.ts
  src/renderer/shared/api/storage/service/dexie.ts
  src/renderer/shared/api/storage/service/storageService.ts
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/proxy.ts
  src/renderer/shared/ui/Popovers/index.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: not create proxied account with non-zero delay
  src/renderer/features/proxies/lib/__tests__/worker-utils.test.ts
  src/renderer/features/proxies/lib/worker-utils.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: remove workfround
  tests/system/matrix/matrix.auth.system.test.tsx
  tests/system/pages/_elements/LoginPageElements.ts
  tests/system/pages/assetsPage/WatchOnlyPageAssetsPage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: remove workfround (#1372)
  tests/system/matrix/matrix.auth.system.test.tsx
  tests/system/pages/_elements/LoginPageElements.ts
  tests/system/pages/assetsPage/WatchOnlyPageAssetsPage.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fixed pr comments
  src/renderer/entities/proxy/ui/EmptyProxyList.tsx
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.tsx
  src/renderer/entities/proxy/ui/ProxyPopover.tsx
  src/renderer/entities/wallet/ui/MultishardAccountsList/MultishardAccountsList.tsx
  src/renderer/entities/wallet/ui/VaultAccountsList/VaultAccountsList.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/assets/images/functionals/empty-list.svg
  src/renderer/shared/ui/Icon/data/functionals.tsx
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
  src/renderer/widgets/WalletDetails/ui/MultishardWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/ProxiedWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/ProxiesList.tsx
  src/renderer/widgets/WalletDetails/ui/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/VaultWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletDetailsProvider.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: imports fix
  src/renderer/widgets/WalletDetails/ui/ProxiesList.tsx
  src/renderer/widgets/WalletDetails/ui/VaultWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletConnectDetails.tsx
  src/renderer/widgets/WalletDetails/ui/WalletDetailsProvider.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: moved proxy account action to separate components
  src/renderer/widgets/WalletDetails/index.ts
  src/renderer/widgets/WalletDetails/ui/components/ProxiesList.tsx
  src/renderer/widgets/WalletDetails/ui/components/ProxyAccountWithActions.tsx
  src/renderer/widgets/WalletDetails/ui/components/ShardsList.tsx
  src/renderer/widgets/WalletDetails/ui/components/WalletConnectAccounts.tsx
  src/renderer/widgets/WalletDetails/ui/components/WalletDetailsProvider.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultishardWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/ProxiedWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/VaultWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: changed chainServie to networkModel for wallet connect accounts
  src/renderer/widgets/WalletDetails/ui/components/WalletConnectAccounts.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/features/proxies/lib/__tests__/worker-utils.test.ts
  src/renderer/features/proxies/lib/worker-utils.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: avoid create proxieds for watch only
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/proxies/lib/__tests__/proxies-utils.test.ts
  src/renderer/features/proxies/lib/proxies-utils.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/proxies/workers/__tests__/proxy-worker.test.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
  src/renderer/pages/Operations/components/LogModal.tsx
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/proxy.ts
  src/renderer/shared/core/types/wallet.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: add proxy form
  src/renderer/shared/ui/Popovers/index.ts
  src/renderer/widgets/AddProxyModal/index.ts
  src/renderer/widgets/AddProxyModal/lib/add-proxy-utils.ts
  src/renderer/widgets/AddProxyModal/lib/types.ts
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxyModal.tsx
  src/renderer/widgets/AddProxyModal/ui/ConfirmProxy.tsx
  src/renderer/widgets/AddProxyModal/ui/InitProxyForm.tsx
  src/renderer/widgets/AddProxyModal/ui/ProxyPopover.tsx
  src/renderer/widgets/WalletDetails/ui/SimpleWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: separated form fields
  src/renderer/features/contacts/CreateContactForm/ui/CreateContactForm.tsx
  src/renderer/features/contacts/EditContactForm/ui/EditContactForm.tsx
  src/renderer/features/wallets/RenameWallet/ui/RenameWalletModal.tsx
  src/renderer/pages/Staking/Overview/components/NetworkInfo/NetworkInfo.tsx
  src/renderer/shared/ui/Dropdowns/Select/Select.tsx
  src/renderer/shared/ui/Inputs/Input/Input.tsx
  src/renderer/shared/ui/RadioGroup/RadioGroup.tsx
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddProxyModal/ui/InitProxyForm.tsx
  src/renderer/widgets/AddProxyModal/ui/ProxyPopover.tsx
  src/renderer/widgets/CreateWallet/ui/MultisigWallet/components/SelectSignatories.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fixed proxy list after merge
  src/renderer/widgets/WalletDetails/ui/components/ProxiesList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: shorten inputs
  src/renderer/entities/proxy/index.ts
  src/renderer/entities/wallet/ui/VaultAccountsList/VaultAccountsList.tsx
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
  src/renderer/widgets/WalletDetails/ui/components/NoProxiesAction.tsx
  src/renderer/widgets/WalletDetails/ui/components/WalletConnectAccounts.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultishardWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/ProxiedWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/VaultWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: not create proxied account with non-zero delay (#1371)
  src/renderer/features/proxies/lib/__tests__/worker-utils.test.ts
  src/renderer/features/proxies/lib/worker-utils.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: pr comments fix
  src/renderer/entities/wallet/ui/MultishardAccountsList/MultishardAccountsList.tsx
  src/renderer/shared/core/index.ts
  src/renderer/widgets/WalletDetails/ui/wallets/MultishardWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: fix comments
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/proxies/lib/__tests__/proxies-utils.test.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/proxies/workers/__tests__/proxy-worker.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: added test for proxy sort
  src/renderer/entities/proxy/lib/__tests__/utils.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: search proxy for proxied account
  src/renderer/features/proxies/lib/__tests__/proxies-utils.test.ts
  src/renderer/features/proxies/lib/proxies-utils.ts
  src/renderer/features/proxies/model/proxies-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: added tests for wallet-provider-model
  src/renderer/widgets/WalletDetails/model/__tests__/walet-provider-model.test.ts
  src/renderer/widgets/WalletDetails/model/__tests__/wallet-provider.mock.ts
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

feat: fill network & proxy type
  src/renderer/entities/network/lib/common/utils.ts
  src/renderer/features/wallets/KeyConstructor/ui/KeyForm.tsx
  src/renderer/shared/lib/utils/substrate.ts
  src/renderer/widgets/AddProxyModal/model/add-proxy-model.ts
  src/renderer/widgets/AddProxyModal/ui/AddProxyModal.tsx
  src/renderer/widgets/AddProxyModal/ui/InitProxyForm.tsx
  src/renderer/widgets/WalletDetails/ui/MultisigWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: updated tests
  src/renderer/entities/proxy/lib/__tests__/utils.test.ts
  src/renderer/entities/proxy/lib/utils.ts
  src/renderer/widgets/WalletDetails/model/__tests__/walet-provider-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: pr comments fix
  src/renderer/entities/proxy/ui/ProxyPopover.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/widgets/WalletDetails/ui/components/NoProxiesAction.tsx
  src/renderer/widgets/WalletDetails/ui/components/ProxyAccountWithActions.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: sorted locale file
  src/renderer/shared/api/translation/locales/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-fix

chore: updated wallet details heights
  src/renderer/widgets/WalletDetails/ui/components/WalletConnectAccounts.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultishardWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/ProxiedWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/VaultWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

Feat: Proxied wallet details
  src/renderer/entities/proxy/lib/__tests__/utils.test.ts
  src/renderer/entities/proxy/lib/utils.ts
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.tsx
  src/renderer/entities/proxy/ui/ProxyPopover.tsx
  src/renderer/entities/wallet/ui/AccountsList/AccountsList.tsx
  src/renderer/entities/wallet/ui/Cards/WalletCardLg.tsx
  src/renderer/entities/wallet/ui/Cards/WalletCardMd.tsx
  src/renderer/entities/wallet/ui/ExplorersPopover/ExplorersPopover.tsx
  src/renderer/entities/wallet/ui/MultiAccountsList/MultiAccountsList.tsx
  src/renderer/entities/wallet/ui/MultishardAccountsList/MultishardAccountsList.tsx
  src/renderer/entities/wallet/ui/VaultAccountsList/VaultAccountsList.tsx
  src/renderer/features/wallets/WalletSelect/ui/WalletButton.tsx
  src/renderer/pages/Onboarding/Vault/ManageSingleshard/ManageSingleshard.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/assets/images/arrows/curve-left-right.svg
  src/renderer/shared/core/index.ts
  src/renderer/shared/ui/ContextMenu/ContextMenu.tsx
  src/renderer/shared/ui/Icon/data/arrow.tsx
  src/renderer/widgets/WalletDetails/index.ts
  src/renderer/widgets/WalletDetails/model/__tests__/walet-provider-model.test.ts
  src/renderer/widgets/WalletDetails/model/__tests__/wallet-provider.mock.ts
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
  src/renderer/widgets/WalletDetails/ui/components/NoProxiesAction.tsx
  src/renderer/widgets/WalletDetails/ui/components/ProxiesList.tsx
  src/renderer/widgets/WalletDetails/ui/components/ProxyAccountWithActions.tsx
  src/renderer/widgets/WalletDetails/ui/components/ShardsList.tsx
  src/renderer/widgets/WalletDetails/ui/components/WalletConnectAccounts.tsx
  src/renderer/widgets/WalletDetails/ui/components/WalletDetailsProvider.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultishardWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/ProxiedWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/VaultWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

Feat: Proxied wallet details (#1365)
  src/renderer/entities/proxy/lib/__tests__/utils.test.ts
  src/renderer/entities/proxy/lib/utils.ts
  src/renderer/entities/proxy/ui/ProxyAccount/ProxyAccount.tsx
  src/renderer/entities/proxy/ui/ProxyPopover.tsx
  src/renderer/entities/wallet/ui/AccountsList/AccountsList.tsx
  src/renderer/entities/wallet/ui/Cards/WalletCardLg.tsx
  src/renderer/entities/wallet/ui/Cards/WalletCardMd.tsx
  src/renderer/entities/wallet/ui/ExplorersPopover/ExplorersPopover.tsx
  src/renderer/entities/wallet/ui/MultiAccountsList/MultiAccountsList.tsx
  src/renderer/entities/wallet/ui/MultishardAccountsList/MultishardAccountsList.tsx
  src/renderer/entities/wallet/ui/VaultAccountsList/VaultAccountsList.tsx
  src/renderer/features/wallets/WalletSelect/ui/WalletButton.tsx
  src/renderer/pages/Onboarding/Vault/ManageSingleshard/ManageSingleshard.tsx
  src/renderer/shared/api/translation/locales/en.json
  src/renderer/shared/assets/images/arrows/curve-left-right.svg
  src/renderer/shared/core/index.ts
  src/renderer/shared/ui/ContextMenu/ContextMenu.tsx
  src/renderer/shared/ui/Icon/data/arrow.tsx
  src/renderer/widgets/WalletDetails/index.ts
  src/renderer/widgets/WalletDetails/model/__tests__/walet-provider-model.test.ts
  src/renderer/widgets/WalletDetails/model/__tests__/wallet-provider.mock.ts
  src/renderer/widgets/WalletDetails/model/wallet-provider-model.ts
  src/renderer/widgets/WalletDetails/ui/components/NoProxiesAction.tsx
  src/renderer/widgets/WalletDetails/ui/components/ProxiesList.tsx
  src/renderer/widgets/WalletDetails/ui/components/ProxyAccountWithActions.tsx
  src/renderer/widgets/WalletDetails/ui/components/ShardsList.tsx
  src/renderer/widgets/WalletDetails/ui/components/WalletConnectAccounts.tsx
  src/renderer/widgets/WalletDetails/ui/components/WalletDetailsProvider.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultishardWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/MultisigWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/ProxiedWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/SimpleWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/VaultWalletDetails.tsx
  src/renderer/widgets/WalletDetails/ui/wallets/WalletConnectDetails.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: add proxy groups
  src/renderer/features/proxies/model/__tests__/proxies-model.test.ts
  src/renderer/features/proxies/model/proxies-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: remove wallets map
  src/renderer/entities/wallet/model/wallet-model.ts
  src/renderer/features/proxies/model/proxies-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: fix comments
  src/renderer/features/proxies/model/__tests__/proxies-model.test.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: avoid create proxieds for watch only
  src/renderer/features/proxies/lib/__tests__/proxies-utils.test.ts
  src/renderer/features/proxies/lib/proxies-utils.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/proxies/workers/__tests__/proxy-worker.test.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
  src/renderer/pages/Operations/components/LogModal.tsx
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/proxy.ts
  src/renderer/shared/core/types/wallet.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: avoid create proxieds for watch only (#1373)
  src/renderer/features/proxies/lib/__tests__/proxies-utils.test.ts
  src/renderer/features/proxies/lib/proxies-utils.ts
  src/renderer/features/proxies/model/proxies-model.ts
  src/renderer/features/proxies/workers/__tests__/proxy-worker.test.ts
  src/renderer/features/proxies/workers/proxy-worker.ts
  src/renderer/pages/Operations/components/LogModal.tsx
  src/renderer/shared/core/index.ts
  src/renderer/shared/core/types/proxy.ts
  src/renderer/shared/core/types/wallet.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: add proxy groups (#1374)
  src/renderer/features/proxies/model/__tests__/proxies-model.test.ts
  src/renderer/features/proxies/model/proxies-model.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

fix: matrix-login & operation-form
  src/renderer/pages/Staking/Operations/components/OperationForm/OperationForm.tsx
  src/renderer/pages/Staking/Operations/components/OperationForm/operation-form-model.ts
  src/renderer/widgets/AddProxyModal/ui/InitProxyForm.tsx
  src/renderer/widgets/MatrixModal/lib/constants.ts
  src/renderer/widgets/MatrixModal/model/matrix-login-model.ts
  src/renderer/widgets/MatrixModal/ui/LoginForm.tsx
  src/renderer/widgets/MatrixModal/ui/MatrixInfoPopover.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: proxy deposit in proxies list
  src/main/main.ts
  src/renderer/widgets/WalletDetails/ui/components/ProxiesList.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: uncomment logs
  src/main/main.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged
