Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

.lintstagedrc.json:

{
  "*.{ts,js,tsx,jsx,json,html,css,yml}": ["pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged"],
  "src/renderer/**/*.tsx": ["pnpm lint:i18n-tsx"],
  "src/shared/locale/*.json": ["pnpm lint:i18n-fix"]
}

fix: deleted extra files
  src/renderer/screens/Signing/ParitySignerSignatureReader/ParitySignerSignatureReader.tsx
  src/renderer/screens/Signing/ParitySignerSignatureReader/index.css
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: operation result redesign
  src/renderer/components/ui-redesign/OperationResult/OperationResult.tsx
  src/renderer/screens/Operations/components/ActionSteps/Submit.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/screens/Operations/components/modals/RejectTx.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

fix: fee test fix
  src/renderer/components/common/Fee/Fee.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: added text truncate to select and chaged spelling
  src/renderer/components/ui-redesign/Dropdowns/MultiSelect/MultiSelect.tsx
  src/shared/locale/en.json
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx, pnpm lint:i18n-fix

chore: change log path to default and increase log file size up to 5MB
  README.md
  src/main/main.ts
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged

chore: added CHANGELOG.md
  CHANGELOG.md
Due: none

chore: added CHANGELOG.md (#635)
  CHANGELOG.md
Due: none

chore: update shields and table of contents
  README.md
Due: none

chore: Clean up readme (draft)
  README.md
Due: none

chore: added youtube shield and update structure
  README.md
Due: none

Update releases bage
  README.md
Due: none

chore: changelog description
  README.md
Due: none

chore: update readme
  README.md
Due: none

chore: code of conduct and contributing rules
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: none

chore: update license
  README.md
Due: none

chore: update link to code of conduct
  CONTRIBUTING.md
Due: none

feat: added logging (#640)
  README.md
  package.json
  pnpm-lock.yaml
  src/main/main.ts
  src/renderer/index.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

feat: added logging
  README.md
  package.json
  pnpm-lock.yaml
  src/main/main.ts
  src/renderer/index.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: added item about running the application
  CONTRIBUTING.md
Due: none

chore: fixed name
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Chore/contributing rules
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: none

Chore/contributing rules (#644)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: none

fix: transfer for non-native assets
  src/renderer/screens/Transfer/Transfer.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: transfer for non-native assets (#647)
  src/renderer/screens/Transfer/Transfer.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: added links to feedback and support
  README.md
Due: none

chore: update changelog link
  README.md
Due: none

fix: changed behavior on qr expiration
  src/renderer/components/common/QrCode/QrReader/QrSignatureReader.tsx
  src/renderer/screens/Operations/components/ActionSteps/Scanning.tsx
  src/renderer/screens/Operations/components/ActionSteps/Signing.tsx
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/screens/Operations/components/modals/RejectTx.tsx
  src/renderer/screens/Signing/ParitySignerSignatureReader/ParitySignerSignatureReader.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: pr comments fix
  src/renderer/screens/Operations/common/utils.ts
  src/renderer/screens/Operations/components/modals/ApproveTx.tsx
  src/renderer/screens/Operations/components/modals/RejectTx.tsx
  src/renderer/screens/Transfer/components/TransferForm/TransferForm.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

fix: test fix
  src/renderer/components/ui-redesign/Buttons/Button/Button.stories.tsx
  src/renderer/screens/Operations/Operations.test.tsx
Due: pretty-quick --pattern '**/*.*(js|tx|jsx|tsx|json|html|css|yml)' --staged, pnpm lint:i18n-tsx

chore: added debug mode
  README.md
Due: none
